DECLARE @TERMINO DATETIME
DECLARE @INICIO DATETIME
DECLARE @PASOS DATETIME
SET @INICIO=GETDATE()
SET @PASOS=@INICIO
--+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
SET @TERMINO= GETDATE()
INSERT INTO MOVILIDAD_CONTROL_DE_EJECUCION VALUES ('SP_SEGUIMIENTO','INICIO',@TERMINO,DATEDIFF(MINUTE,@PASOS,@TERMINO)/60,DATEDIFF(MINUTE,@PASOS,@TERMINO)%60)
SET @PASOS= GETDATE()
--+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

SELECT 
TIPO,
IND_RENOVACION,
TIPO_EQUIPO,
POLIZA,
CASE WHEN TIPO_EQUIPO		='CA'				THEN	'CANAL ASESOR'	ELSE 
CASE WHEN SUCURSAL_CA		LIKE('%FRANQU%')	THEN	'FRANQUICIA'	ELSE 
CASE WHEN RUT_INTERMEDIARIO	=99017000			THEN	'DIRECTO'		ELSE 
														'PYME'			END END END AS CANAL,
SUCURSAL,
ZONA,
PERIODO_FECHA,
LLAVE_POLIZA,
FILTRO_SOLUCION
INTO #BASE_PBI_RESUMEN
FROM BASE_PBI
WHERE TIPO<>'COT'
GROUP BY 
TIPO,
IND_RENOVACION,
TIPO_EQUIPO,
POLIZA,
CASE WHEN TIPO_EQUIPO		='CA'				THEN	'CANAL ASESOR'	ELSE 
CASE WHEN SUCURSAL_CA		LIKE('%FRANQU%')	THEN	'FRANQUICIA'	ELSE 
CASE WHEN RUT_INTERMEDIARIO	=99017000			THEN	'DIRECTO'		ELSE 
														'PYME'			END END END,
SUCURSAL,
ZONA,
PERIODO_FECHA,
LLAVE_POLIZA,
FILTRO_SOLUCION



TRUNCATE TABLE  SEGUIMIENTO_INFORME 
INSERT INTO SEGUIMIENTO_INFORME
SELECT 
B.TIPO,
CASE WHEN B.IND_RENOVACION=1 THEN 'RENOVADO' ELSE 'NUEVO' END					AS NUEVO_RENOVADO,
B.CANAL																			AS CANAL,
B.SUCURSAL																		AS SUCURSAL,
B.ZONA																			AS ZONA,
A.RAMO_KEIRA																	AS RAMO_CONTABLE,
B.PERIODO_FECHA																	AS PERIODO,
0																				AS PRIMA_PESO,
SUM(A.PRIMA_ORIGINAL_CLF)														AS PRIMA_UF,	
0																				AS VALOR_UF,
SUM(A.CANTIDAD_POLIZAS)															AS CANTIDAD_POLIZAS,
B.FILTRO_SOLUCION																AS SOLUCION
FROM BASE_PBI A LEFT JOIN #BASE_PBI_RESUMEN B ON
A.LLAVE_POLIZA=B.LLAVE_POLIZA 
WHERE B.PERIODO_FECHA >='2019-01-01'AND FILTRO_RIESGO<>'VIDA'
GROUP BY 
B.TIPO,
CASE WHEN B.IND_RENOVACION=1 THEN 'RENOVADO' ELSE 'NUEVO' END,
B.CANAL,
B.SUCURSAL,
B.ZONA,
A.RAMO_KEIRA,
B.PERIODO_FECHA,
B.FILTRO_SOLUCION

INSERT INTO SEGUIMIENTO_INFORME
SELECT 
A.TIPO,
CASE WHEN A.IND_RENOVACION=1 THEN 'RENOVADO' ELSE 'NUEVO' END					AS NUEVO_RENOVADO,
CANAL																			AS CANAL,
A.SUCURSAL																		AS SUCURSAL,
A.ZONA																			AS ZONA,
A.RAMO_KEIRA																	AS RAMO_CONTABLE,
A.PERIODO_FECHA																	AS PERIODO,
0																				AS PRIMA_PESO,
SUM(A.PRIMA_ORIGINAL_CLF)														AS PRIMA_UF,	
0																				AS VALOR_UF,
COUNT(DISTINCT (A.POLIZA))														AS CANTIDAD_POLIZAS,
A.FILTRO_SOLUCION																AS SOLUCION
FROM BASE_PBI A 
WHERE A.PERIODO_FECHA >='2019-01-01' AND FILTRO_RIESGO='VIDA'
GROUP BY 
A.TIPO,
CASE WHEN A.IND_RENOVACION=1 THEN 'RENOVADO' ELSE 'NUEVO' END,
A.CANAL,
A.SUCURSAL,
A.ZONA,
A.RAMO_KEIRA,
A.PERIODO_FECHA,
A.FILTRO_SOLUCION






INSERT INTO SEGUIMIENTO_INFORME
SELECT 'PLAN',NUEVO_RENOVADO,CANAL,A.SUCURSAL,B.ZONA,RAMO_CONTABLE,PERIODO,PLAN_PESO,PLAN_UF,VALOR_UF,A.CANTIDAD_POLIZAS,SOLUCION 
FROM SEGUIMIENTO_PLAN_2 A LEFT JOIN BASE_ZONA B ON
A.SUCURSAL=B.SUCURSAL

UPDATE SEGUIMIENTO_INFORME
SET VALOR_UF=29400

UPDATE SEGUIMIENTO_INFORME
SET PRIMA_UF=(PRIMA_PESO*1000000)/VALOR_UF
WHERE  TIPO='PLAN'

UPDATE SEGUIMIENTO_INFORME
SET PRIMA_PESO=(PRIMA_UF*VALOR_UF)/1000000
WHERE  TIPO<>'PLAN'

UPDATE SEGUIMIENTO_INFORME
SET ZONA=B.ZONA
FROM SEGUIMIENTO_INFORME A, BASE_ZONA B
WHERE A.SUCURSAL=B.SUCURSAL

WAITFOR DELAY '00:00:05'

SET @TERMINO=GETDATE()
--+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
SET @TERMINO= GETDATE()
INSERT INTO MOVILIDAD_CONTROL_DE_EJECUCION VALUES ('SP_SEGUIMIENTO','FIN',@TERMINO,DATEDIFF(MINUTE,@INICIO,@TERMINO)/60,DATEDIFF(MINUTE,@INICIO,@TERMINO)%60)
SET @PASOS= GETDATE()
--+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

WAITFOR DELAY '00:00:02'