USE [Almacen_de_Datos]
GO

ALTER   PROCEDURE [dbo].[COTIZACIONES_FALABELLA]

AS
BEGIN TRY
DECLARE @TERMINO DATETIME
DECLARE @INICIO DATETIME
DECLARE @PASOS DATETIME
SET @INICIO=GETDATE()
SET @PASOS=@INICIO


--+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
SET @TERMINO= GETDATE()
INSERT INTO CANAL_ASESOR.DBO.MOVILIDAD_CONTROL_DE_EJECUCION VALUES ('COTIZACIONES_FALABELLA','INICIO',@TERMINO,DATEDIFF(MINUTE,@PASOS,@TERMINO)/60,DATEDIFF(MINUTE,@PASOS,@TERMINO)%60)
SET @PASOS= GETDATE()
--+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
-------------------
--TABLA EMISIONES--
-------------------
--select top 1 * into [sgf1025].[Reportes].[dbo].[2] FROM [sgf1025].[Reportes].[dbo].[SURA_MOVILIDAD_TRANSACCIONAL]

DROP TABLE IF EXISTS #EMISIONES --#TablaTemporalDeducible
SELECT DISTINCT
	nnumdocu, nnumitem, inicio_vigencia, termino_vigencia, VIGENCIA, FECHA_FIRMA_POLIZA, PRIMA_UF AS PRIMA_UF_EMITIDA, CODIGO_PLAN_TECNICO, PLAN_TECNICO,
    RUT_ASEGURADO,
	TIPO_PLAN,
    CODIGO_MARCA,
	MARCA,
    CODIGO_MODELO,
	MODELO,
	CONCAT(MARCA,'-', MODELO) AS MARCA_MODELO,
    AÑO, 
	NUEVA_RENOVADA,
    CASE
        WHEN DEDUCIBLE = '0' THEN 'SD' --CAMBIA FORMATO DEDUCIBLE PARA CRUZAR CON TABLA COTIZACIONES
		WHEN DEDUCIBLE = '2' THEN 'D2'
        WHEN DEDUCIBLE = '3' THEN 'D3'
        WHEN DEDUCIBLE = '5' THEN 'D5'
        WHEN DEDUCIBLE = '8' THEN 'D8'
		WHEN DEDUCIBLE = '10' THEN 'D10'
        WHEN DEDUCIBLE = '12' THEN 'D12'
		WHEN DEDUCIBLE = '15' THEN 'D15'
        ELSE DEDUCIBLE
    END AS DEDUCIBLE
INTO #EMISIONES
FROM [sgf1025].[Reportes].[dbo].[SURA_MOVILIDAD_TRANSACCIONAL]
WHERE 
	RUT_ASEGURADO > 1000000 AND FECHA_FIRMA_POLIZA >= '2025-01-01'
	AND PARTNER_PYG = 'FALABELLA' AND VIGENCIA = 'ANUAL' AND LINEA_NEGOCIO = 'Personal' AND TIPO_PLAN IN ('FULL', 'PT + RC') 
	AND PRIMA_UF <> 0
	AND EXP_AÑO <> 0
	AND IND_ANULACION_CALCULADA = 0
	AND RTRIM(LTRIM(RAMO_KEIRA_PRINCIPAL)) = 'MOTOR'
	AND FILTRO_RIESGO = 'VEHICULO'
--(6.372 rows affected)

--valida actualizacion de la inoformación
/*select min(FECHA_FIRMA_POLIZA) as minimo, MAX(FECHA_FIRMA_POLIZA) as maximo
from #EMISIONES*/


-----------------------------------------------
--TRATAMIENTO PARA IDENTIFICAR NUEVA RENOVADA--
-----------------------------------------------
alter table #EMISIONES
add NUEVA_RENOVADA_OLD nvarchar(20) null
 
UPDATE #EMISIONES
SET
	NUEVA_RENOVADA_OLD = nueva_renov2
FROM #EMISIONES A
LEFT JOIN (SELECT NNUMDOCU, NNUMITEM, Max(nueva_renov) nueva_renov2 FROM Transaccional.dbo.Tablero_Motor GROUP BY NNUMDOCU, NNUMITEM) B 
ON A.NNUMDOCU = B.NNUMDOCU AND A.NNUMITEM = B.NNUMITEM
 
UPDATE #EMISIONES
SET
NUEVA_RENOVADA_OLD = NUEVA_RENOVADA
WHERE NUEVA_RENOVADA_OLD is null

--DROP TABLE IF EXISTS #EMISIONES_V1
--SELECT *
--INTO #EMISIONES_V1
--FROM #EMISIONES
--WHERE NUEVA_RENOVADA_OLD = 'NUEVA' --Se utiliza solo para validacion ya que nosotros podemos tener marcada una póliza como renovada porque viene de otro canal pero para Fala realmente es una póliza nueva

--------------
--VALIDACION--
--------------
/*SELECT YEAR(FECHA_FIRMA_POLIZA)*100 + MONTH(FECHA_FIRMA_POLIZA) AS FECHA_FIRMA_POLIZA, COUNT(YEAR(FECHA_FIRMA_POLIZA)*100 + MONTH(FECHA_FIRMA_POLIZA)) AS CUENTA
FROM #EMISIONES
WHERE TIPO_PLAN = 'FULL' AND NUEVA_RENOVADA_OLD = 'NUEVA'
GROUP BY YEAR(FECHA_FIRMA_POLIZA)*100 + MONTH(FECHA_FIRMA_POLIZA)
ORDER BY YEAR(FECHA_FIRMA_POLIZA)*100 + MONTH(FECHA_FIRMA_POLIZA) --ver resultados en excel "Validaciones Falabella"
*/

----------------------
--TABLA COTIZACIONES--
----------------------
--SELECT NombrePlan, COUNT(*) FROM transaccional.dbo.cotizaciones_sg
--WHERE fechaactualizacion BETWEEN '2024-12-01' AND '2024-12-31'
--GROUP BY NombrePlan

drop table if exists #TABLA_COTIZACIONES_0
SELECT rutasegurado, anniovehiculo, codmarca, codmodelo, deducible, max(fechaactualizacion) as FechaActualizacion,
    CASE 
        WHEN NombrePlan IN ('FULL_SD', 'FULL_D3', 'FULL_D5', 'FULL_D8', 'FULL_D12', 'FULL_D15', 'FULL_D20') THEN 'FULL'
        WHEN NombrePlan = 'ASUBP_SD_300' THEN 'PT + RC'--'ASUBP_SD', 'ASUBP_SD_300', 'ASUBP1_SD_300', 'ASUBP1_SD', 'ASUBP2_SD'
        ELSE 'OTRO' 
    END AS tipo_producto
INTO #TABLA_COTIZACIONES_0
FROM [RSACLSF041].[EmisionWeb].[dbo].[Bitacora_Falabella] --transaccional.dbo.cotizaciones_sg
WHERE Descripcion = 'OK' AND NombrePlan IN ('FULL_SD','FULL_D3','FULL_D5','FULL_D8','FULL_D12','FULL_D15','FULL_D20', 'ASUBP_SD_300')
group by rutasegurado, anniovehiculo, codmarca, codmodelo, deducible, NombrePlan
HAVING MAX(fechaactualizacion) >= '2025-01-01' --BETWEEN '2023-01-01' AND '2024-12-31'
--(914.362 rows affected)

--crea variable ID para verificar duplicados a lo largo del codigo
drop table if exists #TABLA_COTIZACIONES_1
select ID = ROW_NUMBER() OVER(ORDER BY rutasegurado, anniovehiculo, codmarca, codmodelo, deducible, FechaActualizacion, tipo_producto ASC), *
into #TABLA_COTIZACIONES_1
from #TABLA_COTIZACIONES_0
--(914.362 rows affected)

DROP TABLE IF EXISTS #TABLA_COTIZACIONES_0

--select * from #TABLA_COTIZACIONES_1
--order by id

--Validacion
/*select id, count(*)
from #TABLA_COTIZACIONES_1
group by id
having count(*)>1*/

--crea varaible id_cotizaciones para calular hit ratio al final UN ID PARA UN GRUPO CON LAS MISMAS CARACTERISTICAS
drop table if exists #TABLA_COTIZACIONES_2
select ID_COTIZACION = DENSE_RANK() OVER( ORDER BY rutasegurado, anniovehiculo, codmarca, codmodelo, FechaActualizacion, tipo_producto ASC), *
INTO #TABLA_COTIZACIONES_2
FROM #TABLA_COTIZACIONES_1

DROP TABLE IF EXISTS #TABLA_COTIZACIONES_1

--select *
--from #TABLA_COTIZACIONES_3
--where RutAsegurado = 1073236-- tipo_producto = 'PT + RC'
--order by id

--LE ASIGNA 1 al primer registro del grupo id_cotizaciones
SELECT *,
	CASE
		WHEN ROW_NUMBER() OVER( PARTITION BY ID_COTIZACION ORDER BY ID) = 1 THEN 1
		ELSE 0
	END AS COTIZACION_UNICA
INTO #TABLA_COTIZACIONES_3
FROM #TABLA_COTIZACIONES_2
--(914.362 rows affected)

DROP TABLE IF EXISTS #TABLA_COTIZACIONES_2


--+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
SET @TERMINO= GETDATE()
INSERT INTO CANAL_ASESOR.DBO.MOVILIDAD_CONTROL_DE_EJECUCION VALUES ('COTIZACIONES_FALABELLA','1 de 3',@TERMINO,DATEDIFF(MINUTE,@PASOS,@TERMINO)/60,DATEDIFF(MINUTE,@PASOS,@TERMINO)%60)
SET @PASOS= GETDATE()
--+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
------------------------------------------------------------
--TABLA AUXILIAR PARA TRAER LA PRIMA DE LAS COTIZACIONES----
------------------------------------------------------------
drop table  if exists #TABLA_COTIZACIONES_PRIMA
SELECT rutasegurado, anniovehiculo,codmarca, codmodelo,deducible, max(fechaactualizacion) as FechaActualizacion ,ValorEnUF, 
    CASE 
        WHEN NombrePlan IN ('FULL_SD', 'FULL_D3', 'FULL_D5', 'FULL_D8', 'FULL_D12', 'FULL_D15', 'FULL_D20') THEN 'FULL'
        WHEN NombrePlan = 'ASUBP_SD_300' THEN 'PT + RC'--'ASUBP_SD', 'ASUBP_SD_300', 'ASUBP1_SD_300', 'ASUBP1_SD', 'ASUBP2_SD'
        ELSE 'OTRO' -- Puedes ajustar este ELSE si necesitas tratar otros valores
    END AS tipo_producto
INTO #TABLA_COTIZACIONES_PRIMA
FROM [RSACLSF041].[EmisionWeb].[dbo].[Bitacora_Falabella] 
WHERE Descripcion = 'OK' AND NombrePlan IN ('FULL_SD','FULL_D3','FULL_D5','FULL_D8','FULL_D12','FULL_D15','FULL_D20', 'ASUBP_SD_300')
GROUP BY rutasegurado, anniovehiculo,codmarca, codmodelo,deducible, ValorEnUF, NombrePlan
HAVING MAX(fechaactualizacion) >= '2025-01-01' --BETWEEN '2023-01-01' AND '2024-12-31'
--(823.816 rows affected)


------------------------------
--RUT IDENTIFICADOS COMO BOT--
-------------------------------
--DOS FUNTES DE INFORMACION
--select * from transaccional.dbo.RUTs_identificadosBots --6.950 registros ruts muy cotizadis en las tablas de cotizaciones
--select * from transaccional.dbo.RutBotBeQuarks_SG --35 registros ruts utilizados por bequarks

--UNE LAS DOS TABLAS
drop table if exists #BOTS
SELECT RutAsegurado INTO #BOTS FROM transaccional.dbo.RUTs_identificadosBots
UNION
SELECT RutAsegurado FROM transaccional.dbo.RutBotBeQuarks_SG

drop table if exists #TABLA_BOT
SELECT *, 1 as Bot
INTO #TABLA_BOT
FROM #BOTS
--(6.969 rows affected)

drop table if exists #BOTS


drop table if exists #COTIZACIONES_BOT_IDENTIFICADO
SELECT A.*, B.Bot
INTO #COTIZACIONES_BOT_IDENTIFICADO
FROM #TABLA_COTIZACIONES_3 A
LEFT JOIN #TABLA_BOT B
ON A.RutAsegurado = B.RutAsegurado
--(914.362 rows affected)

DROP TABLE IF EXISTS #TABLA_COTIZACIONES_3

--select id, count(*)
--from #COTIZACIONES_BOT_IDENTIFICADO
--group by id
--having count(*)>1

--ELIMINA DE LA TABLA DE COTIZACIONES TODOS LOS BOTS, ES DECIR, LA TABLA QUEDA MÁS LIMPIA
drop table if exists #COTIZACIONES_FINAL
SELECT *
INTO #COTIZACIONES_FINAL
FROM #COTIZACIONES_BOT_IDENTIFICADO
WHERE Bot IS NULL
--(893.056 rows affected)


-------------------------------------------------------
--TABLA PARA TRAERSE LA PRIMA DE LA ULTIMA COTIZACION--
-------------------------------------------------------
drop table if exists #COTIZACIONES_FINAL_V1
SELECT A.*, B.valorenuf
INTO #COTIZACIONES_FINAL_V1
FROM #COTIZACIONES_FINAL A
LEFT JOIN #TABLA_COTIZACIONES_PRIMA B
ON A.rutasegurado = B.rutasegurado
	AND A.anniovehiculo = B.anniovehiculo
	AND A.codmarca = B.codmarca
	AND A.codmodelo = B.codmodelo
	AND A.deducible = B.deducible
	AND A.FechaActualizacion = B.FechaActualizacion
	AND A.tipo_producto = B.tipo_producto
--(893.056 rows affected)

DROP TABLE IF EXISTS #TABLA_COTIZACIONES_PRIMA

--Validacion
/*select id, count(*)
from #COTIZACIONES_FINAL_V1
group by id
having count(*)>1*/


------------------------------------------------------------
--TABLA INTERMEDIA PARA TRAERSELOS CODIGOS DE MARCA-MODELO--
------------------------------------------------------------
drop table if exists #TABLA_HOMOLOGACION_INTERMEDIA
SELECT DISTINCT ID_MARCA_FALABELLA, ID_MODELO_FALABELLA, ID_MARCA_AUTOCLICK, ID_MODELO_AUTOCLICK, UPPER(DESC_MARCA_Falabella) AS MARCA_COTIZACION , UPPER(DESC_MODELO_Falabella) AS MODELO_COTIZACION
INTO #TABLA_HOMOLOGACION_INTERMEDIA
FROM [RSACLSF041].[EmisionWeb].[dbo].[Homologacion_MarcaModelo_Falabella] -- ESTA TABLA TIENE MUCHOS CODIGOS REPETIDOS
--(6.147 rows affected) SIN DESCRICPCION
--(6.478 rows affected) CON DESCRIPCION


----------------------------------------------------------
--TABLA AUXILIAR MARCA MODELO---SE HOMOLOGAN LOS NOMBRES--
----------------------------------------------------------
drop table if exists #HOMOLOGACION_AUX
SELECT DISTINCT ID_MARCA_FALABELLA, ID_MODELO_FALABELLA, ID_MARCA_AUTOCLICK, ID_MODELO_AUTOCLICK,MARCA_FINAL, MODELO_FINAL
INTO #HOMOLOGACION_AUX
FROM transaccional.dbo.Homologacion_marca_modelo_AUX
--(6.147 rows affected)

--SELECT ID_MARCA_FALABELLA, ID_MODELO_FALABELLA, ID_MARCA_AUTOCLICK, ID_MODELO_AUTOCLICK, COUNT(ID_MODELO_AUTOCLICK)AS CUENTA
--FROM #HOMOLOGACION_AUX
--GROUP BY ID_MARCA_FALABELLA, ID_MODELO_FALABELLA, ID_MARCA_AUTOCLICK, ID_MODELO_AUTOCLICK
--HAVING COUNT(ID_MODELO_AUTOCLICK)>1

drop table if exists #COTIZACIONES_MARCAMODELO
SELECT DISTINCT A.ID,A.ID_COTIZACION, A.COTIZACION_UNICA, A.rutasegurado, A.anniovehiculo, A.Deducible, A.FechaActualizacion, A.tipo_producto, A.valorenuf, B.ID_MARCA_AUTOCLICK, B.ID_MODELO_AUTOCLICK, B.MARCA_FINAL , B.MODELO_FINAL
INTO #COTIZACIONES_MARCAMODELO
FROM #COTIZACIONES_FINAL_V1 A
LEFT JOIN #HOMOLOGACION_AUX B
ON A.CODMARCA = B.ID_MARCA_FALABELLA AND A.CODMODELO = B.ID_MODELO_FALABELLA
--(896.529 rows affected)

--SE DUPLICAN REGISTROS PORQUE EL MISMO CODIGO DE FALA TRAE CODIGOS DISTINTOS DE AUTOCLICK
--select id, count(*)
--from #COTIZACIONES_MARCAMODELO
--group by id
--having count(*)>1

--SELECT *
--FROM #COTIZACIONES_MARCAMODELO
--WHERE ID = 3106880

--SELECT *
--FROM #HOMOLOGACION_AUX 
--WHERE ID_MARCA_AUTOCLICK = 7 AND ID_MODELO_AUTOCLICK IN (4598, 1659)

DROP TABLE IF EXISTS #COTIZACIONES_FINAL_V1
DROP TABLE IF EXISTS #HOMOLOGACION_AUX


drop table if exists #COTIZACIONES_CODIGOSOL
SELECT A.*, MA.CODIGOSOL AS MARCA_SOL, MO.CODIGOSOL AS MODELO_SOL
INTO #COTIZACIONES_CODIGOSOL
FROM #COTIZACIONES_MARCAMODELO A
LEFT JOIN [RSACLSF041].[EmisionWeb].[dbo].[MARCA] MA 
ON MA.MarcaID = A.ID_MARCA_AUTOCLICK
LEFT JOIN [RSACLSF041].[EmisionWeb].[dbo].[MODELO] MO
ON MO.ModeloID = A.ID_MODELO_AUTOCLICK
--(896.529 rows affected)

DROP TABLE IF EXISTS #COTIZACIONES_MARCAMODELO


---------------------
----VERSION NUEVA----
---------------------
--TABLA TEMPORAL PARA SEPARAR EL RUT DEL DIGITO VERIFICADOR
drop table if exists #Digitos
CREATE TABLE #Digitos (
    rutasegurado VARCHAR(50),
    suma_pesos INT)

INSERT INTO #Digitos (rutasegurado, suma_pesos)
SELECT B.rutasegurado,
    SUM(CAST(SUBSTRING(CAST(B.rutasegurado AS VARCHAR), LEN(CAST(B.rutasegurado AS VARCHAR)) - n + 1, 1) AS INT) * ((n % 6) + 2)) AS suma_pesos
FROM #COTIZACIONES_FINAL B
CROSS APPLY (
    SELECT TOP (LEN(CAST(B.rutasegurado AS VARCHAR))) ROW_NUMBER() OVER (ORDER BY (SELECT NULL)) AS n
    FROM master.dbo.spt_values
) numeros
GROUP BY B.rutasegurado

--SELECT * FROM #Digitos
drop table if exists #COTIZACIONES_FINAL

---------
--FINAL--
---------
DROP TABLE IF EXISTS #TABLA_FINAL_0
SELECT A.ID, A.ID_COTIZACION, A.COTIZACION_UNICA, 'Falabella' AS canal, A.tipo_producto, A.fechaactualizacion AS fecha_cotizacion, A.rutasegurado,
    -- Calcular el dígito verificador basado en suma_pesos
    CASE
        WHEN (11 - (D.suma_pesos % 11)) = 11 THEN '0'
        WHEN (11 - (D.suma_pesos % 11)) = 10 THEN 'K'
        ELSE CAST((11 - (D.suma_pesos % 11)) AS VARCHAR)
    END AS digito_verificador,
	A.MARCA_FINAL AS MARCA,  --TABLA #COTIZACIONES_FINAL A
    A.MODELO_FINAL AS MODELO,
    A.ANNIOVEHICULO AS AÑO, 
    A.DEDUCIBLE, 
    A.valorenuf AS PRIMAUF_COTIZADA, --prima_con_iva
	B.nnumdocu, B.nnumitem, B.inicio_vigencia, B.termino_vigencia,
	B.NUEVA_RENOVADA_OLD,
	B.FECHA_FIRMA_POLIZA AS FECHA_FIRMA_EMISION,
	B.PRIMA_UF_EMITIDA,
	B.CODIGO_PLAN_TECNICO,
	B.PLAN_TECNICO,
    -- Determinar si se emitió la póliza (1 = emitida, 0 = no emitida)
    CASE
        WHEN CAST(A.rutasegurado AS VARCHAR) COLLATE Modern_Spanish_CI_AS = CAST(B.RUT_ASEGURADO AS VARCHAR) COLLATE Modern_Spanish_CI_AS
			AND CAST(A.MARCA_SOL AS VARCHAR) COLLATE Modern_Spanish_CI_AS = CAST(B.CODIGO_MARCA AS VARCHAR) COLLATE Modern_Spanish_CI_AS
			AND CAST(A.MODELO_SOL AS VARCHAR) COLLATE Modern_Spanish_CI_AS = CAST(B.CODIGO_MODELO AS VARCHAR) COLLATE Modern_Spanish_CI_AS
			AND CAST(A.ANNIOVEHICULO AS VARCHAR) COLLATE Modern_Spanish_CI_AS = CAST(B.AÑO AS VARCHAR) COLLATE Modern_Spanish_CI_AS
			AND CAST(A.DEDUCIBLE AS VARCHAR) COLLATE Modern_Spanish_CI_AS = CAST(B.DEDUCIBLE AS VARCHAR) COLLATE Modern_Spanish_CI_AS
			AND CAST(A.tipo_producto AS VARCHAR) COLLATE Modern_Spanish_CI_AS = CAST(B.TIPO_PLAN AS VARCHAR) COLLATE Modern_Spanish_CI_AS
			AND (
             (A.fechaactualizacion BETWEEN DATEADD(DAY, -30, B.FECHA_FIRMA_POLIZA) AND DATEADD(DAY, 30, B.FECHA_FIRMA_POLIZA))
             OR (A.fechaactualizacion BETWEEN DATEADD(DAY, -30, B.inicio_vigencia) AND DATEADD(DAY, 30, B.inicio_vigencia))
         )
        THEN 1
        ELSE 0
    END AS emitida
INTO #TABLA_FINAL_0
FROM #COTIZACIONES_CODIGOSOL A
-- Unir con la tabla #EMISIONES (LEFT JOIN)
LEFT JOIN #EMISIONES B
    ON CAST(A.rutasegurado AS VARCHAR) COLLATE Modern_Spanish_CI_AS = CAST(B.RUT_ASEGURADO AS VARCHAR) COLLATE Modern_Spanish_CI_AS
    AND CAST(A.MARCA_SOL AS VARCHAR) COLLATE Modern_Spanish_CI_AS = CAST(B.CODIGO_MARCA AS VARCHAR) COLLATE Modern_Spanish_CI_AS
    AND CAST(A.MODELO_SOL AS VARCHAR) COLLATE Modern_Spanish_CI_AS = CAST(B.CODIGO_MODELO AS VARCHAR) COLLATE Modern_Spanish_CI_AS
    AND CAST(A.ANNIOVEHICULO AS VARCHAR) COLLATE Modern_Spanish_CI_AS = CAST(B.AÑO AS VARCHAR) COLLATE Modern_Spanish_CI_AS
    AND CAST(A.DEDUCIBLE AS VARCHAR) COLLATE Modern_Spanish_CI_AS = CAST(B.DEDUCIBLE AS VARCHAR) COLLATE Modern_Spanish_CI_AS
	AND CAST(A.tipo_producto AS VARCHAR) COLLATE Modern_Spanish_CI_AS = CAST(B.TIPO_PLAN AS VARCHAR) COLLATE Modern_Spanish_CI_AS
	AND (
             (A.fechaactualizacion BETWEEN DATEADD(DAY, -30, B.FECHA_FIRMA_POLIZA) AND DATEADD(DAY, 30, B.FECHA_FIRMA_POLIZA))
             OR (A.fechaactualizacion BETWEEN DATEADD(DAY, -30, B.inicio_vigencia) AND DATEADD(DAY, 30, B.inicio_vigencia))
         )
JOIN #Digitos D
    ON A.rutasegurado = D.rutasegurado
ORDER BY canal, A.fechaactualizacion, A.rutasegurado, digito_verificador, B.MARCA, B.MODELO, A.ANNIOVEHICULO, A.DEDUCIBLE, A.valorenuf, emitida
--(896.531 rows affected)
DROP TABLE IF EXISTS #COTIZACIONES_CODIGOSOL
DROP TABLE IF EXISTS #EMISIONES
DROP TABLE IF EXISTS #Digitos


DROP TABLE IF EXISTS  #TABLA_FINAL_1
SELECT DUPLICADOS = ROW_NUMBER() OVER (PARTITION BY ID ORDER BY (SELECT NULL)), *
INTO #TABLA_FINAL_1
FROM #TABLA_FINAL_0

DROP TABLE IF EXISTS #TABLA_FINAL_0

--ELIMINA REGISTROS DUPLICADOS QUE NO SE EMITIERON
DROP TABLE IF EXISTS almacen_de_datos.dbo.TABLA_CONVERSION_FALABELLE
SELECT *, YEAR(fecha_cotizacion)*100+MONTH(fecha_cotizacion) AS ANIO_MES_COTIZACION,
YEAR(FECHA_FIRMA_EMISION)*100+MONTH(FECHA_FIRMA_EMISION) AS ANIO_MES_EMISION,
CONCAT(MARCA,'-', MODELO) AS MARCA_MODELO
INTO almacen_de_datos.dbo.TABLA_CONVERSION_FALABELLE
FROM #TABLA_FINAL_1
WHERE NOT (emitida = 0 AND DUPLICADOS = 2)
--(893.061 rows affected)

DROP TABLE IF EXISTS #TABLA_FINAL_1

--------------------------------------------------
---------------validaciones-----------------------
--------------------------------------------------
--SELECT MIN(fechaactualizacion) AS MINIMO, MAX(fechaactualizacion) AS MAXIMO
--FROM [RSACLSF041].[EmisionWeb].[dbo].[Bitacora_Falabella]


------------------------------------
--HIT RATIO POR PERIODO COTIZACION--
------------------------------------
--SELECT ANIO_MES_COTIZACION,
--       SUM(COTIZACION_UNICA) AS TOTAL_COTIZACIONES,
--       SUM(emitida) AS TOTAL_EMITIDAS,
--       (SUM(emitida)*1.0 / SUM(COTIZACION_UNICA))*100 AS HIT_RATIO --EL RESULTADO YA ESTA EN %
--FROM almacen_de_datos.dbo.TABLA_CONVERSION_FALABELLE
--WHERE tipo_producto = 'FULL' -- 'PT + RC'
--GROUP BY ANIO_MES_COTIZACION
--ORDER BY ANIO_MES_COTIZACION
--validar porque trae mas emisiones en los ultimos meses en full
--que hayan cotizado en diciembre no implica que la emision fue en diciembre pudo haber si a fines de noviembre o inicios de enero
--revisar porque no trae ninguna emitida de PT+RC

------------------------------
--HIT RATIO POR MARCA-MODELO--
------------------------------
--SELECT MARCA_MODELO,
--       SUM(COTIZACION_UNICA) AS TOTAL_COTIZACIONES,
--       SUM(emitida) AS TOTAL_EMITIDAS,
--       CASE WHEN SUM(COTIZACION_UNICA) = 0 THEN 0 ELSE (SUM(emitida)*1.0 / SUM(COTIZACION_UNICA))*100 END AS HIT_RATIO --EL RESULTADO YA ESTA EN %
--FROM almacen_de_datos.dbo.TABLA_CONVERSION_FALABELLE
--WHERE tipo_producto = 'FULL' AND ANIO_MES_COTIZACION = 202412 -- 'FULL'
--GROUP BY MARCA_MODELO
--ORDER BY SUM(COTIZACION_UNICA) DESC

--------------------------
--VALIDACION DUPLUICADOS--
--------------------------
--select DUPLICADOS, EMITIDA, count(*)
--from almacen_de_datos.dbo.TABLA_CONVERSION_FALABELLE
--group by DUPLICADOS, EMITIDA
--having count(*)>1 


-----------------------------------------------------------------------
-----------------AGREGA VARIABLES PARA SCOREO--------------------------
-----------------------------------------------------------------------
----TALLER
drop table if exists #Aux_taller_Fala
select codigo_plan_tecnico, taller, count(*) as cuenta
into #Aux_taller_Fala
from reportes.dbo.sura_movilidad_transaccional 
where intermediario like '%Falabella%' and year(FECHA_FIRMA_POLIZA) >= 2024 and tipo_plan = 'FULL'
group by codigo_plan_tecnico, taller
order by codigo_plan_tecnico

--ESTO NO SE ESTA USANDO PARA NADA
/*drop table if exists #Aux_taller_Fala_2
select taller, sum(cuenta) as cuenta
into #Aux_taller_Fala_2
from #Aux_taller_Fala
group by taller*/

----TRAE VARIABLE TALLER Y REVISA FORMATOS
drop table if exists #Aux_Falabella
select 
--DUPLICADOS 
ID_COTIZACION
,COTIZACION_UNICA
,canal_pyg = 'AFFINITY'
,partner_pyg = 'FALABELLA'
,tipo_producto = tipo_producto
,fecha_cotizacion
,rutasegurado = rutasegurado 
,digito_verificador = digito_verificador
,MARCA = MARCA
,MODELO = MODELO
,AÑO
,DEDUCIBLE = DEDUCIBLE collate SQL_Latin1_General_CP1_CI_AS
,PRIMAUF_COTIZADA_sIVA = PRIMAUF_COTIZADA/1.19 --SACA EL IVA A LA PRIMA COTIZADA
,nnumdocu = nnumdocu
,nnumitem
,tipo_vigencia = 'ANUAL'
,PRIMA_UF_EMITIDA
,emitida
,ANIO_MES_COTIZACION
,MARCA_MODELO = MARCA_MODELO
,RUT_CORREDOR = '77099010'
,Taller = case when A.codigo_plan_tecnico = B.codigo_plan_tecnico and A.codigo_plan_tecnico is not null then B.taller else 'TALLER EN GARANTÍA' end
into #Aux_Falabella
from almacen_de_datos.dbo.TABLA_CONVERSION_FALABELLE A
left join #Aux_taller_Fala B on A.codigo_plan_tecnico = B.codigo_plan_tecnico
where duplicados = 1
--(893.056 rows affected)

drop table if exists #Aux_taller_Fala

----TRAE VARIABLES DE RUT FACTOR
drop table if exists #Aux_rut_factor
Select A.*
,B.EDAD
,B.VAR_SEXO as SEXO
,B.VAR_GSE as GSE
,B.VAR_COMUNA AS COMUNA
,B.VAR_SiniTot_0_36 AS SiniTot_0_36
,B.VAR_ANTIG_CL_ASE_RUT_CHANNEL as ANTIG_CL_ASE_CHANNEL
,B.VAR_CANDIDATO_EXTRANJERO as CANDIDATO_EXTRANJERO
into #Aux_rut_factor
from #Aux_Falabella A
left join Transaccional.dbo.RUT_FACTOR_DETALLE_nuevo B
on A.rutasegurado = B.RUT
--(893.056 rows affected)

DROP TABLE IF EXISTS #Aux_Falabella

----AGREGA RESTO DE LAS VARIABLES PARA SCROREAR

----TOP100_2024
drop table if exists #Aux_top100_2024
select ID_top100 = DENSE_RANK() OVER( ORDER BY ccomaveh, cdescort)
,ccomaveh, cdescort, RF_TOP100_2024, count(*) as cuenta
into #Aux_top100_2024
from almacen_de_datos.dbo.Data_modelo_personal_2024Q4
group by ccomaveh, cdescort, RF_TOP100_2024
--(2.982 rows affected)

-- se deja solo los casos de mayor cuenta
drop table if exists #Aux_max_top100
select *, rn = Row_Number() OVER (PARTITION BY ID_top100 ORDER BY  cuenta desc)
into #Aux_max_top100
from #Aux_top100_2024
--(2.982 rows affected)

DROP TABLE IF EXISTS #Aux_top100_2024

-- tabla auxiliar final
drop table if exists #aux_top100_final
select ccomaveh, cdescort, RF_TOP100_2024 
into #aux_top100_final
from #Aux_max_top100
where rn = 1
--(2.965 rows affected)

drop table if exists #Aux_max_top100

----TIPO_VEH
drop table if exists #Aux_tipoveh
select ID_tipo_veh = DENSE_RANK() OVER( ORDER BY ccomaveh, cdescort)
,ccomaveh, cdescort, tipo_veh, count(*) as cuenta
into #Aux_tipoveh
from almacen_de_datos.dbo.Data_modelo_personal_2024Q4
group by ccomaveh, cdescort, tipo_veh
--(2.965 rows affected)

-- se deja solo los casos de mayor cuenta
drop table if exists #Aux_max_tipoveh
select *, rn = Row_Number() OVER (PARTITION BY ID_tipo_veh ORDER BY  cuenta desc)
into #Aux_max_tipoveh
from #Aux_tipoveh
--(2.965 rows affected)

DROP TABLE IF EXISTS #Aux_tipoveh

-- tabla auxiliar final
drop table if exists #aux_tipoveh_final
select ccomaveh, cdescort, tipo_veh 
into #aux_tipoveh_final
from #Aux_max_tipoveh
where rn = 1
--(2.965 rows affected)

DROP TABLE IF EXISTS #Aux_max_tipoveh

----REGION
drop table if exists #Aux_REGION
select distinct comuna_Ase, REGION_ASE
into #Aux_REGION
from almacen_de_datos.dbo.Data_modelo_personal_2024Q4
--(348 rows affected)

---------SE HACE JOIN CON TABLA PRINCIPAL CON NUEVAS COLUMNAS DEL SCOREO
drop table if exists #Aux_join
select A.* 
,B.RF_TOP100_2024
,C.REGION_ASE
,D.tipo_veh
,ind_poliza_telematica = 'N'
,ANTVEH = year(fecha_cotizacion) - AÑO
,CHANNEL_TO_EMB_2024 = 
	case 
	-------------------------------------------------------------- AFFINITY ----------------------------------------------------------------------
		---------------------------- AFFINITY Separados ---------------------------------------------
		when CANAL_PYG = 'AFFINITY' and PARTNER_PYG = 'FALABELLA'										then 'FALABELLA'
	-------------------------------------------------------------- DIRECTO ---------------------------------------------------------------------
		when CANAL_PYG = 'CANAL DIRECTO' 																then 'CANAL DIRECTO'
	-------------------------------------------------------------- ASESOR ----------------------------------------------------------------------
		---------------------------- CANAL ASESOR -------------------------------------------------
		when CANAL_PYG = 'CANAL ASESOR' then case 
			when 
				PARTNER_PYG in ('NO APLICA','CASA MATRIZ','CANAL ASESOR','RSA') or
				PARTNER_PYG like '%FRANQUICIA%' or
				PARTNER_PYG like '%F&D%' or
				PARTNER_PYG like '%EMPRESARIOS Y PROFESIONALES%' or
				PARTNER_PYG like '%PROFESIONAL A DESARROLLAR%' or
				PARTNER_PYG like '%#REF!%' or
				PARTNER_PYG like '%BROKER TEAM%'														then 'CANAL ASESOR'
			when PARTNER_PYG like '%DEALERS - BRUNO FRITSCH%'											then 'DEALERS - BRUNO FRITSCH'

		---------------------------- SUCURSALES ------------------------------------------------- tratar de agregar casos cuando canal_pyg no dice "canal asesor", pero el partner si es un "CA"
			when PARTNER_PYG in ('ANTOFAGASTA - CA','ARICA - CA','IQUIQUE - CA')						then 'SUCURSALES - ZN'
			when PARTNER_PYG = 'LA SERENA - CA'															then 'SUCURSALES - ZCN'
			when PARTNER_PYG like '%SANTIAGO EQUIPO%' or
				 PARTNER_PYG in ('VIÑA DEL MAR - CA','RANCAGUA - CA','CURICO - CA','TALCA - CA')		then 'SUCURSALES - ZC'
			when PARTNER_PYG in ('TEMUCO - CA','CONCEPCION - CA', 'CONCEPCIÓN - CA','CHILLAN - CA')		then 'SUCURSALES - ZCS'
			when PARTNER_PYG in ('OSORNO - CA','VALDIVIA - CA','PUERTO MONTT - CA','PUNTA ARENAS - CA')	then 'SUCURSALES - ZS'
		end
	-------------------------------------------------------------- PYME ----------------------------------------------------------------------
		when CANAL_PYG = 'PYME'																			then 'PYME'
	--------------------------------------------------------- NO IDENTIFICADOS -----------------------------------------------------------------
		when CANAL_PYG = 'AFFINITY' and (PARTNER_PYG is null or PARTNER_PYG in ('', ' ', 'NO IDENTIFICADO', 'NO APLICA'))		then 'NO IDENTIFICADO'
		when CANAL_PYG = 'CANAL ASESOR' and PARTNER_PYG = 'CANAL DIRECTO'														then 'NO IDENTIFICADO'
		when CANAL_PYG is null or CANAL_PYG in ('', ' ', 'NO IDENTIFICADO', 'NO APLICA', 'null' )								then 'NO IDENTIFICADO'
		
		else NULL 
	end
into #Aux_join
from #Aux_rut_factor A
left join #aux_top100_final			B	on RTRIM(A.marca) = RTRIM(B.ccomaveh) and RTRIM(A.modelo) = RTRIM(B.cdescort)
left join #Aux_REGION				C	on A.comuna = C.comuna_ase
left join #aux_tipoveh_final		D	on RTRIM(A.marca) = RTRIM(D.ccomaveh) and RTRIM(A.modelo) = RTRIM(D.cdescort)
--(893.056 rows affected)

DROP TABLE IF EXISTS #Aux_rut_factor
DROP TABLE IF EXISTS #aux_top100_final
DROP TABLE IF EXISTS #Aux_REGION
DROP TABLE IF EXISTS #aux_tipoveh_final


----PARCHES VARIOS
update #Aux_join
set RF_TOP100_2024 = case when A.RF_TOP100_2024 is null then B.RF_TOP100_2024 else A.RF_TOP100_2024 end
from #Aux_join A
left join reportes.[dbo].[homolog_auxiliar_scoreo] B on RTRIM(A.marca) = RTRIM(B.marca) and RTRIM(A.modelo) = RTRIM(B.modelo)
--(893.056 rows affected)

update #Aux_join
set RF_TOP100_2024 = case	when rf_top100_2024 is null and marca = 'FORD' and modelo like '%FUSIÓN%' then 'FORD - CLASICO'
						when rf_top100_2024 is null and marca = 'CITROEN' and modelo = 'C-ELYSEÉ' then 'CITROEN - C-ELYSEE'
						when rf_top100_2024 is null and marca = 'CHEVROLET' and modelo = 'SPARK GT' then 'CHEVROLET - SPARK'
						else RF_TOP100_2024 end
--(893.056 rows affected)

----TASACION
select *
into #tasacion
from reportes.dbo.Tasacion_marca_modelo_SOL
where año_info = 2024

Drop table if exists #TABLA_SCOREO
select A.*
,B.tasacion
into #TABLA_SCOREO
from #Aux_join A
left join #tasacion B on A.marca = B.ccomaveh and A.modelo = B.Cdescort and A.AÑO = B.NANFAVEH --and year(A.FECHA_cotizacion) = B.año_info
--(893.056 rows affected)

DROP TABLE IF EXISTS #Aux_join
DROP TABLE IF EXISTS #tasacion

--select * from #TABLA_SCOREO
--where Tasacion is not null


-------------------------------------------------------------------
---------AGREGA RELATIVIDADES DEL NUEVO MODELO DE RIESGO-----------
-------------------------------------------------------------------
----REVISA FORMATO DE VARIABLES
drop table if exists #TABLA_0
SELECT ID_COTIZACION, 	COTIZACION_UNICA, 	canal_pyg, 	partner_pyg, 	tipo_producto, 	fecha_cotizacion, 	rutasegurado, 	digito_verificador, 	AÑO, 	PRIMAUF_COTIZADA_sIVA, 	nnumdocu, 	nnumitem, 	tipo_vigencia, 	PRIMA_UF_EMITIDA, 	emitida, 	ANIO_MES_COTIZACION, 	MARCA_MODELO, 	RUT_CORREDOR, 	ind_poliza_telematica, 	CHANNEL_TO_EMB_2024,
     PER_ANIOTRIM			= CONCAT(YEAR(fecha_cotizacion), 'Q', DATEPART(QUARTER, fecha_cotizacion)),
     TALLER					= CASE
								 WHEN TALLER IS NULL THEN 'UNKNOWN'
								 ELSE TALLER END,
	 EDAD					= CASE
								 WHEN EDAD >= 90 THEN '90 o mas'
								 WHEN EDAD IS NULL THEN 'UNKNOWN'
								 ELSE CAST(EDAD AS VARCHAR) END,
	 SEXO					= CASE
								 WHEN SEXO IS NULL THEN 'UNKNOWN'
								 ELSE SEXO END,
	 GSE					= CASE
								 WHEN GSE IS NULL THEN 'UNKNOWN'
								 ELSE GSE END,
	 COMUNA					= CASE
								 WHEN COMUNA IS NULL THEN 'UNKNOWN'
								 ELSE COMUNA END,
	 SiniTot_0_36			= CASE
								 WHEN SiniTot_0_36 = 0 THEN 'N'
								 WHEN SiniTot_0_36 >= 5 THEN '5 o mas'
								 WHEN SiniTot_0_36 IS NULL THEN 'UNKNOWN'
								 ELSE CAST(SiniTot_0_36 AS VARCHAR) END,
	 ANTIG_CL_ASE_CHANNEL	= CASE
								 WHEN ANTIG_CL_ASE_CHANNEL >= 7 THEN '7'
								 WHEN ANTIG_CL_ASE_CHANNEL IS NULL THEN 'UNKNOWN'
								 ELSE CAST(ANTIG_CL_ASE_CHANNEL AS VARCHAR) END,
	 CANDIDATO_EXTRANJERO	= CASE
								 WHEN CANDIDATO_EXTRANJERO IS NULL THEN 'UNKNOWN'
								 ELSE CANDIDATO_EXTRANJERO END,
	 REGION_ASE				= CASE
								 WHEN REGION_ASE IS NULL THEN 'UNKNOWN'
								 ELSE REGION_ASE END,
	 tipo_veh				= CASE
								 WHEN tipo_veh IS NULL THEN 'UNKNOWN'
								 WHEN tipo_veh = 'Comercial' THEN 'Otros' --EN LAS RELATIVIDADES NO ESTA LA OPCION PARA 'COMERCIAL'
								 ELSE tipo_veh END,
	 ANTVEH					= CASE
								 WHEN ANTVEH >= 16 THEN '16 o mas'
								 WHEN ANTVEH IS NULL THEN 'UNKNOWN'
								 ELSE CAST(ANTVEH AS VARCHAR) END,
     MARCA					= CASE
								 WHEN MARCA = 'BMW' THEN 'B M W'
								 WHEN MARCA = 'GAC GONOW' THEN 'GAC'
								 WHEN MARCA = 'MERCEDES' THEN 'Mercedes Benz'
								 WHEN MARCA = 'ZX AUTO' THEN 'ZX'
								 WHEN MARCA = 'VOLSKWAGEN' THEN 'VOLKSWAGEN'
								 WHEN MARCA = 'DONFENG' THEN 'DONGFENG'
								 ELSE MARCA END,
	 MODELO					= CASE
								 WHEN MODELO = 'RANGER RAPTOR'  THEN 'RANGER'
								 ELSE MODELO END,

	 RF_TOP100_2024			= CASE
								 WHEN MARCA_MODELO = 'FORD-RANGER RAPTOR'  THEN  'FORD - RANGER'
								 ELSE RF_TOP100_2024 END,
	 DEDUCIBLE				= CASE
								WHEN DEDUCIBLE =  'SD' THEN '0'
								WHEN DEDUCIBLE =  'D2' THEN '2'
								WHEN DEDUCIBLE =  'D3' THEN '3'
								WHEN DEDUCIBLE =  'D5' THEN '5'
								WHEN DEDUCIBLE =  'D8' THEN '8'
								WHEN DEDUCIBLE =  'D10'THEN '10'
								WHEN DEDUCIBLE =  'D12'THEN '12'
								WHEN DEDUCIBLE =  'D15'THEN '15'
								WHEN DEDUCIBLE =  'D20'THEN '20'
								ELSE DEDUCIBLE END,
	Tasacion_agrupado		= case when tasacion = 0 then '0'
								 when tasacion > 0			and tasacion <= 1000000 then ']0 - 1.000.000]'
								 when tasacion > 1000000	and tasacion <= 2000000 then ']1.000.000 - 2.000.000]'
								 when tasacion > 2000000	and tasacion <= 3000000 then ']2.000.000 - 3.000.000]'
								 when tasacion > 3000000	and tasacion <= 4000000 then ']3.000.000 - 4.000.000]'
								 when tasacion > 4000000	and tasacion <= 5000000 then ']4.000.000 - 5.000.000]'
								 when tasacion > 5000000	and tasacion <= 6000000 then ']5.000.000 - 6.000.000]'
								 when tasacion > 6000000	and tasacion <= 7000000 then ']6.000.000 - 7.000.000]'
								 when tasacion > 7000000	and tasacion <= 8000000 then ']7.000.000 - 8.000.000]'
								 when tasacion > 8000000	and tasacion <= 9000000 then ']8.000.000 - 9.000.000]'
								 when tasacion > 9000000	and tasacion <= 10000000 then ']9.000.000 - 10.000.000]'
								 when tasacion > 10000000	and tasacion <= 11000000 then ']10.000.000 - 11.000.000]'
								 when tasacion > 11000000	and tasacion <= 12000000 then ']11.000.000 - 12.000.000]'
								 when tasacion > 12000000	and tasacion <= 13000000 then ']12.000.000 - 13.000.000]'
								 when tasacion > 13000000	and tasacion <= 14000000 then ']13.000.000 - 14.000.000]'
								 when tasacion > 14000000	and tasacion <= 15000000 then ']14.000.000 - 15.000.000]'
								 when tasacion > 15000000	and tasacion <= 16000000 then ']15.000.000 - 16.000.000]'
								 when tasacion > 16000000	and tasacion <= 17000000 then ']16.000.000 - 17.000.000]'
								 when tasacion > 17000000	and tasacion <= 18000000 then ']17.000.000 - 18.000.000]'
								 when tasacion > 18000000	and tasacion <= 19000000 then ']18.000.000 - 19.000.000]'
								 when tasacion > 19000000	and tasacion <= 20000000 then ']19.000.000 - 20.000.000]'
								 when tasacion > 20000000	and tasacion <= 30000000 then ']20.000.000 - 30.000.000]'
								 when tasacion > 30000000	and tasacion <= 40000000 then ']30.000.000 - 40.000.000]'
								 when tasacion > 40000000	and tasacion <= 50000000 then ']40.000.000 - 50.000.000]'
								 when tasacion > 50000000	then ']mas de 50.000.000]'
								 else 'UNKNOWN' end,
	 ORDENA_MARCA_MODELO	= CASE
								 WHEN MARCA_MODELO = 'SUZUKI-SWIFT' THEN '1'
								 WHEN MARCA_MODELO = 'SUZUKI-BALENO' THEN '2'
								 WHEN MARCA_MODELO = 'CHEVROLET-SAIL' THEN '3'
								 WHEN MARCA_MODELO = 'HYUNDAI-ACCENT' THEN '4'
								 WHEN MARCA_MODELO = 'KIA MOTORS-MORNING' THEN '5'
								 WHEN MARCA_MODELO = 'TOYOTA-RAV 4' THEN '6'
								 WHEN MARCA_MODELO = 'TOYOTA-YARIS' THEN '7'
								 WHEN MARCA_MODELO = 'NISSAN-KICKS' THEN '8'
								 WHEN MARCA_MODELO = 'HYUNDAI-TUCSON' THEN '9'
								 WHEN MARCA_MODELO = 'KIA MOTORS-SPORTAGE' THEN '10'
								 WHEN MARCA_MODELO = 'HYUNDAI-GRAND I 10' THEN '11'
								 WHEN MARCA_MODELO = 'HYUNDAI-CRETA' THEN '12'
								 WHEN MARCA_MODELO = 'NISSAN-VERSA' THEN '13'
								 WHEN MARCA_MODELO = 'KIA MOTORS-RIO 5' THEN '14'
								 WHEN MARCA_MODELO = 'CHEVROLET-GROOVE' THEN '15'
								 WHEN MARCA_MODELO = 'MAZDA-CX-5' THEN '16'
								 WHEN MARCA_MODELO = 'PEUGEOT-3008' THEN '17'
								 WHEN MARCA_MODELO = 'KIA MOTORS-RIO 4' THEN '18'
								 WHEN MARCA_MODELO = 'PEUGEOT-208' THEN '19'
								 WHEN MARCA_MODELO = 'CHEVROLET-TRACKER' THEN '20'
								 WHEN MARCA_MODELO = 'MG-ZS' THEN '21'
								 WHEN MARCA_MODELO = 'MAZDA-3' THEN '22'
								 ELSE 999 END,
	 MAS_COTIZADAS					= CASE
								 WHEN MARCA_MODELO IN ('SUZUKI-SWIFT' , 'SUZUKI-BALENO' , 'CHEVROLET-SAIL' , 'HYUNDAI-ACCENT' , 'KIA MOTORS-MORNING' , 'TOYOTA-RAV 4' , 'TOYOTA-YARIS' , 'NISSAN-KICKS' , 'HYUNDAI-TUCSON' , 'KIA MOTORS-SPORTAGE' , 'HYUNDAI-GRAND I 10' , 'HYUNDAI-CRETA' , 'NISSAN-VERSA' , 'KIA MOTORS-RIO 5' , 'CHEVROLET-GROOVE' , 'MAZDA-CX-5' , 'PEUGEOT-3008' , 'KIA MOTORS-RIO 4' , 'PEUGEOT-208' , 'CHEVROLET-TRACKER' , 'MG-ZS' , 'MAZDA-3') THEN 'MAS_COTIZADOS'
								 ELSE 'RESTO' END
INTO #TABLA_0
FROM #TABLA_SCOREO
WHERE partner_pyg = 'FALABELLA' AND tipo_producto = 'FULL'
--(706.139 rows affected)

DROP TABLE IF EXISTS #TABLA_SCOREO


--+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
SET @TERMINO= GETDATE()
INSERT INTO CANAL_ASESOR.DBO.MOVILIDAD_CONTROL_DE_EJECUCION VALUES ('COTIZACIONES_FALABELLA','2 de 3',@TERMINO,DATEDIFF(MINUTE,@PASOS,@TERMINO)/60,DATEDIFF(MINUTE,@PASOS,@TERMINO)%60)
SET @PASOS= GETDATE()
--+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
------------------------------------------------------------------------------------------------------------------------------------
------------------------------------------------- TABLAS TEMPORALES POR VARIABLE ---------------------------------------------------
------------------------------------------------------------------------------------------------------------------------------------
Drop table IF EXISTS #AUX_BASE
SELECT * into #AUX_BASE from reportes.dbo.Modelo_Riesgo_MP_2024_Final_floats a where a.VARIABLE = 'BASE' and A.TIPO_MODELO = 'ORIGINAL'
-- SELECT * from #AUX_BASE

Drop table IF EXISTS #AUX_antig_cl_ase_rut_channel
SELECT * into #AUX_antig_cl_ase_rut_channel from reportes.dbo.Modelo_Riesgo_MP_2024_Final_floats a where a.VARIABLE = 'ANTIG_CL_ASE_RUT_CHANNEL_FIXED' and A.TIPO_MODELO = 'ORIGINAL'
-- SELECT * from #AUX_antig_cl_ase_rut_channel 

Drop table IF EXISTS #AUX_ANTVEH_calc
SELECT * into #AUX_ANTVEH_calc from reportes.dbo.Modelo_Riesgo_MP_2024_Final_floats a where a.VARIABLE = 'ANTVEH_calc' and A.TIPO_MODELO = 'ORIGINAL'
-- SELECT * from #AUX_ANTVEH_calc 

Drop table IF EXISTS #AUX_channel_to_emb_2024
SELECT * into #AUX_channel_to_emb_2024 from reportes.dbo.Modelo_Riesgo_MP_2024_Final_floats a where a.VARIABLE = 'CHANNEL_TO_EMB_2024' and A.TIPO_MODELO = 'ORIGINAL'
-- SELECT * from #AUX_channel_to_emb_2024

Drop table IF EXISTS #AUX_comuna_ase
SELECT * into #AUX_comuna_ase from reportes.dbo.Modelo_Riesgo_MP_2024_Final_floats a where a.VARIABLE = 'COMUNA_ASE' and A.TIPO_MODELO = 'ORIGINAL'
-- SELECT * from #AUX_comuna_ase

--Drop table IF EXISTS #AUX_cilindrada
--SELECT * into #AUX_cilindrada from reportes.dbo.Modelo_Riesgo_MP_2024_Final_floats a where a.VARIABLE = 'Cilindrada_agrupado' and A.TIPO_MODELO = 'ORIGINAL'
---- SELECT * from #AUX_comuna_ase

Drop table IF EXISTS #AUX_EDAD_ASE
SELECT * into #AUX_EDAD_ASE from reportes.dbo.Modelo_Riesgo_MP_2024_Final_floats a where a.VARIABLE = 'EDAD_ASE' and A.TIPO_MODELO = 'ORIGINAL'
-- SELECT * from #AUX_EDAD_ASE

Drop table IF EXISTS #AUX_GSE
SELECT * into #AUX_GSE from reportes.dbo.Modelo_Riesgo_MP_2024_Final_floats a where a.VARIABLE = 'GSE' and A.TIPO_MODELO = 'ORIGINAL'
-- SELECT * from #AUX_GSE

Drop table IF EXISTS #AUX_deducible
SELECT * into #AUX_deducible from reportes.dbo.Modelo_Riesgo_MP_2024_Final_floats a where a.VARIABLE = 'RF_deducible' and A.TIPO_MODELO = 'ORIGINAL'
-- SELECT * from #AUX_deducible

Drop table IF EXISTS #AUX_sini_tot_0_36
SELECT * into #AUX_sini_tot_0_36 from reportes.dbo.Modelo_Riesgo_MP_2024_Final_floats a where a.VARIABLE = 'RF_SINI_TOT_0_36' and A.TIPO_MODELO = 'ORIGINAL'
-- SELECT * from #AUX_sini_tot_0_36

Drop table IF EXISTS #AUX_rf_top100_2024
SELECT * into #AUX_rf_top100_2024 from reportes.dbo.Modelo_Riesgo_MP_2024_Final_floats a where a.VARIABLE = 'rf_top100_2024' and A.TIPO_MODELO = 'ORIGINAL'
-- SELECT * from #AUX_rf_top100_2024

Drop table IF EXISTS #AUX_Sexo
SELECT * into #AUX_Sexo from reportes.dbo.Modelo_Riesgo_MP_2024_Final_floats a where a.VARIABLE = 'Sexo_2' and A.TIPO_MODELO = 'ORIGINAL'
-- SELECT * from #AUX_Sexo

Drop table IF EXISTS #AUX_taller
SELECT * into #AUX_taller from reportes.dbo.Modelo_Riesgo_MP_2024_Final_floats a where a.VARIABLE = 'taller' and A.TIPO_MODELO = 'ORIGINAL'
-- SELECT * from #AUX_taller

Drop table IF EXISTS #AUX_Tasacion
SELECT * into #AUX_Tasacion from reportes.dbo.Modelo_Riesgo_MP_2024_Final_floats a where a.VARIABLE = 'Tasacion_agrupado' and A.TIPO_MODELO = 'ORIGINAL'
-- SELECT * from #AUX_Tasacion

Drop table IF EXISTS #AUX_TIPPLAN
SELECT * into #AUX_TIPPLAN from reportes.dbo.Modelo_Riesgo_MP_2024_Final_floats a where a.VARIABLE = 'TIPPLAN' and A.TIPO_MODELO = 'ORIGINAL'
-- SELECT * from #AUX_TIPPLAN

Drop table IF EXISTS #AUX_TIPO_VIGENCIA
SELECT * into #AUX_TIPO_VIGENCIA from reportes.dbo.Modelo_Riesgo_MP_2024_Final_floats a where a.VARIABLE = 'TIPO_VIGENCIA' and A.TIPO_MODELO = 'ORIGINAL'
-- SELECT * from #AUX_TIPO_VIGENCIA

Drop table IF EXISTS #AUX_Tipo_veh
SELECT * into #AUX_Tipo_veh from reportes.dbo.Modelo_Riesgo_MP_2024_Final_floats a where a.VARIABLE = 'Tipo_veh' and A.TIPO_MODELO = 'ORIGINAL'
-- SELECT * from #AUX_Tipo_veh

Drop table IF EXISTS #AUX_candidato_extranjero
SELECT * into #AUX_candidato_extranjero from reportes.dbo.Modelo_Riesgo_MP_2024_Final_floats a where a.VARIABLE = 'candidato_extranjero_fixed' and A.TIPO_MODELO = 'ORIGINAL'
-- SELECT * from #AUX_candidato_extranjero

Drop table IF EXISTS #AUX_ind_poliza_telematica
SELECT * into #AUX_ind_poliza_telematica from reportes.dbo.Modelo_Riesgo_MP_2024_Final_floats a where a.VARIABLE = 'ind_poliza_telematica' and A.TIPO_MODELO = 'ORIGINAL'
-- SELECT * from #AUX_ind_poliza_telematica

--+++++++ Interacciones +++++++--
Drop table IF EXISTS #AUX_INTER_EDAD_X_SEXO
SELECT * into #AUX_INTER_EDAD_X_SEXO from reportes.dbo.Modelo_Riesgo_MP_2024_Final_floats a where a.VARIABLE = 'INTER_EDAD_X_SEXO' and A.TIPO_MODELO = 'ORIGINAL'
-- SELECT * from #AUX_INTER_EDAD_X_SEXO

Drop table IF EXISTS #AUX_INTER_REGION_X_MARCA
SELECT * into #AUX_INTER_REGION_X_MARCA from reportes.dbo.Modelo_Riesgo_MP_2024_Final_floats a where a.VARIABLE = 'INTER_REGION_X_MARCA' and A.TIPO_MODELO = 'ORIGINAL'
-- SELECT * from #AUX_INTER_EDAD_X_SEXO

Drop table IF EXISTS #AUX_INTER_EDAD_X_TIPO_VEH
SELECT * into #AUX_INTER_EDAD_X_TIPO_VEH from reportes.dbo.Modelo_Riesgo_MP_2024_Final_floats a where a.VARIABLE = 'INTER_EDAD_X_TIPO_VEH' and A.TIPO_MODELO = 'ORIGINAL'
-- SELECT * from #AUX_INTER_EDAD_X_SEXO

Drop table IF EXISTS #AUX_INTER_TASACION_X_ANTVEH
SELECT * into #AUX_INTER_TASACION_X_ANTVEH from reportes.dbo.Modelo_Riesgo_MP_2024_Final_floats a where a.VARIABLE = 'INTER_TASACION_X_ANTVEH' and A.TIPO_MODELO = 'ORIGINAL'
-- SELECT * from #AUX_INTER_EDAD_X_SEXO

Drop table IF EXISTS #AUX_INTER_SEXO_X_TIPO_VEH
SELECT * into #AUX_INTER_SEXO_X_TIPO_VEH from reportes.dbo.Modelo_Riesgo_MP_2024_Final_floats a where a.VARIABLE = 'INTER_SEXO_X_TIPO_VEH' and A.TIPO_MODELO = 'ORIGINAL'
-- SELECT * from #AUX_INTER_EDAD_X_SEXO

Drop table IF EXISTS #AUX_INTER_TIPO_VEH_X_GSE
SELECT * into #AUX_INTER_TIPO_VEH_X_GSE from reportes.dbo.Modelo_Riesgo_MP_2024_Final_floats a where a.VARIABLE = 'INTER_TIPO_VEH_X_GSE' and A.TIPO_MODELO = 'ORIGINAL'
-- SELECT * from #AUX_INTER_EDAD_X_SEXO

Drop table IF EXISTS #AUX_INTER_MARCA_X_ANTVEH
SELECT * into #AUX_INTER_MARCA_X_ANTVEH from reportes.dbo.Modelo_Riesgo_MP_2024_Final_floats a where a.VARIABLE = 'INTER_MARCA_X_ANTVEH' and A.TIPO_MODELO = 'ORIGINAL'
-- SELECT * from #AUX_INTER_EDAD_X_SEXO

--+++++++ Variable Temporal +++++++--
Drop table IF EXISTS #AUX_Period
SELECT * into #AUX_Period from reportes.dbo.Modelo_Riesgo_MP_2024_Final_floats a where a.VARIABLE = 'PER_ANIOTRIM' and A.TIPO_MODELO = 'ORIGINAL'
-- SELECT * from #AUX_Period


--+++++++ Calibraciones +++++++--
Drop table IF EXISTS #AUX_Calib_Salida_Akur8
SELECT * into #AUX_Calib_Salida_Akur8 from reportes.dbo.Modelo_Riesgo_MP_2024_Final_floats a where a.VARIABLE = 'BASE' and A.TIPO_MODELO = 'Calibracion' and A.NOMBRE_MODELO = 'Calib_Salida_Akur8'
-- SELECT * from #AUX_Calib_Salida_Akur8

Drop table IF EXISTS #AUX_Calib_2024Q4
SELECT * into #AUX_Calib_2024Q4 from reportes.dbo.Modelo_Riesgo_MP_2024_Final_floats a where a.VARIABLE = 'CANAL_PYG' and A.TIPO_MODELO = 'Calibracion' and A.NOMBRE_MODELO = 'Calib_2024Q4'
-- SELECT * from #AUX_Calib_2024Q4


------------------------------------------------------------------------------------------------------------------------------------
----------------------------------------- QUERY DE JOINS Rating Factors de MODELO 2024 ---------------------------------------------
------------------------------------------------------------------------------------------------------------------------------------
drop table IF EXISTS #TABLA_1
Select distinct a.*
	-----------    FRECUENCIA  ---------------------
	,Z.FREC_DP AS FREC_DP_BASE
	,b.FREC_DP AS FREC_DP_ANTIG_CL
	,c.FREC_DP AS FREC_DP_ANTVEH
	,d.FREC_DP AS FREC_DP_CHANNEL_EMB
	,e.FREC_DP AS FREC_DP_COMUNA_ASE
	--,f.FREC_DP AS FREC_DP_CILINDRADA 
	,g.FREC_DP AS FREC_DP_EDAD_ASE
	,h.FREC_DP AS FREC_DP_GSE
	,i.FREC_DP AS FREC_DP_DEDUCIBLE
	,j.FREC_DP AS FREC_DP_SINI_0_36
	,k.FREC_DP AS FREC_DP_RF_TOP100
	,l.FREC_DP AS FREC_DP_SEXO
	,m.FREC_DP AS FREC_DP_TALLER
	,n.FREC_DP AS FREC_DP_TASACION
	,o.FREC_DP AS FREC_DP_TIPPLAN
	,p.FREC_DP AS FREC_DP_TIPO_VIG
	,q.FREC_DP AS FREC_DP_TIPO_VEH
	,r.FREC_DP AS FREC_DP_CAND_EXT
	,s.FREC_DP AS FREC_DP_POL_TELEMAT
	,t.FREC_DP AS FREC_DP_Period
	,x.FREC_DP AS FREC_DP_Calib_Salida_Akur8
	,y.FREC_DP AS FREC_DP_Calib_2024Q4
	,int1.FREC_DP AS FREC_DP_INTER_EDAD_X_SEXO
	,int2.FREC_DP AS FREC_DP_INTER_REGION_X_MARCA
	,int3.FREC_DP AS FREC_DP_INTER_EDAD_X_TIPO_VEH
	,int4.FREC_DP AS FREC_DP_INTER_TASACION_X_ANTVEH
	,int5.FREC_DP AS FREC_DP_INTER_SEXO_X_TIPO_VEH
	,int6.FREC_DP AS FREC_DP_INTER_TIPO_VEH_X_GSE
	,int7.FREC_DP AS FREC_DP_INTER_MARCA_X_ANTVEH

	,Z.FREC_PT AS FREC_PT_BASE
	,b.FREC_PT AS FREC_PT_ANTIG_CL
	,c.FREC_PT AS FREC_PT_ANTVEH
	,d.FREC_PT AS FREC_PT_CHANNEL_EMB
	,e.FREC_PT AS FREC_PT_COMUNA_ASE
	--,f.FREC_PT AS FREC_PT_CILINDRADA 
	,g.FREC_PT AS FREC_PT_EDAD_ASE
	,h.FREC_PT AS FREC_PT_GSE
	,i.FREC_PT AS FREC_PT_DEDUCIBLE
	,j.FREC_PT AS FREC_PT_SINI_0_36
	,k.FREC_PT AS FREC_PT_RF_TOP100
	,l.FREC_PT AS FREC_PT_SEXO
	,m.FREC_PT AS FREC_PT_TALLER
	,n.FREC_PT AS FREC_PT_TASACION
	,o.FREC_PT AS FREC_PT_TIPPLAN
	,p.FREC_PT AS FREC_PT_TIPO_VIG
	,q.FREC_PT AS FREC_PT_TIPO_VEH
	,r.FREC_PT AS FREC_PT_CAND_EXT
	,s.FREC_PT AS FREC_PT_POL_TELEMAT
	,t.FREC_PT AS FREC_PT_Period
	,x.FREC_PT AS FREC_PT_Calib_Salida_Akur8
	,y.FREC_PT AS FREC_PT_Calib_2024Q4
	,int1.FREC_PT AS FREC_PT_INTER_EDAD_X_SEXO
	,int2.FREC_PT AS FREC_PT_INTER_REGION_X_MARCA
	,int3.FREC_PT AS FREC_PT_INTER_EDAD_X_TIPO_VEH
	,int4.FREC_PT AS FREC_PT_INTER_TASACION_X_ANTVEH
	,int5.FREC_PT AS FREC_PT_INTER_SEXO_X_TIPO_VEH
	,int6.FREC_PT AS FREC_PT_INTER_TIPO_VEH_X_GSE
	,int7.FREC_PT AS FREC_PT_INTER_MARCA_X_ANTVEH

	,Z.FREC_RC AS FREC_RC_BASE
	,b.FREC_RC AS FREC_RC_ANTIG_CL
	,c.FREC_RC AS FREC_RC_ANTVEH
	,d.FREC_RC AS FREC_RC_CHANNEL_EMB
	,e.FREC_RC AS FREC_RC_COMUNA_ASE
	--,f.FREC_RC AS FREC_RC_CILINDRADA 
	,g.FREC_RC AS FREC_RC_EDAD_ASE
	,h.FREC_RC AS FREC_RC_GSE
	,i.FREC_RC AS FREC_RC_DEDUCIBLE
	,j.FREC_RC AS FREC_RC_SINI_0_36
	,k.FREC_RC AS FREC_RC_RF_TOP100
	,l.FREC_RC AS FREC_RC_SEXO
	,m.FREC_RC AS FREC_RC_TALLER
	,n.FREC_RC AS FREC_RC_TASACION
	,o.FREC_RC AS FREC_RC_TIPPLAN
	,p.FREC_RC AS FREC_RC_TIPO_VIG
	,q.FREC_RC AS FREC_RC_TIPO_VEH
	,r.FREC_RC AS FREC_RC_CAND_EXT
	,s.FREC_RC AS FREC_RC_POL_TELEMAT
	,t.FREC_RC AS FREC_RC_Period
	,x.FREC_RC AS FREC_RC_Calib_Salida_Akur8
	,y.FREC_RC AS FREC_RC_Calib_2024Q4
	,int1.FREC_RC AS FREC_RC_INTER_EDAD_X_SEXO
	,int2.FREC_RC AS FREC_RC_INTER_REGION_X_MARCA
	,int3.FREC_RC AS FREC_RC_INTER_EDAD_X_TIPO_VEH
	,int4.FREC_RC AS FREC_RC_INTER_TASACION_X_ANTVEH
	,int5.FREC_RC AS FREC_RC_INTER_SEXO_X_TIPO_VEH
	,int6.FREC_RC AS FREC_RC_INTER_TIPO_VEH_X_GSE
	,int7.FREC_RC AS FREC_RC_INTER_MARCA_X_ANTVEH

	,Z.FREC_ROBO AS FREC_ROBO_BASE
	,b.FREC_ROBO AS FREC_ROBO_ANTIG_CL
	,c.FREC_ROBO AS FREC_ROBO_ANTVEH
	,d.FREC_ROBO AS FREC_ROBO_CHANNEL_EMB
	,e.FREC_ROBO AS FREC_ROBO_COMUNA_ASE
	--,f.FREC_ROBO AS FREC_ROBO_CILINDRADA 
	,g.FREC_ROBO AS FREC_ROBO_EDAD_ASE
	,h.FREC_ROBO AS FREC_ROBO_GSE
	,i.FREC_ROBO AS FREC_ROBO_DEDUCIBLE
	,j.FREC_ROBO AS FREC_ROBO_SINI_0_36
	,k.FREC_ROBO AS FREC_ROBO_RF_TOP100
	,l.FREC_ROBO AS FREC_ROBO_SEXO
	,m.FREC_ROBO AS FREC_ROBO_TALLER
	,n.FREC_ROBO AS FREC_ROBO_TASACION
	,o.FREC_ROBO AS FREC_ROBO_TIPPLAN
	,p.FREC_ROBO AS FREC_ROBO_TIPO_VIG
	,q.FREC_ROBO AS FREC_ROBO_TIPO_VEH
	,r.FREC_ROBO AS FREC_ROBO_CAND_EXT
	,s.FREC_ROBO AS FREC_ROBO_POL_TELEMAT
	,t.FREC_ROBO AS FREC_ROBO_Period
	,x.FREC_ROBO AS FREC_ROBO_Calib_Salida_Akur8
	,y.FREC_ROBO AS FREC_ROBO_Calib_2024Q4
	,int1.FREC_ROBO AS FREC_ROBO_INTER_EDAD_X_SEXO
	,int2.FREC_ROBO AS FREC_ROBO_INTER_REGION_X_MARCA
	,int3.FREC_ROBO AS FREC_ROBO_INTER_EDAD_X_TIPO_VEH
	,int4.FREC_ROBO AS FREC_ROBO_INTER_TASACION_X_ANTVEH
	,int5.FREC_ROBO AS FREC_ROBO_INTER_SEXO_X_TIPO_VEH
	,int6.FREC_ROBO AS FREC_ROBO_INTER_TIPO_VEH_X_GSE
	,int7.FREC_ROBO AS FREC_ROBO_INTER_MARCA_X_ANTVEH

	-----------    SEVERIDAD   ---------------------
	,Z.SEV_DP AS SEV_DP_BASE
	,b.SEV_DP AS SEV_DP_ANTIG_CL
	,c.SEV_DP AS SEV_DP_ANTVEH
	,d.SEV_DP AS SEV_DP_CHANNEL_EMB
	,e.SEV_DP AS SEV_DP_COMUNA_ASE
	--,f.SEV_DP AS SEV_DP_CILINDRADA 
	,g.SEV_DP AS SEV_DP_EDAD_ASE
	,h.SEV_DP AS SEV_DP_GSE
	,i.SEV_DP AS SEV_DP_DEDUCIBLE
	,j.SEV_DP AS SEV_DP_SINI_0_36
	,k.SEV_DP AS SEV_DP_RF_TOP100
	,l.SEV_DP AS SEV_DP_SEXO
	,m.SEV_DP AS SEV_DP_TALLER
	,n.SEV_DP AS SEV_DP_TASACION
	,o.SEV_DP AS SEV_DP_TIPPLAN
	,p.SEV_DP AS SEV_DP_TIPO_VIG
	,q.SEV_DP AS SEV_DP_TIPO_VEH
	,r.SEV_DP AS SEV_DP_CAND_EXT
	,s.SEV_DP AS SEV_DP_POL_TELEMAT
	,t.SEV_DP AS SEV_DP_Period
	,x.SEV_DP AS SEV_DP_Calib_Salida_Akur8
	,y.SEV_DP AS SEV_DP_Calib_2024Q4
	,int1.SEV_DP AS SEV_DP_INTER_EDAD_X_SEXO
	,int2.SEV_DP AS SEV_DP_INTER_REGION_X_MARCA
	,int3.SEV_DP AS SEV_DP_INTER_EDAD_X_TIPO_VEH
	,int4.SEV_DP AS SEV_DP_INTER_TASACION_X_ANTVEH
	,int5.SEV_DP AS SEV_DP_INTER_SEXO_X_TIPO_VEH
	,int6.SEV_DP AS SEV_DP_INTER_TIPO_VEH_X_GSE
	,int7.SEV_DP AS SEV_DP_INTER_MARCA_X_ANTVEH

	,Z.SEV_PT AS SEV_PT_BASE
	,b.SEV_PT AS SEV_PT_ANTIG_CL
	,c.SEV_PT AS SEV_PT_ANTVEH
	,d.SEV_PT AS SEV_PT_CHANNEL_EMB
	,e.SEV_PT AS SEV_PT_COMUNA_ASE
	--,f.SEV_PT AS SEV_PT_CILINDRADA
	,g.SEV_PT AS SEV_PT_EDAD_ASE
	,h.SEV_PT AS SEV_PT_GSE
	,i.SEV_PT AS SEV_PT_DEDUCIBLE
	,j.SEV_PT AS SEV_PT_SINI_0_36
	,k.SEV_PT AS SEV_PT_RF_TOP100
	,l.SEV_PT AS SEV_PT_SEXO
	,m.SEV_PT AS SEV_PT_TALLER
	,n.SEV_PT AS SEV_PT_TASACION
	,o.SEV_PT AS SEV_PT_TIPPLAN
	,p.SEV_PT AS SEV_PT_TIPO_VIG
	,q.SEV_PT AS SEV_PT_TIPO_VEH
	,r.SEV_PT AS SEV_PT_CAND_EXT
	,s.SEV_PT AS SEV_PT_POL_TELEMAT
	,t.SEV_PT AS SEV_PT_Period
	,x.SEV_PT AS SEV_PT_Calib_Salida_Akur8
	,y.SEV_PT AS SEV_PT_Calib_2024Q4
	,int1.SEV_PT AS SEV_PT_INTER_EDAD_X_SEXO
	,int2.SEV_PT AS SEV_PT_INTER_REGION_X_MARCA
	,int3.SEV_PT AS SEV_PT_INTER_EDAD_X_TIPO_VEH
	,int4.SEV_PT AS SEV_PT_INTER_TASACION_X_ANTVEH
	,int5.SEV_PT AS SEV_PT_INTER_SEXO_X_TIPO_VEH
	,int6.SEV_PT AS SEV_PT_INTER_TIPO_VEH_X_GSE
	,int7.SEV_PT AS SEV_PT_INTER_MARCA_X_ANTVEH

	,Z.SEV_RC AS SEV_RC_BASE
	,b.SEV_RC AS SEV_RC_ANTIG_CL
	,c.SEV_RC AS SEV_RC_ANTVEH
	,d.SEV_RC AS SEV_RC_CHANNEL_EMB
	,e.SEV_RC AS SEV_RC_COMUNA_ASE
	--f.SEV_RC AS SEV_RC_CILINDRADA
	,g.SEV_RC AS SEV_RC_EDAD_ASE
	,h.SEV_RC AS SEV_RC_GSE
	,i.SEV_RC AS SEV_RC_DEDUCIBLE
	,j.SEV_RC AS SEV_RC_SINI_0_36
	,k.SEV_RC AS SEV_RC_RF_TOP100
	,l.SEV_RC AS SEV_RC_SEXO
	,m.SEV_RC AS SEV_RC_TALLER
	,n.SEV_RC AS SEV_RC_TASACION
	,o.SEV_RC AS SEV_RC_TIPPLAN
	,p.SEV_RC AS SEV_RC_TIPO_VIG
	,q.SEV_RC AS SEV_RC_TIPO_VEH
	,r.SEV_RC AS SEV_RC_CAND_EXT
	,s.SEV_RC AS SEV_RC_POL_TELEMAT
	,t.SEV_RC AS SEV_RC_Period
	,x.SEV_RC AS SEV_RC_Calib_Salida_Akur8
	,y.SEV_RC AS SEV_RC_Calib_2024Q4
	,int1.SEV_RC AS SEV_RC_INTER_EDAD_X_SEXO
	,int2.SEV_RC AS SEV_RC_INTER_REGION_X_MARCA
	,int3.SEV_RC AS SEV_RC_INTER_EDAD_X_TIPO_VEH
	,int4.SEV_RC AS SEV_RC_INTER_TASACION_X_ANTVEH
	,int5.SEV_RC AS SEV_RC_INTER_SEXO_X_TIPO_VEH
	,int6.SEV_RC AS SEV_RC_INTER_TIPO_VEH_X_GSE
	,int7.SEV_RC AS SEV_RC_INTER_MARCA_X_ANTVEH

	,Z.SEV_ROBO AS SEV_ROBO_BASE
	,b.SEV_ROBO AS SEV_ROBO_ANTIG_CL
	,c.SEV_ROBO AS SEV_ROBO_ANTVEH
	,d.SEV_ROBO AS SEV_ROBO_CHANNEL_EMB
	,e.SEV_ROBO AS SEV_ROBO_COMUNA_ASE
	--,f.SEV_ROBO AS SEV_ROBO_CILINDRADA
	,g.SEV_ROBO AS SEV_ROBO_EDAD_ASE
	,h.SEV_ROBO AS SEV_ROBO_GSE
	,i.SEV_ROBO AS SEV_ROBO_DEDUCIBLE
	,j.SEV_ROBO AS SEV_ROBO_SINI_0_36
	,k.SEV_ROBO AS SEV_ROBO_RF_TOP100
	,l.SEV_ROBO AS SEV_ROBO_SEXO
	,m.SEV_ROBO AS SEV_ROBO_TALLER
	,n.SEV_ROBO AS SEV_ROBO_TASACION
	,o.SEV_ROBO AS SEV_ROBO_TIPPLAN
	,p.SEV_ROBO AS SEV_ROBO_TIPO_VIG
	,q.SEV_ROBO AS SEV_ROBO_TIPO_VEH
	,r.SEV_ROBO AS SEV_ROBO_CAND_EXT
	,s.SEV_ROBO AS SEV_ROBO_POL_TELEMAT
	,t.SEV_ROBO AS SEV_ROBO_Period
	,x.SEV_ROBO AS SEV_ROBO_Calib_Salida_Akur8
	,y.SEV_ROBO AS SEV_ROBO_Calib_2024Q4
	,int1.SEV_ROBO AS SEV_ROBO_INTER_EDAD_X_SEXO
	,int2.SEV_ROBO AS SEV_ROBO_INTER_REGION_X_MARCA
	,int3.SEV_ROBO AS SEV_ROBO_INTER_EDAD_X_TIPO_VEH
	,int4.SEV_ROBO AS SEV_ROBO_INTER_TASACION_X_ANTVEH
	,int5.SEV_ROBO AS SEV_ROBO_INTER_SEXO_X_TIPO_VEH
	,int6.SEV_ROBO AS SEV_ROBO_INTER_TIPO_VEH_X_GSE
	,int7.SEV_ROBO AS SEV_ROBO_INTER_MARCA_X_ANTVEH

	,FREC_DP_2024_period     = z.FREC_DP * b.FREC_DP * c.FREC_DP * d.FREC_DP * e.FREC_DP * g.FREC_DP * h.FREC_DP * i.FREC_DP * j.FREC_DP * k.FREC_DP * l.FREC_DP * m.FREC_DP * n.FREC_DP * o.FREC_DP * p.FREC_DP * q.FREC_DP * r.FREC_DP * s.FREC_DP * t.FREC_DP * x.FREC_DP * int1.FREC_DP * int2.FREC_DP * int3.FREC_DP * int4.FREC_DP * int5.FREC_DP * int6.FREC_DP * int7.FREC_DP
	,FREC_PT_2024_period     = z.FREC_PT * b.FREC_PT * c.FREC_PT * d.FREC_PT * e.FREC_PT * g.FREC_PT * h.FREC_PT * i.FREC_PT * j.FREC_PT * k.FREC_PT * l.FREC_PT * m.FREC_PT * n.FREC_PT * o.FREC_PT * p.FREC_PT * q.FREC_PT * r.FREC_PT * s.FREC_PT * t.FREC_PT * x.FREC_PT * int1.FREC_PT * int2.FREC_PT * int3.FREC_PT * int4.FREC_PT * int5.FREC_PT * int6.FREC_PT * int7.FREC_PT
	,FREC_RC_2024_period 	= z.FREC_RC * b.FREC_RC * c.FREC_RC * d.FREC_RC * e.FREC_RC * g.FREC_RC * h.FREC_RC * i.FREC_RC * j.FREC_RC * k.FREC_RC * l.FREC_RC * m.FREC_RC * n.FREC_RC * o.FREC_RC * p.FREC_RC * q.FREC_RC * r.FREC_RC * s.FREC_RC * t.FREC_RC * x.FREC_RC * int1.FREC_RC * int2.FREC_RC * int3.FREC_RC * int4.FREC_RC * int5.FREC_RC * int6.FREC_RC * int7.FREC_RC
	,FREC_ROBO_2024_period   = z.FREC_ROBO * b.FREC_ROBO * c.FREC_ROBO * d.FREC_ROBO * e.FREC_ROBO * g.FREC_ROBO * h.FREC_ROBO * i.FREC_ROBO * j.FREC_ROBO * k.FREC_ROBO * l.FREC_ROBO * m.FREC_ROBO * n.FREC_ROBO * o.FREC_ROBO * p.FREC_ROBO * q.FREC_ROBO * r.FREC_ROBO * s.FREC_ROBO * t.FREC_ROBO * x.FREC_ROBO * int1.FREC_ROBO * int2.FREC_ROBO * int3.FREC_ROBO * int4.FREC_ROBO * int5.FREC_ROBO * int6.FREC_ROBO * int7.FREC_ROBO
	,SEV_DP_2024_period      = z.SEV_DP * b.SEV_DP * c.SEV_DP * d.SEV_DP * e.SEV_DP * g.SEV_DP * h.SEV_DP * i.SEV_DP * j.SEV_DP * k.SEV_DP * l.SEV_DP * m.SEV_DP * n.SEV_DP * o.SEV_DP * p.SEV_DP * q.SEV_DP * r.SEV_DP * s.SEV_DP * t.SEV_DP * x.SEV_DP * int1.SEV_DP * int2.SEV_DP * int3.SEV_DP * int4.SEV_DP * int5.SEV_DP * int6.SEV_DP * int7.SEV_DP
	,SEV_PT_2024_period      = z.SEV_PT * b.SEV_PT * c.SEV_PT * d.SEV_PT * e.SEV_PT * g.SEV_PT * h.SEV_PT * i.SEV_PT * j.SEV_PT * k.SEV_PT * l.SEV_PT * m.SEV_PT * n.SEV_PT * o.SEV_PT * p.SEV_PT * q.SEV_PT * r.SEV_PT * s.SEV_PT * t.SEV_PT * x.SEV_PT * int1.SEV_PT * int2.SEV_PT * int3.SEV_PT * int4.SEV_PT * int5.SEV_PT * int6.SEV_PT * int7.SEV_PT
	,SEV_RC_2024_period 		= z.SEV_RC * b.SEV_RC * c.SEV_RC * d.SEV_RC * e.SEV_RC * g.SEV_RC * h.SEV_RC * i.SEV_RC * j.SEV_RC * k.SEV_RC * l.SEV_RC * m.SEV_RC * n.SEV_RC * o.SEV_RC * p.SEV_RC * q.SEV_RC * r.SEV_RC * s.SEV_RC * t.SEV_RC * x.SEV_RC * int1.SEV_RC * int2.SEV_RC * int3.SEV_RC * int4.SEV_RC * int5.SEV_RC * int6.SEV_RC * int7.SEV_RC
	,SEV_ROBO_2024_period    = z.SEV_ROBO * b.SEV_ROBO * c.SEV_ROBO * d.SEV_ROBO * e.SEV_ROBO * g.SEV_ROBO * h.SEV_ROBO * i.SEV_ROBO * j.SEV_ROBO * k.SEV_ROBO * l.SEV_ROBO * m.SEV_ROBO * n.SEV_ROBO * o.SEV_ROBO * p.SEV_ROBO * q.SEV_ROBO * r.SEV_ROBO * s.SEV_ROBO * t.SEV_ROBO * x.SEV_ROBO * int1.SEV_ROBO * int2.SEV_ROBO * int3.SEV_ROBO * int4.SEV_ROBO * int5.SEV_ROBO * int6.SEV_ROBO * int7.SEV_ROBO

	-- se puede quitar el periodo simplemente eliminando dicho factor de la multiplicación, pero solo por que esta pivoteado en el ultimo periodo 2024Q2, 
	-- en caso que no este pivoteado, se debe, recalibrar el intercepto del modelo
	-- calibración en base a ultimo periodo 2024Q4
	,FREC_DP_2024			= z.FREC_DP * b.FREC_DP * c.FREC_DP * d.FREC_DP * e.FREC_DP * g.FREC_DP * h.FREC_DP * i.FREC_DP * j.FREC_DP * k.FREC_DP * l.FREC_DP * m.FREC_DP * n.FREC_DP * o.FREC_DP * p.FREC_DP * q.FREC_DP * r.FREC_DP * s.FREC_DP * y.FREC_DP * int1.FREC_DP * int2.FREC_DP * int3.FREC_DP * int4.FREC_DP * int5.FREC_DP * int6.FREC_DP * int7.FREC_DP
	,FREC_PT_2024			= z.FREC_PT * b.FREC_PT * c.FREC_PT * d.FREC_PT * e.FREC_PT * g.FREC_PT * h.FREC_PT * i.FREC_PT * j.FREC_PT * k.FREC_PT * l.FREC_PT * m.FREC_PT * n.FREC_PT * o.FREC_PT * p.FREC_PT * q.FREC_PT * r.FREC_PT * s.FREC_PT * y.FREC_PT * int1.FREC_PT * int2.FREC_PT * int3.FREC_PT * int4.FREC_PT * int5.FREC_PT * int6.FREC_PT * int7.FREC_PT
	,FREC_RC_2024			= z.FREC_RC * b.FREC_RC * c.FREC_RC * d.FREC_RC * e.FREC_RC * g.FREC_RC * h.FREC_RC * i.FREC_RC * j.FREC_RC * k.FREC_RC * l.FREC_RC * m.FREC_RC * n.FREC_RC * o.FREC_RC * p.FREC_RC * q.FREC_RC * r.FREC_RC * s.FREC_RC * y.FREC_RC * int1.FREC_RC * int2.FREC_RC * int3.FREC_RC * int4.FREC_RC * int5.FREC_RC * int6.FREC_RC * int7.FREC_RC
	,FREC_ROBO_2024			= z.FREC_ROBO * b.FREC_ROBO * c.FREC_ROBO * d.FREC_ROBO * e.FREC_ROBO * g.FREC_ROBO * h.FREC_ROBO * i.FREC_ROBO * j.FREC_ROBO * k.FREC_ROBO * l.FREC_ROBO * m.FREC_ROBO * n.FREC_ROBO * o.FREC_ROBO * p.FREC_ROBO * q.FREC_ROBO * r.FREC_ROBO * s.FREC_ROBO * y.FREC_ROBO * int1.FREC_ROBO * int2.FREC_ROBO * int3.FREC_ROBO * int4.FREC_ROBO * int5.FREC_ROBO * int6.FREC_ROBO * int7.FREC_ROBO
	,SEV_DP_2024				= z.SEV_DP * b.SEV_DP * c.SEV_DP * d.SEV_DP * e.SEV_DP * g.SEV_DP * h.SEV_DP * i.SEV_DP * j.SEV_DP * k.SEV_DP * l.SEV_DP * m.SEV_DP * n.SEV_DP * o.SEV_DP * p.SEV_DP * q.SEV_DP * r.SEV_DP * s.SEV_DP * y.SEV_DP * int1.SEV_DP * int2.SEV_DP * int3.SEV_DP * int4.SEV_DP * int5.SEV_DP * int6.SEV_DP * int7.SEV_DP
	,SEV_PT_2024				= z.SEV_PT * b.SEV_PT * c.SEV_PT * d.SEV_PT * e.SEV_PT * g.SEV_PT * h.SEV_PT * i.SEV_PT * j.SEV_PT * k.SEV_PT * l.SEV_PT * m.SEV_PT * n.SEV_PT * o.SEV_PT * p.SEV_PT * q.SEV_PT * r.SEV_PT * s.SEV_PT * y.SEV_PT * int1.SEV_PT * int2.SEV_PT * int3.SEV_PT * int4.SEV_PT * int5.SEV_PT * int6.SEV_PT * int7.SEV_PT
	,SEV_RC_2024 			= z.SEV_RC * b.SEV_RC * c.SEV_RC * d.SEV_RC * e.SEV_RC * g.SEV_RC * h.SEV_RC * i.SEV_RC * j.SEV_RC * k.SEV_RC * l.SEV_RC * m.SEV_RC * n.SEV_RC * o.SEV_RC * p.SEV_RC * q.SEV_RC * r.SEV_RC * s.SEV_RC * y.SEV_RC * int1.SEV_RC * int2.SEV_RC * int3.SEV_RC * int4.SEV_RC * int5.SEV_RC * int6.SEV_RC * int7.SEV_RC
	,SEV_ROBO_2024			= z.SEV_ROBO * b.SEV_ROBO * c.SEV_ROBO * d.SEV_ROBO * e.SEV_ROBO * g.SEV_ROBO * h.SEV_ROBO * i.SEV_ROBO * j.SEV_ROBO * k.SEV_ROBO * l.SEV_ROBO * m.SEV_ROBO * n.SEV_ROBO * o.SEV_ROBO * p.SEV_ROBO * q.SEV_ROBO * r.SEV_ROBO * s.SEV_ROBO * y.SEV_ROBO * int1.SEV_ROBO * int2.SEV_ROBO * int3.SEV_ROBO * int4.SEV_ROBO * int5.SEV_ROBO * int6.SEV_ROBO * int7.SEV_ROBO

into #TABLA_1
--FROM #Aux_parches_temp a
FROM #TABLA_0 a

left join #AUX_BASE								z		on IIF(1 > 0, 'BASE', 'BASE')						=		z.VALOR_VARIABLE
left join #AUX_Calib_Salida_Akur8				x		on IIF(1 > 0, 'BASE', 'BASE')						=		x.VALOR_VARIABLE
left join #AUX_Calib_2024Q4						y		on IIF(CANAL_PYG not in ('AFFINITY', 'CANAL DIRECTO', 'CANAL ASESOR'), 'RESTO', CANAL_PYG)			=		y.VALOR_VARIABLE
left join #AUX_antig_cl_ase_rut_channel			b		on a.ANTIG_CL_ASE_CHANNEL							=		b.VALOR_VARIABLE
left join #AUX_ANTVEH_calc						c		on a.ANTVEH 										=		c.VALOR_VARIABLE 
left join #AUX_channel_to_emb_2024				d		on a.CHANNEL_TO_EMB_2024							=		d.VALOR_VARIABLE
left join #AUX_comuna_ase						e		on a.COMUNA											=		e.VALOR_VARIABLE
left join #AUX_EDAD_ASE							g		on a.EDAD 											=		g.VALOR_VARIABLE 
left join #AUX_GSE								h		on a.GSE											=		h.VALOR_VARIABLE 
left join #AUX_deducible						i		on a.DEDUCIBLE										=		i.VALOR_VARIABLE 
left join #AUX_sini_tot_0_36					j		on a.SiniTot_0_36 									=		j.VALOR_VARIABLE
left join #AUX_rf_top100_2024					k		on a.RF_TOP100_2024									=		k.VALOR_VARIABLE 
left join #AUX_Sexo								l		on a.SEXO											=		l.VALOR_VARIABLE
left join #AUX_taller							m		on a.Taller											=		m.VALOR_VARIABLE
left join #AUX_Tasacion							n		on a.Tasacion_agrupado								=		n.VALOR_VARIABLE 
left join #AUX_TIPPLAN							o		on a.tipo_producto	 								=		o.VALOR_VARIABLE
left join #AUX_TIPO_VIGENCIA					p		on a.tipo_vigencia									=		p.VALOR_VARIABLE
left join #AUX_Tipo_veh							q		on a.tipo_veh	 									=		q.VALOR_VARIABLE
left join #AUX_candidato_extranjero				r		on a.CANDIDATO_EXTRANJERO							=		r.VALOR_VARIABLE
left join #AUX_ind_poliza_telematica			s		on a.ind_poliza_telematica	 						=		s.VALOR_VARIABLE
left join #AUX_period							t		on IIF(a.PER_ANIOTRIM like '%2025%', '2024Q4', a.PER_ANIOTRIM)	=		t.VALOR_VARIABLE
left join #AUX_INTER_EDAD_X_SEXO				int1	on IIF(a.EDAD = 'UNKNOWN' or a.SEXO = 'UNKNOWN', 'UNKNOWN', concat(a.EDAD, '_X_', a.SEXO))				=		int1.VALOR_VARIABLE
left join #AUX_INTER_REGION_X_MARCA				int2	on IIF(a.MARCA = 'UNKNOWN' or a.MARCA is null or a.MARCA = '                                        ' or a.REGION_ASE = 'UNKNOWN', 'UNKNOWN', concat(RTRIM(a.MARCA), '_X_', RTRIM(a.REGION_ASE)))		=		int2.VALOR_VARIABLE
left join #AUX_INTER_EDAD_X_TIPO_VEH			int3	on IIF(a.EDAD = 'UNKNOWN' or a.tipo_veh = 'UNKNOWN', 'UNKNOWN', concat(a.EDAD, '_X_', a.tipo_veh))	 	=		int3.VALOR_VARIABLE
left join #AUX_INTER_TASACION_X_ANTVEH			int4	on IIF(a.Tasacion_agrupado= 'UNKNOWN' or a.ANTVEH = 'UNKNOWN', 'UNKNOWN', concat(a.Tasacion_agrupado, '_X_', a.ANTVEH))	=		int4.VALOR_VARIABLE
left join #AUX_INTER_SEXO_X_TIPO_VEH			int5	on IIF(a.tipo_veh = 'UNKNOWN' or a.SEXO = 'UNKNOWN', 'UNKNOWN', concat(a.tipo_veh, '_X_', a.SEXO))		=		int5.VALOR_VARIABLE
left join #AUX_INTER_TIPO_VEH_X_GSE				int6	on IIF(a.tipo_veh = 'UNKNOWN' or a.GSE = 'UNKNOWN', 'UNKNOWN', concat(a.tipo_veh, '_X_', a.GSE))		=		int6.VALOR_VARIABLE
left join #AUX_INTER_MARCA_X_ANTVEH				int7	on IIF(a.MARCA = 'UNKNOWN' or a.ANTVEH = 'UNKNOWN', 'UNKNOWN', concat(RTRIM(a.MARCA), '_X_', a.ANTVEH)) =		int7.VALOR_VARIABLE
--(706.139  rows affected)


--BORRAR TABLAS TEMPORALES PARA LIBERAR ESPACIO
DROP TABLE IF EXISTS #AUX_BASE
DROP TABLE IF EXISTS #AUX_Calib_Salida_Akur8
DROP TABLE IF EXISTS #AUX_Calib_2024Q4
DROP TABLE IF EXISTS #AUX_antig_cl_ase_rut_channel
DROP TABLE IF EXISTS #AUX_ANTVEH_calc
DROP TABLE IF EXISTS #AUX_channel_to_emb_2024
DROP TABLE IF EXISTS #AUX_comuna_ase
DROP TABLE IF EXISTS #AUX_EDAD_ASE
DROP TABLE IF EXISTS #AUX_GSE
DROP TABLE IF EXISTS #AUX_deducible
DROP TABLE IF EXISTS #AUX_sini_tot_0_36
DROP TABLE IF EXISTS #AUX_rf_top100_2024
DROP TABLE IF EXISTS #AUX_Sexo
DROP TABLE IF EXISTS #AUX_taller
DROP TABLE IF EXISTS #AUX_Tasacion
DROP TABLE IF EXISTS #AUX_TIPPLAN
DROP TABLE IF EXISTS #AUX_TIPO_VIGENCIA
DROP TABLE IF EXISTS #AUX_Tipo_veh
DROP TABLE IF EXISTS #AUX_candidato_extranjero
DROP TABLE IF EXISTS #AUX_ind_poliza_telematica
DROP TABLE IF EXISTS #AUX_period
DROP TABLE IF EXISTS #AUX_INTER_EDAD_X_SEXO
DROP TABLE IF EXISTS #AUX_INTER_REGION_X_MARCA
DROP TABLE IF EXISTS #AUX_INTER_EDAD_X_TIPO_VEH
DROP TABLE IF EXISTS #AUX_INTER_TASACION_X_ANTVEH
DROP TABLE IF EXISTS #AUX_INTER_SEXO_X_TIPO_VEH
DROP TABLE IF EXISTS #AUX_INTER_TIPO_VEH_X_GSE
DROP TABLE IF EXISTS #AUX_INTER_MARCA_X_ANTVEH


drop table if exists #TABLA_2
SELECT *,
BC_DP_Period = FREC_DP_2024_Period * SEV_DP_2024_Period,
BC_PT_Period = FREC_PT_2024_Period * SEV_PT_2024_Period,
BC_RC_Period = FREC_RC_2024_Period * SEV_RC_2024_Period,
BC_ROBO_Period = FREC_ROBO_2024_Period * SEV_ROBO_2024_Period,
BC_TOTAL_Period = (FREC_DP_2024_Period * SEV_DP_2024_Period) + (FREC_PT_2024_Period * SEV_PT_2024_Period) + (FREC_RC_2024_Period * SEV_RC_2024_Period) + (FREC_ROBO_2024_Period * SEV_ROBO_2024_Period),

BC_DP	 = FREC_DP_2024		*	SEV_DP_2024,
BC_PT	 = FREC_PT_2024		*	SEV_PT_2024,
BC_RC	 = FREC_RC_2024		*	SEV_RC_2024,
BC_ROBO  = FREC_ROBO_2024	*	SEV_ROBO_2024,
BC_TOTAL = (FREC_DP_2024 * SEV_DP_2024) + (FREC_PT_2024 * SEV_PT_2024) + (FREC_RC_2024 * SEV_RC_2024) + (FREC_ROBO_2024 * SEV_ROBO_2024)
INTO #TABLA_2
FROM #TABLA_1

DROP TABLE IF EXISTS #TABLA_1
--SELECT TOP 10 * FROM #TABLA_2


----------------------------------------------------------------------------------------------------------------------------------
-------------------------------------------------------------LOADINGS-------------------------------------------------------------
----------------------------------------------------------------------------------------------------------------------------------
--select * from almacen_de_datos.dbo.LOADINGS_PLAN_2024
--select * from almacen_de_datos.dbo.LOADINGS_PLAN_2025

drop table if exists #TABLA_3
SELECT A.*,B.COMISION, B.GASTO, B.TARGET_COR
INTO #TABLA_3
FROM #TABLA_2 A
LEFT JOIN almacen_de_datos.dbo.LOADINGS_PLAN_2024 B
ON A.partner_pyg = B.CANAL

DROP TABLE IF EXISTS #TABLA_2

drop table if exists almacen_de_datos.dbo.APTP_COTIZADO_V0
SELECT *,
PRIMA_TECNICA_PERIOD	=	BC_TOTAL_Period /(1-COMISION-GASTO),
PRIMA_TECNICA			=	BC_TOTAL/(1-COMISION-GASTO)
INTO almacen_de_datos.dbo.APTP_COTIZADO_V0
--INTO #APTP_COTIZADO_V0
FROM #TABLA_3
WHERE BC_TOTAL/(1-COMISION-GASTO) IS NOT NULL

DROP TABLE IF EXISTS #TABLA_3

--UPDATE #APTP_COTIZADO_V0
UPDATE almacen_de_datos.dbo.APTP_COTIZADO_V0
SET fecha_cotizacion = CONVERT(date, fecha_cotizacion)


--DROP TABLE IF EXISTS #APTP_COTIZADO
DROP TABLE IF EXISTS almacen_de_datos.dbo.APTP_COTIZADO
SELECT ID_COTIZACION, 	COTIZACION_UNICA, 	canal_pyg, 	partner_pyg, 	tipo_producto, 	fecha_cotizacion, 	rutasegurado, 	digito_verificador, 	AÑO, 	
PRIMAUF_COTIZADA_sIVA, 	nnumdocu, 	nnumitem, 	tipo_vigencia, 	PRIMA_UF_EMITIDA, 	emitida, 	ANIO_MES_COTIZACION, 	MARCA_MODELO, 	RUT_CORREDOR, 	
ind_poliza_telematica, 	CHANNEL_TO_EMB_2024, 	PER_ANIOTRIM, 	TALLER, 	EDAD, 	SEXO, 	GSE, 	COMUNA, 	SiniTot_0_36, 	ANTIG_CL_ASE_CHANNEL, 	
CANDIDATO_EXTRANJERO, 	REGION_ASE, 	tipo_veh, 	ANTVEH, 	MARCA, 	MODELO, 	RF_TOP100_2024, 	DEDUCIBLE, 	Tasacion_agrupado, 	ORDENA_MARCA_MODELO, 	
MAS_COTIZADAS, 	BC_TOTAL, 	COMISION, 	GASTO, 	TARGET_COR, 	PRIMA_TECNICA_PERIOD, 	PRIMA_TECNICA
into almacen_de_datos.dbo.APTP_COTIZADO
--into #APTP_COTIZADO
FROM almacen_de_datos.dbo.APTP_COTIZADO_V0
--FROM #APTP_COTIZADO_V0


--+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
SET @TERMINO= GETDATE()
INSERT INTO CANAL_ASESOR.DBO.MOVILIDAD_CONTROL_DE_EJECUCION VALUES ('COTIZACIONES_FALABELLA','3 de 3',@TERMINO,DATEDIFF(MINUTE,@PASOS,@TERMINO)/60,DATEDIFF(MINUTE,@PASOS,@TERMINO)%60)
SET @PASOS= GETDATE()
--+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++



--+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
SET @TERMINO= GETDATE()
SET @PASOS= GETDATE()
--+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++


END TRY
BEGIN CATCH
INSERT INTO CANAL_ASESOR.DBO.MOVILIDAD_CONTROL_ERROR
  SELECT 
    ERROR_NUMBER()		AS NUMERO_ERROR,
    ERROR_STATE()		AS ESTADO_ERROR,
    ERROR_SEVERITY()	AS SEVERIDAD_ERROR,
    ERROR_PROCEDURE()	AS NOMBRE_PROCEDIMIENTO,
    ERROR_LINE()		AS LINEA_ERROR,
    ERROR_MESSAGE()		AS MENBSAGE_ERROR,
	GETDATE()			AS TIMESTAMP,
	CURRENT_USER		AS USUARIO_EJECUTA
	;
END CATCH;
