USE [Almacen_de_Datos]
GO

ALTER   PROCEDURE [dbo].[ALTAS_Y_BAJAS]
AS
BEGIN TRY
DECLARE @TERMINO DATETIME
DECLARE @INICIO DATETIME
DECLARE @PASOS DATETIME
SET @INICIO=GETDATE()
SET @PASOS=@INICIO

SET @TERMINO= GETDATE()
INSERT INTO CANAL_ASESOR.DBO.MOVILIDAD_CONTROL_DE_EJECUCION VALUES ('ALTAS Y BAJAS','INICIO',@TERMINO,DATEDIFF(MINUTE,@PASOS,@TERMINO)/60,DATEDIFF(MINUTE,@PASOS,@TERMINO)%60)
SET @PASOS= GETDATE()



TRUNCATE TABLE SURA_MOVILIDAD_ALTAS_Y_BAJAS

---ALTAS
INSERT INTO SURA_MOVILIDAD_ALTAS_Y_BAJAS
SELECT --top 5 
A.FECHA_FIRMA_POLIZA																							AS FECHA_DOCUMENTO,
A.LINEA_NEGOCIO																									AS LINEA_NEGOCIO,
A.CODIGO_PLAN_TECNICO																							AS CODIGO_PLAN_TECNICO,
A.BUSINESS_UNIT																									AS BUSINESS_UNIT,
A.CHANNEL																										AS CHANNEL,
A.CANAL_GOL																										AS CANAL_GOL,
A.SUBGERENCIA_GOL																								AS SUBGERENCIA_GOL,
A.SUBCATEGORIA_CANAL																							AS SUBCATEGORIA_CANAL,
CONVERT(NVARCHAR(4),A.CODIGO_PLAN_TECNICO)+'-'+A.PLAN_TECNICO													AS PLAN_TECNICO,
''																												AS GRUPO_PRODUCTO,
1																												AS ALTA,
0																												AS NO_RENOVACION,
0																												AS RENOVACION,
0																												AS IND_CANCELACION,
'' 																												AS NOMBRE,
'' 																												AS NOMBRE_2,
'' 																												AS PRODUCTO_NUEVO,
'' 																												AS VIGENCIA,
'' 																												AS TIPO,
''																												AS GRUPO_2,
A.SUCURSAL_GOL																									AS SUCURSAL,
A.LINEA_NEGOCIO																									AS LINEA,
CANAL_FINAL																										AS CANAL_FINAL,
PARTNER_FINAL																									AS PARTNER_FINAL,
ESTADO_POR_ROBO																									AS ESTADO_POR_ROBO,
RUT_ASEGURADO																									AS RUT_ASEGURADO,
SEGMENTACION																									AS SEGMENTACION,
GSE																												AS GSE,
RENTA																											AS RENTA,
SEGMENTACION_OFICIAL																							AS SEGMENTACION_OFICIAL
FROM SURA_MOVILIDAD_TRANSACCIONAL A
WHERE LINEA_NEGOCIO='PERSONAL' 
AND CODIGO_RAMO IN( 'EE','EL','EP') 
AND CICLO_RENOVACION_LLAVE_2=0											


---NO RENOVACION
INSERT INTO SURA_MOVILIDAD_ALTAS_Y_BAJAS
SELECT --top 5 
A.TERMINO_VIGENCIA																								AS FECHA_DOCUMENTO,
A.LINEA_NEGOCIO																									AS LINEA_NEGOCIO,
A.CODIGO_PLAN_TECNICO																							AS CODIGO_PLAN_TECNICO,
A.BUSINESS_UNIT																									AS BUSINESS_UNIT,
A.CHANNEL																										AS CHANNEL,
A.CANAL_GOL																										AS CANAL_GOL,
A.SUBGERENCIA_GOL																								AS SUBGERENCIA_GOL,
A.SUBCATEGORIA_CANAL																							AS SUBCATEGORIA_CANAL,
CONVERT(NVARCHAR(4),A.CODIGO_PLAN_TECNICO)+'-'+A.PLAN_TECNICO													AS PLAN_TECNICO,
''																												AS GRUPO_PRODUCTO,
0																												AS ALTA,
1																												AS NO_RENOVACION,
0																												AS RENOVACION,
0																												AS IND_CANCELACION,
'' 																												AS NOMBRE,
'' 																												AS NOMBRE_2,
'' 																												AS PRODUCTO_NUEVO,
'' 																												AS VIGENCIA,
'' 																												AS TIPO,
''																												AS GRUPO_2,
A.SUCURSAL_GOL																									AS SUCURSAL,
A.LINEA_NEGOCIO																									AS LINEA,
CANAL_FINAL																										AS CANAL_FINAL,
PARTNER_FINAL																									AS PARTNER_FINAL,
ESTADO_POR_ROBO																									AS ESTADO_POR_ROBO,
RUT_ASEGURADO																									AS RUT_ASEGURADO,
SEGMENTACION																									AS SEGMENTACION,
GSE																												AS GSE,
RENTA																											AS RENTA,
SEGMENTACION_OFICIAL																							AS SEGMENTACION_OFICIAL
FROM SURA_MOVILIDAD_TRANSACCIONAL A
WHERE LINEA_NEGOCIO='PERSONAL' 
AND CODIGO_RAMO IN( 'EE','EL','EP') 
AND CICLO_RENOVACION_LLAVE_2=ULTIMO_CICLO_RENOVACION_LLAVE_2 
AND IND_CANCELACION_CALCULADA=0


---CANCELACION
INSERT INTO SURA_MOVILIDAD_ALTAS_Y_BAJAS
SELECT --top 5 
A.FECHA_FIRMA_ULTIMO_ENDOSO																						AS FECHA_DOCUMENTO,
A.LINEA_NEGOCIO																									AS LINEA_NEGOCIO,
A.CODIGO_PLAN_TECNICO																							AS CODIGO_PLAN_TECNICO,
A.BUSINESS_UNIT																									AS BUSINESS_UNIT,
A.CHANNEL																										AS CHANNEL,
A.CANAL_GOL																										AS CANAL_GOL,
A.SUBGERENCIA_GOL																								AS SUBGERENCIA_GOL,
A.SUBCATEGORIA_CANAL																							AS SUBCATEGORIA_CANAL,
CONVERT(NVARCHAR(4),A.CODIGO_PLAN_TECNICO)+'-'+A.PLAN_TECNICO													AS PLAN_TECNICO,
''																												AS GRUPO_PRODUCTO,
0																												AS ALTA,
0																												AS NO_RENOVACION,
0																												AS RENOVACION,
1																												AS IND_CANCELACION,
'' 																												AS NOMBRE,
'' 																												AS NOMBRE_2,
'' 																												AS PRODUCTO_NUEVO,
'' 																												AS VIGENCIA,
'' 																												AS TIPO,
''																												AS GRUPO_2,
A.SUCURSAL_GOL																									AS SUCURSAL,
A.LINEA_NEGOCIO																									AS LINEA,
CANAL_FINAL																										AS CANAL_FINAL,
PARTNER_FINAL																									AS PARTNER_FINAL,
ESTADO_POR_ROBO																									AS ESTADO_POR_ROBO,
RUT_ASEGURADO																									AS RUT_ASEGURADO,
SEGMENTACION																									AS SEGMENTACION,
GSE																												AS GSE,
RENTA																											AS RENTA,
SEGMENTACION_OFICIAL																							AS SEGMENTACION_OFICIAL
FROM SURA_MOVILIDAD_TRANSACCIONAL A
WHERE LINEA_NEGOCIO='PERSONAL' 
AND IND_CANCELACION_CALCULADA=1
AND CODIGO_RAMO IN( 'EE','EL','EP') 
AND CICLO_RENOVACION_LLAVE_2=ULTIMO_CICLO_RENOVACION_LLAVE_2
ORDER BY 1 DESC

---RENOVACIONES
INSERT INTO SURA_MOVILIDAD_ALTAS_Y_BAJAS
SELECT --top 5 
A.FECHA_FIRMA_POLIZA																							AS FECHA_DOCUMENTO,
A.LINEA_NEGOCIO																									AS LINEA_NEGOCIO,
A.CODIGO_PLAN_TECNICO																							AS CODIGO_PLAN_TECNICO,
A.BUSINESS_UNIT																									AS BUSINESS_UNIT,
A.CHANNEL																										AS CHANNEL,
A.CANAL_GOL																										AS CANAL_GOL,
A.SUBGERENCIA_GOL																								AS SUBGERENCIA_GOL,
A.SUBCATEGORIA_CANAL																							AS SUBCATEGORIA_CANAL,
CONVERT(NVARCHAR(4),A.CODIGO_PLAN_TECNICO)+'-'+A.PLAN_TECNICO													AS PLAN_TECNICO,
''																												AS GRUPO_PRODUCTO,
0																												AS ALTA,
0																												AS NO_RENOVACION,
1																												AS RENOVACION,
0																												AS IND_CANCELACION,
'' 																												AS NOMBRE,
'' 																												AS NOMBRE_2,
'' 																												AS PRODUCTO_NUEVO,
'' 																												AS VIGENCIA,
'' 																												AS TIPO,
''																												AS GRUPO_2,
A.SUCURSAL_GOL																									AS SUCURSAL,
A.LINEA_NEGOCIO																									AS LINEA,
CANAL_FINAL																										AS CANAL_FINAL,
PARTNER_FINAL																									AS PARTNER_FINAL,
ESTADO_POR_ROBO																									AS ESTADO_POR_ROBO,
RUT_ASEGURADO																									AS RUT_ASEGURADO,
SEGMENTACION																									AS SEGMENTACION,
GSE																												AS GSE,
RENTA																											AS RENTA,
SEGMENTACION_OFICIAL																							AS SEGMENTACION_OFICIAL
FROM SURA_MOVILIDAD_TRANSACCIONAL A
WHERE LINEA_NEGOCIO='PERSONAL' 
AND CODIGO_RAMO IN( 'EE','EL','EP') 
AND CICLO_RENOVACION_LLAVE_2=1											




DELETE FROM SURA_MOVILIDAD_ALTAS_Y_BAJAS WHERE YEAR(FECHA_DOCUMENTO)*100+MONTH(FECHA_DOCUMENTO)>YEAR(GETDATE())*100+MONTH(GETDATE())


SELECT
FECHA_DOCUMENTO,	
LINEA_NEGOCIO,	
CODIGO_PLAN_TECNICO	,
BUSINESS_UNIT,	
CHANNEL,	
CANAL_GOL,	
SUBGERENCIA_GOL,	
SUBCATEGORIA_CANAL,	
PLAN_TECNICO,	
GRUPO_PRODUCTO,	
SUM(ALTA)				AS ALTA,	
SUM(NO_RENOVACION)		AS NO_RENOVACION,	
SUM(RENOVACION)			AS RENOVACION,	
SUM(IND_CANCELACION)	AS IND_CANCELACION,	
NOMBRE,	
NOMBRE_2,	
PRODUCTO_NUEVO,	
VIGENCIA,	
TIPO,	
GRUPO_2,
SUCURSAL,
LINEA,
CANAL_FINAL,
PARTNER_FINAL,
ESTADO_POR_ROBO,
RUT_ASEGURADO,
SEGMENTACION,
GSE,
RENTA,
SEGMENTACION_OFICIAL
INTO #SURA_MOVILIDAD_ALTAS_Y_BAJAS
FROM SURA_MOVILIDAD_ALTAS_Y_BAJAS
GROUP BY FECHA_DOCUMENTO,	
LINEA_NEGOCIO,	
CODIGO_PLAN_TECNICO	,
BUSINESS_UNIT,	
CHANNEL,	
CANAL_GOL,	
SUBGERENCIA_GOL,	
SUBCATEGORIA_CANAL,	
PLAN_TECNICO,	
GRUPO_PRODUCTO,	
NOMBRE,	
NOMBRE_2,	
PRODUCTO_NUEVO,	
VIGENCIA,	
TIPO,	
GRUPO_2,
SUCURSAL,
LINEA,
CANAL_FINAL,
PARTNER_FINAL,
ESTADO_POR_ROBO,
RUT_ASEGURADO,
SEGMENTACION,
GSE,
RENTA,
SEGMENTACION_OFICIAL

TRUNCATE TABLE SURA_MOVILIDAD_ALTAS_Y_BAJAS

INSERT INTO SURA_MOVILIDAD_ALTAS_Y_BAJAS
SELECT * FROM #SURA_MOVILIDAD_ALTAS_Y_BAJAS

UPDATE SURA_MOVILIDAD_ALTAS_Y_BAJAS
SET
NOMBRE			=UPPER(B.NOMBRE),
NOMBRE_2		=UPPER(B.NOMBRE_2),
PRODUCTO_NUEVO	=UPPER(B.PRODUCTO_NUEVO),
VIGENCIA		=UPPER(B.VIGENCIA),
TIPO			=UPPER(B.TIPO),
GRUPO_2			=UPPER(B.GRUPO_2),
GRUPO_PRODUCTO	=UPPER(B.GRUPO_PRODUCTO)
FROM SURA_MOVILIDAD_ALTAS_Y_BAJAS A, TRANSACCIONAL.DBO.PLANES_ALTAS_BAJAS B
WHERE A.CODIGO_PLAN_TECNICO=B.NPLANTEC



DELETE FROM SURA_MOVILIDAD_ALTAS_Y_BAJAS WHERE YEAR(FECHA_DOCUMENTO)*100 +MONTH(FECHA_DOCUMENTO)=YEAR(GETDATE())*100 +MONTH(GETDATE())


TRUNCATE TABLE   CANAL_ASESOR.DBO.SURA_MOVILIDAD_ALTAS_Y_BAJAS
INSERT INTO CANAL_ASESOR.DBO.SURA_MOVILIDAD_ALTAS_Y_BAJAS
SELECT *  FROM SURA_MOVILIDAD_ALTAS_Y_BAJAS


SET @TERMINO= GETDATE()
INSERT INTO CANAL_ASESOR.DBO.MOVILIDAD_CONTROL_DE_EJECUCION VALUES ('ALTAS Y BAJAS','FIN',@TERMINO,DATEDIFF(MINUTE,@INICIO,@TERMINO)/60,DATEDIFF(MINUTE,@INICIO,@TERMINO)%60)
SET @PASOS= GETDATE()


WAITFOR DELAY '00:00:02'

--------------------------------------------------------------------------------
-----INFO PARA CARGAR NUEVOS PRODUCTOS SEGUROS X KM, LA INFO SE CARGA CON EXCEL
--------------------------------------------------------------------------------

--select 
--CODIGO_PLAN_TECNICO,PLAN_TECNICO,DESCRIPCION_POLIZA_TELEMATICA

--from SURA_MOVILIDAD_PLAN_TECNICO WHERE IND_POLIZA_TELEMATICA='S' AND DESCRIPCION_POLIZA_TELEMATICA LIKE ('%KM%')
--AND CODIGO_PLAN_TECNICO IN (
--select 
--CODIGO_PLAN_TECNICO
--from SURA_MOVILIDAD_ALTAS_Y_BAJAS 
--where
--GRUPO_2='' and PRODUCTO_NUEVO=''
--group by 
--CODIGO_PLAN_TECNICO)
--ORDER BY 2
------------------------

/*
SELECT YEAR(FECHA_DOCUMENTO)*100+MONTH(FECHA_DOCUMENTO),SUM(ALTA) FROM SURA_MOVILIDAD_ALTAS_Y_BAJAS
WHERE CANAL_FINAL='DIR' AND GRUPO_PRODUCTO='SEG X KM'
GROUP BY YEAR(FECHA_DOCUMENTO)*100+MONTH(FECHA_DOCUMENTO)
ORDER BY 1 DESC
*/
-------ULTIMO PROBLEMA FUE POR LA ACTUALIZACION DE CANAL_FINAL

END TRY
BEGIN CATCH
INSERT INTO CANAL_ASESOR.DBO.MOVILIDAD_CONTROL_ERROR
  SELECT 
    ERROR_NUMBER()		AS NUMERO_ERROR,
    ERROR_STATE()		AS ESTADO_ERROR,
    ERROR_SEVERITY()	AS SEVERIDAD_ERROR,
    ERROR_PROCEDURE()	AS NOMBRE_PROCEDIMIENTO,
    ERROR_LINE()		AS LINEA_ERROR,
    ERROR_MESSAGE()		AS MENBSAGE_ERROR,
	GETDATE()			AS TIMESTAMP,
	CURRENT_USER		AS USUARIO_EJECUTA
	;
END CATCH;