USE [Almacen_de_Datos]
GO

ALTER  PROCEDURE [dbo].[SP_CONTROL_RENOVACIONES]
AS

DECLARE @TERMINO DATETIME
DECLARE @INICIO DATETIME
DECLARE @PASOS DATETIME
SET @INICIO=GETDATE()
SET @PASOS=@INICIO
--+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++


WAITFOR DELAY '00:00:02'
SET @TERMINO= GETDATE()
INSERT INTO CANAL_ASESOR.DBO.MOVILIDAD_CONTROL_DE_EJECUCION VALUES ('SP CONTROL RENOVACIONES','INICIO',@TERMINO,DATEDIFF(MINUTE,@PASOS,@TERMINO)/60,DATEDIFF(MINUTE,@PASOS,@TERMINO)%60)
SET @PASOS= GETDATE()
--+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++


TRUNCATE TABLE SURA_CONDICION_RENOVACION
INSERT INTO SURA_CONDICION_RENOVACION
SELECT   NULL,0,''Archivo,0,0,''PERIODO,NULL,POLIZA,ITEM,0,0,Observaciones,NULL,0,0,PrimaRenovacion,0,0,0,NULL,0,0,NULL,NULL,NULL,0,0,NULL,0 
FROM --TRANSACCIONAL.DBO.Consolidado_Renovaciones_JOCHI
RSACLSF041.RENOVACIONWEB.DBO.POLIZA

--104732
DELETE FROM SURA_RENOVACIONES_A_CARGAR_AT WHERE POLIZA+' - '+ITEM IN (SELECT CONVERT(VARCHAR(20),POLIZA)+' - '+CONVERT(VARCHAR(5),ITEM)  FROM RSACLSF041.RENOVACIONWEB.DBO.POLIZA)

INSERT INTO SURA_CONDICION_RENOVACION
SELECT   NULL,0,Archivo,0,0,PERIODO,NULL,POLIZA,ITEM,0,0,MAX(OBSERVACION),NULL,0,0,MAX(CONVERT(FLOAT,REPLACE(PRIMA_NETA_RENOV,',','.'))),0,0,0,NULL,0,0,NULL,NULL,NULL,0,0,NULL,0 
FROM --TRANSACCIONAL.DBO.Consolidado_Renovaciones_JOCHI
SURA_RENOVACIONES_A_CARGAR_AT
GROUP BY Archivo,VENCIMIENTO,PERIODO,POLIZA,ITEM

--CONTROL DE CARGA
---SELECT * FROM RSACLSF041.RENOVACIONWEB.[dbo].[Carga] ORDER BY 2 DESC

UPDATE SURA_CONDICION_RENOVACION
SET 
VENCIMIENTO=YEAR(B.TERMINO_VIGENCIA_REAL)*100+MONTH(B.TERMINO_VIGENCIA_REAL),
LLAVE_1=B.LLAVE_1,
CICLO_RENOVACION_LLAVE_1=B.CICLO_RENOVACION_LLAVE_1,
PRIMA_NETA=ROUND(B.PRIMA_UF,2)
FROM SURA_CONDICION_RENOVACION A, SURA_MOVILIDAD_TRANSACCIONAL B
WHERE A.NNUMDOCU=B.NNUMDOCU AND A.NNUMITEM=B.NNUMITEM


-------------------------------------------------------------------------------------------------------------------

TRUNCATE TABLE SURA_CONDICION_RENOVACION_PBI
INSERT INTO SURA_CONDICION_RENOVACION_PBI
select 
LLAVE_1,
CICLO_RENOVACION_LLAVE_1,
ULTIMO_CICLO_RENOVACION_LLAVE_1,
'SURA_MOVILIDAD'																								ARCHIVO,
YEAR(TERMINO_VIGENCIA)*100+MONTH(TERMINO_VIGENCIA)																VENCIMIENTO,
CASE WHEN IND_CANCELACION_CALCULADA=1 THEN YEAR(FECHA_CANCELACION)*100+MONTH(FECHA_CANCELACION) ELSE NULL END	CANCELACION,
YEAR(TERMINO_VIGENCIA)*100+MONTH(TERMINO_VIGENCIA)																PERIODO,
NULL																											PERIODO_TRIANGULO,
NNUMDOCU,
NNUMITEM,
0																												NNUMDOCU_RENOVACION,
0																												NNUMITEM_RENOVACION,
RUT_INTERMEDIARIO																								RUT_INTERMEDIARIO,
INTERMEDIARIO																									INTERMEDIARIO,
''																												OBSERVACION,
'SIN CONDICIONES'																								CONDICION_RENOVACION,
PRIMA_UF																										PRIMA_NETA,
0																												PRIMA_NETA_TECNICA,	
0																												PRIMA_NETA_PROPUESTA,	
0																												PRIMA_NETA_RENOV_SUSCRITA,	
0																												PRIMA_NETA_RENOV_ACTUALIZADA,	
0																												PRIMA_NETA_PROMEDIO_MERCADO,

0																												PRIMA_NETA_ANUALIZADA,
0																												PRIMA_NETA_TECNICA_ANUALIZADA,	
0																												PRIMA_NETA_PROPUESTA_ANUALIZADA,	
0																												PRIMA_NETA_RENOV_SUSCRITA_ANUALIZADA,	
0																												PRIMA_NETA_RENOV_ACTUALIZADA_ANUALIZADA,	
0																												PRIMA_NETA_PROMEDIO_MERCADO_ANUALIZADA,

NULL																											INICIO_VIGENCIA_RENOVACION,
0																												AUMENTO,
0																												IND_CANCELACION_CALCULADA_POLIZA_RENOVADA,	
NULL																											FECHA_CANCELACION_POLIZA_RENOVADA,	
NULL																											INICIO_VIGENCIA_POLIZA_RENOVADA,	
NULL																											TERMINO_VIGENCIA_POLIZA_RENOVADA,	
0																												IND_POLIZA_RENOVADA,	
0																												IND_POLIZA_RENOVADA_CANCELADA,
NULL																											INCREMENTO_CLUSTER,	
NULL																											INCREMENTO_CLUSTER_ORDEN,	
INICIO_VIGENCIA,	
TERMINO_VIGENCIA,	
DEDUCIBLE,	
TIPO_PLAN,	
ESTADO_POR_ROBO																									VEHICULOS_ROBADOS,	
TIPO_VEHICULO																									TIPO_VEHICULO,	
SEGMENTO_VEHICULO																								SEGMENTO_VEHICULO,	
MARCA,	
MODELO,	
AÑO,	
PATENTE,	
LINEA_NEGOCIO,	
RUT_PROPONENTE																									RUT_PROPONENTE,
FLOTA																											FLOTA,
NULL																											TAMAÑO,
NULL																											TAMAÑO_ORDEN,
PARTNER_FINAL,	
CANAL_FINAL,	
BUSINESS_UNIT,	
CHANNEL,	
SUCURSAL_GOL																									SUCURSAL,
NULL																											GRUPO_CANAL,
0																												GRUPO_CANAL_ORDEN,
VIGENTE,	
'NO RENOVADA'																									RENOVADA_NO_RENOVADA,	
'NO CANCELADA'																									CANCELADA_NO_CANCELADA,
NULL																											VIGENCIA_DIAS_POLIZA_ORIGINAL,
NULL																											TIPO_VIGENCIA_POLIZA_ORIGINAL,
NULL																											VIGENCIA_DIAS_POLIZA_RENOVADA,
NULL																											TIPO_VIGENCIA_POLIZA_RENOVADA,
SEGMENTACION																									SEGMENTACION,
GSE																												GSE,
RENTA																											RENTA,
SEGMENTACION_OFICIAL																							SEGMENTACION_OFICIAL
FROM SURA_MOVILIDAD_TRANSACCIONAL WHERE TERMINO_VIGENCIA>='2021-07-01' and TERMINO_VIGENCIA<=GETDATE()  AND TIPO_PLAN_LLAVE='NO_RC' AND IND_POLIZA_UBER<>'S'
--AND IND_CANCELACION_CALCULADA=0




UPDATE SURA_CONDICION_RENOVACION_PBI
SET 
PRIMA_NETA_RENOV_ACTUALIZADA=ROUND(B.PRIMA_UF,2),
INICIO_VIGENCIA_POLIZA_RENOVADA=B.INICIO_VIGENCIA,
TERMINO_VIGENCIA_POLIZA_RENOVADA=B.TERMINO_VIGENCIA,
PERIODO_TRIANGULO=B.INICIO_VIGENCIA,
IND_POLIZA_RENOVADA=1,
NNUMDOCU_RENOVACION=B.NNUMDOCU,
NNUMITEM_RENOVACION=B.NNUMITEM
FROM SURA_CONDICION_RENOVACION_PBI A, SURA_MOVILIDAD_TRANSACCIONAL B
WHERE A.LLAVE_1=B.LLAVE_1 AND A.CICLO_RENOVACION_LLAVE_1+1=B.CICLO_RENOVACION_LLAVE_1
--AND YEAR(B.INICIO_VIGENCIA)*100+MONTH(B.INICIO_VIGENCIA) >A.PERIODO



SELECT NNUMDOCU_RENOVACION,NNUMITEM_RENOVACION INTO #POLIZAS_RENOVADAS  FROM SURA_CONDICION_RENOVACION_PBI WHERE NNUMDOCU_RENOVACION IS NOT NULL


SELECT NNUMDOCU,NNUMITEM,MIN(NNUMENDO)NNUMENDO INTO #POLIZAS_RENOVADAS_PRIMER_ENDOSO FROM #POLIZAS_RENOVADAS A LEFT JOIN SURA_MOVILIDAD_TRANSACCIONAL_BASE B  ON A.NNUMDOCU_RENOVACION=B.NNUMDOCU AND A.NNUMITEM_RENOVACION=B.NNUMITEM
GROUP BY NNUMDOCU,NNUMITEM

SELECT A.NNUMDOCU,A.NNUMITEM,A.NNUMENDO,SUM(B.PRIMA_UF)PRIMA_UF INTO #POLIZAS_RENOVADAS_PRIMA FROM #POLIZAS_RENOVADAS_PRIMER_ENDOSO A LEFT JOIN SURA_MOVILIDAD_TRANSACCIONAL_BASE B  
ON A.NNUMDOCU=B.NNUMDOCU AND A.NNUMITEM=B.NNUMITEM AND A.NNUMENDO=B.NNUMENDO
GROUP BY  A.NNUMDOCU,A.NNUMITEM,A.NNUMENDO



UPDATE SURA_CONDICION_RENOVACION_PBI
SET PRIMA_NETA_RENOV_SUSCRITA=ROUND(B.PRIMA_UF,2)
FROM SURA_CONDICION_RENOVACION_PBI A, #POLIZAS_RENOVADAS_PRIMA B
WHERE A.NNUMDOCU_RENOVACION=B.NNUMDOCU AND A.NNUMITEM_RENOVACION=B.NNUMITEM


UPDATE SURA_CONDICION_RENOVACION_PBI
SET PRIMA_NETA_PROPUESTA=CONVERT(FLOAT,REPLACE(B.PRIMA_NETA_PROPUESTA,',','.')),OBSERVACION=B.OBSERVACION
FROM SURA_CONDICION_RENOVACION_PBI A, SURA_CONDICION_RENOVACION B
WHERE A.NNUMDOCU=B.NNUMDOCU AND A.NNUMITEM=B.NNUMITEM




UPDATE SURA_CONDICION_RENOVACION_PBI
SET CONDICION_RENOVACION =CASE WHEN OBSERVACION<>'' and OBSERVACION NOT LIKE ('%SIN COND%')  THEN 'CON CONDICIONES DE RENOVACION' ELSE CONDICION_RENOVACION END 


SELECT LLAVE_1,FECHA_CANCELACION INTO #CANCELACIONES FROM SURA_MOVILIDAD_TRANSACCIONAL WHERE IND_CANCELACION_CALCULADA=1 AND LLAVE_1 IN (SELECT LLAVE_1 FROM SURA_CONDICION_RENOVACION_PBI) 
AND CICLO_RENOVACION_LLAVE_1=ULTIMO_CICLO_RENOVACION_LLAVE_1



UPDATE SURA_CONDICION_RENOVACION_PBI
SET 
IND_CANCELACION_CALCULADA_POLIZA_RENOVADA=1,
FECHA_CANCELACION_POLIZA_RENOVADA= B.FECHA_CANCELACION,
CANCELACION =YEAR(B.FECHA_CANCELACION)*100+ MONTH(B.FECHA_CANCELACION),
CANCELADA_NO_CANCELADA='CANCELADA'
FROM SURA_CONDICION_RENOVACION_PBI A, #CANCELACIONES B
WHERE A.LLAVE_1=B.LLAVE_1 AND VIGENTE=0


UPDATE SURA_CONDICION_RENOVACION_PBI
SET RENOVADA_NO_RENOVADA='RENOVADA'
WHERE IND_POLIZA_RENOVADA=1


UPDATE SURA_CONDICION_RENOVACION_PBI
SET PERIODO_TRIANGULO=FECHA_CANCELACION_POLIZA_RENOVADA
WHERE CANCELADA_NO_CANCELADA='CANCELADA'

UPDATE SURA_CONDICION_RENOVACION_PBI
SET IND_POLIZA_RENOVADA_CANCELADA=1
WHERE IND_POLIZA_RENOVADA=1 AND IND_CANCELACION_CALCULADA_POLIZA_RENOVADA=1


UPDATE SURA_CONDICION_RENOVACION_PBI
SET INCREMENTO_CLUSTER='SIN CONDICIONES', INCREMENTO_CLUSTER_ORDEN=19
WHERE CONDICION_RENOVACION='SIN CONDICIONES'

UPDATE SURA_CONDICION_RENOVACION_PBI
SET INCREMENTO_CLUSTER='SIN CONDICIONES', INCREMENTO_CLUSTER_ORDEN=19,CONDICION_RENOVACION='SIN CONDICIONES'
WHERE PRIMA_NETA_PROPUESTA=0 --AND LINEA_NEGOCIO='COMMERCIAL'

-------

UPDATE SURA_CONDICION_RENOVACION_PBI
SET VIGENCIA_DIAS_POLIZA_ORIGINAL =DATEDIFF(DAY,INICIO_VIGENCIA,TERMINO_VIGENCIA)


UPDATE SURA_CONDICION_RENOVACION_PBI
SET VIGENCIA_DIAS_POLIZA_RENOVADA =DATEDIFF(DAY,INICIO_VIGENCIA_POLIZA_RENOVADA,TERMINO_VIGENCIA_POLIZA_RENOVADA)

UPDATE SURA_CONDICION_RENOVACION_PBI
SET VIGENCIA_DIAS_POLIZA_RENOVADA=1 
WHERE VIGENCIA_DIAS_POLIZA_RENOVADA=0



UPDATE SURA_CONDICION_RENOVACION_PBI
SET PRIMA_NETA_ANUALIZADA=						ROUND(CASE WHEN PRIMA_NETA >0					THEN (PRIMA_NETA/VIGENCIA_DIAS_POLIZA_ORIGINAL)*365						ELSE 0 END,2)
WHERE VIGENCIA_DIAS_POLIZA_ORIGINAL>0

UPDATE SURA_CONDICION_RENOVACION_PBI
SET PRIMA_NETA_TECNICA_ANUALIZADA=				ROUND(CASE WHEN PRIMA_NETA_TECNICA >0			THEN (PRIMA_NETA_TECNICA/VIGENCIA_DIAS_POLIZA_ORIGINAL)*365				ELSE 0 END,2)
WHERE VIGENCIA_DIAS_POLIZA_ORIGINAL>0

UPDATE SURA_CONDICION_RENOVACION_PBI
SET PRIMA_NETA_PROPUESTA_ANUALIZADA=			ROUND(CASE WHEN PRIMA_NETA_PROPUESTA >0			THEN (PRIMA_NETA_PROPUESTA/VIGENCIA_DIAS_POLIZA_RENOVADA)*365			ELSE 0 END,2)
WHERE VIGENCIA_DIAS_POLIZA_ORIGINAL>0

UPDATE SURA_CONDICION_RENOVACION_PBI
SET PRIMA_NETA_RENOV_SUSCRITA_ANUALIZADA=		ROUND(CASE WHEN PRIMA_NETA_RENOV_SUSCRITA >0	THEN (PRIMA_NETA_RENOV_SUSCRITA/VIGENCIA_DIAS_POLIZA_RENOVADA)*365		ELSE 0 END,2)
WHERE VIGENCIA_DIAS_POLIZA_ORIGINAL>0

UPDATE SURA_CONDICION_RENOVACION_PBI
SET PRIMA_NETA_RENOV_ACTUALIZADA_ANUALIZADA=	ROUND(CASE WHEN PRIMA_NETA_RENOV_ACTUALIZADA >0	THEN (PRIMA_NETA_RENOV_ACTUALIZADA/VIGENCIA_DIAS_POLIZA_RENOVADA)*365	ELSE 0 END,2)
WHERE VIGENCIA_DIAS_POLIZA_ORIGINAL>0

UPDATE SURA_CONDICION_RENOVACION_PBI
SET PRIMA_NETA_PROMEDIO_MERCADO_ANUALIZADA=		ROUND(CASE WHEN PRIMA_NETA_PROMEDIO_MERCADO >0	THEN (PRIMA_NETA_PROMEDIO_MERCADO/VIGENCIA_DIAS_POLIZA_ORIGINAL)*365	ELSE 0 END,2)
WHERE VIGENCIA_DIAS_POLIZA_ORIGINAL>0

UPDATE SURA_CONDICION_RENOVACION_PBI
SET AUMENTO=ROUND(CASE WHEN PRIMA_NETA_PROPUESTA >0 THEN (PRIMA_NETA_PROPUESTA-PRIMA_NETA)/PRIMA_NETA ELSE 0 END,2)
WHERE PRIMA_NETA>0 



UPDATE SURA_CONDICION_RENOVACION_PBI
SET
	INCREMENTO_CLUSTER = CASE 
							WHEN AUMENTO > -0.02 AND AUMENTO <= 0.01	THEN '0'
							WHEN AUMENTO > 0.01  AND  AUMENTO <= 0.05	THEN '0-5'
							WHEN AUMENTO > 0.05  AND  AUMENTO <= 0.10	THEN '5-10'
							WHEN AUMENTO > 0.10  AND  AUMENTO <= 0.15	THEN '10-15'
							WHEN AUMENTO > 0.15  AND  AUMENTO <= 0.20	THEN '15-20'
							WHEN AUMENTO > 0.20  AND  AUMENTO <= 0.30	THEN '20-30'
							WHEN AUMENTO > 0.30  AND  AUMENTO <= 0.40	THEN '30-40'
							WHEN AUMENTO > 0.40  AND  AUMENTO <= 0.50	THEN '40-50'					  
							WHEN AUMENTO > 0.50  AND  AUMENTO <= 1		THEN '50-100'
							WHEN AUMENTO > 1							THEN '>100'
																		ELSE 'VER' 
																		END,
INCREMENTO_CLUSTER_ORDEN = CASE 
							WHEN AUMENTO > -0.02 AND AUMENTO <=  0.01	THEN 1
							WHEN AUMENTO > 0.01  AND  AUMENTO <= 0.05	THEN 2
							WHEN AUMENTO > 0.05  AND  AUMENTO <= 0.10	THEN 3
							WHEN AUMENTO > 0.10  AND  AUMENTO <= 0.15	THEN 4
							WHEN AUMENTO > 0.15  AND  AUMENTO <= 0.20	THEN 5
							WHEN AUMENTO > 0.20  AND  AUMENTO <= 0.30	THEN 6
							WHEN AUMENTO > 0.30  AND  AUMENTO <= 0.40	THEN 7
							WHEN AUMENTO > 0.40  AND  AUMENTO <= 0.50	THEN 8						  
							WHEN AUMENTO > 0.50  AND  AUMENTO <= 1		THEN 9
							WHEN AUMENTO > 1							THEN 14
																		ELSE 15 
																		END
WHERE CONDICION_RENOVACION<>'SIN CONDICIONES'



UPDATE SURA_CONDICION_RENOVACION_PBI
SET TIPO_VIGENCIA_POLIZA_ORIGINAL=
CASE 
WHEN VIGENCIA_DIAS_POLIZA_ORIGINAL	BETWEEN 364 AND 367 THEN 'ANUAL' 
WHEN VIGENCIA_DIAS_POLIZA_ORIGINAL	BETWEEN 27	AND 32	THEN 'MENSUAL' 
WHEN VIGENCIA_DIAS_POLIZA_ORIGINAL	BETWEEN 728 AND 733 THEN 'BIANUAL' 
WHEN VIGENCIA_DIAS_POLIZA_ORIGINAL	=0					THEN 'NULA' 
WHEN VIGENCIA_DIAS_POLIZA_ORIGINAL	<=27				THEN 'CORTA' 
WHEN VIGENCIA_DIAS_POLIZA_ORIGINAL	>733				THEN 'LARGA' 
ELSE														 'OTRA' END 


UPDATE SURA_CONDICION_RENOVACION_PBI
SET TIPO_VIGENCIA_POLIZA_RENOVADA=
CASE 
WHEN VIGENCIA_DIAS_POLIZA_RENOVADA	BETWEEN 364 AND 367 THEN 'ANUAL' 
WHEN VIGENCIA_DIAS_POLIZA_RENOVADA	BETWEEN 27	AND 32	THEN 'MENSUAL' 
WHEN VIGENCIA_DIAS_POLIZA_RENOVADA	BETWEEN 728 AND 733 THEN 'BIANUAL' 
WHEN VIGENCIA_DIAS_POLIZA_RENOVADA	=0					THEN 'NULA' 
WHEN VIGENCIA_DIAS_POLIZA_RENOVADA	<=27				THEN 'CORTA' 
WHEN VIGENCIA_DIAS_POLIZA_RENOVADA	>733				THEN 'LARGA' 
WHEN VIGENCIA_DIAS_POLIZA_RENOVADA	IS NULL				THEN NULL
ELSE														 'OTRA' END 

SELECT NNUMDOCU,RUT_PROPONENTE,PRORROGA, 
COUNT(*) AS CANTIDAD 
INTO #CANTIDAD_ITEMS_POR_POLIZA
FROM SURA_MOVILIDAD_TRANSACCIONAL 
--WHERE LINEA_NEGOCIO='COMMERCIAL' 
GROUP BY NNUMDOCU,RUT_PROPONENTE,PRORROGA


SELECT A.NNUMDOCU, 
A.RUT_PROPONENTE, 
A.PRORROGA,
A.CANTIDAD, 
B.ORDEN,
CASE WHEN A.CANTIDAD >2000 THEN '2001 - +' ELSE B.TAMAÑO_AGRUPADO END AS TAMAÑO_AGRUPADO
INTO  #TAMAÑO_FLOTAS_AGRUPADO
FROM #CANTIDAD_ITEMS_POR_POLIZA A 
LEFT JOIN SURA_MOVILIDAD_TAMAÑO B 
ON A.CANTIDAD = B.TAMAÑO ORDER BY 3 DESC

UPDATE SURA_CONDICION_RENOVACION_PBI
SET TAMAÑO=B.TAMAÑO_AGRUPADO,
TAMAÑO_ORDEN=B.ORDEN
FROM SURA_CONDICION_RENOVACION_PBI A,
#TAMAÑO_FLOTAS_AGRUPADO B
WHERE A.NNUMDOCU=B.NNUMDOCU AND A.RUT_PROPONENTE=B.RUT_PROPONENTE

UPDATE SURA_CONDICION_RENOVACION_PBI
SET TAMAÑO_ORDEN=9
WHERE TAMAÑO='2001 - +'


UPDATE SURA_CONDICION_RENOVACION_PBI
SET GRUPO_CANAL=PARTNER_FINAL
WHERE  PARTNER_FINAL IN ('FALABELLA','SANTANDER CORREDORA','RIPLEY','CENCOSUD','COMPARA')AND LINEA_NEGOCIO='PERSONAL'

UPDATE SURA_CONDICION_RENOVACION_PBI
SET GRUPO_CANAL='AC CLUB'
WHERE RUT_INTERMEDIARIO =76449877 AND LINEA_NEGOCIO='PERSONAL'

UPDATE SURA_CONDICION_RENOVACION_PBI
SET GRUPO_CANAL='AFFINITY RESTO'
WHERE CANAL_FINAL ='AFF' AND LINEA_NEGOCIO='PERSONAL' AND GRUPO_CANAL IS NULL

UPDATE SURA_CONDICION_RENOVACION_PBI
SET GRUPO_CANAL=CANAL_FINAL
WHERE CANAL_FINAL IN ('EYP','DIR','CAS','LBR') AND LINEA_NEGOCIO='PERSONAL' AND GRUPO_CANAL IS NULL

UPDATE SURA_CONDICION_RENOVACION_PBI
SET GRUPO_CANAL='DIR'
WHERE  GRUPO_CANAL IS NULL  AND LINEA_NEGOCIO='PERSONAL' AND CHANNEL='RSA DIRECTO'


UPDATE SURA_CONDICION_RENOVACION_PBI
SET GRUPO_CANAL=PARTNER_FINAL
WHERE  PARTNER_FINAL IN ('FALABELLA','SANTANDER CORREDORA','BANCHILE','BANCO ESTADO','SCOTIABANK')AND LINEA_NEGOCIO='COMMERCIAL'

UPDATE SURA_CONDICION_RENOVACION_PBI
SET GRUPO_CANAL='AFFINITY RESTO'
WHERE CANAL_FINAL ='AFF' AND LINEA_NEGOCIO='COMMERCIAL' AND GRUPO_CANAL IS NULL

UPDATE SURA_CONDICION_RENOVACION_PBI
SET GRUPO_CANAL=CANAL_FINAL
WHERE CANAL_FINAL IN ('EYP','DIR','CAS','LBR') AND LINEA_NEGOCIO='COMMERCIAL' AND GRUPO_CANAL IS NULL

UPDATE SURA_CONDICION_RENOVACION_PBI
SET GRUPO_CANAL='AFFINITY RESTO'
WHERE  GRUPO_CANAL IS NULL  AND LINEA_NEGOCIO='COMMERCIAL' AND CHANNEL='AON'

UPDATE SURA_CONDICION_RENOVACION_PBI
SET GRUPO_CANAL='LBR'
WHERE  GRUPO_CANAL IS NULL  AND LINEA_NEGOCIO='COMMERCIAL' AND BUSINESS_UNIT='LARGE BROKER'

UPDATE SURA_CONDICION_RENOVACION_PBI
SET GRUPO_CANAL_ORDEN=B.GRUPO_CANAL_ORDEN
FROM SURA_CONDICION_RENOVACION_PBI A, SURA_MOVILIDAD_ORDEN_GRUPO_CANAL B
WHERE A.LINEA_NEGOCIO=B.LINEA_NEGOCIO AND A.GRUPO_CANAL=B.GRUPO_CANAL

UPDATE SURA_CONDICION_RENOVACION_PBI
SET GRUPO_CANAL=GRUPO_CANAL+' (C)'
WHERE LINEA_NEGOCIO='COMMERCIAL'

UPDATE SURA_CONDICION_RENOVACION_PBI
SET GRUPO_CANAL=GRUPO_CANAL+' (P)'
WHERE LINEA_NEGOCIO='PERSONAL'



TRUNCATE TABLE  SURA_MOVILIDAD_MIGRACION
INSERT INTO SURA_MOVILIDAD_MIGRACION
SELECT 
FECHA_FIRMA_POLIZA,
REPLACE(PATENTE+'-'+CONVERT(NVARCHAR(10),RUT_ASEGURADO),' ','') LLAVE, 
TIPO_PLAN+'-'+ DEDUCIBLE TIPO_PLAN_DEDUCIBLE,
'' TIPO_PLAN_DEDUCIBLE_SIGUIENTE,
PATENTE, RUT_ASEGURADO,RUT_PROPONENTE,
INICIO_VIGENCIA,TERMINO_VIGENCIA_REAL ,DEDUCIBLE,TIPO_PLAN,PRIMA_UF,NNUMDOCU,NNUMITEM,PRORROGA,IND_CANCELACION_CALCULADA, 
NULL			AS RUT_PROPONENTE_SIGUIENTE,
NULL			AS INICIO_VIGENCIA_SIGUIENTE,
NULL			AS TERMINO_VIGENCIA_REAL_SIGUIENTE,
NULL			AS DEDUCIBLE_SIGUIENTE,
''				AS TIPO_PLAN_SIGUIENTE,
NULL			AS PRIMA_UF_SIGUIENTE,
0				AS NNUMDOCU_SIGUIENTE,
0				AS NNUMITEM_SIGUIENTE,
0				AS PRORROGA_SIGUIENTE,
0				AS VIGENTE,
SEGMENTO_VEHICULO,	
MARCA,	
MODELO,	
AÑO,		
LINEA_NEGOCIO,	
FLOTA,
PARTNER_FINAL,	
CANAL_FINAL,	
BUSINESS_UNIT,	
CHANNEL,	
SUCURSAL_GOL,
NULL GRUPO_CANAL,
SEGMENTACION,
GSE,
RENTA,
SEGMENTACION_OFICIAL
FROM ALMACEN_DE_DATOS.DBO.SURA_MOVILIDAD_TRANSACCIONAL




UPDATE SURA_MOVILIDAD_MIGRACION
SET
RUT_PROPONENTE_SIGUIENTE			=B.RUT_PROPONENTE,
INICIO_VIGENCIA_SIGUIENTE			=B.INICIO_VIGENCIA,
TERMINO_VIGENCIA_REAL_SIGUIENTE		=B.TERMINO_VIGENCIA_REAL,
DEDUCIBLE_SIGUIENTE					=B.DEDUCIBLE,
TIPO_PLAN_SIGUIENTE					=B.TIPO_PLAN,
PRIMA_UF_SIGUIENTE					=B.PRIMA_UF,
NNUMDOCU_SIGUIENTE					=B.NNUMDOCU,
NNUMITEM_SIGUIENTE					=B.NNUMITEM,
PRORROGA_SIGUIENTE					=B.PRORROGA,
VIGENTE								=B.VIGENTE,
TIPO_PLAN_DEDUCIBLE_SIGUIENTE		=B.TIPO_PLAN+'-'+ B.DEDUCIBLE
FROM SURA_MOVILIDAD_MIGRACION A, ALMACEN_DE_DATOS.DBO.SURA_MOVILIDAD_TRANSACCIONAL B
WHERE A.LLAVE=REPLACE(B.PATENTE+'-'+CONVERT(NVARCHAR(10),B.RUT_ASEGURADO),' ','') AND ABS(DATEDIFF (DAY,A.TERMINO_VIGENCIA_REAL,B.INICIO_VIGENCIA))<=3





WAITFOR DELAY '00:00:02'
SET @TERMINO= GETDATE()
INSERT INTO CANAL_ASESOR.DBO.MOVILIDAD_CONTROL_DE_EJECUCION VALUES ('SP CONTROL RENOVACIONES','FIN',@TERMINO,DATEDIFF(MINUTE,@INICIO,@TERMINO)/60,DATEDIFF(MINUTE,@INICIO,@TERMINO)%60)



--SELECT VENCIMIENTO,INTERMEDIARIO,CONDICION_RENOVACION,COUNT(*) FROM SURA_CONDICION_RENOVACION_PBI
--WHERE LINEA_NEGOCIO='PERSONAL' AND CONDICION_RENOVACION ='SIN CONDICIONES' AND OBSERVACION=''
--GROUP BY VENCIMIENTO,INTERMEDIARIO,CONDICION_RENOVACION
--HAVING COUNT(*)>10
--ORDER BY 1 DESC


--SELECT VENCIMIENTO,COUNT(*) FROM SURA_CONDICION_RENOVACION_PBI
--WHERE LINEA_NEGOCIO='PERSONAL' AND CONDICION_RENOVACION ='SIN CONDICIONES' AND OBSERVACION=''
--GROUP BY VENCIMIENTO
--HAVING COUNT(*)>10
--ORDER BY 1 DESC

