USE [Almacen_de_Datos]
GO

ALTER   PROCEDURE [dbo].[RENOVACION_POLIZAS_MENSUALES]
AS

SELECT * INTO  #SURA_MOVILIDAD_TRANSACCIONAL FROM SURA_MOVILIDAD_TRANSACCIONAL 
WHERE CODIGO_PLAN_TECNICO IN (SELECT CODIGO_PLAN_TECNICO FROM SURA_MOVILIDAD_PLAN_TECNICO WHERE IND_POLIZA_MENSUAL='S' AND IND_POLIZA_TELEMATICA IS NULL AND IND_POLIZA_UBER='N')
AND IND_CANCELACION_CALCULADA=0

TRUNCATE TABLE SURA_RENOVACION_POLIZAS_MENSUALES
INSERT INTO SURA_RENOVACION_POLIZAS_MENSUALES
SELECT 
LLAVE_1,
CICLO_RENOVACION_LLAVE_1,
NNUMDOCU AS NNUMDOCU_ANTERIOR, 
NNUMITEM AS NNUMITEM_ANTERIOR,
NNUMDOCU,NNUMITEM,PRIMA_UF,INICIO_VIGENCIA,TERMINO_VIGENCIA,CODIGO_PLAN_COMERCIAL,CODIGO_PLAN_TECNICO,MARCA,MODELO,AÑO,PATENTE,RUT_PROPONENTE,RUT_INTERMEDIARIO,INTERMEDIARIO
FROM #SURA_MOVILIDAD_TRANSACCIONAL 
WHERE  TERMINO_VIGENCIA_REAL=EOMONTH(GETDATE() ) AND IND_CANCELACION_CALCULADA=0


UPDATE SURA_RENOVACION_POLIZAS_MENSUALES
SET NNUMDOCU_ANTERIOR=0,NNUMITEM_ANTERIOR=0

UPDATE SURA_RENOVACION_POLIZAS_MENSUALES
SET NNUMDOCU_ANTERIOR =B.NNUMDOCU,NNUMITEM_ANTERIOR=B.NNUMITEM
FROM SURA_RENOVACION_POLIZAS_MENSUALES A, #SURA_MOVILIDAD_TRANSACCIONAL B
WHERE A.LLAVE_1=B.LLAVE_1 AND A.CICLO_RENOVACION_LLAVE_1-1=B.CICLO_RENOVACION_LLAVE_1


