DECLARE @INICIO DATETIME
DECLARE @TERMINO DATETIME
DECLARE @PASOS DATETIME
SET @INICIO=GETDATE()
SET @PASOS=@INICIO
INSERT INTO CANAL_ASESOR.DBO.MOVILIDAD_CONTROL_DE_EJECUCION VALUES ('SP_TELEMATICA_GESTION','INICIO',@INICIO,0,0)

SELECT 
DISTINCT 
UPPER(CONVERT(NVARCHAR(10),A.RUTPAGADOR)+'-'+CONVERT(NVARCHAR(10),B.RUTCORREDOR)+'-'+B.CODIGOMARCA+'-'+CONVERT(NVARCHAR(10),B.CODIGOMODELO)+'-'+
CONVERT(NVARCHAR(10),B.ANIO)+'-'+B.NOMBRETIPOVEHICULO+'-'+CONVERT(NVARCHAR(10),A.DEDUCIBLE)+'-'+CODIGOPRODUCTO) AS LLAVE,
A.NUMERODOCUMENTO							AS POLIZA,	
A.ITEM										AS ITEM,	
0											AS MES_VIGENCIA,
A.RUTCORREDOR								AS RUT_CORREDOR,	
A.RUTPAGADOR								AS RUT_PAGADOR,	
A.NUMERODOCUMENTOANTERIOR					AS POLIZA_ANTERIROR,
A.ITEMANTERIOR								AS ITEM_ANTERIOR,	
A.NUMEROPROPUESTA							AS PROPUESTA,
A.FECHAINICIOVIGENCIA						AS FECHA_INICIO_VIGENCIA,	
A.FECHAFINVIGENCIA							AS FECHA_FIN_VIGENCIA,	
UPPER(A.CODIGOPRODUCTO)						AS CODIGO_PRODUCTO,	
UPPER(A.DEDUCIBLE)							AS DEDUCIBLE,	
UPPER(A.CODIGOPROVEEDOR)					AS CODIGO_PROVEEDOR,	
A.FECHACANCELACION							AS FECHA_CANCELACION,	
A.FECHAACTIVACION							AS FECHA_ACTIVACION,	
A.IMEI										AS IMEI,	
UPPER(A.PLANPOLIZA)							AS PLAN_POLIZA,	
A.DESPACHO									AS DESPACHO,
0											AS VOUCHER,
A.PRIMAFIJA									AS TEL_PRIMA_FIJA_CONTRATO_UF,
ROUND(A.PRIMAFIJA*A.UFCONTRATACION,0)		AS TEL_PRIMA_FIJA_CONTRATO_PESO,
A.PRIMAVARIABLE								AS TEL_PRIMA_VARIABLE_CONTRATO_UF,
ROUND(A.PRIMAVARIABLE*A.UFCONTRATACION,0)	AS TEL_PRIMA_VARIABLE_CONTRATO_PESO

--DROP TABLE #POLIZAS_KM
INTO #POLIZAS_KM
FROM [RSACLSF041].[TELEMATICASURA].TELEMATICA.POLIZA A LEFT JOIN [RSACLSF041].[TELEMATICASURA].[TELEMATICA].[VEHICULO] B ON
A.NUMERODOCUMENTO=B.NUMERODOCUMENTO AND A.ITEM=B.ITEM

SET @TERMINO= GETDATE()
INSERT INTO CANAL_ASESOR.DBO.MOVILIDAD_CONTROL_DE_EJECUCION VALUES ('SP_TELEMATICA_GESTION','1 DE 5',@TERMINO,DATEDIFF(MINUTE,@PASOS,@TERMINO)/60,DATEDIFF(MINUTE,@PASOS,@TERMINO)%60)
SET @PASOS= GETDATE()



UPDATE #POLIZAS_KM
SET VOUCHER=B.NUMEROVOUCHER,LLAVE=LLAVE+'-'+CONVERT(NVARCHAR(30),CASE WHEN CODIGO_PROVEEDOR ='OCTO' THEN B.NUMEROVOUCHER ELSE CONVERT(NVARCHAR(30),PROPUESTA) END )
FROM #POLIZAS_KM A,  [RSACLSF041].[TelematicaSura].[telematica].[Voucher] B
WHERE A.POLIZA=B.NUMERODOCUMENTO AND A.ITEM=B.ITEM




UPDATE #POLIZAS_KM
SET POLIZA_ANTERIROR=POLIZA
WHERE POLIZA_ANTERIROR=0 AND ITEM_ANTERIOR>0 

SELECT TOP 1 LLAVE,COUNT(*) CANTIDAD 
--DROP TABLE #ULTIMO_CICLO
INTO #ULTIMO_CICLO FROM #POLIZAS_KM GROUP BY LLAVE ORDER BY 2 DESC

DECLARE @ULTIMO_CICLO INT
SET @ULTIMO_CICLO = (SELECT  CANTIDAD FROM #ULTIMO_CICLO)

DECLARE @CICLOS INT
SET @CICLOS=1
WHILE @CICLOS<=@ULTIMO_CICLO
BEGIN
UPDATE #POLIZAS_KM
SET MES_VIGENCIA=@CICLOS
FROM #POLIZAS_KM A,
(SELECT LLAVE,MIN(FECHA_INICIO_VIGENCIA)FECHA_INICIO_VIGENCIA FROM #POLIZAS_KM
WHERE MES_VIGENCIA=0
GROUP BY LLAVE)B
WHERE A.LLAVE=B.LLAVE AND A.FECHA_INICIO_VIGENCIA=B.FECHA_INICIO_VIGENCIA
SET @CICLOS=@CICLOS+1
END

SET @TERMINO= GETDATE()
INSERT INTO CANAL_ASESOR.DBO.MOVILIDAD_CONTROL_DE_EJECUCION VALUES ('SP_TELEMATICA_GESTION','2 DE 5',@TERMINO,DATEDIFF(MINUTE,@PASOS,@TERMINO)/60,DATEDIFF(MINUTE,@PASOS,@TERMINO)%60)
SET @PASOS= GETDATE()

SELECT 
B.AÑO_FACTURACION																									AS AÑO_FACTURACION,
B.MES_FACTURACION																									AS MES_FACTURACION,
B.NUMERODOCUMENTO																									AS POLIZA,
B.ITEM																												AS ITEM,	
B.NUMEROPROPUESTA																									AS PROPUESTA,
B.FECHAACTIVACION																									AS FECHA_ACTIVACION,
B.INI_PERIODO_FACTURACIO																							AS INI_PERIODO_FACTURACION,
B.FIN_PERIODO_FACTURACIO																							AS FIN_PERIODO_FACTURACION,
B.FECHA_ESTADO_DISPOSITI																							AS FECHA_ESTADO_DISPOSITIVO,
B.ESTADO_DISPOSITIVO																								AS ESTADO_DISPOSITIVO,
B.FECHA_DISPOSITIVO_INSTALADO																						AS FECHA_DISPOSITIVO_INSTALADO,
B.FECHA_DISPOSITIVO_ENTREGADO																						AS FECHA_DISPOSITIVO_ENTREGADO,
B.CANTDIAS																											AS CANTDAD_DIAS,
B.DESPACHO																											AS DESPACHO,
B.DIAS_DESCONEXION																									AS DIAS_DESCONEXION,
B.PENALIZACION_POR_DESCONEXION																						AS PENALIZACION_POR_DESCONEXION,
B.DIAS_DE_NO_INSTALACION																							AS DIAS_DE_NO_INSTALACION,
B.PENALIZACIÓN_POR_NO_INSTALACION																					AS PENALIZACION_POR_NO_INSTALACION,
B.INDNEGOCIO																										AS NEGOCIO,

B.PRIMA_RENOVACION_NETA-(B.PRIMA_FIJA_PROPORCIONAL/1.19)															AS TEL_PRIMA_VARIABLE_NETA,
B.PRIMA_FIJA_PROPORCIONAL/1.19																						AS TEL_PRIMA_FIJA_NETA,
B.PRIMA_RENOVACION_NETA																								AS TEL_PRIMA_NETA,

B.PRIMA_RENOVACION_NETA-(B.PRIMA_FIJA_PROPORCIONAL/1.19)															AS POL_PRIMA_VARIABLE_NETA,
B.PRIMA_FIJA_PROPORCIONAL/1.19																						AS POL_PRIMA_FIJA_NETA,
B.PRIMA_A_FACTURAR																									AS POL_PRIMA_NETA,
	
ROUND(B.UF_COBRO,2)																									AS UF_COBRO,
ROUND(B.UFCONTRATACION,2)																							AS UFCONTRATACION

--DROP TABLE #POLIZA_KM_FACTURACION
INTO #POLIZA_KM_FACTURACION
FROM [RSACLSF041].[TELEMATICASURA].[DBO].[FACTURACIONTELEMATICA] B

SET @TERMINO= GETDATE()
SET @PASOS= GETDATE()

SELECT 
NUMERODOCUMENTO						AS POLIZA,
ITEM								AS ITEM,
COUNT(*)							AS TEL_CANTIDAD_VIAJES,
ROUND(SUM(DISTANCIARECORRIDO),2)	AS TEL_KM_RECORRIDOS,
MIN(FECHAINICIOVIAJE)				AS TEL_PRIMER_VIAJE,
MAX(FECHAFINVIAJE)					AS TEL_ULTIMO_VIAJE,
COUNT(*)							AS POL_CANTIDAD_VIAJES,
ROUND(SUM(DISTANCIARECORRIDO),2)	AS POL_KM_RECORRIDOS,
MIN(FECHAINICIOVIAJE)				AS POL_PRIMER_VIAJE,
MAX(FECHAFINVIAJE)					AS POL_ULTIMO_VIAJE
--DROP TABLE #POLIZA_KM_VIAJES
INTO #POLIZA_KM_VIAJES
FROM [RSACLSF041].[TELEMATICASURA].[DBO].[FACTURACIONTELEMATICA_EVENTOS] 
GROUP BY NUMERODOCUMENTO,ITEM


SET @TERMINO= GETDATE()
SET @PASOS= GETDATE()

UPDATE #POLIZA_KM_VIAJES
SET TEL_CANTIDAD_VIAJES=0,POL_CANTIDAD_VIAJES=0
WHERE TEL_KM_RECORRIDOS=0

TRUNCATE TABLE POLIZAS_KM_FULL
INSERT INTO POLIZAS_KM_FULL
SELECT 
A.LLAVE,
A.POLIZA,
A.ITEM,
A.MES_VIGENCIA,
A.MES_VIGENCIA AS ULTIMO_MES_VIGENCIA,
A.RUT_CORREDOR,
A.RUT_PAGADOR,
A.POLIZA_ANTERIROR,
A.ITEM_ANTERIOR,
CONVERT(DATE,A.FECHA_INICIO_VIGENCIA)FECHA_INICIO_VIGENCIA,
CONVERT(DATE,A.FECHA_FIN_VIGENCIA)FECHA_FIN_VIGENCIA,
A.CODIGO_PRODUCTO,
A.DEDUCIBLE,
A.CODIGO_PROVEEDOR,
A.FECHA_CANCELACION,
A.IMEI,
A.PLAN_POLIZA,
A.VOUCHER,
B.AÑO_FACTURACION,
B.MES_FACTURACION,
B.PROPUESTA,
B.FECHA_ACTIVACION,
CONVERT(DATE,B.INI_PERIODO_FACTURACION)INI_PERIODO_FACTURACION,
CONVERT(DATE,B.FIN_PERIODO_FACTURACION)FIN_PERIODO_FACTURACION,
B.FECHA_ESTADO_DISPOSITIVO,
B.ESTADO_DISPOSITIVO,
B.FECHA_DISPOSITIVO_INSTALADO,
B.FECHA_DISPOSITIVO_ENTREGADO,
B.CANTDAD_DIAS,
B.DESPACHO,
B.DIAS_DESCONEXION,
B.PENALIZACION_POR_DESCONEXION,
B.DIAS_DE_NO_INSTALACION,
B.PENALIZACION_POR_NO_INSTALACION,
B.NEGOCIO,


A.TEL_PRIMA_FIJA_CONTRATO_UF,
A.TEL_PRIMA_FIJA_CONTRATO_PESO,
A.TEL_PRIMA_VARIABLE_CONTRATO_UF,
A.TEL_PRIMA_VARIABLE_CONTRATO_PESO,
B.TEL_PRIMA_FIJA_NETA,
B.TEL_PRIMA_VARIABLE_NETA,
B.TEL_PRIMA_NETA,
B.POL_PRIMA_FIJA_NETA,
B.POL_PRIMA_VARIABLE_NETA,
B.POL_PRIMA_NETA,
B.UF_COBRO,
B.UFCONTRATACION AS UF_CONTRATACION,
CASE WHEN C.TEL_CANTIDAD_VIAJES IS NULL THEN 0 ELSE C.TEL_CANTIDAD_VIAJES	END  TEL_CANTIDAD_VIAJES,
CASE WHEN C.TEL_KM_RECORRIDOS	IS NULL THEN 0 ELSE C.TEL_KM_RECORRIDOS		END  TEL_KM_RECORRIDOS,
C.TEL_PRIMER_VIAJE,
C.TEL_ULTIMO_VIAJE,
CASE WHEN C.POL_CANTIDAD_VIAJES IS NULL THEN 0 ELSE C.POL_CANTIDAD_VIAJES	END  POL_CANTIDAD_VIAJES,
CASE WHEN C.POL_KM_RECORRIDOS	IS NULL THEN 0 ELSE C.POL_KM_RECORRIDOS		END  POL_KM_RECORRIDOS,
C.POL_PRIMER_VIAJE,
C.POL_ULTIMO_VIAJE,
0				AS VIGENTE,
0				AS IND_CANCELACION,
1				AS IND_RENOVACION
--DROP TABLE POLIZAS_KM_FULL
--INTO POLIZAS_KM_FULL
FROM #POLIZAS_KM A 
LEFT JOIN #POLIZA_KM_FACTURACION B ON A.POLIZA=B.POLIZA AND A.ITEM=B.ITEM
LEFT JOIN #POLIZA_KM_VIAJES C ON A.POLIZA=C.POLIZA AND A.ITEM=C.ITEM

SET @TERMINO= GETDATE()
SET @PASOS= GETDATE()

SELECT LLAVE,MAX(MES_VIGENCIA)MES_VIGENCIA INTO #ULTIMO_MES FROM POLIZAS_KM_FULL
GROUP BY LLAVE

UPDATE POLIZAS_KM_FULL
SET ULTIMO_MES_VIGENCIA=B.MES_VIGENCIA
FROM POLIZAS_KM_FULL A, #ULTIMO_MES B
WHERE A.LLAVE=B.LLAVE

UPDATE POLIZAS_KM_FULL
SET VIGENTE=1
WHERE MES_VIGENCIA=ULTIMO_MES_VIGENCIA AND FECHA_FIN_VIGENCIA>=GETDATE() AND FECHA_CANCELACION='1900-01-01 00:00:00.000'

UPDATE POLIZAS_KM_FULL
SET IND_CANCELACION=1
WHERE FECHA_CANCELACION<>'1900-01-01 00:00:00.000'


UPDATE POLIZAS_KM_FULL
SET IND_RENOVACION=0
WHERE  MES_VIGENCIA=1

UPDATE POLIZAS_KM_FULL
SET FECHA_DISPOSITIVO_INSTALADO= NULL
WHERE FECHA_DISPOSITIVO_INSTALADO= '1900-01-01 00:00:00.000'

SELECT LLAVE, MIN(TEL_PRIMER_VIAJE) TEL_PRIMER_VIAJE INTO #PRIMER_VIAJE FROM POLIZAS_KM_FULL
GROUP BY LLAVE

UPDATE POLIZAS_KM_FULL
SET FECHA_DISPOSITIVO_INSTALADO=B.TEL_PRIMER_VIAJE
FROM POLIZAS_KM_FULL A, #PRIMER_VIAJE B
WHERE A.LLAVE=B.LLAVE AND FECHA_DISPOSITIVO_INSTALADO IS NULL


WAITFOR DELAY '00:01:30'
SET @TERMINO=GETDATE()


/*
SELECT 
YEAR(FECHA_INICIO_VIGENCIA) AÑO_PRIMERA_VIGENCIA,
MONTH(FECHA_INICIO_VIGENCIA) MES_PRIMERA_VIGENCIA,
LLAVE,
POLIZA,
ITEM,
MES_VIGENCIA,
RUT_CORREDOR,
RUT_PAGADOR,
POLIZA_ANTERIROR,
ITEM_ANTERIOR,
PROPUESTA,
FECHA_INICIO_VIGENCIA,
FECHA_FIN_VIGENCIA,
CODIGO_PRODUCTO,
DEDUCIBLE,
CODIGO_PROVEEDOR,
FECHA_CANCELACION,
FECHA_ACTIVACION,
IMEI,
PLAN_POLIZA,
DESPACHO,
VOUCHER
FROM POLIZAS_KM_FULL WHERE MES_VIGENCIA =1 

*/


----***************************************************************
----CONTROL DE DISPOSITIVOS INSTALADAOS Y ACTIVOS

-- declare  @ULTIMO_CICLO int  declare  @CICLOS int


SELECT CODIGO_PLAN_TECNICO,DESCRIPCION_POLIZA_TELEMATICA INTO #PLANES_TENICOS_S_X_KM
FROM ALMACEN_DE_DATOS.DBO.SURA_MOVILIDAD_PLAN_TECNICO 
WHERE DESCRIPCION_POLIZA_TELEMATICA is not null

SELECT * INTO #POLIZAS_SEGURO_X_KM
FROM ALMACEN_DE_DATOS.DBO.SURA_MOVILIDAD_TRANSACCIONAL
WHERE CODIGO_PLAN_TECNICO IN (SELECT CODIGO_PLAN_TECNICO FROM #PLANES_TENICOS_S_X_KM)

SELECT 
A.NNUMDOCU																AS NNUMDOCU,
A.NNUMITEM																AS NNUMITEM,
B.PROPUESTA																AS PROPUESTA,
A.NNUMENDO																AS NNUMENDO,
A.ULTIMO_ENDOSO															AS ULTIMO_ENDOSO,
A.RUT_EJECUTIVO															AS RUT_EJECUTIVO,
A.EJECUTIVO																AS EJECUTIVO,
A.RUT_INTERMEDIARIO														AS RUT_INTERMEDIARIO,
A.INTERMEDIARIO															AS INTERMEDIARIO,
A.RUT_ASEGURADO															AS RUT_ASEGURADO,
A.CODIGO_PLAN_COMERCIAL													AS CODIGO_PLAN_COMERCIAL,
A.PLAN_COMERCIAL														AS PLAN_COMERCIAL,
A.CODIGO_PLAN_TECNICO													AS CODIGO_PLAN_TECNICO,
A.PLAN_TECNICO															AS PLAN_TECNICO,
A.DESCRIPCION_POLIZA_TELEMATICA											AS TIPO_POLIZA_TELEMATICA,
A.TIPO_INSPECCION														AS TIPO_INSPECCION,
A.ESTADO_INSPECCION														AS ESTADO_INSPECCION,
A.CALIDAD_DE_RIESGO														AS CALIDAD_DE_RIESGO,
A.ORIGEN_INSPECCION														AS ORIGEN_INSPECCION,
A.CODIGO_COB_ASISTENCIA													AS CODIGO_COB_ASISTENCIA,
A.ASISTENCIA															AS ASISTENCIA,
A.COMBO_ASITENCIA														AS COMBO_ASITENCIA,
A.PROVEEDOR_ASITENCIA													AS PROVEEDOR_ASITENCIA,
A.LINEA_NEGOCIO															AS LINEA_NEGOCIO,
A.TIPO_NEGOCIO															AS TIPO_NEGOCIO,
A.CANAL_NUEVO															AS CANAL_NUEVO,
A.BUSINESS_UNIT															AS BUSINESS_UNIT,
A.CHANNEL																AS CHANNEL,
A.CANAL_GOL																AS CANAL_GOL,
A.SUBGERENCIA_GOL														AS SUBGERENCIA_GOL,
A.LLAVE_1																AS LLAVE_MOVILIDAD,
B.LLAVE																	AS LLAVE_SEG_X_KM,
B.MES_VIGENCIA															AS MES_VIGENCIA,
B.ULTIMO_MES_VIGENCIA													AS ULTIMO_MES_VIGENCIA,
B.CODIGO_PRODUCTO														AS CODIGO_PRODUCTO,
B.CODIGO_PROVEEDOR														AS CODIGO_PROVEEDOR,
B.IMEI																	AS IMEI,
B.PLAN_POLIZA															AS PLAN_POLIZA,	
B.VOUCHER																AS VOUCHER,
A.INICIO_VIGENCIA														AS INICIO_VIGENCIA,
A.TERMINO_VIGENCIA														AS TERMINO_VIGENCIA,					
A.FECHA_FIRMA_POLIZA													AS FECHA_FIRMA_POLIZA,
A.TERMINO_VIGENCIA_REAL													AS TERMINO_VIGENCIA_REAL,
B.FECHA_DISPOSITIVO_ENTREGADO											AS FECHA_DISPOSITIVO_ENTREGADO,
B.FECHA_DISPOSITIVO_INSTALADO											AS FECHA_DISPOSITIVO_INSTALADO,
B.FECHA_ACTIVACION														AS FECHA_ACTIVACION,
B.FECHA_ESTADO_DISPOSITIVO												AS FECHA_ESTADO_DISPOSITIVO,
DATEDIFF(DAY,FECHA_FIRMA_POLIZA,FECHA_DISPOSITIVO_ENTREGADO)			AS DIAS_ENTRE_FIRMA_Y_ENTREGADO,
DATEDIFF(DAY,FECHA_DISPOSITIVO_ENTREGADO,FECHA_DISPOSITIVO_INSTALADO)	AS DIAS_ENTRE_ENTREGADO_Y_INSTALADO,
DATEDIFF(DAY,FECHA_DISPOSITIVO_INSTALADO,FECHA_ACTIVACION)				AS DIAS_ENTRE_INSTALADO_Y_ACTIVACION,
B.ESTADO_DISPOSITIVO													AS ESTADO_DISPOSITIVO,
B.DIAS_DESCONEXION														AS DIAS_DESCONEXION,
B.PENALIZACION_POR_DESCONEXION											AS PENALIZACION_POR_DESCONEXION,
B.DIAS_DE_NO_INSTALACION												AS DIAS_DE_NO_INSTALACION,
B.PENALIZACION_POR_NO_INSTALACION										AS PENALIZACION_POR_NO_INSTALACION,
B.TEL_CANTIDAD_VIAJES													AS TEL_CANTIDAD_VIAJES,
B.TEL_KM_RECORRIDOS														AS TEL_KM_RECORRIDOS,
B.VIGENTE																AS VIGENTE,
B.IND_CANCELACION														AS IND_CANCELACION,
B.IND_RENOVACION														AS IND_RENOVACION,
(YEAR(INICIO_VIGENCIA)*100)+MONTH(INICIO_VIGENCIA)						AS PERIDODO_INICIO_VIGENCIA, 
B.AÑO_FACTURACION*100+ B.MES_FACTURACION								AS PERIODO_FASCTURACION,
CASE WHEN B.POLIZA IS NULL THEN 0 ELSE 1 END							AS INFO_SEG_X_KM,
DESCRIPCION_POLIZA_TELEMATICA											AS DESCRIPCION_POLIZA_TELEMATICA,
0																		AS CANTIDAD_IMEI_INSTALADOS,
A.MARCA																	AS MARCA,
A.MODELO																AS MODELO,
A.AÑO																	AS AÑO,
CASE WHEN FECHA_DISPOSITIVO_ENTREGADO IS NULL AND DATEDIFF(DAY,FECHA_INICIO_VIGENCIA,GETDATE())<=30 THEN 1 ELSE 0 END	AS NO_ENTREGADO_NUEVO,
CASE WHEN FECHA_DISPOSITIVO_ENTREGADO IS NULL AND DATEDIFF(DAY,FECHA_INICIO_VIGENCIA,GETDATE())>30  THEN 1 ELSE 0 END	AS NO_ENTREGADO_VIEJO,
CASE WHEN FECHA_DISPOSITIVO_ENTREGADO IS NOT NULL			THEN 1 ELSE 0	END											AS ENTREGADO,
CASE WHEN FECHA_DISPOSITIVO_INSTALADO IS NOT NULL			THEN 1 ELSE 0	END											AS ACTIVADO,
CASE WHEN DATEDIFF(DAY,TEL_ULTIMO_VIAJE,GETDATE())<=30		THEN 1 ELSE 0	END											AS CONECTADO
INTO #GESTION_TELEMATICA
FROM #POLIZAS_SEGURO_X_KM A LEFT JOIN TRANSACCIONAL.DBO.POLIZAS_KM_FULL B ON
A.NNUMDOCU=B.POLIZA AND A.NNUMITEM=B.ITEM
WHERE DESCRIPCION_POLIZA_TELEMATICA NOT IN ('KM ANUAL')
--WHERE VOUCHER=20555929 ORDER BY 33 DESC


-- declare  @ULTIMO_CICLO int  declare  @CICLOS int

SELECT TOP 1 LLAVE_SEG_X_KM,COUNT(*) CANTIDAD 
INTO #ULTIMO_CICLO_2
FROM 
(SELECT LLAVE_SEG_X_KM,IMEI FROM #GESTION_TELEMATICA 
GROUP BY LLAVE_SEG_X_KM,IMEI)T
GROUP BY LLAVE_SEG_X_KM
ORDER BY 2 DESC




SET @ULTIMO_CICLO = (SELECT  CANTIDAD FROM #ULTIMO_CICLO_2)
SET @CICLOS=1

WHILE @CICLOS<=@ULTIMO_CICLO
BEGIN
UPDATE #GESTION_TELEMATICA
SET CANTIDAD_IMEI_INSTALADOS=@CICLOS
FROM #GESTION_TELEMATICA A,
(SELECT LLAVE_SEG_X_KM,MIN(MES_VIGENCIA)MES_VIGENCIA FROM (
SELECT LLAVE_SEG_X_KM,IMEI,MIN(MES_VIGENCIA)MES_VIGENCIA FROM #GESTION_TELEMATICA
WHERE CANTIDAD_IMEI_INSTALADOS=0 AND IMEI<>'0' 
GROUP BY LLAVE_SEG_X_KM,IMEI)L
WHERE IMEI NOT IN (SELECT IMEI FROM #GESTION_TELEMATICA WHERE CANTIDAD_IMEI_INSTALADOS>0)
GROUP BY LLAVE_SEG_X_KM
)B
WHERE A.LLAVE_SEG_X_KM=B.LLAVE_SEG_X_KM AND A.MES_VIGENCIA=B.MES_VIGENCIA
SET @CICLOS=@CICLOS+1
END



UPDATE #GESTION_TELEMATICA
SET MES_VIGENCIA=0, ULTIMO_MES_VIGENCIA=0

SELECT TOP 1 LLAVE_MOVILIDAD,COUNT(*) CANTIDAD 
INTO #ULTIMO_CICLO_3 FROM #GESTION_TELEMATICA GROUP BY LLAVE_MOVILIDAD ORDER BY 2 DESC

DECLARE  @ULTIMO_CICLO_3 INT  


SET @ULTIMO_CICLO_3 = (SELECT  CANTIDAD FROM #ULTIMO_CICLO_3)

DECLARE @CICLOS_3 INT
SET @CICLOS_3=1
WHILE @CICLOS_3<=@ULTIMO_CICLO_3
BEGIN
UPDATE #GESTION_TELEMATICA
SET MES_VIGENCIA=@CICLOS_3
FROM #GESTION_TELEMATICA A,
(SELECT LLAVE_MOVILIDAD,MIN(INICIO_VIGENCIA)INICIO_VIGENCIA FROM #GESTION_TELEMATICA
WHERE MES_VIGENCIA=0
GROUP BY LLAVE_MOVILIDAD)B
WHERE A.LLAVE_MOVILIDAD=B.LLAVE_MOVILIDAD AND A.INICIO_VIGENCIA=B.INICIO_VIGENCIA
SET @CICLOS_3=@CICLOS_3+1
END


SELECT LLAVE_MOVILIDAD,MAX(MES_VIGENCIA)MES_VIGENCIA INTO #ULTIMO_MES_3 FROM #GESTION_TELEMATICA
GROUP BY LLAVE_MOVILIDAD

UPDATE #GESTION_TELEMATICA
SET ULTIMO_MES_VIGENCIA=B.MES_VIGENCIA
FROM #GESTION_TELEMATICA A, #ULTIMO_MES_3 B
WHERE A.LLAVE_MOVILIDAD=B.LLAVE_MOVILIDAD

UPDATE #GESTION_TELEMATICA
SET VIGENTE=0


UPDATE #GESTION_TELEMATICA
SET VIGENTE=1
WHERE MES_VIGENCIA=ULTIMO_MES_VIGENCIA AND TERMINO_VIGENCIA_REAL>=GETDATE() 



TRUNCATE TABLE TELEMATICA_CONTROL_DE_ACTIVACION
INSERT INTO TELEMATICA_CONTROL_DE_ACTIVACION
SELECT * FROM #GESTION_TELEMATICA


UPDATE TELEMATICA_CONTROL_DE_ACTIVACION
SET FECHA_ACTIVACION=NULL
WHERE FECHA_ACTIVACION='1900-01-01 00:00:00.000'





TRUNCATE TABLE TELEMATICA_CONTROL_DE_ACTIVACION_PBI
INSERT INTO TELEMATICA_CONTROL_DE_ACTIVACION_PBI
SELECT 
NNUMDOCU,	
NNUMITEM,	
PROPUESTA,	
NNUMENDO,	
ULTIMO_ENDOSO,	
RUT_EJECUTIVO,	
EJECUTIVO,	
RUT_INTERMEDIARIO,	
INTERMEDIARIO,	
RUT_ASEGURADO,
CODIGO_PLAN_COMERCIAL,	
PLAN_COMERCIAL,	
CODIGO_PLAN_TECNICO,	
PLAN_TECNICO,	
TIPO_POLIZA_TELEMATICA,	
PROVEEDOR_ASITENCIA,	
LINEA_NEGOCIO,	
TIPO_NEGOCIO,	
CANAL_NUEVO,	
BUSINESS_UNIT,	
CHANNEL,	
CANAL_GOL,	
SUBGERENCIA_GOL,	
LLAVE_MOVILIDAD,	
LLAVE_SEG_X_KM,	
CODIGO_PRODUCTO,	
CODIGO_PROVEEDOR,	
IMEI,	
PLAN_POLIZA,	
VOUCHER,	
INICIO_VIGENCIA AS PRIMER_INICIO_VIGENCIA,
INICIO_VIGENCIA,	
TERMINO_VIGENCIA,	
FECHA_FIRMA_POLIZA AS PRIMERA_FECHA_FIRMA_POLIZA,	
FECHA_FIRMA_POLIZA,	
TERMINO_VIGENCIA_REAL,	
FECHA_DISPOSITIVO_ENTREGADO AS FECHA_DISPOSITIVO_ENTREGADO_KUDZU,	
FECHA_DISPOSITIVO_ENTREGADO AS FECHA_DISPOSITIVO_ENTREGADO_TELEMATICA,
'' AS FECHA_ULTIMO_ESTADO_KUDZU,	
FECHA_DISPOSITIVO_INSTALADO,	
FECHA_ACTIVACION,	
ESTADO_DISPOSITIVO,
'' ULTIMO_ESTADO_KUDZU,	
'' OBSERVACION_ULTIMO_ESTADO_KUDZU,
TEL_CANTIDAD_VIAJES,	
TEL_KM_RECORRIDOS,	
IND_CANCELACION,	
IND_RENOVACION,	
DESCRIPCION_POLIZA_TELEMATICA,	
CANTIDAD_IMEI_INSTALADOS,	
MES_VIGENCIA,
ULTIMO_MES_VIGENCIA,
MARCA,	
MODELO,	
AÑO,
VIGENTE,
CASE WHEN LLAVE_SEG_X_KM				IS NULL		THEN 0 ELSE 1 END	AS INFO_TELEMATICA,
CASE WHEN FECHA_DISPOSITIVO_ENTREGADO	IS NULL		THEN 0 ELSE 1 END	AS ENTREGA_DISPOSITIVO,
CASE WHEN FECHA_DISPOSITIVO_INSTALADO	IS NULL		THEN 0 ELSE 1 END	AS INSTALACION_DISPOSITIVO,
CASE WHEN FECHA_ACTIVACION				IS NULL		THEN 0 ELSE 1 END	AS ACTIVACION_DISPOSITIVO,
0																		AS REHABILITACION,
CASE WHEN TERMINO_VIGENCIA_REAL < TERMINO_VIGENCIA THEN 1 ELSE 0 END	AS CANCELACION,
DATEDIFF(DAY,FECHA_FIRMA_POLIZA,CASE WHEN FECHA_DISPOSITIVO_ENTREGADO IS NULL THEN GETDATE() ELSE FECHA_DISPOSITIVO_ENTREGADO END) AS DIAS_EMISION_ENTREGA,
DATEDIFF(DAY,FECHA_FIRMA_POLIZA,CASE WHEN FECHA_DISPOSITIVO_INSTALADO IS NULL THEN GETDATE() ELSE FECHA_DISPOSITIVO_INSTALADO END) AS DIAS_EMISION_INSTALADO,
''																		AS ESTADO_OCTO,
NULL																	AS FECHA_ESTADO_OCTO,
''																		AS ESTADO_JOYCAR,
''																		AS ESTADO_INSTALACION_JOYCAR,
NULL																	AS FECHA_ESTADO_JOYCAR
FROM TELEMATICA_CONTROL_DE_ACTIVACION
--WHERE MES_VIGENCIA=ULTIMO_MES_VIGENCIA




UPDATE TELEMATICA_CONTROL_DE_ACTIVACION_PBI
SET
DIAS_EMISION_ENTREGA=	DATEDIFF(DAY,PRIMERA_FECHA_FIRMA_POLIZA,		CASE WHEN FECHA_DISPOSITIVO_ENTREGADO_KUDZU IS NULL THEN GETDATE() ELSE FECHA_DISPOSITIVO_ENTREGADO_KUDZU	END),
DIAS_EMISION_INSTALADO=	DATEDIFF(DAY,FECHA_DISPOSITIVO_ENTREGADO_KUDZU,	CASE WHEN FECHA_DISPOSITIVO_INSTALADO		IS NULL THEN GETDATE() ELSE FECHA_DISPOSITIVO_INSTALADO			END)


SELECT LLAVE_SEG_X_KM,MIN(FECHA_FIRMA_POLIZA)FECHA_FIRMA_POLIZA,MIN(FECHA_DISPOSITIVO_ENTREGADO)FECHA_DISPOSITIVO_ENTREGADO INTO #FECHAS FROM TELEMATICA_CONTROL_DE_ACTIVACION
GROUP BY LLAVE_SEG_X_KM

UPDATE TELEMATICA_CONTROL_DE_ACTIVACION_PBI
SET 
PRIMERA_FECHA_FIRMA_POLIZA=B.FECHA_FIRMA_POLIZA,
FECHA_DISPOSITIVO_ENTREGADO_TELEMATICA=B.FECHA_DISPOSITIVO_ENTREGADO
FROM TELEMATICA_CONTROL_DE_ACTIVACION_PBI A, #FECHAS B
WHERE A.LLAVE_SEG_X_KM=B.LLAVE_SEG_X_KM


-------------------FECHA KUDZU POR POLIZA PROPUESTA
select POLIZA_PROPUESTA_DELIVERY,FECHA_ESTADO_DELIVERY  INTO #FECHA_ENTREGA from TELEMATICA_CARGA_KUDZU 
where ESTADO_DELIVERY='entregado' and 
len(POLIZA_PROPUESTA_DELIVERY)<=8 and len(POLIZA_PROPUESTA_DELIVERY)>=7
and POLIZA_PROPUESTA_DELIVERY not in ('','-1','0') and POLIZA_PROPUESTA_DELIVERY not like ('%o%') and NOMBREMIN_DELIVERY not in ('cable_extensor') and len(VOUCHER_ID_SOLICITUD_DELIVERY)>8


SELECT 
A.LLAVE_SEG_X_KM,
MIN(CONVERT(DATE,B.FECHA_ESTADO_DELIVERY))FECHA_ESTADO_DELIVERY 
INTO #FECHA_KUDZU
FROM TELEMATICA_CONTROL_DE_ACTIVACION A, #FECHA_ENTREGA B
WHERE A.PROPUESTA=CONVERT(INT,B.POLIZA_PROPUESTA_DELIVERY) 
GROUP BY A.LLAVE_SEG_X_KM

UPDATE TELEMATICA_CONTROL_DE_ACTIVACION_PBI
SET 
FECHA_DISPOSITIVO_ENTREGADO_KUDZU=B.FECHA_ESTADO_DELIVERY
FROM TELEMATICA_CONTROL_DE_ACTIVACION_PBI A, #FECHA_KUDZU B
WHERE A.LLAVE_SEG_X_KM=B.LLAVE_SEG_X_KM
-------------------------------FIN

-------------------FECHA KUDZU POR VOUCHER


UPDATE TELEMATICA_CONTROL_DE_ACTIVACION_PBI
SET VOUCHER=0
WHERE VOUCHER='*'

UPDATE TELEMATICA_CONTROL_DE_ACTIVACION
SET VOUCHER=0
WHERE VOUCHER='*'


select VOUCHER_ID_SOLICITUD_DELIVERY,FECHA_ESTADO_DELIVERY  INTO #FECHA_ENTREGA_VOUCHER 
FROM TELEMATICA_CARGA_KUDZU 
where ESTADO_DELIVERY='entregado' and 
len(VOUCHER_ID_SOLICITUD_DELIVERY)<=8 and len(VOUCHER_ID_SOLICITUD_DELIVERY)>=7
and VOUCHER_ID_SOLICITUD_DELIVERY not in ('','-1','0') and VOUCHER_ID_SOLICITUD_DELIVERY not like ('%o%') 
and NOMBREMIN_DELIVERY not in ('cable_extensor') 

SELECT 
A.LLAVE_SEG_X_KM,
MIN(CONVERT(DATE,B.FECHA_ESTADO_DELIVERY))FECHA_ESTADO_DELIVERY 
INTO #FECHA_KUDZU_VOUCHER
FROM TELEMATICA_CONTROL_DE_ACTIVACION A, #FECHA_ENTREGA_VOUCHER B
WHERE A.VOUCHER=CONVERT(INT,B.VOUCHER_ID_SOLICITUD_DELIVERY) 
GROUP BY A.LLAVE_SEG_X_KM

UPDATE TELEMATICA_CONTROL_DE_ACTIVACION_PBI
SET 
FECHA_DISPOSITIVO_ENTREGADO_KUDZU=B.FECHA_ESTADO_DELIVERY
FROM TELEMATICA_CONTROL_DE_ACTIVACION_PBI A, #FECHA_KUDZU_VOUCHER B
WHERE A.LLAVE_SEG_X_KM=B.LLAVE_SEG_X_KM AND FECHA_DISPOSITIVO_ENTREGADO_KUDZU IS NULL


---------------------------------FIN

----------------------------ULTIMO ESTADO KUDZU
select POLIZA_PROPUESTA_DELIVERY,FECHA_ESTADO_DELIVERY,UPPER(ESTADO_DELIVERY)ESTADO_DELIVERY,UPPER(OBSERVACIONES_DELIVERY)OBSERVACIONES_DELIVERY  
INTO #FECHA_ULTIMO_ESTADO_POLIZA_PORPUESTA from TELEMATICA_CARGA_KUDZU 
where ESTADO_DELIVERY<>'entregado' and 
len(POLIZA_PROPUESTA_DELIVERY)<=8 and len(POLIZA_PROPUESTA_DELIVERY)>=7
and POLIZA_PROPUESTA_DELIVERY not in ('','-1','0') and POLIZA_PROPUESTA_DELIVERY not like ('%o%') and 
NOMBREMIN_DELIVERY not in ('cable_extensor') 

select VOUCHER_ID_SOLICITUD_DELIVERY,FECHA_ESTADO_DELIVERY,UPPER(ESTADO_DELIVERY)ESTADO_DELIVERY,UPPER(OBSERVACIONES_DELIVERY)OBSERVACIONES_DELIVERY  
INTO #FECHA_ULTIMO_ESTADO_VOUCHER 
FROM TELEMATICA_CARGA_KUDZU 
where ESTADO_DELIVERY<>'entregado' and 
len(VOUCHER_ID_SOLICITUD_DELIVERY)<=8 and len(VOUCHER_ID_SOLICITUD_DELIVERY)>=7
and VOUCHER_ID_SOLICITUD_DELIVERY not in ('','-1','0') and VOUCHER_ID_SOLICITUD_DELIVERY not like ('%o%') and 
NOMBREMIN_DELIVERY not in ('cable_extensor') 

SELECT 
A.LLAVE_SEG_X_KM,
CONVERT(DATE,B.FECHA_ESTADO_DELIVERY)FECHA_ESTADO_DELIVERY,
ESTADO_DELIVERY,
OBSERVACIONES_DELIVERY
INTO #ESTADO_KUDZU
FROM TELEMATICA_CONTROL_DE_ACTIVACION A, #FECHA_ULTIMO_ESTADO_POLIZA_PORPUESTA B
WHERE A.PROPUESTA=CONVERT(INT,B.POLIZA_PROPUESTA_DELIVERY) 
GROUP BY 
A.LLAVE_SEG_X_KM,
CONVERT(DATE,B.FECHA_ESTADO_DELIVERY),
ESTADO_DELIVERY,
OBSERVACIONES_DELIVERY


INSERT INTO #ESTADO_KUDZU
SELECT 
A.LLAVE_SEG_X_KM,
CONVERT(DATE,B.FECHA_ESTADO_DELIVERY)FECHA_ESTADO_DELIVERY,
ESTADO_DELIVERY,
OBSERVACIONES_DELIVERY
FROM TELEMATICA_CONTROL_DE_ACTIVACION A, #FECHA_ULTIMO_ESTADO_VOUCHER B
WHERE A.VOUCHER=CONVERT(INT,B.VOUCHER_ID_SOLICITUD_DELIVERY)  AND 
LLAVE_SEG_X_KM NOT IN (SELECT LLAVE_SEG_X_KM FROM #ESTADO_KUDZU)
GROUP BY 
A.LLAVE_SEG_X_KM,
CONVERT(DATE,B.FECHA_ESTADO_DELIVERY),
ESTADO_DELIVERY,
OBSERVACIONES_DELIVERY

UPDATE TELEMATICA_CONTROL_DE_ACTIVACION_PBI
SET
FECHA_ULTIMO_ESTADO_KUDZU=FECHA_ESTADO_DELIVERY,
ULTIMO_ESTADO_KUDZU=ESTADO_DELIVERY,
OBSERVACION_ULTIMO_ESTADO_KUDZU=OBSERVACIONES_DELIVERY
FROM TELEMATICA_CONTROL_DE_ACTIVACION_PBI A, #ESTADO_KUDZU B
WHERE A.LLAVE_SEG_X_KM=B.LLAVE_SEG_X_KM
---------------------------------FIN

UPDATE TELEMATICA_CONTROL_DE_ACTIVACION_PBI
SET 
ENTREGA_DISPOSITIVO=1,
FECHA_DISPOSITIVO_ENTREGADO_KUDZU=FECHA_DISPOSITIVO_INSTALADO,
FECHA_DISPOSITIVO_ENTREGADO_TELEMATICA=FECHA_DISPOSITIVO_INSTALADO
WHERE ENTREGA_DISPOSITIVO=0 AND INSTALACION_DISPOSITIVO=1



UPDATE TELEMATICA_CONTROL_DE_ACTIVACION_PBI
SET 
FECHA_ULTIMO_ESTADO_KUDZU=FECHA_DISPOSITIVO_ENTREGADO_TELEMATICA,
ULTIMO_ESTADO_KUDZU='ENTRTEGADO',
OBSERVACION_ULTIMO_ESTADO_KUDZU=NULL
WHERE ENTREGA_DISPOSITIVO=1

UPDATE TELEMATICA_CONTROL_DE_ACTIVACION_PBI
SET 
DIAS_EMISION_INSTALADO=NULL
WHERE ENTREGA_DISPOSITIVO=0 AND INSTALACION_DISPOSITIVO=0


----REVISAR LA ASIGNACION DE DIAS ENTRE EMISION Y ENTREGA Y EMISION E INSTALACION 

UPDATE TELEMATICA_CONTROL_DE_ACTIVACION_PBI
SET
DIAS_EMISION_ENTREGA=	DATEDIFF(DAY,PRIMERA_FECHA_FIRMA_POLIZA,		CASE WHEN FECHA_DISPOSITIVO_ENTREGADO_KUDZU IS NULL THEN GETDATE() ELSE FECHA_DISPOSITIVO_ENTREGADO_KUDZU	END),
DIAS_EMISION_INSTALADO=	DATEDIFF(DAY,FECHA_DISPOSITIVO_ENTREGADO_KUDZU,	CASE WHEN FECHA_DISPOSITIVO_INSTALADO		IS NULL THEN GETDATE() ELSE FECHA_DISPOSITIVO_INSTALADO			END)


UPDATE TELEMATICA_CONTROL_DE_ACTIVACION_PBI
SET FECHA_DISPOSITIVO_ENTREGADO_KUDZU=PRIMERA_FECHA_FIRMA_POLIZA
WHERE DIAS_EMISION_ENTREGA<0


UPDATE TELEMATICA_CONTROL_DE_ACTIVACION_PBI
SET FECHA_DISPOSITIVO_INSTALADO=FECHA_DISPOSITIVO_ENTREGADO_KUDZU
WHERE DIAS_EMISION_INSTALADO<0

UPDATE TELEMATICA_CONTROL_DE_ACTIVACION_PBI
SET
DIAS_EMISION_ENTREGA=	DATEDIFF(DAY,PRIMERA_FECHA_FIRMA_POLIZA,		CASE WHEN FECHA_DISPOSITIVO_ENTREGADO_KUDZU IS NULL THEN GETDATE() ELSE FECHA_DISPOSITIVO_ENTREGADO_KUDZU	END),
DIAS_EMISION_INSTALADO=	DATEDIFF(DAY,FECHA_DISPOSITIVO_ENTREGADO_KUDZU,	CASE WHEN FECHA_DISPOSITIVO_INSTALADO		IS NULL THEN GETDATE() ELSE FECHA_DISPOSITIVO_INSTALADO			END)



UPDATE TELEMATICA_CONTROL_DE_ACTIVACION_PBI
SET
ENTREGA_DISPOSITIVO=CASE WHEN FECHA_DISPOSITIVO_ENTREGADO_KUDZU	IS NULL		THEN 0 ELSE 1 END


SELECT LLAVE_MOVILIDAD,MAX(NNUMENDO)NNUMENDO,MAX(ULTIMO_ENDOSO)ULTIMO_ENDOSO INTO #ULTIMO_ENDOSO FROM TELEMATICA_CONTROL_DE_ACTIVACION
GROUP BY LLAVE_MOVILIDAD

UPDATE #ULTIMO_ENDOSO
SET ULTIMO_ENDOSO=B.ULTIMO_ENDOSO
FROM #ULTIMO_ENDOSO A, TELEMATICA_CONTROL_DE_ACTIVACION B
WHERE A.LLAVE_MOVILIDAD=B.LLAVE_MOVILIDAD AND A.NNUMENDO=B.NNUMENDO

UPDATE TELEMATICA_CONTROL_DE_ACTIVACION_PBI
SET REHABILITACION=1
WHERE LLAVE_MOVILIDAD IN (SELECT LLAVE_MOVILIDAD FROM #ULTIMO_ENDOSO WHERE ULTIMO_ENDOSO='REHABILITACION')

SELECT CODIGO_PLAN_TECNICO,CODIGO_PROVEEDOR,CODIGO_PRODUCTO INTO #PRODUCTO_PROVEEDOR FROM TELEMATICA_CONTROL_DE_ACTIVACION_PBI
WHERE CODIGO_PROVEEDOR IS NOT NULL
GROUP BY CODIGO_PLAN_TECNICO,CODIGO_PROVEEDOR,CODIGO_PRODUCTO

UPDATE TELEMATICA_CONTROL_DE_ACTIVACION_PBI
SET CODIGO_PROVEEDOR=B.CODIGO_PROVEEDOR,CODIGO_PRODUCTO=B.CODIGO_PRODUCTO
FROM TELEMATICA_CONTROL_DE_ACTIVACION_PBI A, #PRODUCTO_PROVEEDOR B
WHERE A.CODIGO_PLAN_TECNICO=B.CODIGO_PLAN_TECNICO AND A.CODIGO_PROVEEDOR IS NULL

UPDATE TELEMATICA_CONTROL_DE_ACTIVACION_PBI
SET 
CODIGO_PROVEEDOR=
CASE WHEN A.TIPO_POLIZA_TELEMATICA LIKE('%JOOYCAR%') THEN 'JOOYCAR' ELSE
CASE WHEN A.TIPO_POLIZA_TELEMATICA LIKE('%OCTO%') THEN 'OCTO' ELSE
'NO IDENTIFICADO'
END 
END
,
CODIGO_PRODUCTO=CONVERT(NVARCHAR(20),B.DESCRIPCION_POLIZA_TELEMATICA)
FROM TELEMATICA_CONTROL_DE_ACTIVACION_PBI A, ALMACEN_DE_DATOS.DBO.SURA_MOVILIDAD_PLAN_TECNICO B
WHERE A.CODIGO_PLAN_TECNICO=B.CODIGO_PLAN_TECNICO AND A.CODIGO_PROVEEDOR IS NULL

SELECT LLAVE_SEG_X_KM,MAX(CANTIDAD_IMEI_INSTALADOS)CANTIDAD_IMEI_INSTALADOS 
INTO #CANTIDAD_IMEI
FROM TELEMATICA_CONTROL_DE_ACTIVACION
GROUP BY LLAVE_SEG_X_KM
HAVING MAX(CANTIDAD_IMEI_INSTALADOS)>0

UPDATE TELEMATICA_CONTROL_DE_ACTIVACION_PBI
SET CANTIDAD_IMEI_INSTALADOS=B.CANTIDAD_IMEI_INSTALADOS
FROM TELEMATICA_CONTROL_DE_ACTIVACION_PBI A, #CANTIDAD_IMEI B
WHERE A.LLAVE_SEG_X_KM=B.LLAVE_SEG_X_KM


UPDATE TELEMATICA_CONTROL_DE_ACTIVACION_PBI
SET ESTADO_OCTO=B.TERMINAL_STATE, FECHA_ESTADO_OCTO=CONVERT(DATETIME,B.FIRST_ACTIVATION_DATE)
FROM TELEMATICA_CONTROL_DE_ACTIVACION_PBI A, TELEMATICA_CARGA_OCTO B
WHERE 
A.VOUCHER=B.ID_VOUCHER


UPDATE TELEMATICA_CONTROL_DE_ACTIVACION_PBI
SET ESTADO_JOYCAR=B.ESTADO,ESTADO_INSTALACION_JOYCAR=B.INSTALLATIONSTATUS, FECHA_ESTADO_JOYCAR=CONVERT(DATETIME,B.FIN)
FROM TELEMATICA_CONTROL_DE_ACTIVACION_PBI A, TELEMATICA_CARGA_JOYCAR B
WHERE 
A.NNUMDOCU=B.POLIZA AND NNUMITEM=B.ITEM


SELECT LLAVE_MOVILIDAD,MAX(MES_VIGENCIA)MES_VIGENCIA 
INTO  #ULTIMO_REGISTRO_POLIZA FROM TELEMATICA_CONTROL_DE_ACTIVACION_PBI WHERE LLAVE_SEG_X_KM IS NOT NULL
GROUP BY LLAVE_MOVILIDAD


SELECT 
A.LLAVE_MOVILIDAD,
A.LLAVE_SEG_X_KM,
A.CODIGO_PRODUCTO,
A.CODIGO_PROVEEDOR,
A.IMEI,
A.PLAN_POLIZA,
A.VOUCHER,
A.FECHA_DISPOSITIVO_ENTREGADO_KUDZU,
A.FECHA_DISPOSITIVO_ENTREGADO_TELEMATICA,
A.FECHA_ULTIMO_ESTADO_KUDZU,
A.FECHA_DISPOSITIVO_INSTALADO,
A.FECHA_ACTIVACION,
A.ESTADO_DISPOSITIVO,
A.ULTIMO_ESTADO_KUDZU,
A.OBSERVACION_ULTIMO_ESTADO_KUDZU,
A.DESCRIPCION_POLIZA_TELEMATICA,
A.CANTIDAD_IMEI_INSTALADOS,
A.INFO_TELEMATICA,
A.ENTREGA_DISPOSITIVO,
A.INSTALACION_DISPOSITIVO,
A.ACTIVACION_DISPOSITIVO,
A.REHABILITACION,
A.DIAS_EMISION_ENTREGA,
A.DIAS_EMISION_INSTALADO,
A.ESTADO_OCTO,
A.FECHA_ESTADO_OCTO,
A.ESTADO_JOYCAR,
A.ESTADO_INSTALACION_JOYCAR,
A.FECHA_ESTADO_JOYCAR
INTO #ACTUALIZACION_POLIZAS_RENOVADAS
FROM TELEMATICA_CONTROL_DE_ACTIVACION_PBI A, #ULTIMO_REGISTRO_POLIZA B 
WHERE A.LLAVE_MOVILIDAD=B.LLAVE_MOVILIDAD AND A.MES_VIGENCIA=B.MES_VIGENCIA AND  LLAVE_SEG_X_KM IS NOT NULL 


UPDATE TELEMATICA_CONTROL_DE_ACTIVACION_PBI
SET
LLAVE_SEG_X_KM=							B.LLAVE_SEG_X_KM ,
CODIGO_PRODUCTO=						B.CODIGO_PRODUCTO ,
CODIGO_PROVEEDOR=						B.CODIGO_PROVEEDOR ,
IMEI=									B.IMEI ,
PLAN_POLIZA=							B.PLAN_POLIZA ,
VOUCHER=								B.VOUCHER ,
FECHA_DISPOSITIVO_ENTREGADO_KUDZU=		B.FECHA_DISPOSITIVO_ENTREGADO_KUDZU ,
FECHA_DISPOSITIVO_ENTREGADO_TELEMATICA= B.FECHA_DISPOSITIVO_ENTREGADO_TELEMATICA ,
FECHA_ULTIMO_ESTADO_KUDZU=				B.FECHA_ULTIMO_ESTADO_KUDZU ,
FECHA_DISPOSITIVO_INSTALADO=			B.FECHA_DISPOSITIVO_INSTALADO ,
FECHA_ACTIVACION=						B.FECHA_ACTIVACION ,
ESTADO_DISPOSITIVO=						B.ESTADO_DISPOSITIVO ,
ULTIMO_ESTADO_KUDZU=					B.ULTIMO_ESTADO_KUDZU ,
OBSERVACION_ULTIMO_ESTADO_KUDZU=		B.OBSERVACION_ULTIMO_ESTADO_KUDZU ,
DESCRIPCION_POLIZA_TELEMATICA=			B.DESCRIPCION_POLIZA_TELEMATICA ,
CANTIDAD_IMEI_INSTALADOS=				B.CANTIDAD_IMEI_INSTALADOS ,
INFO_TELEMATICA=						B.INFO_TELEMATICA ,
ENTREGA_DISPOSITIVO=					B.ENTREGA_DISPOSITIVO ,
INSTALACION_DISPOSITIVO=				B.INSTALACION_DISPOSITIVO ,
ACTIVACION_DISPOSITIVO=					B.ACTIVACION_DISPOSITIVO ,
REHABILITACION=							B.REHABILITACION ,
DIAS_EMISION_ENTREGA=					B.DIAS_EMISION_ENTREGA ,
DIAS_EMISION_INSTALADO=					B.DIAS_EMISION_INSTALADO ,
ESTADO_OCTO=							B.ESTADO_OCTO ,
FECHA_ESTADO_OCTO=						B.FECHA_ESTADO_OCTO ,
ESTADO_JOYCAR=							B.ESTADO_JOYCAR ,
ESTADO_INSTALACION_JOYCAR=				B.ESTADO_INSTALACION_JOYCAR ,
FECHA_ESTADO_JOYCAR=					B.FECHA_ESTADO_JOYCAR
FROM TELEMATICA_CONTROL_DE_ACTIVACION_PBI A, #ACTUALIZACION_POLIZAS_RENOVADAS B
WHERE A.LLAVE_MOVILIDAD=B.LLAVE_MOVILIDAD AND A.LLAVE_SEG_X_KM IS NULL


--DELETE FROM TELEMATICA_CONTROL_DE_ACTIVACION_PBI WHERE VIGENTE=0 
