DECLARE @INICIO DATETIME
DECLARE @TERMINO DATETIME
SET @INICIO=GETDATE()

INSERT INTO CANAL_ASESOR.DBO.MOVILIDAD_CONTROL_DE_EJECUCION VALUES ('SP_SINIESTRO_SIN_INSPECCION','INICIO',@INICIO,0,0)

SELECT * INTO #SINIESTROS FROM OPENQUERY(SOL,'
select  
B.NNUMDOCU,
B.NNUMITEM,
B.NNUMSINI,
B.CCODRAMO,
CASE WHEN A.NFECDENU=0 THEN NULL ELSE CAST(TIMESTAMP_FORMAT(CAST( A.NFECDENU AS NCHAR(8)),''YYYYMMDD'') AS DATE)	END	AS FECHA_DENUNCIO,
CASE WHEN A.NFECDENU=0 THEN NULL ELSE CAST(TIMESTAMP_FORMAT(CAST( A.NFECAVIS AS NCHAR(8)),''YYYYMMDD'') AS DATE)	END	AS FECHA_AVISO_SINIESTRO,
CASE WHEN A.NFECDENU=0 THEN NULL ELSE CAST(TIMESTAMP_FORMAT(CAST( A.NFECSINI AS NCHAR(8)),''YYYYMMDD'') AS DATE)	END	AS FECHA_SINIESTRO,

A.CTERINOS																				AS TERCEROS_INOCENTES,
A.CCOMEDEN																				AS MEDIO_DENUNCIO,	
A.CCODCSIN																				AS CAUSA_SINIESTRO,
A.CCODEVEN																				AS EVENTO,
A.CCODSATE																				AS SUCURSAL_ATENCION,
A.CCODTDEN																				AS TIPO_DENUNCIA,
A.CCODSTSI																				AS MOTIVO_RECHAZO_SINIESTRO,	
A.CCODRESI																				AS ESTADO_SINIESTRO,
A.NRURECLA																				AS RUT_RECLAMANTE,	
A.NRULIQUI																				AS RUT_LIQUIDADOR,
A.CNCODAVI																				AS MEDIO_DE_AVISO,
A.NNURUPRO																				AS RUT_PROPONENTE,	

CASE WHEN A.NFECDENU=0 THEN NULL ELSE CAST(TIMESTAMP_FORMAT(CAST( A.NFECINGR AS NCHAR(8)),''YYYYMMDD'') AS DATE)	END	AS FECHA_INGRESO,
A.CCLAUSUA																				AS USUARIO,
A.CCODETSI																				AS ETAPA_SINIESTRO
FROM RSASOLDB2.SNACSCSI A LEFT  JOIN RSASOLDB2.SNACSCOR B
ON
A.NNUMSINI=B.NNUMSINI 
WHERE 
CASE WHEN A.NFECDENU=0 THEN NULL ELSE CAST(TIMESTAMP_FORMAT(CAST( A.NFECDENU AS NCHAR(8)),''YYYYMMDD'') AS DATE)	END > (CURRENT DATE - 7 DAYS) AND
CASE WHEN A.NFECDENU=0 THEN NULL ELSE CAST(TIMESTAMP_FORMAT(CAST( A.NFECDENU AS NCHAR(8)),''YYYYMMDD'') AS DATE)	END <= (CURRENT DATE) AND B.NNUCOSIN=1 AND
B.CCODRAMO LIKE (''E%'')	')


		 




INSERT INTO CANAL_ASESOR.DBO.MOVILIDAD_CONTROL_DE_EJECUCION VALUES ('SP_SINIESTRO_SIN_INSPECCION','1 DE 4',GETDATE(),0,0)


--SELECT NNUMDOCU,NNUMITEM,* FROM [SOL].[S1031EBB].RSASOLDB2.SNACSCOR

ALTER TABLE #SINIESTROS ALTER COLUMN MEDIO_DENUNCIO				NVARCHAR(250)
ALTER TABLE #SINIESTROS ALTER COLUMN CAUSA_SINIESTRO			NVARCHAR(250)
ALTER TABLE #SINIESTROS ALTER COLUMN EVENTO						NVARCHAR(250)
ALTER TABLE #SINIESTROS ALTER COLUMN SUCURSAL_ATENCION			NVARCHAR(250)
ALTER TABLE #SINIESTROS ALTER COLUMN TIPO_DENUNCIA				NVARCHAR(250)
ALTER TABLE #SINIESTROS ALTER COLUMN MOTIVO_RECHAZO_SINIESTRO	NVARCHAR(250)
ALTER TABLE #SINIESTROS ALTER COLUMN ESTADO_SINIESTRO			NVARCHAR(250)
ALTER TABLE #SINIESTROS ALTER COLUMN MEDIO_DE_AVISO				NVARCHAR(250)
ALTER TABLE #SINIESTROS ALTER COLUMN ETAPA_SINIESTRO			NVARCHAR(250)


UPDATE #SINIESTROS
SET MEDIO_DENUNCIO=B.CDESELEM
FROM #SINIESTROS A,[SOL].[S1031EBB].RSASOLDB2.TBACSTGE B
WHERE A.MEDIO_DENUNCIO=B.CCODUNIC

UPDATE #SINIESTROS
SET CAUSA_SINIESTRO=B.CDESELEM
FROM #SINIESTROS A,[SOL].[S1031EBB].RSASOLDB2.TBACSTGE B
WHERE A.CAUSA_SINIESTRO=B.CCODUNIC

UPDATE #SINIESTROS
SET EVENTO=B.CDESELEM
FROM #SINIESTROS A,[SOL].[S1031EBB].RSASOLDB2.TBACSTGE B
WHERE A.EVENTO=B.CCODUNIC

UPDATE #SINIESTROS
SET TIPO_DENUNCIA=B.CDESELEM
FROM #SINIESTROS A,[SOL].[S1031EBB].RSASOLDB2.TBACSTGE B
WHERE A.TIPO_DENUNCIA=B.CCODUNIC

UPDATE #SINIESTROS
SET MOTIVO_RECHAZO_SINIESTRO=B.CDESELEM
FROM #SINIESTROS A,[SOL].[S1031EBB].RSASOLDB2.TBACSTGE B
WHERE A.MOTIVO_RECHAZO_SINIESTRO=B.CCODUNIC

UPDATE #SINIESTROS
SET ESTADO_SINIESTRO=B.CDESELEM
FROM #SINIESTROS A,[SOL].[S1031EBB].RSASOLDB2.TBACSTGE B
WHERE A.ESTADO_SINIESTRO=B.CCODUNIC

UPDATE #SINIESTROS
SET MEDIO_DE_AVISO=B.CDESELEM
FROM #SINIESTROS A,[SOL].[S1031EBB].RSASOLDB2.TBACSTGE B
WHERE A.MEDIO_DE_AVISO=B.CCODUNIC

UPDATE #SINIESTROS
SET ETAPA_SINIESTRO=B.CDESELEM
FROM #SINIESTROS A,[SOL].[S1031EBB].RSASOLDB2.TBACSTGE B
WHERE A.ETAPA_SINIESTRO=B.CCODUNIC

UPDATE #SINIESTROS
SET SUCURSAL_ATENCION=B.CDESELEM
FROM #SINIESTROS A,[SOL].[S1031EBB].RSASOLDB2.TBACSTGE B
WHERE A.SUCURSAL_ATENCION=B.CCODUNIC

DELETE FROM #SINIESTROS WHERE EVENTO  NOT IN ('PERDIDA TOTAL','ROBO NO HABIDO')

INSERT INTO CANAL_ASESOR.DBO.MOVILIDAD_CONTROL_DE_EJECUCION VALUES ('SP_SINIESTRO_SIN_INSPECCION','2 DE 4',GETDATE(),0,0)


SELECT A.*,
DATEDIFF(DAY,B.FECHA_EMISION_HO,A.FECHA_DENUNCIO)	AS DIAS_DESDE_CONTRATACION, 
B.NNURUASE											AS RUT_ASEGURADO,
B.ASEGURADO											AS ASEGURADO,
B.ORIGEN											AS ORIGEN,
B.NPLAN												AS COD_PLAN_COMERCIAL,
B.PLAN_COMERCIAL									AS PLAN_COMERCIAL,
B.NPLANTEC											AS COD_PLAN_TECNICO,
B.PLAN_TECNICO										AS PLAN_TECNICO,
B.NNURUINT											AS RUT_INTERMEDIARIO,
B.INTERMEDIARIO										AS INTERMEDIARIO,
B.NNURUEJC											AS RUT_EJECUTIVO,
B.EJECUTIVO											AS EJECUTIVO,
B.FECHA_EMISION_HO									AS FECHA_EMISION,
B.FECHA_ANULACION_HO								AS FECHA_ANULACION,
B.FECHA_CANCELACION_HO								AS FECHA_CANCELACION,
B.NFEINVIG_HO										AS FECHA_INICIO_VIGENCIA,
B.NFETEVIG_HO										AS FECHA_FIN_VIGENCIA,
B.LINEA_NEGOCIO										AS LINEA_NEGOCIO,
B.CNUMPATE											AS PATENTE,
B.MARCA												AS MARCA,
B.MODELO											AS MODELO,
B.AÑO_FABRICACION									AS AÑO_FABRICACION,
B.NUMERO_MOTOR										AS NUMERO_MOTOR,
B.NUMERO_CHASIS										AS NUMERO_CHASIS
INTO #SINIESTROS_2
FROM #SINIESTROS A LEFT JOIN RAIZ_POLIZA_ACTUALIZADA_VEHICULO B
ON A.NNUMDOCU=B.NNUMDOCU AND A.NNUMITEM=B.NNUMITEM
WHERE  EVENTO NOT LIKE ('%PARCIAL%') AND EVENTO NOT LIKE ('%PARTES%') AND B.IND_RENOVACION=0


DROP TABLE IF EXISTS SINIESTROS_INSPECCION_INFORME
SELECT 
A.*,
B.NNINSPEC,
B.NNUMVERS,
B.CCODTIIN																										AS TIPO_INSPECCION,	
B.CCODESTA																										AS ESTADO_INSPECCION,
B.CCODCRIE																										AS ESTADO,
CASE WHEN B.NFECSOLI=0 OR B.NFECSOLI IS NULL THEN NULL ELSE CONVERT(DATE,CONVERT(nvarchar(8),B.NFECSOLI))	END AS FECHA_SOLICITUD_INSPECCION,
CASE WHEN B.NFECASIG=0 OR B.NFECASIG IS NULL THEN NULL ELSE CONVERT(DATE,CONVERT(nvarchar(8),B.NFECASIG))	END	AS FECHA_ASGINACION_INSPECCION,
CASE WHEN B.NFECINEF=0 OR B.NFECINEF IS NULL THEN NULL ELSE CONVERT(DATE,CONVERT(nvarchar(8),B.NFECINEF))	END AS FECHA_INSPECCION,
CASE WHEN B.NFECRECE=0 OR B.NFECRECE IS NULL THEN NULL ELSE CONVERT(DATE,CONVERT(nvarchar(8),B.NFECRECE))	END	AS FECHA_RECEPCION_INSPECCION_CIA,
CASE WHEN B.NFECVBIN=0 OR B.NFECVBIN IS NULL THEN NULL ELSE CONVERT(DATE,CONVERT(nvarchar(8),B.NFECVBIN))	END	AS FECHA_VB_INSPECCION,
UPPER(C.CDESCRIP)																								AS INSPECCION
INTO SINIESTROS_INSPECCION_INFORME
FROM #SINIESTROS_2 A 
LEFT JOIN [SOL].[S1031EBB].RSASOLDB2.SUACSSOL B ON A.NNUMDOCU=B.NNUMDOCU AND A.NNUMITEM=B.NNUMITEM
LEFT JOIN [SOL].[S1031EBB].RSASOLDB2.SUACSINO C ON B.NNINSPEC =C.NNINSPEC AND B.NNUMVERS=C.NNUMVERS




UPDATE SINIESTROS_INSPECCION_INFORME
SET TIPO_INSPECCION=B.CDESELEM
FROM SINIESTROS_INSPECCION_INFORME A,ALMACEN_DE_DATOS.DBO.SURA_TBACSTGE B
WHERE A.TIPO_INSPECCION=B.CCODUNIC

UPDATE SINIESTROS_INSPECCION_INFORME
SET ESTADO_INSPECCION=B.CDESELEM
FROM SINIESTROS_INSPECCION_INFORME A,ALMACEN_DE_DATOS.DBO.SURA_TBACSTGE B
WHERE A.ESTADO_INSPECCION=B.CCODUNIC

UPDATE SINIESTROS_INSPECCION_INFORME
SET ESTADO=B.CDESELEM
FROM SINIESTROS_INSPECCION_INFORME A,(select * from ALMACEN_DE_DATOS.DBO.SURA_TBACSTGE where dcodtabl=1761) B
WHERE CONVERT(NVARCHAR(1),A.ESTADO)=CONVERT(NVARCHAR(1),B.CCODELEM)



UPDATE SINIESTROS_INSPECCION_INFORME
SET INSPECCION='SIN DETALLE DE INSPECCION'
WHERE TIPO_INSPECCION IS NOT NULL AND INSPECCION IS NULL

UPDATE SINIESTROS_INSPECCION_INFORME
SET INSPECCION='SIN INSPECCION'
WHERE INSPECCION IS NULL

DELETE FROM SINIESTROS_INSPECCION_INFORME WHERE ESTADO IN ('BUENO','CONFIABLE','POCO CONFIABLE','ACEPTABLE CON RECOMENDACIONES','EXCELENTE','POBRE','ESTANDAR','ACEPT.SOLO SI CUMPLE CON REQUERIMIENTOS')

DELETE FROM SINIESTROS_INSPECCION_INFORME WHERE RUT_INTERMEDIARIO NOT IN (SELECT DISTINCT NNUMRUT FROM PROCESOS.DBO.BASE_INFO_CANAL WHERE BUSINESS_UNIT IN ('CANAL ASESOR','NEGOCIOS EMPRESAS Y PERSONAS') OR NNUMRUT=99017000)

DELETE FROM SINIESTROS_INSPECCION_INFORME WHERE DIAS_DESDE_CONTRATACION>60

UPDATE SINIESTROS_INSPECCION_INFORME
SET NNUMDOCU=0
FROM SINIESTROS_INSPECCION_INFORME  A, MI_PRIMA_EMITIDA_ACCESS B 
where A.NNUMDOCU=B.NNUMDOCU AND A.NNUMITEM=B.NNUMITEM AND IND_RENOVACION=1

DELETE FROM SINIESTROS_INSPECCION_INFORME WHERE NNUMDOCU=0

SET @TERMINO=GETDATE()



