-- Debes llamar al stock procedure de esta manera
-- EXEC Almacen_de_Datos.[dbo].[SP_SURA_ASISTENCIA] FECHA_INICIO
USE [Almacen_de_Datos]
GO

ALTER PROCEDURE [dbo].[SP_SURA_ASISTENCIA]
	@FECHA_INICIO AS DATE
AS

DECLARE @TERMINO DATETIME
DECLARE @INICIO DATETIME
DECLARE @PASOS DATETIME
SET @INICIO=GETDATE()
SET @PASOS=@INICIO			
---SP_SURA_ASISTENCIA '2022-07-01'

begin

--DECLARE @FECHA_INICIO DATE
--SET @FECHA_INICIO='2021-10-01'
DECLARE @PERIDOO INT
SET @PERIDOO=(YEAR(@FECHA_INICIO)*100)+MONTH(@FECHA_INICIO)

DECLARE @FECHA_TERMINO DATE
SET @FECHA_TERMINO=EOMONTH(@FECHA_INICIO)

SET @TERMINO= GETDATE()
INSERT INTO CANAL_ASESOR.DBO.MOVILIDAD_CONTROL_DE_EJECUCION VALUES ('SP_SURA_ASISTENCIA','INICIO',@TERMINO,DATEDIFF(MINUTE,@PASOS,@TERMINO)/60,DATEDIFF(MINUTE,@PASOS,@TERMINO)%60)
SET @PASOS= GETDATE()

SELECT 
LLAVE_1,
NNUMDOCU,
NNUMITEM,
NNUMCERT,
PRORROGA,
NNUMENDO,
ULTIMO_ENDOSO,
CODIGO_RAMO,
RAMO,
RUT_EJECUTIVO,
EJECUTIVO,
RUT_EJECUTIVO_NUEVO,
EJECUTIVO_NUEVO,
RUT_INTERMEDIARIO,
INTERMEDIARIO,
RUT_PROPONENTE,
RUT_ASEGURADO,
RENOVACION_GOL,
IND_CANCELACION_GOL,
IND_CANCELACION_CALCULADA,
IND_ANULACION_CALCULADA,
IND_REHABILITACION_CALCULADA,
IND_RENOVACION_GOL,
IND_RENOVACION_LLAVE_1,
CICLO_RENOVACION_LLAVE_1,
CODIGO_PLAN_COMERCIAL,
PLAN_COMERCIAL,
CODIGO_PLAN_TECNICO,
PLAN_TECNICO,
TIPO_PLAN,
IND_POLIZA_MENSUAL,
IND_POLIZA_UBER,
IND_POLIZA_TELEMATICA,
DESCRIPCION_POLIZA_TELEMATICA,
TALLER,
IND_PLAN_TECNICO_WEB,
TIPO_INSPECCION,
ESTADO_INSPECCION,
CALIDAD_DE_RIESGO,
ORIGEN_INSPECCION,
DEDUCIBLE,
LINEA_NEGOCIO,
CODIGO_TIPO_NEGOCIO,
TIPO_NEGOCIO,
CANAL_NUEVO,
BUSINESS_UNIT,
CHANNEL,
CANAL_GOL,
SUBGERENCIA_GOL,
CODIGO_MARCA,
CODIGO_MODELO,
MARCA,
MODELO,
AÑO,
PATENTE,
CHASIS,
MOTOR,
TIPO_VEHICULO,
USO,
FECHA_FIRMA_POLIZA,
FECHA_FIRMA_ULTIMO_ENDOSO,
INICIO_VIGENCIA,
TERMINO_VIGENCIA,
TERMINO_VIGENCIA_REAL,
FECHA_CANCELACION,
SUCURSAL_GOL,
COMUNA_ASE,
PROVINCIA_ASE,
REGION_ASE,
MACRO_ZONAS_ASE,
ZONAS_GEOGRAFICAS_ASE,
REGIONES_URBES_ASE,
ZONA_ASE,
CASE WHEN YEAR(INICIO_VIGENCIA)	*100 + MONTH(INICIO_VIGENCIA)					<@PERIDOO THEN @FECHA_INICIO	ELSE INICIO_VIGENCIA		END INICIO,
CASE WHEN YEAR(TERMINO_VIGENCIA_REAL)*100 + MONTH(TERMINO_VIGENCIA_REAL)		>@PERIDOO THEN @FECHA_TERMINO	ELSE TERMINO_VIGENCIA_REAL	END TERMINO,
CODIGO_COB_ASISTENCIA,
ASISTENCIA,
COMBO_ASITENCIA,
PROVEEDOR_ASITENCIA
INTO #BASE_ASISTENCIA
FROM SURA_MOVILIDAD_TRANSACCIONAL WHERE 
YEAR(INICIO_VIGENCIA)		*100 + MONTH(INICIO_VIGENCIA)			<=@PERIDOO AND 
YEAR(TERMINO_VIGENCIA_REAL)	*100 + MONTH(TERMINO_VIGENCIA_REAL)		>=@PERIDOO 
ORDER BY 2 ASC

DELETE FROM SURA_ASISTENCIA WHERE PERIODO=@FECHA_INICIO

SET @TERMINO= GETDATE()
INSERT INTO CANAL_ASESOR.DBO.MOVILIDAD_CONTROL_DE_EJECUCION VALUES ('SP_SURA_ASISTENCIA','1 DE 1',@TERMINO,DATEDIFF(MINUTE,@PASOS,@TERMINO)/60,DATEDIFF(MINUTE,@PASOS,@TERMINO)%60)
SET @PASOS= GETDATE()


INSERT INTO SURA_ASISTENCIA
SELECT 
@FECHA_INICIO AS PERIODO,
LLAVE_1,
NNUMDOCU,
NNUMITEM,
NNUMCERT,
PRORROGA,
NNUMENDO,
ULTIMO_ENDOSO,
CODIGO_RAMO,
RAMO,
RUT_EJECUTIVO,
EJECUTIVO,
RUT_EJECUTIVO_NUEVO,
EJECUTIVO_NUEVO,
RUT_INTERMEDIARIO,
INTERMEDIARIO,
RUT_PROPONENTE,
RUT_ASEGURADO,
RENOVACION_GOL,
IND_CANCELACION_GOL,
IND_CANCELACION_CALCULADA,
IND_ANULACION_CALCULADA,
IND_REHABILITACION_CALCULADA,
IND_RENOVACION_GOL,
IND_RENOVACION_LLAVE_1,
CICLO_RENOVACION_LLAVE_1,
CODIGO_PLAN_COMERCIAL,
PLAN_COMERCIAL,
CODIGO_PLAN_TECNICO,
PLAN_TECNICO,
TIPO_PLAN,
IND_POLIZA_MENSUAL,
IND_POLIZA_UBER,
IND_POLIZA_TELEMATICA,
DESCRIPCION_POLIZA_TELEMATICA,
TALLER,
IND_PLAN_TECNICO_WEB,
TIPO_INSPECCION,
ESTADO_INSPECCION,
CALIDAD_DE_RIESGO,
ORIGEN_INSPECCION,
DEDUCIBLE,
LINEA_NEGOCIO,
CODIGO_TIPO_NEGOCIO,
TIPO_NEGOCIO,
CANAL_NUEVO,
BUSINESS_UNIT,
CHANNEL,
CANAL_GOL,
SUBGERENCIA_GOL,
CODIGO_MARCA,
CODIGO_MODELO,
MARCA,
MODELO,
AÑO,
PATENTE,
CHASIS,
MOTOR,
TIPO_VEHICULO,
USO,
FECHA_FIRMA_POLIZA,
FECHA_FIRMA_ULTIMO_ENDOSO,
INICIO_VIGENCIA,
TERMINO_VIGENCIA,
TERMINO_VIGENCIA_REAL,
FECHA_CANCELACION,
SUCURSAL_GOL,
COMUNA_ASE,
PROVINCIA_ASE,
REGION_ASE,
MACRO_ZONAS_ASE,
ZONAS_GEOGRAFICAS_ASE,
REGIONES_URBES_ASE,
ZONA_ASE,
INICIO,
TERMINO,
CASE WHEN DATEDIFF(DAY,INICIO,TERMINO)+1<0 THEN 0 ELSE DATEDIFF(DAY,INICIO,TERMINO)+1 END DIAS_VIGENTES,
CODIGO_COB_ASISTENCIA,
ASISTENCIA,
COMBO_ASITENCIA,
PROVEEDOR_ASITENCIA,
CASE WHEN @FECHA_TERMINO BETWEEN INICIO AND TERMINO THEN 1 ELSE 0 END VIGENTE_FIN_DE_MES
FROM #BASE_ASISTENCIA
ORDER BY 1 DESC

END



SET @TERMINO= GETDATE()
INSERT INTO CANAL_ASESOR.DBO.MOVILIDAD_CONTROL_DE_EJECUCION VALUES ('SP_SURA_ASISTENCIA','FIN',@TERMINO,DATEDIFF(MINUTE,@INICIO,@TERMINO)/60,DATEDIFF(MINUTE,@INICIO,@TERMINO)%60)
SET @PASOS= GETDATE()

WAITFOR DELAY '00:00:02'

/*


select PERIODO,NNUMDOCU,NNUMITEM,COMBOASIST COMBO_ASISTENCIA_IT INTO #ASISTENCIA_IT from ASISTENCIA_IT 
select PERIODO,NNUMDOCU,NNUMITEM,COMBO_ASISTENCIA INTO #SURA_ASISTENCIA from SURA_ASISTENCIA where  VIGENTE_FIN_DE_MES=1 




SELECT 
A.PERIODO,A.NNUMDOCU,A.NNUMITEM,A.COMBO_ASISTENCIA,
B.PERIODO AS PERIODO_IT,B.NNUMDOCU AS NNUMDOCU_IT,B.NNUMITEM AS NNUMITEM_IT,B.COMBO_ASISTENCIA_IT
INTO #ANALISIS
FROM #SURA_ASISTENCIA  A FULL JOIN  #ASISTENCIA_IT B ON
A.PERIODO=B.PERIODO AND A.NNUMDOCU=B.NNUMDOCU AND A.NNUMITEM=B.NNUMITEM

UPDATE #ANALISIS
SET
PERIODO=PERIODO_IT,
NNUMDOCU=NNUMDOCU_IT,
NNUMITEM=NNUMITEM_IT
WHERE PERIODO IS NULL

SELECT 
PERIODO,	
NNUMDOCU,	
NNUMITEM,	
COMBO_ASISTENCIA,
COMBO_ASISTENCIA_IT,
CASE WHEN COMBO_ASISTENCIA<>COMBO_ASISTENCIA_IT AND COMBO_ASISTENCIA IS NOT NULL AND COMBO_ASISTENCIA_IT IS NOT NULL THEN 'COMBOS DIFERENTES' ELSE
	CASE WHEN COMBO_ASISTENCIA=COMBO_ASISTENCIA_IT THEN 'COMBOS COINCIDEN' ELSE
		CASE WHEN COMBO_ASISTENCIA IS NULL THEN 'NO SE ENCUENTRA EN ARCHIVO NUEVO' ELSE 
			CASE WHEN COMBO_ASISTENCIA_IT IS NULL THEN 'NO SE ENCUENTRA EN ARCHIVO IT'
			END
		END
	END
END AS ESTADO
INTO #ANALISIS_FINAL
FROM #ANALISIS 

SELECT PERIODO,ESTADO,COUNT(*) FROM #ANALISIS_FINAL 
WHERE PERIODO NOT IN ('2021-11-01')
GROUP BY PERIODO,ESTADO 
ORDER BY 1 DESC

select A.PERIODO,CANAL_NUEVO,BUSINESS_UNIT,CHANNEL,CANAL_GOL,COUNT(*) from SURA_ASISTENCIA a,
(select * from #ANALISIS_FINAL where estado='NO SE ENCUENTRA EN ARCHIVO IT') b
where A.NNUMDOCU=B.NNUMDOCU AND A.NNUMITEM=B.NNUMITEM AND A.PERIODO=B.PERIODO
--AND A.PERIODO='2021-10-01'
GROUP BY A.PERIODO,CANAL_NUEVO,BUSINESS_UNIT,CHANNEL,CANAL_GOL

SELECT 
A.PERIODO,
A.NNUMDOCU,
A.NNUMITEM,
CODIGO_RAMO,
RAMO,
RUT_EJECUTIVO,
EJECUTIVO,
RUT_EJECUTIVO_NUEVO,
EJECUTIVO_NUEVO,
RUT_INTERMEDIARIO,
INTERMEDIARIO,
RUT_PROPONENTE,
RUT_ASEGURADO,
CODIGO_PLAN_COMERCIAL,
PLAN_COMERCIAL,
CODIGO_PLAN_TECNICO,
PLAN_TECNICO,
TIPO_PLAN,
TALLER,
DEDUCIBLE,
LINEA_NEGOCIO,
TIPO_NEGOCIO,
CANAL_NUEVO,
BUSINESS_UNIT,
CHANNEL,
CANAL_GOL,
SUBGERENCIA_GOL,
CODIGO_MARCA,
CODIGO_MODELO,
MARCA,
MODELO,
AÑO,
PATENTE,
CHASIS,
MOTOR,
TIPO_VEHICULO,
USO,
FECHA_FIRMA_POLIZA,
FECHA_FIRMA_ULTIMO_ENDOSO,
INICIO_VIGENCIA,
TERMINO_VIGENCIA,
TERMINO_VIGENCIA_REAL,
FECHA_CANCELACION,
SUCURSAL_GOL,
COMUNA_ASE,
INICIO,
TERMINO,
DIAS_VIGENTES,
CODIGO_COB_ASISTENCIA,
ASISTENCIA,
B.COMBO_ASISTENCIA,
PROVEEDOR_ASITENCIA,
VIGENTE_FIN_DE_MES,
ESTADO
FROM #ANALISIS_FINAL A LEFT JOIN SURA_ASISTENCIA B ON 
A.NNUMDOCU=B.NNUMDOCU AND A.NNUMITEM=B.NNUMITEM AND A.PERIODO=B.PERIODO
WHERE A.PERIODO  IN ('2021-10-01') and ESTADO='NO SE ENCUENTRA EN ARCHIVO IT'
*/


