USE [Almacen_de_Datos]
GO

ALTER  PROCEDURE [dbo].[SP_SURA_COBERTURAS]
AS
DECLARE @TERMINO DATETIME
DECLARE @INICIO DATETIME
DECLARE @PASOS DATETIME
SET @INICIO=GETDATE()
SET @PASOS=@INICIO	
---	EXEC [SP_SURA_COBERTURAS]
BEGIN

SET @TERMINO= GETDATE()
INSERT INTO CANAL_ASESOR.DBO.MOVILIDAD_CONTROL_DE_EJECUCION VALUES ('SP_SURA_COBERTURAS','INICIO',@TERMINO,DATEDIFF(MINUTE,@PASOS,@TERMINO)/60,DATEDIFF(MINUTE,@PASOS,@TERMINO)%60)
SET @PASOS= GETDATE()



DECLARE @ULTIME_CARGA INT
SET @ULTIME_CARGA= (SELECT MAX(NFECUACT)  FROM SURA_COBERTURAS)

DELETE FROM SURA_COBERTURAS WHERE NFECUACT>=@ULTIME_CARGA

INSERT INTO  SURA_COBERTURAS
SELECT 
NNUMDOCU,
NNUMITEM,
CCODRAMO,
CCODCOBE,
CDESCRIP,
SUM(DVAMOASE)MONTO_ASE,
SUM(DPRINETA)PRIMA,
DPORCOMI,
CASE WHEN CCODLNRO IN ('17391    00','17393    00') THEN 'PERSONAL' ELSE 'COMMERCIAL' END LINEA_NEGOCIO,
LN13,LN24,
' ' AS DESCE,
NFECUACT,
0 CODIGO_RAMO_KEIRA_PRINCIPAL
FROM SOL.S1031EBB.RSASOLDB2.SUACSCOB A LEFT JOIN (SELECT RAMO,COBER,CDESCRIP,LN13,LN24 FROM SOL.S1031EBB.RSASOLDB2.EMPPER X LEFT JOIN SOL.S1031EBB.RSASOLDB2.PDACSRCC Y ON X.RAMO=Y.CCODRAMO AND X.COBER=Y.CCODCOBE) B ON
A.CCODRAMO=B.RAMO AND A.CCODCOBE=B.COBER
WHERE
NFECUACT>= @ULTIME_CARGA
AND NNUMDOCU>0 
GROUP BY 
NNUMDOCU,
NNUMCERT,
NNUMITEM,
CCODRAMO,
CCODCOBE,
CDESCRIP,
DPORCOMI,
CCODLNRO,
LN13,LN24,
NFECUACT

SET @TERMINO= GETDATE()
INSERT INTO CANAL_ASESOR.DBO.MOVILIDAD_CONTROL_DE_EJECUCION VALUES ('SP_SURA_COBERTURAS','1 DE 2',@TERMINO,DATEDIFF(MINUTE,@PASOS,@TERMINO)/60,DATEDIFF(MINUTE,@PASOS,@TERMINO)%60)
SET @PASOS= GETDATE()


DELETE  SURA_COBERTURAS_MOVILIDAD_ASISTENCIA WHERE NFECUACT>=@ULTIME_CARGA

INSERT INTO SURA_COBERTURAS_MOVILIDAD_ASISTENCIA
SELECT NNUMDOCU,NNUMITEM,CCODRAMO,CCODCOBE,CDESCRIP,NFECUACT
FROM SURA_COBERTURAS 
WHERE 
CCODRAMO LIKE('E%')		AND 
CDESCRIP LIKE ('%ASIS%')AND 
NFECUACT>=@ULTIME_CARGA
GROUP BY NNUMDOCU,NNUMITEM,CCODRAMO,CCODCOBE,CDESCRIP,NFECUACT

SELECT NNUMDOCU,MAX(PRIMA) PRIMA, CODIGO_RAMO_KEIRA_PRINCIPAL INTO #SURA_COBERTURAS FROM SURA_COBERTURAS
WHERE CODIGO_RAMO_KEIRA_PRINCIPAL=0
GROUP BY NNUMDOCU,CODIGO_RAMO_KEIRA_PRINCIPAL


UPDATE #SURA_COBERTURAS
SET CODIGO_RAMO_KEIRA_PRINCIPAL=B.LN13
FROM #SURA_COBERTURAS A, SURA_COBERTURAS B
WHERE A.NNUMDOCU=B.NNUMDOCU AND A.PRIMA=B.PRIMA AND B.LINEA_NEGOCIO='PERSONAL'

UPDATE #SURA_COBERTURAS
SET CODIGO_RAMO_KEIRA_PRINCIPAL=B.LN24
FROM #SURA_COBERTURAS A, SURA_COBERTURAS B
WHERE A.NNUMDOCU=B.NNUMDOCU AND A.PRIMA=B.PRIMA AND B.LINEA_NEGOCIO='COMMERCIAL' 

UPDATE SURA_COBERTURAS
SET CODIGO_RAMO_KEIRA_PRINCIPAL=B.CODIGO_RAMO_KEIRA_PRINCIPAL
FROM SURA_COBERTURAS A, #SURA_COBERTURAS B
WHERE A.NNUMDOCU=B.NNUMDOCU AND A.CODIGO_RAMO_KEIRA_PRINCIPAL=0


SET @TERMINO= GETDATE()
INSERT INTO CANAL_ASESOR.DBO.MOVILIDAD_CONTROL_DE_EJECUCION VALUES ('SP_SURA_COBERTURAS','2 DE 2',@TERMINO,DATEDIFF(MINUTE,@PASOS,@TERMINO)/60,DATEDIFF(MINUTE,@PASOS,@TERMINO)%60)
SET @PASOS= GETDATE()
SET @TERMINO= GETDATE()
INSERT INTO CANAL_ASESOR.DBO.MOVILIDAD_CONTROL_DE_EJECUCION VALUES ('SP_SURA_COBERTURAS','FIN',@TERMINO,DATEDIFF(MINUTE,@INICIO,@TERMINO)/60,DATEDIFF(MINUTE,@INICIO,@TERMINO)%60)
SET @PASOS= GETDATE()

END



WAITFOR DELAY '00:00:02'