USE [Almacen_de_Datos]
GO

ALTER  PROCEDURE [dbo].[01_SP_SURA_CIERRE_MES]
AS
BEGIN TRY
DECLARE @TERMINO DATETIME
DECLARE @INICIO DATETIME
DECLARE @PASOS DATETIME
SET @INICIO=GETDATE()
SET @PASOS=@INICIO
--+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
SET @TERMINO= GETDATE()
INSERT INTO CANAL_ASESOR.DBO.MOVILIDAD_CONTROL_DE_EJECUCION VALUES ('01_SP_SURA_CIERRE_MES','INICIO',@TERMINO,DATEDIFF(MINUTE,@PASOS,@TERMINO)/60,DATEDIFF(MINUTE,@PASOS,@TERMINO)%60)
SET @PASOS= GETDATE()

--+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++


DECLARE @ULTIMO_PERIDODO_MES_CERRADO DATE
SET @ULTIMO_PERIDODO_MES_CERRADO =(SELECT MAX(PERIODO_CONTABLE)FROM SURA_CIERRE_MES WHERE TIPO_CARGA='M')


INSERT INTO SURA_CIERRE_MES
SELECT PERIODO_CONTABLE,
TIMEFRAME,
VERSION,
GRSNETCEDID,
NNUMDOCU,
NNUMCERT,
NNUMENDO,
CCODRAMO,
NNURUEJC,
NNURUEJCNEW,
NNURUINT,
NNURUPRO,
CCODSUCU,
NNUMCAMP,
CINTIPDO,
NEWRENEWAL,
ORIGEN_DATA,
RAMOCONTABLE,
NCORASVS,
NNUMMAAF,
PRIMA_01,
PRIMA_02,
PRIMA_03,
PRIMA_04,
PRIMA_05,
PRIMA_06,
PRIMA_07,
PRIMA_08,
PRIMA_09,
COMISION_01,
COMISION_02,
COMISION_03,
COMISION_04,
COMISION_05,
COMISION_06,
COMISION_07,
COMISION_08,
COMISION_09,
CCODTNRO,
CCODTFIR,
NPLAN,
NNUMITEM,
YEARCONT,
CINTIREA,
CINCOFAC,
NNUMCONT,
NSECCONT,
CCOCISVS,
CSECURIT,
CDESTRAM,
DMONASEG_01,
DMONASEG_02,
DMONASEG_03,
DMONASEG_04,
DMONASEG_05,
DMONASEG_06,
DMONASEG_07,
DMONASEG_08,
DMONASEG_09,
CCOMOORI,
NPLANTEC,
CCOMAVEH,
NCOMOVEH,
CLINPROD,
CPRODUCT,
CTIPOVEH,
NFEINVIG,
NFETEVIG,
CCODMOEN,
DMONASEG_01_ALL,
DMONASEG_02_ALL,
DMONASEG_03_ALL,
DMONASEG_04_ALL,
DMONASEG_05_ALL,
DMONASEG_06_ALL,
DMONASEG_07_ALL,
DMONASEG_08_ALL,
DMONASEG_09_ALL,
NNUMUBIC,
CCODCLFS,
CCODCLAS,
NNUMSECU,
MEDIO_PAGO,
CAUSA_CANCELACION,
CCODREGI,
NNUVEREA,
NFECFIRM,
NNURUASE,
CCODRMX,
CTIPCLIVINT,
CTIPCLIVPRO,
'M'		AS TIPO_CARGA
FROM CANAL_ASESOR.DBO.FactWrittenPremium_Mensual 
WHERE GRSNETCEDID='Gross' AND PERIODO_CONTABLE>@ULTIMO_PERIDODO_MES_CERRADO


DECLARE @ULTIMA_CARGA INT
SET @ULTIMA_CARGA =(SELECT MAX(NPECOSUS) FROM SURA_CANAL_BU_PARTNER)

DELETE FROM SURA_CANAL_BU_PARTNER WHERE NPECOSUS=@ULTIMA_CARGA

 
DECLARE @CONSULTA	AS NVARCHAR(4000)	

SET @CONSULTA = 
'SELECT * FROM OPENQUERY(SOL,''
SELECT 
UPPER(NNUMDOCU)			AS NNUMDOCU,	
UPPER(NNURUEJC)			AS NNURUEJC,	
UPPER(NPECOSUS)			AS NPECOSUS,	
UPPER(CANAL)			AS CANAL,	
UPPER(BU)				AS BU,	
UPPER(ORIGEN)			AS ORIGEN,	
UPPER(NNURUINT)			AS NNURUINT,	
UPPER(CCODSUCU)			AS CCODSUCU,	
UPPER(NPLAN)			AS NPLAN,	
UPPER(PARTNER)			AS PARTNER,	
UPPER(PARTNER_SUCURSAL)	AS PARTNER_SUCURSAL
FROM misdb2.stock_polizas_pl WHERE NPECOSUS >='+CAST (@ULTIMA_CARGA AS NVARCHAR(10))+'
'')'

INSERT INTO  SURA_CANAL_BU_PARTNER
EXEC SP_EXECUTESQL @CONSULTA



DECLARE @NFECUACT numeric(8, 0)
SET @NFECUACT=(SELECT MAX(NFECUACT) FROM SURA_USUARIO_FIRMA)


-----------------------------USUARIO QUE FIRMA POLIZA

DELETE FROM SURA_USUARIO_FIRMA WHERE NFECUACT>=@NFECUACT

SET @CONSULTA = 
'SELECT * FROM OPENQUERY(SOL,''
SELECT * FROM RSASOLDB2.SUACSCES WHERE CCODESDO=''''0240F    00'''' AND NFECUACT>= '+CAST (@NFECUACT AS NVARCHAR(8))+' 
'')'

INSERT INTO SURA_USUARIO_FIRMA
EXEC SP_EXECUTESQL @CONSULTA



--------------------------------------------------------CANCELACION PERDIDA TOTAL

TRUNCATE TABLE SURA_CANCELACION_PERDIDA_TOTAL
DECLARE @CONSULTA_2 AS NVARCHAR(4000)	
SET @CONSULTA_2 = 'SELECT DISTINCT
NNUMDOCU,
NNUMENDO,
NNUMITEM,
CASE WHEN NFECEMIS =0 THEN NULL ELSE CONVERT(DATE,CONVERT(NVARCHAR(8),NFECEMIS)) END NFECEMIS,
CASE WHEN NFEINVIG =0 THEN NULL ELSE CONVERT(DATE,CONVERT(NVARCHAR(8),NFEINVIG)) END NFEINVIG,
CASE WHEN NFETEVIG =0 THEN NULL ELSE CONVERT(DATE,CONVERT(NVARCHAR(8),NFETEVIG)) END NFETEVIG,
''CANCELACION PERDIDA TOTAL'' TIPO_ENDOSO
FROM OPENQUERY(SOL,'' 
SELECT 
A.DPRINETA,A.NFECEMIS,A.CCODESDO,A.CCODMOEN,A.CINTIPDO,
A.NNUMDOCU,A.NNUMENDO,B.NNUMITEM,
B.NFEINVIG,B.NFETEVIG
FROM 
RSASOLDB2.SUACSPOL A 
LEFT JOIN RSASOLDB2.SUACSITE B ON A.NNUMDOCU=B.NNUMDOCU AND A.NNUMENDO=B.NNUMENDO
WHERE A.CCODMOEN=''''0036D10  00'''' AND A.NNUMDOCU>0
 '')'
INSERT INTO SURA_CANCELACION_PERDIDA_TOTAL
EXEC SP_EXECUTESQL @CONSULTA_2



--------------------------------------------------------ULTIMO ESTADO TELEMATICA


SELECT * INTO #ESTADOS_CAP_TERMINAL		FROM SURA_ESTADOS_HOMOLOGADOS_TELEMATICA WHERE NOMBRE_CAMPO_A_HOMOLOGAR='CAP_TERMINAL'
SELECT * INTO #ESTADOS_ESTADO_COURIER	FROM SURA_ESTADOS_HOMOLOGADOS_TELEMATICA WHERE NOMBRE_CAMPO_A_HOMOLOGAR='ESTADO_COURIER'



SELECT DISTINCT 
'OCTO'						AS PROVEEDOR,
VOUCHER						AS VOUCHER,
0							AS POLIZA,
0							AS ITEM,
MAX(RUT)					AS RUT,
MAX(CIUDAD)					AS CIUDAD,
ESTADO_COURIER				AS ESTADO_COURIER,
CAP_TERMINAL				AS CAP_TERMINAL,
C.VALOR_HOMOLOGADO			AS ESTADO_COURIER_HOMOLOGADO,
B.VALOR_HOMOLOGADO			AS CAP_TERMINAL_HOMOLOGADO,
MIN(FECHA_AUDITORIA)		AS FECHA_AUDITORIA,
0							AS PERIODO,
FECHA_ASIGNACION			AS FECHA_ASIGNACION,
FECHA_ACTIVACION			AS FECHA_ACTIVACION,
IMEI						AS IMEI, 
0							AS CICLO_AUDITORIA,
0							AS ULTIMO_CICLO_AUDITORIA,
0							AS ULTIMO_CICLO_IMEI
INTO #VOUCHER
FROM [RSACLSF041].[TELEMATICASURA].[DBO].[BITACORAVOUCHER] A 
LEFT JOIN #ESTADOS_CAP_TERMINAL		B ON A.CAP_TERMINAL		=B.VALOR_A_HOMOLOGAR
LEFT JOIN #ESTADOS_ESTADO_COURIER	C ON A.ESTADO_COURIER	=C.VALOR_A_HOMOLOGAR
--WHERE VOUCHER=20371823 
GROUP BY VOUCHER,ESTADO_COURIER,CAP_TERMINAL,FECHA_ASIGNACION,FECHA_ACTIVACION,IMEI,C.VALOR_HOMOLOGADO,B.VALOR_HOMOLOGADO
ORDER BY 4,5


UPDATE #VOUCHER
SET PERIODO=YEAR(FECHA_AUDITORIA)*100+MONTH(FECHA_AUDITORIA)
WHERE YEAR(FECHA_AUDITORIA)*100+MONTH(FECHA_AUDITORIA) IS NOT NULL



UPDATE #VOUCHER
SET RUT=B.RUT, CIUDAD=B.CIUDAD
FROM #VOUCHER A, [RSACLSF041].[TELEMATICASURA].[DBO].[BITACORAVOUCHER] B
WHERE A.VOUCHER=B.VOUCHER AND A.FECHA_AUDITORIA=B.FECHA_AUDITORIA

------------------------------------------CICLOS

DECLARE @ULTIMO_CICLO INT
SET @ULTIMO_CICLO = (SELECT TOP 1 COUNT(*) FROM #VOUCHER  
--WHERE VOUCHER=20383447
GROUP BY VOUCHER
ORDER BY 1 DESC)

DECLARE @CICLOS INT
SET @CICLOS=1
WHILE @CICLOS<=@ULTIMO_CICLO
BEGIN


UPDATE #VOUCHER
SET CICLO_AUDITORIA=@CICLOS
FROM #VOUCHER A, (SELECT VOUCHER,MIN(FECHA_AUDITORIA)FECHA_AUDITORIA FROM #VOUCHER WHERE CICLO_AUDITORIA =0 GROUP BY VOUCHER) B
WHERE 
A.VOUCHER=B.VOUCHER 
AND A.FECHA_AUDITORIA=B.FECHA_AUDITORIA
AND CICLO_AUDITORIA=0
--AND A.VOUCHER=20383447

SET @CICLOS=@CICLOS+1

END

UPDATE #VOUCHER
SET ULTIMO_CICLO_AUDITORIA=B.CANTIDAD
FROM #VOUCHER A,
(SELECT VOUCHER,COUNT(*)CANTIDAD FROM #VOUCHER  
GROUP BY VOUCHER) B
WHERE A.VOUCHER=B.VOUCHER

UPDATE #VOUCHER
SET ULTIMO_CICLO_IMEI=B.ULTIMO_CICLO_IMEI
FROM #VOUCHER A,
(SELECT VOUCHER,IMEI,MAX(CICLO_AUDITORIA)ULTIMO_CICLO_IMEI FROM #VOUCHER  
WHERE IMEI <>'' AND IMEI IS NOT NULL
GROUP BY VOUCHER,IMEI) B
WHERE A.VOUCHER=B.VOUCHER AND A.IMEI=B.IMEI

TRUNCATE TABLE TRANSACCIONAL.DBO.TELEMATICA_ULTIMO_ESTADO
INSERT INTO TRANSACCIONAL.DBO.TELEMATICA_ULTIMO_ESTADO
SELECT * FROM #VOUCHER where CICLO_AUDITORIA=ULTIMO_CICLO_AUDITORIA
-----------------



---------------------------------SEGMENTACION DE CLIENTES (ESQUEDULARLO PARA QUE SE EJECUTE SOLO  POR QUINCENA )
DECLARE @TIMESTAMP DATE
SET @TIMESTAMP =(SELECT TOP 1 TIMESTAMP FROM SURA_SEGMENTACION_CLINETE)


IF DATEDIFF (DAY,@TIMESTAMP,GETDATE())>30
	BEGIN

TRUNCATE TABLE SURA_SEGMENTACION_CLINETE
INSERT INTO SURA_SEGMENTACION_CLINETE
SELECT 
UPPER(B.RUT)				AS RUT,
UPPER(A.SEGMENTO)			AS SEGMENTO,
UPPER(B.GSE)				AS GSE,
UPPER(B.SEXO)				AS SEXO,
UPPER(B.RENTA)				AS RENTA,
UPPER(B.SEGMENTO_OFICIAL)	AS SEGMENTO_OFICIAL,
GETDATE()					AS TIMESTAMP
FROM SGV1864.ANALYTICSDM.DBO.DIM_PJE_CALIDAD_CONS A LEFT JOIN SGV1864.ANALYTICSABASTECIMIENTO.DBO.SEGMENTACION_MULTI B ON A.NNURUASE=B.RUT
WHERE B.RUT IS NOT NULL

END



SET @TERMINO= GETDATE()
INSERT INTO CANAL_ASESOR.DBO.MOVILIDAD_CONTROL_DE_EJECUCION VALUES ('01_SP_SURA_CIERRE_MES','FIN',@TERMINO,DATEDIFF(MINUTE,@PASOS,@TERMINO)/60,DATEDIFF(MINUTE,@PASOS,@TERMINO)%60)
SET @PASOS= GETDATE()


WAITFOR DELAY '00:00:02'



END TRY
BEGIN CATCH
INSERT INTO CANAL_ASESOR.DBO.MOVILIDAD_CONTROL_ERROR
  SELECT 
    ERROR_NUMBER()		AS NUMERO_ERROR,
    ERROR_STATE()		AS ESTADO_ERROR,
    ERROR_SEVERITY()	AS SEVERIDAD_ERROR,
    ERROR_PROCEDURE()	AS NOMBRE_PROCEDIMIENTO,
    ERROR_LINE()		AS LINEA_ERROR,
    ERROR_MESSAGE()		AS MENBSAGE_ERROR,
	GETDATE()			AS TIMESTAMP,
	CURRENT_USER		AS USUARIO_EJECUTA
	;
END CATCH;





