USE [Almacen_de_Datos]
GO

ALTER  PROCEDURE [dbo].[02_SP_SURA_TRANSACCIONAL]
AS
BEGIN TRY
DECLARE @TERMINO DATETIME
DECLARE @INICIO DATETIME
DECLARE @PASOS DATETIME
SET @INICIO=GETDATE()
SET @PASOS=@INICIO
--+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
SET @TERMINO= GETDATE()
INSERT INTO CANAL_ASESOR.DBO.MOVILIDAD_CONTROL_DE_EJECUCION VALUES ('02_SP_SURA_TRANSACCIONAL','INICIO',@TERMINO,DATEDIFF(MINUTE,@PASOS,@TERMINO)/60,DATEDIFF(MINUTE,@PASOS,@TERMINO)%60)
SET @PASOS= GETDATE()
--+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

DELETE FROM  SURA_TRANSACCIONAL WHERE TIPO_CARGA='D'

DECLARE @ULTIMO_PERIDODO_MES_CERRADO DATE
SET @ULTIMO_PERIDODO_MES_CERRADO =(SELECT MAX(PERIODO_CONTABLE)FROM SURA_TRANSACCIONAL WHERE TIPO_CARGA='M')


---CARGA DIARIA
SELECT 
CASE	WHEN AA.CINTIPDO='P' THEN 'POL'
		WHEN AA.CINTIPDO='C' THEN 'CER'
		WHEN AA.CINTIPDO='E' THEN 'END' END			AS TIPO_DOCUMENTO,
AA.NNUMDOCU,	
AA.NNUMITEM,
AA.NNUMCERT,	
AA.NNUMENDO,	
CASE WHEN AA.CAUSA_CANCELACION <>'' THEN CONVERT(NVARCHAR(300),AA.CAUSA_CANCELACION) ELSE AA.CCODMOEN END	AS TIPO_ENDOSO,
AA.CCODRAMO																									AS CODIGO_RAMO,	
CONVERT(NVARCHAR(150),'')																					AS RAMO,
AA.NNURUEJC																									AS RUT_EJECUTIVO,	
CONVERT(NVARCHAR(150),'')																					AS EJECUTIVO,
AA.NNURUEJCNEW																								AS RUT_EJECUTIVO_NUEVO,
CONVERT(NVARCHAR(150),'')																					AS EJECUTIVO_NUEVO,
AA.NNURUINT																									AS RUT_INTERMEDIARIO,	
CONVERT(NVARCHAR(150),'')																					AS INTERMEDIARIO,
AA.NNURUPRO																									AS RUT_PROPONENTE,	
AA.NNURUASE																									AS RUT_ASEGURADO,
AA.NEWRENEWAL																								AS RENOVACION_GOL,
CONVERT(NVARCHAR(5),'')																						AS IND_CANCELACION_GOL,	
CONVERT(NVARCHAR(5),'')																						AS IND_CANCELACION_CALCULADA,	
CONVERT(NVARCHAR(5),'')																						AS IND_RENOVACION_GOL,
CONVERT(NVARCHAR(5),'')																						AS IND_RENOVACION_CALCULADA,
CONVERT(NVARCHAR(150),'')																					AS FILTRO_RIESGO,
MAX(CONVERT(NVARCHAR(150),AA.RAMOCONTABLE))																	AS CODIGO_RAMO_KEIRA_PRINCIPAL,
CONVERT(NVARCHAR(150),'')																					AS RAMO_KEIRA_PRINCIPAL,
SUM(AA.PRIMA_01)																							AS PRIMA_PESO,
SUM(AA.PRIMA_02)																							AS PRIMA_UF,
SUM(AA.COMISION_01)																							AS COMISION_PESO,
SUM(AA.COMISION_02)																							AS COMISION_UF,
SUM(AA.DMONASEG_01)																							AS MONTO_ASEGURADO_PESO,
SUM(AA.DMONASEG_02)																							AS MONTO_ASEGURADO_UF,
SUM(AA.DMONASEG_01_ALL)																						AS MONTO_ASEGURADO_ALL_PESO,
SUM(AA.DMONASEG_02_ALL)																						AS MONTO_ASEGURADO_ALL_UF,
AA.CCOMOORI																									AS MONEDA_ORIGINAL,
AA.NPLAN																									AS CODIGO_PLAN_COMERCIAL,
CONVERT(NVARCHAR(150),'')																					AS PLAN_COMERCIAL,
AA.NPLANTEC																									AS CODIGO_PLAN_TECNICO,
CONVERT(NVARCHAR(300),'')																					AS PLAN_TECNICO,
CONVERT(NVARCHAR(150),'')																					AS TIPO_PLAN,
CONVERT(FLOAT,0)																							AS DEDUCIBLE,
A.LINEANEGOCIO																								AS LINEA_NEGOCIO,
AA.CCODTNRO																									AS CODIGO_TIPO_NEGOCIO,
CONVERT(NVARCHAR(150),'')																					AS TIPO_NEGOCIO,
''																											AS BUSINESS_UNIT,
''																											AS CANAL_GOL,
CONVERT(NVARCHAR(150),'')																					AS CANAL,
''																											AS SOLUCION_AC,
''																											AS ESTADO_ASESOR_AC,
''																											AS TIPO_RIESGO_AC,
''																											AS TIPO_POLIZA_CA,
''																											AS SEGMENTACION_CA,
AA.CINTIREA																									AS INDICADOR_REASEGURO,
AA.CINCOFAC																									AS INDICADOR_FACULTATIVO,
AA.NNUMCONT																									AS NUMERO_CONTRATO,
AA.NSECCONT																									AS VERSION_CONTRATO,
AA.CLINPROD																									AS LINEA_PRODUCTO,	
AA.CCOMAVEH																									AS CODIGO_MARCA,	
AA.NCOMOVEH																									AS CODIGO_MODELO,
''																											AS MARCA,
''																											AS MODELO,
0																											AS AÑO,
''																											AS PATENTE,
''																											AS CHASIS,
''																											AS MOTOR,
AA.NNUMUBIC																									AS CODIGO_UBICACION,
AA.CCODCLFS																									AS CLASIFICACION_RSA,
AA.CCODCLAS																									AS CLASIFICACION_RIESGO,	
AA.NNUMSECU																									AS NUMERO_SECUENCIA,
AA.PERIODO_CONTABLE																							AS PERIDODO_CONTABLE,
AA.NFECFIRM																									AS FECHA_FIRMA,
AA.NFEINVIG																									AS INICIO_VIGENCIA,	
AA.NFETEVIG																									AS TERMINO_VIGENCIA,
'1900-01-01'																								AS TERMINO_VIGENCIA_REAL,
'1900-01-01'																								AS FECHA_CANCELACION,
AA.MEDIO_PAGO																								AS MEDIO_PAGO,
AA.CCODSUCU																									AS SUCURSAL_GOL,
''																											AS SUCURSAL_CA,
CONVERT(NVARCHAR(150),'')																					AS COMUNA,	
''																											AS PROVINCIA,
''																											AS REGION,	
''																											AS MACRO_ZONAS,	
''																											AS ZONAS_GEOGRAFICAS,	
''																											AS REGIONES_URBES,	
''																											AS ZONA,
'D'																											AS TIPO_CARGA,
''																											AS CANAL_FINAL,
''																											AS PARTNER_FINAL
INTO #SURA_TRANSACCIONAL
FROM CANAL_ASESOR.DBO.FactWrittenPremium_DiarioMI  AA 
LEFT JOIN [SGF1016].[SQLMISFACT].[dbo].[DimKeira_Class_Ramos] A ON AA.PERIODO_CONTABLE=A.PERIODO_CONTABLE AND AA.RAMOCONTABLE=A.RAMOCONTABLE
WHERE GRSNETCEDID='Gross'
--and NNURUASE  in(76120215,18719518,76458395,76996756)
GROUP BY 
CASE	WHEN AA.CINTIPDO='P' THEN 'POL'
		WHEN AA.CINTIPDO='C' THEN 'CER'
		WHEN AA.CINTIPDO='E' THEN 'END' END,
AA.NNUMDOCU,	
AA.NNUMITEM,
AA.NNUMCERT,	
AA.NNUMENDO,	
CASE WHEN AA.CAUSA_CANCELACION <>'' THEN CONVERT(NVARCHAR(300),AA.CAUSA_CANCELACION) ELSE AA.CCODMOEN END,
AA.CCODRAMO,	
AA.NNURUEJC,	
AA.NNURUEJCNEW,
AA.NNURUINT,	
AA.NNURUPRO,	
AA.NNURUASE,
AA.NEWRENEWAL,
AA.CCOMOORI,
AA.NPLAN,
AA.NPLANTEC,
A.LINEANEGOCIO,
AA.CCODTNRO,
AA.CINTIREA,
AA.CINCOFAC,
AA.NNUMCONT,
AA.NSECCONT,
AA.CLINPROD,	
AA.CCOMAVEH,	
AA.NCOMOVEH,
AA.NNUMUBIC,
AA.CCODCLFS,
AA.CCODCLAS,	
AA.NNUMSECU,
AA.PERIODO_CONTABLE,
AA.NFECFIRM,
AA.NFEINVIG,	
AA.NFETEVIG,
AA.MEDIO_PAGO,
AA.CCODSUCU



---CARGA CIERRE MES
SET @TERMINO= GETDATE()
INSERT INTO CANAL_ASESOR.DBO.MOVILIDAD_CONTROL_DE_EJECUCION VALUES ('02_SP_SURA_TRANSACCIONAL','1 DE 5',@TERMINO,DATEDIFF(MINUTE,@PASOS,@TERMINO)/60,DATEDIFF(MINUTE,@PASOS,@TERMINO)%60)
SET @PASOS= GETDATE()

--DECLARE @ULTIMO_PERIDODO_MES_CERRADO DATE SET @ULTIMO_PERIDODO_MES_CERRADO =(SELECT MAX(PERIODO_CONTABLE)FROM SURA_TRANSACCIONAL WHERE TIPO_CARGA='M')
INSERT INTO #SURA_TRANSACCIONAL
SELECT 
CASE	WHEN AA.CINTIPDO='P' THEN 'POL'
		WHEN AA.CINTIPDO='C' THEN 'CER'
		WHEN AA.CINTIPDO='E' THEN 'END' END			AS TIPO_DOCUMENTO,
AA.NNUMDOCU,	
AA.NNUMITEM,
AA.NNUMCERT,	
AA.NNUMENDO,	
CASE WHEN AA.CAUSA_CANCELACION <>'' THEN CONVERT(NVARCHAR(300),AA.CAUSA_CANCELACION) ELSE AA.CCODMOEN END	AS TIPO_ENDOSO,
AA.CCODRAMO																									AS CODIGO_RAMO,	
NULL																										AS RAMO,
AA.NNURUEJC																									AS RUT_EJECUTIVO,	
''																											AS EJECUTIVO,
AA.NNURUEJCNEW																								AS RUT_EJECUTIVO_NUEVO,
''																											AS EJECUTIVO_NUEVO,
AA.NNURUINT																									AS RUT_INTERMEDIARIO,	
''																											AS INTERMEDIARIO,
AA.NNURUPRO																									AS RUT_PROPONENTE,	
AA.NNURUASE																									AS RUT_ASEGURADO,
AA.NEWRENEWAL																								AS RENOVACION_GOL,
''																											AS IND_CANCELACION_GOL,	
''																											AS IND_CANCELACION_CALCULADA,	
''																											AS IND_RENOVACION_GOL,
''																											AS IND_RENOVACION_CALCULADA,
''																											AS FILTRO_RIESGO,
''																											AS CODIGO_RAMO_KEIRA_PRINCIPAL,
''																											AS RAMO_KEIRA_PRINCIPAL,
SUM(AA.PRIMA_01)																							AS PRIMA_PESO,
SUM(AA.PRIMA_02)																							AS PRIMA_UF,
SUM(AA.COMISION_01)																							AS COMISION_PESO,
SUM(AA.COMISION_02)																							AS COMISION_UF,
SUM(AA.DMONASEG_01)																							AS MONTO_ASEGURADO_PESO,
SUM(AA.DMONASEG_02)																							AS MONTO_ASEGURADO_UF,
SUM(AA.DMONASEG_01_ALL)																						AS MONTO_ASEGURADO_ALL_PESO,
SUM(AA.DMONASEG_02_ALL)																						AS MONTO_ASEGURADO_ALL_UF,
AA.CCOMOORI																									AS MONEDA_ORIGINAL,
AA.NPLAN																									AS CODIGO_PLAN_COMERCIAL,
''																											AS PLAN_COMERCIAL,
AA.NPLANTEC																									AS CODIGO_PLAN_TECNICO,
''																											AS PLAN_TECNICO,
''																											AS TIPO_PLAN,
CONVERT(FLOAT,0)																							AS DEDUCIBLE,
A.LINEANEGOCIO																								AS LINEA_NEGOCIO,
AA.CCODTNRO																									AS CODIGO_TIPO_NEGOCIO,
''																											AS TIPO_NEGOCIO,
''																											AS BUSINESS_UNIT,
''																											AS CANAL_GOL,
''																											AS CANAL,
''																											AS SOLUCION_AC,
''																											AS ESTADO_ASESOR_AC,
''																											AS TIPO_RIESGO_AC,
''																											AS TIPO_POLIZA_CA,
''																											AS SEGMENTACION_CA,
AA.CINTIREA																									AS INDICADOR_REASEGURO,
AA.CINCOFAC																									AS INDICADOR_FACULTATIVO,
AA.NNUMCONT																									AS NUMERO_CONTRATO,
AA.NSECCONT																									AS VERSION_CONTRATO,
AA.CLINPROD																									AS LINEA_PRODUCTO,	
AA.CCOMAVEH																									AS CODIGO_MARCA,	
AA.NCOMOVEH																									AS CODIGO_MODELO,
''																											AS MARCA,
''																											AS MODELO,
0																											AS AÑO,
''																											AS PATENTE,
''																											AS CHASIS,
''																											AS MOTOR,
AA.NNUMUBIC																									AS CODIGO_UBICACION,
AA.CCODCLFS																									AS CLASIFICACION_RSA,
AA.CCODCLAS																									AS CLASIFICACION_RIESGO,	
AA.NNUMSECU																									AS NUMERO_SECUENCIA,
AA.PERIODO_CONTABLE																							AS PERIDODO_CONTABLE,
AA.NFECFIRM																									AS FECHA_FIRMA,
AA.NFEINVIG																									AS INICIO_VIGENCIA,	
AA.NFETEVIG																									AS TERMINO_VIGENCIA,
'1900-01-01'																								AS TERMINO_VIGENCIA_REAL,
'1900-01-01'																								AS FECHA_CANCELACION,
AA.MEDIO_PAGO																								AS MEDIO_PAGO,
AA.CCODSUCU																									AS SUCURSAL_GOL,
''																											AS SUCURSAL_CA,
''																											AS COMUNA,	
''																											AS PROVINCIA,
''																											AS REGION,	
''																											AS MACRO_ZONAS,	
''																											AS ZONAS_GEOGRAFICAS,	
''																											AS REGIONES_URBES,	
''																											AS ZONA,
'M'																											AS TIPO_CARGA,
''																											AS CANAL_FINAL,
''																											AS PARTNER_FINAL
FROM SURA_CIERRE_MES  AA 
LEFT JOIN [SGF1016].[SQLMISFACT].[dbo].[DimKeira_Class_Ramos] A ON AA.PERIODO_CONTABLE=A.PERIODO_CONTABLE AND AA.RAMOCONTABLE=A.RAMOCONTABLE
WHERE AA.PERIODO_CONTABLE>@ULTIMO_PERIDODO_MES_CERRADO
GROUP BY 
CASE	WHEN AA.CINTIPDO='P' THEN 'POL'
		WHEN AA.CINTIPDO='C' THEN 'CER'
		WHEN AA.CINTIPDO='E' THEN 'END' END,
AA.NNUMDOCU,	
AA.NNUMITEM,
AA.NNUMCERT,	
AA.NNUMENDO,	
CASE WHEN AA.CAUSA_CANCELACION <>'' THEN CONVERT(NVARCHAR(300),AA.CAUSA_CANCELACION) ELSE AA.CCODMOEN END,
AA.CCODRAMO,	
AA.NNURUEJC,	
AA.NNURUEJCNEW,
AA.NNURUINT,	
AA.NNURUPRO,	
AA.NNURUASE,
AA.NEWRENEWAL,
AA.CCOMOORI,
AA.NPLAN,
AA.NPLANTEC,
A.LINEANEGOCIO,
AA.CCODTNRO,
AA.CINTIREA,
AA.CINCOFAC,
AA.NNUMCONT,
AA.NSECCONT,
AA.CLINPROD,	
AA.CCOMAVEH,	
AA.NCOMOVEH,
AA.NNUMUBIC,
AA.CCODCLFS,
AA.CCODCLAS,	
AA.NNUMSECU,
AA.PERIODO_CONTABLE,
AA.NFECFIRM,
AA.NFEINVIG,	
AA.NFETEVIG,
AA.MEDIO_PAGO,
AA.CCODSUCU

------------------------------------- DEJAR TERMINO VIGENCIA ORIGINAL DE LAS POLIZAS SEGURO X KM ANUALES

SELECT NNUMDOCU,NNUMITEM,TERMINO_VIGENCIA INTO #TERMINO_VIGENCIA FROM #SURA_TRANSACCIONAL WHERE CODIGO_PLAN_TECNICO IN(
SELECT CODIGO_PLAN_TECNICO FROM SURA_MOVILIDAD_PLAN_TECNICO WHERE DESCRIPCION_POLIZA_TELEMATICA='KM ANUAL') AND NNUMENDO=0


UPDATE  #SURA_TRANSACCIONAL
SET TERMINO_VIGENCIA=B.TERMINO_VIGENCIA
FROM #SURA_TRANSACCIONAL A, #TERMINO_VIGENCIA B
WHERE A.NNUMDOCU=B.NNUMDOCU AND A.NNUMITEM=B.NNUMITEM


ALTER TABLE #SURA_TRANSACCIONAL ALTER COLUMN CANAL_FINAL NVARCHAR(3)
ALTER TABLE #SURA_TRANSACCIONAL ALTER COLUMN PARTNER_FINAL NVARCHAR(50)

DELETE SURA_CANCELACION_PERDIDA_TOTAL WHERE NFECEMIS IS NULL
DELETE SURA_CANCELACION_PERDIDA_TOTAL WHERE NFEINVIG IS NULL

UPDATE #SURA_TRANSACCIONAL
SET 
FECHA_CANCELACION			=B.NFECEMIS, 
TERMINO_VIGENCIA_REAL		=B.NFEINVIG, 
NNUMENDO					=B.NNUMENDO,
TIPO_ENDOSO					=B.TIPO_ENDOSO,
IND_CANCELACION_CALCULADA	=1
FROM #SURA_TRANSACCIONAL A, SURA_CANCELACION_PERDIDA_TOTAL B
WHERE A.NNUMDOCU=B.NNUMDOCU AND A.NNUMITEM=B.NNUMITEM




SET @TERMINO= GETDATE()
INSERT INTO CANAL_ASESOR.DBO.MOVILIDAD_CONTROL_DE_EJECUCION VALUES ('02_SP_SURA_TRANSACCIONAL','2 DE 5',@TERMINO,DATEDIFF(MINUTE,@PASOS,@TERMINO)/60,DATEDIFF(MINUTE,@PASOS,@TERMINO)%60)
SET @PASOS= GETDATE()
-------------------------------ACTUALIZACION DE INFORMACION 

UPDATE  SURA_MAESTRO_PERSONA_FULL  
SET FECHA_NACIMIENTO=NULL
WHERE FECHA_NACIMIENTO>20210820

UPDATE  SURA_MAESTRO_PERSONA_FULL  
SET FECHA_NACIMIENTO=NULL
WHERE FECHA_NACIMIENTO<19100101

UPDATE  SURA_MAESTRO_PERSONA_FULL  
SET FECHA_NACIMIENTO=NULL
WHERE SUBSTRING(CONVERT(NVARCHAR(8),FECHA_NACIMIENTO),5,2)>12

UPDATE  SURA_MAESTRO_PERSONA_FULL  
SET FECHA_NACIMIENTO=NULL
WHERE SUBSTRING(CONVERT(NVARCHAR(8),FECHA_NACIMIENTO),7,2)>31



SELECT *															INTO #COMUNAS					FROM SURA_TBACSTGE											WHERE DCODTABL=45
SELECT *															INTO #RAMOS						FROM SURA_TBACSTGE											WHERE DCODTABL=50
SELECT *															INTO #EJECUTIVOS				FROM SURA_MAESTRO_PERSONA_FULL								WHERE RUT IN (SELECT RUT_EJECUTIVO FROM #SURA_TRANSACCIONAL GROUP BY RUT_EJECUTIVO)
SELECT *															INTO #EJECUTIVOS_NUEVOS			FROM SURA_MAESTRO_PERSONA_FULL								WHERE RUT IN (SELECT RUT_EJECUTIVO_NUEVO FROM #SURA_TRANSACCIONAL GROUP BY RUT_EJECUTIVO_NUEVO)
SELECT *															INTO #INTERMEDIARIO				FROM SURA_MAESTRO_PERSONA_FULL								WHERE RUT IN (SELECT RUT_INTERMEDIARIO FROM #SURA_TRANSACCIONAL GROUP BY RUT_INTERMEDIARIO)
SELECT *															INTO #ASEGURADO					FROM SURA_MAESTRO_PERSONA_FULL								WHERE RUT IN (SELECT RUT_ASEGURADO FROM #SURA_TRANSACCIONAL GROUP BY RUT_ASEGURADO) AND COMUNA IS NOT NULL
SELECT *															INTO #TIPO_NEGOCIO				FROM SURA_TBACSTGE											WHERE DCODTABL=1737
SELECT *															INTO #SURA_PLAN_COMERCIAL		FROM SURA_MOVILIDAD_PLAN_COMERCIAL							WHERE NPLAN IN (SELECT CODIGO_PLAN_COMERCIAL FROM #SURA_TRANSACCIONAL GROUP BY CODIGO_PLAN_COMERCIAL)
SELECT *															INTO #SURA_PLAN_TECNICO			FROM SURA_MOVILIDAD_PLAN_TECNICO							WHERE CODIGO_PLAN_TECNICO IN (SELECT CODIGO_PLAN_TECNICO FROM #SURA_TRANSACCIONAL GROUP BY CODIGO_PLAN_TECNICO)





SELECT DISTINCT RAMOCONTABLE,KEIRATOTAL,DESCRAMOCONTABLE					INTO #DimKeira_Class_Ramos			FROM [SGF1016].[SQLMISFACT].[dbo].[DimKeira_Class_Ramos]			ORDER BY 1 DESC

SELECT DISTINCT NNUMDOCU,CODIGO_RAMO_KEIRA_PRINCIPAL						INTO #CODIGO_RAMO_KEIRA_PRINCIPAL	FROM SURA_COBERTURAS

SELECT NNUMDOCU,CODIGO_RAMO_KEIRA_PRINCIPAL,KEIRATOTAL,DESCRAMOCONTABLE		INTO #RAMO_CONTABLE_PRINCIPAL		FROM #CODIGO_RAMO_KEIRA_PRINCIPAL A, #DimKeira_Class_Ramos B WHERE A.CODIGO_RAMO_KEIRA_PRINCIPAL =B.RAMOCONTABLE

SELECT DISTINCT POLIZA,CANAL												INTO #CANAL_ASESOR					FROM CANAL_ASESOR.DBO.BASE_PBI								WHERE TIPO IN ('POL','CER') AND CANAL='CANAL ASESOR'



SET @TERMINO= GETDATE()
INSERT INTO CANAL_ASESOR.DBO.MOVILIDAD_CONTROL_DE_EJECUCION VALUES ('02_SP_SURA_TRANSACCIONAL','3 DE 5',@TERMINO,DATEDIFF(MINUTE,@PASOS,@TERMINO)/60,DATEDIFF(MINUTE,@PASOS,@TERMINO)%60)
SET @PASOS= GETDATE()

UPDATE #SURA_TRANSACCIONAL
SET RAMO=B.CDESELEM
FROM #SURA_TRANSACCIONAL A, #RAMOS B
WHERE A.CODIGO_RAMO=B.CCODELEM 

UPDATE #SURA_TRANSACCIONAL
SET EJECUTIVO=UPPER(LTRIM(RTRIM (B.NOMBRE)) +' '+ LTRIM(RTRIM (B.APELLIDO_PATERNO))  +' '+ LTRIM(RTRIM (B.APELLIDO_MATERNO)))
FROM #SURA_TRANSACCIONAL A, #EJECUTIVOS B
WHERE A.RUT_EJECUTIVO=B.RUT 

UPDATE #SURA_TRANSACCIONAL
SET EJECUTIVO_NUEVO=UPPER(LTRIM(RTRIM (B.NOMBRE)) +' '+ LTRIM(RTRIM (B.APELLIDO_PATERNO))  +' '+ LTRIM(RTRIM (B.APELLIDO_MATERNO))) 
FROM #SURA_TRANSACCIONAL A, #EJECUTIVOS_NUEVOS B
WHERE A.RUT_EJECUTIVO_NUEVO=B.RUT 

UPDATE #SURA_TRANSACCIONAL
SET COMUNA=B.COMUNA
FROM #SURA_TRANSACCIONAL A, #ASEGURADO B
WHERE A.RUT_ASEGURADO=B.RUT 


UPDATE #SURA_TRANSACCIONAL
SET INTERMEDIARIO=
CASE WHEN TIPO_PERSONA ='NATURAL' THEN UPPER(LTRIM(RTRIM (B.NOMBRE)) +' '+ LTRIM(RTRIM (B.APELLIDO_PATERNO))  +' '+ LTRIM(RTRIM (B.APELLIDO_MATERNO))) 
	ELSE UPPER(LTRIM(RTRIM (B.NOMBRE))) END 
FROM #SURA_TRANSACCIONAL A, #INTERMEDIARIO B
WHERE A.RUT_INTERMEDIARIO=B.RUT 


UPDATE #SURA_TRANSACCIONAL
SET TIPO_NEGOCIO=B.CDESELEM
FROM #SURA_TRANSACCIONAL A, #TIPO_NEGOCIO B
WHERE A.CODIGO_TIPO_NEGOCIO=B.CCODUNIC 

UPDATE #SURA_TRANSACCIONAL
SET PLAN_COMERCIAL=B.CDESCRIP
FROM #SURA_TRANSACCIONAL A, SURA_MOVILIDAD_PLAN_COMERCIAL B
WHERE A.CODIGO_PLAN_COMERCIAL=B.NPLAN 

ALTER TABLE #SURA_TRANSACCIONAL ALTER COLUMN DEDUCIBLE NVARCHAR(10)

UPDATE #SURA_TRANSACCIONAL
SET PLAN_TECNICO=B.PLAN_TECNICO,DEDUCIBLE=B.DEDUCIBLE
FROM #SURA_TRANSACCIONAL A, #SURA_PLAN_TECNICO B
WHERE A.CODIGO_PLAN_TECNICO=B.CODIGO_PLAN_TECNICO AND A.CODIGO_RAMO=B.CODIGO_RAMO 

UPDATE #SURA_TRANSACCIONAL
SET TIPO_ENDOSO=B.GRUPO_ENDOSO
FROM #SURA_TRANSACCIONAL A, SURA_TIPO_ENDOSOS B
WHERE A.TIPO_ENDOSO=B.TIPO_ENDOSO 

UPDATE #SURA_TRANSACCIONAL
SET IND_RENOVACION_GOL=1
WHERE RENOVACION_GOL='R'

UPDATE #SURA_TRANSACCIONAL
SET IND_CANCELACION_GOL=1
WHERE TIPO_ENDOSO LIKE ('%CANCELACION%')


UPDATE #SURA_TRANSACCIONAL
SET CANAL='CANAL ASESOR'
WHERE NNUMDOCU IN (SELECT POLIZA FROM #CANAL_ASESOR)

UPDATE SURA_MAESTRO_PERSONA_FULL
SET COMUNA=B.CDESELEM
FROM SURA_MAESTRO_PERSONA_FULL A, #COMUNAS B
WHERE A.COMUNA=B.CCODUNIC AND SUBSTRING(A.COMUNA,1,1)='1'

SET @TERMINO= GETDATE()
INSERT INTO CANAL_ASESOR.DBO.MOVILIDAD_CONTROL_DE_EJECUCION VALUES ('02_SP_SURA_TRANSACCIONAL','4 DE 5',@TERMINO,DATEDIFF(MINUTE,@PASOS,@TERMINO)/60,DATEDIFF(MINUTE,@PASOS,@TERMINO)%60)
SET @PASOS= GETDATE()



UPDATE #SURA_TRANSACCIONAL
SET LINEA_NEGOCIO='PERSONAL'
WHERE NNUMDOCU IN (6926815,6927752) AND NNUMITEM=1 

UPDATE #SURA_TRANSACCIONAL
SET 
CODIGO_RAMO_KEIRA_PRINCIPAL	=B.CODIGO_RAMO_KEIRA_PRINCIPAL,	
RAMO_KEIRA_PRINCIPAL		=B.KEIRATOTAL,
FILTRO_RIESGO				=B.DESCRAMOCONTABLE
FROM #SURA_TRANSACCIONAL A, #RAMO_CONTABLE_PRINCIPAL B 
WHERE A.NNUMDOCU=B.NNUMDOCU




----CANAL
UPDATE #SURA_TRANSACCIONAL
SET CANAL='DIRECTO'
WHERE RUT_INTERMEDIARIO=99017000 AND CANAL=''

UPDATE #SURA_TRANSACCIONAL
SET CANAL='PYME'
WHERE CANAL=''

ALTER TABLE #SURA_TRANSACCIONAL ALTER COLUMN BUSINESS_UNIT NVARCHAR(200)
ALTER TABLE #SURA_TRANSACCIONAL ALTER COLUMN CANAL_GOL NVARCHAR(200)


UPDATE #SURA_TRANSACCIONAL
SET
BUSINESS_UNIT=B.BU,
CANAL_GOL=B.CANAL
FROM #SURA_TRANSACCIONAL A, SURA_CANAL_BU_PARTNER B
WHERE A.NNUMDOCU=B.NNUMDOCU

UPDATE #SURA_TRANSACCIONAL
SET 
CANAL_FINAL=B.CANAL_FINAL,
PARTNER_FINAL=B.PARTNER_FINAL
FROM #SURA_TRANSACCIONAL A, SURA_CANAL_PARTNER_PYG B
WHERE A.NNUMDOCU=B.NNUMDOCU


INSERT INTO SURA_TRANSACCIONAL
SELECT *,'PERSONA','PERSONA' FROM #SURA_TRANSACCIONAL

SELECT DISTINCT RUT_PROPONENTE INTO #PROPONENTES FROM SURA_TRANSACCIONAL
SELECT DISTINCT RUT_ASEGURADO  INTO #ASEGURADOS FROM SURA_TRANSACCIONAL


SELECT RUT,TIPO_EMPRESA INTO #TIPO_EMPRESA_PROPONENTE FROM CDG_EMPRESA_PERSONA_JURIDICA_FINAL A, #PROPONENTES B
WHERE A.RUT=B.RUT_PROPONENTE

SELECT RUT,TIPO_EMPRESA INTO #TIPO_EMPRESA_ASEGURADO FROM CDG_EMPRESA_PERSONA_JURIDICA_FINAL A, #ASEGURADOS B
WHERE A.RUT=B.RUT_ASEGURADO

UPDATE SURA_TRANSACCIONAL
SET TIPO_CLIENTE_PROPONENTE=B.TIPO_EMPRESA
FROM SURA_TRANSACCIONAL A, #TIPO_EMPRESA_PROPONENTE B
WHERE A.RUT_PROPONENTE=B.RUT

UPDATE SURA_TRANSACCIONAL
SET TIPO_CLIENTE_ASEGURADO=B.TIPO_EMPRESA
FROM SURA_TRANSACCIONAL A, #TIPO_EMPRESA_ASEGURADO B
WHERE A.RUT_ASEGURADO=B.RUT



SELECT DISTINCT RUT_INTERMEDIARIO,CANAL_FINAL,PARTNER_FINAL  
INTO #CANAL_PARTNER_INTERMEDIARIO
FROM SURA_TRANSACCIONAL WHERE CANAL_FINAL IS NOT NULL OR CANAL_FINAL=''


UPDATE SURA_TRANSACCIONAL
SET 
CANAL_FINAL=B.CANAL_FINAL,
PARTNER_FINAL=B.PARTNER_FINAL
FROM SURA_TRANSACCIONAL A, #CANAL_PARTNER_INTERMEDIARIO B
WHERE (A.CANAL_FINAL IS  NULL OR A.CANAL_FINAL='' )AND A.RUT_INTERMEDIARIO=B.RUT_INTERMEDIARIO 

UPDATE SURA_TRANSACCIONAL
SET 
CANAL_FINAL='NOD',
PARTNER_FINAL='NO DEFINIDO'
WHERE CANAL_FINAL IS  NULL OR CANAL_FINAL=''
--------------------------------------------------TIPO ENDOSO
 UPDATE SURA_TRANSACCIONAL
 SET TIPO_ENDOSO=CSIGELEM
 FROM SURA_TRANSACCIONAL A, SURA_TBACSTGE B
 WHERE A.TIPO_ENDOSO=B.CCODUNIC AND A.TIPO_ENDOSO<>''


 UPDATE SURA_TRANSACCIONAL
 SET TIPO_ENDOSO=B.GRUPO_ENDOSO
 FROM SURA_TRANSACCIONAL A, SURA_TIPO_ENDOSOS B
 WHERE A.TIPO_ENDOSO=B.TIPO_ENDOSO AND A.TIPO_ENDOSO<>''
 
SET @TERMINO= GETDATE()
SET @PASOS= GETDATE()

 --------------------------------------------------

UPDATE SURA_TRANSACCIONAL
SET TERMINO_VIGENCIA_REAL=TERMINO_VIGENCIA
WHERE TERMINO_VIGENCIA_REAL='1900-01-01'

 --------------------------------------------------

DROP TABLE #SURA_TRANSACCIONAL

truncate table reportes.dbo.POLIZAS_SOAP
INSERT INTO reportes.dbo.POLIZAS_SOAP
SELECT NNUMDOCU,NNUMITEM,RUT_PROPONENTE,RUT_ASEGURADO,FECHA_FIRMA,INICIO_VIGENCIA,TERMINO_VIGENCIA FROM SURA_TRANSACCIONAL
WHERE CODIGO_RAMO='W' 

INSERT INTO reportes.dbo.POLIZAS_SOAP
SELECT 
CONVERT(INT,NUMERO_POLIZA) NNUMDOCU,	
1 NNUMITEM,	
CONVERT(INT,REPLACE(REPLACE(REPLACE(REPLACE(RUT,'.',''),' ',''),'-',''),'|',''))RUT_PROPONENTE,	
CONVERT(INT,REPLACE(REPLACE(REPLACE(REPLACE(RUT,'.',''),' ',''),'-',''),'|','')) RUT_ASEGURADO,	
CONVERT(DATE,FECHA_EMISION_POLIZA) FECHA_FIRMA,	
CONVERT(DATE,incio_vigencia) INICIO_VIGENCIA,	
CONVERT(DATE,termino_vigencia) TERMINO_VIGENCIA
FROM [SGF1016].[SOAP].[dbo].[XPolizasFalabella]

INSERT INTO reportes.dbo.POLIZAS_SOAP
SELECT 
CONVERT(INT,NUMERO_POLIZA) NNUMDOCU,	
1 NNUMITEM,	
CONVERT(INT,REPLACE(REPLACE(REPLACE(REPLACE(RUT,'.',''),' ',''),'-',''),'|',''))RUT_PROPONENTE,	
CONVERT(INT,REPLACE(REPLACE(REPLACE(REPLACE(RUT,'.',''),' ',''),'-',''),'|','')) RUT_ASEGURADO,	
CONVERT(DATE,FECHA_EMISION_POLIZA) FECHA_FIRMA,	
CONVERT(DATE,incio_vigencia) INICIO_VIGENCIA,	
CONVERT(DATE,termino_vigencia) TERMINO_VIGENCIA
FROM [SGF1016].[SOAP].[dbo].[XPolizasCencosud]

INSERT INTO reportes.dbo.POLIZAS_SOAP
SELECT 
CONVERT(INT,NUMERO_POLIZA) NNUMDOCU,	
1 NNUMITEM,	
CONVERT(INT,REPLACE(REPLACE(REPLACE(REPLACE(RUT,'.',''),' ',''),'-',''),'|',''))RUT_PROPONENTE,	
CONVERT(INT,REPLACE(REPLACE(REPLACE(REPLACE(RUT,'.',''),' ',''),'-',''),'|','')) RUT_ASEGURADO,	
CONVERT(DATE,FECHA_EMISION_POLIZA) FECHA_FIRMA,	
CONVERT(DATE,incio_vigencia) INICIO_VIGENCIA,	
CONVERT(DATE,termino_vigencia) TERMINO_VIGENCIA
FROM [SGF1016].[SOAP].[dbo].[XPolizasOtros]


--------------------EMPRESA SURA


SELECT MIN(FECHA)FECHA,
RUT,ACTIVIDAD,PUBLICO
INTO  #produccion_base_sura_2
FROM SURA_EMPRESA_SURA
WHERE RUT<>0
GROUP BY RUT,ACTIVIDAD,PUBLICO


TRUNCATE TABLE  EMPRESA_SURA_RESUMEN
INSERT INTO EMPRESA_SURA_RESUMEN
select A.TIPO_DOCUMENTO,A.FECHA_FIRMA,NNUMDOCU,NNUMITEM,A.INICIO_VIGENCIA,A.TERMINO_VIGENCIA,A.TERMINO_VIGENCIA_REAL,A.RUT_INTERMEDIARIO,RUT_ASEGURADO,RUT_PROPONENTE, B.RUT AS RUT_EMPRESA_SURA,B.ACTIVIDAD,B.PUBLICO,RAMO,A.CANAL,
SUM(CASE WHEN TIPO_DOCUMENTO='POL' THEN 1 ELSE 0 END) POLIZAS,SUM(PRIMA_UF)PRIMA_UF,'PRODUCCION DE ASEGURADO' ORIGEN_DE_PRODUCCION, IND_CANCELACION_GOL,IND_RENOVACION_GOL,TIPO_ENDOSO,
CODIGO_PLAN_TECNICO,PLAN_TECNICO
from SURA_TRANSACCIONAL A, #produccion_base_sura_2 B
WHERE A.RUT_ASEGURADO=B.RUT AND YEAR(A.FECHA_FIRMA)>=2022 
--AND TIPO_DOCUMENTO='POL'
GROUP BY A.TIPO_DOCUMENTO,A.FECHA_FIRMA,NNUMDOCU,NNUMITEM,A.INICIO_VIGENCIA,A.TERMINO_VIGENCIA,A.TERMINO_VIGENCIA_REAL,A.RUT_INTERMEDIARIO,RUT_ASEGURADO,RUT_PROPONENTE,B.RUT,B.ACTIVIDAD,B.PUBLICO,RAMO,A.CANAL,IND_CANCELACION_GOL,IND_RENOVACION_GOL,TIPO_ENDOSO,
CODIGO_PLAN_TECNICO,PLAN_TECNICO


INSERT INTO EMPRESA_SURA_RESUMEN
select A.TIPO_DOCUMENTO,A.FECHA_FIRMA,NNUMDOCU,NNUMITEM,A.INICIO_VIGENCIA,A.TERMINO_VIGENCIA,A.TERMINO_VIGENCIA_REAL,A.RUT_INTERMEDIARIO,RUT_ASEGURADO,RUT_PROPONENTE,B.RUT AS RUT_EMPRESA_SURA,B.ACTIVIDAD,B.PUBLICO,RAMO,A.CANAL,
SUM(CASE WHEN TIPO_DOCUMENTO='POL' THEN 1 ELSE 0 END) POLIZAS,SUM(PRIMA_UF)PRIMA_UF, 'PRODUCCION DE INTERMEDIARIO' ORIGEN_DE_PRODUCCION, IND_CANCELACION_GOL,IND_RENOVACION_GOL,TIPO_ENDOSO,
CODIGO_PLAN_TECNICO,PLAN_TECNICO
from SURA_TRANSACCIONAL A, #produccion_base_sura_2 B
WHERE A.RUT_INTERMEDIARIO=B.RUT AND YEAR(A.FECHA_FIRMA)>=2022 AND RUT_ASEGURADO NOT IN (SELECT RUT FROM #produccion_base_sura_2)
--AND TIPO_DOCUMENTO='POL'
GROUP BY A.TIPO_DOCUMENTO,A.FECHA_FIRMA,NNUMDOCU,NNUMITEM,A.INICIO_VIGENCIA,A.TERMINO_VIGENCIA,A.TERMINO_VIGENCIA_REAL,A.RUT_INTERMEDIARIO,RUT_ASEGURADO,RUT_PROPONENTE,B.RUT,B.ACTIVIDAD,B.PUBLICO,RAMO,A.CANAL,IND_CANCELACION_GOL,IND_RENOVACION_GOL,TIPO_ENDOSO,
CODIGO_PLAN_TECNICO,PLAN_TECNICO

INSERT INTO EMPRESA_SURA_RESUMEN
select A.TIPO_DOCUMENTO,A.FECHA_FIRMA,NNUMDOCU,NNUMITEM,A.INICIO_VIGENCIA,A.TERMINO_VIGENCIA,A.TERMINO_VIGENCIA_REAL,A.RUT_INTERMEDIARIO,RUT_ASEGURADO,RUT_PROPONENTE,B.RUT AS RUT_EMPRESA_SURA,B.ACTIVIDAD,B.PUBLICO,RAMO,A.CANAL,
SUM(CASE WHEN TIPO_DOCUMENTO='POL' THEN 1 ELSE 0 END) POLIZAS,SUM(PRIMA_UF)PRIMA_UF, 'PRODUCCION DE PROPONENTE' ORIGEN_DE_PRODUCCION, IND_CANCELACION_GOL,IND_RENOVACION_GOL,TIPO_ENDOSO,
CODIGO_PLAN_TECNICO,PLAN_TECNICO
from SURA_TRANSACCIONAL A, #produccion_base_sura_2 B
WHERE A.RUT_PROPONENTE=B.RUT AND YEAR(A.FECHA_FIRMA)>=2022 AND RUT_ASEGURADO NOT IN (SELECT RUT FROM #produccion_base_sura_2) AND  RUT_INTERMEDIARIO NOT IN (SELECT RUT FROM #produccion_base_sura_2)
--AND TIPO_DOCUMENTO='POL'
GROUP BY A.TIPO_DOCUMENTO,A.FECHA_FIRMA,NNUMDOCU,NNUMITEM,A.INICIO_VIGENCIA,A.TERMINO_VIGENCIA,A.TERMINO_VIGENCIA_REAL,A.RUT_INTERMEDIARIO,RUT_ASEGURADO,RUT_PROPONENTE,B.RUT,B.ACTIVIDAD,B.PUBLICO,RAMO,A.CANAL,IND_CANCELACION_GOL,IND_RENOVACION_GOL,TIPO_ENDOSO,
CODIGO_PLAN_TECNICO,PLAN_TECNICO


select NNUMDOCU,NNUMITEM,INICIO_VIGENCIA AS TERMINO_VIGENCIA_REAL  INTO #TERMINO_VIGENCIA_REAL from EMPRESA_SURA_RESUMEN where TIPO_DOCUMENTO='END' and TIPO_ENDOSO LIKE ('%CANC%')

UPDATE EMPRESA_SURA_RESUMEN
SET TERMINO_VIGENCIA_REAL=B.TERMINO_VIGENCIA_REAL
FROM EMPRESA_SURA_RESUMEN A, #TERMINO_VIGENCIA_REAL B
WHERE A.NNUMDOCU=B.NNUMDOCU AND A.NNUMITEM=B.NNUMITEM

UPDATE EMPRESA_SURA_RESUMEN
SET TERMINO_VIGENCIA_REAL=TERMINO_VIGENCIA
WHERE TERMINO_VIGENCIA_REAL='1900-01-01'

TRUNCATE TABLE  TRANSACCIONAL.DBO.EMPRESA_SURA_RESUMEN
INSERT INTO TRANSACCIONAL.DBO.EMPRESA_SURA_RESUMEN
select *  from  EMPRESA_SURA_RESUMEN



UPDATE SURA_TRANSACCIONAL
SET TIPO_DOCUMENTO='INC'
WHERE TIPO_ENDOSO='INCLUSION' AND NNUMITEM=0 AND NNUMCERT=0 AND TIPO_DOCUMENTO IN ('END')


DROP TABLE IF EXISTS #POL
select DISTINCT NNUMDOCU,NNUMITEM,NNUMCERT INTO #POL from SURA_TRANSACCIONAL where TIPO_DOCUMENTO IN ('POL','CER','INC')

DROP TABLE IF EXISTS #ENDOSOS_SIN_POLIZAS
SELECT A.NNUMDOCU,A.NNUMITEM,A.NNUMCERT,A.TIPO_DOCUMENTO,A.TIPO_ENDOSO,MIN(FECHA_FIRMA)MIN_FECHA_FIRMA INTO #ENDOSOS_SIN_POLIZAS FROM SURA_TRANSACCIONAL A LEFT JOIN #POL B 
ON A.NNUMDOCU=B.NNUMDOCU AND A.NNUMITEM=B.NNUMITEM AND A.NNUMCERT=B.NNUMCERT
WHERE A.TIPO_DOCUMENTO='END' AND B.NNUMDOCU IS  NULL 
GROUP BY  A.NNUMDOCU,A.NNUMITEM,A.NNUMCERT,A.TIPO_DOCUMENTO,A.TIPO_ENDOSO


UPDATE #ENDOSOS_SIN_POLIZAS 
SET TIPO_DOCUMENTO='INC'
WHERE TIPO_ENDOSO='INCLUSION' AND NNUMITEM+NNUMCERT>0

UPDATE #ENDOSOS_SIN_POLIZAS 
SET TIPO_DOCUMENTO='INC'
where NNUMITEM=0 and NNUMCERT=0 AND TIPO_DOCUMENTO='END'

UPDATE #ENDOSOS_SIN_POLIZAS 
SET TIPO_DOCUMENTO='INC'
WHERE TIPO_ENDOSO='DEVOLUCION DE PRIMA' AND TIPO_DOCUMENTO='END'

UPDATE #ENDOSOS_SIN_POLIZAS 
SET TIPO_DOCUMENTO='INC'
WHERE TIPO_ENDOSO='DECLARACION EXISTENCIAS' AND TIPO_DOCUMENTO='END'

UPDATE #ENDOSOS_SIN_POLIZAS 
SET TIPO_DOCUMENTO='INC'
WHERE TIPO_ENDOSO='PRORROGA' AND TIPO_DOCUMENTO='END'

UPDATE #ENDOSOS_SIN_POLIZAS 
SET TIPO_DOCUMENTO='INC'
WHERE TIPO_ENDOSO='INGRESAR UBICACIÓN' AND TIPO_DOCUMENTO='END'

DELETE FROM #ENDOSOS_SIN_POLIZAS WHERE TIPO_DOCUMENTO='END'


UPDATE SURA_TRANSACCIONAL
SET TIPO_DOCUMENTO='INC'
FROM SURA_TRANSACCIONAL A, #ENDOSOS_SIN_POLIZAS B
WHERE A.NNUMDOCU=B.NNUMDOCU AND A.NNUMITEM=B.NNUMITEM AND A.NNUMCERT=B.NNUMCERT
AND A.TIPO_DOCUMENTO='END' 


TRUNCATE TABLE TABLAS_COMPARTIDAS.DBO.SURA_TRANSACCIONAL
INSERT INTO TABLAS_COMPARTIDAS.DBO.SURA_TRANSACCIONAL
SELECT * FROM SURA_TRANSACCIONAL



--------------------------------




SET @TERMINO= GETDATE()
SET @PASOS= GETDATE()

WAITFOR DELAY '00:00:02'

END TRY
BEGIN CATCH
INSERT INTO CANAL_ASESOR.DBO.MOVILIDAD_CONTROL_ERROR
  SELECT 
    ERROR_NUMBER()		AS NUMERO_ERROR,
    ERROR_STATE()		AS ESTADO_ERROR,
    ERROR_SEVERITY()	AS SEVERIDAD_ERROR,
    ERROR_PROCEDURE()	AS NOMBRE_PROCEDIMIENTO,
    ERROR_LINE()		AS LINEA_ERROR,
    ERROR_MESSAGE()		AS MENBSAGE_ERROR,
	GETDATE()			AS TIMESTAMP,
	CURRENT_USER		AS USUARIO_EJECUTA
	;
END CATCH;