USE [Almacen_de_Datos]
GO


ALTER  PROCEDURE [dbo].[03_SP_SURA_MOVILIDAD_INFO_ADICIONAL]
AS
BEGIN TRY
DECLARE @TERMINO DATETIME
DECLARE @INICIO DATETIME
DECLARE @PASOS DATETIME
SET @INICIO=GETDATE()
SET @PASOS=@INICIO
--+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
SET @TERMINO= GETDATE()
INSERT INTO CANAL_ASESOR.DBO.MOVILIDAD_CONTROL_DE_EJECUCION VALUES ('03_SP_SURA_MOVILIDAD_INFO_ADICIONAL','INICIO',@TERMINO,DATEDIFF(MINUTE,@PASOS,@TERMINO)/60,DATEDIFF(MINUTE,@PASOS,@TERMINO)%60)
SET @PASOS= GETDATE()
--+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
--------------------------------------------------------------------------INFORMACION DE VEHICULO 
DECLARE	@FECHA	 NUMERIC
SET @FECHA=(SELECT MAX(NFECUACT) FROM SURA_MA_VEHICULO)

DELETE  FROM  SURA_MA_VEHICULO WHERE NFECUACT>=@FECHA     
							 
DECLARE @CONSULTA_T05 AS NVARCHAR(4000)	
SET @CONSULTA_T05 = 'SELECT * FROM OPENQUERY(SOL,'' 
SELECT 
NNUMDOCU,NNUMENDO,NNUMITEM,CCOMAVEH,NCOMOVEH,NCOTIVEC,'''''''' TIPO_VEHICULO,
NANFAVEH,CNUMOVEH,CNUCHVEH,''''''''MARCA,''''''''MODELO,CNUMPATE,CUSOVEHI,''''''''USO ,NNUININS,NFEININS,CINESINP,NFECUACT 
FROM  RSASOLDB2.SUACST05 B 
WHERE B.NNUMDOCU>0 AND B.NFECUACT >=' +CAST (@FECHA AS NVARCHAR(10))  +' 
 '')'
INSERT INTO SURA_MA_VEHICULO
EXEC SP_EXECUTESQL @CONSULTA_T05

SELECT NNUMDOCU,NNUMITEM,MAX(NNUMENDO)NNUMENDO INTO #ULTIMO_ENDOSO_MAR_MOD FROM SURA_MA_VEHICULO
GROUP BY NNUMDOCU,NNUMITEM

SELECT A.* INTO #SURA_MA_VEHICULO FROM SURA_MA_VEHICULO A, #ULTIMO_ENDOSO_MAR_MOD B
WHERE A.NNUMDOCU=B.NNUMDOCU AND A.NNUMITEM=B.NNUMITEM AND A.NNUMENDO=B.NNUMENDO

TRUNCATE TABLE SURA_MA_VEHICULO

INSERT INTO SURA_MA_VEHICULO
SELECT * FROM #SURA_MA_VEHICULO




SET @TERMINO= GETDATE()
INSERT INTO CANAL_ASESOR.DBO.MOVILIDAD_CONTROL_DE_EJECUCION VALUES ('03_SP_SURA_MOVILIDAD_INFO_ADICIONAL','1 DE 10',@TERMINO,DATEDIFF(MINUTE,@PASOS,@TERMINO)/60,DATEDIFF(MINUTE,@PASOS,@TERMINO)%60)
SET @PASOS= GETDATE()

-------TIPO CAMBIO UF

TRUNCATE TABLE SURA_MOVILIDAD_TIPO_CAMBIO
INSERT INTO SURA_MOVILIDAD_TIPO_CAMBIO
SELECT 
CONVERT(DATE,CONVERT(NVARCHAR(20),NMESACON*100+NDIACONV),105)FECHA,
DMONCONM
FROM OPENQUERY(SOL,'
SELECT 
*
FROM RSASOLDB2.TSACSDVC
WHERE CCOMOORI IN (''0052UF   00'')
AND CCODMONE IN (''0052$    00'')
AND DMONCONM>0 
AND NMESACON*100+NDIACONV>20200000
ORDER BY 1 ASC
')
WHERE CONVERT(DATE,CONVERT(NVARCHAR(20),NMESACON*100+NDIACONV),105)<GETDATE()



DELETE FROM SURA_MOVILIDAD_TIPO_CAMBIO WHERE FECHA IN (
SELECT 
EOMONTH(SUBSTRING(CONVERT(NVARCHAR(6),NMESACON),1,4)+'-'+SUBSTRING(CONVERT(NVARCHAR(6),NMESACON),5,2)+'-01')
FROM OPENQUERY(SOL,'
SELECT * FROM RSASOLDB2.TSACSVCA 
WHERE CCOMOORI IN (''0052UF   00'')
AND CCODMONE IN (''0052$    00'')
AND DVALCICO>0
'))

INSERT INTO SURA_MOVILIDAD_TIPO_CAMBIO
SELECT 
EOMONTH(SUBSTRING(CONVERT(NVARCHAR(6),NMESACON),1,4)+'-'+SUBSTRING(CONVERT(NVARCHAR(6),NMESACON),5,2)+'-01'),DVALCICO
FROM OPENQUERY(SOL,'
SELECT * FROM RSASOLDB2.TSACSVCA 
WHERE CCOMOORI IN (''0052UF   00'')
AND CCODMONE IN (''0052$    00'')
AND DVALCICO>0
')




--------------------------------------------------------------------------INFORMACION DE CASCO 

SET @FECHA=(SELECT MAX(NFECUACT) FROM SURA_MA_CASCO)

DELETE  FROM  SURA_MA_CASCO WHERE NFECUACT>=@FECHA     
							 
DECLARE @CONSULTA_T06 AS NVARCHAR(4000)	
SET @CONSULTA_T06 = 'SELECT * FROM OPENQUERY(SOL,'' 
SELECT 
*
FROM  RSASOLDB2.SUACST06 B 
WHERE B.NNUMDOCU>0 AND B.NFECUACT >=' +CAST (@FECHA AS NVARCHAR(10))  +' 
 '')'
INSERT INTO SURA_MA_CASCO
EXEC SP_EXECUTESQL @CONSULTA_T06

SET @TERMINO= GETDATE()
INSERT INTO CANAL_ASESOR.DBO.MOVILIDAD_CONTROL_DE_EJECUCION VALUES ('03_SP_SURA_MOVILIDAD_INFO_ADICIONAL','2 DE 10',@TERMINO,DATEDIFF(MINUTE,@PASOS,@TERMINO)/60,DATEDIFF(MINUTE,@PASOS,@TERMINO)%60)
SET @PASOS= GETDATE()

--------------------------------------------------------------------------INFORMACION ACCIDENTES PERSONALES

SET @FECHA=(SELECT MAX(NFECUACT) FROM SURA_MA_ACCIDENTES_PERSONALES)

DELETE  FROM  SURA_MA_ACCIDENTES_PERSONALES WHERE NFECUACT>=@FECHA     
							 
DECLARE @CONSULTA_T09 AS NVARCHAR(4000)	
SET @CONSULTA_T09 = 'SELECT * FROM OPENQUERY(SOL,'' 
SELECT 
*
FROM  RSASOLDB2.SUACST09 B 
WHERE B.NNUMDOCU>0  AND B.NFECUACT >=' +CAST (@FECHA AS NVARCHAR(10))  +'
 '')'
INSERT INTO SURA_MA_ACCIDENTES_PERSONALES
EXEC SP_EXECUTESQL @CONSULTA_T09

SET @TERMINO= GETDATE()
INSERT INTO CANAL_ASESOR.DBO.MOVILIDAD_CONTROL_DE_EJECUCION VALUES ('03_SP_SURA_MOVILIDAD_INFO_ADICIONAL','3 DE 10',@TERMINO,DATEDIFF(MINUTE,@PASOS,@TERMINO)/60,DATEDIFF(MINUTE,@PASOS,@TERMINO)%60)
SET @PASOS= GETDATE()
----------------------------------TIPO VEHICULO
INSERT INTO SURA_TIPO_VEHICULO_COMPAÑIA
SELECT * FROM SOL.S1031EBB.RSASOLDB2.SOACSTVC WHERE NCOTIVEC NOT IN (SELECT NCOTIVEC FROM SURA_TIPO_VEHICULO_COMPAÑIA)



UPDATE SURA_MA_VEHICULO
SET TIPO_VEHICULO=UPPER(B.CDESCORT)
FROM SURA_MA_VEHICULO A, SURA_TIPO_VEHICULO_COMPAÑIA B
WHERE A.NCOTIVEC=B.NCOTIVEC AND A.TIPO_VEHICULO=''


----------------------------------MARCA MODELO


TRUNCATE TABLE SURA_MOVILIDAD_MARCA
TRUNCATE TABLE SURA_MOVILIDAD_MODELO

INSERT INTO SURA_MOVILIDAD_MARCA
SELECT CCOMAVEH,CDESCORT,NFECUACT			FROM SOL.S1031EBB.RSASOLDB2.SUACSMVH

INSERT INTO SURA_MOVILIDAD_MODELO
SELECT CCOMAVEH,NCOMOVEH,CDESCORT,NFECUACT	FROM SOL.S1031EBB.RSASOLDB2.SUACSMOV 


UPDATE SURA_MA_VEHICULO
SET MARCA=UPPER(B.CDESCORT)
FROM SURA_MA_VEHICULO A, SURA_MOVILIDAD_MARCA B
WHERE A.CCOMAVEH=B.CCOMAVEH AND A.MARCA=''

UPDATE SURA_MA_VEHICULO
SET MODELO=UPPER(B.CDESCORT)
FROM SURA_MA_VEHICULO A, SURA_MOVILIDAD_MODELO B
WHERE A.CCOMAVEH=B.CCOMAVEH AND A.NCOMOVEH=B.NCOMOVEH AND A.MODELO=''

----------------------------------USO
SELECT * INTO #USO FROM SURA_TBACSTGE WHERE DCODTABL=17

UPDATE SURA_MA_VEHICULO
SET USO=UPPER(B.CDESELEM)
FROM SURA_MA_VEHICULO A, #USO B
WHERE A.CUSOVEHI=B.CCODUNIC AND A.USO=''

SET @TERMINO= GETDATE()
INSERT INTO CANAL_ASESOR.DBO.MOVILIDAD_CONTROL_DE_EJECUCION VALUES ('03_SP_SURA_MOVILIDAD_INFO_ADICIONAL','4 DE 10',@TERMINO,DATEDIFF(MINUTE,@PASOS,@TERMINO)/60,DATEDIFF(MINUTE,@PASOS,@TERMINO)%60)
SET @PASOS= GETDATE()
--------------------------------------------------------------------------FIN INFORMACION DE VEHICULO 

--------------------------------------------------------------------------INFORMACION CONTINUIDAD DE RIEGO 
DECLARE	@FECHA_2	 NUMERIC
SET @FECHA_2=(SELECT MAX(NFECUACT) FROM SURA_COMPLETO_ITEM)

DELETE  FROM  SURA_COMPLETO_ITEM WHERE NFECUACT>=@FECHA_2     
					 
DECLARE @CONSULTA_ITEM AS NVARCHAR(4000)	
SET @CONSULTA_ITEM = 'SELECT * FROM OPENQUERY(SOL,'' 
SELECT A.NNUMDOCU,A.NNUMENDO,A.NNUMITEM,A.CINTIITE,'''''''' TIPO_ITEM,A.NCOPAPAG,'''''''' TIPO_PAGO,A.NFECUACT 
FROM RSASOLDB2.SUACSITE A
LEFT JOIN RSASOLDB2.SUACSPOL B ON
A.NNUMDOCU=B.NNUMDOCU AND A.NNUMCERT=B.NNUMCERT AND A.NNUMENDO=B.NNUMENDO
WHERE A.NNUMDOCU>0 AND A.NFECUACT >=' +CAST (@FECHA_2 AS NVARCHAR(10))  +'  AND A.CINTIITE <>''''''''
 '')'
INSERT INTO SURA_COMPLETO_ITEM
EXEC SP_EXECUTESQL @CONSULTA_ITEM


SELECT * INTO #ITEM from SURA_TBACSTGE WHERE DCODTABL=2374

UPDATE SURA_COMPLETO_ITEM
SET TIPO_ITEM=UPPER(B.CDESELEM)
FROM SURA_COMPLETO_ITEM A, #ITEM B
WHERE A.CINTIITE=B.CCODELEM AND A.CINTIITE <>'' AND A.TIPO_ITEM=''

SET @TERMINO= GETDATE()
INSERT INTO CANAL_ASESOR.DBO.MOVILIDAD_CONTROL_DE_EJECUCION VALUES ('03_SP_SURA_MOVILIDAD_INFO_ADICIONAL','5 DE 10',@TERMINO,DATEDIFF(MINUTE,@PASOS,@TERMINO)/60,DATEDIFF(MINUTE,@PASOS,@TERMINO)%60)
SET @PASOS= GETDATE()
-------------------------------------------------------------------------- FIN INFORMACION CONTINUIDAD DE RIEGO 



-------------------------------------------------------------------------- PLANES TECNICOS



SELECT * INTO #PLANES_TELEMATICOS	FROM SURA_TBACSTGE WHERE DCODTABL='2714'
SELECT * INTO #TALLER				FROM SURA_TBACSTGE WHERE DCODTABL='2494'



INSERT INTO SURA_MOVILIDAD_PLAN_TECNICO
SELECT 
NPLANTEC											AS CODIGO_PLAN_TECNICO,
CONVERT(NVARCHAR(3),CLINPROD)						AS LINEA_PRODUCTO,
CONVERT(NVARCHAR(2),CCODRAMO)						AS CODIGO_RAMO,
CDESCRIP											AS PLAN_TECNICO,
CONVERT(NVARCHAR(5),CONVERT(NUMERIC(18),DVAMODED))	AS DEDUCIBLE,
CINDMENS											AS IND_POLIZA_MENSUAL,
CINDUBER											AS IND_POLIZA_UBER,
CINDTELE											AS IND_POLIZA_TELEMATICA,
UPPER(B.CDESELEM)									AS DESCRIPCION_POLIZA_TELEMATICA,
UPPER(C.CDESELEM)									AS TALLER,
CTIPINDU											AS IND_PLAN_TECNICO_WEB,
CONVERT(NVARCHAR(50),'')							AS TIPO_PLAN,
''													AS TIPO_PLAN_LLAVE,
''													AS SOLUCION,
NULL												AS ORDEN_SOLUCION,
'NO ESTABNDAR'										AS TIPO_RIESGO
FROM SOL.S1031EBB.RSASOLDB2.PDACSPPT A 
LEFT JOIN #PLANES_TELEMATICOS B ON A.CCODTELE=B.CCODUNIC
LEFT JOIN #TALLER C				ON A.CODTALLE=C.CCODUNIC
WHERE NPLANTEC NOT IN (SELECT CODIGO_PLAN_TECNICO FROM SURA_MOVILIDAD_PLAN_TECNICO )
AND A.NFETEVIG>=((YEAR(GETDATE())*100)+MONTH(GETDATE()))*100
ORDER BY 1 DESC



------------------------------------------------PT + RC
UPDATE  SURA_MOVILIDAD_PLAN_TECNICO 
SET TIPO_PLAN='PT + RC',DEDUCIBLE='N/A'
WHERE LINEA_PRODUCTO='VEH' AND TIPO_PLAN ='' 
AND (PLAN_TECNICO LIKE ('%PT%+%RC%') 
OR PLAN_TECNICO LIKE ('%RC%+%PT%') 
OR PLAN_TECNICO LIKE ('%PT%-%RC%')
OR PLAN_TECNICO LIKE ('%PERDIDA%TOTAL%+%R%') 
OR PLAN_TECNICO LIKE ('%P.T.%+%R.C%')
OR PLAN_TECNICO LIKE ('%P. TOTAL%+%R. CIVIL%')
OR PLAN_TECNICO LIKE ('%P.TOTAL%+%RESP.CIVIL%')
)

------------------------------------------------ROBO + AP
UPDATE  SURA_MOVILIDAD_PLAN_TECNICO 
SET TIPO_PLAN='ROBO + AP',DEDUCIBLE='N/A'
WHERE LINEA_PRODUCTO='VEH' AND PLAN_TECNICO LIKE ('%ROBO%+%AP%') AND TIPO_PLAN =''

------------------------------------------------RC + ROBO
UPDATE  SURA_MOVILIDAD_PLAN_TECNICO 
SET TIPO_PLAN='RC + ROBO',DEDUCIBLE='N/A'
WHERE LINEA_PRODUCTO='VEH' AND PLAN_TECNICO LIKE ('%RC%+%ROBO%') AND TIPO_PLAN =''

------------------------------------------------PT + RC
UPDATE  SURA_MOVILIDAD_PLAN_TECNICO 
SET TIPO_PLAN='PT + RC',DEDUCIBLE=0
WHERE LINEA_PRODUCTO='VEH' AND PLAN_TECNICO LIKE ('%PT+RC%') AND TIPO_PLAN =''
------------------------------------------------RCE
UPDATE  SURA_MOVILIDAD_PLAN_TECNICO 
SET TIPO_PLAN='RCE',DEDUCIBLE='N/A'
WHERE LINEA_PRODUCTO='VEH' AND TIPO_PLAN ='' AND (
	PLAN_TECNICO LIKE ('%RCE%') 
	OR PLAN_TECNICO LIKE ('%RC%EXCESO%') 
	OR PLAN_TECNICO LIKE ('%RES%EXC%')
) 
AND PLAN_TECNICO NOT LIKE '%FORCENTER%' --parche nuevo

------------------------------------------------RCA
UPDATE  SURA_MOVILIDAD_PLAN_TECNICO 
SET TIPO_PLAN='RCA',DEDUCIBLE='N/A'
WHERE LINEA_PRODUCTO='VEH' AND (PLAN_TECNICO LIKE ('%RCA%') OR PLAN_TECNICO LIKE ('%RCM%')) AND TIPO_PLAN =''
and (PLAN_TECNICO NOT LIKE '%MARCA%' AND PLAN_TECNICO NOT LIKE '%MERCADO%' AND PLAN_TECNICO NOT LIKE '%APARCADOS%' AND PLAN_TECNICO NOT LIKE '%NORCAVAL%') --parche nuevo

------------------------------------------------RC
UPDATE  SURA_MOVILIDAD_PLAN_TECNICO 
SET TIPO_PLAN='RC',DEDUCIBLE='N/A'
WHERE LINEA_PRODUCTO='VEH' AND TIPO_PLAN ='' AND 
(	PLAN_TECNICO LIKE ('% RC%') 
OR	PLAN_TECNICO LIKE ('%RC.%')
OR	PLAN_TECNICO LIKE ('%R.%') 
OR	PLAN_TECNICO LIKE ('%RC %')
OR	PLAN_TECNICO LIKE ('%RES%CI%')
) 
AND PLAN_TECNICO NOT LIKE ('%DED%') 
AND PLAN_TECNICO NOT LIKE ('%EXC%') 
AND PLAN_TECNICO NOT LIKE ('%+%')

------------------------------------------------PT
UPDATE  SURA_MOVILIDAD_PLAN_TECNICO 
SET TIPO_PLAN='PT',DEDUCIBLE='N/A' 
WHERE LINEA_PRODUCTO='VEH' AND TIPO_PLAN ='' AND 
(	PLAN_TECNICO LIKE ('%PT%') 
OR	PLAN_TECNICO LIKE ('%PT.%') 
OR	PLAN_TECNICO LIKE ('%PT %') 
OR	PLAN_TECNICO LIKE ('%PERDIDA%TOTAL%')
OR	PLAN_TECNICO LIKE ('%P.%TOTAL%'))

------------------------------------------------FULL SD
UPDATE  SURA_MOVILIDAD_PLAN_TECNICO 
SET TIPO_PLAN='FULL',DEDUCIBLE='0' 
WHERE LINEA_PRODUCTO='VEH' AND TIPO_PLAN ='' AND 
(	PLAN_TECNICO LIKE ('%SD%') 
OR	PLAN_TECNICO LIKE ('%SIN%DED%') 
OR	PLAN_TECNICO LIKE ('%D0%') 
OR	PLAN_TECNICO LIKE ('%S/D%'))  

------------------------------------------------FULL D4
UPDATE  SURA_MOVILIDAD_PLAN_TECNICO 
SET TIPO_PLAN='FULL',DEDUCIBLE='4' 
WHERE LINEA_PRODUCTO='VEH' AND TIPO_PLAN ='' AND
(	PLAN_TECNICO LIKE ('%4 %')
OR	PLAN_TECNICO LIKE ('%UF4%')
OR	PLAN_TECNICO LIKE ('%D4%') 
OR	PLAN_TECNICO LIKE ('%D/4%')
OR	PLAN_TECNICO LIKE ('%UF 4%')
OR	PLAN_TECNICO LIKE ('%DED. 4%')
OR	PLAN_TECNICO LIKE ('%DED 4%')
OR	PLAN_TECNICO LIKE ('%DEDUCIBLE 4%')
OR	PLAN_TECNICO LIKE ('%D 4%')
)  

------------------------------------------------FULL D2.5
UPDATE  SURA_MOVILIDAD_PLAN_TECNICO 
SET TIPO_PLAN='FULL',DEDUCIBLE='2.5' 
WHERE LINEA_PRODUCTO='VEH' AND TIPO_PLAN ='' AND 
(	PLAN_TECNICO LIKE ('%2.5 %')
OR	PLAN_TECNICO LIKE ('%UF2.5%')
OR	PLAN_TECNICO LIKE ('%D2.5%') 
OR	PLAN_TECNICO LIKE ('%D/2.5%')
OR	PLAN_TECNICO LIKE ('%UF 2.5%')
OR	PLAN_TECNICO LIKE ('%DED. 2.5%')
OR	PLAN_TECNICO LIKE ('%DED 2.5%')
OR	PLAN_TECNICO LIKE ('%DEDUCIBLE 2.5%')
OR	PLAN_TECNICO LIKE ('%D 2.5%')
)  

------------------------------------------------FULL D2
UPDATE  SURA_MOVILIDAD_PLAN_TECNICO 
SET TIPO_PLAN='FULL',DEDUCIBLE='2' 
WHERE LINEA_PRODUCTO='VEH' AND TIPO_PLAN ='' AND 
(	PLAN_TECNICO LIKE ('%2 %')
OR	PLAN_TECNICO LIKE ('%UF2%')
OR	PLAN_TECNICO LIKE ('%D2%') 
OR	PLAN_TECNICO LIKE ('%D/2%')
OR	PLAN_TECNICO LIKE ('%UF 2%')
OR	PLAN_TECNICO LIKE ('%DED. 2%')
OR	PLAN_TECNICO LIKE ('%DED 2%')
OR	PLAN_TECNICO LIKE ('%DEDUCIBLE 2%')
OR	PLAN_TECNICO LIKE ('%D 2%')
)  
  
------------------------------------------------FULL D3
UPDATE  SURA_MOVILIDAD_PLAN_TECNICO 
SET TIPO_PLAN='FULL',DEDUCIBLE='3' 
WHERE LINEA_PRODUCTO='VEH' AND TIPO_PLAN ='' AND 
(	PLAN_TECNICO LIKE ('%3 %')
OR	PLAN_TECNICO LIKE ('%UF3%')
OR	PLAN_TECNICO LIKE ('%D3%') 
OR	PLAN_TECNICO LIKE ('%D/3%')
OR	PLAN_TECNICO LIKE ('%UF 3%')
OR	PLAN_TECNICO LIKE ('%DED. 3%')
OR	PLAN_TECNICO LIKE ('%DED 3%')
OR	PLAN_TECNICO LIKE ('%DEDUCIBLE 3%')
OR	PLAN_TECNICO LIKE ('%D 3%')
)  
  
------------------------------------------------FULL D5
UPDATE  SURA_MOVILIDAD_PLAN_TECNICO 
SET TIPO_PLAN='FULL',DEDUCIBLE='5' 
WHERE LINEA_PRODUCTO='VEH' AND TIPO_PLAN ='' AND 
(	PLAN_TECNICO LIKE ('%5 %')
OR	PLAN_TECNICO LIKE ('%UF5%')
OR	PLAN_TECNICO LIKE ('%D5%') 
OR	PLAN_TECNICO LIKE ('%D/5%')
OR	PLAN_TECNICO LIKE ('%UF 5%')
OR	PLAN_TECNICO LIKE ('%DED. 5%')
OR	PLAN_TECNICO LIKE ('%DED 5%')
OR	PLAN_TECNICO LIKE ('%DEDUCIBLE 5%')
OR	PLAN_TECNICO LIKE ('%D 5%')
) 

------------------------------------------------FULL D7
UPDATE  SURA_MOVILIDAD_PLAN_TECNICO 
SET TIPO_PLAN='FULL',DEDUCIBLE='7' 
WHERE LINEA_PRODUCTO='VEH' AND TIPO_PLAN ='' AND 
(	PLAN_TECNICO LIKE ('%7 %')
OR	PLAN_TECNICO LIKE ('%UF7%')
OR	PLAN_TECNICO LIKE ('%D7%') 
OR	PLAN_TECNICO LIKE ('%D/7%')
OR	PLAN_TECNICO LIKE ('%UF 7%')
OR	PLAN_TECNICO LIKE ('%DED. 7%')
OR	PLAN_TECNICO LIKE ('%DED 7%')
OR	PLAN_TECNICO LIKE ('%DEDUCIBLE 7%')
OR	PLAN_TECNICO LIKE ('%D 7%')
)  

------------------------------------------------FULL D8
UPDATE  SURA_MOVILIDAD_PLAN_TECNICO 
SET TIPO_PLAN='FULL',DEDUCIBLE='8' 
WHERE LINEA_PRODUCTO='VEH' AND TIPO_PLAN ='' AND
(	PLAN_TECNICO LIKE ('%8 %')
OR	PLAN_TECNICO LIKE ('%UF8%')
OR	PLAN_TECNICO LIKE ('%D8%') 
OR	PLAN_TECNICO LIKE ('%D/8%')
OR	PLAN_TECNICO LIKE ('%UF 8%')
OR	PLAN_TECNICO LIKE ('%DED. 8%')
OR	PLAN_TECNICO LIKE ('%DED 8%')
OR	PLAN_TECNICO LIKE ('%DEDUCIBLE 8%')
OR	PLAN_TECNICO LIKE ('%D 8%')
)  

------------------------------------------------FULL D10
UPDATE  SURA_MOVILIDAD_PLAN_TECNICO 
SET TIPO_PLAN='FULL',DEDUCIBLE='10' 
WHERE LINEA_PRODUCTO='VEH' AND TIPO_PLAN ='' AND 
(	PLAN_TECNICO LIKE ('%UF%10 %')
OR	PLAN_TECNICO LIKE ('%UF10%')
OR	PLAN_TECNICO LIKE ('%D10%') 
OR	PLAN_TECNICO LIKE ('%D/10%')
OR	PLAN_TECNICO LIKE ('%UF 10%')
OR	PLAN_TECNICO LIKE ('%DED. 10%')
OR	PLAN_TECNICO LIKE ('%DED 10%')
OR	PLAN_TECNICO LIKE ('%DEDUCIBLE 10%')
OR	PLAN_TECNICO LIKE ('%D 10%')
)  

------------------------------------------------FULL D12
UPDATE  SURA_MOVILIDAD_PLAN_TECNICO 
SET TIPO_PLAN='FULL',DEDUCIBLE='12' 
WHERE LINEA_PRODUCTO='VEH' AND TIPO_PLAN ='' AND 
(	PLAN_TECNICO LIKE ('%12%')
OR	PLAN_TECNICO LIKE ('%UF12%')
OR	PLAN_TECNICO LIKE ('%D12%') 
OR	PLAN_TECNICO LIKE ('%D/12%')
OR	PLAN_TECNICO LIKE ('%UF 12%')
OR	PLAN_TECNICO LIKE ('%DED. 12%')
OR	PLAN_TECNICO LIKE ('%DED 12%')
OR	PLAN_TECNICO LIKE ('%DEDUCIBLE 12%')
OR	PLAN_TECNICO LIKE ('%D 12%')
)  

------------------------------------------------FULL D15
UPDATE  SURA_MOVILIDAD_PLAN_TECNICO 
SET TIPO_PLAN='FULL',DEDUCIBLE='15' 
WHERE LINEA_PRODUCTO='VEH' AND TIPO_PLAN ='' AND 
(	PLAN_TECNICO LIKE ('%15%')
OR	PLAN_TECNICO LIKE ('%UF15%')
OR	PLAN_TECNICO LIKE ('%D15%') 
OR	PLAN_TECNICO LIKE ('%D/15%')
OR	PLAN_TECNICO LIKE ('%UF 15%')
OR	PLAN_TECNICO LIKE ('%DED. 15%')
OR	PLAN_TECNICO LIKE ('%DED 15%')
OR	PLAN_TECNICO LIKE ('%DEDUCIBLE 15%')
OR	PLAN_TECNICO LIKE ('%D 15%')
)  

------------------------------------------------FULL D25
UPDATE  SURA_MOVILIDAD_PLAN_TECNICO 
SET TIPO_PLAN='FULL',DEDUCIBLE='25' 
WHERE LINEA_PRODUCTO='VEH' AND TIPO_PLAN ='' AND 
(	PLAN_TECNICO LIKE ('%25%')
OR	PLAN_TECNICO LIKE ('%UF25%')
OR	PLAN_TECNICO LIKE ('%D25%') 
OR	PLAN_TECNICO LIKE ('%D/25%')
OR	PLAN_TECNICO LIKE ('%UF 25%')
OR	PLAN_TECNICO LIKE ('%DED. 25%')
OR	PLAN_TECNICO LIKE ('%DED 25%')
OR	PLAN_TECNICO LIKE ('%DEDUCIBLE 25%')
OR	PLAN_TECNICO LIKE ('%D 25%')
)  

------------------------------------------------FULL D30
UPDATE  SURA_MOVILIDAD_PLAN_TECNICO 
SET TIPO_PLAN='FULL',DEDUCIBLE='30' 
WHERE LINEA_PRODUCTO='VEH' AND TIPO_PLAN ='' AND 
(	PLAN_TECNICO LIKE ('%UF%30%')
OR	PLAN_TECNICO LIKE ('%D30%') 
OR	PLAN_TECNICO LIKE ('%D/30%')) 

------------------------------------------------FULL D20
UPDATE  SURA_MOVILIDAD_PLAN_TECNICO 
SET TIPO_PLAN='FULL',DEDUCIBLE='20' 
WHERE LINEA_PRODUCTO='VEH' AND TIPO_PLAN ='' AND 
(	PLAN_TECNICO LIKE ('%UF%20 %')
OR	PLAN_TECNICO LIKE ('%UF20%')
OR	PLAN_TECNICO LIKE ('%D20%') 
OR	PLAN_TECNICO LIKE ('%D/20%')
OR	PLAN_TECNICO LIKE ('%UF 20%')
OR	PLAN_TECNICO LIKE ('%DED. 20%')
OR	PLAN_TECNICO LIKE ('%DEDUCIBLE 20%')
)  

------------------------------------------------FULL D40
UPDATE  SURA_MOVILIDAD_PLAN_TECNICO 
SET TIPO_PLAN='FULL',DEDUCIBLE='40'
WHERE LINEA_PRODUCTO='VEH' AND TIPO_PLAN ='' AND 
(	PLAN_TECNICO LIKE ('%40%')
OR	PLAN_TECNICO LIKE ('%UF40%')
OR	PLAN_TECNICO LIKE ('%D40%') 
OR	PLAN_TECNICO LIKE ('%D/40%')
OR	PLAN_TECNICO LIKE ('%UF 40%')
OR	PLAN_TECNICO LIKE ('%DED. 40%')
OR	PLAN_TECNICO LIKE ('%DED 40%')
OR	PLAN_TECNICO LIKE ('%DEDUCIBLE 40%')
OR	PLAN_TECNICO LIKE ('%D 40%')
)  

------------------------------------------------FULL D50
UPDATE  SURA_MOVILIDAD_PLAN_TECNICO 
SET TIPO_PLAN='FULL',DEDUCIBLE='50' 
WHERE LINEA_PRODUCTO='VEH' AND TIPO_PLAN ='' AND 
(	PLAN_TECNICO LIKE ('%UF%50 %')
OR	PLAN_TECNICO LIKE ('%D50%') 
OR	PLAN_TECNICO LIKE ('%D/50%')
OR	PLAN_TECNICO LIKE ('%DED. 50%')
OR	PLAN_TECNICO LIKE ('%DED 50%')
OR	PLAN_TECNICO LIKE ('%DEDUCIBLE 50%')
OR	PLAN_TECNICO LIKE ('%D 50%')
)  

------------------------------------------------FULL D75
UPDATE  SURA_MOVILIDAD_PLAN_TECNICO 
SET TIPO_PLAN='FULL',DEDUCIBLE='75'
WHERE LINEA_PRODUCTO='VEH' AND TIPO_PLAN ='' AND 
(	PLAN_TECNICO LIKE ('%UF%75 %')
OR	PLAN_TECNICO LIKE ('%UF75%')
OR	PLAN_TECNICO LIKE ('%D75%') 
OR	PLAN_TECNICO LIKE ('%D/75%')
OR	PLAN_TECNICO LIKE ('%UF 75%')
OR	PLAN_TECNICO LIKE ('%DED. 75%')
OR	PLAN_TECNICO LIKE ('%DED 75%')
OR	PLAN_TECNICO LIKE ('%DEDUCIBLE 75%')
OR	PLAN_TECNICO LIKE ('%D 75%')
)  

------------------------------------------------COBERTURA COMPLETA - FULL
UPDATE  SURA_MOVILIDAD_PLAN_TECNICO 
SET TIPO_PLAN = 'FULL'
WHERE PLAN_TECNICO LIKE '%COMPLETA%'


--OTROS DEDUCIBLES

UPDATE SURA_MOVILIDAD_PLAN_TECNICO
SET DEDUCIBLE='30'
WHERE PLAN_TECNICO LIKE ('%D30%') AND DEDUCIBLE <>'30'


UPDATE SURA_MOVILIDAD_PLAN_TECNICO
SET DEDUCIBLE='50'
WHERE PLAN_TECNICO LIKE ('%D50%') AND DEDUCIBLE <>'50'


UPDATE SURA_MOVILIDAD_PLAN_TECNICO
SET DEDUCIBLE='100'
WHERE PLAN_TECNICO LIKE ('%D100%') AND DEDUCIBLE <>'100'

UPDATE SURA_MOVILIDAD_PLAN_TECNICO
SET DEDUCIBLE='300'
WHERE PLAN_TECNICO LIKE ('%D300%') AND DEDUCIBLE <>'300'

UPDATE SURA_MOVILIDAD_PLAN_TECNICO
SET DEDUCIBLE='120'
WHERE PLAN_TECNICO LIKE ('%D120%') AND DEDUCIBLE <>'120'

UPDATE SURA_MOVILIDAD_PLAN_TECNICO
SET DEDUCIBLE='75'
WHERE PLAN_TECNICO LIKE ('%D75%') AND DEDUCIBLE <>'75'

UPDATE SURA_MOVILIDAD_PLAN_TECNICO
SET DEDUCIBLE='20'
WHERE PLAN_TECNICO LIKE ('%D20%') AND DEDUCIBLE <>'20'

UPDATE SURA_MOVILIDAD_PLAN_TECNICO
SET DEDUCIBLE='40'
WHERE PLAN_TECNICO LIKE ('%D40%') AND DEDUCIBLE <>'40'


 UPDATE SURA_MOVILIDAD_PLAN_TECNICO
SET DEDUCIBLE='0'
 WHERE DEDUCIBLE ='N/A' AND TIPO_PLAN ='FULL' AND PLAN_TECNICO LIKE('%SD%')

 UPDATE SURA_MOVILIDAD_PLAN_TECNICO
SET DEDUCIBLE='3'
 WHERE DEDUCIBLE ='N/A' AND TIPO_PLAN ='FULL' AND PLAN_TECNICO LIKE('%D3%')

 UPDATE SURA_MOVILIDAD_PLAN_TECNICO
SET DEDUCIBLE='5'
 WHERE DEDUCIBLE ='N/A' AND TIPO_PLAN ='FULL' AND PLAN_TECNICO LIKE('%D5%')

 UPDATE SURA_MOVILIDAD_PLAN_TECNICO
SET DEDUCIBLE='10'
 WHERE DEDUCIBLE ='N/A' AND TIPO_PLAN ='FULL' AND PLAN_TECNICO LIKE('%D10%')

------------------------------------------------CON DEDUCIBLE DESDE SOL PERO SIN IDENTIFICACIÓN EN LA DESCRIPCIÓN
UPDATE  SURA_MOVILIDAD_PLAN_TECNICO 
SET TIPO_PLAN='FULL'
WHERE DEDUCIBLE<>0 AND DEDUCIBLE IS NOT NULL AND TIPO_PLAN=''

------------------------------------------------PLANES NO IDENTIFICADOS
UPDATE  SURA_MOVILIDAD_PLAN_TECNICO 
SET TIPO_PLAN='NO INDENT', DEDUCIBLE='N/I'
WHERE TIPO_PLAN='' AND LINEA_PRODUCTO='VEH'

------------------------------------------------TIPO PLAN LLAVE
UPDATE SURA_MOVILIDAD_PLAN_TECNICO
SET TIPO_PLAN_LLAVE='NO_RC'
WHERE LINEA_PRODUCTO='VEH' AND TIPO_PLAN IN ('RC + ROBO','P_PROV','NO INDENT','FULL','PT + RC','PT','ROBO + AP','RCE')

UPDATE SURA_MOVILIDAD_PLAN_TECNICO
SET TIPO_PLAN_LLAVE='RC'
WHERE LINEA_PRODUCTO='VEH' AND TIPO_PLAN IN ('RCA','RC')

UPDATE SURA_MOVILIDAD_PLAN_TECNICO
SET TIPO_PLAN_LLAVE='SEG_X_KM'
WHERE LINEA_PRODUCTO='VEH' AND IND_POLIZA_TELEMATICA='S'

UPDATE SURA_MOVILIDAD_PLAN_TECNICO 
SET IND_POLIZA_MENSUAL='S'
WHERE  PLAN_TECNICO LIKE ('%MENSUAL%') AND IND_POLIZA_MENSUAL<>'S'

SET @TERMINO= GETDATE()
INSERT INTO CANAL_ASESOR.DBO.MOVILIDAD_CONTROL_DE_EJECUCION VALUES ('03_SP_SURA_MOVILIDAD_INFO_ADICIONAL','6 DE 10',@TERMINO,DATEDIFF(MINUTE,@PASOS,@TERMINO)/60,DATEDIFF(MINUTE,@PASOS,@TERMINO)%60)
SET @PASOS= GETDATE()
-------------------------------------------------------------------------- FIN TECNICOS

-------------------------------------------------------------------------- INSPECCIONES

--SELECT COUNT(*) FROM SURA_MOVILIDAD_INSPECCIONES
--260795
TRUNCATE TABLE SURA_MOVILIDAD_INSPECCIONES
DECLARE @CONSULTA_INSPECCIONES AS NVARCHAR(4000)	
SET @CONSULTA_INSPECCIONES = 'SELECT * FROM OPENQUERY(SOL,'' 
SELECT 
A.NNINSPEC,
NNURUINT,
NNURUPRO,
NNURUINS,
'''''''' NOMBRE_INSPECTOR,
CNUMPATE, 
CCOMAVEH,
NCOMOVEH,
CNUCHVEH,
CNUMOVEH,
CCODTIIN,
'''''''' TIPO_INSPECCION,
CCODESTA,
'''''''' ESTADO_INSPECCION,
CCODCRIE,
'''''''' CALIDAD_DE_RIESGO,
CCODORIN,
'''''''' ORIGEN_INSPACCION,
C.CDESCRIP OBSERVACION_INSPECCION,
NNUMDOCU,NNUMITEM,A.NFECUACT
FROM RSASOLDB2.SUACSSOL A
LEFT JOIN RSASOLDB2.SUACSIVE B ON B.NNINSPEC = A.NNINSPEC AND B.NNUMVERS = A.NNUMVERS 
LEFT JOIN RSASOLDB2.SUACSINO C ON A.NNINSPEC = C.NNINSPEC AND A.NNUMVERS = C.NNUMVERS 
WHERE A.CCODRAMO LIKE (''''E%'''') AND (C.NNUMLIN IS NULL OR C.NNUMLIN=1)
 '')'
INSERT INTO SURA_MOVILIDAD_INSPECCIONES
EXEC SP_EXECUTESQL @CONSULTA_INSPECCIONES

UPDATE SURA_MOVILIDAD_INSPECCIONES
SET OBSERVACION_INSPECCION=1
WHERE OBSERVACION_INSPECCION IS NULL


SELECT PATENTE,MAX(NFECUACT)NFECUACT INTO #PATENTES FROM SURA_MOVILIDAD_INSPECCIONES 
GROUP BY PATENTE

SELECT A.PATENTE,A.NFECUACT,MAX(OBSERVACION_INSPECCION)OBSERVACION_INSPECCION  INTO #OBSERVACIONES FROM SURA_MOVILIDAD_INSPECCIONES A, #PATENTES B
WHERE A.PATENTE=B.PATENTE AND A.NFECUACT=B.NFECUACT
GROUP BY A.PATENTE,A.NFECUACT

SELECT A.* INTO  #SURA_MOVILIDAD_INSPECCIONES FROM SURA_MOVILIDAD_INSPECCIONES A, #OBSERVACIONES B
WHERE A.PATENTE=B.PATENTE AND A.NFECUACT=B.NFECUACT AND A.OBSERVACION_INSPECCION=B.OBSERVACION_INSPECCION

TRUNCATE TABLE SURA_MOVILIDAD_INSPECCIONES
INSERT INTO SURA_MOVILIDAD_INSPECCIONES
SELECT * FROM #SURA_MOVILIDAD_INSPECCIONES

TRUNCATE TABLE #SURA_MOVILIDAD_INSPECCIONES

SELECT * INTO #INSPECTOR	FROM SURA_MAESTRO_PERSONA_FULL	WHERE RUT IN (SELECT RUT_INSPECTOR FROM SURA_MOVILIDAD_INSPECCIONES GROUP BY RUT_INSPECTOR)


UPDATE SURA_MOVILIDAD_INSPECCIONES
SET INSPECTOR = CASE WHEN APELLIDO_MATERNO IN ('','.') THEN  LTRIM(RTRIM(B.APELLIDO_PATERNO)) ELSE   LTRIM(RTRIM(B.NOMBRE))+' '+ LTRIM(RTRIM(B.APELLIDO_MATERNO))END 
FROM SURA_MOVILIDAD_INSPECCIONES A, #INSPECTOR B
WHERE A.RUT_INSPECTOR=CONVERT(INT,B.RUT)

SET @TERMINO= GETDATE()
INSERT INTO CANAL_ASESOR.DBO.MOVILIDAD_CONTROL_DE_EJECUCION VALUES ('03_SP_SURA_MOVILIDAD_INFO_ADICIONAL','7 DE 10',@TERMINO,DATEDIFF(MINUTE,@PASOS,@TERMINO)/60,DATEDIFF(MINUTE,@PASOS,@TERMINO)%60)
SET @PASOS= GETDATE()


--DECLARE @CONSULTA_INSPECCIONES AS NVARCHAR(4000)
DECLARE @ULTIMA_CARGA INT
SET @ULTIMA_CARGA=(SELECT MAX(NFECUACT) FROM SURA_MOVILIDAD_CONTINUIDAD_COBERTURA WHERE DETALLE='FACTURA')

DELETE FROM SURA_MOVILIDAD_CONTINUIDAD_COBERTURA WHERE NFECUACT>=@ULTIMA_CARGA AND DETALLE='FACTURA'


SET @CONSULTA_INSPECCIONES = 'SELECT * FROM OPENQUERY(SOL,''
SELECT NNUMDOCU,NNUMITEM,''''FACTURA'''' AS DETALLE,NFECUACT FROM RSASOLDB2.SUACSNOT WHERE NFECUACT >= '+CAST (@ULTIMA_CARGA AS NVARCHAR(10))+' AND NNUMDOCU>2000000 AND NNUMITEM>0 
AND CTEXLINE LIKE (''''%FACTURA%'''')   '')'
INSERT INTO SURA_MOVILIDAD_CONTINUIDAD_COBERTURA
EXEC SP_EXECUTESQL @CONSULTA_INSPECCIONES

SET @TERMINO= GETDATE()
INSERT INTO CANAL_ASESOR.DBO.MOVILIDAD_CONTROL_DE_EJECUCION VALUES ('03_SP_SURA_MOVILIDAD_INFO_ADICIONAL','8 DE 10',@TERMINO,DATEDIFF(MINUTE,@PASOS,@TERMINO)/60,DATEDIFF(MINUTE,@PASOS,@TERMINO)%60)
SET @PASOS= GETDATE()

SET @ULTIMA_CARGA=(SELECT MAX(NFECUACT) FROM SURA_MOVILIDAD_CONTINUIDAD_COBERTURA WHERE DETALLE='CONTINUIDAD DE COBERTURA')
DELETE FROM SURA_MOVILIDAD_CONTINUIDAD_COBERTURA WHERE NFECUACT>=@ULTIMA_CARGA AND DETALLE='CONTINUIDAD DE COBERTURA'

SET @CONSULTA_INSPECCIONES = 'SELECT * FROM OPENQUERY(SOL,''
SELECT NNUMDOCU,NNUMITEM,''''CONTINUIDAD DE COBERTURA'''' AS DETALLE,NFECUACT FROM RSASOLDB2.SUACSNOT WHERE NFECUACT >= '+CAST (@ULTIMA_CARGA AS NVARCHAR(10))+' AND NNUMDOCU>2000000 AND NNUMITEM>0
AND CTEXLINE LIKE (''''%CONTINU%COBER%'''')  '')'
INSERT INTO SURA_MOVILIDAD_CONTINUIDAD_COBERTURA
EXEC SP_EXECUTESQL @CONSULTA_INSPECCIONES

SET @TERMINO= GETDATE()
INSERT INTO CANAL_ASESOR.DBO.MOVILIDAD_CONTROL_DE_EJECUCION VALUES ('03_SP_SURA_MOVILIDAD_INFO_ADICIONAL','9 DE 10',@TERMINO,DATEDIFF(MINUTE,@PASOS,@TERMINO)/60,DATEDIFF(MINUTE,@PASOS,@TERMINO)%60)
SET @PASOS= GETDATE()

SELECT * INTO #TIPO_INSPECCION		FROM SURA_TBACSTGE WHERE DCODTABL=1427
SELECT * INTO #ESTADO_INSPECCION	FROM SURA_TBACSTGE WHERE DCODTABL=1717
SELECT * INTO #CALIDAD_RIESGO		FROM SURA_TBACSTGE WHERE DCODTABL=1761
SELECT * INTO #ORIGEN_INSPECCION	FROM SURA_TBACSTGE WHERE DCODTABL=2378

SET @TERMINO= GETDATE()
INSERT INTO CANAL_ASESOR.DBO.MOVILIDAD_CONTROL_DE_EJECUCION VALUES ('03_SP_SURA_MOVILIDAD_INFO_ADICIONAL','10 DE 10',@TERMINO,DATEDIFF(MINUTE,@PASOS,@TERMINO)/60,DATEDIFF(MINUTE,@PASOS,@TERMINO)%60)
SET @PASOS= GETDATE()

UPDATE SURA_MOVILIDAD_INSPECCIONES
SET TIPO_INSPECCION=B.CDESELEM
FROM SURA_MOVILIDAD_INSPECCIONES A, #TIPO_INSPECCION B
WHERE A.CCODTIIN=B.CCODUNIC

UPDATE SURA_MOVILIDAD_INSPECCIONES
SET ESTADO_INSPECCION=B.CDESELEM
FROM SURA_MOVILIDAD_INSPECCIONES A, #ESTADO_INSPECCION B
WHERE A.CCODESTA=B.CCODUNIC

UPDATE SURA_MOVILIDAD_INSPECCIONES
SET CALIDAD_DE_RIESGO=B.CDESELEM
FROM SURA_MOVILIDAD_INSPECCIONES A, #CALIDAD_RIESGO B
WHERE A.CCODCRIE=B.CCODELEM

UPDATE SURA_MOVILIDAD_INSPECCIONES
SET ORIGEN_INSPECCION=B.CDESELEM
FROM SURA_MOVILIDAD_INSPECCIONES A, #ORIGEN_INSPECCION B
WHERE A.CCODORIN=B.CCODUNIC

UPDATE SURA_MOVILIDAD_INSPECCIONES
SET ORIGEN_INSPECCION='POLICYCHECK'
FROM SURA_MOVILIDAD_INSPECCIONES 
WHERE INSPECTOR LIKE ('%POLICYCHECK%')

UPDATE SURA_MOVILIDAD_INSPECCIONES
SET ORIGEN_INSPECCION='LET'
FROM SURA_MOVILIDAD_INSPECCIONES 
WHERE INSPECTOR LIKE ('%LET%')

UPDATE SURA_MOVILIDAD_INSPECCIONES
SET ORIGEN_INSPECCION='RAC ASISTENCIA'
FROM SURA_MOVILIDAD_INSPECCIONES 
WHERE INSPECTOR LIKE ('%RAC ASISTENCIA%')

UPDATE SURA_MOVILIDAD_INSPECCIONES
SET ORIGEN_INSPECCION='AUXILIA'
FROM SURA_MOVILIDAD_INSPECCIONES 
WHERE INSPECTOR LIKE ('%AUXILIA%')

UPDATE SURA_MOVILIDAD_INSPECCIONES
SET ORIGEN_INSPECCION='MOK'
FROM SURA_MOVILIDAD_INSPECCIONES 
WHERE INSPECTOR LIKE ('%MPRO%')

UPDATE SURA_MOVILIDAD_INSPECCIONES
SET ORIGEN_INSPECCION='SOLUCIONES TECNOLOGICAS'
FROM SURA_MOVILIDAD_INSPECCIONES 
WHERE INSPECTOR LIKE ('%SOLUCIONES TECNOLOGICAS%')




SET @TERMINO= GETDATE()
INSERT INTO CANAL_ASESOR.DBO.MOVILIDAD_CONTROL_DE_EJECUCION VALUES ('03_SP_SURA_MOVILIDAD_INFO_ADICIONAL','FIN',@TERMINO,DATEDIFF(MINUTE,@INICIO,@TERMINO)/60,DATEDIFF(MINUTE,@INICIO,@TERMINO)%60)
SET @PASOS= GETDATE()

WAITFOR DELAY '00:00:02'

END TRY
BEGIN CATCH
INSERT INTO CANAL_ASESOR.DBO.MOVILIDAD_CONTROL_ERROR
  SELECT 
    ERROR_NUMBER()		AS NUMERO_ERROR,
    ERROR_STATE()		AS ESTADO_ERROR,
    ERROR_SEVERITY()	AS SEVERIDAD_ERROR,
    ERROR_PROCEDURE()	AS NOMBRE_PROCEDIMIENTO,
    ERROR_LINE()		AS LINEA_ERROR,
    ERROR_MESSAGE()		AS MENBSAGE_ERROR,
	GETDATE()			AS TIMESTAMP,
	CURRENT_USER		AS USUARIO_EJECUTA
	;
END CATCH;