USE [Almacen_de_Datos]
GO

ALTER PROCEDURE [dbo].[SP_SURA_MOVILIDAD_RENOVACION_LLAVE_1]
AS
BEGIN TRY
DECLARE @TERMINO DATETIME
DECLARE @INICIO DATETIME
DECLARE @PASOS DATETIME
SET @INICIO=GETDATE()
SET @PASOS=@INICIO
--+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
SET @TERMINO= GETDATE()
INSERT INTO CANAL_ASESOR.DBO.MOVILIDAD_CONTROL_DE_EJECUCION VALUES ('SP_SURA_MOVILIDAD_RENOVACION_LLAVE_1','INICIO',@TERMINO,DATEDIFF(MINUTE,@PASOS,@TERMINO)/60,DATEDIFF(MINUTE,@PASOS,@TERMINO)%60)
SET @PASOS= GETDATE()
--+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

-----------------------------------------RENOVACION LLAVE_1
--UPDATE SURA_MOVILIDAD_TRANSACCIONAL SET IND_RENOVACION_LLAVE_1=NULL,CICLO_RENOVACION_LLAVE_1=NULL,ULTIMO_CICLO_RENOVACION_LLAVE_1=NULL

--SE TRABAJA TODO CON TABLAS TEMPORALES Y AL FINAL SE SUSTITUYE TODO EN SURA_MOVILIDAD_TRANSACCIONAL
DROP TABLE IF EXISTS #SURA_MOVILIDAD_TRANSACCIONAL_ANULACIONES
DROP TABLE IF EXISTS #SURA_MOVILIDAD_TRANSACCIONAL

DROP TABLE IF EXISTS #PRIMERA_POLIZA_LLAVE_1
DROP TABLE IF EXISTS #PRIMERA_POLIZA_LLAVE_2
DROP TABLE IF EXISTS #ULTIMO_CICLO_LLAVE_1
DROP TABLE IF EXISTS #MATERIA_ASEGURADA_SIN_REPETIR_LLAVE_1
DROP TABLE IF EXISTS #MARCA_RENOVACION
DROP TABLE IF EXISTS #LLAVE_1_POLIZA_MENOR
DROP TABLE IF EXISTS #ULTIMO_CLICLO
DROP TABLE IF EXISTS #ULTIMO_CIVLO_PARA_CICLO_0
DROP TABLE IF EXISTS #SURA_MOVILIDAD_TRANSACCIONAL_UNIFICADA

--SE TOMA LA INFORMACION DE SURA_MOVILIDAD_TRANSACCIONAL DE REPORTES Y SEPARAN LAS ANULACIONES
SELECT * INTO #SURA_MOVILIDAD_TRANSACCIONAL_ANULACIONES FROM ALMACEN_DE_DATOS.DBO.SURA_MOVILIDAD_TRANSACCIONAL WHERE INICIO_VIGENCIA = TERMINO_VIGENCIA_REAL
SELECT * INTO #SURA_MOVILIDAD_TRANSACCIONAL FROM ALMACEN_DE_DATOS.DBO.SURA_MOVILIDAD_TRANSACCIONAL WHERE INICIO_VIGENCIA <> TERMINO_VIGENCIA_REAL


SELECT LLAVE_1,MIN(FECHA_FIRMA_POLIZA)FECHA_FIRMA_POLIZA  
INTO #PRIMERA_POLIZA_LLAVE_1 FROM #SURA_MOVILIDAD_TRANSACCIONAL
GROUP BY LLAVE_1

SELECT A.LLAVE_1, 
CONVERT(NVARCHAR(10),NNUMDOCU)+CONVERT(NVARCHAR(10),NNUMITEM)+CONVERT(NVARCHAR(10),PRORROGA) POLIZA, 
CONVERT(DATE,'1900-01-01') TERMINO_VIGENCIA
INTO #PRIMERA_POLIZA_LLAVE_2
FROM #SURA_MOVILIDAD_TRANSACCIONAL A, #PRIMERA_POLIZA_LLAVE_1 B
WHERE A.TIPO_PLAN_LLAVE NOT IN ('RC') AND A.LLAVE_1=B.LLAVE_1 AND A.FECHA_FIRMA_POLIZA=B.FECHA_FIRMA_POLIZA 
GROUP BY A.LLAVE_1,CONVERT(NVARCHAR(10),NNUMDOCU)+CONVERT(NVARCHAR(10),NNUMITEM)+CONVERT(NVARCHAR(10),PRORROGA)



UPDATE #PRIMERA_POLIZA_LLAVE_2
SET TERMINO_VIGENCIA=B.TERMINO_VIGENCIA_REAL
FROM #PRIMERA_POLIZA_LLAVE_2 A, #SURA_MOVILIDAD_TRANSACCIONAL B
WHERE
A.POLIZA=CONVERT(NVARCHAR(10),B.NNUMDOCU)+CONVERT(NVARCHAR(10),B.NNUMITEM)+CONVERT(NVARCHAR(10),B.PRORROGA)
AND TIPO_PLAN_LLAVE NOT IN ('RC')


SELECT DISTINCT LLAVE_1,TERMINO_VIGENCIA INTO #MATERIA_ASEGURADA_SIN_REPETIR_LLAVE_1 FROM #SURA_MOVILIDAD_TRANSACCIONAL

SELECT TOP 1 LLAVE_1,COUNT(*) CANTIDAD 
--DROP TABLE #ULTIMO_CICLO_LLAVE_1
INTO  #ULTIMO_CICLO_LLAVE_1 FROM #MATERIA_ASEGURADA_SIN_REPETIR_LLAVE_1 
WHERE LLAVE_1 IS NOT NULL
GROUP BY LLAVE_1 ORDER BY 2 DESC

--select * from #ULTIMO_CICLO_LLAVE_1


------------------------------------------------------------------

SELECT DISTINCT LLAVE_1,TIPO_PLAN_LLAVE,TERMINO_VIGENCIA_REAL INTO #MARCA_RENOVACION FROM #SURA_MOVILIDAD_TRANSACCIONAL 
WHERE TIPO_PLAN_LLAVE IN ('SEG_X_KM','NO_RC')

--SELECT * FROM  #MARCA_RENOVACION WHERE LLAVE_1 ='15454240-SUZ-81-2019-FULL-SEG_X_KM' ORDER BY 3 DESC

UPDATE #SURA_MOVILIDAD_TRANSACCIONAL
SET IND_RENOVACION_LLAVE_1=NULL
FROM #SURA_MOVILIDAD_TRANSACCIONAL A,#MARCA_RENOVACION B
WHERE A.LLAVE_1=B.LLAVE_1 AND ABS(DATEDIFF (DAY,A.INICIO_VIGENCIA,B.TERMINO_VIGENCIA_REAL))<=10 AND A.INICIO_VIGENCIA<>A.TERMINO_VIGENCIA_REAL
--AND DATEDIFF(DAY,A.INICIO_VIGENCIA,A.TERMINO_VIGENCIA_REAL)>25

UPDATE #SURA_MOVILIDAD_TRANSACCIONAL_ANULACIONES
SET IND_RENOVACION_LLAVE_1=-1


--LOOP
DECLARE @ULTIMO_CICLO_LLAVE_1 INT
SET @ULTIMO_CICLO_LLAVE_1 = (SELECT  CANTIDAD FROM #ULTIMO_CICLO_LLAVE_1)

DECLARE @CICLOS_LLAVE_1 INT
SET @CICLOS_LLAVE_1=1

WHILE @CICLOS_LLAVE_1<=@ULTIMO_CICLO_LLAVE_1
BEGIN
DROP TABLE IF EXISTS #LLAVE_1_POLIZA_MENOR

SELECT LLAVE_1,MIN(FECHA_FIRMA_POLIZA) FECHA_FIRMA_POLIZA
INTO #LLAVE_1_POLIZA_MENOR
FROM #SURA_MOVILIDAD_TRANSACCIONAL 
WHERE IND_RENOVACION_LLAVE_1 IS NULL AND TIPO_PLAN_LLAVE IN ('SEG_X_KM','NO_RC')
GROUP BY LLAVE_1 


UPDATE #SURA_MOVILIDAD_TRANSACCIONAL
SET IND_RENOVACION_LLAVE_1=CASE WHEN @CICLOS_LLAVE_1=0 THEN 0 ELSE 1 END ,CICLO_RENOVACION_LLAVE_1= @CICLOS_LLAVE_1
FROM #SURA_MOVILIDAD_TRANSACCIONAL A, #LLAVE_1_POLIZA_MENOR B
WHERE 
A.LLAVE_1=B.LLAVE_1 
AND A.FECHA_FIRMA_POLIZA =B.FECHA_FIRMA_POLIZA
AND IND_RENOVACION_LLAVE_1 IS NULL AND TIPO_PLAN_LLAVE IN ('SEG_X_KM','NO_RC')


SET @CICLOS_LLAVE_1=@CICLOS_LLAVE_1+1

END

--FIN LOOP


--CON LO SIGUIENTE SE ACTUALIZA EL ULTIMO CICLO DE RENOVACION
SELECT LLAVE_1,MAX(CICLO_RENOVACION_LLAVE_1) ULTIMO_CLICLO INTO #ULTIMO_CLICLO FROM #SURA_MOVILIDAD_TRANSACCIONAL
GROUP BY LLAVE_1

UPDATE #SURA_MOVILIDAD_TRANSACCIONAL
SET ULTIMO_CICLO_RENOVACION_LLAVE_1=B.ULTIMO_CLICLO
FROM #SURA_MOVILIDAD_TRANSACCIONAL A, #ULTIMO_CLICLO B
WHERE A.LLAVE_1=B.LLAVE_1 

UPDATE #SURA_MOVILIDAD_TRANSACCIONAL
SET CICLO_RENOVACION_LLAVE_1 =0
WHERE CICLO_RENOVACION_LLAVE_1 IS  NULL

--UPDATE SURA_MOVILIDAD_TRANSACCIONAL
--SET IND_RENOVACION_LLAVE_1 =1
--WHERE CICLO_RENOVACION_LLAVE_1>0

SELECT LLAVE_1,ULTIMO_CICLO_RENOVACION_LLAVE_1,INICIO_VIGENCIA INTO #ULTIMO_CIVLO_PARA_CICLO_0 FROM #SURA_MOVILIDAD_TRANSACCIONAL WHERE IND_RENOVACION_LLAVE_1=1 AND 	CICLO_RENOVACION_LLAVE_1=1

UPDATE #SURA_MOVILIDAD_TRANSACCIONAL
SET
ULTIMO_CICLO_RENOVACION_LLAVE_1=B.ULTIMO_CICLO_RENOVACION_LLAVE_1
FROM #SURA_MOVILIDAD_TRANSACCIONAL A, #ULTIMO_CIVLO_PARA_CICLO_0 B
WHERE A.LLAVE_1=B.LLAVE_1 AND ABS(DATEDIFF(DAY,A.TERMINO_VIGENCIA,B.INICIO_VIGENCIA))<=3
AND A.CICLO_RENOVACION_LLAVE_1 IS  NULL

UPDATE #SURA_MOVILIDAD_TRANSACCIONAL
SET 
CICLO_RENOVACION_LLAVE_1 =0,
ULTIMO_CICLO_RENOVACION_LLAVE_1=0
WHERE ULTIMO_CICLO_RENOVACION_LLAVE_1 IS  NULL

UPDATE #SURA_MOVILIDAD_TRANSACCIONAL
SET 
CICLO_RENOVACION_LLAVE_1 =0,
ULTIMO_CICLO_RENOVACION_LLAVE_1=0,
IND_RENOVACION_LLAVE_1=0
WHERE TIPO_PLAN_LLAVE not IN ('SEG_X_KM','NO_RC')


/*
--PRUEBA
SELECT LLAVE_1, IND_RENOVACION_LLAVE_1, CICLO_RENOVACION_LLAVE_1, ULTIMO_CICLO_RENOVACION_LLAVE_1, INICIO_VIGENCIA, TERMINO_VIGENCIA_REAL
FROM #SURA_MOVILIDAD_TRANSACCIONAL 
--FROM ALMACEN_DE_DATOS.DBO.SURA_MOVILIDAD_TRANSACCIONAL 
WHERE LLAVE_1 = '7014967-HYU-2-2013-PT+RC-NO_RC'
--WHERE LLAVE_1 = '12720478-KIA-34-2012-FULL-NO_RC'
ORDER BY LLAVE_1, INICIO_VIGENCIA, TERMINO_VIGENCIA_REAL
*/

SELECT * INTO #SURA_MOVILIDAD_TRANSACCIONAL_UNIFICADA FROM #SURA_MOVILIDAD_TRANSACCIONAL
INSERT INTO #SURA_MOVILIDAD_TRANSACCIONAL_UNIFICADA SELECT * FROM #SURA_MOVILIDAD_TRANSACCIONAL_ANULACIONES

UPDATE #SURA_MOVILIDAD_TRANSACCIONAL_UNIFICADA
SET NUEVA_RENOVADA=CASE 
						WHEN IND_RENOVACION_LLAVE_1=1 THEN 'RENOVACION'
						WHEN IND_RENOVACION_LLAVE_1=0 THEN 'NUEVA'
						END

update #SURA_MOVILIDAD_TRANSACCIONAL_UNIFICADA
SET NUEVA_RENOVADA = 'RENOVACION'
where 
	NUEVA_RENOVADA = 'NUEVA' and 
	RENOVACION_GOL <> 'N'

TRUNCATE TABLE ALMACEN_DE_DATOS.DBO.SURA_MOVILIDAD_TRANSACCIONAL
INSERT INTO ALMACEN_DE_DATOS.DBO.SURA_MOVILIDAD_TRANSACCIONAL 
SELECT * FROM #SURA_MOVILIDAD_TRANSACCIONAL_UNIFICADA


DROP TABLE #SURA_MOVILIDAD_TRANSACCIONAL
DROP TABLE #SURA_MOVILIDAD_TRANSACCIONAL_ANULACIONES
DROP TABLE #SURA_MOVILIDAD_TRANSACCIONAL_UNIFICADA
---------------------------------------------------------------------------------------------------------------



SET @TERMINO= GETDATE()
INSERT INTO CANAL_ASESOR.DBO.MOVILIDAD_CONTROL_DE_EJECUCION VALUES ('SP_SURA_MOVILIDAD_RENOVACION_LLAVE_1','FIN',@TERMINO,DATEDIFF(MINUTE,@INICIO,@TERMINO)/60,DATEDIFF(MINUTE,@INICIO,@TERMINO)%60)
SET @PASOS= GETDATE()

WAITFOR DELAY '00:00:02'


END TRY
BEGIN CATCH
INSERT INTO CANAL_ASESOR.DBO.MOVILIDAD_CONTROL_ERROR
  SELECT 
    ERROR_NUMBER()		AS NUMERO_ERROR,
    ERROR_STATE()		AS ESTADO_ERROR,
    ERROR_SEVERITY()	AS SEVERIDAD_ERROR,
    ERROR_PROCEDURE()	AS NOMBRE_PROCEDIMIENTO,
    ERROR_LINE()		AS LINEA_ERROR,
    ERROR_MESSAGE()		AS MENBSAGE_ERROR,
	GETDATE()			AS TIMESTAMP,
	CURRENT_USER		AS USUARIO_EJECUTA
	;
END CATCH;