USE [Almacen_de_Datos]
GO

ALTER  PROCEDURE [dbo].[05_SP_SURA_MOVILIDAD_VARIABLES_PARA_RF]
AS
BEGIN TRY
DECLARE @TERMINO DATETIME
DECLARE @INICIO DATETIME
DECLARE @PASOS DATETIME
SET @INICIO=GETDATE()
SET @PASOS=@INICIO
--+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
SET @TERMINO= GETDATE()
INSERT INTO CANAL_ASESOR.DBO.MOVILIDAD_CONTROL_DE_EJECUCION VALUES ('05_SP_SURA_MOVILIDAD_VARIABLES_PARA_RF','INICIO',@TERMINO,DATEDIFF(MINUTE,@PASOS,@TERMINO)/60,DATEDIFF(MINUTE,@PASOS,@TERMINO)%60)
SET @PASOS= GETDATE()
--+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

DROP TABLE IF EXISTS #SURA_MOVILIDAD_RATING_FACTORS
select * into #SURA_MOVILIDAD_RATING_FACTORS from SURA_MOVILIDAD_RATING_FACTORS_BASE

INSERT INTO   #SURA_MOVILIDAD_RATING_FACTORS
SELECT 
LLAVE_1,
LLAVE_2,
NNUMDOCU,
NNUMITEM,
NNUMCERT,
PRORROGA,
NNUMENDO,
ULTIMO_ENDOSO,
CODIGO_RAMO,
RAMO,
RUT_EJECUTIVO,
EJECUTIVO,
RUT_EJECUTIVO_NUEVO,
EJECUTIVO_NUEVO,
RUT_INTERMEDIARIO,
INTERMEDIARIO,
RUT_PROPONENTE,
RUT_ASEGURADO,
RENOVACION_GOL,
IND_CANCELACION_GOL,
IND_CANCELACION_CALCULADA,
IND_ANULACION_CALCULADA,
IND_REHABILITACION_CALCULADA,
IND_RENOVACION_GOL,
IND_RENOVACION_LLAVE_1,
CICLO_RENOVACION_LLAVE_1,
ULTIMO_CICLO_RENOVACION_LLAVE_1,
IND_RENOVACION_LLAVE_2,
CICLO_RENOVACION_LLAVE_2,
ULTIMO_CICLO_RENOVACION_LLAVE_2,
ULTIMO_CICLO_SUB_RENOVACION,
FILTRO_RIESGO,
CODIGO_RAMO_KEIRA_PRINCIPAL,
RAMO_KEIRA_PRINCIPAL,
PRIMA_PESO,
PRIMA_UF,
COMISION_PESO,
COMISION_UF,
MONTO_ASEGURADO_PESO,
MONTO_ASEGURADO_UF,
MONTO_ASEGURADO_ALL_PESO,
MONTO_ASEGURADO_ALL_UF,
MONEDA_ORIGINAL,
CODIGO_PLAN_COMERCIAL,
PLAN_COMERCIAL,
CODIGO_PLAN_TECNICO,
PLAN_TECNICO,
TIPO_PLAN,
IND_POLIZA_MENSUAL,
IND_POLIZA_UBER,
IND_POLIZA_TELEMATICA,
PROVEDOR_TELMATICO,
KM_RECORRIDO_FACTURADO,
IMEI,
FECHA_ESTADO_CURIER,
ESTADO_COURIER,
FECHA_INSTALACION_DISPOSITIVO,
ESTADO_INTALACION,
DESCRIPCION_POLIZA_TELEMATICA,
TALLER,
IND_PLAN_TECNICO_WEB,
TIPO_INSPECCION,
ESTADO_INSPECCION,
CALIDAD_DE_RIESGO,
ORIGEN_INSPECCION,
CODIGO_COB_ASISTENCIA,
ASISTENCIA,
COMBO_ASITENCIA,
PROVEEDOR_ASITENCIA,
DEDUCIBLE,
LINEA_NEGOCIO,
LINEA_PRODUCTO,
CODIGO_TIPO_NEGOCIO,
TIPO_NEGOCIO,
CANAL_NUEVO,
BUSINESS_UNIT,
CHANNEL,
CANAL_GOL,
SUBGERENCIA_GOL,
SUBCATEGORIA_CANAL,
CODIGO_MARCA,
CODIGO_MODELO,
MARCA,
MODELO,
AÑO,
PATENTE,
CHASIS,
MOTOR,
TIPO_VEHICULO,
USO,
TIPO_ITEM,
FECHA_FIRMA_POLIZA,
FECHA_FIRMA_ULTIMO_ENDOSO,
INICIO_VIGENCIA,
TERMINO_VIGENCIA,
TERMINO_VIGENCIA_REAL,
FECHA_CANCELACION,
MEDIO_PAGO,
SUCURSAL_GOL,
SUCURSAL_CA,
COMUNA_ASE,
PROVINCIA_ASE,
REGION_ASE,
MACRO_ZONAS_ASE,
ZONAS_GEOGRAFICAS_ASE,
REGIONES_URBES_ASE,
ZONA_ASE,
TIPO_PLAN_LLAVE,
CANAL_FINAL,
PARTNER_FINAL,
VIGENTE,
USUARIO_FIRMA,
VIGENCIA_TEORICA,
VIGENCIA_CONTABLE,
VIGENCIA_EXP_AÑO,
EXP_AÑO,
FLOTA,
ESTADO_POR_ROBO,
SEGMENTO_VEHICULO,
SEGMENTACION,
GSE,
RENTA,
SEGMENTACION_OFICIAL,
AGRUPACION_FLOTA,
GRUPO_CHANNEL,
PRODUCTOS_NUEVOS,
PLAN_TECNICO_2,
MARCA_MODELO,
TOP_100,
ZONA_SUCURSAL,
NUEVA_RENOVADA,
EXTRANJERO,
PERFIL_UBER,
VIGENCIA,
CON_EMISIONES,
CALIDAD_CLIENTE,
GAMA_VEHICULO,
TAMAÑO,
INCLUSION,
TIPO,
VEH_ROBADO_AÑO,
VEH_ROBADO_ZONA,
VEH_ROBADO_MARCAMODELO,
LISTADO_VEH_ROBADOS,
MARCA_ROBADO,
FECHA_INICIO,
RUBRO_ECONOMICO,
SUBRUBRO_ECONOMICO,
ACTIVIDAD_ECONOMICA,
ANT_EMPRESA,
'NO APLICA','NO APLICA',NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,
NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL ,0,0,0,0,0,0,0,0,0,0,0,0,0,0 
FROM REPORTES.DBO.SURA_MOVILIDAD_TRANSACCIONAL 
--WHERE YEAR(FECHA_FIRMA_POLIZA) >= 2024           ---------------------------------------------------------------------------------------------------------------> BORRAR AL FINAL

UPDATE #SURA_MOVILIDAD_RATING_FACTORS
SET 
TIPO_VEHICULO		=B.TIPO_VEHICULO,
USO					=B.USO,
AÑO					=B.NANFAVEH,
CHASIS				=B.CNUCHVEH,
MOTOR				=B.CNUMOVEH,
MARCA				=B.MARCA,
MODELO				=B.MODELO,
PATENTE				=B.CNUMPATE,
CODIGO_MARCA		=B.CCOMAVEH,
CODIGO_MODELO		=B.NCOMOVEH
FROM #SURA_MOVILIDAD_RATING_FACTORS A, SURA_MA_VEHICULO B
WHERE A.NNUMDOCU=B.NNUMDOCU AND A.NNUMITEM=B.NNUMITEM



----- SEXO Y FECHA NACIMENTO
UPDATE #SURA_MOVILIDAD_RATING_FACTORS
SET RF_FECHA_NACIMIENTO=CONVERT(DATE,CONVERT(NVARCHAR(8),B.FECHA_NACIMIENTO)), RF_SEXO=B.SEXO
FROM #SURA_MOVILIDAD_RATING_FACTORS A, SURA_MAESTRO_PERSONA_FULL B
WHERE 
A.RUT_ASEGURADO=B.RUT AND B.TIPO_PERSONA='PERSONA'

UPDATE #SURA_MOVILIDAD_RATING_FACTORS
SET RF_SEXO='' WHERE RF_SEXO  NOT IN ('M','F') OR RF_SEXO IS NULL

UPDATE #SURA_MOVILIDAD_RATING_FACTORS
SET RF_FECHA_NACIMIENTO =  '1900-01-01'
WHERE 
RF_FECHA_NACIMIENTO IS NULL

----- EDAD DE ASEGURADO AUXILIAR

UPDATE #SURA_MOVILIDAD_RATING_FACTORS
SET RF_FECHA_NACIMIENTO=B.FNAC
FROM #SURA_MOVILIDAD_RATING_FACTORS A, SURA_MOVILIDAD_FECHA_NACIMIENTO_APROX B
WHERE (FLOOR(A.RUT_ASEGURADO/1000000))*1000000=B.RANGO AND A.RUT_ASEGURADO<=26000000 AND (A.RF_FECHA_NACIMIENTO='1900-01-01' OR A.RF_FECHA_NACIMIENTO IS NULL)


----- ANTIGUEDAD VEHICULO
UPDATE #SURA_MOVILIDAD_RATING_FACTORS
SET RF_ANTVEH =  CASE WHEN (CONVERT(INT,YEAR(INICIO_VIGENCIA))-AÑO) <0 THEN '0' ELSE 
                                   CASE WHEN (CONVERT(INT,YEAR(INICIO_VIGENCIA))-AÑO)>53 THEN 'UNKNOWN' ELSE 
                                          CONVERT(VARCHAR(6),(CONVERT(INT,YEAR(INICIO_VIGENCIA))-AÑO)) 
                                   END 
                            END 

UPDATE #SURA_MOVILIDAD_RATING_FACTORS
SET RF_ANTVEH_NOW =  CASE WHEN (CONVERT(INT,YEAR(GETDATE()))-AÑO) <0 THEN '0' ELSE 
                                   CASE WHEN (CONVERT(INT,YEAR(GETDATE()))-AÑO)>53 THEN 'UNKNOWN' ELSE 
                                          CONVERT(VARCHAR(6),(CONVERT(INT,YEAR(GETDATE()))-AÑO)) 
                                   END 
                            END 


--+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
SET @TERMINO= GETDATE()
INSERT INTO CANAL_ASESOR.DBO.MOVILIDAD_CONTROL_DE_EJECUCION VALUES ('05_SP_SURA_MOVILIDAD_VARIABLES_PARA_RF','1 DE 7',@TERMINO,DATEDIFF(MINUTE,@PASOS,@TERMINO)/60,DATEDIFF(MINUTE,@PASOS,@TERMINO)%60)
SET @PASOS= GETDATE()
--+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
----- DATOS AUXILIARES DE MARCA MODELO
UPDATE #SURA_MOVILIDAD_RATING_FACTORS
SET 
RF_TIPO_VEHICULO=B.TIPO_PERSONAL,
RF_NEW_SA=B.RANGO
FROM #SURA_MOVILIDAD_RATING_FACTORS A, SURA_MOVILIDAD_AUXILIAR_MARCA_MODELO B
WHERE 
A.MARCA=B.MARCA AND A.MODELO=B.MODELO

UPDATE #SURA_MOVILIDAD_RATING_FACTORS
SET RF_TOP100_2019=B.TOP100_2019
FROM #SURA_MOVILIDAD_RATING_FACTORS A , SURA_MOVILIDAD_RM_LP_TOP100_2019 B
WHERE A.MARCA =B.MARCA AND A.MODELO=B.MODELO

UPDATE #SURA_MOVILIDAD_RATING_FACTORS
SET RF_TOP100_2019 =  'NO INFORMADO'
FROM #SURA_MOVILIDAD_RATING_FACTORS
WHERE 
RF_TOP100_2019 IS NULL


UPDATE #SURA_MOVILIDAD_RATING_FACTORS
SET RF_TIPO_VEHICULO=B.TIPO_VEH_RVM 
FROM #SURA_MOVILIDAD_RATING_FACTORS A, SURA_MOVILIDAD_TIPO_VEH_RVM_MP B
WHERE A.MARCA=B.MARCA AND A.MODELO=B.MODELO
AND A.RF_TIPO_VEHICULO IS NULL

UPDATE #SURA_MOVILIDAD_RATING_FACTORS
SET RF_TIPO_VEHICULO =  'UNKNOWN'
WHERE 
RF_TIPO_VEHICULO IS NULL

UPDATE #SURA_MOVILIDAD_RATING_FACTORS
SET RF_NEW_SA =  'UNKNOWN'
WHERE 
RF_NEW_SA IS NULL


--+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
SET @TERMINO= GETDATE()
INSERT INTO CANAL_ASESOR.DBO.MOVILIDAD_CONTROL_DE_EJECUCION VALUES ('05_SP_SURA_MOVILIDAD_VARIABLES_PARA_RF','2 DE 7',@TERMINO,DATEDIFF(MINUTE,@PASOS,@TERMINO)/60,DATEDIFF(MINUTE,@PASOS,@TERMINO)%60)
SET @PASOS= GETDATE()
--+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
----- PERIODO DE FIRMA DE POLIZA( DATO SE OBTENIA DE NFECEMIS2 DE LA BASE MI_PASO_PRODUCCION)

UPDATE #SURA_MOVILIDAD_RATING_FACTORS
SET RF_F_CI = CONVERT(DATE,DATEADD(MS,-3,DATEADD(MM,0,DATEADD(MM,DATEDIFF(MM,0,CONVERT(DATETIME,FECHA_FIRMA_POLIZA))+1,0))))


----TIPO CAMBIO
UPDATE #SURA_MOVILIDAD_RATING_FACTORS
SET TIPO_CAMBIO=B.UF
FROM  #SURA_MOVILIDAD_RATING_FACTORS A, SURA_MOVILIDAD_TIPO_CAMBIO B
WHERE A.RF_F_CI=B.FECHA

DECLARE @ULTIMA_FECHA DATE
SET @ULTIMA_FECHA = (SELECT MAX(FECHA) FROM SURA_MOVILIDAD_TIPO_CAMBIO)
DECLARE @ULTIMA_UF FLOAT
SET @ULTIMA_UF= (SELECT TOP 1 UF FROM SURA_MOVILIDAD_TIPO_CAMBIO WHERE FECHA=@ULTIMA_FECHA)


UPDATE #SURA_MOVILIDAD_RATING_FACTORS
SET TIPO_CAMBIO=@ULTIMA_UF
WHERE TIPO_CAMBIO IS NULL AND RF_F_CI>GETDATE()

---EDAD


UPDATE #SURA_MOVILIDAD_RATING_FACTORS
SET 
RF_EDAD=CASE WHEN RF_FECHA_NACIMIENTO='1900-01-01' THEN NULL ELSE  
                CASE WHEN DATEDIFF(YEAR,RF_FECHA_NACIMIENTO,RF_F_CI) > 89 THEN 89 ELSE
                    CASE WHEN  DATEDIFF(YEAR,RF_FECHA_NACIMIENTO,RF_F_CI) <18 THEN 18 ELSE
                            DATEDIFF(YEAR,RF_FECHA_NACIMIENTO,RF_F_CI) 
                    END
                END
        END,
RF_EDAD_NOW=CASE WHEN RF_FECHA_NACIMIENTO='1900-01-01' THEN NULL ELSE  
                CASE WHEN DATEDIFF(YEAR,RF_FECHA_NACIMIENTO,GETDATE()) > 89 THEN 89 ELSE
                    CASE WHEN  DATEDIFF(YEAR,RF_FECHA_NACIMIENTO,GETDATE()) <18 THEN 18 ELSE
                            DATEDIFF(YEAR,RF_FECHA_NACIMIENTO,GETDATE()) 
                    END
                END
        END



UPDATE #SURA_MOVILIDAD_RATING_FACTORS
SET RF_EDAD='UNKNOWN' 
WHERE RF_EDAD IS NULL 

UPDATE #SURA_MOVILIDAD_RATING_FACTORS
SET RF_EDAD_NOW='UNKNOWN' 
WHERE RF_EDAD_NOW IS NULL 


--- EDAD DE BASE DE AREA CLIENTE

--SELECT DISTINCT RUT,EDAD INTO #EDAD FROM sgv1864.AnalyticsAbastecimiento.dbo.Base_Personas
SELECT RUT,EDAD INTO #EDAD FROM sgv1864.AnalyticsAbastecimiento.dbo.Base_Personas --LOS REGISTROS SON UNICOS
--SELECT * into #EDAD from openquery(sgv1864, 'select DISTINCT RUT, EDAD FROM sgv1864.AnalyticsAbastecimiento.dbo.Base_Personas')

UPDATE #SURA_MOVILIDAD_RATING_FACTORS
SET RF_EDAD=B.EDAD
--FROM #SURA_MOVILIDAD_RATING_FACTORS A, #EDAD B
FROM #SURA_MOVILIDAD_RATING_FACTORS A
LEFT JOIN #EDAD B ON
--WHERE A.RUT_ASEGURADO=B.RUT
A.RUT_ASEGURADO=B.RUT

DROP TABLE IF EXISTS #EDAD


--+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
SET @TERMINO= GETDATE()
INSERT INTO CANAL_ASESOR.DBO.MOVILIDAD_CONTROL_DE_EJECUCION VALUES ('05_SP_SURA_MOVILIDAD_VARIABLES_PARA_RF','3 DE 7',@TERMINO,DATEDIFF(MINUTE,@PASOS,@TERMINO)/60,DATEDIFF(MINUTE,@PASOS,@TERMINO)%60)
SET @PASOS= GETDATE()
--+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
-- ANTIGUEDAD RUT-CHANNEL

DROP TABLE IF EXISTS #AUX_ANTIG_CL_1
SELECT RUT_ASEGURADO, CHANNEL, MIN(FECHA_FIRMA_POLIZA) AS MIN_INI_VIG
INTO #AUX_ANTIG_CL_1
FROM #SURA_MOVILIDAD_RATING_FACTORS
GROUP BY RUT_ASEGURADO, CHANNEL


DROP TABLE IF EXISTS #AUX_ANTIG_CL_2
SELECT DISTINCT A.RUT_ASEGURADO, A.CHANNEL, A.FECHA_FIRMA_POLIZA, FLOOR((DATEDIFF(DAY, B.MIN_INI_VIG, FECHA_FIRMA_POLIZA)+60)/365.25) AS ANTIG_CL_RUT_CHANNEL 
INTO #AUX_ANTIG_CL_2
FROM #SURA_MOVILIDAD_RATING_FACTORS A
LEFT JOIN #AUX_ANTIG_CL_1 B ON A.RUT_ASEGURADO = B.RUT_ASEGURADO AND A.CHANNEL = B.CHANNEL

DROP TABLE IF EXISTS #AUX_ANTIG_CL_1

UPDATE #SURA_MOVILIDAD_RATING_FACTORS 
SET RF_ANTIG_CL_RUT_CHANNEL = B.ANTIG_CL_RUT_CHANNEL
FROM #SURA_MOVILIDAD_RATING_FACTORS A 
LEFT JOIN #AUX_ANTIG_CL_2 B ON A.RUT_ASEGURADO  = B.RUT_ASEGURADO  AND A.CHANNEL = B.CHANNEL AND A.FECHA_FIRMA_POLIZA = B.FECHA_FIRMA_POLIZA

DROP TABLE IF EXISTS #AUX_ANTIG_CL_2

--DEDUCIBLE
UPDATE #SURA_MOVILIDAD_RATING_FACTORS
SET RF_DEDUCIBLE=DEDUCIBLE


--+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
SET @TERMINO= GETDATE()
SET @PASOS= GETDATE()
--+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
/***********************************************************/
--                 CHANNEL TO EMBLEM
/***********************************************************/

UPDATE #SURA_MOVILIDAD_RATING_FACTORS
SET
BUSINESS_UNIT= RTRIM("BUSINESS UNIT"),
CHANNEL=RTRIM(B.CHANNEL)
--FROM #SURA_MOVILIDAD_RATING_FACTORS A,PROCESOS.DBO.BASE_PLANES_TECNICOS B
FROM #SURA_MOVILIDAD_RATING_FACTORS A
INNER JOIN PROCESOS.DBO.BASE_PLANES_TECNICOS B ON
--WHERE 
A.RUT_INTERMEDIARIO = B.NNUMRUT
AND A.CODIGO_PLAN_TECNICO = B.NPLANTEC
AND A.LINEA_NEGOCIO = B.LINEA_NEGOCIO


--UPDATE #SURA_MOVILIDAD_RATING_FACTORS 
--SET RF_CHANNEL_TO_EMB=B.CHANNEL_TO_EMBLEM
--FROM #SURA_MOVILIDAD_RATING_FACTORS A , SURA_MOVILIDAD_RM_LP_CHANNEL B
--WHERE  A.BUSINESS_UNIT=B.BU AND A.CHANNEL =B.CHANNEL 

UPDATE #SURA_MOVILIDAD_RATING_FACTORS 
SET BUSINESS_UNIT='UNKNOW',CHANNEL='UNKNOW',RF_CHANNEL_TO_EMB='UNKNOW'
WHERE BUSINESS_UNIT='' AND CHANNEL=''


DROP TABLE IF EXISTS #MI_POLIZAS_CHANNEL_TO_EMBLEM_2021
SELECT NNUMDOCU, NNUMITEM, PRORROGA, A.NNUMRUT, A.CHANNEL, A.BU, B.CHANNEL AS CHANNEL_TO_EMB_2021
INTO #MI_POLIZAS_CHANNEL_TO_EMBLEM_2021
FROM reportes.dbo.MI_PRIMA_EMITIDA_ACCESS A LEFT JOIN almacen_de_datos.dbo.channel_emblem_aux01 B ON A.NNUMRUT =  B.NNUMRUT 
WHERE FECTEVIG_REAL >= '2019-01-01'

UPDATE #MI_POLIZAS_CHANNEL_TO_EMBLEM_2021
SET CHANNEL_TO_EMB_2021 = B.CHANNEL
FROM #MI_POLIZAS_CHANNEL_TO_EMBLEM_2021 A LEFT JOIN almacen_de_datos.dbo.channel_emblem_aux01 B ON A.NNUMRUT =  B.NNUMRUT AND A.BU = B.BU 
WHERE B.CHANNEL IS NOT NULL

UPDATE #MI_POLIZAS_CHANNEL_TO_EMBLEM_2021
SET CHANNEL_TO_EMB_2021 = B.CHANNEL_NEW
FROM #MI_POLIZAS_CHANNEL_TO_EMBLEM_2021 A LEFT JOIN almacen_de_datos.dbo.channel_emblem_aux02 B ON A.NNUMRUT =  B.NNUMRUT
WHERE B.CHANNEL_NEW IS NOT NULL

UPDATE #MI_POLIZAS_CHANNEL_TO_EMBLEM_2021
SET CHANNEL_TO_EMB_2021 = B.CHANNEL_NEW
FROM #MI_POLIZAS_CHANNEL_TO_EMBLEM_2021 A LEFT JOIN almacen_de_datos.dbo.channel_emblem_aux02 B ON A.NNUMRUT =  B.NNUMRUT AND A.BU = B.BU 
WHERE B.CHANNEL_NEW IS NOT NULL


UPDATE #MI_POLIZAS_CHANNEL_TO_EMBLEM_2021
SET CHANNEL_TO_EMB_2021 = B.CHANNEL_NEW
FROM #MI_POLIZAS_CHANNEL_TO_EMBLEM_2021 A LEFT JOIN almacen_de_datos.dbo.channel_emblem_aux02 B ON A.NNUMRUT =  B.NNUMRUT AND A.BU = B.BU AND A.CHANNEL = B.CHANNEL
WHERE B.CHANNEL_NEW IS NOT NULL


DROP TABLE IF EXISTS #ejecutivo
select nnumdocu,intermediario,nnuruejc,ejecutivo
into #ejecutivo
from [SGF1025].Transaccional.dbo.RAIZ_POLIZA_ACTUALIZADA_VEHICULO


-- Corrección Canal Directo:

UPDATE #MI_POLIZAS_CHANNEL_TO_EMBLEM_2021
SET bu='NEGOCIOS MASIVOS Y CLIENTES',CHANNEL_TO_EMB_2021='AFFINITY - OTROS'
from #MI_POLIZAS_CHANNEL_TO_EMBLEM_2021 a
left join #ejecutivo b
on a.nnumdocu=b.nnumdocu
where nnuruejc not in
(13098157,13498978,15462026,16422049,12222465,14475041,12684008,
26098144,13301175,11334137,15605254,10342110,9676160,16377953,
13886318,17345737,26109229,16020424,16622961,13899725,17925055,25297884) and (rtrim(bu)='NEGOCIOS DIRECTOS' or rtrim(channel) like 'DIRECTO')

UPDATE #MI_POLIZAS_CHANNEL_TO_EMBLEM_2021
SET bu='NEGOCIOS DIRECTOS',CHANNEL_TO_EMB_2021='DIRECTO WEB'
from #MI_POLIZAS_CHANNEL_TO_EMBLEM_2021 a
left join #ejecutivo b
on a.nnumdocu=b.nnumdocu
where nnuruejc in
(13098157)

UPDATE #MI_POLIZAS_CHANNEL_TO_EMBLEM_2021
SET bu='NEGOCIOS DIRECTOS',CHANNEL_TO_EMB_2021='DIRECTO TELEVENTA'
from #MI_POLIZAS_CHANNEL_TO_EMBLEM_2021 a
left join #ejecutivo b
on a.nnumdocu=b.nnumdocu
where nnuruejc in
(13498978,15462026,16422049,12222465,14475041,12684008,
26098144,13301175,11334137,15605254,10342110,9676160,16377953,
13886318,17345737,26109229,16020424,16622961,13899725,17925055,25297884)

DROP TABLE IF EXISTS #ejecutivo


UPDATE #MI_POLIZAS_CHANNEL_TO_EMBLEM_2021
set CHANNEL_TO_EMB_2021= upper(CHANNEL_TO_EMB_2021)

-- select * from #MI_POLIZAS_CHANNEL_TO_EMBLEM_2021

drop table almacen_de_datos.[dbo].SURA_MOVILIDAD_CHANNEL_TO_EMB_2021_3
select * into almacen_de_datos.[dbo].SURA_MOVILIDAD_CHANNEL_TO_EMB_2021_3 from #MI_POLIZAS_CHANNEL_TO_EMBLEM_2021

DROP TABLE IF EXISTS #MI_POLIZAS_CHANNEL_TO_EMBLEM_2021


drop table if exists #aux
select nnumdocu, nnumitem, max(CHANNEL_TO_EMB_2021) as CHANNEL_TO_EMB_2021
into #aux
from almacen_de_datos.[dbo].SURA_MOVILIDAD_CHANNEL_TO_EMB_2021_3
group by nnumdocu, nnumitem

--ALTER TABLE #RATING_FACTORS_PERSONAL2
--ADD CHANNEL_TO_EMB_2021_FIXED VARCHAR(30) 

UPDATE #SURA_MOVILIDAD_RATING_FACTORS
SET RF_CHANNEL_TO_EMB = b.CHANNEL_TO_EMB_2021
from #SURA_MOVILIDAD_RATING_FACTORS a
left join #aux b
on a.nnumdocu=b.nnumdocu
where A.NNUMDOCU=B.NNUMDOCU AND A.NNUMITEM=B.NNUMITEM

DROP TABLE IF EXISTS #aux


UPDATE #SURA_MOVILIDAD_RATING_FACTORS
SET RF_CHANNEL_TO_EMB = 'AFFINITY OTROS'
WHERE RF_CHANNEL_TO_EMB = 'AFFINITY - OTROS'


--ACTUALIZACION DE RF_CHANNEL_TO_EMB CON PARTNER_PYG
update #SURA_MOVILIDAD_RATING_FACTORS
set
RF_CHANNEL_TO_EMB =
	case 
		when b.canal_pyg in ('CANAL ASESOR','PYME') then b.canal_pyg
		when b.canal_pyg = 'CANAL DIRECTO' then 'DIRECTO WEB'
		when b.canal_pyg = 'CORPORATIVO' then 'NEGOCIOS CORPORATIVOS'
		when b.PARTNER_PYG = 'SANTANDER CORREDORA' then 'SANTANDER'
		else b.PARTNER_PYG
	end
from #SURA_MOVILIDAD_RATING_FACTORS a
left join (
	select distinct nnumdocu, nnumitem, canal_pyg, partner_pyg 
	from Reportes.dbo.SURA_MOVILIDAD_TRANSACCIONAL 
	where 
		(canal_pyg = 'AFFINITY' and PARTNER_PYG in ('CENCOSUD','COMPARA','FALABELLA','MESOS','RIPLEY','SANTANDER CORREDORA')) OR
		(canal_pyg in ('CANAL ASESOR','CANAL DIRECTO','CORPORATIVO','PYME'))
) b on
a.NNUMDOCU = b.NNUMDOCU and
a.NNUMITEM = b.NNUMITEM
where RF_CHANNEL_TO_EMB IS NULL



-- CAMPOS DE SISGEN POR TIPO SINIESTRO

SELECT DISTINCT  RUT_ASEGURADO INTO #RUT_ASEGURADO FROM #SURA_MOVILIDAD_RATING_FACTORS
DECLARE @CORTE_FECHA_SISGEN DATE
SET @CORTE_FECHA_SISGEN =(SELECT MIN(FECHA_FIRMA_POLIZA) FROM #SURA_MOVILIDAD_RATING_FACTORS)



--TRUNCATE TABLE SURA_MOVILIDAD_SISGEN_ALG_WR_UP_FINAL_2
--INSERT INTO SURA_MOVILIDAD_SISGEN_ALG_WR_UP_FINAL_2
DROP TABLE IF EXISTS SURA_MOVILIDAD_SISGEN_ALG_WR_UP_FINAL_2
--SELECT * FROM SURA_MOVILIDAD_SISGEN_ALG_WR_UP_FINAL WHERE RUT_Numeric IN (SELECT RUT_ASEGURADO FROM #RUT_ASEGURADO) AND YYYYMM>= YEAR(@CORTE_FECHA_SISGEN)*100+MONTH(@CORTE_FECHA_SISGEN)
SELECT * INTO SURA_MOVILIDAD_SISGEN_ALG_WR_UP_FINAL_2 
FROM Transaccional.dbo.SISGEN_ALG_WR_UP_FINAL WHERE RUT_Numeric IN (SELECT RUT_ASEGURADO FROM #RUT_ASEGURADO) AND YYYYMM>= YEAR(@CORTE_FECHA_SISGEN)*100+MONTH(@CORTE_FECHA_SISGEN)

--TRUNCATE TABLE SURA_MOVILIDAD_SISGEN_ALG_WR_UP_FINAL_ULTIMO_MES
--INSERT INTO SURA_MOVILIDAD_SISGEN_ALG_WR_UP_FINAL_ULTIMO_MES
DROP TABLE IF EXISTS SURA_MOVILIDAD_SISGEN_ALG_WR_UP_FINAL_ULTIMO_MES
--SELECT * FROM SURA_MOVILIDAD_SISGEN_ALG_WR_UP_FINAL WHERE RUT_Numeric IN (SELECT RUT_ASEGURADO FROM #RUT_ASEGURADO) AND YYYYMM=(YEAR(DATEADD(MM, -1,GETDATE()))*100)+MONTH(DATEADD(MM, -1,GETDATE()))
SELECT * INTO SURA_MOVILIDAD_SISGEN_ALG_WR_UP_FINAL_ULTIMO_MES 
FROM Transaccional.dbo.SISGEN_ALG_WR_UP_FINAL WHERE RUT_Numeric IN (SELECT RUT_ASEGURADO FROM #RUT_ASEGURADO) AND YYYYMM=(YEAR(DATEADD(MM, -1,GETDATE()))*100)+MONTH(DATEADD(MM, -1,GETDATE()))

DROP TABLE IF EXISTS #RUT_ASEGURADO


UPDATE #SURA_MOVILIDAD_RATING_FACTORS
SET 
RF_SINI_G1G2_0_36		=B.SiniG1G2_0_36,
RF_SINI_RC_0_36			=B.SiniRC_0_36,
RF_SINI_Tot_0_36		=B.SiniTot_0_36
FROM  #SURA_MOVILIDAD_RATING_FACTORS A,SURA_MOVILIDAD_SISGEN_ALG_WR_UP_FINAL_2 B
WHERE (YEAR(A.RF_F_CI)*100)+MONTH(A.RF_F_CI)=B.YYYYMM AND A.RUT_ASEGURADO  =B.RUT_Numeric


UPDATE #SURA_MOVILIDAD_RATING_FACTORS
SET 
RF_SINI_G1G2_0_36_NOW	=B.SiniG1G2_0_36,
RF_SINI_RC_0_36_NOW		=B.SiniRC_0_36,
RF_SINI_Tot_0_36_NOW	=B.SiniTot_0_36
FROM  #SURA_MOVILIDAD_RATING_FACTORS A,SURA_MOVILIDAD_SISGEN_ALG_WR_UP_FINAL_ULTIMO_MES B
WHERE (YEAR(DATEADD(MM, -1,GETDATE()))*100)+MONTH(DATEADD(MM, -1,GETDATE()))=B.YYYYMM AND A.RUT_ASEGURADO  =B.RUT_Numeric


---------- ACTUALIZACION MAX SISGEN ----------
DROP TABLE IF EXISTS #SURA_MOVILIDAD_SISGEN_ALG_WR_UP_FINAL_2_MAX
select * into #SURA_MOVILIDAD_SISGEN_ALG_WR_UP_FINAL_2_MAX 
from SURA_MOVILIDAD_SISGEN_ALG_WR_UP_FINAL_2 where YYYYMM > year(dateadd(month,-6,GETDATE()))*100 + month(dateadd(month,-6,GETDATE())) --ULTIMOS 6 MESES

--ULTIMO REGISTRO DE CADA RUT
DELETE DUP
FROM (
	SELECT *, DupRank = ROW_NUMBER() OVER (PARTITION BY RUT_NUMERIC ORDER BY RUT_NUMERIC, YYYYMM DESC)
	FROM #SURA_MOVILIDAD_SISGEN_ALG_WR_UP_FINAL_2_MAX
) AS DUP
WHERE DupRank > 1

UPDATE #SURA_MOVILIDAD_RATING_FACTORS
SET
	RF_SINI_G1G2_0_36	=	B.SiniG1G2_0_36,
	RF_SINI_RC_0_36		=	B.SiniRC_0_36,
	RF_SINI_Tot_0_36	=	B.SiniTot_0_36
FROM #SURA_MOVILIDAD_RATING_FACTORS A
INNER JOIN #SURA_MOVILIDAD_SISGEN_ALG_WR_UP_FINAL_2_MAX B ON
	YEAR(FECHA_FIRMA_POLIZA)*100+MONTH(FECHA_FIRMA_POLIZA) > (select max(YYYYMM) YYYYMM from #SURA_MOVILIDAD_SISGEN_ALG_WR_UP_FINAL_2_MAX) AND 
	A.RUT_ASEGURADO = B.RUT_Numeric

DROP TABLE IF EXISTS #SURA_MOVILIDAD_SISGEN_ALG_WR_UP_FINAL_2_MAX
----------------------------------------------


UPDATE #SURA_MOVILIDAD_RATING_FACTORS
SET RF_SINI_G1G2_0_36='N'
WHERE RF_SINI_G1G2_0_36 IS NULL

UPDATE #SURA_MOVILIDAD_RATING_FACTORS
SET RF_SINI_TOT_0_36='N'
WHERE RF_SINI_TOT_0_36 IS NULL

UPDATE #SURA_MOVILIDAD_RATING_FACTORS
SET RF_SINI_RC_0_36='N'
WHERE RF_SINI_RC_0_36 IS NULL

UPDATE #SURA_MOVILIDAD_RATING_FACTORS
SET RF_SINI_G1G2_0_36_NOW='N'
WHERE RF_SINI_G1G2_0_36_NOW IS NULL

UPDATE #SURA_MOVILIDAD_RATING_FACTORS
SET RF_SINI_TOT_0_36_NOW='N'
WHERE RF_SINI_TOT_0_36_NOW IS NULL

UPDATE #SURA_MOVILIDAD_RATING_FACTORS
SET RF_SINI_RC_0_36_NOW='N'
WHERE RF_SINI_RC_0_36_NOW IS NULL


--+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
SET @TERMINO= GETDATE()
SET @PASOS= GETDATE()
--+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
--TIPO PLAN VIENE DESDE EL MISMO RATING FACOTRS

UPDATE #SURA_MOVILIDAD_RATING_FACTORS 
SET RF_TIPO_PLAN  = TIPO_PLAN

----------------------ACA

-- PLANES S X KM


SELECT CODIGO_PLAN_TECNICO,PLAN_TECNICO INTO #AUX_PLANES_X_KM 
FROM SURA_MOVILIDAD_PLAN_TECNICO WHERE IND_POLIZA_TELEMATICA='S' AND PLAN_TECNICO NOT LIKE ('%CONDUCTOR PRO%')

UPDATE #SURA_MOVILIDAD_RATING_FACTORS 
SET RF_TIPO_X_KM = 'POLIZA TRADICIONAL'

UPDATE #SURA_MOVILIDAD_RATING_FACTORS 
SET RF_TIPO_X_KM = 'POLIZA X KM'
FROM #SURA_MOVILIDAD_RATING_FACTORS  A , #AUX_PLANES_X_KM B 
WHERE A.CODIGO_PLAN_TECNICO = B.CODIGO_PLAN_TECNICO

DROP TABLE IF EXISTS #AUX_PLANES_X_KM

--COMUNA

UPDATE #SURA_MOVILIDAD_RATING_FACTORS 
SET RF_COMUNA = COMUNA_ASE
FROM #SURA_MOVILIDAD_RATING_FACTORS


-----VALUE_AGE

UPDATE #SURA_MOVILIDAD_RATING_FACTORS
SET VALUE_AGE=CASE WHEN B.VALUE_AGE IS NULL THEN 'UNKNOWN' ELSE B.VALUE_AGE END
FROM #SURA_MOVILIDAD_RATING_FACTORS A, SURA_MOVILIDAD_AUXILIAR_VALUE B
WHERE A.MARCA=B.MARCA AND A.MODELO=B.MODELO AND A.RF_ANTVEH=B.AGE1

UPDATE #SURA_MOVILIDAD_RATING_FACTORS
SET VALUE_AGE='UNKNOWN'
WHERE VALUE_AGE IS NULL


--+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
SET @TERMINO= GETDATE()
SET @PASOS= GETDATE()
--+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
-----TAMAÑO

SELECT NNUMDOCU,RUT_PROPONENTE,PRORROGA,COUNT(*) AS CANTIDAD, CONVERT(NVARCHAR(100),'')TAMAÑO_AGRUPADO
INTO  #CANTIDAD_ITEMS_POR_POLIZA
FROM #SURA_MOVILIDAD_RATING_FACTORS 
WHERE LINEA_NEGOCIO='COMMERCIAL' 
GROUP BY NNUMDOCU,RUT_PROPONENTE,PRORROGA



UPDATE #CANTIDAD_ITEMS_POR_POLIZA
SET TAMAÑO_AGRUPADO=CASE WHEN CONVERT(INT,A.CANTIDAD) >2000 THEN '2001 - +' ELSE B.TAMAÑO_AGRUPADO END
FROM #CANTIDAD_ITEMS_POR_POLIZA A, SURA_MOVILIDAD_TAMAÑO_AGRUPADO B
WHERE A.CANTIDAD=B.TAMAÑO

UPDATE #CANTIDAD_ITEMS_POR_POLIZA
SET TAMAÑO_AGRUPADO='2001 - +'
WHERE CANTIDAD>2000


UPDATE #SURA_MOVILIDAD_RATING_FACTORS
SET RF_TAMAÑO='NO APLICA'
WHERE LINEA_NEGOCIO='PERSONAL'

UPDATE #SURA_MOVILIDAD_RATING_FACTORS
SET RF_TAMAÑO=B.TAMAÑO_AGRUPADO
FROM #SURA_MOVILIDAD_RATING_FACTORS A, #CANTIDAD_ITEMS_POR_POLIZA B
WHERE A.NNUMDOCU=B.NNUMDOCU AND A.PRORROGA=B.PRORROGA AND A.RUT_PROPONENTE=B.RUT_PROPONENTE
AND LINEA_NEGOCIO='COMMERCIAL' 

drop table if exists #CANTIDAD_ITEMS_POR_POLIZA



-------ACTIVIDAD
UPDATE #SURA_MOVILIDAD_RATING_FACTORS
SET RF_ACTIVIDAD='UNKNOWN'

UPDATE #SURA_MOVILIDAD_RATING_FACTORS
SET RF_ACTIVIDAD=B.RUBRO
FROM #SURA_MOVILIDAD_RATING_FACTORS A, SURA_MOVILIDAD_ACTIVIDADES B
WHERE A.RUT_PROPONENTE=B.RUT

UPDATE #SURA_MOVILIDAD_RATING_FACTORS
SET MODELO_RATING_FACTOR='PERSONAL'
WHERE 
	LINEA_NEGOCIO='PERSONAL' OR
	CODIGO_PLAN_TECNICO IN (4315,4316,4317,4318,4319,4320,4321,4322,4323,4324,4429,4430,4431,4432,4433,4450,4451,4452,4453,4454,4870,4873,4874,4875,5183,5184,5185,5186,5187)

UPDATE #SURA_MOVILIDAD_RATING_FACTORS
SET MODELO_RATING_FACTOR='COMMERCIAL PESADO'
WHERE SEGMENTO_VEHICULO IN ('PESADOS','BUSES','ESPECIAL') AND LINEA_NEGOCIO='COMMERCIAL'

UPDATE #SURA_MOVILIDAD_RATING_FACTORS
SET MODELO_RATING_FACTOR='COMMERCIAL LIVIANO'
WHERE SEGMENTO_VEHICULO IN ('LIVIANOS', 'OTROS') AND LINEA_NEGOCIO='COMMERCIAL'


--+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
	--					  PREPARO VARIABLES NUEVO MODELO
--+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

--------------------------------------------------
------ UPDATE edad , candidato_extranjero --------
--------------------------------------------------
--                                                                                                                                                      
drop table if exists #SURA_MOVILIDAD_RATING_FACTORS2
SELECT *, 
EDAD_CLIENTES_PRICING = convert(int,year(getdate()) - (rut_asegurado *0.0000033363697569700348 +1932.2573852507373))  
INTO #SURA_MOVILIDAD_RATING_FACTORS2
FROM #SURA_MOVILIDAD_RATING_FACTORS

drop table if exists #SURA_MOVILIDAD_RATING_FACTORS

--SELECT * FROM  #RATING_FACTORS_PERSONAL2
--SELECT DISTINCT RF_SEXO FROM  #RATING_FACTORS_PERSONAL2

--ALTER TABLE #SURA_MOVILIDAD_RATING_FACTORS
--ADD EDAD_CLIENTES_PRICING INTEGER;

ALTER TABLE #SURA_MOVILIDAD_RATING_FACTORS2
ADD EDAD_CLIENTES_2 INTEGER;

ALTER TABLE #SURA_MOVILIDAD_RATING_FACTORS2
ADD candidato_extranjero_fixed VARCHAR(10)  ;

--UPDATE #SURA_MOVILIDAD_RATING_FACTORS 
--set EDAD_CLIENTES_PRICING = convert(int,year(getdate()) - (rut_asegurado *0.0000033363697569700348 +1932.2573852507373)) ;

UPDATE #SURA_MOVILIDAD_RATING_FACTORS2   
set EDAD_CLIENTES_2 = case when RF_EDAD='UNKNOWN'  then '' else RF_EDAD end;

UPDATE #SURA_MOVILIDAD_RATING_FACTORS2   
set EDAD_CLIENTES_2 = case when EDAD_CLIENTES_2=30 and edad_clientes_pricing not in (29,30,31) then '' else EDAD_CLIENTES_2 end;

UPDATE #SURA_MOVILIDAD_RATING_FACTORS2 
SET candidato_extranjero_fixed = case when EDAD_CLIENTES_2=30 and edad_clientes_pricing not in (29,30,31) then 'Extranjero' else 'Chileno' end;


-----------------------------------------------
------          UPDATE SEXO            --------
-----------------------------------------------

ALTER TABLE #SURA_MOVILIDAD_RATING_FACTORS2
ADD SEXO_2 VARCHAR(7);

UPDATE #SURA_MOVILIDAD_RATING_FACTORS2
SET 
SEXO_2 = case 
	when RF_SEXO='M' then 'VARON'
	when RF_SEXO='F' then 'MUJER'
end

UPDATE #SURA_MOVILIDAD_RATING_FACTORS2
SET 
SEXO_2 = ''
where SEXO_2 is null


-- CORRECCION VARIABLE SEXO_2
drop table if exists #dim_personasMF

select
	rut,
	case 
		when tipo_rut = 'M' then 'VARON'
		when tipo_rut = 'F' then 'MUJER'
		else ''
	end as tipo_rut_sexo
into #dim_personasMF
from SGV1864.[AnalyticsAbastecimiento].dbo.dim_personas
where tipo_rut in ('M','F')

update #SURA_MOVILIDAD_RATING_FACTORS2
set
	SEXO_2 = b.tipo_rut_sexo
from #SURA_MOVILIDAD_RATING_FACTORS2 a
left join #dim_personasMF b on
	a.RUT_ASEGURADO = b.rut
where 
	b.rut is not null and
	a.SEXO_2 = ''

drop table if exists #dim_personasMF


-----------------------------------------------
------ UPDATE antig_cl_ase_rut_channel --------
-----------------------------------------------

drop table if exists #AUX_ANTIG_CL_ASE_1

SELECT RUT_ASEGURADO, CHANNEL, linea_negocio, MIN(FECHA_FIRMA_POLIZA) AS MIN_INI_VIG
INTO #AUX_ANTIG_CL_ASE_1
FROM #SURA_MOVILIDAD_RATING_FACTORS2
GROUP BY RUT_ASEGURADO, CHANNEL, linea_negocio

ALTER TABLE #SURA_MOVILIDAD_RATING_FACTORS2
ADD ANTIG_CL_ASE_RUT_CHANNEL_FIXED INTEGER

UPDATE #SURA_MOVILIDAD_RATING_FACTORS2
SET 
ANTIG_CL_ASE_RUT_CHANNEL_FIXED = FLOOR((DATEDIFF(DAY, B.MIN_INI_VIG, FECHA_FIRMA_POLIZA)+60)/365.25) 
FROM #SURA_MOVILIDAD_RATING_FACTORS2 A, #AUX_ANTIG_CL_ASE_1 B
WHERE A.RUT_ASEGURADO = B.RUT_ASEGURADO AND A.CHANNEL = B.CHANNEL and A.LINEA_NEGOCIO = B.LINEA_NEGOCIO

drop table if exists #AUX_ANTIG_CL_ASE_1


--SELECT DISTINCT ANTIG_CL_ASE_RUT_CHANNEL_FIXED FROM #SURA_MOVILIDAD_RATING_FACTORS2


--------------------------------------------------------------------------------------------------------------------------
------                                       VARIABLES MODELO 2024Q4                                              --------
--------------------------------------------------------------------------------------------------------------------------

--genero las variables 
EXEC ALMACEN_DE_DATOS.DBO.[SP_NEW_MODEL_2024_VARIABLES_NUEVAS]

--las adjunto a la base principal

--select * from almacen_de_datos.dbo.New_variables_modelo_personal_2024

DROP TABLE IF EXISTS #SURA_MOVILIDAD_RATING_FACTORS3
SELECT 
	A.*,
	B.ANTVEH_calc,
	B.CHANNEL_TO_EMB_2024,
	B.EDAD_ASE,
	B.RF_TOP100_2024,
	B.Tasacion_agrupado,
	B.Tipo_veh AS Tipo_veh_SII,
	B.COMBUSTIBLE,
	B.TRANSMISION,
	B.MARCA AS RF_MARCA
INTO #SURA_MOVILIDAD_RATING_FACTORS3
FROM #SURA_MOVILIDAD_RATING_FACTORS2 A
	LEFT JOIN almacen_de_datos.dbo.New_variables_modelo_personal_2024 B
--	INNER JOIN almacen_de_datos.dbo.New_variables_modelo_personal_2024 B   ---------------------------------------------> USAR LEFT JOIN AL FINAL
	ON	A.NNUMDOCU = B.NNUMDOCU
	AND A.NNUMITEM = B.NNUMITEM

drop table if exists #SURA_MOVILIDAD_RATING_FACTORS2

-- SELECT * FROM #SURA_MOVILIDAD_RATING_FACTORS3

ALTER TABLE #SURA_MOVILIDAD_RATING_FACTORS3 ADD TIPPLAN VARCHAR(20)  ;
ALTER TABLE #SURA_MOVILIDAD_RATING_FACTORS3 ALTER COLUMN ANTVEH_calc VARCHAR(20);
ALTER TABLE #SURA_MOVILIDAD_RATING_FACTORS3 ALTER COLUMN ANTIG_CL_ASE_RUT_CHANNEL_FIXED VARCHAR(20);
ALTER TABLE #SURA_MOVILIDAD_RATING_FACTORS3 ALTER COLUMN EDAD_ASE VARCHAR(20);
ALTER TABLE #SURA_MOVILIDAD_RATING_FACTORS3 ALTER COLUMN ind_poliza_telematica VARCHAR(20);

UPDATE  #SURA_MOVILIDAD_RATING_FACTORS3
SET
TIPO_VIGENCIA=
CASE 
WHEN DATEDIFF(DAY, INICIO_VIGENCIA, TERMINO_VIGENCIA) BETWEEN -15 AND 20		THEN 'MENOR A MENSUAL'
WHEN DATEDIFF(DAY, INICIO_VIGENCIA, TERMINO_VIGENCIA) BETWEEN  21 AND 45		THEN 'MENSUAL'
WHEN DATEDIFF(DAY, INICIO_VIGENCIA, TERMINO_VIGENCIA) BETWEEN  46 AND 105		THEN 'TRIMESTRAL'
WHEN DATEDIFF(DAY, INICIO_VIGENCIA, TERMINO_VIGENCIA) BETWEEN 106 AND 210		THEN 'SEMESTRAL'
WHEN DATEDIFF(DAY, INICIO_VIGENCIA, TERMINO_VIGENCIA) BETWEEN 211 AND 385		THEN 'ANUAL'
WHEN DATEDIFF(DAY, INICIO_VIGENCIA, TERMINO_VIGENCIA) BETWEEN 386 AND 750		THEN 'BIANUAL'
WHEN DATEDIFF(DAY, INICIO_VIGENCIA, TERMINO_VIGENCIA) BETWEEN 751 AND 1000000	THEN 'MAYOR A BIANUAL'
ELSE 'SIN VIGENCIA'
end


-- agrupaciones y fix de detalles
UPDATE #SURA_MOVILIDAD_RATING_FACTORS3
SET 
ANTVEH_calc = case	when Antveh_calc >= 16 and Antveh_calc <= 45 then '16 o mas' 
					when (Antveh_calc <= -3 or Antveh_calc >= 46) or Antveh_calc is null then 'UNKNOWN'
					else Antveh_calc end

,ANTIG_CL_ASE_RUT_CHANNEL_FIXED = case	when ANTIG_CL_ASE_RUT_CHANNEL_FIXED is NULL then 'UNKNOWN'
										else ANTIG_CL_ASE_RUT_CHANNEL_FIXED end

,candidato_extranjero_fixed = case when candidato_extranjero_fixed is NULL then 'UNKNOWN'
								else candidato_extranjero_fixed end

,CHANNEL_TO_EMB_2024 = case	when CHANNEL_TO_EMB_2024 = 'NO IDENTIFICADO' or CHANNEL_TO_EMB_2024 = '' or CHANNEL_TO_EMB_2024 is null then 'UNKNOWN'
								else CHANNEL_TO_EMB_2024 end

,Combustible = case when Combustible like '%Hibrid%' or Combustible like '%Hybrid%' then 'Hibrido'
					else Combustible end

,COMUNA_ASE = case	when COMUNA_ASE is null then 'UNKNOWN'
					else COMUNA_ASE end

,EDAD_ASE = case	when EDAD_ASE < 18 or EDAD_ASE > 100 or EDAD_ASE is null then 'UNKNOWN' 
					when (EDAD_ASE >= 90 and EDAD_ASE <= 100) then '90 o mas'
					else EDAD_ASE end

,GSE = case	when GSE = 'SIN CLASIFICAR' or GSE = '' or GSE is null then 'UNKNOWN'
			else GSE end

,ind_poliza_telematica = case when ind_poliza_telematica is NULL then 'UNKNOWN'
							else ind_poliza_telematica end

--,NANFAVEH = case	when NANFAVEH >= 1970 and NANFAVEH <= 2000 then '2000 o mas antiguo'
--					when (NANFAVEH < 1970 and NANFAVEH >= 2027) or NANFAVEH is null then 'UNKNOWN'
--					else NANFAVEH end

,REGION_ASE = case	when REGION_ASE = 'IGNORADA' or REGION_ASE = '' or REGION_ASE is null then 'UNKNOWN'
					else REGION_ASE end

--,RF_ANTVEH = case	when RF_ANTVEH >= 16 and RF_ANTVEH <= 45 then '16 o mas' 
--					when RF_ANTVEH = 'UNKNOWN' or RF_ANTVEH = '' or RF_ANTVEH is null then 'UNKNOWN'
--					else RF_ANTVEH end

,RF_DEDUCIBLE = case	when RF_DEDUCIBLE = '1.5' or RF_DEDUCIBLE = 'N/I' or RF_DEDUCIBLE = '' or RF_DEDUCIBLE is null then 'UNKNOWN'
						else RF_DEDUCIBLE end

,RF_SINI_TOT_0_36 = case	when RF_SINI_TOT_0_36 in ('5', '6', '7', '8', '9') then '5 o mas'
							when RF_SINI_TOT_0_36 is null then 'UNKNOWN'
							else RF_SINI_TOT_0_36 end

,SEXO_2 = case when SEXO_2 is NULL or SEXO_2  = '' then 'UNKNOWN'
				else SEXO_2 end

,TALLER = case when TALLER is null then 'UNKNOWN'
				else TALLER end

,Tipo_veh_SII = case	when Tipo_veh_SII in ('Cabriolet', 'Comercial', 'Motor Home', 'Motos') then 'Otros'
						when Tipo_veh_SII is null then 'UNKNOWN'
						else Tipo_veh_SII end

,TIPO_VEHICULO = case	when (TIPO_VEHICULO not in ('AUTOMOVIL', 'STATION WAGON', 'CAMIONETA', 'SUV', 'JEEP', 'FURGON', 'VAN') or TIPO_VEHICULO not in ('NO INFORMADO', 'SEGUN DETALLE')) and TIPO_VEHICULO is not null  then 'OTROS'
						when TIPO_VEHICULO in ('NO INFORMADO', 'SEGUN DETALLE') or TIPO_VEHICULO is null then 'UNKNOWN'
						else TIPO_VEHICULO end

,TIPO_VIGENCIA = case	when TIPO_VIGENCIA in ('ANUAL', 'SEMESTRAL') then 'ANUAL'
						when TIPO_VIGENCIA in ('MENOR A MENSUAL', 'MENSUAL', 'TRIMESTRAL') then 'MENSUAL'
						when TIPO_VIGENCIA in ('BIANUAL', 'MAYOR A BIANUAL', 'MAYOR A BIENAL') then 'BIENAL'
						else TIPO_VIGENCIA end

,TIPPLAN = case when TIPO_PLAN in ('PT', 'RC', 'RCE', 'RCI', 'RCI+ROBO', 'ROBO + AP', 'P_PROV') then 'OTROS'
				when TIPO_PLAN is null or TIPO_PLAN = 'NO INDENT' then 'UNKNOWN'
				else TIPO_PLAN end

,Transmision = case when Transmision like '%Autom%'	then 'Automatica'
					else Transmision end


-- select top 1 marca, rf_marca from #SURA_MOVILIDAD_RATING_FACTORS3 where marca = 'DUALTRON'

UPDATE #SURA_MOVILIDAD_RATING_FACTORS3
SET 
RF_MARCA = coalesce(LTRIM(RTRIM(B.column1)),'NO INFORMADO')
FROM #SURA_MOVILIDAD_RATING_FACTORS3 A
LEFT JOIN [Almacen_de_Datos].[dbo].[marca_nm2024] B
ON LTRIM(RTRIM(A.RF_MARCA)) = LTRIM(RTRIM(B.column1))


-------------------------------------------------------------------------------------------------------
----------------------    INCORPORO MARCA DE CANALES DE CARLOS VICENZIO            --------------------
-------------------------------------------------------------------------------------------------------


alter table #SURA_MOVILIDAD_RATING_FACTORS3
add CANAL_PYG nvarchar(50) null
 
alter table #SURA_MOVILIDAD_RATING_FACTORS3
add PARTNER_PYG nvarchar(50) null


--CORRECCION DE CANAL_PYG Y PARTNER_PYG
update #SURA_MOVILIDAD_RATING_FACTORS3
set
	CANAL_PYG = B.CANAL_PYG,
	PARTNER_PYG = B.PARTNER_PYG
from #SURA_MOVILIDAD_RATING_FACTORS3 A
left join reportes.dbo.SURA_MOVILIDAD_TRANSACCIONAL B ON
	A.NNUMDOCU = B.NNUMDOCU
AND	A.NNUMITEM = B.NNUMITEM
AND	A.NNUMCERT = B.NNUMCERT
AND A.PRORROGA = B.PRORROGA


-- CORRECCION TIPO_PLAN

update #SURA_MOVILIDAD_RATING_FACTORS3
set
	TIPO_PLAN = 'FULL' ,
	RF_TIPO_PLAN = 'FULL'
where 
	PLAN_TECNICO like '%MARCA%'
	and TIPO_PLAN = 'RCA'
	and PLAN_TECNICO not like 'RCA%'

	
update #SURA_MOVILIDAD_RATING_FACTORS3
set
	TIPO_PLAN = 'FULL' ,
	RF_TIPO_PLAN = 'FULL'
where 
	PLAN_TECNICO like '%MARCA%'
	and RF_TIPO_PLAN = 'RCA'
	and PLAN_TECNICO not like 'RCA%'


-- RESPALDO
DROP TABLE ALMACEN_DE_DATOS.DBO.SURA_MOVILIDAD_RATING_FACTORS
SELECT * INTO ALMACEN_DE_DATOS.DBO.SURA_MOVILIDAD_RATING_FACTORS FROM #SURA_MOVILIDAD_RATING_FACTORS3

DROP TABLE IF EXISTS #SURA_MOVILIDAD_RATING_FACTORS3


--+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
SET @TERMINO= GETDATE()
SET @PASOS= GETDATE()
--+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

WAITFOR DELAY '00:00:02'

--+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
SET @TERMINO= GETDATE()
SET @PASOS= GETDATE()
--+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

END TRY
BEGIN CATCH
INSERT INTO CANAL_ASESOR.DBO.MOVILIDAD_CONTROL_ERROR
  SELECT 
    ERROR_NUMBER()		AS NUMERO_ERROR,
    ERROR_STATE()		AS ESTADO_ERROR,
    ERROR_SEVERITY()	AS SEVERIDAD_ERROR,
    ERROR_PROCEDURE()	AS NOMBRE_PROCEDIMIENTO,
    ERROR_LINE()		AS LINEA_ERROR,
    ERROR_MESSAGE()		AS MENBSAGE_ERROR,
	GETDATE()			AS TIMESTAMP,
	CURRENT_USER		AS USUARIO_EJECUTA
	;
END CATCH;



-- COMENTARIOS: POR UN TIEMPO SE CORRERÁ DE MANERA PARALELA AL PROCESO CON EL MODELO VIEJO. 
--				UNA VEZ QUE SE DECIDA EJECUTAR SOLO ESTE, SE LE DEBE QUITAR AL "_NM24" A LA TABLE FINAL