USE [Almacen_de_Datos]
GO

ALTER  PROCEDURE [dbo].[06_SP_SURA_MOVILIDAD_PR_Y_PT]

AS
BEGIN TRY
DECLARE @TERMINO DATETIME
DECLARE @INICIO DATETIME
DECLARE @PASOS DATETIME
SET @INICIO=GETDATE()
SET @PASOS=@INICIO
--+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
SET @TERMINO= GETDATE()
INSERT INTO CANAL_ASESOR.DBO.MOVILIDAD_CONTROL_DE_EJECUCION VALUES ('06_SP_SURA_MOVILIDAD_PR_Y_PT','INICIO',@TERMINO,DATEDIFF(MINUTE,@PASOS,@TERMINO)/60,DATEDIFF(MINUTE,@PASOS,@TERMINO)%60)
SET @PASOS= GETDATE()
--+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++




----------///////////////////////////    PERSONAL  ///////////////////////////////////////



--+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
		--						MODELO NUEVO 2024Q4
--+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++


------------------------------------------------------------------------------------------------------------------------------------
------------------------------------------------- TABLAS TEMPORALES POR VARIABLE ---------------------------------------------------
------------------------------------------------------------------------------------------------------------------------------------
-- SELECT * from reportes.dbo.Modelo_Riesgo_MP_2024_Final_floats

Drop table IF EXISTS #AUX_BASE
SELECT * into #AUX_BASE from reportes.dbo.Modelo_Riesgo_MP_2024_Final_floats a where a.VARIABLE = 'BASE' and A.TIPO_MODELO = 'ORIGINAL'
-- SELECT * from #AUX_BASE

Drop table IF EXISTS #AUX_antig_cl_ase_rut_channel
SELECT * into #AUX_antig_cl_ase_rut_channel from reportes.dbo.Modelo_Riesgo_MP_2024_Final_floats a where a.VARIABLE = 'ANTIG_CL_ASE_RUT_CHANNEL_FIXED' and A.TIPO_MODELO = 'ORIGINAL'
-- SELECT * from #AUX_antig_cl_ase_rut_channel 

Drop table IF EXISTS #AUX_ANTVEH_calc
SELECT * into #AUX_ANTVEH_calc from reportes.dbo.Modelo_Riesgo_MP_2024_Final_floats a where a.VARIABLE = 'ANTVEH_calc' and A.TIPO_MODELO = 'ORIGINAL'
-- SELECT * from #AUX_ANTVEH_calc 

Drop table IF EXISTS #AUX_channel_to_emb_2024
SELECT * into #AUX_channel_to_emb_2024 from reportes.dbo.Modelo_Riesgo_MP_2024_Final_floats a where a.VARIABLE = 'CHANNEL_TO_EMB_2024' and A.TIPO_MODELO = 'ORIGINAL'
-- SELECT * from #AUX_channel_to_emb_2024

Drop table IF EXISTS #AUX_comuna_ase
SELECT * into #AUX_comuna_ase from reportes.dbo.Modelo_Riesgo_MP_2024_Final_floats a where a.VARIABLE = 'COMUNA_ASE' and A.TIPO_MODELO = 'ORIGINAL'
-- SELECT * from #AUX_comuna_ase

--Drop table IF EXISTS #AUX_cilindrada
--SELECT * into #AUX_cilindrada from reportes.dbo.Modelo_Riesgo_MP_2024_Final_floats a where a.VARIABLE = 'Cilindrada_agrupado' and A.TIPO_MODELO = 'ORIGINAL'
---- SELECT * from #AUX_comuna_ase

Drop table IF EXISTS #AUX_EDAD_ASE
SELECT * into #AUX_EDAD_ASE from reportes.dbo.Modelo_Riesgo_MP_2024_Final_floats a where a.VARIABLE = 'EDAD_ASE' and A.TIPO_MODELO = 'ORIGINAL'
-- SELECT * from #AUX_EDAD_ASE

Drop table IF EXISTS #AUX_GSE
SELECT * into #AUX_GSE from reportes.dbo.Modelo_Riesgo_MP_2024_Final_floats a where a.VARIABLE = 'GSE' and A.TIPO_MODELO = 'ORIGINAL'
-- SELECT * from #AUX_GSE

Drop table IF EXISTS #AUX_deducible
SELECT * into #AUX_deducible from reportes.dbo.Modelo_Riesgo_MP_2024_Final_floats a where a.VARIABLE = 'RF_deducible' and A.TIPO_MODELO = 'ORIGINAL'
-- SELECT * from #AUX_deducible

Drop table IF EXISTS #AUX_sini_tot_0_36
SELECT * into #AUX_sini_tot_0_36 from reportes.dbo.Modelo_Riesgo_MP_2024_Final_floats a where a.VARIABLE = 'RF_SINI_TOT_0_36' and A.TIPO_MODELO = 'ORIGINAL'
-- SELECT * from #AUX_sini_tot_0_36

Drop table IF EXISTS #AUX_rf_top100_2024
SELECT * into #AUX_rf_top100_2024 from reportes.dbo.Modelo_Riesgo_MP_2024_Final_floats a where a.VARIABLE = 'rf_top100_2024' and A.TIPO_MODELO = 'ORIGINAL'
-- SELECT * from #AUX_rf_top100_2024

Drop table IF EXISTS #AUX_Sexo
SELECT * into #AUX_Sexo from reportes.dbo.Modelo_Riesgo_MP_2024_Final_floats a where a.VARIABLE = 'Sexo_2' and A.TIPO_MODELO = 'ORIGINAL'
-- SELECT * from #AUX_Sexo

Drop table IF EXISTS #AUX_taller
SELECT * into #AUX_taller from reportes.dbo.Modelo_Riesgo_MP_2024_Final_floats a where a.VARIABLE = 'taller' and A.TIPO_MODELO = 'ORIGINAL'
-- SELECT * from #AUX_taller

Drop table IF EXISTS #AUX_Tasacion
SELECT * into #AUX_Tasacion from reportes.dbo.Modelo_Riesgo_MP_2024_Final_floats a where a.VARIABLE = 'Tasacion_agrupado' and A.TIPO_MODELO = 'ORIGINAL'
-- SELECT * from #AUX_Tasacion

Drop table IF EXISTS #AUX_TIPPLAN
SELECT * into #AUX_TIPPLAN from reportes.dbo.Modelo_Riesgo_MP_2024_Final_floats a where a.VARIABLE = 'TIPPLAN' and A.TIPO_MODELO = 'ORIGINAL'
-- SELECT * from #AUX_TIPPLAN

Drop table IF EXISTS #AUX_TIPO_VIGENCIA
SELECT * into #AUX_TIPO_VIGENCIA from reportes.dbo.Modelo_Riesgo_MP_2024_Final_floats a where a.VARIABLE = 'TIPO_VIGENCIA' and A.TIPO_MODELO = 'ORIGINAL'
-- SELECT * from #AUX_TIPO_VIGENCIA

Drop table IF EXISTS #AUX_Tipo_veh
SELECT * into #AUX_Tipo_veh from reportes.dbo.Modelo_Riesgo_MP_2024_Final_floats a where a.VARIABLE = 'Tipo_veh' and A.TIPO_MODELO = 'ORIGINAL'
-- SELECT * from #AUX_Tipo_veh

Drop table IF EXISTS #AUX_candidato_extranjero
SELECT * into #AUX_candidato_extranjero from reportes.dbo.Modelo_Riesgo_MP_2024_Final_floats a where a.VARIABLE = 'candidato_extranjero_fixed' and A.TIPO_MODELO = 'ORIGINAL'
-- SELECT * from #AUX_candidato_extranjero

Drop table IF EXISTS #AUX_ind_poliza_telematica
SELECT * into #AUX_ind_poliza_telematica from reportes.dbo.Modelo_Riesgo_MP_2024_Final_floats a where a.VARIABLE = 'ind_poliza_telematica' and A.TIPO_MODELO = 'ORIGINAL'
-- SELECT * from #AUX_ind_poliza_telematica

--+++++++ Interacciones +++++++--
Drop table IF EXISTS #AUX_INTER_EDAD_X_SEXO
SELECT * into #AUX_INTER_EDAD_X_SEXO from reportes.dbo.Modelo_Riesgo_MP_2024_Final_floats a where a.VARIABLE = 'INTER_EDAD_X_SEXO' and A.TIPO_MODELO = 'ORIGINAL'
-- SELECT * from #AUX_INTER_EDAD_X_SEXO

Drop table IF EXISTS #AUX_INTER_REGION_X_MARCA
SELECT * into #AUX_INTER_REGION_X_MARCA from reportes.dbo.Modelo_Riesgo_MP_2024_Final_floats a where a.VARIABLE = 'INTER_REGION_X_MARCA' and A.TIPO_MODELO = 'ORIGINAL'
-- SELECT * from #AUX_INTER_REGION_X_MARCA

Drop table IF EXISTS #AUX_INTER_EDAD_X_TIPO_VEH
SELECT * into #AUX_INTER_EDAD_X_TIPO_VEH from reportes.dbo.Modelo_Riesgo_MP_2024_Final_floats a where a.VARIABLE = 'INTER_EDAD_X_TIPO_VEH' and A.TIPO_MODELO = 'ORIGINAL'
-- SELECT * from #AUX_INTER_EDAD_X_SEXO

Drop table IF EXISTS #AUX_INTER_TASACION_X_ANTVEH
SELECT * into #AUX_INTER_TASACION_X_ANTVEH from reportes.dbo.Modelo_Riesgo_MP_2024_Final_floats a where a.VARIABLE = 'INTER_TASACION_X_ANTVEH' and A.TIPO_MODELO = 'ORIGINAL'
-- SELECT * from #AUX_INTER_EDAD_X_SEXO

Drop table IF EXISTS #AUX_INTER_SEXO_X_TIPO_VEH
SELECT * into #AUX_INTER_SEXO_X_TIPO_VEH from reportes.dbo.Modelo_Riesgo_MP_2024_Final_floats a where a.VARIABLE = 'INTER_SEXO_X_TIPO_VEH' and A.TIPO_MODELO = 'ORIGINAL'
-- SELECT * from #AUX_INTER_EDAD_X_SEXO

Drop table IF EXISTS #AUX_INTER_TIPO_VEH_X_GSE
SELECT * into #AUX_INTER_TIPO_VEH_X_GSE from reportes.dbo.Modelo_Riesgo_MP_2024_Final_floats a where a.VARIABLE = 'INTER_TIPO_VEH_X_GSE' and A.TIPO_MODELO = 'ORIGINAL'
-- SELECT * from #AUX_INTER_EDAD_X_SEXO

Drop table IF EXISTS #AUX_INTER_MARCA_X_ANTVEH
SELECT * into #AUX_INTER_MARCA_X_ANTVEH from reportes.dbo.Modelo_Riesgo_MP_2024_Final_floats a where a.VARIABLE = 'INTER_MARCA_X_ANTVEH' and A.TIPO_MODELO = 'ORIGINAL'
-- SELECT * from #AUX_INTER_EDAD_X_SEXO

--+++++++ Variable Temporal +++++++--
Drop table IF EXISTS #AUX_Period
SELECT * into #AUX_Period from reportes.dbo.Modelo_Riesgo_MP_2024_Final_floats a where a.VARIABLE = 'PER_ANIOTRIM' and A.TIPO_MODELO = 'ORIGINAL'
-- SELECT * from #AUX_Period


--+++++++ Calibraciones +++++++--
Drop table IF EXISTS #AUX_Calib_Salida_Akur8
SELECT * into #AUX_Calib_Salida_Akur8 from reportes.dbo.Modelo_Riesgo_MP_2024_Final_floats a where a.VARIABLE = 'BASE' and A.TIPO_MODELO = 'Calibracion' and A.NOMBRE_MODELO = 'Calib_Salida_Akur8'
-- SELECT * from #AUX_Calib_Salida_Akur8

Drop table IF EXISTS #AUX_Calib_2024Q4
SELECT * into #AUX_Calib_2024Q4 from reportes.dbo.Modelo_Riesgo_MP_2024_Final_floats a where a.VARIABLE = 'CANAL_PYG' and A.TIPO_MODELO = 'Calibracion' and A.NOMBRE_MODELO like '%Calib_2025Q2%'
-- SELECT * from #AUX_Calib_2024Q4

Drop table IF EXISTS #AUX_Calib_TPLAN_2024Q4
SELECT * into #AUX_Calib_TPLAN_2024Q4 from reportes.dbo.Modelo_Riesgo_MP_2024_Final_floats a where a.VARIABLE = 'TIPPLAN_X_CANAL_PYG' and A.TIPO_MODELO = 'Calibracion' and A.NOMBRE_MODELO like '%Calib_2025Q2%'
-- SELECT * from #AUX_Calib_TPLAN_2024Q4

-- SELECT * from reportes.dbo.Modelo_Riesgo_MP_2024_Final_floats WHERE TIPO_MODELO = 'Calibracion' AND NOMBRE_MODELO like '%Calib_2025Q2%'

----------------------------------------------------------------
--                 GENERAR EL SCORING
----------------------------------------------------------------


DROP TABLE IF EXISTS #RATING_FACTORS_PERSONAL

SELECT CALCULO.*,

(FREC_DP			  *      SEV_DP)              *      TIPO_CAMBIO	AS PR_DP,
 FREC_DP              *      SEV_DP										AS PR_DP_UF,
(FREC_PT			  *      SEV_PT)              *      TIPO_CAMBIO	AS PR_PT,
 FREC_PT              *      SEV_PT										AS PR_PT_UF,
(FREC_RC			  *      SEV_RC)              *      TIPO_CAMBIO	AS PR_RC,
 FREC_RC              *      SEV_RC										AS PR_RC_UF,
(FREC_ROBO			  *      SEV_ROBO)			  *      TIPO_CAMBIO	AS PR_ROBO,
 FREC_ROBO			  *      SEV_ROBO									AS PR_ROBO_UF


INTO #RATING_FACTORS_PERSONAL

FROM (SELECT 
RF.LLAVE_1,
RF.LLAVE_2,
RF.NNUMDOCU,
RF.NNUMITEM,
RF.NNUMCERT,
RF.PRORROGA,
RF.NNUMENDO,
RF.ULTIMO_ENDOSO,
RF.CODIGO_RAMO,
RF.RAMO,
RF.RUT_EJECUTIVO,
RF.EJECUTIVO,
RF.RUT_EJECUTIVO_NUEVO,
RF.EJECUTIVO_NUEVO,
RF.RUT_INTERMEDIARIO,
RF.INTERMEDIARIO,
RF.RUT_PROPONENTE,
RF.RUT_ASEGURADO,
RF.RENOVACION_GOL,
RF.IND_CANCELACION_GOL,
RF.IND_CANCELACION_CALCULADA,
RF.IND_ANULACION_CALCULADA,
RF.IND_REHABILITACION_CALCULADA,
RF.IND_RENOVACION_GOL,
RF.IND_RENOVACION_LLAVE_1,
RF.CICLO_RENOVACION_LLAVE_1,
RF.ULTIMO_CICLO_RENOVACION_LLAVE_1,
RF.IND_RENOVACION_LLAVE_2,
RF.CICLO_RENOVACION_LLAVE_2,
RF.ULTIMO_CICLO_RENOVACION_LLAVE_2,
RF.ULTIMO_CICLO_SUB_RENOVACION,
RF.FILTRO_RIESGO,
RF.CODIGO_RAMO_KEIRA_PRINCIPAL,
RF.RAMO_KEIRA_PRINCIPAL,
RF.PRIMA_PESO,
RF.PRIMA_UF,
RF.COMISION_PESO,
RF.COMISION_UF,
RF.MONTO_ASEGURADO_PESO,
RF.MONTO_ASEGURADO_UF,
RF.MONTO_ASEGURADO_ALL_PESO,
RF.MONTO_ASEGURADO_ALL_UF,
RF.MONEDA_ORIGINAL,
RF.CODIGO_PLAN_COMERCIAL,
RF.PLAN_COMERCIAL,
RF.CODIGO_PLAN_TECNICO,
RF.PLAN_TECNICO,
RF.TIPO_PLAN,
RF.IND_POLIZA_MENSUAL,
RF.IND_POLIZA_UBER,
RF.IND_POLIZA_TELEMATICA,
RF.PROVEDOR_TELMATICO,
RF.KM_RECORRIDO_FACTURADO,
RF.IMEI,
RF.FECHA_ESTADO_CURIER,
RF.ESTADO_COURIER,
RF.FECHA_INSTALACION_DISPOSITIVO,
RF.ESTADO_INTALACION,
RF.DESCRIPCION_POLIZA_TELEMATICA,
RF.TALLER,
RF.IND_PLAN_TECNICO_WEB,
RF.TIPO_INSPECCION,
RF.ESTADO_INSPECCION,
RF.CALIDAD_DE_RIESGO,
RF.ORIGEN_INSPECCION,
RF.CODIGO_COB_ASISTENCIA,
RF.ASISTENCIA,
RF.COMBO_ASITENCIA,
RF.PROVEEDOR_ASITENCIA,
RF.DEDUCIBLE,
RF.LINEA_NEGOCIO,
RF.LINEA_PRODUCTO,
RF.CODIGO_TIPO_NEGOCIO,
RF.TIPO_NEGOCIO,
RF.CANAL_NUEVO,
RF.BUSINESS_UNIT,
RF.CHANNEL,
RF.CANAL_GOL,
RF.SUBGERENCIA_GOL,
RF.SUBCATEGORIA_CANAL,
RF.CODIGO_MARCA,
RF.CODIGO_MODELO,
RF.MARCA,
RF.RF_MARCA,
RF.MODELO,
RF.AÑO,
RF.PATENTE,
RF.CHASIS,
RF.MOTOR,
RF.TIPO_VEHICULO,
RF.USO,
RF.TIPO_ITEM,
RF.FECHA_FIRMA_POLIZA,
RF.FECHA_FIRMA_ULTIMO_ENDOSO,
RF.INICIO_VIGENCIA,
RF.TERMINO_VIGENCIA,
RF.TERMINO_VIGENCIA_REAL,
RF.FECHA_CANCELACION,
RF.MEDIO_PAGO,
RF.SUCURSAL_GOL,
RF.SUCURSAL_CA,
RF.COMUNA_ASE,
RF.PROVINCIA_ASE,
RF.REGION_ASE,
RF.MACRO_ZONAS_ASE,
RF.ZONAS_GEOGRAFICAS_ASE,
RF.REGIONES_URBES_ASE,
RF.ZONA_ASE,
RF.TIPO_PLAN_LLAVE,
RF.CANAL_FINAL,
RF.PARTNER_FINAL,
RF.VIGENTE,
RF.USUARIO_FIRMA,
RF.VIGENCIA_TEORICA,
RF.VIGENCIA_CONTABLE,
RF.VIGENCIA_EXP_AÑO,
RF.EXP_AÑO,
RF.FLOTA,
RF.ESTADO_POR_ROBO,
RF.SEGMENTO_VEHICULO,
RF.SEGMENTACION,
RF.GSE,
RF.RENTA,
RF.SEGMENTACION_OFICIAL,
RF.AGRUPACION_FLOTA,
RF.GRUPO_CHANNEL,
RF.PRODUCTOS_NUEVOS,
RF.PLAN_TECNICO_2,
RF.MARCA_MODELO,
RF.TOP_100,
RF.ZONA_SUCURSAL,
RF.NUEVA_RENOVADA,
RF.EXTRANJERO,
RF.PERFIL_UBER,
RF.VIGENCIA,
RF.CON_EMISIONES,
RF.CALIDAD_CLIENTE,
RF.GAMA_VEHICULO,
RF.TAMAÑO,
RF.INCLUSION,
RF.TIPO,
RF.VEH_ROBADO_AÑO,
RF.VEH_ROBADO_ZONA,
RF.VEH_ROBADO_MARCAMODELO,
RF.LISTADO_VEH_ROBADOS,
RF.MARCA_ROBADO,
RF.FECHA_INICIO_EMPRESA,
RF.RUBRO_ECONOMICO,
RF.SUBRUBRO_ECONOMICO,
RF.ACTIVIDAD_ECONOMICA,
RF.ANT_EMPRESA,
RF.ACTIVIDAD_GRUPO,
RF.VALUE_AGE,
RF.RF_FECHA_NACIMIENTO,
RF.RF_SEXO,
RF.RF_F_CI,
RF.RF_EDAD,
RF.RF_ANTIG_CL_RUT_CHANNEL,
RF.RF_COMUNA,
RF.RF_CHANNEL_TO_EMB,
RF.RF_DEDUCIBLE,
RF.RF_ANTVEH,
RF.RF_TOP100_2019,
RF.RF_TIPO_VEHICULO,
RF.RF_NEW_SA,
RF.RF_SINI_G1G2_0_36,
RF.RF_SINI_TOT_0_36,
RF.RF_SINI_RC_0_36,
RF.RF_TIPO_PLAN,
RF.RF_TIPO_X_KM,
RF.RF_EDAD_NOW,
RF.RF_ANTVEH_NOW,
RF.RF_SINI_G1G2_0_36_NOW,
RF.RF_SINI_TOT_0_36_NOW,
RF.RF_SINI_RC_0_36_NOW,
RF.RF_TAMAÑO,
RF.RF_ACTIVIDAD,
RF.ANTIG_CL_ASE_RUT_CHANNEL_FIXED,
RF.candidato_extranjero_fixed,
RF.SEXO_2,
RF.EDAD_CLIENTES_2,
RF.CANAL_PYG,
RF.PARTNER_PYG,
RF.TIPO_VIGENCIA,
RF.TIPO_CAMBIO,
RF.MODELO_RATING_FACTOR,

RF.ANTVEH_calc,	
RF.CHANNEL_TO_EMB_2024,
RF.EDAD_ASE,	
RF.RF_TOP100_2024,	
RF.Tasacion_agrupado,	
RF.Tipo_veh_SII,	
RF.COMBUSTIBLE,	
RF.TRANSMISION,	
RF.TIPPLAN

/*
-----------    FRECUENCIA  ---------------------
,Z.FREC_DP AS FREC_DP_BASE
,b.FREC_DP AS FREC_DP_ANTIG_CL
,c.FREC_DP AS FREC_DP_ANTVEH
,d.FREC_DP AS FREC_DP_CHANNEL_EMB
,e.FREC_DP AS FREC_DP_COMUNA_ASE
--,f.FREC_DP AS FREC_DP_CILINDRADA 
,g.FREC_DP AS FREC_DP_EDAD_ASE
,h.FREC_DP AS FREC_DP_GSE
,i.FREC_DP AS FREC_DP_DEDUCIBLE
,j.FREC_DP AS FREC_DP_SINI_0_36
,k.FREC_DP AS FREC_DP_RF_TOP100
,l.FREC_DP AS FREC_DP_SEXO
,m.FREC_DP AS FREC_DP_TALLER
,n.FREC_DP AS FREC_DP_TASACION
,o.FREC_DP AS FREC_DP_TIPPLAN
,p.FREC_DP AS FREC_DP_TIPO_VIG
,q.FREC_DP AS FREC_DP_TIPO_VEH
,r.FREC_DP AS FREC_DP_CAND_EXT
,s.FREC_DP AS FREC_DP_POL_TELEMAT
--,t.FREC_DP AS FREC_DP_Period
,x.FREC_DP AS FREC_DP_Calib_Salida_Akur8
,y.FREC_DP AS FREC_DP_Calib_2024Q4
,int1.FREC_DP AS FREC_DP_INTER_EDAD_X_SEXO
,int2.FREC_DP AS FREC_DP_INTER_REGION_X_MARCA
,int3.FREC_DP AS FREC_DP_INTER_EDAD_X_TIPO_VEH
,int4.FREC_DP AS FREC_DP_INTER_TASACION_X_ANTVEH
,int5.FREC_DP AS FREC_DP_INTER_SEXO_X_TIPO_VEH
,int6.FREC_DP AS FREC_DP_INTER_TIPO_VEH_X_GSE
,int7.FREC_DP AS FREC_DP_INTER_MARCA_X_ANTVEH

,Z.FREC_PT AS FREC_PT_BASE
,b.FREC_PT AS FREC_PT_ANTIG_CL
,c.FREC_PT AS FREC_PT_ANTVEH
,d.FREC_PT AS FREC_PT_CHANNEL_EMB
,e.FREC_PT AS FREC_PT_COMUNA_ASE
--,f.FREC_PT AS FREC_PT_CILINDRADA 
,g.FREC_PT AS FREC_PT_EDAD_ASE
,h.FREC_PT AS FREC_PT_GSE
,i.FREC_PT AS FREC_PT_DEDUCIBLE
,j.FREC_PT AS FREC_PT_SINI_0_36
,k.FREC_PT AS FREC_PT_RF_TOP100
,l.FREC_PT AS FREC_PT_SEXO
,m.FREC_PT AS FREC_PT_TALLER
,n.FREC_PT AS FREC_PT_TASACION
,o.FREC_PT AS FREC_PT_TIPPLAN
,p.FREC_PT AS FREC_PT_TIPO_VIG
,q.FREC_PT AS FREC_PT_TIPO_VEH
,r.FREC_PT AS FREC_PT_CAND_EXT
,s.FREC_PT AS FREC_PT_POL_TELEMAT
--,t.FREC_PT AS FREC_PT_Period
,x.FREC_PT AS FREC_PT_Calib_Salida_Akur8
,y.FREC_PT AS FREC_PT_Calib_2024Q4
,w.FREC_PT AS FREC_PT_Calib_TPLAN_2024Q4
,int1.FREC_PT AS FREC_PT_INTER_EDAD_X_SEXO
,int2.FREC_PT AS FREC_PT_INTER_REGION_X_MARCA
,int3.FREC_PT AS FREC_PT_INTER_EDAD_X_TIPO_VEH
,int4.FREC_PT AS FREC_PT_INTER_TASACION_X_ANTVEH
,int5.FREC_PT AS FREC_PT_INTER_SEXO_X_TIPO_VEH
,int6.FREC_PT AS FREC_PT_INTER_TIPO_VEH_X_GSE
,int7.FREC_PT AS FREC_PT_INTER_MARCA_X_ANTVEH

,Z.FREC_RC AS FREC_RC_BASE
,b.FREC_RC AS FREC_RC_ANTIG_CL
,c.FREC_RC AS FREC_RC_ANTVEH
,d.FREC_RC AS FREC_RC_CHANNEL_EMB
,e.FREC_RC AS FREC_RC_COMUNA_ASE
--,f.FREC_RC AS FREC_RC_CILINDRADA 
,g.FREC_RC AS FREC_RC_EDAD_ASE
,h.FREC_RC AS FREC_RC_GSE
,i.FREC_RC AS FREC_RC_DEDUCIBLE
,j.FREC_RC AS FREC_RC_SINI_0_36
,k.FREC_RC AS FREC_RC_RF_TOP100
,l.FREC_RC AS FREC_RC_SEXO
,m.FREC_RC AS FREC_RC_TALLER
,n.FREC_RC AS FREC_RC_TASACION
,o.FREC_RC AS FREC_RC_TIPPLAN
,p.FREC_RC AS FREC_RC_TIPO_VIG
,q.FREC_RC AS FREC_RC_TIPO_VEH
,r.FREC_RC AS FREC_RC_CAND_EXT
,s.FREC_RC AS FREC_RC_POL_TELEMAT
--,t.FREC_RC AS FREC_RC_Period
,x.FREC_RC AS FREC_RC_Calib_Salida_Akur8
,y.FREC_RC AS FREC_RC_Calib_2024Q4
,int1.FREC_RC AS FREC_RC_INTER_EDAD_X_SEXO
,int2.FREC_RC AS FREC_RC_INTER_REGION_X_MARCA
,int3.FREC_RC AS FREC_RC_INTER_EDAD_X_TIPO_VEH
,int4.FREC_RC AS FREC_RC_INTER_TASACION_X_ANTVEH
,int5.FREC_RC AS FREC_RC_INTER_SEXO_X_TIPO_VEH
,int6.FREC_RC AS FREC_RC_INTER_TIPO_VEH_X_GSE
,int7.FREC_RC AS FREC_RC_INTER_MARCA_X_ANTVEH

,Z.FREC_ROBO AS FREC_ROBO_BASE
,b.FREC_ROBO AS FREC_ROBO_ANTIG_CL
,c.FREC_ROBO AS FREC_ROBO_ANTVEH
,d.FREC_ROBO AS FREC_ROBO_CHANNEL_EMB
,e.FREC_ROBO AS FREC_ROBO_COMUNA_ASE
--,f.FREC_ROBO AS FREC_ROBO_CILINDRADA 
,g.FREC_ROBO AS FREC_ROBO_EDAD_ASE
,h.FREC_ROBO AS FREC_ROBO_GSE
,i.FREC_ROBO AS FREC_ROBO_DEDUCIBLE
,j.FREC_ROBO AS FREC_ROBO_SINI_0_36
,k.FREC_ROBO AS FREC_ROBO_RF_TOP100
,l.FREC_ROBO AS FREC_ROBO_SEXO
,m.FREC_ROBO AS FREC_ROBO_TALLER
,n.FREC_ROBO AS FREC_ROBO_TASACION
,o.FREC_ROBO AS FREC_ROBO_TIPPLAN
,p.FREC_ROBO AS FREC_ROBO_TIPO_VIG
,q.FREC_ROBO AS FREC_ROBO_TIPO_VEH
,r.FREC_ROBO AS FREC_ROBO_CAND_EXT
,s.FREC_ROBO AS FREC_ROBO_POL_TELEMAT
,w.FREC_ROBO AS FREC_ROBO_Calib_TPLAN_RIPLEY
,x.FREC_ROBO AS FREC_ROBO_Calib_Salida_Akur8
,y.FREC_ROBO AS FREC_ROBO_Calib_2024Q4
,int1.FREC_ROBO AS FREC_ROBO_INTER_EDAD_X_SEXO
,int2.FREC_ROBO AS FREC_ROBO_INTER_REGION_X_MARCA
,int3.FREC_ROBO AS FREC_ROBO_INTER_EDAD_X_TIPO_VEH
,int4.FREC_ROBO AS FREC_ROBO_INTER_TASACION_X_ANTVEH
,int5.FREC_ROBO AS FREC_ROBO_INTER_SEXO_X_TIPO_VEH
,int6.FREC_ROBO AS FREC_ROBO_INTER_TIPO_VEH_X_GSE
,int7.FREC_ROBO AS FREC_ROBO_INTER_MARCA_X_ANTVEH

-----------    SEVERIDAD   ---------------------
,Z.SEV_DP AS SEV_DP_BASE
,b.SEV_DP AS SEV_DP_ANTIG_CL
,c.SEV_DP AS SEV_DP_ANTVEH
,d.SEV_DP AS SEV_DP_CHANNEL_EMB
,e.SEV_DP AS SEV_DP_COMUNA_ASE
--,f.SEV_DP AS SEV_DP_CILINDRADA 
,g.SEV_DP AS SEV_DP_EDAD_ASE
,h.SEV_DP AS SEV_DP_GSE
,i.SEV_DP AS SEV_DP_DEDUCIBLE
,j.SEV_DP AS SEV_DP_SINI_0_36
,k.SEV_DP AS SEV_DP_RF_TOP100
,l.SEV_DP AS SEV_DP_SEXO
,m.SEV_DP AS SEV_DP_TALLER
,n.SEV_DP AS SEV_DP_TASACION
,o.SEV_DP AS SEV_DP_TIPPLAN
,p.SEV_DP AS SEV_DP_TIPO_VIG
,q.SEV_DP AS SEV_DP_TIPO_VEH
,r.SEV_DP AS SEV_DP_CAND_EXT
,s.SEV_DP AS SEV_DP_POL_TELEMAT
--,t.SEV_DP AS SEV_DP_Period
,x.SEV_DP AS SEV_DP_Calib_Salida_Akur8
,y.SEV_DP AS SEV_DP_Calib_2024Q4
,int1.SEV_DP AS SEV_DP_INTER_EDAD_X_SEXO
,int2.SEV_DP AS SEV_DP_INTER_REGION_X_MARCA
,int3.SEV_DP AS SEV_DP_INTER_EDAD_X_TIPO_VEH
,int4.SEV_DP AS SEV_DP_INTER_TASACION_X_ANTVEH
,int5.SEV_DP AS SEV_DP_INTER_SEXO_X_TIPO_VEH
,int6.SEV_DP AS SEV_DP_INTER_TIPO_VEH_X_GSE
,int7.SEV_DP AS SEV_DP_INTER_MARCA_X_ANTVEH

,Z.SEV_PT AS SEV_PT_BASE
,b.SEV_PT AS SEV_PT_ANTIG_CL
,c.SEV_PT AS SEV_PT_ANTVEH
,d.SEV_PT AS SEV_PT_CHANNEL_EMB
,e.SEV_PT AS SEV_PT_COMUNA_ASE
--,f.SEV_PT AS SEV_PT_CILINDRADA
,g.SEV_PT AS SEV_PT_EDAD_ASE
,h.SEV_PT AS SEV_PT_GSE
,i.SEV_PT AS SEV_PT_DEDUCIBLE
,j.SEV_PT AS SEV_PT_SINI_0_36
,k.SEV_PT AS SEV_PT_RF_TOP100
,l.SEV_PT AS SEV_PT_SEXO
,m.SEV_PT AS SEV_PT_TALLER
,n.SEV_PT AS SEV_PT_TASACION
,o.SEV_PT AS SEV_PT_TIPPLAN
,p.SEV_PT AS SEV_PT_TIPO_VIG
,q.SEV_PT AS SEV_PT_TIPO_VEH
,r.SEV_PT AS SEV_PT_CAND_EXT
,s.SEV_PT AS SEV_PT_POL_TELEMAT
--,t.SEV_PT AS SEV_PT_Period
,x.SEV_PT AS SEV_PT_Calib_Salida_Akur8
,y.SEV_PT AS SEV_PT_Calib_2024Q4
,int1.SEV_PT AS SEV_PT_INTER_EDAD_X_SEXO
,int2.SEV_PT AS SEV_PT_INTER_REGION_X_MARCA
,int3.SEV_PT AS SEV_PT_INTER_EDAD_X_TIPO_VEH
,int4.SEV_PT AS SEV_PT_INTER_TASACION_X_ANTVEH
,int5.SEV_PT AS SEV_PT_INTER_SEXO_X_TIPO_VEH
,int6.SEV_PT AS SEV_PT_INTER_TIPO_VEH_X_GSE
,int7.SEV_PT AS SEV_PT_INTER_MARCA_X_ANTVEH

,Z.SEV_RC AS SEV_RC_BASE
,b.SEV_RC AS SEV_RC_ANTIG_CL
,c.SEV_RC AS SEV_RC_ANTVEH
,d.SEV_RC AS SEV_RC_CHANNEL_EMB
,e.SEV_RC AS SEV_RC_COMUNA_ASE
--f.SEV_RC AS SEV_RC_CILINDRADA
,g.SEV_RC AS SEV_RC_EDAD_ASE
,h.SEV_RC AS SEV_RC_GSE
,i.SEV_RC AS SEV_RC_DEDUCIBLE
,j.SEV_RC AS SEV_RC_SINI_0_36
,k.SEV_RC AS SEV_RC_RF_TOP100
,l.SEV_RC AS SEV_RC_SEXO
,m.SEV_RC AS SEV_RC_TALLER
,n.SEV_RC AS SEV_RC_TASACION
,o.SEV_RC AS SEV_RC_TIPPLAN
,p.SEV_RC AS SEV_RC_TIPO_VIG
,q.SEV_RC AS SEV_RC_TIPO_VEH
,r.SEV_RC AS SEV_RC_CAND_EXT
,s.SEV_RC AS SEV_RC_POL_TELEMAT
--,t.SEV_RC AS SEV_RC_Period
,x.SEV_RC AS SEV_RC_Calib_Salida_Akur8
,y.SEV_RC AS SEV_RC_Calib_2024Q4
,int1.SEV_RC AS SEV_RC_INTER_EDAD_X_SEXO
,int2.SEV_RC AS SEV_RC_INTER_REGION_X_MARCA
,int3.SEV_RC AS SEV_RC_INTER_EDAD_X_TIPO_VEH
,int4.SEV_RC AS SEV_RC_INTER_TASACION_X_ANTVEH
,int5.SEV_RC AS SEV_RC_INTER_SEXO_X_TIPO_VEH
,int6.SEV_RC AS SEV_RC_INTER_TIPO_VEH_X_GSE
,int7.SEV_RC AS SEV_RC_INTER_MARCA_X_ANTVEH

,Z.SEV_ROBO AS SEV_ROBO_BASE
,b.SEV_ROBO AS SEV_ROBO_ANTIG_CL
,c.SEV_ROBO AS SEV_ROBO_ANTVEH
,d.SEV_ROBO AS SEV_ROBO_CHANNEL_EMB
,e.SEV_ROBO AS SEV_ROBO_COMUNA_ASE
--,f.SEV_ROBO AS SEV_ROBO_CILINDRADA
,g.SEV_ROBO AS SEV_ROBO_EDAD_ASE
,h.SEV_ROBO AS SEV_ROBO_GSE
,i.SEV_ROBO AS SEV_ROBO_DEDUCIBLE
,j.SEV_ROBO AS SEV_ROBO_SINI_0_36
,k.SEV_ROBO AS SEV_ROBO_RF_TOP100
,l.SEV_ROBO AS SEV_ROBO_SEXO
,m.SEV_ROBO AS SEV_ROBO_TALLER
,n.SEV_ROBO AS SEV_ROBO_TASACION
,o.SEV_ROBO AS SEV_ROBO_TIPPLAN
,p.SEV_ROBO AS SEV_ROBO_TIPO_VIG
,q.SEV_ROBO AS SEV_ROBO_TIPO_VEH
,r.SEV_ROBO AS SEV_ROBO_CAND_EXT
,s.SEV_ROBO AS SEV_ROBO_POL_TELEMAT
--,t.SEV_ROBO AS SEV_ROBO_Period
,x.SEV_ROBO AS SEV_ROBO_Calib_Salida_Akur8
,y.SEV_ROBO AS SEV_ROBO_Calib_2024Q4
,int1.SEV_ROBO AS SEV_ROBO_INTER_EDAD_X_SEXO
,int2.SEV_ROBO AS SEV_ROBO_INTER_REGION_X_MARCA
,int3.SEV_ROBO AS SEV_ROBO_INTER_EDAD_X_TIPO_VEH
,int4.SEV_ROBO AS SEV_ROBO_INTER_TASACION_X_ANTVEH
,int5.SEV_ROBO AS SEV_ROBO_INTER_SEXO_X_TIPO_VEH
,int6.SEV_ROBO AS SEV_ROBO_INTER_TIPO_VEH_X_GSE
,int7.SEV_ROBO AS SEV_ROBO_INTER_MARCA_X_ANTVEH
*/
,FREC_DP	=	z.FREC_DP		* b.FREC_DP		* c.FREC_DP		* d.FREC_DP		* e.FREC_DP		* g.FREC_DP		* h.FREC_DP		* i.FREC_DP		* j.FREC_DP		* k.FREC_DP		* l.FREC_DP		* m.FREC_DP		* n.FREC_DP		* o.FREC_DP		* p.FREC_DP		* q.FREC_DP		* r.FREC_DP		 * s.FREC_DP	 * t.DP_FREC		* y.FREC_DP		* w.FREC_DP		* int1.FREC_DP	   	* int2.FREC_DP		* int3.FREC_DP		* int4.FREC_DP		* int5.FREC_DP		* int6.FREC_DP		* int7.FREC_DP
,FREC_PT	=	z.FREC_PT		* b.FREC_PT		* c.FREC_PT		* d.FREC_PT		* e.FREC_PT		* g.FREC_PT		* h.FREC_PT		* i.FREC_PT		* j.FREC_PT		* k.FREC_PT		* l.FREC_PT		* m.FREC_PT		* n.FREC_PT		* o.FREC_PT		* p.FREC_PT		* q.FREC_PT		* r.FREC_PT		 * s.FREC_PT	 * t.PT_FREC		* y.FREC_PT		* w.FREC_PT		* int1.FREC_PT		* int2.FREC_PT		* int3.FREC_PT		* int4.FREC_PT		* int5.FREC_PT		* int6.FREC_PT		* int7.FREC_PT
,FREC_RC	=	z.FREC_RC		* b.FREC_RC		* c.FREC_RC		* d.FREC_RC		* e.FREC_RC		* g.FREC_RC		* h.FREC_RC		* i.FREC_RC		* j.FREC_RC		* k.FREC_RC		* l.FREC_RC		* m.FREC_RC		* n.FREC_RC		* o.FREC_RC		* p.FREC_RC		* q.FREC_RC		* r.FREC_RC		 * s.FREC_RC	 * t.RC_FREC		* y.FREC_RC		* w.FREC_RC		* int1.FREC_RC		* int2.FREC_RC		* int3.FREC_RC		* int4.FREC_RC		* int5.FREC_RC		* int6.FREC_RC		* int7.FREC_RC
,FREC_ROBO	=	z.FREC_ROBO	    * b.FREC_ROBO   * c.FREC_ROBO   * d.FREC_ROBO   * e.FREC_ROBO   * g.FREC_ROBO   * h.FREC_ROBO   * i.FREC_ROBO   * j.FREC_ROBO   * k.FREC_ROBO   * l.FREC_ROBO   * m.FREC_ROBO   * n.FREC_ROBO   * o.FREC_ROBO   * p.FREC_ROBO   * q.FREC_ROBO   * r.FREC_ROBO    * s.FREC_ROBO   * t.ROBO_FREC		* y.FREC_ROBO   * w.FREC_ROBO   * int1.FREC_ROBO    * int2.FREC_ROBO	* int3.FREC_ROBO	* int4.FREC_ROBO	* int5.FREC_ROBO	* int6.FREC_ROBO	* int7.FREC_ROBO
,SEV_DP		=	z.SEV_DP		* b.SEV_DP		* c.SEV_DP		* d.SEV_DP		* e.SEV_DP		* g.SEV_DP		* h.SEV_DP		* i.SEV_DP		* j.SEV_DP		* k.SEV_DP		* l.SEV_DP		* m.SEV_DP		* n.SEV_DP		* o.SEV_DP		* p.SEV_DP		* q.SEV_DP		* r.SEV_DP		 * s.SEV_DP	     * t.DP_SEV			* y.SEV_DP		* w.SEV_DP		* int1.SEV_DP		* int2.SEV_DP		* int3.SEV_DP		* int4.SEV_DP		* int5.SEV_DP		* int6.SEV_DP		* int7.SEV_DP
,SEV_PT		=	z.SEV_PT		* b.SEV_PT		* c.SEV_PT		* d.SEV_PT		* e.SEV_PT		* g.SEV_PT		* h.SEV_PT		* i.SEV_PT		* j.SEV_PT		* k.SEV_PT		* l.SEV_PT		* m.SEV_PT		* n.SEV_PT		* o.SEV_PT		* p.SEV_PT		* q.SEV_PT		* r.SEV_PT		 * s.SEV_PT	     * t.PT_SEV			* y.SEV_PT		* w.SEV_PT		* int1.SEV_PT		* int2.SEV_PT		* int3.SEV_PT		* int4.SEV_PT		* int5.SEV_PT		* int6.SEV_PT		* int7.SEV_PT
,SEV_RC 	=	z.SEV_RC		* b.SEV_RC		* c.SEV_RC		* d.SEV_RC		* e.SEV_RC		* g.SEV_RC		* h.SEV_RC		* i.SEV_RC		* j.SEV_RC		* k.SEV_RC		* l.SEV_RC		* m.SEV_RC		* n.SEV_RC		* o.SEV_RC		* p.SEV_RC		* q.SEV_RC		* r.SEV_RC		 * s.SEV_RC	     * t.RC_SEV			* y.SEV_RC		* w.SEV_RC		* int1.SEV_RC		* int2.SEV_RC		* int3.SEV_RC		* int4.SEV_RC		* int5.SEV_RC		* int6.SEV_RC		* int7.SEV_RC
,SEV_ROBO	=	z.SEV_ROBO    	* b.SEV_ROBO    * c.SEV_ROBO    * d.SEV_ROBO    * e.SEV_ROBO    * g.SEV_ROBO    * h.SEV_ROBO    * i.SEV_ROBO    * j.SEV_ROBO    * k.SEV_ROBO    * l.SEV_ROBO    * m.SEV_ROBO    * n.SEV_ROBO    * o.SEV_ROBO    * p.SEV_ROBO    * q.SEV_ROBO    * r.SEV_ROBO     * s.SEV_ROBO    * t.ROBO_SEV	    * y.SEV_ROBO    * w.SEV_ROBO    * int1.SEV_ROBO     * int2.SEV_ROBO		* int3.SEV_ROBO		* int4.SEV_ROBO		* int5.SEV_ROBO		* int6.SEV_ROBO		* int7.SEV_ROBO


FROM
--SURA_MOVILIDAD_RATING_FACTORS_BORRAR				RF
(select * from ALMACEN_DE_DATOS.DBO.SURA_MOVILIDAD_RATING_FACTORS where LINEA_NEGOCIO = 'PERSONAL')	RF

left join #AUX_BASE								z		on IIF(1 > 0, 'BASE', 'BASE')								=		z.VALOR_VARIABLE
left join #AUX_Calib_Salida_Akur8				x		on IIF(1 > 0, 'BASE', 'BASE')								=		x.VALOR_VARIABLE
left join #AUX_Calib_TPLAN_2024Q4				w		on IIF(RF.TIPO_PLAN <> 'PT + RC' or RF.PARTNER_PYG <> 'RIPLEY', 'RESTO', concat(RF.TIPO_PLAN, '_X_', RF.PARTNER_PYG))	=		w.VALOR_VARIABLE
left join #AUX_Calib_2024Q4			        	y		on IIF(RF.CANAL_PYG IN ('CANAL DIRECTO', 'AFFINITY', 'CANAL ASESOR'), RF.CANAL_PYG, 'RESTO')							=		y.VALOR_VARIABLE
left join #AUX_antig_cl_ase_rut_channel			b		on IIF(try_cast(RF.ANTIG_CL_ASE_RUT_CHANNEL_FIXED as int)  >=		7, '7', RF.ANTIG_CL_ASE_RUT_CHANNEL_FIXED)					=		b.VALOR_VARIABLE
left join #AUX_ANTVEH_calc						c		on RF.ANTVEH_calc 											=		c.VALOR_VARIABLE 
left join #AUX_channel_to_emb_2024				d		on RF.CHANNEL_TO_EMB_2024 									=		d.VALOR_VARIABLE
left join #AUX_comuna_ase						e		on RF.COMUNA_ASE											=		e.VALOR_VARIABLE
left join #AUX_EDAD_ASE							g		on RF.EDAD_ASE												=		g.VALOR_VARIABLE 
left join #AUX_GSE								h		on RF.GSE													=		h.VALOR_VARIABLE 
left join #AUX_deducible						i		on RF.RF_DEDUCIBLE											=		i.VALOR_VARIABLE 
left join #AUX_sini_tot_0_36					j		on RF.RF_SINI_TOT_0_36										=		j.VALOR_VARIABLE
left join #AUX_rf_top100_2024					k		on RF.RF_TOP100_2024										=		k.VALOR_VARIABLE 
left join #AUX_Sexo								l		on RF.SEXO_2												=		l.VALOR_VARIABLE
left join #AUX_taller							m		on RF.TALLER												=		m.VALOR_VARIABLE
left join #AUX_Tasacion							n		on RF.Tasacion_agrupado										=		n.VALOR_VARIABLE 
left join #AUX_TIPPLAN							o		on RF.TIPPLAN	 											=		o.VALOR_VARIABLE
left join #AUX_TIPO_VIGENCIA					p		on RF.TIPO_VIGENCIA											=		p.VALOR_VARIABLE
left join #AUX_Tipo_veh							q		on RF.TIPO_VEH_SII	 										=		q.VALOR_VARIABLE
left join #AUX_candidato_extranjero				r		on RF.candidato_extranjero_fixed							=		r.VALOR_VARIABLE
left join #AUX_ind_poliza_telematica			s		on RF.ind_poliza_telematica	 								=		s.VALOR_VARIABLE
LEFT JOIN SURA_MOVILIDAD_RM_LP_RF_FLAG_TIPO_PLAN	t 	ON RF.RF_TIPO_PLAN									     	=       t.TIPO_PLAN

left join #AUX_INTER_EDAD_X_SEXO				int1	on IIF(RF.EDAD_ASE = 'UNKNOWN' or RF.SEXO_2 = 'UNKNOWN', 'UNKNOWN', concat(RF.EDAD_ASE, '_X_', RF.SEXO_2))																												=		int1.VALOR_VARIABLE
left join #AUX_INTER_REGION_X_MARCA				int2	on IIF(RF.RF_MARCA = 'UNKNOWN' or RF.RF_MARCA is null or RF.RF_MARCA = '                                        ' or RF.REGION_ASE = 'UNKNOWN', 'UNKNOWN', concat(RTRIM(RF.RF_MARCA), '_X_', RTRIM(RF.REGION_ASE)))		=		int2.VALOR_VARIABLE
left join #AUX_INTER_EDAD_X_TIPO_VEH			int3	on IIF(RF.EDAD_ASE = 'UNKNOWN' or RF.TIPO_VEH_SII = 'UNKNOWN', 'UNKNOWN', concat(RF.EDAD_ASE, '_X_', RF.TIPO_VEH_SII))	 																								=		int3.VALOR_VARIABLE
left join #AUX_INTER_TASACION_X_ANTVEH			int4	on IIF(RF.Tasacion_agrupado = 'UNKNOWN' or RF.ANTVEH_calc = 'UNKNOWN', 'UNKNOWN', concat(RF.Tasacion_agrupado, '_X_', RF.ANTVEH_calc))																					=		int4.VALOR_VARIABLE
left join #AUX_INTER_SEXO_X_TIPO_VEH			int5	on IIF(RF.TIPO_VEH_SII = 'UNKNOWN' or RF.SEXO_2 = 'UNKNOWN', 'UNKNOWN', concat(RF.TIPO_VEH_SII, '_X_', RF.SEXO_2))																										=		int5.VALOR_VARIABLE
left join #AUX_INTER_TIPO_VEH_X_GSE				int6	on IIF(RF.TIPO_VEH_SII = 'UNKNOWN' or RF.GSE = 'UNKNOWN', 'UNKNOWN', concat(RF.TIPO_VEH_SII, '_X_', RF.GSE))																											=		int6.VALOR_VARIABLE
left join #AUX_INTER_MARCA_X_ANTVEH				int7	on IIF(RF.RF_MARCA = 'UNKNOWN' or RF.ANTVEH_calc = 'UNKNOWN', 'UNKNOWN', concat(RTRIM(RF.RF_MARCA), '_X_', RF.ANTVEH_calc))																								=		int7.VALOR_VARIABLE

) CALCULO


--+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
SET @TERMINO= GETDATE()
INSERT INTO CANAL_ASESOR.DBO.MOVILIDAD_CONTROL_DE_EJECUCION VALUES ('06_SP_SURA_MOVILIDAD_PR_Y_PT','1 DE 6',@TERMINO,DATEDIFF(MINUTE,@PASOS,@TERMINO)/60,DATEDIFF(MINUTE,@PASOS,@TERMINO)%60)
SET @PASOS= GETDATE()
--+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
----------///////////////////////////////////////////////////////////////////////COMMERCIAL PESADO///////////////////////////

DROP TABLE IF EXISTS #RATING_FACTORS_COMMERCIAL_PESADO
-->ACA
SELECT CALCULO.*,
(FREC_DP			  *      SEV_DP)              *      TIPO_CAMBIO	AS PR_DP,
 FREC_DP              *      SEV_DP										AS PR_DP_UF,
(FREC_PT			  *      SEV_PT)              *      TIPO_CAMBIO	AS PR_PT,
 FREC_PT              *      SEV_PT										AS PR_PT_UF,
(FREC_RC			  *      SEV_RC)              *      TIPO_CAMBIO	AS PR_RC,
 FREC_RC              *      SEV_RC										AS PR_RC_UF,
(FREC_ROBO			  *      SEV_ROBO)			  *      TIPO_CAMBIO	AS PR_ROBO,
 FREC_ROBO			  *      SEV_ROBO									AS PR_ROBO_UF
INTO  #RATING_FACTORS_COMMERCIAL_PESADO
FROM (SELECT
A.LLAVE_1,
A.LLAVE_2,
A.NNUMDOCU,
A.NNUMITEM,
A.NNUMCERT,
A.PRORROGA,
A.NNUMENDO,
A.ULTIMO_ENDOSO,
A.CODIGO_RAMO,
A.RAMO,
A.RUT_EJECUTIVO,
A.EJECUTIVO,
A.RUT_EJECUTIVO_NUEVO,
A.EJECUTIVO_NUEVO,
A.RUT_INTERMEDIARIO,
A.INTERMEDIARIO,
A.RUT_PROPONENTE,
A.RUT_ASEGURADO,
A.RENOVACION_GOL,
A.IND_CANCELACION_GOL,
A.IND_CANCELACION_CALCULADA,
A.IND_ANULACION_CALCULADA,
A.IND_REHABILITACION_CALCULADA,
A.IND_RENOVACION_GOL,
A.IND_RENOVACION_LLAVE_1,
A.CICLO_RENOVACION_LLAVE_1,
A.ULTIMO_CICLO_RENOVACION_LLAVE_1,
A.IND_RENOVACION_LLAVE_2,
A.CICLO_RENOVACION_LLAVE_2,
A.ULTIMO_CICLO_RENOVACION_LLAVE_2,
A.ULTIMO_CICLO_SUB_RENOVACION,
A.FILTRO_RIESGO,
A.CODIGO_RAMO_KEIRA_PRINCIPAL,
A.RAMO_KEIRA_PRINCIPAL,
A.PRIMA_PESO,
A.PRIMA_UF,
A.COMISION_PESO,
A.COMISION_UF,
A.MONTO_ASEGURADO_PESO,
A.MONTO_ASEGURADO_UF,
A.MONTO_ASEGURADO_ALL_PESO,
A.MONTO_ASEGURADO_ALL_UF,
A.MONEDA_ORIGINAL,
A.CODIGO_PLAN_COMERCIAL,
A.PLAN_COMERCIAL,
A.CODIGO_PLAN_TECNICO,
A.PLAN_TECNICO,
A.TIPO_PLAN,
A.IND_POLIZA_MENSUAL,
A.IND_POLIZA_UBER,
A.IND_POLIZA_TELEMATICA,
A.PROVEDOR_TELMATICO,
A.KM_RECORRIDO_FACTURADO,
A.IMEI,
A.FECHA_ESTADO_CURIER,
A.ESTADO_COURIER,
A.FECHA_INSTALACION_DISPOSITIVO,
A.ESTADO_INTALACION,
A.DESCRIPCION_POLIZA_TELEMATICA,
A.TALLER,
A.IND_PLAN_TECNICO_WEB,
A.TIPO_INSPECCION,
A.ESTADO_INSPECCION,
A.CALIDAD_DE_RIESGO,
A.ORIGEN_INSPECCION,
A.CODIGO_COB_ASISTENCIA,
A.ASISTENCIA,
A.COMBO_ASITENCIA,
A.PROVEEDOR_ASITENCIA,
A.DEDUCIBLE,
A.LINEA_NEGOCIO,
A.LINEA_PRODUCTO,
A.CODIGO_TIPO_NEGOCIO,
A.TIPO_NEGOCIO,
A.CANAL_NUEVO,
A.BUSINESS_UNIT,
A.CHANNEL,
A.CANAL_GOL,
A.SUBGERENCIA_GOL,
A.SUBCATEGORIA_CANAL,
A.CODIGO_MARCA,
A.CODIGO_MODELO,
A.MARCA,
A.RF_MARCA,
A.MODELO,
A.AÑO,
A.PATENTE,
A.CHASIS,
A.MOTOR,
A.TIPO_VEHICULO,
A.USO,
A.TIPO_ITEM,
A.FECHA_FIRMA_POLIZA,
A.FECHA_FIRMA_ULTIMO_ENDOSO,
A.INICIO_VIGENCIA,
A.TERMINO_VIGENCIA,
A.TERMINO_VIGENCIA_REAL,
A.FECHA_CANCELACION,
A.MEDIO_PAGO,
A.SUCURSAL_GOL,
A.SUCURSAL_CA,
A.COMUNA_ASE,
A.PROVINCIA_ASE,
A.REGION_ASE,
A.MACRO_ZONAS_ASE,
A.ZONAS_GEOGRAFICAS_ASE,
A.REGIONES_URBES_ASE,
A.ZONA_ASE,
A.TIPO_PLAN_LLAVE,
A.CANAL_FINAL,
A.PARTNER_FINAL,
A.VIGENTE,
A.USUARIO_FIRMA,
A.VIGENCIA_TEORICA,
A.VIGENCIA_CONTABLE,
A.VIGENCIA_EXP_AÑO,
A.EXP_AÑO,
A.FLOTA,
A.ESTADO_POR_ROBO,
A.SEGMENTO_VEHICULO,
A.SEGMENTACION,
A.GSE,
A.RENTA,
A.SEGMENTACION_OFICIAL,
A.AGRUPACION_FLOTA,
A.GRUPO_CHANNEL,
A.PRODUCTOS_NUEVOS,
A.PLAN_TECNICO_2,
A.MARCA_MODELO,
A.TOP_100,
A.ZONA_SUCURSAL,
A.NUEVA_RENOVADA,
A.EXTRANJERO,
A.PERFIL_UBER,
A.VIGENCIA,
A.CON_EMISIONES,
A.CALIDAD_CLIENTE,
A.GAMA_VEHICULO,
A.TAMAÑO,
A.INCLUSION,
A.TIPO,
A.VEH_ROBADO_AÑO,
A.VEH_ROBADO_ZONA,
A.VEH_ROBADO_MARCAMODELO,
A.LISTADO_VEH_ROBADOS,
A.MARCA_ROBADO,
A.FECHA_INICIO_EMPRESA,
A.RUBRO_ECONOMICO,
A.SUBRUBRO_ECONOMICO,
A.ACTIVIDAD_ECONOMICA,
A.ANT_EMPRESA,
A.ACTIVIDAD_GRUPO,
A.VALUE_AGE,
A.RF_FECHA_NACIMIENTO,
A.RF_SEXO,
A.RF_F_CI,
A.RF_EDAD,
A.RF_ANTIG_CL_RUT_CHANNEL,
A.RF_COMUNA,
A.RF_CHANNEL_TO_EMB,
A.RF_DEDUCIBLE,
A.RF_ANTVEH,
A.RF_TOP100_2019,
A.RF_TIPO_VEHICULO,
A.RF_NEW_SA,
A.RF_SINI_G1G2_0_36,
A.RF_SINI_TOT_0_36,
A.RF_SINI_RC_0_36,
A.RF_TIPO_PLAN,
A.RF_TIPO_X_KM,
A.RF_EDAD_NOW,
A.RF_ANTVEH_NOW,
A.RF_SINI_G1G2_0_36_NOW,
A.RF_SINI_TOT_0_36_NOW,
A.RF_SINI_RC_0_36_NOW,
A.RF_TAMAÑO,
A.RF_ACTIVIDAD,
A.ANTIG_CL_ASE_RUT_CHANNEL_FIXED,
A.candidato_extranjero_fixed,
A.SEXO_2,
A.EDAD_CLIENTES_2,
A.CANAL_PYG,
A.PARTNER_PYG,
A.TIPO_VIGENCIA,
A.TIPO_CAMBIO,
A.MODELO_RATING_FACTOR,
A.ANTVEH_calc,	
A.CHANNEL_TO_EMB_2024,
A.EDAD_ASE,	
A.RF_TOP100_2024,	
A.Tasacion_agrupado,	
A.Tipo_veh_SII,	
A.COMBUSTIBLE,	
A.TRANSMISION,	
A.TIPPLAN,

(BASE.DP_FREC		 * C.DP_FREC          * D.DP_FREC            * E.DP_FREC          * F.DP_FREC          * G.DP_FREC            * H.DP_FREC	* I.DP_FREC)		*(DATEDIFF (DAY,DATEADD(DAY,-1,A.INICIO_VIGENCIA) ,A.TERMINO_VIGENCIA_REAL)/365.25)	AS FREC_DP,
BASE.DP_SEV          * C.DP_SEV			  * D.DP_SEV             * E.DP_SEV           * F.DP_SEV           * G.DP_SEV             * H.DP_SEV	* I.DP_SEV 																								AS SEV_DP,
(BASE.PT_FREC		 * C.PT_FREC		  * D.PT_FREC            * E.PT_FREC          * F.PT_FREC          * G.PT_FREC            * H.PT_FREC	* I.PT_FREC)		*(DATEDIFF (DAY,DATEADD(DAY,-1,A.INICIO_VIGENCIA) ,A.TERMINO_VIGENCIA_REAL)/365.25)	AS FREC_PT,
BASE.PT_SEV          * C.PT_SEV			  * D.PT_SEV             * E.PT_SEV           * F.PT_SEV           * G.PT_SEV             * H.PT_SEV	* I.PT_SEV  																							AS SEV_PT,
(BASE.RC_FREC		 * C.RC_FREC		  * D.RC_FREC	         * E.RC_FREC          * F.RC_FREC          * G.RC_FREC            * H.RC_FREC	* I.RC_FREC)		*(DATEDIFF (DAY,DATEADD(DAY,-1,A.INICIO_VIGENCIA) ,A.TERMINO_VIGENCIA_REAL)/365.25)	AS FREC_RC,
BASE.RC_SEV          * C.RC_SEV			  * D.RC_SEV	         * E.RC_SEV           * F.RC_SEV           * G.RC_SEV             * H.RC_SEV	* I.RC_SEV 																								AS SEV_RC,
(BASE.ROBO_FREC      * C.ROBO_FREC		  * D.ROBO_FREC			 * E.ROBO_FREC		  * F.ROBO_FREC		   * G.ROBO_FREC		  * H.ROBO_FREC	* I.ROBO_FREC)		*(DATEDIFF (DAY,DATEADD(DAY,-1,A.INICIO_VIGENCIA) ,A.TERMINO_VIGENCIA_REAL)/365.25)	AS FREC_ROBO,
BASE.ROBO_SEV		 * C.ROBO_SEV		  * D.ROBO_SEV			 * E.ROBO_SEV		  * F.ROBO_SEV		   * G.ROBO_SEV			  * H.ROBO_SEV	* I.ROBO_SEV																							AS SEV_ROBO

FROM ALMACEN_DE_DATOS.DBO.SURA_MOVILIDAD_RATING_FACTORS						A 
LEFT JOIN SURA_MOVILIDAD_RM_LC_RF_BASE_RATES_PES		BASE        ON A.RF_F_CI			=BASE.F_CI
LEFT JOIN SURA_MOVILIDAD_RM_LC_RF_DEDUCIBLE_PES			C           ON A.RF_DEDUCIBLE		=C.DEDUCIBLE
LEFT JOIN SURA_MOVILIDAD_RM_LC_RF_ANTVEH_PES			D           ON A.RF_ANTVEH			=D.ANTVEH
LEFT JOIN SURA_MOVILIDAD_RM_LC_RF_TAMAÑO_PES			E           ON A.RF_TAMAÑO			=E.TAMAÑO
LEFT JOIN SURA_MOVILIDAD_RM_LC_RF_ACTIVIDAD_PES			F           ON A.RF_ACTIVIDAD		=F.ACTIVIDAD
LEFT JOIN SURA_MOVILIDAD_RM_LC_RF_COMUNA_PES			G           ON A.RF_COMUNA			=G.COMUNA
LEFT JOIN SURA_MOVILIDAD_RM_LC_RF_MARCA_MODELO_PES		H           ON A.MARCA				=H.MARCA	AND A.MODELO= H.MODELO 
LEFT JOIN SURA_MOVILIDAD_RM_LC_RF_FLAG_TIPO_PLAN		I			ON A.RF_TIPO_PLAN		=I.TIPO_PLAN 
WHERE A.MODELO_RATING_FACTOR='COMMERCIAL PESADO') CALCULO


UPDATE #RATING_FACTORS_COMMERCIAL_PESADO
SET FREC_DP	= 0 ,
SEV_DP		= 0 ,
FREC_PT		= 0 ,
SEV_PT		= 0 ,
FREC_RC		= 0 ,
SEV_RC		= 0 ,
FREC_ROBO	= 0 ,
SEV_ROBO	= 0 ,
PR_DP		= 0 ,
PR_DP_UF	= 0 ,
PR_PT		= 0 ,
PR_PT_UF	= 0 ,
PR_RC		= 0 ,
PR_RC_UF	= 0 ,
PR_ROBO		= 0 ,
PR_ROBO_UF	= 0 
WHERE 
SEGMENTO_VEHICULO IN ('BUSES','ESPECIAL')
OR
(TIPO_PLAN IN ('RCE','RCA','RCE + RCA') ) or (PLAN_TECNICO LIKE ('%UBER%') OR PLAN_TECNICO LIKE ('%TSTGO%') OR PLAN_TECNICO LIKE ('%HERTZ%'))
---- Planes Técnicos Uber Blanket
OR (CODIGO_PLAN_TECNICO IN (5253,5335,5337,5828, 6159,6273,6794,6244, 6245, 6247, 6686, 6692))
----- Planes Técnicos Sol de Reñaca
OR (CODIGO_PLAN_TECNICO IN (5839, 5840))
----- Planes Técnicos Central Placeres
OR (CODIGO_PLAN_TECNICO IN (5845, 5852, 5853, 5854))
----- RUT Hertz
OR (RUT_ASEGURADO IN (53547100, 83547100, 93510300, 96510300, 96556350, 77289570))
----- RUT Transantiago
OR (RUT_ASEGURADO IN (99557450, 99557440, 77532114, 76071048, 99546310, 76071048, 76044148, 76204717, 99577050, 99559010, 99554700, 77532096, 77532117, 99577050, 77532011 ) )


--+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
SET @TERMINO= GETDATE()
INSERT INTO CANAL_ASESOR.DBO.MOVILIDAD_CONTROL_DE_EJECUCION VALUES ('06_SP_SURA_MOVILIDAD_PR_Y_PT','2 DE 6',@TERMINO,DATEDIFF(MINUTE,@PASOS,@TERMINO)/60,DATEDIFF(MINUTE,@PASOS,@TERMINO)%60)
SET @PASOS= GETDATE()
--+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
----------///////////////////////////////////////////////////////////////////////COMMERCIAL LIVIANO///////////////////////////

DROP TABLE IF EXISTS #RATING_FACTORS_COMMERCIAL_LIVIANO
SELECT CALCULO.*,
(FREC_DP			  *      SEV_DP)              *      TIPO_CAMBIO	AS PR_DP,
 FREC_DP              *      SEV_DP										AS PR_DP_UF,
(FREC_PT			  *      SEV_PT)              *      TIPO_CAMBIO	AS PR_PT,
 FREC_PT              *      SEV_PT										AS PR_PT_UF,
(FREC_RC			  *      SEV_RC)              *      TIPO_CAMBIO	AS PR_RC,
 FREC_RC              *      SEV_RC										AS PR_RC_UF,
(FREC_ROBO			  *      SEV_ROBO)			  *      TIPO_CAMBIO	AS PR_ROBO,
 FREC_ROBO			  *      SEV_ROBO									AS PR_ROBO_UF
INTO  #RATING_FACTORS_COMMERCIAL_LIVIANO
FROM (SELECT 
A.LLAVE_1,
A.LLAVE_2,
A.NNUMDOCU,
A.NNUMITEM,
A.NNUMCERT,
A.PRORROGA,
A.NNUMENDO,
A.ULTIMO_ENDOSO,
A.CODIGO_RAMO,
A.RAMO,
A.RUT_EJECUTIVO,
A.EJECUTIVO,
A.RUT_EJECUTIVO_NUEVO,
A.EJECUTIVO_NUEVO,
A.RUT_INTERMEDIARIO,
A.INTERMEDIARIO,
A.RUT_PROPONENTE,
A.RUT_ASEGURADO,
A.RENOVACION_GOL,
A.IND_CANCELACION_GOL,
A.IND_CANCELACION_CALCULADA,
A.IND_ANULACION_CALCULADA,
A.IND_REHABILITACION_CALCULADA,
A.IND_RENOVACION_GOL,
A.IND_RENOVACION_LLAVE_1,
A.CICLO_RENOVACION_LLAVE_1,
A.ULTIMO_CICLO_RENOVACION_LLAVE_1,
A.IND_RENOVACION_LLAVE_2,
A.CICLO_RENOVACION_LLAVE_2,
A.ULTIMO_CICLO_RENOVACION_LLAVE_2,
A.ULTIMO_CICLO_SUB_RENOVACION,
A.FILTRO_RIESGO,
A.CODIGO_RAMO_KEIRA_PRINCIPAL,
A.RAMO_KEIRA_PRINCIPAL,
A.PRIMA_PESO,
A.PRIMA_UF,
A.COMISION_PESO,
A.COMISION_UF,
A.MONTO_ASEGURADO_PESO,
A.MONTO_ASEGURADO_UF,
A.MONTO_ASEGURADO_ALL_PESO,
A.MONTO_ASEGURADO_ALL_UF,
A.MONEDA_ORIGINAL,
A.CODIGO_PLAN_COMERCIAL,
A.PLAN_COMERCIAL,
A.CODIGO_PLAN_TECNICO,
A.PLAN_TECNICO,
A.TIPO_PLAN,
A.IND_POLIZA_MENSUAL,
A.IND_POLIZA_UBER,
A.IND_POLIZA_TELEMATICA,
A.PROVEDOR_TELMATICO,
A.KM_RECORRIDO_FACTURADO,
A.IMEI,
A.FECHA_ESTADO_CURIER,
A.ESTADO_COURIER,
A.FECHA_INSTALACION_DISPOSITIVO,
A.ESTADO_INTALACION,
A.DESCRIPCION_POLIZA_TELEMATICA,
A.TALLER,
A.IND_PLAN_TECNICO_WEB,
A.TIPO_INSPECCION,
A.ESTADO_INSPECCION,
A.CALIDAD_DE_RIESGO,
A.ORIGEN_INSPECCION,
A.CODIGO_COB_ASISTENCIA,
A.ASISTENCIA,
A.COMBO_ASITENCIA,
A.PROVEEDOR_ASITENCIA,
A.DEDUCIBLE,
A.LINEA_NEGOCIO,
A.LINEA_PRODUCTO,
A.CODIGO_TIPO_NEGOCIO,
A.TIPO_NEGOCIO,
A.CANAL_NUEVO,
A.BUSINESS_UNIT,
A.CHANNEL,
A.CANAL_GOL,
A.SUBGERENCIA_GOL,
A.SUBCATEGORIA_CANAL,
A.CODIGO_MARCA,
A.CODIGO_MODELO,
A.MARCA,
A.RF_MARCA,
A.MODELO,
A.AÑO,
A.PATENTE,
A.CHASIS,
A.MOTOR,
A.TIPO_VEHICULO,
A.USO,
A.TIPO_ITEM,
A.FECHA_FIRMA_POLIZA,
A.FECHA_FIRMA_ULTIMO_ENDOSO,
A.INICIO_VIGENCIA,
A.TERMINO_VIGENCIA,
A.TERMINO_VIGENCIA_REAL,
A.FECHA_CANCELACION,
A.MEDIO_PAGO,
A.SUCURSAL_GOL,
A.SUCURSAL_CA,
A.COMUNA_ASE,
A.PROVINCIA_ASE,
A.REGION_ASE,
A.MACRO_ZONAS_ASE,
A.ZONAS_GEOGRAFICAS_ASE,
A.REGIONES_URBES_ASE,
A.ZONA_ASE,
A.TIPO_PLAN_LLAVE,
A.CANAL_FINAL,
A.PARTNER_FINAL,
A.VIGENTE,
A.USUARIO_FIRMA,
A.VIGENCIA_TEORICA,
A.VIGENCIA_CONTABLE,
A.VIGENCIA_EXP_AÑO,
A.EXP_AÑO,
A.FLOTA,
A.ESTADO_POR_ROBO,
A.SEGMENTO_VEHICULO,
A.SEGMENTACION,
A.GSE,
A.RENTA,
A.SEGMENTACION_OFICIAL,
A.AGRUPACION_FLOTA,
A.GRUPO_CHANNEL,
A.PRODUCTOS_NUEVOS,
A.PLAN_TECNICO_2,
A.MARCA_MODELO,
A.TOP_100,
A.ZONA_SUCURSAL,
A.NUEVA_RENOVADA,
A.EXTRANJERO,
A.PERFIL_UBER,
A.VIGENCIA,
A.CON_EMISIONES,
A.CALIDAD_CLIENTE,
A.GAMA_VEHICULO,
A.TAMAÑO,
A.INCLUSION,
A.TIPO,
A.VEH_ROBADO_AÑO,
A.VEH_ROBADO_ZONA,
A.VEH_ROBADO_MARCAMODELO,
A.LISTADO_VEH_ROBADOS,
A.MARCA_ROBADO,
A.FECHA_INICIO_EMPRESA,
A.RUBRO_ECONOMICO,
A.SUBRUBRO_ECONOMICO,
A.ACTIVIDAD_ECONOMICA,
A.ANT_EMPRESA,
A.ACTIVIDAD_GRUPO,
A.VALUE_AGE,
A.RF_FECHA_NACIMIENTO,
A.RF_SEXO,
A.RF_F_CI,
A.RF_EDAD,
A.RF_ANTIG_CL_RUT_CHANNEL,
A.RF_COMUNA,
A.RF_CHANNEL_TO_EMB,
A.RF_DEDUCIBLE,
A.RF_ANTVEH,
A.RF_TOP100_2019,
A.RF_TIPO_VEHICULO,
A.RF_NEW_SA,
A.RF_SINI_G1G2_0_36,
A.RF_SINI_TOT_0_36,
A.RF_SINI_RC_0_36,
A.RF_TIPO_PLAN,
A.RF_TIPO_X_KM,
A.RF_EDAD_NOW,
A.RF_ANTVEH_NOW,
A.RF_SINI_G1G2_0_36_NOW,
A.RF_SINI_TOT_0_36_NOW,
A.RF_SINI_RC_0_36_NOW,
A.RF_TAMAÑO,
A.RF_ACTIVIDAD,
A.ANTIG_CL_ASE_RUT_CHANNEL_FIXED,
A.candidato_extranjero_fixed,
A.SEXO_2,
A.EDAD_CLIENTES_2,
A.CANAL_PYG,
A.PARTNER_PYG,
A.TIPO_VIGENCIA,
A.TIPO_CAMBIO,
A.MODELO_RATING_FACTOR,
A.ANTVEH_calc,	
A.CHANNEL_TO_EMB_2024,
A.EDAD_ASE,	
A.RF_TOP100_2024,	
A.Tasacion_agrupado,	
A.Tipo_veh_SII,	
A.COMBUSTIBLE,	
A.TRANSMISION,	
A.TIPPLAN,

(BASE.DP_FREC		 * C.DP_FREC          * D.DP_FREC          * E.DP_FREC            * F.DP_FREC          * G.DP_FREC          * H.DP_FREC            * I.DP_FREC   )       *(DATEDIFF (DAY,DATEADD(DAY,-1,A.INICIO_VIGENCIA) ,A.TERMINO_VIGENCIA_REAL)/365.25)	AS FREC_DP,
BASE.DP_SEV          * C.DP_SEV           * D.DP_SEV           * E.DP_SEV             * F.DP_SEV           * G.DP_SEV           * H.DP_SEV             * I.DP_SEV  																									AS SEV_DP,
(BASE.PT_FREC		 * C.PT_FREC          * D.PT_FREC          * E.PT_FREC            * F.PT_FREC          * G.PT_FREC          * H.PT_FREC            * I.PT_FREC   )       *(DATEDIFF (DAY,DATEADD(DAY,-1,A.INICIO_VIGENCIA) ,A.TERMINO_VIGENCIA_REAL)/365.25)	AS FREC_PT,
BASE.PT_SEV          * C.PT_SEV           * D.PT_SEV           * E.PT_SEV             * F.PT_SEV           * G.PT_SEV           * H.PT_SEV             * I.PT_SEV 																									AS SEV_PT,
(BASE.RC_FREC		 * C.RC_FREC          * D.RC_FREC          * E.RC_FREC            * F.RC_FREC          * G.RC_FREC          * H.RC_FREC            * I.RC_FREC   )       *(DATEDIFF (DAY,DATEADD(DAY,-1,A.INICIO_VIGENCIA) ,A.TERMINO_VIGENCIA_REAL)/365.25)	AS FREC_RC,
BASE.RC_SEV          * C.RC_SEV           * D.RC_SEV           * E.RC_SEV             * F.RC_SEV           * G.RC_SEV           * H.RC_SEV             * I.RC_SEV 																									AS SEV_RC,
(BASE.ROBO_FREC      * C.ROBO_FREC		  * D.ROBO_FREC		   * E.ROBO_FREC		  * F.ROBO_FREC		   * G.ROBO_FREC		* H.ROBO_FREC		   * I.ROBO_FREC )	     *(DATEDIFF (DAY,DATEADD(DAY,-1,A.INICIO_VIGENCIA) ,A.TERMINO_VIGENCIA_REAL)/365.25)	AS FREC_ROBO,
BASE.ROBO_SEV		 * C.ROBO_SEV		  * D.ROBO_SEV		   * E.ROBO_SEV			  * F.ROBO_SEV		   * G.ROBO_SEV			* H.ROBO_SEV		   * I.ROBO_SEV																									AS SEV_ROBO

FROM ALMACEN_DE_DATOS.DBO.SURA_MOVILIDAD_RATING_FACTORS					A 
LEFT JOIN SURA_MOVILIDAD_RM_LC_RF_BASE_RATES_LIV	BASE	ON A.RF_F_CI            = BASE.F_CI
LEFT JOIN SURA_MOVILIDAD_RM_LC_RF_DEDUCIBLE_LIV		C       ON A.RF_DEDUCIBLE       = C.DEDUCIBLE
LEFT JOIN SURA_MOVILIDAD_RM_LC_RF_ANTVEH_LIV		D       ON A.RF_ANTVEH          = D.ANTVEH
LEFT JOIN SURA_MOVILIDAD_RM_LC_RF_TAMAÑO_LIV		E       ON A.RF_TAMAÑO			= E.TAMAÑO
LEFT JOIN SURA_MOVILIDAD_RM_LC_RF_ACTIVIDAD_LIV		F       ON A.RF_ACTIVIDAD       = F.ACTIVIDAD
LEFT JOIN SURA_MOVILIDAD_RM_LC_RF_COMUNA_LIV		G       ON A.RF_COMUNA          = G.COMUNA
LEFT JOIN SURA_MOVILIDAD_RM_LC_RF_MARCA_MODELO_LIV	H       ON A.MARCA				= H.MARCA AND A.MODELO= H.MODELO 
LEFT JOIN SURA_MOVILIDAD_RM_LC_RF_FLAG_TIPO_PLAN	I       ON A.RF_TIPO_PLAN		= I.TIPO_PLAN 
WHERE A.MODELO_RATING_FACTOR='COMMERCIAL LIVIANO'
) CALCULO


UPDATE #RATING_FACTORS_COMMERCIAL_LIVIANO
SET FREC_DP	= 0 ,
SEV_DP		= 0 ,
FREC_PT		= 0 ,
SEV_PT		= 0 ,
FREC_RC		= 0 ,
SEV_RC		= 0 ,
FREC_ROBO	= 0 ,
SEV_ROBO	= 0 ,
PR_DP		= 0 ,
PR_DP_UF	= 0 ,
PR_PT		= 0 ,
PR_PT_UF	= 0 ,
PR_RC		= 0 ,
PR_RC_UF	= 0 ,
PR_ROBO		= 0 ,
PR_ROBO_UF	= 0 
WHERE 
SEGMENTO_VEHICULO = 'OTROS'
OR
(TIPO_PLAN IN ('RCE','RCA','RCE + RCA') ) or (PLAN_TECNICO LIKE ('%UBER%') OR PLAN_TECNICO LIKE ('%TSTGO%') OR PLAN_TECNICO LIKE ('%HERTZ%'))
---- Planes Técnicos Uber Blanket
OR (CODIGO_PLAN_TECNICO IN (5253,5335,5337,5828, 6159,6273,6794,6244, 6245, 6247, 6686, 6692))
----- Planes Técnicos Sol de Reñaca
OR (CODIGO_PLAN_TECNICO IN (5839, 5840))
----- Planes Técnicos Central Placeres
OR (CODIGO_PLAN_TECNICO IN (5845, 5852, 5853, 5854))
----- RUT Hertz
OR (RUT_ASEGURADO IN (53547100, 83547100, 93510300, 96510300, 96556350, 77289570))
----- RUT Transantiago
OR (RUT_ASEGURADO IN (99557450, 99557440, 77532114, 76071048, 99546310, 76071048, 76044148, 76204717, 99577050, 99559010, 99554700, 77532096, 77532117, 99577050, 77532011 ) )


--+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
SET @TERMINO= GETDATE()
INSERT INTO CANAL_ASESOR.DBO.MOVILIDAD_CONTROL_DE_EJECUCION VALUES ('06_SP_SURA_MOVILIDAD_PR_Y_PT','3 DE 6',@TERMINO,DATEDIFF(MINUTE,@PASOS,@TERMINO)/60,DATEDIFF(MINUTE,@PASOS,@TERMINO)%60)
SET @PASOS= GETDATE()
--+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
DROP TABLE IF EXISTS #SURA_MOVILIDAD_RATING_FACTORS

SELECT * 
INTO #SURA_MOVILIDAD_RATING_FACTORS
FROM (
SELECT * FROM #RATING_FACTORS_PERSONAL
UNION ALL
SELECT * FROM #RATING_FACTORS_COMMERCIAL_PESADO
UNION ALL
SELECT * FROM #RATING_FACTORS_COMMERCIAL_LIVIANO) A


DROP TABLE #RATING_FACTORS_PERSONAL
DROP TABLE #RATING_FACTORS_COMMERCIAL_PESADO
DROP TABLE #RATING_FACTORS_COMMERCIAL_LIVIANO


--+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
SET @TERMINO= GETDATE()
SET @PASOS= GETDATE()
--+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

-------------------------------------------AJUSTES
---PERSONAL

-- SELECT DISTINCT CANAL_PYG FROM REPORTES.DBO.SURA_MOVILIDAD_TRANSACCIONAL


---COMMERCIAL
UPDATE #SURA_MOVILIDAD_RATING_FACTORS
SET 
PR_DP_UF	= CASE WHEN A.PR_DP_UF	>0	THEN A.PR_DP_UF		* B.DP		ELSE A.PR_DP_UF		END	,	
PR_DP		= CASE WHEN A.PR_DP		>0	THEN A.PR_DP		* B.DP		ELSE A.PR_DP		END ,
PR_PT_UF	= CASE WHEN A.PR_PT_UF	>0	THEN A.PR_PT_UF		* B.PT		ELSE A.PR_PT_UF		END	,	
PR_PT		= CASE WHEN A.PR_PT		>0	THEN A.PR_PT		* B.PT		ELSE A.PR_PT		END ,
PR_RC_UF	= CASE WHEN A.PR_RC_UF	>0	THEN A.PR_RC_UF		* B.RC		ELSE A.PR_RC_UF		END	,	
PR_RC		= CASE WHEN A.PR_RC		>0	THEN A.PR_RC		* B.RC		ELSE A.PR_RC		END ,
PR_ROBO_UF	= CASE WHEN A.PR_ROBO_UF>0	THEN A.PR_ROBO_UF	* B.ROBO	ELSE A.PR_ROBO_UF	END ,	
PR_ROBO		= CASE WHEN A.PR_ROBO	>0	THEN A.PR_ROBO		* B.ROBO	ELSE A.PR_ROBO		END 
FROM #SURA_MOVILIDAD_RATING_FACTORS A LEFT JOIN SURA_MOVILIDAD_FACTORES_DE_AJUSTES B 
ON A.LINEA_NEGOCIO=B.LINEA_NEGOCIO 
WHERE B.TIPO_AJUSTE='PR'  AND A.LINEA_NEGOCIO='COMMERCIAL'


UPDATE #SURA_MOVILIDAD_RATING_FACTORS
SET 
FREC_DP			= CASE WHEN A.FREC_DP		>0	THEN A.FREC_DP			* B.DP		ELSE A.FREC_DP			END	,	
FREC_PT			= CASE WHEN A.FREC_PT		>0	THEN A.FREC_PT			* B.PT		ELSE A.FREC_PT			END	,	
FREC_RC			= CASE WHEN A.FREC_RC		>0	THEN A.FREC_RC			* B.RC		ELSE A.FREC_RC			END	,	
FREC_ROBO		= CASE WHEN A.FREC_ROBO		>0	THEN A.FREC_ROBO		* B.ROBO	ELSE A.FREC_ROBO		END 
FROM #SURA_MOVILIDAD_RATING_FACTORS A LEFT JOIN SURA_MOVILIDAD_FACTORES_DE_AJUSTES B 
ON A.LINEA_NEGOCIO=B.LINEA_NEGOCIO 
WHERE B.TIPO_AJUSTE='FREC'  AND A.LINEA_NEGOCIO='COMMERCIAL'



ALTER TABLE #SURA_MOVILIDAD_RATING_FACTORS
ADD
PR_RIESGO				NUMERIC(30,4),
PR_RIESGO_UF		    NUMERIC(20,4),
FREC_TOT                NUMERIC(20,4),
COMISION                NUMERIC(20,4),
GASTO                   NUMERIC(20,4),
LOADING                 NUMERIC(20,4),
UTILIDAD                NUMERIC(20,4),
PRIMA_TECNICA_DP_UF		NUMERIC(20,4),
PRIMA_TECNICA_PT_UF		NUMERIC(20,4),
PRIMA_TECNICA_RC_UF		NUMERIC(20,4),
PRIMA_TECNICA_ROBO_UF	NUMERIC(20,4),
PRIMA_TECNICA_UF		NUMERIC(20,4),
PRIMA_TECNICA_DP_PESO	NUMERIC(20,4),
PRIMA_TECNICA_PT_PESO	NUMERIC(20,4),
PRIMA_TECNICA_RC_PESO	NUMERIC(20,4),
PRIMA_TECNICA_ROBO_PESO	NUMERIC(20,4),
PRIMA_TECNICA_PESO		NUMERIC(20,4)



UPDATE #SURA_MOVILIDAD_RATING_FACTORS
SET
PR_RIESGO=PR_DP+PR_PT+PR_RC+PR_ROBO,
PR_RIESGO_UF=PR_DP_UF+PR_PT_UF+PR_RC_UF+PR_ROBO_UF,
FREC_TOT=FREC_DP+FREC_PT+FREC_RC+FREC_ROBO,
LOADING = 0.0,
UTILIDAD = 0.0



-------------------------------------------LOADING

UPDATE #SURA_MOVILIDAD_RATING_FACTORS
SET CANAL_FINAL='UND',	PARTNER_FINAL='UND'
WHERE  CANAL_FINAL='NOD'

UPDATE #SURA_MOVILIDAD_RATING_FACTORS
SET CANAL_FINAL='EYP',	PARTNER_FINAL='EYP'
WHERE  CANAL_FINAL='CAS'
/*
SELECT YEAR(FECHA_FIRMA_POLIZA)*100+MONTH(FECHA_FIRMA_POLIZA) PERIODO,LINEA_NEGOCIO,CANAL_FINAL,PARTNER_FINAL,COUNT(*)CANTIDAD INTO #LOADING FROM #SURA_MOVILIDAD_RATING_FACTORS
WHERE YEAR(FECHA_FIRMA_POLIZA)*100+MONTH(FECHA_FIRMA_POLIZA)>=202207
GROUP BY YEAR(FECHA_FIRMA_POLIZA)*100+MONTH(FECHA_FIRMA_POLIZA) ,LINEA_NEGOCIO,CANAL_FINAL,PARTNER_FINAL


INSERT INTO SURA_MOVILIDAD_LOADING 
SELECT A.PERIODO,A.LINEA_NEGOCIO,A.CANAL_FINAL,A.PARTNER_FINAL,A.CANAL_FINAL,A.PARTNER_FINAL,NULL,NULL,NULL,NULL,NULL,NULL,NULL  FROM #LOADING  A LEFT JOIN SURA_MOVILIDAD_LOADING B 
ON A.CANAL_FINAL=B.CANAL_FINAL AND A.PARTNER_FINAL=B.PARTNER_FINAL AND A.PERIODO=B.PERIODO AND A.LINEA_NEGOCIO=B.LINEA_NEGOCIO
WHERE B.LOADING_COMGASTO IS NULL
GROUP BY A.PERIODO,A.LINEA_NEGOCIO,A.CANAL_FINAL,A.PARTNER_FINAL


--SELECT LINEA_NEGOCIO,SUM(GASTO)/COUNT(*) AS GASTO FROM SURA_MOVILIDAD_LOADING WHERE LOADING IS NOT NULL
--GROUP BY LINEA_NEGOCIO

UPDATE SURA_MOVILIDAD_LOADING
SET LOADING_COMGASTO=B.LOADING_COMGASTO
FROM SURA_MOVILIDAD_LOADING A, (SELECT PERIODO,LINEA_NEGOCIO,SUM(LOADING_COMGASTO)/COUNT(*)LOADING_COMGASTO FROM SURA_MOVILIDAD_LOADING WHERE LOADING_COMGASTO IS NOT NULL GROUP BY PERIODO,LINEA_NEGOCIO) B
WHERE A.LINEA_NEGOCIO=B.LINEA_NEGOCIO AND A.PERIODO=B.PERIODO
AND A.LOADING_COMGASTO IS NULL
*/


-----LOADING Y PRIMA TECNICA

UPDATE #SURA_MOVILIDAD_RATING_FACTORS
SET 
COMISION=CASE WHEN PRIMA_UF=0 THEN 0 ELSE ABS(COMISION_UF)/ABS(PRIMA_UF) END


UPDATE #SURA_MOVILIDAD_RATING_FACTORS
SET
GASTO	=CASE WHEN B.LOADING_COMGASTO		IS NULL THEN 0			ELSE B.LOADING_COMGASTO-A.COMISION	END
FROM #SURA_MOVILIDAD_RATING_FACTORS A,SURA_MOVILIDAD_LOADING B
WHERE A.CANAL_FINAL=B.CANAL_FINAL AND A.PARTNER_FINAL=B.PARTNER_FINAL

UPDATE #SURA_MOVILIDAD_RATING_FACTORS
SET 
LOADING=1-CASE WHEN ABS(ABS(UTILIDAD)-ABS(COMISION)-ABS(GASTO))>0.5 THEN 0.5 ELSE ABS(ABS(UTILIDAD)-ABS(COMISION)-ABS(GASTO)) END


UPDATE #SURA_MOVILIDAD_RATING_FACTORS
SET
PRIMA_TECNICA_DP_UF		=CASE WHEN LOADING=0 THEN 0 ELSE PR_DP_UF		/LOADING END,
PRIMA_TECNICA_PT_UF		=CASE WHEN LOADING=0 THEN 0 ELSE PR_PT_UF		/LOADING END,
PRIMA_TECNICA_RC_UF		=CASE WHEN LOADING=0 THEN 0 ELSE PR_RC_UF		/LOADING END,
PRIMA_TECNICA_ROBO_UF	=CASE WHEN LOADING=0 THEN 0 ELSE PR_ROBO_UF		/LOADING END,
PRIMA_TECNICA_UF		=CASE WHEN LOADING=0 THEN 0 ELSE PR_RIESGO_UF	/LOADING END,
PRIMA_TECNICA_DP_PESO	=CASE WHEN LOADING=0 THEN 0 ELSE PR_DP			/LOADING END,
PRIMA_TECNICA_PT_PESO	=CASE WHEN LOADING=0 THEN 0 ELSE PR_PT			/LOADING END,
PRIMA_TECNICA_RC_PESO	=CASE WHEN LOADING=0 THEN 0 ELSE PR_RC			/LOADING END,
PRIMA_TECNICA_ROBO_PESO	=CASE WHEN LOADING=0 THEN 0 ELSE PR_ROBO		/LOADING END,
PRIMA_TECNICA_PESO		=CASE WHEN LOADING=0 THEN 0 ELSE PR_RIESGO		/LOADING END




DELETE DUP
FROM (
	SELECT *, DupRank = ROW_NUMBER() OVER (PARTITION BY NNUMDOCU, NNUMITEM, PRORROGA  ORDER BY NNUMDOCU, NNUMITEM, PRORROGA)
	FROM #SURA_MOVILIDAD_RATING_FACTORS
) AS DUP
WHERE DupRank > 1


	   	  


SET @TERMINO= GETDATE()
SET @PASOS= GETDATE()




--*********************************************************************************************
--                                   GUARDO LA BASE
--*********************************************************************************************

DROP TABLE REPORTES.DBO.SURA_MOVILIDAD_RATING_FACTORS
SELECT * INTO REPORTES.DBO.SURA_MOVILIDAD_RATING_FACTORS FROM #SURA_MOVILIDAD_RATING_FACTORS




--*********************************************************************************************
--          GENERO BASE APTP Y USO LOS VALORES DE ESA BASE PARA PERSONAL
--*********************************************************************************************


EXEC ALMACEN_DE_DATOS.DBO.[SP_APTP_PERSONAL_SURA_MOVILIDAD]



UPDATE REPORTES.DBO.SURA_MOVILIDAD_RATING_FACTORS
SET
FREC_DP=B.FREC_DP,
SEV_DP=B.SEV_DP,
FREC_PT=B.FREC_PT,
SEV_PT=B.SEV_PT,
FREC_RC=B.FREC_RC,
SEV_RC=B.SEV_RC,
FREC_ROBO=B.FREC_ROBO,
SEV_ROBO=B.SEV_ROBO,
PR_DP=B.PR_DP,
PR_DP_UF=B.PR_DP_UF,
PR_PT=B.PR_PT,
PR_PT_UF=B.PR_PT_UF,
PR_RC=B.PR_RC,
PR_RC_UF=B.PR_RC_UF,
PR_ROBO=B.PR_ROBO,
PR_ROBO_UF=B.PR_ROBO_UF,
PR_RIESGO=B.PR_RIESGO,
PR_RIESGO_UF=B.PR_RIESGO_UF,
FREC_TOT=B.FREC_TOT,
COMISION=B.COMISION2,
GASTO=B.GASTO2,
LOADING=B.LOADING,
UTILIDAD=B.UTILIDAD,
PRIMA_TECNICA_DP_UF=B.PRIMA_TECNICA_DP_UF,
PRIMA_TECNICA_PT_UF=B.PRIMA_TECNICA_PT_UF,
PRIMA_TECNICA_RC_UF=B.PRIMA_TECNICA_RC_UF,
PRIMA_TECNICA_ROBO_UF=B.PRIMA_TECNICA_ROBO_UF,
PRIMA_TECNICA_UF=B.PRIMA_TECNICA_UF,
PRIMA_TECNICA_DP_PESO=B.PRIMA_TECNICA_DP_PESO,
PRIMA_TECNICA_PT_PESO=B.PRIMA_TECNICA_PT_PESO,
PRIMA_TECNICA_RC_PESO=B.PRIMA_TECNICA_RC_PESO,
PRIMA_TECNICA_ROBO_PESO=B.PRIMA_TECNICA_ROBO_PESO,
PRIMA_TECNICA_PESO=B.PRIMA_TECNICA_PESO
FROM REPORTES.DBO.SURA_MOVILIDAD_RATING_FACTORS A 
LEFT JOIN ALMACEN_DE_DATOS.DBO.BASE_APTP_PERSONAL B
ON A.LINEA_NEGOCIO=B.LINEA_NEGOCIO AND A.NNUMDOCU = B.NNUMDOCU AND A.NNUMITEM = B.NNUMITEM
where B.PRIMA_TECNICA_UF is not null


SET @TERMINO= GETDATE()
SET @PASOS= GETDATE()




WAITFOR DELAY '00:00:02'

SET @TERMINO= GETDATE()
SET @PASOS= GETDATE()



END TRY
BEGIN CATCH
INSERT INTO CANAL_ASESOR.DBO.MOVILIDAD_CONTROL_ERROR
  SELECT 
    ERROR_NUMBER()		AS NUMERO_ERROR,
    ERROR_STATE()		AS ESTADO_ERROR,
    ERROR_SEVERITY()	AS SEVERIDAD_ERROR,
    ERROR_PROCEDURE()	AS NOMBRE_PROCEDIMIENTO,
    ERROR_LINE()		AS LINEA_ERROR,
    ERROR_MESSAGE()		AS MENBSAGE_ERROR,
	GETDATE()			AS TIMESTAMP,
	CURRENT_USER		AS USUARIO_EJECUTA
	;
END CATCH;




