USE [Almacen_de_Datos]
GO

ALTER  PROCEDURE [dbo].[SP_APTP_PERSONAL_SURA_MOVILIDAD]
AS
BEGIN TRY
DECLARE @TERMINO DATETIME
DECLARE @INICIO DATETIME
DECLARE @PASOS DATETIME
SET @INICIO=GETDATE()
SET @PASOS=@INICIO

--+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
SET @TERMINO= GETDATE()
INSERT INTO CANAL_ASESOR.DBO.MOVILIDAD_CONTROL_DE_EJECUCION VALUES ('SP_APTP_PERSONAL_SURA_MOVILIDAD','INICIO',@TERMINO,DATEDIFF(MINUTE,@PASOS,@TERMINO)/60,DATEDIFF(MINUTE,@PASOS,@TERMINO)%60)
SET @PASOS= GETDATE()
--+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++


DROP TABLE IF EXISTS #RATING_FACTORS_PERSONAL_NEW

SELECT * INTO #RATING_FACTORS_PERSONAL_NEW FROM REPORTES.DBO.SURA_MOVILIDAD_RATING_FACTORS WHERE RF_TIPO_PLAN NOT IN ('P_PROV', 'PT', 'ROBO + AP') AND LINEA_NEGOCIO = 'PERSONAL'


SET @TERMINO= GETDATE()
INSERT INTO CANAL_ASESOR.DBO.MOVILIDAD_CONTROL_DE_EJECUCION VALUES ('SP_APTP_PERSONAL_SURA_MOVILIDAD','1 DE 3',@TERMINO,DATEDIFF(MINUTE,@PASOS,@TERMINO)/60,DATEDIFF(MINUTE,@PASOS,@TERMINO)%60)
SET @PASOS= GETDATE()

----------///////////////////////////////////////////////////PERSONAL////////////////////////////////////////////////////

--***********************************************************************
--        EJECUTAR PARA BASE DE CALIBRACION A ROBERTO 
--***********************************************************************

-- EXEC Transaccional.dbo.SP_MI_PRIMA_SINIESTRO_MOTOR_MODEL_P_NM2024

-----------------------------------------------------------------
UPDATE #RATING_FACTORS_PERSONAL_NEW
SET
TIPO_VIGENCIA=
CASE 
	WHEN DATEDIFF(DAY, INICIO_VIGENCIA, TERMINO_VIGENCIA) BETWEEN  21 AND 45  THEN 'MENSUAL'
	WHEN DATEDIFF(DAY, INICIO_VIGENCIA, TERMINO_VIGENCIA) BETWEEN 211 AND 385 THEN 'ANUAL'
	WHEN DATEDIFF(DAY, INICIO_VIGENCIA, TERMINO_VIGENCIA) BETWEEN 386 AND 750 THEN 'BIENAL'
	ELSE 'OTRA'
END


-------------------------------------------LOADING
UPDATE #RATING_FACTORS_PERSONAL_NEW
SET
CANAL_PYG = 
CASE 
	WHEN CANAL_PYG = 'AFFINITY' THEN 'AFF'
	WHEN CANAL_PYG = 'CANAL DIRECTO' THEN 'DIR'
	WHEN CANAL_PYG = 'CORPORATIVO' THEN 'LBR'
	WHEN CANAL_PYG = 'CANAL ASESOR' THEN 'ASC'
	WHEN CANAL_PYG = 'PYME' THEN 'EYP'
	WHEN CANAL_PYG = 'UNDEFINED' THEN 'UND'
	ELSE CANAL_PYG
END
WHERE CANAL_PYG IN ('AFFINITY','CANAL DIRECTO','CORPORATIVO','CANAL ASESOR','PYME','UNDEFINED')

------------------------------
-----LOADING Y PRIMA TECNICA
------------------------------

-- INSERTO LOS LOADING DEL PLAN 2024 --

--TRUNCATE TABLE LOADINGS_PLAN_2024


--TRUNCATE TABLE LOADINGS_PLAN_2025

-- LOADING PLAN
---- LOADING PLAN + LOADINGS YTD junio 25 Y COR DIC-25
--INSERT INTO LOADINGS_PLAN_2025 (BU, CANAL, gasto, comision, TARGET_COR)
--VALUES
--('AFF',  'FALABELLA',				0.16216 ,	0.22034,	0.94604),
--('AFF',  'SANTANDER CORREDORA',		0.16699 ,	0.22136 ,	0.92300), --COR promedio de los ultimos 8 meses
--('AFF',  'COMPARA',					0.17523,	0.27658 ,	0.98964),
--('AFF',  'RIPLEY',					0.16275 ,	0.54189 ,	1.07500), --COR promedio de los ultimos 6 meses 
--('AFF',  'CENCOSUD',				0.17525 ,	0.26492,	0.85857),
--('AFF',  'AFF RESTO',				0.22927,	0.25693,	1.01521),
--('DIR',  'DIR',						0.51326 ,	0.14510 ,	1.16916),
--('EYP',  'EYP',						0.61078 ,	 0.17462,	1.36628),
--('ASC',  'CAS',						0.37197 ,	0.18086,	1.04909),
--('LBR',  'LBR',						1.11287 ,	0.12356 ,	1.09870);
--SELECT * FROM LOADINGS_PLAN_2025

---- LOADING PLAN + LOADINGS YTD agosto 25 Y COR DIC-25
--INSERT INTO LOADINGS_PLAN_2025 (BU, CANAL, gasto, comision, TARGET_COR)
--VALUES
--('AFF',  'FALABELLA',				0.18587 ,	0.22117,	0.96093), -- actualizado ago-25
--('AFF',  'SANTANDER CORREDORA',		0.18960 ,	0.22417,	0.93390), -- actualizado ago-25
--('AFF',  'COMPARA',					0.19453,	0.28017,	1.01871), -- actualizado ago-25
--('AFF',  'RIPLEY',					0.17928 ,	0.53924,	1.10365), -- actualizado ago-25
--('AFF',  'CENCOSUD',				0.20944 ,	0.25638,	0.86603), -- actualizado ago-25
--('AFF',  'AFF RESTO',				0.16578,	0.24139,	0.90717), 
--('DIR',  'DIR',						0.54892 ,	0.06690,	1.20000), -- actualizado ago-25
--('EYP',  'EYP',						0.60563 ,	0.18073,	1.38692), -- actualizado ago-25
--('ASC',  'CAS',						0.37197 ,	0.18086,	1.04909),
--('LBR',  'LBR',						1.15508 ,	0.13988,	1.17871); -- actualizado ago-25

--SELECT * FROM LOADINGS_PLAN_2025


DROP TABLE IF EXISTS  #RATING_FACTORS_PERSONAL_NEW2

SELECT a.*, b.GASTO AS GASTO2, b.COMISION AS COMISION2, B.TARGET_COR
INTO #RATING_FACTORS_PERSONAL_NEW2
FROM #RATING_FACTORS_PERSONAL_NEW a
LEFT JOIN (SELECT * FROM almacen_de_datos.dbo.LOADINGS_PLAN_2025 WHERE BU NOT IN ('AFF'))  b                      --------------------> plan 2025
ON A.CANAL_PYG=B.BU


UPDATE #RATING_FACTORS_PERSONAL_NEW2
SET
PARTNER_FINAL = partner_pyg
FROM #RATING_FACTORS_PERSONAL_NEW2 


UPDATE #RATING_FACTORS_PERSONAL_NEW2
SET
PARTNER_FINAL = 
CASE 
	WHEN CANAL_PYG = 'DIR' THEN 'DIR'
	WHEN CANAL_PYG = 'EYP' THEN 'EYP'
	WHEN CANAL_PYG = 'ASC' THEN 'ASC'
	WHEN CANAL_PYG = 'LBR' THEN 'LBR'
	ELSE PARTNER_FINAL
END
WHERE CANAL_PYG IN ('DIR','EYP','ASC','LBR')


UPDATE #RATING_FACTORS_PERSONAL_NEW2
SET
GASTO2	= B.GASTO,
COMISION2 = B.COMISION,
TARGET_COR = B.TARGET_COR
FROM #RATING_FACTORS_PERSONAL_NEW2 A, almacen_de_datos.dbo.LOADINGS_PLAN_2025 B               --------------------> plan 2025
WHERE A.PARTNER_FINAL=B.CANAL AND A.CANAL_PYG = 'AFF'


UPDATE #RATING_FACTORS_PERSONAL_NEW2
SET
GASTO2	= B.GASTO,
COMISION2 = B.COMISION,
TARGET_COR = B.TARGET_COR
FROM #RATING_FACTORS_PERSONAL_NEW2 A, almacen_de_datos.dbo.LOADINGS_PLAN_2025 B                --------------------> plan 2025
WHERE B.CANAL = 'AFF RESTO' AND A.CANAL_PYG = 'AFF' AND A.GASTO2 IS NULL


UPDATE  #RATING_FACTORS_PERSONAL_NEW2
SET 
UTILIDAD = 0.0,
LOADING = TARGET_COR - (COMISION2 + GASTO2)


/*** sin ajustes extras ***/

UPDATE #RATING_FACTORS_PERSONAL_NEW2
SET
PRIMA_TECNICA_DP_UF		=CASE WHEN LOADING=0 THEN 0 ELSE PR_DP_UF		/LOADING END,
PRIMA_TECNICA_PT_UF		=CASE WHEN LOADING=0 THEN 0 ELSE PR_PT_UF		/LOADING END,
PRIMA_TECNICA_RC_UF		=CASE WHEN LOADING=0 THEN 0 ELSE PR_RC_UF		/LOADING END,
PRIMA_TECNICA_ROBO_UF	=CASE WHEN LOADING=0 THEN 0 ELSE PR_ROBO_UF	    /LOADING END,
PRIMA_TECNICA_UF		=CASE WHEN LOADING=0 THEN 0 ELSE PR_RIESGO_UF	/LOADING END,

PRIMA_TECNICA_DP_PESO	=0,
PRIMA_TECNICA_PT_PESO	=0,
PRIMA_TECNICA_RC_PESO	=0,
PRIMA_TECNICA_ROBO_PESO	=0,
PRIMA_TECNICA_PESO		=0
--


SET @TERMINO= GETDATE()
INSERT INTO CANAL_ASESOR.DBO.MOVILIDAD_CONTROL_DE_EJECUCION VALUES ('SP_APTP_PERSONAL_SURA_MOVILIDAD','2 DE 3',@TERMINO,DATEDIFF(MINUTE,@PASOS,@TERMINO)/60,DATEDIFF(MINUTE,@PASOS,@TERMINO)%60)
SET @PASOS= GETDATE()

--------------------------------------------------------------------------------------------------------
------------------------        actualizo planes seg_X_KM       ----------------------------------------
--------------------------------------------------------------------------------------------------------

UPDATE #RATING_FACTORS_PERSONAL_NEW2
SET
	TIPO_PLAN_LLAVE = 'SEG_X_KM'
WHERE 
	CODIGO_PLAN_TECNICO IN (5709,
	5710,5711,5712,5951,5952,5953,5954,5955,5956,5957,5958,5959,5960,5961,5962,5963,5964,5965,5966,5967,5968,5969,5970,5971,5972,5973,5974,5975,5976,
	5977,5978,5979,5980,5981,5982,5983,5984,5985,5986,6002,6091,6092,6093,6094,6095,6096,6097,6098,6099,6100,6101,6102,6103,6104,6105,6106,6107,6108,
	6109,6110,6111,6112,6113,6114,6145,6146,6147,6148,6149,6150,6151,6152,6153,6154,6155,6156,6465,6479,6480,6481,6677,6678,6679,6680,6681,6682,6957,
	6958,6959,6960,6991,6992,6993,6994,7009,7010,7011,7012,7013,7014,7015,7016,7017,7018,7019,7020,7080,7081,7082,7083,7181,7183,7184,7185,7186,7187,
	7188,7189,7190,7191,7192,7193,7294,7295,7296,7297,7349,7350,7351,7352,7353,7354,7355,7356,7357,7358,7359,7360,7361,7362,7363,7364,7365,7366,7367,
	7368,7369,7370,7371,7372,7373,7374,7375,7376,7377,7378,7379,7380,7381,7382,7383,7384,7385,7468,7469,7470,7471,7472,7473,7474,7475,7476,7477,7478,
	7479,7486,7487,7488,7489,7502,7503,7504,7505,7506,7507,7508,7509,7518,7519,7520,7521,7522,7523,7524,7525,7526,7527,7528,7529,7598,7599,7600,7601,
	8170,8171,8172,8173,8174,8175,8176,8177,8178,8179,8180,8181,8182,8183,8184,8185,8186,8187,8188,8189,8190,8191,8192,8193,8194,8195,8196,8197,8198,
	8199,8200,8201,8202,8203,8204,8205,8206,8440,8442,8443,8445,8446,8447,8448,8449,8450,8451,8452,8453,8454,8455,8456,8457,8458,8459,8460,8461,8462,
	8529,8623,8624,8625,8626)

   
 -------------------------------------------------------------------------------------------------------
------------------------          anualizamos primas         ----------------------------------------
-------------------------------------------------------------------------------------------------------

DROP TABLE IF EXISTS #RATING_FACTORS_PERSONAL_NEW3

SELECT 
	*, 
	VIGENCIA_CALCULADA = DATEDIFF(DAY, INICIO_VIGENCIA, TERMINO_VIGENCIA_REAL),
	PRIMA_UF_ANUAL = PRIMA_UF
INTO #RATING_FACTORS_PERSONAL_NEW3
FROM #RATING_FACTORS_PERSONAL_NEW2
WHERE DATEDIFF(DAY, INICIO_VIGENCIA, TERMINO_VIGENCIA_REAL) >0 

UPDATE #RATING_FACTORS_PERSONAL_NEW3
SET
PRIMA_UF_ANUAL = (PRIMA_UF/VIGENCIA_CALCULADA)*365


-- AGREGO NUEVA VARIABLE DE SEGUIMIENTO AL TRASPASO DE LA CARTERA DE MOK

alter table #RATING_FACTORS_PERSONAL_NEW3
add TRASPASOS nvarchar(20) null;

UPDATE #RATING_FACTORS_PERSONAL_NEW3
SET
	TRASPASOS = CASE WHEN CODIGO_PLAN_TECNICO IN (8289, 8291 ,8292, 8293, 8294, 8295, 8296) THEN 'MOK' END


 -------------------------------------------------------------------------------------------------------
--------------   AGREGO MARCA NUEVA RENOVADA DESDE EL PROCESO ANTIGUO   --------------------------------
--------------------------------------------------------------------------------------------------------

alter table #RATING_FACTORS_PERSONAL_NEW3
add NUEVA_RENOVADA_OLD nvarchar(20) null;

UPDATE #RATING_FACTORS_PERSONAL_NEW3
SET
	NUEVA_RENOVADA_OLD = nueva_renov2
FROM #RATING_FACTORS_PERSONAL_NEW3 A
LEFT JOIN (SELECT NNUMDOCU, NNUMITEM, Max(nueva_renov) nueva_renov2 FROM Transaccional.dbo.Tablero_Motor GROUP BY NNUMDOCU, NNUMITEM) B 
ON A.NNUMDOCU = B.NNUMDOCU AND A.NNUMITEM = B.NNUMITEM


UPDATE #RATING_FACTORS_PERSONAL_NEW3
SET
NUEVA_RENOVADA_OLD = NUEVA_RENOVADA
WHERE NUEVA_RENOVADA_OLD is null


/*******************************************************************************************/
--                 GENERO LA MARCA MAS ROBADOS Y GUARDO LA TABLA 
/*******************************************************************************************/

DROP TABLE IF EXISTS ALMACEN_DE_DATOS.DBO.BASE_APTP_PERSONAL

SELECT *,
CASE WHEN

	(rtrim(MARCA) = 'CHEVROLET'	 and  rtrim(MODELO) LIKE '%GROOVE%')
	or (rtrim(MARCA) = 'FORD'		 and  rtrim(MODELO) LIKE '%F%150%' OR rtrim(MODELO) LIKE '%TERRITORY%')
	or (rtrim(MARCA) = 'HYUNDAI'	 and  rtrim(MODELO) LIKE '%ACCENT%')
	or (rtrim(MARCA) = 'JEEP'		 and  rtrim(MODELO) LIKE '%GRAND CHEROKEE%')
	or (rtrim(MARCA) = 'KIA MOTORS'  and  rtrim(MODELO) LIKE '%FRONTIER%' OR rtrim(MODELO) LIKE '%SOLUTO%')
	or (rtrim(MARCA) = 'MAZDA'		 and  rtrim(MODELO) LIKE '%3%' AND rtrim(MODELO) NOT LIKE '%[A-Z0-9-]3%' AND rtrim(MODELO) NOT LIKE '%.3%')
	or (rtrim(MARCA) = 'MITSUBISHI'  and  rtrim(MODELO) LIKE '%L-200%' OR rtrim(MODELO) LIKE '%MONTERO%')
	or (rtrim(MARCA) = 'NISSAN'		 and  rtrim(MODELO) IN ('KICKS','VERSA'))
	or (rtrim(MODELO) LIKE '%FORTUNER%' OR rtrim(MODELO) LIKE '%HI%LUX%' OR rtrim(MODELO) LIKE '%LAND CRUISER%')
	THEN 'MAS ROBADO' 
	ELSE 'REGULAR'
END AS MAS_ROBADOS 
INTO ALMACEN_DE_DATOS.DBO.BASE_APTP_PERSONAL 
FROM #RATING_FACTORS_PERSONAL_NEW3


DELETE FROM ALMACEN_DE_DATOS.DBO.BASE_APTP_PERSONAL
WHERE	
	PARTNER_PYG = 'FALABELLA'
	AND (RAMO_KEIRA_PRINCIPAL <> 'MOTOR  ')

	   	 
--SELECT * FROM ALMACEN_DE_DATOS.DBO.BASE_APTP_PERSONAL


/*******************************************************************************************/
--				GENERO LA BASE HERRAMIENTA RETENCIÓN
/*******************************************************************************************/

DROP TABLE REPORTES.DBO.BASE_APTP_RETENCION

SELECT NNUMDOCU, NNUMITEM, PRIMA_TECNICA_UF, prima_uf_anual INTO REPORTES.DBO.BASE_APTP_RETENCION FROM ALMACEN_DE_DATOS.DBO.BASE_APTP_PERSONAL WHERE VIGENTE = 1


EXEC ALMACEN_DE_DATOS.DBO.[SP_VIGENTES_COTIZANTES]


SET @TERMINO= GETDATE()
INSERT INTO CANAL_ASESOR.DBO.MOVILIDAD_CONTROL_DE_EJECUCION VALUES ('SP_APTP_PERSONAL_SURA_MOVILIDAD','3 DE 3',@TERMINO,DATEDIFF(MINUTE,@PASOS,@TERMINO)/60,DATEDIFF(MINUTE,@PASOS,@TERMINO)%60)
SET @PASOS= GETDATE()


/*******************************************************************************************/
--				GENERO LA BASE AGRUPADA PARA EL PBI SEMANAL
/*******************************************************************************************/

--LUNES COMO PRIMER DIA DE LA SEMANA
set datefirst 1;

DROP TABLE IF EXISTS PBI_APTP_NEW_SEMANAL_NM2024

SELECT 
	--YEAR(INICIO_VIGENCIA)*100+MONTH(INICIO_VIGENCIA) PERIODO
	FORMAT(INICIO_VIGENCIA, 'yyyy-MM') + '-' + RIGHT('0' + CAST(DATEPART(WEEK,INICIO_VIGENCIA) - DATEPART(WEEK,DATEADD(MONTH, DATEDIFF(MONTH, 0, INICIO_VIGENCIA), 0)) + 1 AS VARCHAR(2)), 2) AS PERIODO_SEMANAL_INI
	,FORMAT(FECHA_FIRMA_POLIZA, 'yyyy-MM') + '-' + RIGHT('0' + CAST(DATEPART(WEEK,FECHA_FIRMA_POLIZA) - DATEPART(WEEK,DATEADD(MONTH, DATEDIFF(MONTH, 0, FECHA_FIRMA_POLIZA), 0)) + 1 AS VARCHAR(2)), 2) AS PERIODO_SEMANAL_FIRMA
	,TIPO_NEGOCIO	
	,CANAL_PYG AS CANAL_FINAL
	,PARTNER_PYG AS PARTNER_FINAL
	,CHANNEL
	,CANAL_GOL
	,MARCA_ROBADO AS IND_MAS_ROBADOS
	,TIPO_PLAN
	,RF_TOP100_2024
	,NUEVA_RENOVADA_OLD AS NUEVA_RENOVADA
	,TIPO_VIGENCIA AS VIGENCIA
	--,DEDUCIBLE
	,CAST(IIF(DEDUCIBLE IN ('N/A', 'N/I'),-1,DEDUCIBLE) AS int) AS DEDUCIBLE_NUMERO
	,TIPO_PLAN_LLAVE
	,RF_TIPO_VEHICULO AS TIPO_VEHICULO
	,SUM(COMISION2)															AS COMISION
	,CAST(SUM(COMISION2*PRIMA_UF_ANUAL) AS NUMERIC(10,4))                   AS COMISION2
	,SUM(GASTO2*PRIMA_UF_ANUAL)							                    AS GASTO
	,AVG(TARGET_COR)														AS TARGET_COR
--	,SUM(UTILIDAD*PRIMA_TECNICA_UF)                                         AS UTILIDAD
	,CAST(SUM(PRIMA_UF_ANUAL) AS NUMERIC(10,4))  					   		AS P_EMI
	,SUM(PRIMA_TECNICA_UF)											    	AS P_TEC
	,CAST(SUM(PR_RIESGO_UF)	AS NUMERIC(10,4))	   						    AS P_RIE
	,COUNT(*)																AS RIESGOS
	,SUM(EXP_AÑO)                                                           AS EXPUESTOS
	,'OTRO' AS NUEVA_RENOVADA_OLD
	,MARCA
	,MODELO	
	,TRASPASOS
	,RTRIM(MARCA) + ' - ' + RTRIM(MODELO)									AS MARCA_MODELO
	,AÑO
	,RF_EDAD
	,EDAD_CLIENTES_2
	,RF_EDAD_NOW
	,RF_SINI_TOT_0_36
	,RUT_INTERMEDIARIO
	,INTERMEDIARIO
INTO PBI_APTP_NEW_SEMANAL_NM2024
FROM ALMACEN_DE_DATOS.DBO.BASE_APTP_PERSONAL
WHERE 
	--YEAR(INICIO_VIGENCIA)*100+MONTH(INICIO_VIGENCIA) > 202300
	--AND YEAR(INICIO_VIGENCIA)*100+MONTH(INICIO_VIGENCIA) <= YEAR(GETDATE())*100+MONTH(GETDATE())
	YEAR(FECHA_FIRMA_POLIZA)*100+MONTH(FECHA_FIRMA_POLIZA) > 202300
	AND YEAR(FECHA_FIRMA_POLIZA)*100+MONTH(FECHA_FIRMA_POLIZA) <= YEAR(GETDATE())*100+MONTH(GETDATE())
	AND PRIMA_UF<>0
    AND EXP_AÑO <> 0
	and PR_RIESGO_UF <> 0
	AND IND_ANULACION_CALCULADA = 0
	AND TIPO_VIGENCIA NOT IN ('OTRA')
	and PRIMA_UF_ANUAL < 200
	and PRIMA_UF_ANUAL > 0
--	AND RAMO_KEIRA_PRINCIPAL = 'MOTOR  '                                           
--	AND FILTRO_RIESGO = 'VEHICULO'
GROUP BY 
	FORMAT(INICIO_VIGENCIA, 'yyyy-MM') + '-' + RIGHT('0' + CAST(DATEPART(WEEK,INICIO_VIGENCIA) - DATEPART(WEEK,DATEADD(MONTH, DATEDIFF(MONTH, 0, INICIO_VIGENCIA), 0)) + 1 AS VARCHAR(2)), 2)
	,FORMAT(FECHA_FIRMA_POLIZA, 'yyyy-MM') + '-' + RIGHT('0' + CAST(DATEPART(WEEK,FECHA_FIRMA_POLIZA) - DATEPART(WEEK,DATEADD(MONTH, DATEDIFF(MONTH, 0, FECHA_FIRMA_POLIZA), 0)) + 1 AS VARCHAR(2)), 2)
	,TIPO_NEGOCIO	
	,CANAL_PYG
	,PARTNER_PYG
	,CHANNEL
	,CANAL_GOL
	,MARCA_ROBADO
	,TIPO_PLAN
	,RF_TOP100_2024
	,TIPO_PLAN_LLAVE
	,TRASPASOS
	,NUEVA_RENOVADA_OLD
	,MARCA
	,MODELO
	,TIPO_VIGENCIA
	--,DEDUCIBLE
	,CAST(IIF(DEDUCIBLE IN ('N/A', 'N/I'),-1,DEDUCIBLE) AS int)
	,RF_TIPO_VEHICULO
	,RTRIM(MARCA) + ' - ' + RTRIM(MODELO)
	,AÑO
	,RF_EDAD
	,EDAD_CLIENTES_2
	,RF_EDAD_NOW
	,RF_SINI_TOT_0_36
	,RUT_INTERMEDIARIO
	,INTERMEDIARIO
ORDER BY 
	PERIODO_SEMANAL_FIRMA


/*******************************************************************************************/
--				GENERO LA BASE AGRUPADA PARA EL PBI MENSUAL (emisión)
/*******************************************************************************************/

DROP TABLE IF EXISTS PBI_APTP_NEW_FFP_NM2024

SELECT 
	YEAR(FECHA_FIRMA_POLIZA)*100+MONTH(FECHA_FIRMA_POLIZA) PERIODO
	,TIPO_NEGOCIO	
	,CANAL_PYG AS CANAL_FINAL
	,PARTNER_PYG AS PARTNER_FINAL
	,CHANNEL
	,CANAL_GOL
	,MARCA_ROBADO AS IND_MAS_ROBADOS
	,TIPO_PLAN
	,RF_TOP100_2024
	,NUEVA_RENOVADA_OLD AS NUEVA_RENOVADA
	,TIPO_VIGENCIA AS VIGENCIA
	--,DEDUCIBLE
	,CAST(IIF(DEDUCIBLE IN ('N/A', 'N/I'),-1,DEDUCIBLE) AS int) AS DEDUCIBLE_NUMERO
	,TIPO_PLAN_LLAVE
	,RF_TIPO_VEHICULO AS TIPO_VEHICULO
	,SUM(COMISION2)															AS COMISION
	,CAST(SUM(COMISION2*PRIMA_UF_ANUAL) AS NUMERIC(10,4))                   AS COMISION2
	,SUM(GASTO2*PRIMA_UF_ANUAL)							                    AS GASTO
	,AVG(TARGET_COR)														AS TARGET_COR
	,CAST(SUM(PRIMA_UF_ANUAL) AS NUMERIC(10,4))  					   		AS P_EMI
	,SUM(PRIMA_TECNICA_UF)											    	AS P_TEC
	,CAST(SUM(PR_RIESGO_UF)	AS NUMERIC(10,4))	   						    AS P_RIE
	,COUNT(*)																AS RIESGOS
	,SUM(EXP_AÑO)                                                           AS EXPUESTOS
	,'OTRO' AS NUEVA_RENOVADA_OLD
	,MARCA
	,MODELO	
	,TRASPASOS
	,RTRIM(MARCA) + ' - ' + RTRIM(MODELO)									AS MARCA_MODELO
	,AÑO
	,RF_EDAD
	,EDAD_CLIENTES_2
	,RF_EDAD_NOW
	,RF_SINI_TOT_0_36
	,RUT_INTERMEDIARIO
	,INTERMEDIARIO
INTO PBI_APTP_NEW_FFP_NM2024
FROM ALMACEN_DE_DATOS.DBO.BASE_APTP_PERSONAL
WHERE 
	YEAR(FECHA_FIRMA_POLIZA)*100+MONTH(FECHA_FIRMA_POLIZA) > 202300
	AND YEAR(FECHA_FIRMA_POLIZA)*100+MONTH(FECHA_FIRMA_POLIZA) <= YEAR(GETDATE())*100+MONTH(GETDATE())
	AND PRIMA_UF<>0
    AND EXP_AÑO <> 0
	and PR_RIESGO_UF <> 0
	AND IND_ANULACION_CALCULADA = 0
	AND TIPO_VIGENCIA NOT IN ('OTRA')
	and PRIMA_UF_ANUAL < 200
	and PRIMA_UF_ANUAL > 0
--	AND RAMO_KEIRA_PRINCIPAL = 'MOTOR  '                                           
--	AND FILTRO_RIESGO = 'VEHICULO'
GROUP BY 
	YEAR(FECHA_FIRMA_POLIZA)*100+MONTH(FECHA_FIRMA_POLIZA) 
	,TIPO_NEGOCIO	
	,CANAL_PYG
	,PARTNER_PYG
	,CHANNEL
	,CANAL_GOL
	,MARCA_ROBADO
	,TIPO_PLAN
	,RF_TOP100_2024
	,TIPO_PLAN_LLAVE
	,TRASPASOS
	,NUEVA_RENOVADA_OLD
	,MARCA
	,MODELO
	,TIPO_VIGENCIA
	--,DEDUCIBLE
	,CAST(IIF(DEDUCIBLE IN ('N/A', 'N/I'),-1,DEDUCIBLE) AS int)
	,RF_TIPO_VEHICULO
	,RTRIM(MARCA) + ' - ' + RTRIM(MODELO)
	,AÑO
	,RF_EDAD
	,EDAD_CLIENTES_2
	,RF_EDAD_NOW
	,RF_SINI_TOT_0_36
	,RUT_INTERMEDIARIO
	,INTERMEDIARIO



/*******************************************************************************************/
--				GENERO LA BASE AGRUPADA PARA EL PBI MENSUAL (inicio vigencia)
/*******************************************************************************************/

DROP TABLE IF EXISTS PBI_APTP_NEW_FIV_NM2024


SELECT 
	YEAR(INICIO_VIGENCIA)*100+MONTH(INICIO_VIGENCIA) PERIODO
	,TIPO_NEGOCIO	
	,CANAL_PYG AS CANAL_FINAL
	,PARTNER_PYG AS PARTNER_FINAL
	,CHANNEL
	,CANAL_GOL
	,MARCA_ROBADO AS IND_MAS_ROBADOS
	,TIPO_PLAN
	,RF_TOP100_2024
	,NUEVA_RENOVADA_OLD AS NUEVA_RENOVADA
	,TIPO_VIGENCIA AS VIGENCIA
	--,DEDUCIBLE
	,CAST(IIF(DEDUCIBLE IN ('N/A', 'N/I'),-1,DEDUCIBLE) AS int) AS DEDUCIBLE_NUMERO
	,TIPO_PLAN_LLAVE
	,RF_TIPO_VEHICULO AS TIPO_VEHICULO
	,SUM(COMISION2)															AS COMISION
	,CAST(SUM(COMISION2*PRIMA_UF_ANUAL) AS NUMERIC(10,4))                   AS COMISION2
	,SUM(GASTO2*PRIMA_UF_ANUAL)							                    AS GASTO
	,AVG(TARGET_COR)														AS TARGET_COR
	,CAST(SUM(PRIMA_UF_ANUAL) AS NUMERIC(10,4))  					   		AS P_EMI
	,SUM(PRIMA_TECNICA_UF)											    	AS P_TEC
	,CAST(SUM(PR_RIESGO_UF)	AS NUMERIC(10,4))	   						    AS P_RIE
	,COUNT(*)																AS RIESGOS
	,SUM(EXP_AÑO)                                                           AS EXPUESTOS
	,'OTRO' AS NUEVA_RENOVADA_OLD
	,MARCA
	,MODELO	
	,TRASPASOS
	,RTRIM(MARCA) + ' - ' + RTRIM(MODELO)									AS MARCA_MODELO
	,AÑO
	,RF_EDAD
	,EDAD_CLIENTES_2
	,RF_EDAD_NOW
	,RF_SINI_TOT_0_36
	,RUT_INTERMEDIARIO
	,INTERMEDIARIO
INTO PBI_APTP_NEW_FIV_NM2024
FROM ALMACEN_DE_DATOS.DBO.BASE_APTP_PERSONAL
WHERE 
	YEAR(INICIO_VIGENCIA)*100+MONTH(INICIO_VIGENCIA) > 202300
	AND YEAR(INICIO_VIGENCIA)*100+MONTH(INICIO_VIGENCIA) <= YEAR(GETDATE())*100+MONTH(GETDATE())
	AND PRIMA_UF<>0
    AND EXP_AÑO <> 0
	and PR_RIESGO_UF <> 0
	AND IND_ANULACION_CALCULADA = 0
	AND TIPO_VIGENCIA NOT IN ('OTRA')
	and PRIMA_UF_ANUAL < 200
	and PRIMA_UF_ANUAL > 0
--	AND RAMO_KEIRA_PRINCIPAL = 'MOTOR  '                                           
--	AND FILTRO_RIESGO = 'VEHICULO'
GROUP BY 
	YEAR(INICIO_VIGENCIA)*100+MONTH(INICIO_VIGENCIA) 
	,TIPO_NEGOCIO	
	,CANAL_PYG
	,PARTNER_PYG
	,CHANNEL
	,CANAL_GOL
	,MARCA_ROBADO
	,TIPO_PLAN
	,RF_TOP100_2024
	,TIPO_PLAN_LLAVE
	,TRASPASOS
	,NUEVA_RENOVADA_OLD
	,MARCA
	,MODELO
	,TIPO_VIGENCIA
	--,DEDUCIBLE
	,CAST(IIF(DEDUCIBLE IN ('N/A', 'N/I'),-1,DEDUCIBLE) AS int)
	,RF_TIPO_VEHICULO
	,RTRIM(MARCA) + ' - ' + RTRIM(MODELO)
	,AÑO
	,RF_EDAD
	,EDAD_CLIENTES_2
	,RF_EDAD_NOW
	,RF_SINI_TOT_0_36
	,RUT_INTERMEDIARIO
	,INTERMEDIARIO



	   	 
WAITFOR DELAY '00:00:02'

SET @TERMINO= GETDATE()
SET @PASOS= GETDATE()


END TRY
BEGIN CATCH
INSERT INTO CANAL_ASESOR.DBO.MOVILIDAD_CONTROL_ERROR
  SELECT 
    ERROR_NUMBER()		AS NUMERO_ERROR,
    ERROR_STATE()		AS ESTADO_ERROR,
    ERROR_SEVERITY()	AS SEVERIDAD_ERROR,
    ERROR_PROCEDURE()	AS NOMBRE_PROCEDIMIENTO,
    ERROR_LINE()		AS LINEA_ERROR,
    ERROR_MESSAGE()		AS MENBSAGE_ERROR,
	GETDATE()			AS TIMESTAMP,
	CURRENT_USER		AS USUARIO_EJECUTA
	;
END CATCH;


/*******************************************************************************************************************/
--                           query para validar emisiones en fechas específicas
/*******************************************************************************************************************/

/*

SELECT AVG(PRIMA_UF), COUNT(*) FROM ALMACEN_DE_DATOS.DBO.BASE_APTP_PERSONAL
WHERE 
	PARTNER_PYG = 'FALABELLA'
AND TIPO_PLAN = 'FULL'
AND VIGENCIA = 'ANUAL'
AND FECHA_FIRMA_POLIZA >= '2024-10-01'  
--AND MARCA = 'PEUGEOT'
--AND MODELO LIKE '%3008%'
AND NUEVA_RENOVADA = 'NUEVA'
AND RAMO_KEIRA_PRINCIPAL = 'MOTOR  '                                           
AND FILTRO_RIESGO = 'VEHICULO'


SELECT AVG(PRIMA_UF), COUNT(*) FROM  ALMACEN_DE_DATOS.DBO.BASE_APTP_PERSONAL
WHERE 
	PARTNER_PYG = 'FALABELLA'
AND TIPO_PLAN = 'FULL'
AND VIGENCIA = 'ANUAL'
AND FECHA_FIRMA_POLIZA >= '2024-10-01' AND  FECHA_FIRMA_POLIZA <= '2024-10-05'
--AND MARCA = 'PEUGEOT'
--AND MODELO LIKE '%3008%'
AND NUEVA_RENOVADA = 'NUEVA'
AND RAMO_KEIRA_PRINCIPAL = 'MOTOR  '                                           
AND FILTRO_RIESGO = 'VEHICULO'


SELECT AVG(PRIMA_UF), COUNT(*) FROM  ALMACEN_DE_DATOS.DBO.BASE_APTP_PERSONAL
WHERE 
	PARTNER_PYG = 'FALABELLA'
AND TIPO_PLAN = 'FULL'
AND VIGENCIA = 'ANUAL'
AND FECHA_FIRMA_POLIZA >= '2024-10-14' AND  FECHA_FIRMA_POLIZA <= '2024-10-20'
--AND MARCA = 'PEUGEOT'
--AND MODELO LIKE '%3008%'
AND NUEVA_RENOVADA = 'NUEVA'
AND RAMO_KEIRA_PRINCIPAL = 'MOTOR  '                                           
AND FILTRO_RIESGO = 'VEHICULO'


SELECT COUNT(*) FROM ALMACEN_DE_DATOS.DBO.BASE_APTP_PERSONAL
WHERE 
	PARTNER_PYG = 'FALABELLA'
AND TIPO_PLAN = 'FULL'
AND VIGENCIA = 'ANUAL'
AND FECHA_FIRMA_POLIZA >= '2024-10-01'  
--AND MARCA = 'PEUGEOT'
--AND MODELO LIKE '%3008%'
AND NUEVA_RENOVADA = 'NUEVA'
AND RAMO_KEIRA_PRINCIPAL = 'MOTOR  '                                           
AND FILTRO_RIESGO = 'VEHICULO'


SELECT * FROM ALMACEN_DE_DATOS.DBO.BASE_APTP_PERSONAL
WHERE 
	PARTNER_PYG = 'FALABELLA'
AND TIPO_PLAN = 'FULL'
AND VIGENCIA = 'ANUAL'
AND FECHA_FIRMA_POLIZA >= '2024-10-01'  
--AND MARCA = 'PEUGEOT'
--AND MODELO LIKE '%3008%'
AND NUEVA_RENOVADA = 'NUEVA'

*/







