USE [Almacen_de_Datos]
GO

ALTER   PROCEDURE [dbo].[PYG_V2]
AS
BEGIN TRY
DECLARE 
	@TABLA NVARCHAR(128),
	@TERMINO DATETIME,
	@INICIO DATETIME,
	@PASOS DATETIME

SET @INICIO=GETDATE()
SET @PASOS=@INICIO

SET @TABLA=(SELECT YEAR(DATEADD(MONTH,1,MAX(CIERRE)))*100+MONTH(DATEADD(MONTH,1,MAX(CIERRE))) FROM PYG_FINAL)
--SET @TABLA='202501'

DECLARE @TABLA_MARCA NVARCHAR(20) = @TABLA

--+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
SET @TERMINO= GETDATE()
--INSERT INTO TRANSACCIONAL.DBO.MOVILIDAD_CONTROL_DE_EJECUCION_TEST VALUES ('PYG - '+@TABLA_MARCA,'INICIO',@TERMINO,DATEDIFF(MINUTE,@PASOS,@TERMINO)/60,DATEDIFF(MINUTE,@PASOS,@TERMINO)%60,CURRENT_USER)
INSERT INTO CANAL_ASESOR.DBO.MOVILIDAD_CONTROL_DE_EJECUCION VALUES ('PYG - '+@TABLA_MARCA,'INICIO',@TERMINO,DATEDIFF(MINUTE,@PASOS,@TERMINO)/60,DATEDIFF(MINUTE,@PASOS,@TERMINO)%60)
SET @PASOS= GETDATE()
--+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
--select top 1000 * from SGF1016.BVP_V3.dbo.VW_BROKERVALUEPROPOSITION_INFORME_202404_CUBO where canal like '%ripl%'

SET @TABLA='BVP_V3.dbo.VW_BROKERVALUEPROPOSITION_INFORME_'+@TABLA+'_CUBO'

DECLARE @Sql NVARCHAR(MAX)

TRUNCATE TABLE PYG_BASE

SET @Sql = 'SELECT distinct * FROM OPENQUERY(SGF1016,''
SELECT 
CONVERT(DATE,PERIODO_CONTABLE)	AS CIERRE,
UPPER(TIPOLEVEL)				AS TIPOLEVEL,
UPPER(CODSUBCONC)				AS CODSUBCONC,
UPPER(CONCNOMBRETOTAL)			AS CONCNOMBRETOTAL,
UPPER(CONCNOMBRE)				AS CONCNOMBRE,
UPPER(CONCSUBNOMBRE)			AS CONCSUBNOMBRE,
UPPER(LINEANEGOCIO_KEIRA)		AS LINEANEGOCIO_KEIRA,
RAMOCONTABLE					AS RAMOCONTABLECODIGO_RAMO_CONTABLE,
NULL 							AS RAMO_CONTABLE,
UPPER(TESDOCGLOSA)				AS TESDOCGLOSA,
MONTO							AS MONTO,
UPPER(TIPO)						AS TIPO,
UPPER(DPTO)						AS DPTO,
NNUMDOCU						AS NNUMDOCU,
NNUMCERT						AS NNUMCERT,
NNUMENDO						AS NNUMENDO,
NNUMSINI						AS NNUMSINI,
NNURUPRO						AS NNURUPRO,
NNURUINT						AS NNURUINT,
NNURUEJCNEW						AS NNURUEJCNEW,
UPPER(TIPO_ORIGEN)				AS TIPO_ORIGEN,
UPPER(TESDOCNUMINTERNO)			AS TESDOCNUMINTERNO,
UPPER(LOG_ID_CORREO)			AS LOG_ID_CORREO,
UPPER(CANAL)					AS CANAL,
UPPER(CCODSUCU)					AS CCODSUCU,
UPPER(SUCURSAL)					AS SUCURSAL,
UPPER(ZONA)						AS ZONA,
NNURUEJC						AS NNURUEJC,
NNURUINT_ORIG					AS NNURUINT_ORIG,
PARTNER							AS PARTNER_GOL,
NULL							AS PARTNER_ESTUDIOS,
NULL							AS PARTNER_FINAL,
''''''''						AS CANAL_FINAL,
''''''''						AS LINEA_PYG,
MONTO							AS MONTO_MM
FROM ' + @TABLA +' WHERE  CODSUBCONC < 200 AND CONCNOMBRETOTAL in (''''Gross Written Premium'''', ''''UPR'''')
'')'
--FROM ' + @TABLA +' WHERE  CODSUBCONC < 200  AND CONCNOMBRETOTAL=''''Gross Written Premium''''


INSERT  INTO PYG_BASE
EXEC SP_EXECUTESQL @Sql

--select * from PYG_BASE

SET @TERMINO= GETDATE()
--INSERT INTO TRANSACCIONAL.DBO.MOVILIDAD_CONTROL_DE_EJECUCION_TEST VALUES ('PYG - '+@TABLA_MARCA,'1 DE 4',@TERMINO,DATEDIFF(MINUTE,@PASOS,@TERMINO)/60,DATEDIFF(MINUTE,@PASOS,@TERMINO)%60,CURRENT_USER)
INSERT INTO CANAL_ASESOR.DBO.MOVILIDAD_CONTROL_DE_EJECUCION VALUES ('PYG - '+@TABLA_MARCA,'1 DE 4',@TERMINO,DATEDIFF(MINUTE,@PASOS,@TERMINO)/60,DATEDIFF(MINUTE,@PASOS,@TERMINO)%60)
SET @PASOS= GETDATE()


UPDATE PYG_BASE	SET CANAL_FINAL = 'CAS'	WHERE CANAL LIKE '%CANAL%ASESOR%'
UPDATE PYG_BASE	SET CANAL_FINAL = 'LBR'	WHERE CANAL LIKE '%NEGOCIOS%CORPORATIVOS%'
UPDATE PYG_BASE	SET CANAL_FINAL = 'DIR'	WHERE CANAL LIKE '%CANAL%DIRECTO%'
UPDATE PYG_BASE	SET CANAL_FINAL = 'UND'	WHERE CANAL LIKE '%UNDEFINED%'
UPDATE PYG_BASE	SET CANAL_FINAL = 'AFF'	WHERE CANAL LIKE '%AFFINITY%'

UPDATE PYG_BASE 
SET LINEA_PYG=B.LINEA_PYG 
FROM PYG_BASE A, PYG_LINEA B 
WHERE A.CODSUBCONC=B.CODSUBCONC



SET @TERMINO= GETDATE()
--INSERT INTO TRANSACCIONAL.DBO.MOVILIDAD_CONTROL_DE_EJECUCION_TEST VALUES ('PYG - '+@TABLA_MARCA,'2 DE 4',@TERMINO,DATEDIFF(MINUTE,@PASOS,@TERMINO)/60,DATEDIFF(MINUTE,@PASOS,@TERMINO)%60,CURRENT_USER)
INSERT INTO CANAL_ASESOR.DBO.MOVILIDAD_CONTROL_DE_EJECUCION VALUES ('PYG - '+@TABLA_MARCA,'2 DE 4',@TERMINO,DATEDIFF(MINUTE,@PASOS,@TERMINO)/60,DATEDIFF(MINUTE,@PASOS,@TERMINO)%60)
SET @PASOS= GETDATE()


UPDATE PYG_BASE	
SET PARTNER_ESTUDIOS = PARTNER_PYG	
FROM PYG_BASE JOIN PYG_PARTNER
ON PARTNER_GOL = PARTNER_SISTEMA
AND CANAL_FINAL = 'AFF'
AND PARTNER_ESTUDIOS IS NULL
AND TESDOCGLOSA LIKE '%GOL%FACT%'

UPDATE PYG_BASE 
SET PARTNER_ESTUDIOS = NOMBRE_PARTNER
FROM PYG_BASE JOIN PYG_PARTNER_AFFINITY 
ON NNURUINT = RUT_INTERMEDIARIO
WHERE
CANAL_FINAL = 'AFF'
AND PARTNER_ESTUDIOS IS NULL

UPDATE PYG_BASE 
SET PARTNER_FINAL = CASE WHEN CANAL_FINAL= 'AFF' THEN PARTNER_ESTUDIOS ELSE CANAL_FINAL END 

UPDATE PYG_BASE 
SET PARTNER_FINAL = 'ITAU+CORPBANCA'
WHERE CANAL_FINAL = 'AFF' 
AND PARTNER_FINAL IN ('ITAU','CORPBANCA')

UPDATE PYG_BASE
SET PARTNER_FINAL=SUCURSAL
WHERE CANAL_FINAL=''



SET @TERMINO= GETDATE()
--INSERT INTO TRANSACCIONAL.DBO.MOVILIDAD_CONTROL_DE_EJECUCION_TEST VALUES ('PYG - '+@TABLA_MARCA,'3 DE 4',@TERMINO,DATEDIFF(MINUTE,@PASOS,@TERMINO)/60,DATEDIFF(MINUTE,@PASOS,@TERMINO)%60,CURRENT_USER)
INSERT INTO CANAL_ASESOR.DBO.MOVILIDAD_CONTROL_DE_EJECUCION VALUES ('PYG - '+@TABLA_MARCA,'3 DE 4',@TERMINO,DATEDIFF(MINUTE,@PASOS,@TERMINO)/60,DATEDIFF(MINUTE,@PASOS,@TERMINO)%60)
SET @PASOS= GETDATE()


select NNURUINT,CANAL,SUCURSAL,CANAL_FINAL,PARTNER_FINAL INTO #REDISTRIBUCION_CNC from PYG_BASE where NNURUINT in 
(select distinct NNURUINT from PYG_BASE where CANAL='CNC') and CANAL<>'CNC' AND CANAL_FINAL IN ('LBR','')
GROUP BY NNURUINT,CANAL,SUCURSAL,CANAL_FINAL,PARTNER_FINAL ORDER  BY 3

UPDATE PYG_BASE
SET 
CANAL_FINAL=B.CANAL_FINAL,
PARTNER_FINAL=B.PARTNER_FINAL
FROM PYG_BASE A , #REDISTRIBUCION_CNC B
WHERE A.NNURUINT=B.NNURUINT AND A.CANAL='CNC'

select NNURUINT,CANAL,SUCURSAL,CANAL_FINAL,PARTNER_FINAL INTO #REDISTRIBUCION_NEGOCIOS_COMERCIALES from PYG_BASE where NNURUINT in 
(select distinct NNURUINT from PYG_BASE where CANAL='NEGOCIOS COMERCIALES') and CANAL<>'NEGOCIOS COMERCIALES' AND CANAL_FINAL IN ('LBR','')
GROUP BY NNURUINT,CANAL,SUCURSAL,CANAL_FINAL,PARTNER_FINAL ORDER BY 3

UPDATE PYG_BASE
SET 
CANAL_FINAL=B.CANAL_FINAL,
PARTNER_FINAL=B.PARTNER_FINAL
FROM PYG_BASE A , #REDISTRIBUCION_NEGOCIOS_COMERCIALES B
WHERE A.NNURUINT=B.NNURUINT AND A.CANAL='NEGOCIOS COMERCIALES'

UPDATE PYG_BASE
SET 
CANAL_FINAL='LBR',
PARTNER_FINAL=B.PARTNER_LBR
FROM PYG_BASE A , PYG_PARTNER_LBR B
WHERE A.NNURUINT=B.RUT_INTERMEDIARIO
AND A.CANAL_FINAL=''


SET @TERMINO= GETDATE()
--INSERT INTO TRANSACCIONAL.DBO.MOVILIDAD_CONTROL_DE_EJECUCION_TEST VALUES ('PYG - '+@TABLA_MARCA,'4 DE 4',@TERMINO,DATEDIFF(MINUTE,@PASOS,@TERMINO)/60,DATEDIFF(MINUTE,@PASOS,@TERMINO)%60,CURRENT_USER)
INSERT INTO CANAL_ASESOR.DBO.MOVILIDAD_CONTROL_DE_EJECUCION VALUES ('PYG - '+@TABLA_MARCA,'4 DE 4',@TERMINO,DATEDIFF(MINUTE,@PASOS,@TERMINO)/60,DATEDIFF(MINUTE,@PASOS,@TERMINO)%60)
SET @PASOS= GETDATE()


DELETE FROM PYG_FINAL WHERE CIERRE = SUBSTRING(@TABLA_MARCA,1,4)+'-'+SUBSTRING(@TABLA_MARCA,5,7)+'-01'
INSERT INTO PYG_FINAL
SELECT BASE.* FROM PYG_BASE BASE
--INNER JOIN SURA_MOVILIDAD_TRANSACCIONAL_POLIZAS A ON
INNER JOIN (select distinct nnumdocu from Reportes.dbo.SURA_MOVILIDAD_TRANSACCIONAL) A ON
BASE.NNUMDOCU = A.NNUMDOCU


------------------------- CREAR TABLA REPORTES.DBO.POLIZAS_MOVILIDAD_NUEVO ------------------------ 
--COMENTAR ESTO SI SE DESEA EJECUTAR EL PROCESO VARIAS VECES SEGUIDAS PARA CARGAR MESES 
--/*
TRUNCATE TABLE REPORTES.DBO.POLIZAS_MOVILIDAD_NUEVO

INSERT INTO REPORTES.DBO.POLIZAS_MOVILIDAD_NUEVO 
SELECT  
DISTINCT
NNUMDOCU, 
CANAL AS CANAL_PYG,
CASE 
	WHEN CANAL = 'NEGOCIOS MASIVOS Y CLIENTES' THEN 'AFFINITY'
	WHEN CANAL IN ('CNC','NEGOCIOS COMERCIALES', 'NEGOCIOS EMPRESAS Y PERSONAS') THEN 'PYME'
	WHEN CANAL = 'NEGOCIOS CORPORATIVOS' THEN 'CORPORATIVO'
	WHEN CANAL = 'NEGOCIOS DIRECTOS' THEN 'CANAL DIRECTO'
	WHEN CANAL = 'SUCURSALES' THEN 'CANAL ASESOR'
	ELSE CANAL
END AS CANAL_ACTUAL,
UPPER(PARTNER_GOL) AS [PARTNER]
FROM PYG_FINAL
--*/
----------------------------------------------------------------------------------------------------

--TRUNCATE TABLE PYG_BASE


SET @TERMINO= GETDATE()
--INSERT INTO TRANSACCIONAL.DBO.MOVILIDAD_CONTROL_DE_EJECUCION_TEST VALUES ('PYG - '+@TABLA_MARCA,'FIN',@TERMINO,DATEDIFF(MINUTE,@INICIO,@TERMINO)/60,DATEDIFF(MINUTE,@INICIO,@TERMINO)%60,CURRENT_USER)
INSERT INTO CANAL_ASESOR.DBO.MOVILIDAD_CONTROL_DE_EJECUCION VALUES ('PYG - '+@TABLA_MARCA,'FIN',@TERMINO,DATEDIFF(MINUTE,@INICIO,@TERMINO)/60,DATEDIFF(MINUTE,@INICIO,@TERMINO)%60)
SET @PASOS= GETDATE()



END TRY
BEGIN CATCH
INSERT INTO CANAL_ASESOR.DBO.MOVILIDAD_CONTROL_ERROR
  SELECT 
    ERROR_NUMBER()		AS NUMERO_ERROR,
    ERROR_STATE()		AS ESTADO_ERROR,
    ERROR_SEVERITY()	AS SEVERIDAD_ERROR,
    ERROR_PROCEDURE()	AS NOMBRE_PROCEDIMIENTO,
    ERROR_LINE()		AS LINEA_ERROR,
    ERROR_MESSAGE()		AS MENBSAGE_ERROR,
	GETDATE()			AS TIMESTAMP,
	CURRENT_USER		AS USUARIO_EJECUTA
	;
END CATCH;



/*
-----------------------------------------------------------------------
--CODIGO PARA QUE EL PROCESO SE EJECUTE UNA CANTIDAD DE VECES SEGUIDAS
-----------------------------------------------------------------------
DECLARE @CONT int = 1

WHILE @CONT <= 2 --CANTIDAD DE VECES QUE SE EJECUTARA
BEGIN
	EXEC PYG_V2
	SELECT @CONT

	SET @CONT = @CONT+1
END
-----------------------------------------------------------------------
*/