USE [Almacen_de_Datos]
GO

ALTER  PROCEDURE [dbo].[SP_NEW_MODEL_2024_VARIABLES_NUEVAS] AS 
BEGIN TRY
DECLARE @TERMINO DATETIME
DECLARE @INICIO DATETIME
DECLARE @PASOS DATETIME
SET @INICIO=GETDATE()
SET @PASOS=@INICIO
--+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
SET @TERMINO= GETDATE()
INSERT INTO CANAL_ASESOR.DBO.MOVILIDAD_CONTROL_DE_EJECUCION VALUES ('SP_NEW_MODEL_2024_VARIABLES_NUEVAS','INICIO',@TERMINO,DATEDIFF(MINUTE,@PASOS,@TERMINO)/60,DATEDIFF(MINUTE,@PASOS,@TERMINO)%60)
SET @PASOS= GETDATE()
--+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

------+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
------                paso 1) Incluyo variables nuevas de interés
------+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++


drop table if exists #Aux_1
select 
ID = ROW_NUMBER() OVER(ORDER BY nnumdocu, nnumitem, FECHA_FIRMA_POLIZA ASC)
,NNUMDOCU	
,NNUMITEM	
,RUT_ASEGURADO
,RUT_PROPONENTE
,PATENTE
,FECHA_FIRMA_POLIZA
,MARCA
,MODELO
,AÑO
,ANTVEH_calc = year(FECHA_FIRMA_POLIZA) - try_cast(AÑO as int)
into #Aux_1
from REPORTES.DBO.SURA_MOVILIDAD_TRANSACCIONAL





-----+++++++++++++++++++++++++   EDAD, Nacionalidad y estado civil +++++++++++++++++++++++++

-- auxiliar de tabla personas quitando RUTS muy antiguos
drop table if exists #Aux_tabla_personas
select RUT, Fecha_Nacimiento, Nacionalidad, Estado_Civil, Tipo_Rut as Genero 
into #Aux_tabla_personas
from sgv1864.AnalyticsAbastecimiento.dbo.Dim_personas
where rut >= 900000
--(25253365 row(s) affected) duración : 3.2 min

--generando sub tabla de personas pero solo para la fecha de nacimiento, quitando valores vacios
drop table if exists #Aux_tabla_personas_Fecha_nacim
select RUT, Fecha_Nacimiento
into #Aux_tabla_personas_Fecha_nacim
from #Aux_tabla_personas
where Fecha_Nacimiento is not null
--(25063428 row(s) affected)

-- unión con tabla principal
drop table if exists #Aux_join_personas
select A.*, B.Nacionalidad, B.Estado_Civil, B.Genero, C.Fecha_Nacimiento--, EDAD_ASE = DATEDIFF(year, C.Fecha_Nacimiento, A.FECEMIS) 
into #Aux_join_personas
from #Aux_1 A
left join #Aux_tabla_personas				B	on A.rut_asegurado = B.RUT
left join #Aux_tabla_personas_Fecha_nacim	C	on A.rut_asegurado = c.RUT


-- genera EDAD_ASE
drop table if exists #Aux_EDAD
select *, EDAD_ASE = DATEDIFF(year, Fecha_Nacimiento, FECHA_FIRMA_POLIZA) 
into #Aux_EDAD
from #Aux_join_personas
--(11053066 row(s) affected)



-----++++++++++++++++++++++   TOP100_2024   ++++++++++++++++++++++

drop table if exists #Aux_top100_2024
select distinct A.*, B.RF_TOP100_2024
into #Aux_top100_2024
from #Aux_EDAD A
left join almacen_de_datos.[dbo].[RF_TOP100_2024_HOMOLOG] B
on A.MARCA = B.CCOMAVEH and A.MODELO = B.CDESCORT


UPDATE  #Aux_top100_2024
set RF_TOP100_2024 = case when MARCA is null or MODELO is null then 'NO INFORMADO' else RF_TOP100_2024 end

UPDATE  #Aux_top100_2024
set RF_TOP100_2024 = case when RF_TOP100_2024 is null then 'NO INFORMADO' else RF_TOP100_2024 end


--select * from #Aux_top100_2024


-----++++++++++++++++++   CHANNEL_TO_EMB_2024   +++++++++++++++++++
--select * from reportes.dbo.sura_movilidad_transaccional

drop table if exists #Aux_Channel_to_emb_2024
select distinct A.*, B.CANAL_PYG, B.PARTNER_PYG
into #Aux_Channel_to_emb_2024
from #Aux_top100_2024 A
left join reportes.dbo.sura_movilidad_transaccional B
on A.NNUMDOCU = B.NNUMDOCU and A.NNUMITEM = B.NNUMITEM
--(10.558.098 rows affected)
--(11053066 row(s) affected)

alter table #Aux_Channel_to_emb_2024
add CHANNEL_TO_EMB_2024 nvarchar(50) null;


UPDATE #Aux_Channel_to_emb_2024
set CHANNEL_TO_EMB_2024 = 
		case 
		-------------------------------------------------------------- AFFINITY ----------------------------------------------------------------------
				---------------------------- AFFINITY Separados ---------------------------------------------
				when CANAL_PYG = 'AFFINITY' and PARTNER_PYG = 'FALABELLA'										then 'FALABELLA'
				when CANAL_PYG = 'AFFINITY' and PARTNER_PYG like '%RIPLEY%'										then 'RIPLEY'
				when CANAL_PYG = 'AFFINITY' and PARTNER_PYG like '%SANTANDER%'									then 'SANTANDER'
				when CANAL_PYG = 'AFFINITY' and PARTNER_PYG like '%COMPARA%'									then 'COMPARA'
				when CANAL_PYG = 'AFFINITY' and PARTNER_PYG like '%AUTOMOVIL%'									then 'AUTOMOVIL CLUB'
				when CANAL_PYG = 'AFFINITY' and PARTNER_PYG like '%MOK%'										then 'MOK'
				when CANAL_PYG = 'AFFINITY' and PARTNER_PYG like '%CENCOSUD%'									then 'CENCOSUD'
				when CANAL_PYG = 'AFFINITY' and PARTNER_PYG like '%MESOS%'										then 'MESOS'
				when CANAL_PYG = 'AFFINITY' and PARTNER_PYG like '%ABCDIN%'										then 'ABCDIN'

				---------------------------- AFFINITY Banca -------------------------------------------------
				when CANAL_PYG = 'AFFINITY' and PARTNER_PYG = 'BANCHILE'										then 'AFFINITY BANCA'
				when CANAL_PYG = 'AFFINITY' and PARTNER_PYG = 'BANCO BICE'										then 'AFFINITY BANCA'
				when CANAL_PYG = 'AFFINITY' and PARTNER_PYG = 'BANCO ITAU'										then 'AFFINITY BANCA'
				when CANAL_PYG = 'AFFINITY' and PARTNER_PYG = 'BANCO FALABELLA'									then 'AFFINITY BANCA'
				when CANAL_PYG = 'AFFINITY' and PARTNER_PYG = 'SCOTIABANK'										then 'AFFINITY BANCA'
				when CANAL_PYG = 'AFFINITY' and PARTNER_PYG = 'BANCO INTERNACIONAL'								then 'AFFINITY BANCA'
				when CANAL_PYG = 'AFFINITY' and PARTNER_PYG = 'BANCO ESTADO'									then 'AFFINITY BANCA'
				when CANAL_PYG = 'AFFINITY' and PARTNER_PYG = 'SECURITY'										then 'AFFINITY BANCA'

				---------------------------- AFFINITY Otros -------------------------------------------------
				when CANAL_PYG = 'AFFINITY' and PARTNER_PYG = 'PDI'												then 'AFFINITY OTROS'
				when CANAL_PYG = 'AFFINITY' and PARTNER_PYG = 'EX AG'											then 'AFFINITY OTROS'
				when CANAL_PYG = 'AFFINITY' and PARTNER_PYG = '123 CORREDORA'									then 'AFFINITY OTROS'
				when CANAL_PYG = 'AFFINITY' and PARTNER_PYG like '%LA ARAUCANA%'								then 'AFFINITY OTROS'
				when CANAL_PYG = 'AFFINITY' and PARTNER_PYG = 'DERCO'											then 'AFFINITY OTROS'
				when CANAL_PYG = 'AFFINITY' and PARTNER_PYG = 'WALMART'											then 'AFFINITY OTROS'
				when CANAL_PYG = 'AFFINITY' and PARTNER_PYG = 'M A C C CORREDORES DE SEGUROS S P A'				then 'AFFINITY OTROS'
				when CANAL_PYG = 'AFFINITY' and PARTNER_PYG = 'FORUM'											then 'AFFINITY OTROS'
				when CANAL_PYG = 'AFFINITY' and PARTNER_PYG = 'OTHERS_2'										then 'AFFINITY OTROS'
				when CANAL_PYG = 'AFFINITY' and PARTNER_PYG = 'VIAS CHILE'										then 'AFFINITY OTROS'
				when CANAL_PYG = 'AFFINITY' and PARTNER_PYG = 'UBER'											then 'AFFINITY OTROS'
				when CANAL_PYG = 'AFFINITY' and PARTNER_PYG = 'CC LOS ANDES'									then 'AFFINITY OTROS'
				when CANAL_PYG = 'AFFINITY' and PARTNER_PYG = 'ENTEL'											then 'AFFINITY OTROS'
				when CANAL_PYG = 'AFFINITY' and PARTNER_PYG = 'CASA MATRIZ'										then 'AFFINITY OTROS'
				when CANAL_PYG = 'AFFINITY' and PARTNER_PYG = 'ALTUM'											then 'AFFINITY OTROS'
				when CANAL_PYG = 'AFFINITY' and PARTNER_PYG = 'COTIZA OK'										then 'AFFINITY OTROS'
				when CANAL_PYG = 'AFFINITY' and PARTNER_PYG = 'DEALERS'											then 'AFFINITY OTROS'
				when CANAL_PYG = 'AFFINITY' and PARTNER_PYG = 'CHILECTRA'										then 'AFFINITY OTROS'
				when CANAL_PYG = 'AFFINITY' and PARTNER_PYG = 'LA POLAR'										then 'AFFINITY OTROS'

		-------------------------------------------------------------- DIRECTO ---------------------------------------------------------------------
				when CANAL_PYG = 'CANAL DIRECTO' 																then 'CANAL DIRECTO'
				when CANAL_PYG = 'AFFINITY' and PARTNER_PYG like '%DEALERS DIRECTO%'							then 'DEALERS DIRECTOS'
				when CANAL_PYG = 'AFFINITY' and PARTNER_PYG like '%DIFOR%'										then 'DEALERS DIFOR'
				when CANAL_PYG = 'AFFINITY' and PARTNER_PYG like '%BRUNO%'										then 'DEALERS BRUNO FRITSCH'
				when CANAL_PYG = 'AFFINITY' and PARTNER_PYG like '%RSA%'										then 'CANAL DIRECTO'
				
		-------------------------------------------------------------- ASESOR ----------------------------------------------------------------------
				---------------------------- CANAL ASESOR -------------------------------------------------
				when CANAL_PYG = 'CANAL ASESOR' and PARTNER_PYG = 'NO APLICA'									then 'CANAL ASESOR'
				when CANAL_PYG = 'CANAL ASESOR' and PARTNER_PYG = 'CASA MATRIZ'									then 'CANAL ASESOR'
				when CANAL_PYG = 'CANAL ASESOR' and PARTNER_PYG = 'CANAL ASESOR'								then 'CANAL ASESOR'
				when CANAL_PYG = 'CANAL ASESOR' and PARTNER_PYG = 'RSA'											then 'CANAL ASESOR'
				when CANAL_PYG = 'CANAL ASESOR' and PARTNER_PYG like '%FRANQUICIA%'								then 'CANAL ASESOR'
				when CANAL_PYG = 'CANAL ASESOR' and PARTNER_PYG like '%F&D%'									then 'CANAL ASESOR'
				when CANAL_PYG = 'CANAL ASESOR' and PARTNER_PYG like '%EMPRESARIOS Y PROFESIONALES%'			then 'CANAL ASESOR'
				when CANAL_PYG = 'CANAL ASESOR' and PARTNER_PYG like '%PROFESIONAL A DESARROLLAR%'				then 'CANAL ASESOR'

				---------------------------- SUCURSALES ------------------------------------------------- tratar de agregar casos cuando canal_pyg no dice "canal asesor", pero el partner si es un "CA"
				when CANAL_PYG = 'CANAL ASESOR' and PARTNER_PYG = 'ANTOFAGASTA - CA'							then 'SUCURSALES - ZN'
				when CANAL_PYG = 'CANAL ASESOR' and PARTNER_PYG = 'ARICA - CA'									then 'SUCURSALES - ZN'
				when CANAL_PYG = 'CANAL ASESOR' and PARTNER_PYG = 'IQUIQUE - CA'								then 'SUCURSALES - ZN'			
				when CANAL_PYG = 'CANAL ASESOR' and PARTNER_PYG = 'LA SERENA - CA'								then 'SUCURSALES - ZCN'			
				when CANAL_PYG = 'CANAL ASESOR' and PARTNER_PYG like  '%SANTIAGO EQUIPO%'						then 'SUCURSALES - ZC'
				when CANAL_PYG = 'CANAL ASESOR' and PARTNER_PYG = 'VIÑA DEL MAR - CA'							then 'SUCURSALES - ZC'
				when CANAL_PYG = 'CANAL ASESOR' and PARTNER_PYG = 'RANCAGUA - CA'								then 'SUCURSALES - ZC'
				when CANAL_PYG = 'CANAL ASESOR' and PARTNER_PYG = 'CURICO - CA'									then 'SUCURSALES - ZC'
				when CANAL_PYG = 'CANAL ASESOR' and PARTNER_PYG = 'TALCA - CA'									then 'SUCURSALES - ZC'
				when CANAL_PYG = 'CANAL ASESOR' and PARTNER_PYG = 'TEMUCO - CA'									then 'SUCURSALES - ZCS'
				when CANAL_PYG = 'CANAL ASESOR' and PARTNER_PYG in ('CONCEPCION - CA', 'CONCEPCIÓN - CA')		then 'SUCURSALES - ZCS'
				when CANAL_PYG = 'CANAL ASESOR' and PARTNER_PYG = 'CHILLAN - CA'								then 'SUCURSALES - ZCS'
				when CANAL_PYG = 'CANAL ASESOR' and PARTNER_PYG = 'OSORNO - CA'									then 'SUCURSALES - ZS'
				when CANAL_PYG = 'CANAL ASESOR' and PARTNER_PYG = 'VALDIVIA - CA'								then 'SUCURSALES - ZS'
				when CANAL_PYG = 'CANAL ASESOR' and PARTNER_PYG = 'PUERTO MONTT - CA'							then 'SUCURSALES - ZS'
				when CANAL_PYG = 'CANAL ASESOR' and PARTNER_PYG = 'PUNTA ARENAS - CA'							then 'SUCURSALES - ZS'

		-------------------------------------------------------------- PYME ----------------------------------------------------------------------
				when CANAL_PYG = 'PYME'																			then 'PYME'

		-------------------------------------------------------------- PYME ----------------------------------------------------------------------
				when CANAL_PYG = 'CORPORATIVO'																	then 'NEGOCIOS CORPORATIVOS'

		--------------------------------------------------------- NO IDENTIFICADOS -----------------------------------------------------------------
				when CANAL_PYG = 'AFFINITY' and (PARTNER_PYG is null or PARTNER_PYG in ('', ' ', 'NO IDENTIFICADO', 'NO APLICA'))		then 'NO IDENTIFICADO'
				when CANAL_PYG = 'CANAL ASESOR' and PARTNER_PYG = 'CANAL DIRECTO'														then 'NO IDENTIFICADO'
				when CANAL_PYG is null or CANAL_PYG in ('', ' ', 'NO IDENTIFICADO', 'NO APLICA', 'null' )								then 'NO IDENTIFICADO'
		
		else NULL end



-------------------------- Homologación
drop table if exists #Aux_SII
select distinct A.*, B.MARCA_SOL, B.MODELO_SOL
into #Aux_SII
from almacen_de_datos.[dbo].[Consolidado_SII_V2] A
left join almacen_de_datos.[dbo].[Homologacion_output_V2] B on A.Marca = B.MARCA_SII and A.Modelo = B.[MODELO SII] 
and IIF(A.[Version] = 'SIN VERSION', '', IIF(A.[Version] = 'CRUISER  168D0 GLI', 'CRUISER  168D0 GLI',  A.[Version])) = B.VERSION_SII



-- agrupamos por marca_modelo SOL y las distintas variables, para ver cual es la categoría más popular en cada caso

-- TIPO_VEH
drop table if exists #Aux_SII_tipo_veh
select id = ROW_NUMBER() OVER (partition by marca_sol, modelo_sol ORDER BY count(*) desc)
,marca_sol, modelo_sol, Tipo_veh, count(*) as cuenta
into #Aux_SII_tipo_veh
from (select * from #Aux_SII where marca_sol is not null) A
group by marca_sol, modelo_sol, Tipo_veh
--(3046 row(s) affected)
--select * from #Aux_SII_tipo_veh order by marca_sol, modelo_sol, tipo_veh, cuenta


-- PUERTAS
drop table if exists #Aux_SII_puertas
select id = ROW_NUMBER() OVER (partition by marca_sol, modelo_sol ORDER BY count(*) desc)
,marca_sol, modelo_sol, puertas, count(*) as cuenta
into #Aux_SII_puertas
from (select * from #Aux_SII where marca_sol is not null) A
group by marca_sol, modelo_sol, puertas
--(3628 row(s) affected)
--select * from #Aux_SII_puertas order by marca_sol, modelo_sol, puertas, cuenta


-- COMBUSTIBLE
drop table if exists #Aux_SII_combustible
select id = ROW_NUMBER() OVER (partition by marca_sol, modelo_sol ORDER BY count(*) desc)
,marca_sol, modelo_sol, combustible, count(*) as cuenta
into #Aux_SII_combustible
from (select * from #Aux_SII where marca_sol is not null) A
group by marca_sol, modelo_sol, combustible
--(3746 row(s) affected)
--select * from #Aux_SII_combustible where combustible like 'elect%' order by marca_sol, modelo_sol, combustible, cuenta 

update #Aux_SII_combustible
set combustible = case when modelo_sol like '%hibrid%' then 'Hibrido'
						when modelo_sol like '%Electr%' then 'Electrico'
						else combustible end
--(3746 row(s) affected)
-- select * from #Aux_SII_combustible_filtrado


-- TRANSMISION
drop table if exists #Aux_SII_transmision
select id = ROW_NUMBER() OVER (partition by marca_sol, modelo_sol ORDER BY count(*) desc)
,marca_sol, modelo_sol, transmision, count(*) as cuenta
into #Aux_SII_transmision
from (select * from #Aux_SII where marca_sol is not null) A
group by marca_sol, modelo_sol, transmision
--(6696 row(s) affected)
--select * from #Aux_SII_transmision order by marca_sol, modelo_sol, transmision, cuenta 


-- CILINDRADA
drop table if exists #Aux_SII_CILINDRADA
select id = ROW_NUMBER() OVER (partition by marca_sol, modelo_sol ORDER BY count(*) desc)
,marca_sol, modelo_sol, CILINDRADA, count(*) as cuenta
into #Aux_SII_CILINDRADA
from (select * from #Aux_SII where marca_sol is not null) A
group by marca_sol, modelo_sol, CILINDRADA
--(10389 row(s) affected)
--select * from #Aux_SII_CILINDRADA order by marca_sol, modelo_sol, CILINDRADA, cuenta 


-- hacemos join de estas variables cualitativas con la base auxiliar principal
drop table if exists #Aux_SII_2
select distinct A.* 
,B.Tipo_veh as Tipo_veh_final
,C.Puertas as Puertas_final
,D.combustible as Combustible_final
,E.Transmision as Transmision_final
,F.CILINDRADA as CILINDRADA_final
into #Aux_SII_2
from #Aux_SII A
left join (select * from #Aux_SII_tipo_veh where id = 1) B on A.MARCA_SOL = B.MARCA_SOL and A.MODELO_SOL = B.MODELO_SOL
left join (select * from #Aux_SII_puertas where id = 1) C on A.MARCA_SOL = C.MARCA_SOL and A.MODELO_SOL = C.MODELO_SOL
left join (select * from #Aux_SII_combustible where id = 1) D on A.MARCA_SOL = D.MARCA_SOL and A.MODELO_SOL = D.MODELO_SOL
left join (select * from #Aux_SII_transmision where id = 1) E on A.MARCA_SOL = E.MARCA_SOL and A.MODELO_SOL = E.MODELO_SOL
left join (select * from #Aux_SII_CILINDRADA where id = 1) F on A.MARCA_SOL = F.MARCA_SOL and A.MODELO_SOL = F.MODELO_SOL
--(495.935 row(s) affected)
--select * from #Aux_SII_2
--select max(marca_sol) as marca_sol, max(modelo_sol) as modelo_sol, marca, modelo, version, count(*) from #Aux_SII_2 where marca_sol is not null group by marca, modelo, version order by marca, modelo, version


-- TASACION
drop table if exists #Aux_SII_tasacion
select distinct Fecha, Anio_veh, marca_sol, modelo_sol 
,avg(CONVERT(INT, replace(tasacion, '.', ''))) as Tasacion 
--,avg(cilindrada) as cilindrada	-- se transformó a moda como los otros campos cualitativos del SII
into #Aux_SII_tasacion
from (select * /*, Tasacion_num = replace(Tasacion, '.', ',')*/ from #Aux_SII where marca_sol is not null) A
group by Fecha, Anio_veh, marca_sol, modelo_sol
--(109458 row(s) affected)
--select * from #Aux_SII_tasacion order by marca_sol, modelo_sol, anio_veh, fecha


-- hacemos join de estas variables cuantitativas con la base auxiliar principal
drop table if exists #Aux_SII_3
select distinct A.* 
,F.Tasacion	as Tasacion_final
into #Aux_SII_3
from #Aux_SII_2 A
left join #Aux_SII_tasacion F on A.MARCA_SOL = F.MARCA_SOL and A.MODELO_SOL = F.MODELO_SOL and A.Fecha = F.Fecha and A.Anio_veh = F.Anio_veh
--(495935 row(s) affected)
--select * from #Aux_SII_3
--select * from #Aux_SII_3 where marca_sol like '%HONDA%' and modelo_sol like '%CR-%' and right(fecha, 4) = 2020-- and anio_veh = 2015
--order by right(fecha, 4) desc, [version], codigo_sii
--select max(marca_sol) as marca_sol, max(modelo_sol) as modelo_sol, marca, modelo, version, count(*) from #Aux_SII_3 where marca_sol is not null group by marca, modelo, version order by marca, modelo, version


--- casos donde en variables cualitativas no calzan con el año de fabricacion
drop table if exists #Aux_cualitativas
select marca_sol, modelo_sol, max(tipo_veh_final) as tipo_veh_final, max(puertas_final) as puertas_final, max(combustible_final) as combustible_final, max(transmision_final) as transmision_final, max(cilindrada_final) as cilindrada_final
into #Aux_cualitativas
from #Aux_SII_3
group by marca_sol, modelo_sol
--(2377 row(s) affected)
--select * from #Aux_cualitativas


-------- casos tasación que no calza el año de fabricación
drop table if exists #Aux_max_min_ant_veh
select fecha, marca_sol, modelo_sol, max(Anio_veh) as max_Anio_veh, min(Anio_veh) as min_Anio_veh
into #Aux_max_min_ant_veh
from #Aux_SII_3
group by fecha, marca_sol, modelo_sol
--(10893 row(s) affected)
--select * from #Aux_max_min_ant_veh where marca_sol like '%HONDA%' and modelo_sol like '%CR-%'
--order by right(fecha, 4) desc

--se obtiene la tasación promedio del vehiculo en cada año de fabricación
drop table if exists #Aux_avg_tasacion
select fecha, marca_sol, modelo_sol, Anio_veh, avg(convert(bigint,replace(tasacion, '.', ''))) as tasacion_avg
into #Aux_avg_tasacion
from #Aux_SII_3
group by fecha, marca_sol, modelo_sol, anio_veh
--(109768 row(s) affected)
--select * from #Aux_avg_tasacion order by marca_sol, modelo_sol, anio_veh

-- join de max min fecha con su respectiva tasación promedio
drop table if exists #Aux_max_min_tasacion
select A.*, B.tasacion_Avg as max_tasacion, C.tasacion_Avg as min_tasacion
into #Aux_max_min_tasacion
from #Aux_max_min_ant_veh A
left join  #Aux_avg_tasacion B on A.fecha = B.fecha and A.marca_sol = B.marca_sol and A.modelo_sol = B.modelo_sol and A.max_Anio_veh = B.Anio_veh
left join  #Aux_avg_tasacion C on A.fecha = C.fecha and A.marca_sol = C.marca_sol and A.modelo_sol = C.modelo_sol and A.min_Anio_veh = C.Anio_veh
--(10893 row(s) affected)
--select * from #Aux_max_min_tasacion
--select max(right(Fecha, 4)) from #Aux_max_min_tasacion



DECLARE @ULTIMO_ANIO_SII INT
DECLARE @ANIO_ACTUAL INT
SET @ULTIMO_ANIO_SII = (select max(right(Fecha, 4)) from #Aux_max_min_tasacion)
SET @ANIO_ACTUAL = (SELECT YEAR(GETDATE()))


IF @ANIO_ACTUAL > @ULTIMO_ANIO_SII
BEGIN

DROP TABLE IF EXISTS #AUX_01
SELECT * INTO #AUX_01 FROM #Aux_max_min_tasacion WHERE right(Fecha, 4) = @ULTIMO_ANIO_SII

INSERT INTO #Aux_max_min_tasacion
SELECT 
	'01-01-'+CAST(@ANIO_ACTUAL AS VARCHAR(4)) AS fecha,
	marca_sol,
	modelo_sol,
	max_Anio_veh,
	min_Anio_veh,
	max_tasacion,
	min_tasacion
FROM #AUX_01
END


--+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
SET @TERMINO= GETDATE()
INSERT INTO CANAL_ASESOR.DBO.MOVILIDAD_CONTROL_DE_EJECUCION VALUES ('SP_NEW_MODEL_2024_VARIABLES_NUEVAS','1 DE 2',@TERMINO,DATEDIFF(MINUTE,@PASOS,@TERMINO)/60,DATEDIFF(MINUTE,@PASOS,@TERMINO)%60)
SET @PASOS= GETDATE()
--+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++



UPDATE #Aux_Channel_to_emb_2024
SET
MARCA = case when rtrim(MARCA) = 'DFLM                                     ' then 'DFM'
		when rtrim(MARCA) = 'DMW                                     ' then 'B M W'
		when rtrim(MARCA) = 'DFM                                     ' and rtrim(MODELO) = 'H30                                     ' then 'DONGFENG'
		when rtrim(MARCA) = 'DFM                                     ' and rtrim(MODELO) = 'H30 CROSS                               ' then 'DONGFENG'
		when rtrim(MARCA) = 'DFM                                     ' and rtrim(MODELO) = 'S30                                     ' then 'DONGFENG'
		when rtrim(MARCA) = 'DFM                                     ' and rtrim(MODELO) = 'S500                                    ' then 'DONGFENG'
		when rtrim(MARCA) = 'DONGFENG                                ' and rtrim(MODELO) = 'SX6                                     ' then 'DFM'
		when rtrim(MARCA) = 'DS.                                     ' then 'CITROEN'
		when rtrim(MARCA) = 'HAVAL                                   ' and rtrim(MODELO) = 'M4                                      ' then 'GREAT WALL'
		else rtrim(MARCA) end 
,MODELO = case when rtrim(MODELO) = 'A 3 1.8 T                               ' then 'A3' 
		when rtrim(MODELO) = 'A1 SPORTBACK                            ' then 'A1'
		when rtrim(MODELO) = 'A4 1.8 TURBO MULTITRONIC                ' then 'A4 TURBO'
		when rtrim(MODELO) = 'A4 2.0 130HP                            ' then 'A4'
		when rtrim(MODELO) = 'I3 (ELECTRICO)                          ' then 'I 3'
		when rtrim(MODELO) = 'M2 COMPETITION                          ' then 'M2 COUPE' 
		when rtrim(MODELO) = 'X 6 ACTIV (HIBRIDO)                     ' then 'X6 XDRIVE 30D EXECUTIVE'
		when rtrim(MODELO) = 'X7 PLUS                                 ' then 'X7'                     
		when rtrim(MODELO) = 'LUV CAB.SIMPLE 4X4                      ' then 'LUV WORK'
		when rtrim(MODELO) = 'N 300 MAX VAN                           ' then 'N300 MAX'
		when rtrim(MODELO) = 'N 400 MAX VAN                           ' then 'N-400' 
		when rtrim(MODELO) = '200 CONVERTIBLE TECHO DURO              ' then '200' 
		when rtrim(MODELO) = 'C 4 PICASSO                             ' then 'C4 PICASSO'
		when rtrim(MODELO) = 'C4 GRAND PICASSO                        ' then 'C4 PICASSO'
		when rtrim(MODELO) = 'C-3 PLURIEL                             ' then 'C3'
		when rtrim(MODELO) = 'DS3 THP 200 BVM6 RACING                 ' then 'DS3'
		when rtrim(MODELO) = 'AX4 LUXURY                              ' then 'SX5 LUXURY'
		when rtrim(MODELO) = 'R 1200 GS                               ' then 'R 1200'
		when rtrim(MARCA) = 'Dodge                                   ' and rtrim(MODELO) = '1500.                                   ' then 'RAM 1500'
		when rtrim(MARCA) = 'DFM                                     ' and rtrim(MODELO) = 'H30 CROSS                               ' then 'H30'
		when rtrim(MARCA) = 'DS.                                     ' and rtrim(MODELO) = 'DS 7                                    ' then 'DS7'
		when rtrim(MARCA) = 'DS.                                     ' and rtrim(MODELO) = 'DS3 CROSSBACK                           ' then 'DS3'
		when rtrim(MARCA) = 'DS.                                     ' and rtrim(MODELO) = 'DS3 CROSSBACK (ELECTRICO)               ' then 'DS3'
		when rtrim(MARCA) = 'DS.                                     ' and rtrim(MODELO) = 'DS4 Crossback                           ' then 'DS4'
		when rtrim(MARCA) = 'DS.                                     ' and rtrim(MODELO) = 'DS7 CROSSBACK                           ' then 'DS7'
		when rtrim(MARCA) = 'GREAT WALL                              ' and rtrim(MODELO) = '6.                                      ' then 'WINGLE 6'
		when rtrim(MARCA) = 'GREAT WALL                              ' and rtrim(MODELO) = 'H3.                                     ' then 'HAVAL H3'
		when rtrim(MARCA) = 'GREAT WALL                              ' and rtrim(MODELO) = 'NEW H3                                  ' then 'HAVAL H3'
		when rtrim(MARCA) = 'GREAT WALL                              ' and rtrim(MODELO) = 'H5.                                     ' then 'HAVAL H5'
		when rtrim(MARCA) = 'HAVAL                                   ' and rtrim(MODELO) = 'HAVAL H2                                ' then 'H2'
		when rtrim(MARCA) = 'HAVAL                                   ' and rtrim(MODELO) = 'NEW H2 DELUXE                           ' then 'H2'
		when rtrim(MARCA) = 'HONDA                                   ' and rtrim(MODELO) = 'CB125F TWISTER                          ' then 'CB TWISTER'
		when rtrim(MARCA) = 'HONDA                                   ' and rtrim(MODELO) = 'CB125TWISTER                            ' then 'CB TWISTER'
		when rtrim(MARCA) = 'HONDA                                   ' and rtrim(MODELO) = 'CB250 TWISTER                           ' then 'CBX 250T WISTER'
		when rtrim(MARCA) = 'HONDA                                   ' and rtrim(MODELO) = 'CB190 REPSOL                            ' then 'NEW CB190R'
		when rtrim(MARCA) = 'HYUNDAI                                 ' and rtrim(MODELO) = 'NEW H-1                                 ' then 'H-1'
		when rtrim(MARCA) = 'JAC                                     ' and rtrim(MODELO) = '137 SPORT                               ' then '137'
		when rtrim(MARCA) = 'JAC                                     ' and rtrim(MODELO) = 'A-137 SPORT                             ' then 'A-137'
		when rtrim(MARCA) = 'JAC                                     ' and rtrim(MODELO) = 'AO.                                     ' then 'A0'
		when rtrim(MARCA) = 'JAC                                     ' and rtrim(MODELO) = 'B 15                                    ' then 'A0'
		when rtrim(MARCA) = 'JAC                                     ' and rtrim(MODELO) = 'J2 AO                                   ' then 'J2'
		when rtrim(MARCA) = 'JAC                                     ' and rtrim(MODELO) = 'J3 CROSS                                ' then 'J3'
		when rtrim(MARCA) = 'JAC                                     ' and rtrim(MODELO) = 'J3 TURIN                                ' then 'J3'
		when rtrim(MARCA) = 'JAC                                     ' and rtrim(MODELO) = 'S4                                      ' then 'JS4'
		when rtrim(MARCA) = 'JEEP                                    ' and rtrim(MODELO) = 'LIBERTY                                 ' then 'CHEROKEE LIBERTY LIMITED'
		when rtrim(MARCA) = 'JEEP                                    ' and rtrim(MODELO) = 'RUBICON                                 ' then 'WRANGLER'
		when rtrim(MARCA) = 'KIA MOTORS                              ' and rtrim(MODELO) = 'CARGO                                   ' then 'CARGO VAN'
		when rtrim(MARCA) = 'KIA MOTORS                              ' and rtrim(MODELO) = 'OPTIMO HIBRIDO                          ' then 'OPTIMA HIBRIDO'
		when rtrim(MARCA) = 'KYC                                     ' and rtrim(MODELO) = 'X5 PICK UP DOBLE CABINA                 ' then 'X5 PICK UP'
		when rtrim(MARCA) = 'KYC                                     ' and rtrim(MODELO) = 'X5 CARGO BOX                            ' then 'X5 PLUS CARGO BOX'
		when rtrim(MARCA) = 'LEXUS                                   ' and rtrim(MODELO) = 'CT 200H (HIBRIDO)                       ' then 'CT200H'
		when rtrim(MARCA) = 'LEXUS                                   ' and rtrim(MODELO) = 'LS 500 H (HIBRIDO)                      ' then 'LS 600'
		when rtrim(MARCA) = 'LEXUS                                   ' and rtrim(MODELO) = 'NX 300H F SPORT (HIBRIDO)               ' then 'NX 300'
		when rtrim(MARCA) = 'LEXUS                                   ' and rtrim(MODELO) = 'NX350H (HIBRIDO)                        ' then 'NX 300'
		when rtrim(MARCA) = 'LEXUS                                   ' and rtrim(MODELO) = 'RX                                      ' then 'RX 350'
		when rtrim(MARCA) = 'LEXUS                                   ' and rtrim(MODELO) = 'RX 450H (HIBRIDO)                       ' then 'RX 450H'
		when rtrim(MARCA) = 'MAZDA                                   ' and rtrim(MODELO) = '6 SPORT                                 ' then '6'
		when rtrim(MARCA) = 'MAZDA                                   ' and rtrim(MODELO) = 'ALL NEW CX-30                           ' then 'CX-30'
		when rtrim(MARCA) = 'MAZDA                                   ' and rtrim(MODELO) = 'ALL NEW CX-5                            ' then 'CX-5'
		when rtrim(MARCA) = 'MAZDA                                   ' and rtrim(MODELO) = 'B 2.3                                   ' then 'B 2.2'
		when rtrim(MARCA) = 'MAZDA                                   ' and rtrim(MODELO) = 'DEMIO                                   ' then '2 .'
		when rtrim(MARCA) = 'MAZDA                                   ' and rtrim(MODELO) = 'NEW 6                                   ' then '6'
		when rtrim(MARCA) = 'MAZDA                                   ' and rtrim(MODELO) = 'PREMACY                                 ' then '5'
		when rtrim(MARCA) = 'Mercedes Benz                           ' and rtrim(MODELO) = 'C 200 AVANG KOMPRESSOR                  ' then 'C 180 KOMPRESSOR'
		when rtrim(MARCA) = 'Mercedes Benz                           ' and rtrim(MODELO) = 'GLC 350E (HIBRIDO)                      ' then 'GLC 350 E'
		when rtrim(MARCA) = 'MG                                      ' and rtrim(MODELO) = 'NEW 350                                 ' then '350.'
		when rtrim(MARCA) = 'Mitsubishi                              ' and rtrim(MODELO) = 'CANTER 413                              ' then 'CANTER'
		when rtrim(MARCA) = 'NISSAN                                  ' and rtrim(MODELO) = 'PICK UP                                 ' then 'TERRANO PICK UP'
		when rtrim(MARCA) = 'NISSAN                                  ' and rtrim(MODELO) = 'PICK UP 4 X4                            ' then 'TERRANO PICK UP'
		when rtrim(MARCA) = 'PEUGEOT                                 ' and rtrim(MODELO) = '206. ROLAND GARROS                      ' then '206'
		when rtrim(MARCA) = 'SUZUKI                                  ' and rtrim(MODELO) = 'GIXXER 150 DI                           ' then 'GIXXER SF'
		when rtrim(MARCA) = 'SUZUKI                                  ' and rtrim(MODELO) = 'GIXXER 150 FI                           ' then 'GIXXER SF'
		when rtrim(MARCA) = 'SUZUKI                                  ' and rtrim(MODELO) = 'GIXXER FI 250                           ' then 'GIXXER SF'
		when rtrim(MARCA) = 'TOYOTA                                  ' and rtrim(MODELO) = 'RAV 4 (HIBRIDO)                         ' then 'NEW RAV-4'
		when rtrim(MARCA) = 'TOYOTA                                  ' and rtrim(MODELO) = 'VITZ                                    ' then 'YARIS'
		when rtrim(MARCA) = 'VOLKSWAGEN                              ' and rtrim(MODELO) = 'GOL G3 CONFORTLINE                      ' then 'GOL COMFORTLINE'
		when rtrim(MARCA) = 'VOLKSWAGEN                              ' and rtrim(MODELO) = 'HIGHLINE                                ' then 'GOLF A6 HIGHLINE'
		when rtrim(MARCA) = 'VOLVO                                   ' and rtrim(MODELO) = 'XC 40 (HIBRIDO)                         ' then 'XC 40'
		when rtrim(MARCA) = 'VOLVO                                   ' and rtrim(MODELO) = 'XC-40 P6 ELECTRICO                      ' then 'XC 40'
		when rtrim(MARCA) = 'VOLVO                                   ' and rtrim(MODELO) = 'XC 60 T5 PLUS                           ' then 'XC 60'
		else rtrim(MODELO) end 
--(11053066 row(s) affected)

-- join con fix de fechas de fabricacion de vehiculo
drop table if exists #Aux_join_SII
select distinct A.*, b.max_Anio_veh, b.min_Anio_veh, b.max_tasacion, b.min_tasacion
into #Aux_join_SII
from #Aux_Channel_to_emb_2024 A
left join #Aux_max_min_tasacion B 
on rtrim(A.MARCA) = rtrim(B.marca_sol)
and rtrim(A.MODELO) = rtrim(B.modelo_sol)
and IIF(year(A.FECHA_FIRMA_POLIZA)> a.año, year(A.FECHA_FIRMA_POLIZA), a.año) = right(B.Fecha, 4)
--(10558098 row(s) affected)
--(11053066 row(s) affected)
-- select * from #Aux_join_SII
-- select max(fecha) from #Aux_max_min_tasacion

-- Casos donde el periodo de devengamiento de la poliza queda fuera de la fecha de consulta de data del SII
drop table if exists #Aux_join_SII_fuera_min_periodo_1
select distinct A.*, b.max_Anio_veh as max_anio_veh_FP1, b.min_Anio_veh as min_anio_veh_FP1, b.max_tasacion as max_tasacion_FP1, b.min_tasacion as min_tasacion_FP1
into #Aux_join_SII_fuera_min_periodo_1
from (select * from #Aux_join_SII where (max_anio_veh is null or min_anio_veh is null) and MARCA is not null and rtrim(MARCA) not in ('', 'GENERICA', 'GENERICO')) A
left join #Aux_max_min_tasacion B 
on A.MARCA = B.marca_sol
and A.MODELO = B.modelo_sol 
and IIF(year(A.FECHA_FIRMA_POLIZA) < right(B.Fecha, 4), year(A.FECHA_FIRMA_POLIZA)+1, year(A.FECHA_FIRMA_POLIZA))  = right(B.Fecha, 4)
--(143194 row(s) affected)
--(146335 row(s) affected)
--select per, MARCA, MODELO, max_anio_veh_fp1, min_anio_veh_fp1, max_tasacion_FP1, min_tasacion_FP1 from #Aux_join_SII_fuera_min_periodo_1 where max_anio_veh_FP1 is null and MARCA is not null and MARCA <> '' order by MARCA, MODELO

drop table if exists #Aux_join_SII_fuera_min_periodo_2
select distinct A.*, b.max_Anio_veh as max_anio_veh_FP2, b.min_Anio_veh as min_anio_veh_FP2, b.max_tasacion as max_tasacion_FP2, b.min_tasacion as min_tasacion_FP2
into #Aux_join_SII_fuera_min_periodo_2
from (select * from #Aux_join_SII_fuera_min_periodo_1 where(max_anio_veh_FP1 is null or min_anio_veh_FP1 is null) and MARCA is not null and rtrim(MARCA) not in ('', 'GENERICA', 'GENERICO')) A
left join #Aux_max_min_tasacion B 
on A.MARCA = B.marca_sol
and A.MODELO = B.modelo_sol 
and IIF(year(A.FECHA_FIRMA_POLIZA)+1 < right(B.Fecha, 4), year(A.FECHA_FIRMA_POLIZA)+2, year(A.FECHA_FIRMA_POLIZA))  = right(B.Fecha, 4)
--(84609 row(s) affected)
--(87750 row(s) affected)
--select per, MARCA, MODELO, max_anio_veh_fp2, min_anio_veh_fp2, max_tasacion_FP2, min_tasacion_FP2 from #Aux_join_SII_fuera_min_periodo_2 where max_anio_veh_FP2 is null and MARCA is not null and MARCA <> '' order by MARCA, MODELO

drop table if exists #Aux_join_SII_fuera_min_periodo_3
select distinct A.*, b.max_Anio_veh as max_anio_veh_FP3, b.min_Anio_veh as min_anio_veh_FP3, b.max_tasacion as max_tasacion_FP3, b.min_tasacion as min_tasacion_FP3
into #Aux_join_SII_fuera_min_periodo_3
from (select * from #Aux_join_SII_fuera_min_periodo_2 where (max_anio_veh_FP2 is null or min_anio_veh_FP2 is null) and MARCA is not null and rtrim(MARCA) not in ('', 'GENERICA', 'GENERICO')) A
left join #Aux_max_min_tasacion B 
on A.MARCA = B.marca_sol
and A.MODELO = B.modelo_sol 
and IIF(year(A.FECHA_FIRMA_POLIZA)+2 < right(B.Fecha, 4), year(A.FECHA_FIRMA_POLIZA)+3, year(A.FECHA_FIRMA_POLIZA))  = right(B.Fecha, 4)
--(51825 row(s) affected)
--(54966 row(s) affected)
--select per, MARCA, MODELO, max_anio_veh_fp3, min_anio_veh_fp3, max_tasacion_FP3, min_tasacion_FP3 from #Aux_join_SII_fuera_min_periodo_3 where max_anio_veh_FP3 is null and MARCA is not null and MARCA <> '' order by MARCA, MODELO

drop table if exists #Aux_join_SII_fuera_min_periodo_4
select distinct A.*, b.max_Anio_veh as max_anio_veh_FP4, b.min_Anio_veh as min_anio_veh_FP4, b.max_tasacion as max_tasacion_FP4, b.min_tasacion as min_tasacion_FP4
into #Aux_join_SII_fuera_min_periodo_4
from (select * from #Aux_join_SII_fuera_min_periodo_3 where (max_anio_veh_FP3 is null or min_anio_veh_FP3 is null) and MARCA is not null and rtrim(MARCA) not in ('', 'GENERICA', 'GENERICO')) A
left join #Aux_max_min_tasacion B 
on A.MARCA = B.marca_sol
and A.MODELO = B.modelo_sol 
and IIF(year(A.FECHA_FIRMA_POLIZA)+3 < right(B.Fecha, 4), year(A.FECHA_FIRMA_POLIZA)+4, year(A.FECHA_FIRMA_POLIZA))  = right(B.Fecha, 4)
--(36660 row(s) affected)
--(39801 row(s) affected)
--select per, MARCA, MODELO, max_anio_veh_fp4, min_anio_veh_fp4, max_tasacion_FP4, min_tasacion_FP4 from #Aux_join_SII_fuera_min_periodo_4 where max_anio_veh_FP4 is null and MARCA is not null and MARCA <> '' order by MARCA, MODELO

drop table if exists #Aux_join_SII_fuera_min_periodo_5
select distinct A.*, b.max_Anio_veh as max_anio_veh_FP5, b.min_Anio_veh as min_anio_veh_FP5, b.max_tasacion as max_tasacion_FP5, b.min_tasacion as min_tasacion_FP5
into #Aux_join_SII_fuera_min_periodo_5
from (select * from #Aux_join_SII_fuera_min_periodo_4 where (max_anio_veh_FP4 is null or min_anio_veh_FP4 is null) and MARCA is not null and rtrim(MARCA) not in ('', 'GENERICA', 'GENERICO')) A
left join #Aux_max_min_tasacion B 
on A.MARCA = B.marca_sol
and A.MODELO = B.modelo_sol 
and IIF(year(A.FECHA_FIRMA_POLIZA)+4 < right(B.Fecha, 4), year(A.FECHA_FIRMA_POLIZA)+5, year(A.FECHA_FIRMA_POLIZA))  = right(B.Fecha, 4)
--(27197 row(s) affected)
--(30338 row(s) affected)
--select per, MARCA, MODELO, max_anio_veh_fp5, min_anio_veh_fp5, max_tasacion_FP5, min_tasacion_FP5 from #Aux_join_SII_fuera_min_periodo_5 where max_anio_veh_FP5 is null and MARCA is not null and MARCA <> '' order by MARCA, MODELO

--unir todos los auxiliares
drop table if exists #Aux_join_SII_final
select A.*
,max_anio_veh_final = case	when A.max_anio_veh is null and B.max_anio_veh_FP1 is not null then B.max_anio_veh_FP1
							when A.max_anio_veh is null and C.max_anio_veh_FP2 is not null then C.max_anio_veh_FP2
							when A.max_anio_veh is null and D.max_anio_veh_FP3 is not null then D.max_anio_veh_FP3
							when A.max_anio_veh is null and E.max_anio_veh_FP4 is not null then E.max_anio_veh_FP4
							when A.max_anio_veh is null and F.max_anio_veh_FP5 is not null then F.max_anio_veh_FP5
							else A.max_anio_veh end
,min_anio_veh_final = case 	when A.min_anio_veh is null and B.min_anio_veh_FP1 is not null then B.min_anio_veh_FP1
							when A.min_anio_veh is null and C.min_anio_veh_FP2 is not null then C.min_anio_veh_FP2
							when A.min_anio_veh is null and D.min_anio_veh_FP3 is not null then D.min_anio_veh_FP3
							when A.min_anio_veh is null and E.min_anio_veh_FP4 is not null then E.min_anio_veh_FP4
							when A.min_anio_veh is null and F.min_anio_veh_FP5 is not null then F.min_anio_veh_FP5
							else A.min_anio_veh end
,max_tasacion_final = case	when A.max_tasacion is null and B.max_tasacion_FP1 is not null then B.max_tasacion_FP1
							when A.max_tasacion is null and C.max_tasacion_FP2 is not null then C.max_tasacion_FP2
							when A.max_tasacion is null and D.max_tasacion_FP3 is not null then D.max_tasacion_FP3
							when A.max_tasacion is null and E.max_tasacion_FP4 is not null then E.max_tasacion_FP4
							when A.max_tasacion is null and F.max_tasacion_FP5 is not null then F.max_tasacion_FP5
							else A.max_tasacion end
,min_tasacion_final = case 	when A.min_tasacion is null and B.min_tasacion_FP1 is not null then B.min_tasacion_FP1
							when A.min_tasacion is null and C.min_tasacion_FP2 is not null then C.min_tasacion_FP2
							when A.min_tasacion is null and D.min_tasacion_FP3 is not null then D.min_tasacion_FP3
							when A.min_tasacion is null and E.min_tasacion_FP4 is not null then E.min_tasacion_FP4
							when A.min_tasacion is null and F.min_tasacion_FP5 is not null then F.min_tasacion_FP5
							else A.min_tasacion end
into #Aux_join_SII_final
from #Aux_join_SII A
left join #Aux_join_SII_fuera_min_periodo_1 B on A.ID = B.ID
left join #Aux_join_SII_fuera_min_periodo_2 C on A.ID = C.ID
left join #Aux_join_SII_fuera_min_periodo_3 D on A.ID = D.ID
left join #Aux_join_SII_fuera_min_periodo_4 E on A.ID = E.ID
left join #Aux_join_SII_fuera_min_periodo_5 F on A.ID = F.ID
--(10558098 row(s) affected)
--(11053066 row(s) affected)
--select * from #Aux_join_SII_final


----------------------- JOIN CON BASE PRINCIPAL
drop table if exists #Aux_join_SII_2
select distinct A.*
,B.Tasacion_final as Tasacion_base
,Tasacion_interp = case when A.max_anio_veh_final <> A.min_anio_veh_final  then A.max_tasacion_final - round(((A.max_tasacion_final - A.min_tasacion_final) * (convert(INT,A.max_anio_veh_final) - convert(INT, A.AÑO))) / (convert(INT,A.max_anio_veh_final) - convert(INT,A.min_anio_veh_final)), 0)
							when A.max_anio_veh_final = A.min_anio_veh_final then A.max_tasacion_final
							else null end
,B.tipo_veh_final as Tipo_veh_base
,C.tipo_veh_final as Tipo_veh_aux
,B.Puertas_final as Puertas_base
,C.Puertas_final as Puertas_aux
,B.cilindrada_final as Cilindrada_base
,C.cilindrada_final as Cilindrada_aux
,B.combustible_final as Combustible_base
,C.combustible_final as Combustible_aux
,B.Transmision_final as Transmision_base
,c.Transmision_final as Transmision_aux
,anio_max_min = IIF(A.AÑO > A.max_Anio_veh_final, A.max_Anio_veh_final, IIF(A.AÑO < A.min_Anio_veh_final, A.min_Anio_veh_final, A.AÑO))
into #Aux_join_SII_2
from #Aux_join_SII_FINAL A
left join #Aux_SII_3 B 
on rtrim(A.MARCA) = rtrim(B.marca_sol) and rtrim(A.MODELO) = rtrim(B.modelo_sol)
and IIF(A.AÑO > A.max_Anio_veh, A.max_Anio_veh, IIF(A.AÑO < A.min_Anio_veh, A.min_Anio_veh, A.AÑO)) = B.Anio_veh   --aqui habia una pifia, en el signo de mayor o menor en el caso del min, se corrigió
and year(A.FECHA_FIRMA_POLIZA) = right(B.Fecha, 4) -- debiese ser por fecha de emision no la fecha de devengamiento?
left join #Aux_cualitativas C
on rtrim(A.MARCA) = rtrim(C.marca_sol) and rtrim(A.MODELO) = rtrim(C.modelo_sol)
--(10558098 row(s) affected)
--(11053066 row(s) affected)
--select distinct year(per) as fecha, MARCA, MODELO, max_tasacion_final, min_tasacion_final, max_Anio_veh_final, min_Anio_veh_final, AÑO, 
--tipo_veh_base, tipo_veh_aux, Puertas_base, Puertas_aux, cilindrada_base, cilindrada_aux, combustible_base, combustible_aux, anio_max_min, tasacion_base, tasacion_interp
--from #Aux_join_SII_2 order by MARCA, MODELO, AÑO, year(per)
-- select agrup = case when tasacion_interp is null then 1 else 0 end, count(*) from  #Aux_join_SII_2 group by case when tasacion_interp is null then 1 else 0 end






drop table if exists #Aux_join_SII_3
select *
,Tasacion = case when tasacion_base is null then tasacion_interp else tasacion_base end
,Tipo_veh = case when Tipo_veh_base is null then Tipo_veh_aux else Tipo_veh_base end
,Puertas = case when Puertas_base is null then Puertas_aux else Puertas_base end
,Cilindrada = case when Cilindrada_base is null then Cilindrada_aux else Cilindrada_base end
,Combustible = case when Combustible_base is null then Combustible_aux else Combustible_base end
,Transmision = case when Transmision_base is null then Transmision_aux else Transmision_base end
into #Aux_join_SII_3
from #Aux_join_SII_2
--(10558098 row(s) affected)
--(11053066 row(s) affected)
--select agrup = case when tasacion is null then 1 else 0 end, count(*) from  #Aux_join_SII_3 group by case when tasacion is null then 1 else 0 end


-----++++++++++++++++++  Discretización de Variables   +++++++++++++++++++

drop table if exists #Aux_agrupaciones
select *
,EDAD_ASE_agrupado = case when EDAD_ASE >= 18 and EDAD_ASE <= 20 then '[18 _ 20]'
									when EDAD_ASE >= 21 and EDAD_ASE <= 25 then '[21 _ 25]'
									when EDAD_ASE >= 26 and EDAD_ASE <= 30 then '[26 _ 30]'
									when EDAD_ASE >= 31 and EDAD_ASE <= 35 then '[31 _ 35]'
									when EDAD_ASE >= 36 and EDAD_ASE <= 40 then '[36 _ 40]'
									when EDAD_ASE >= 41 and EDAD_ASE <= 45 then '[41 _ 45]'
									when EDAD_ASE >= 46 and EDAD_ASE <= 50 then '[46 _ 50]'
									when EDAD_ASE >= 51 and EDAD_ASE <= 55 then '[51 _ 55]'
									when EDAD_ASE >= 56 and EDAD_ASE <= 60 then '[56 _ 60]'
									when EDAD_ASE >= 61 and EDAD_ASE <= 65 then '[61 _ 65]'
									when EDAD_ASE >= 66 and EDAD_ASE <= 70 then '[66 _ 70]'
									when EDAD_ASE >= 71 and EDAD_ASE <= 75 then '[71 _ 75]'
									when EDAD_ASE >= 76 and EDAD_ASE <= 80 then '[76 _ 80]'
									when EDAD_ASE >= 81 and EDAD_ASE <= 85 then '[81 _ 85]'
									when EDAD_ASE >= 86 and EDAD_ASE <= 90 then '[86 _ 90]'
									when EDAD_ASE >= 91 then '[91 o más['
									else 'UNKNOWN' end

,AntVeh_agrupado = case when try_cast(ANTVEH_calc as int) >= -2 and try_cast(ANTVEH_calc as int) <= 2 then '[-2 _ 2]'
						when try_cast(ANTVEH_calc as int) >= 2 and try_cast(ANTVEH_calc as int) <= 4 then '[2 _ 4]'
						when try_cast(ANTVEH_calc as int) >= 5 and try_cast(ANTVEH_calc as int) <= 6 then '[5 _ 6]'
						when try_cast(ANTVEH_calc as int) >= 7 and try_cast(ANTVEH_calc as int) <= 9 then '[7 _ 9]'
						when try_cast(ANTVEH_calc as int) >= 10 and try_cast(ANTVEH_calc as int) <= 13 then '[10 _ 13]'
						when try_cast(ANTVEH_calc as int) >= 14 and try_cast(ANTVEH_calc as int) <= 17 then '[14 _ 17]'
						when try_cast(ANTVEH_calc as int) >= 18  then '[18 _ o más]'
						else 'UNKNOWN' end

,Tasacion_agrupado = case when tasacion = 0 then '0'
						 when tasacion > 0			and tasacion <= 1000000 then ']0 - 1.000.000]'
						 when tasacion > 1000000	and tasacion <= 2000000 then ']1.000.000 - 2.000.000]'
						 when tasacion > 2000000	and tasacion <= 3000000 then ']2.000.000 - 3.000.000]'
						 when tasacion > 3000000	and tasacion <= 4000000 then ']3.000.000 - 4.000.000]'
						 when tasacion > 4000000	and tasacion <= 5000000 then ']4.000.000 - 5.000.000]'
						 when tasacion > 5000000	and tasacion <= 6000000 then ']5.000.000 - 6.000.000]'
						 when tasacion > 6000000	and tasacion <= 7000000 then ']6.000.000 - 7.000.000]'
						 when tasacion > 7000000	and tasacion <= 8000000 then ']7.000.000 - 8.000.000]'
						 when tasacion > 8000000	and tasacion <= 9000000 then ']8.000.000 - 9.000.000]'
						 when tasacion > 9000000	and tasacion <= 10000000 then ']9.000.000 - 10.000.000]'
						 when tasacion > 10000000	and tasacion <= 11000000 then ']10.000.000 - 11.000.000]'
						 when tasacion > 11000000	and tasacion <= 12000000 then ']11.000.000 - 12.000.000]'
						 when tasacion > 12000000	and tasacion <= 13000000 then ']12.000.000 - 13.000.000]'
						 when tasacion > 13000000	and tasacion <= 14000000 then ']13.000.000 - 14.000.000]'
						 when tasacion > 14000000	and tasacion <= 15000000 then ']14.000.000 - 15.000.000]'
						 when tasacion > 15000000	and tasacion <= 16000000 then ']15.000.000 - 16.000.000]'
						 when tasacion > 16000000	and tasacion <= 17000000 then ']16.000.000 - 17.000.000]'
						 when tasacion > 17000000	and tasacion <= 18000000 then ']17.000.000 - 18.000.000]'
						 when tasacion > 18000000	and tasacion <= 19000000 then ']18.000.000 - 19.000.000]'
						 when tasacion > 19000000	and tasacion <= 20000000 then ']19.000.000 - 20.000.000]'
						 when tasacion > 20000000	and tasacion <= 30000000 then ']20.000.000 - 30.000.000]'
						 when tasacion > 30000000	and tasacion <= 40000000 then ']30.000.000 - 40.000.000]'
						 when tasacion > 40000000	and tasacion <= 50000000 then ']40.000.000 - 50.000.000]'
						 when tasacion > 50000000	then ']mas de 50.000.000]'
						 else 'UNKNOWN' end

,Cilindrada_agrupado = case when replace(cilindrada, '.', '') = 0 then '0'
						 when replace(cilindrada, '.', '') > 0	and replace(cilindrada, '.', '') <= 500 then ']0 - 500]'
						 when replace(cilindrada, '.', '') > 500	and replace(cilindrada, '.', '') <= 1000 then ']500 - 1.000]'
						 when replace(cilindrada, '.', '') > 1000	and replace(cilindrada, '.', '') <= 1500 then ']1.000 - 1.500]'
						 when replace(cilindrada, '.', '') > 1500	and replace(cilindrada, '.', '') <= 2000 then ']1.500 - 2.000]'
						 when replace(cilindrada, '.', '') > 2000	and replace(cilindrada, '.', '') <= 2500 then ']2.000 - 2.500]'
						 when replace(cilindrada, '.', '') > 2500	and replace(cilindrada, '.', '') <= 3000 then ']2.500 - 3.000]'
						 when replace(cilindrada, '.', '') > 3000	and replace(cilindrada, '.', '') <= 3500 then ']3.000 - 3.500]'
						 when replace(cilindrada, '.', '') > 3500	and replace(cilindrada, '.', '') <= 4000 then ']3.500 - 4.000]'
						 when replace(cilindrada, '.', '') > 4000	then ']mas de 4.000]'
						 else 'UNKNOWN' end

into #Aux_agrupaciones
from #Aux_join_SII_3
--(10558098 row(s) affected)
--(11053066 row(s) affected)
--select * from #Aux_agrupaciones

update #Aux_agrupaciones
set combustible = case when MODELO like '%hibrid%' or  MODELO like '%hybrid%' or MODELO in ('OUTLANDER PHEV') then 'Hibrido'
						when MODELO like '%Electr%' or MODELO in ('KANGOO ZE ELECTRICO') then 'Electrico'
						else combustible end



--+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
SET @TERMINO= GETDATE()
INSERT INTO CANAL_ASESOR.DBO.MOVILIDAD_CONTROL_DE_EJECUCION VALUES ('SP_NEW_MODEL_2024_VARIABLES_NUEVAS','2 DE 2',@TERMINO,DATEDIFF(MINUTE,@PASOS,@TERMINO)/60,DATEDIFF(MINUTE,@PASOS,@TERMINO)%60)
SET @PASOS= GETDATE()
--+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++




------+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
------              paso 2) Salida : guardo la base
------+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++


drop table if exists almacen_de_datos.dbo.New_variables_modelo_personal_2024
select * 
into almacen_de_datos.dbo.New_variables_modelo_personal_2024
from #Aux_agrupaciones

--select * from almacen_de_datos.dbo.New_variables_modelo_personal_2024

--+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
SET @TERMINO= GETDATE()
INSERT INTO CANAL_ASESOR.DBO.MOVILIDAD_CONTROL_DE_EJECUCION VALUES ('SP_NEW_MODEL_2024_VARIABLES_NUEVAS','FIN',@TERMINO,DATEDIFF(MINUTE,@INICIO,@TERMINO)/60,DATEDIFF(MINUTE,@INICIO,@TERMINO)%60)
SET @PASOS= GETDATE()
--+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

END TRY
BEGIN CATCH
INSERT INTO CANAL_ASESOR.DBO.MOVILIDAD_CONTROL_ERROR
  SELECT 
    ERROR_NUMBER()		AS NUMERO_ERROR,
    ERROR_STATE()		AS ESTADO_ERROR,
    ERROR_SEVERITY()	AS SEVERIDAD_ERROR,
    ERROR_PROCEDURE()	AS NOMBRE_PROCEDIMIENTO,
    ERROR_LINE()		AS LINEA_ERROR,
    ERROR_MESSAGE()		AS MENBSAGE_ERROR,
	GETDATE()			AS TIMESTAMP,
	CURRENT_USER		AS USUARIO_EJECUTA
	;
END CATCH;

