USE [Almacen_de_Datos]
GO

ALTER PROCEDURE [dbo].[SP_SURA_MOVILIDAD_RENOVACIONES]
AS

BEGIN

DROP TABLE IF EXISTS #SURA_MOVILIDAD_RENOVACIONES

SELECT 
LLAVE_1,	
LLAVE_2,	
NNUMDOCU,	
NNUMITEM,	
NNUMCERT,	
PRORROGA,	
NNUMENDO,	
ULTIMO_ENDOSO,	
CODIGO_RAMO,
RAMO,	
RUT_EJECUTIVO,	
EJECUTIVO,	
RUT_EJECUTIVO_NUEVO,	
EJECUTIVO_NUEVO,	
RUT_INTERMEDIARIO,	
INTERMEDIARIO,	
RUT_PROPONENTE,	
RUT_ASEGURADO,

CICLO_RENOVACION_LLAVE_1,
CICLO_RENOVACION_LLAVE_2,

ULTIMO_CICLO_RENOVACION_LLAVE_1,
ULTIMO_CICLO_RENOVACION_LLAVE_2,
PR_RIESGO,	
PR_RIESGO_UF,	
PRIMA_PESO,
PRIMA_UF,
CODIGO_PLAN_COMERCIAL,	
PLAN_COMERCIAL,	
CODIGO_PLAN_TECNICO,
PLAN_TECNICO,
TIPO_PLAN,	
IND_POLIZA_MENSUAL,	
IND_POLIZA_UBER,	
IND_POLIZA_TELEMATICA,
TALLER,	
IND_PLAN_TECNICO_WEB,
DEDUCIBLE,	
LINEA_NEGOCIO,
TIPO_NEGOCIO,
BUSINESS_UNIT,	
GRUPO_CHANNEL,
CHANNEL,	
CANAL_GOL,	
SUBGERENCIA_GOL,
CODIGO_MARCA,	
CODIGO_MODELO,	
MARCA,	
MODELO,	
AÑO,	
PATENTE,	
CHASIS,	
MOTOR,	
TIPO_VEHICULO,	
USO,
FECHA_FIRMA_POLIZA,
INICIO_VIGENCIA,	
TERMINO_VIGENCIA,	
TERMINO_VIGENCIA_REAL,	
SUCURSAL_GOL,	
SUCURSAL_CA,	
COMUNA_ASE,	
PROVINCIA_ASE,	
REGION_ASE,	
MACRO_ZONAS_ASE,	
ZONAS_GEOGRAFICAS_ASE,	
REGIONES_URBES_ASE,	
ZONA_ASE,
TIPO_PLAN_LLAVE,	
CANAL_FINAL,	
PARTNER_FINAL,	
VIGENTE,
FLOTA,
SEGMENTO_VEHICULO,	
SEGMENTACION,	
GSE,	
RENTA,
DATEDIFF(YEAR,RF_FECHA_NACIMIENTO,GETDATE()) EDAD_ACTUAL,
TIPO_VIGENCIA,
VEH_ROBADO_AÑO,	
VEH_ROBADO_ZONA,	
VEH_ROBADO_MARCAMODELO,	
LISTADO_VEH_ROBADOS,	
MARCA_ROBADO,
CASE WHEN YEAR(TERMINO_VIGENCIA_REAL)*100+MONTH(TERMINO_VIGENCIA_REAL) IN 
(YEAR( DATEADD(MONTH,1,GETDATE()))*100+MONTH( DATEADD(MONTH,1,GETDATE())),YEAR( DATEADD(MONTH,2,GETDATE()))*100+MONTH( DATEADD(MONTH,2,GETDATE())))
THEN 'PARA RENOVAR EN ESTE PERIODO' ELSE 'RENOVACION FUTURA' END CANDIDATA_A_RENOVAR
INTO #SURA_MOVILIDAD_RENOVACIONES
FROM REPORTES.DBO.SURA_MOVILIDAD_RATING_FACTORS 


DROP TABLE IF EXISTS #SURA_MOVILIDAD_RENOVACIONES2

SELECT A.*, 
CASE WHEN SUM(B.CANT_ULT_DP)	IS NULL THEN 0 ELSE SUM(B.CANT_ULT_DP)		END	AS CANT_ULT_DP,	
CASE WHEN SUM(B.CANT_ULT_PT)	IS NULL THEN 0 ELSE SUM(B.CANT_ULT_PT)		END	AS CANT_ULT_PT,
CASE WHEN SUM(B.CANT_ULT_RC)	IS NULL THEN 0 ELSE SUM(B.CANT_ULT_RC)		END	AS CANT_ULT_RC,
CASE WHEN SUM(B.CANT_ULT_ROBO)	IS NULL THEN 0 ELSE SUM(B.CANT_ULT_ROBO)	END	AS CANT_ULT_ROBO,		
CASE WHEN SUM(B.CANT_ULT_ASIST) IS NULL THEN 0 ELSE SUM(B.CANT_ULT_ASIST)	END	AS CANT_ULT_ASIST,
CASE WHEN SUM(B.CANTIDAD_ULT)	IS NULL THEN 0 ELSE SUM(B.CANTIDAD_ULT)		END	AS CANTIDAD_ULT,
CASE WHEN SUM(B.ULT_DP)			IS NULL THEN 0 ELSE SUM(B.ULT_DP)			END	AS ULT_DP,
CASE WHEN SUM(B.ULT_PT)			IS NULL THEN 0 ELSE SUM(B.ULT_PT)			END	AS ULT_PT,
CASE WHEN SUM(B.ULT_RC)			IS NULL THEN 0 ELSE SUM(B.ULT_RC)			END	AS ULT_RC,
CASE WHEN SUM(B.ULT_ROBO)		IS NULL THEN 0 ELSE SUM(B.ULT_ROBO)			END	AS ULT_ROBO,
CASE WHEN SUM(B.ULT_ASIST)		IS NULL THEN 0 ELSE SUM(B.ULT_ASIST)		END	AS ULT_ASIST,
CASE WHEN SUM(B.ULT_TOTAL)		IS NULL THEN 0 ELSE SUM(B.ULT_TOTAL)		END	AS ULT_TOTAL,
0																				AS CANT_ULT_DP_HISTORICO,	
0																				AS CANT_ULT_PT_HISTORICO,
0																				AS CANT_ULT_RC_HISTORICO,
0																				AS CANT_ULT_ROBO_HISTORICO,		
0																				AS CANT_ULT_ASIST_HISTORICO,
0																				AS CANTIDAD_ULT_HISTORICO,
0																				AS ULT_DP_HISTORICO,
0																				AS ULT_PT_HISTORICO,
0																				AS ULT_RC_HISTORICO,
0																				AS ULT_ROBO_HISTORICO,
0																				AS ULT_ASIST_HISTORICO,
0																				AS ULT_TOTAL_HISTORICO,
0																				AS PR_RIESGO_CON_LOADING,	
0																				AS PR_RIESGO_UF_CON_LOADING,
0																				AS PR_RIESGO_PESO_HISTORICA,	
0																				AS PR_RIESGO_UF_HISTORICA,
0																				AS PRIMA_PESO_HISTORICA,	
0																				AS PRIMA_UF_HISTORICA,
0																				AS LOADINGS
INTO #SURA_MOVILIDAD_RENOVACIONES2
FROM #SURA_MOVILIDAD_RENOVACIONES A LEFT JOIN SURA_MOVILIDAD_PRIMA_SINIESTRO B ON A.NNUMDOCU = B.NNUMDOCU AND A.NNUMITEM=B.NNUMITEM
GROUP BY 
A.LLAVE_1,	
A.LLAVE_2,	
A.NNUMDOCU,	
A.NNUMITEM,	
A.NNUMCERT,	
A.PRORROGA,	
A.NNUMENDO,	
A.ULTIMO_ENDOSO,	
A.CODIGO_RAMO,
A.RAMO,	
A.RUT_EJECUTIVO,	
A.EJECUTIVO,	
A.RUT_EJECUTIVO_NUEVO,	
A.EJECUTIVO_NUEVO,	
A.RUT_INTERMEDIARIO,	
A.INTERMEDIARIO,	
A.RUT_PROPONENTE,	
A.RUT_ASEGURADO,
A.CICLO_RENOVACION_LLAVE_1,
A.CICLO_RENOVACION_LLAVE_2,
A.ULTIMO_CICLO_RENOVACION_LLAVE_1,
A.ULTIMO_CICLO_RENOVACION_LLAVE_2,
A.PR_RIESGO,	
A.PR_RIESGO_UF,	
A.PRIMA_PESO,
A.PRIMA_UF,
A.CODIGO_PLAN_COMERCIAL,	
A.PLAN_COMERCIAL,	
A.CODIGO_PLAN_TECNICO,
A.PLAN_TECNICO,
A.TIPO_PLAN,	
A.IND_POLIZA_MENSUAL,	
A.IND_POLIZA_UBER,	
A.IND_POLIZA_TELEMATICA,
A.TALLER,	
A.IND_PLAN_TECNICO_WEB,
A.DEDUCIBLE,	
A.LINEA_NEGOCIO,
A.TIPO_NEGOCIO,
A.BUSINESS_UNIT,	
A.GRUPO_CHANNEL,
A.CHANNEL,	
A.CANAL_GOL,	
A.SUBGERENCIA_GOL,
A.CODIGO_MARCA,	
A.CODIGO_MODELO,	
A.MARCA,	
A.MODELO,	
A.AÑO,	
A.PATENTE,	
A.CHASIS,	
A.MOTOR,	
A.TIPO_VEHICULO,	
A.USO,
A.FECHA_FIRMA_POLIZA,
A.INICIO_VIGENCIA,	
A.TERMINO_VIGENCIA,	
A.TERMINO_VIGENCIA_REAL,	
A.SUCURSAL_GOL,	
A.SUCURSAL_CA,	
A.COMUNA_ASE,	
A.PROVINCIA_ASE,	
A.REGION_ASE,	
A.MACRO_ZONAS_ASE,	
A.ZONAS_GEOGRAFICAS_ASE,	
A.REGIONES_URBES_ASE,	
A.ZONA_ASE,
A.TIPO_PLAN_LLAVE,	
A.CANAL_FINAL,	
A.PARTNER_FINAL,	
A.VIGENTE,
A.FLOTA,
A.SEGMENTO_VEHICULO,	
A.SEGMENTACION,	
A.GSE,	
A.RENTA,
A.EDAD_ACTUAL,
A.TIPO_VIGENCIA,
A.VEH_ROBADO_AÑO,	
A.VEH_ROBADO_ZONA,	
A.VEH_ROBADO_MARCAMODELO,	
A.LISTADO_VEH_ROBADOS,	
A.MARCA_ROBADO,
A.CANDIDATA_A_RENOVAR


ALTER TABLE #SURA_MOVILIDAD_RENOVACIONES2 ALTER COLUMN CANT_ULT_DP_HISTORICO NUMERIC(38,6)
ALTER TABLE #SURA_MOVILIDAD_RENOVACIONES2 ALTER COLUMN CANT_ULT_PT_HISTORICO NUMERIC(38,6)
ALTER TABLE #SURA_MOVILIDAD_RENOVACIONES2 ALTER COLUMN CANT_ULT_RC_HISTORICO NUMERIC(38,6)
ALTER TABLE #SURA_MOVILIDAD_RENOVACIONES2 ALTER COLUMN CANT_ULT_ROBO_HISTORICO NUMERIC(38,6)
ALTER TABLE #SURA_MOVILIDAD_RENOVACIONES2 ALTER COLUMN CANT_ULT_ASIST_HISTORICO NUMERIC(38,6)
ALTER TABLE #SURA_MOVILIDAD_RENOVACIONES2 ALTER COLUMN CANTIDAD_ULT_HISTORICO NUMERIC(38,6)
ALTER TABLE #SURA_MOVILIDAD_RENOVACIONES2 ALTER COLUMN ULT_DP_HISTORICO NUMERIC(38,6)
ALTER TABLE #SURA_MOVILIDAD_RENOVACIONES2 ALTER COLUMN ULT_PT_HISTORICO NUMERIC(38,6)
ALTER TABLE #SURA_MOVILIDAD_RENOVACIONES2 ALTER COLUMN ULT_RC_HISTORICO NUMERIC(38,6)
ALTER TABLE #SURA_MOVILIDAD_RENOVACIONES2 ALTER COLUMN ULT_ROBO_HISTORICO NUMERIC(38,6)
ALTER TABLE #SURA_MOVILIDAD_RENOVACIONES2 ALTER COLUMN ULT_ASIST_HISTORICO NUMERIC(38,6)
ALTER TABLE #SURA_MOVILIDAD_RENOVACIONES2 ALTER COLUMN ULT_TOTAL_HISTORICO NUMERIC(38,6)
ALTER TABLE #SURA_MOVILIDAD_RENOVACIONES2 ALTER COLUMN PR_RIESGO_CON_LOADING NUMERIC(38,6)
ALTER TABLE #SURA_MOVILIDAD_RENOVACIONES2 ALTER COLUMN PR_RIESGO_UF_CON_LOADING NUMERIC(38,6)
ALTER TABLE #SURA_MOVILIDAD_RENOVACIONES2 ALTER COLUMN PR_RIESGO_PESO_HISTORICA NUMERIC(38,6)
ALTER TABLE #SURA_MOVILIDAD_RENOVACIONES2 ALTER COLUMN PR_RIESGO_UF_HISTORICA NUMERIC(38,6)
ALTER TABLE #SURA_MOVILIDAD_RENOVACIONES2 ALTER COLUMN PRIMA_PESO_HISTORICA NUMERIC(38,6)
ALTER TABLE #SURA_MOVILIDAD_RENOVACIONES2 ALTER COLUMN PRIMA_UF_HISTORICA NUMERIC(38,6)
ALTER TABLE #SURA_MOVILIDAD_RENOVACIONES2 ALTER COLUMN LOADINGS NUMERIC(38,6)


DROP TABLE IF EXISTS #SURA_MOVILIDAD_RENOVACIONES_SINIESTROS

SELECT 
A.LLAVE_1,
CASE WHEN SUM(B.CANT_ULT_DP)		IS NULL THEN 0 ELSE SUM(B.CANT_ULT_DP)		END	AS CANT_ULT_DP_HISTORICO,	
CASE WHEN SUM(B.CANT_ULT_PT)		IS NULL THEN 0 ELSE SUM(B.CANT_ULT_PT)		END	AS CANT_ULT_PT_HISTORICO,
CASE WHEN SUM(B.CANT_ULT_RC)		IS NULL THEN 0 ELSE SUM(B.CANT_ULT_RC)		END	AS CANT_ULT_RC_HISTORICO,
CASE WHEN SUM(B.CANT_ULT_ROBO)		IS NULL THEN 0 ELSE SUM(B.CANT_ULT_ROBO)	END	AS CANT_ULT_ROBO_HISTORICO,		
CASE WHEN SUM(B.CANT_ULT_ASIST)		IS NULL THEN 0 ELSE SUM(B.CANT_ULT_ASIST)	END	AS CANT_ULT_ASIST_HISTORICO,
CASE WHEN SUM(B.CANTIDAD_ULT)		IS NULL THEN 0 ELSE SUM(B.CANTIDAD_ULT)		END	AS CANTIDAD_ULT_HISTORICO,
CASE WHEN SUM(B.ULT_DP)				IS NULL THEN 0 ELSE SUM(B.ULT_DP)			END	AS ULT_DP_HISTORICO,
CASE WHEN SUM(B.ULT_PT)				IS NULL THEN 0 ELSE SUM(B.ULT_PT)			END	AS ULT_PT_HISTORICO,
CASE WHEN SUM(B.ULT_RC)				IS NULL THEN 0 ELSE SUM(B.ULT_RC)			END	AS ULT_RC_HISTORICO,
CASE WHEN SUM(B.ULT_ROBO)			IS NULL THEN 0 ELSE SUM(B.ULT_ROBO)			END	AS ULT_ROBO_HISTORICO,
CASE WHEN SUM(B.ULT_ASIST)			IS NULL THEN 0 ELSE SUM(B.ULT_ASIST)		END	AS ULT_ASIST_HISTORICO,
CASE WHEN SUM(B.ULT_TOTAL)			IS NULL THEN 0 ELSE SUM(B.ULT_TOTAL)		END	AS ULT_TOTAL_HISTORICO
INTO #SURA_MOVILIDAD_RENOVACIONES_SINIESTROS
FROM REPORTES.DBO.SURA_MOVILIDAD_RATING_FACTORS A, SURA_MOVILIDAD_PRIMA_SINIESTRO B
WHERE A.NNUMDOCU=B.NNUMDOCU AND A.NNUMITEM=B.NNUMITEM AND A.PRORROGA=B.PRORROGA
GROUP BY A.LLAVE_1


UPDATE #SURA_MOVILIDAD_RENOVACIONES2
SET
CANT_ULT_DP_HISTORICO		= B.CANT_ULT_DP_HISTORICO,	
CANT_ULT_PT_HISTORICO		= B.CANT_ULT_DP_HISTORICO,
CANT_ULT_RC_HISTORICO		= B.CANT_ULT_RC_HISTORICO,
CANT_ULT_ROBO_HISTORICO		= B.CANT_ULT_ROBO_HISTORICO,		
CANT_ULT_ASIST_HISTORICO	= B.CANT_ULT_ASIST_HISTORICO,
CANTIDAD_ULT_HISTORICO		= B.CANTIDAD_ULT_HISTORICO,
ULT_DP_HISTORICO			= B.ULT_DP_HISTORICO,
ULT_PT_HISTORICO			= B.ULT_PT_HISTORICO,
ULT_RC_HISTORICO			= B.ULT_RC_HISTORICO,
ULT_ROBO_HISTORICO			= B.ULT_ROBO_HISTORICO,
ULT_ASIST_HISTORICO			= B.ULT_ASIST_HISTORICO,
ULT_TOTAL_HISTORICO			= B.ULT_TOTAL_HISTORICO
FROM #SURA_MOVILIDAD_RENOVACIONES2 A, #SURA_MOVILIDAD_RENOVACIONES_SINIESTROS B
WHERE A.LLAVE_1=B.LLAVE_1


DROP TABLE IF EXISTS #SURA_MOVILIDAD_RENOVACIONES_PRIMA

SELECT 
LLAVE_1,
CASE WHEN SUM(PR_RIESGO)	IS NULL THEN 0 ELSE SUM(PR_RIESGO)		END	AS PR_RIESGO_PESO_HISTORICA,	
CASE WHEN SUM(PR_RIESGO_UF)	IS NULL THEN 0 ELSE SUM(PR_RIESGO_UF)	END	AS PR_RIESGO_UF_HISTORICA,
CASE WHEN SUM(PRIMA_PESO)	IS NULL THEN 0 ELSE SUM(PRIMA_PESO)		END	AS PRIMA_PESO_HISTORICA,	
CASE WHEN SUM(PRIMA_UF)		IS NULL THEN 0 ELSE SUM(PRIMA_UF)		END	AS PRIMA_UF_HISTORICA
INTO #SURA_MOVILIDAD_RENOVACIONES_PRIMA
FROM REPORTES.DBO.SURA_MOVILIDAD_RATING_FACTORS
GROUP BY 
LLAVE_1


UPDATE #SURA_MOVILIDAD_RENOVACIONES2
SET
PR_RIESGO_PESO_HISTORICA	= B.PR_RIESGO_PESO_HISTORICA,
PR_RIESGO_UF_HISTORICA		= B.PR_RIESGO_UF_HISTORICA,
PRIMA_PESO_HISTORICA		= B.PRIMA_PESO_HISTORICA,
PRIMA_UF_HISTORICA			= B.PRIMA_UF_HISTORICA
FROM #SURA_MOVILIDAD_RENOVACIONES2 A, #SURA_MOVILIDAD_RENOVACIONES_PRIMA B
WHERE A.LLAVE_1=B.LLAVE_1



---------------------------------------------------------------------------------------------
----------- AGREGO INFORMACION DE SINIESTROS DEL PERIODO ANTERIOR ---------------------------
---------------------------------------------------------------------------------------------

DROP TABLE IF EXISTS #SURA_MOVILIDAD_RB_SIN_VIG_ANTER

SELECT 
A.LLAVE_1, A.CICLO_RENOVACION_LLAVE_1, 
CASE WHEN SUM(B.CANT_ULT_DP)		IS NULL THEN 0 ELSE SUM(B.CANT_ULT_DP)		END	AS CANT_ULT_DP_HISTORICO,	
CASE WHEN SUM(B.CANT_ULT_PT)		IS NULL THEN 0 ELSE SUM(B.CANT_ULT_PT)		END	AS CANT_ULT_PT_HISTORICO,
CASE WHEN SUM(B.CANT_ULT_RC)		IS NULL THEN 0 ELSE SUM(B.CANT_ULT_RC)		END	AS CANT_ULT_RC_HISTORICO,
CASE WHEN SUM(B.CANT_ULT_ROBO)		IS NULL THEN 0 ELSE SUM(B.CANT_ULT_ROBO)	END	AS CANT_ULT_ROBO_HISTORICO,		
CASE WHEN SUM(B.CANT_ULT_ASIST)		IS NULL THEN 0 ELSE SUM(B.CANT_ULT_ASIST)	END	AS CANT_ULT_ASIST_HISTORICO,
CASE WHEN SUM(B.CANTIDAD_ULT)		IS NULL THEN 0 ELSE SUM(B.CANTIDAD_ULT)		END	AS CANTIDAD_ULT_HISTORICO,
CASE WHEN SUM(B.ULT_DP)				IS NULL THEN 0 ELSE SUM(B.ULT_DP)			END	AS ULT_DP_HISTORICO,
CASE WHEN SUM(B.ULT_PT)				IS NULL THEN 0 ELSE SUM(B.ULT_PT)			END	AS ULT_PT_HISTORICO,
CASE WHEN SUM(B.ULT_RC)				IS NULL THEN 0 ELSE SUM(B.ULT_RC)			END	AS ULT_RC_HISTORICO,
CASE WHEN SUM(B.ULT_ROBO)			IS NULL THEN 0 ELSE SUM(B.ULT_ROBO)			END	AS ULT_ROBO_HISTORICO,
CASE WHEN SUM(B.ULT_ASIST)			IS NULL THEN 0 ELSE SUM(B.ULT_ASIST)		END	AS ULT_ASIST_HISTORICO,
CASE WHEN SUM(B.ULT_TOTAL)			IS NULL THEN 0 ELSE SUM(B.ULT_TOTAL)		END	AS ULT_TOTAL_HISTORICO
INTO #SURA_MOVILIDAD_RB_SIN_VIG_ANTER
FROM REPORTES.DBO.SURA_MOVILIDAD_RATING_FACTORS A, (
	SELECT 
		NNUMDOCU, NNUMITEM
		,SUM(CANT_ULT_DP) CANT_ULT_DP
		,SUM(CANT_ULT_PT) CANT_ULT_PT
		,SUM(CANT_ULT_RC) CANT_ULT_RC
		,SUM(CANT_ULT_ROBO) CANT_ULT_ROBO
		,SUM(CANT_ULT_ASIST) CANT_ULT_ASIST
		,SUM(CANTIDAD_ULT) CANTIDAD_ULT
		,SUM(ULT_DP) ULT_DP		
		,SUM(ULT_PT) ULT_PT		
		,SUM(ULT_RC) ULT_RC		
		,SUM(ULT_ROBO) ULT_ROBO	
		,SUM(ULT_ASIST)	ULT_ASIST
		,SUM(ULT_TOTAL) ULT_TOTAL
	FROM Reportes.dbo.MI_PRIMA_SINIESTRO_MOTOR
	GROUP BY NNUMDOCU, NNUMITEM
) B
WHERE A.NNUMDOCU=B.NNUMDOCU AND A.NNUMITEM=B.NNUMITEM-- AND A.PRORROGA=B.PRORROGA
GROUP BY A.LLAVE_1, A.CICLO_RENOVACION_LLAVE_1


DROP TABLE IF EXISTS #SURA_MOVILIDAD_RENOVACIONES_AUX

SELECT *,
CASE WHEN CICLO_RENOVACION_LLAVE_1 > 0 THEN 'RB' ELSE 'NB' END AS MARCA_NUEVA,
CASE WHEN CICLO_RENOVACION_LLAVE_1 = 0 THEN 0 ELSE (CICLO_RENOVACION_LLAVE_1 - 1) END AS CICLO_RENOVACION_ANTERIOR
INTO #SURA_MOVILIDAD_RENOVACIONES_AUX
FROM #SURA_MOVILIDAD_RENOVACIONES2


DROP TABLE IF EXISTS #SURA_MOVILIDAD_RENOVACIONES_AUX2
--ACA SE VAN LAS POLIZAS
SELECT A.*,
CANT_ULT_DP_VIG_ANTERIOR		= B.CANT_ULT_DP_HISTORICO,	
CANT_ULT_PT_VIG_ANTERIOR		= B.CANT_ULT_DP_HISTORICO,
CANT_ULT_RC_VIG_ANTERIOR		= B.CANT_ULT_RC_HISTORICO,
CANT_ULT_ROBO_VIG_ANTERIOR		= B.CANT_ULT_ROBO_HISTORICO,		
CANT_ULT_ASIST_VIG_ANTERIOR		= B.CANT_ULT_ASIST_HISTORICO,
CANTIDAD_ULT_VIG_ANTERIOR		= B.ULT_DP_HISTORICO,
ULT_PT_VIG_ANTERIOR				= B.ULT_RC_HISTORICO,
ULT_ROBO_VIG_ANTERIOR			= B.ULT_ROBO_HISTORICO,
ULT_ASIST_VIG_ANTERIOR			= B.ULT_ASIST_HISTORICO,
ULT_TOTAL_VIG_ANTERIOR			= B.ULT_TOTAL_HISTORICO
INTO #SURA_MOVILIDAD_RENOVACIONES_AUX2
FROM #SURA_MOVILIDAD_RENOVACIONES_AUX A, #SURA_MOVILIDAD_RB_SIN_VIG_ANTER B
WHERE A.LLAVE_1=B.LLAVE_1 AND A.CICLO_RENOVACION_ANTERIOR = B.CICLO_RENOVACION_LLAVE_1 


update #SURA_MOVILIDAD_RENOVACIONES_AUX2
set
CANT_ULT_DP_VIG_ANTERIOR		= -999,	
CANT_ULT_PT_VIG_ANTERIOR		= -999,
CANT_ULT_RC_VIG_ANTERIOR		= -999,
CANT_ULT_ROBO_VIG_ANTERIOR		= -999,		
CANT_ULT_ASIST_VIG_ANTERIOR		= -999,
CANTIDAD_ULT_VIG_ANTERIOR		= -999,
ULT_PT_VIG_ANTERIOR				= -999,
ULT_ROBO_VIG_ANTERIOR			= -999,
ULT_ASIST_VIG_ANTERIOR			= -999,
ULT_TOTAL_VIG_ANTERIOR			= -999
FROM #SURA_MOVILIDAD_RENOVACIONES_AUX2
WHERE MARCA_NUEVA = 'NB'
--HITO


alter table #SURA_MOVILIDAD_RENOVACIONES_AUX2
add PRIMA_TECNICA_PESO decimal(38,5) null

alter table #SURA_MOVILIDAD_RENOVACIONES_AUX2
add PRIMA_TECNICA_UF decimal(38,5) null


--EJECUTAR
update #SURA_MOVILIDAD_RENOVACIONES_AUX2
set PRIMA_TECNICA_UF = b.PRIMA_TECNICA_UF
from #SURA_MOVILIDAD_RENOVACIONES_AUX2 a
left join REPORTES.DBO.SURA_MOVILIDAD_RATING_FACTORS b on
a.NNUMDOCU = b.NNUMDOCU and
a.NNUMITEM = b.NNUMITEM and
a.NNUMCERT = b.NNUMCERT and
a.PRORROGA = b.PRORROGA
--where a.PRIMA_TECNICA_UF is null

update #SURA_MOVILIDAD_RENOVACIONES_AUX2
set PRIMA_TECNICA_UF = 0
where PRIMA_TECNICA_UF is null



-- SE GUARDA LA INFORMACION DE LA TEMPORAL EN SURA_MOVILIDAD_RENOVACIONES
DROP TABLE IF EXISTS SURA_MOVILIDAD_RENOVACIONES
select * into SURA_MOVILIDAD_RENOVACIONES from #SURA_MOVILIDAD_RENOVACIONES_AUX2



END