USE [Almacen_de_Datos]
GO

ALTER  PROCEDURE [dbo].[08_SP_SURA_MOVILIDAD_PRIMA_DEVENGADA]
AS
BEGIN TRY
DECLARE @TERMINO DATETIME
DECLARE @INICIO DATETIME
DECLARE @PASOS DATETIME
SET @INICIO=GETDATE()
SET @PASOS=@INICIO


DECLARE @FECHA_HASTA DATE
SET @FECHA_HASTA=EOMONTH(DATEADD(MM, -1, getdate()))
--SET @FECHA_HASTA='2023-04-30'

SELECT * FROM ALMACEN_DE_DATOS.DBO.SURA_MOVILIDAD_PERIODO WHERE PER > EOMONTH(@FECHA_HASTA,-60) AND PER <= EOMONTH(@FECHA_HASTA,5)

--+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
SET @TERMINO= GETDATE()
INSERT INTO CANAL_ASESOR.DBO.MOVILIDAD_CONTROL_DE_EJECUCION VALUES ('08_SP_SURA_MOVILIDAD_PRIMA_DEVENGADA','INICIO',@TERMINO,DATEDIFF(MINUTE,@PASOS,@TERMINO)/60,DATEDIFF(MINUTE,@PASOS,@TERMINO)%60)
SET @PASOS= GETDATE()
--+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
--DECLARE @FECHA_HASTA DATE SET @FECHA_HASTA=EOMONTH(DATEADD(MM, -1, getdate()))
DROP TABLE IF EXISTS #SURA_MOVILIDAD_PRIMA_DEVENGADA_PRE
SELECT * INTO #SURA_MOVILIDAD_PRIMA_DEVENGADA_PRE FROM (

--DECLARE @FECHA_HASTA DATE SET @FECHA_HASTA='2023-04-30' SELECT * FROM (
SELECT 
NNUMDOCU,
NNUMITEM,
PRORROGA,
DEDUCIBLE,
LINEA_NEGOCIO,
TIPO_VIGENCIA,
TIPO_PLAN,

-- agrego nuevas variables
FLOTA,
AGRUPACION_FLOTA,
CODIGO_RAMO,
RUT_PROPONENTE,
RUT_ASEGURADO,
PATENTE,
PARTNER_PYG,
CANAL_PYG,
RUT_INTERMEDIARIO,
CODIGO_PLAN_TECNICO,
PLAN_TECNICO,
PRODUCTOS_NUEVOS,
TIPO_VEHICULO,
GAMA_VEHICULO,
MARCA,
MODELO,
MARCA_MODELO,
AÑO,
ZONA_SUCURSAL,
SUCURSAL_GOL,
REGION_ASE,
REGIONES_URBES_ASE,
PROVINCIA_ASE,
NUEVA_RENOVADA,
TAMAÑO,
RF_EDAD,
VIGENCIA,
RF_TOP100_2024,
candidato_extranjero_fixed,

---------------------------------------
INICIO_VIGENCIA,
TERMINO_VIGENCIA,
TERMINO_VIGENCIA_REAL,
FECHA_CANCELACION,
PER,
PER_ANT,
PRIMA_UF,
PRIMA_PESO,
COMISION_UF,
COMISION_PESO,
FREC_DP,
SEV_DP,
FREC_PT,
SEV_PT,
FREC_RC,
SEV_RC,
FREC_ROBO,
SEV_ROBO,
PR_DP,
PR_DP_UF,
PR_PT,
PR_PT_UF,
PR_RC,
PR_RC_UF,
PR_ROBO,
PR_ROBO_UF,
PR_RIESGO,
PR_RIESGO_UF,
FREC_TOT,
CASE WHEN TIPO_PLAN IN ('RCE','RCI','RCI+ROBO','RCA','RCE + RCA')  THEN 0 ELSE EXP_AÑO																					END	AS EXP_AÑO,
CASE WHEN TIPO_PLAN IN ('RCE','RCI','RCI+ROBO','RCA','RCE + RCA')  THEN 0 ELSE VIGENCIA_EXP_AÑO																			END	AS VIGENCIA_EXP_AÑO,
CASE WHEN TIPO_PLAN IN ('RCE','RCI','RCI+ROBO','RCA','RCE + RCA')  THEN 0 ELSE CASE WHEN INICIO_VIGENCIA>B.PER_ANT	AND INICIO_VIGENCIA<=B.PER		THEN 1 ELSE 0 END	END	AS INICIA,
CASE WHEN TIPO_PLAN IN ('RCE','RCI','RCI+ROBO','RCA','RCE + RCA')  THEN 0 ELSE CASE WHEN INICIO_VIGENCIA<=B.PER_ANT	AND FECHA_CANCELACION>B.PER		THEN 1 ELSE 0 END	END	AS VIGENTE,
CASE WHEN TIPO_PLAN IN ('RCE','RCI','RCI+ROBO','RCA','RCE + RCA')  THEN 0 ELSE CASE WHEN FECHA_CANCELACION>B.PER_ANT	AND FECHA_CANCELACION<=B.PER	THEN 1 ELSE 0 END	END	AS TERMINA,
CONVERT(DECIMAL(6,5),ROUND(
(CASE WHEN ((INICIO_VIGENCIA		> B.PER_ANT	AND INICIO_VIGENCIA			<= B.PER)		AND (TERMINO_VIGENCIA_REAL <= B.PER_ANT OR TERMINO_VIGENCIA_REAL > B.PER))	THEN DATEDIFF(DAY,INICIO_VIGENCIA,B.PER) + 0.5				ELSE
CASE WHEN ((TERMINO_VIGENCIA_REAL	> B.PER_ANT	AND TERMINO_VIGENCIA_REAL	<= B.PER)		AND (INICIO_VIGENCIA <= B.PER_ANT OR INICIO_VIGENCIA > B.PER))				THEN DATEDIFF(DAY,B.PER_ANT,TERMINO_VIGENCIA_REAL) - 0.5	ELSE
CASE WHEN ((TERMINO_VIGENCIA_REAL	> B.PER)	AND (INICIO_VIGENCIA		<= B.PER_ANT))																				THEN DATEDIFF(DAY,B.PER_ANT,B.PER)							ELSE
CASE WHEN ((INICIO_VIGENCIA			> B.PER_ANT)AND (TERMINO_VIGENCIA_REAL	<= B.PER))																					THEN DATEDIFF(DAY,INICIO_VIGENCIA,TERMINO_VIGENCIA_REAL)	ELSE 0 END END END END)
/(CASE WHEN DATEDIFF(DAY,INICIO_VIGENCIA,TERMINO_VIGENCIA_REAL) = 0 THEN 1 ELSE DATEDIFF(DAY,INICIO_VIGENCIA,TERMINO_VIGENCIA_REAL) END),5))																						AS POR_DEV_REAL,
CONVERT(DECIMAL(6,5),ROUND(
(CASE WHEN ((INICIO_VIGENCIA		> B.PER_ANT AND INICIO_VIGENCIA			<= B.PER)		AND (FECHA_CANCELACION <= B.PER_ANT OR FECHA_CANCELACION > B.PER))			THEN DATEDIFF(DAY,INICIO_VIGENCIA,B.PER) + 0.5				ELSE
CASE WHEN ((FECHA_CANCELACION		> B.PER_ANT AND FECHA_CANCELACION		<= B.PER)		AND (INICIO_VIGENCIA <= B.PER_ANT OR INICIO_VIGENCIA > B.PER))				THEN DATEDIFF(DAY,B.PER_ANT,FECHA_CANCELACION) - 0.5		ELSE
CASE WHEN ((FECHA_CANCELACION		> B.PER)	AND (INICIO_VIGENCIA		<= B.PER_ANT))																				THEN DATEDIFF(DAY,B.PER_ANT,B.PER)							ELSE
CASE WHEN ((INICIO_VIGENCIA			> B.PER_ANT)AND (FECHA_CANCELACION		<= B.PER))																					THEN DATEDIFF(DAY,INICIO_VIGENCIA,FECHA_CANCELACION)		ELSE 0 END END END END)
/(CASE WHEN DATEDIFF(DAY,INICIO_VIGENCIA,FECHA_CANCELACION) = 0 THEN 1 ELSE DATEDIFF(DAY,INICIO_VIGENCIA,FECHA_CANCELACION) END),5))																								AS POR_DEV_EXP,
PRIMA_TECNICA_DP_UF,
PRIMA_TECNICA_PT_UF,
PRIMA_TECNICA_RC_UF,
PRIMA_TECNICA_ROBO_UF,
PRIMA_TECNICA_UF,
PRIMA_TECNICA_DP_PESO,
PRIMA_TECNICA_PT_PESO,
PRIMA_TECNICA_RC_PESO,
PRIMA_TECNICA_ROBO_PESO,
PRIMA_TECNICA_PESO
from REPORTES.DBO.SURA_MOVILIDAD_RATING_FACTORS A,
(SELECT * FROM ALMACEN_DE_DATOS.DBO.SURA_MOVILIDAD_PERIODO WHERE PER > EOMONTH(@FECHA_HASTA,-84) AND PER <= EOMONTH(@FECHA_HASTA,5) ) B
WHERE VIGENCIA_EXP_AÑO>0-- AND A.NNUMDOCU=7684509
) X
WHERE POR_DEV_EXP > 0 


UPDATE #SURA_MOVILIDAD_PRIMA_DEVENGADA_PRE
SET POR_DEV_REAL = 0
WHERE POR_DEV_REAL < 0




------ PROBANDO CON LA EXPOSICION REAL PARA CUADRAR CON REPORTE DE ROMAN
--UPDATE #SURA_MOVILIDAD_PRIMA_DEVENGADA_PRE
--SET POR_DEV_EXP = POR_DEV_REAL




SET @TERMINO= GETDATE()
INSERT INTO CANAL_ASESOR.DBO.MOVILIDAD_CONTROL_DE_EJECUCION VALUES ('08_SP_SURA_MOVILIDAD_PRIMA_DEVENGADA','1 DE 5',@TERMINO,DATEDIFF(MINUTE,@PASOS,@TERMINO)/60,DATEDIFF(MINUTE,@PASOS,@TERMINO)%60)
SET @PASOS= GETDATE()


DROP TABLE  SURA_MOVILIDAD_PRIMA_DEVENGADA

SELECT *,
CASE WHEN EXP_AÑO					IS NULL THEN 0 ELSE EXP_AÑO					*	POR_DEV_EXP		END     AS EXP_AÑO_DEV, 
CASE WHEN PRIMA_UF					IS NULL THEN 0 ELSE PRIMA_UF				*	POR_DEV_EXP		END     AS PRIMA_DEV_UF, 
CASE WHEN PRIMA_UF					IS NULL THEN 0 ELSE COMISION_UF				*	POR_DEV_EXP		END     AS COMIS_DEV_UF, 
0																											AS PRIMA_DEV_AJUSTE_UF,
0																											AS COMIS_DEV_AJUSTE_UF,
CASE WHEN PRIMA_UF					IS NULL THEN 0 ELSE PRIMA_UF				*	INICIA			END     AS PRIMA_EMI_UF, 
CASE WHEN PRIMA_UF					IS NULL THEN 0 ELSE PRIMA_UF				*	TERMINA			END     AS PRIMA_EXP_UF,
CASE WHEN PRIMA_UF					IS NULL THEN 0 ELSE COMISION_UF				*	INICIA			END     AS COMIS_EMI_UF, 
CASE WHEN PRIMA_UF					IS NULL THEN 0 ELSE COMISION_UF				*	TERMINA			END     AS COMIS_EXP_UF,
CASE WHEN PRIMA_PESO				IS NULL THEN 0 ELSE PRIMA_PESO				*	POR_DEV_EXP		END     AS PRIMA_DEV, 
CASE WHEN PRIMA_PESO				IS NULL THEN 0 ELSE COMISION_PESO			*	POR_DEV_EXP 	END		AS COMIS_DEV, 
0																											AS PRIMA_DEV_AJUSTE,
0																											AS COMIS_DEV_AJUSTE,
CASE WHEN PRIMA_PESO				IS NULL THEN 0 ELSE PRIMA_PESO				*	INICIA			END     AS PRIMA_EMI, 
CASE WHEN PRIMA_PESO				IS NULL THEN 0 ELSE PRIMA_PESO				*	TERMINA			END     AS PRIMA_EXP,
CASE WHEN PRIMA_PESO				IS NULL THEN 0 ELSE COMISION_PESO			*	INICIA			END     AS COMIS_EMI, 
CASE WHEN PRIMA_PESO				IS NULL THEN 0 ELSE COMISION_PESO			*	TERMINA			END		AS COMIS_EXP,
CASE WHEN PR_DP						IS NULL THEN 0 ELSE PR_DP					*	POR_DEV_EXP		END     AS PR_DP_DEV,
CASE WHEN PR_DP_UF					IS NULL THEN 0 ELSE PR_DP_UF				*	POR_DEV_EXP		END     AS PR_DP_DEV_UF,
CASE WHEN FREC_DP					IS NULL THEN 0 ELSE FREC_DP					*	POR_DEV_EXP		END     AS FREC_DP_DEV,
CASE WHEN PR_PT						IS NULL THEN 0 ELSE PR_PT					*	POR_DEV_EXP		END     AS PR_PT_DEV,
CASE WHEN PR_PT_UF					IS NULL THEN 0 ELSE PR_PT_UF				*	POR_DEV_EXP		END     AS PR_PT_DEV_UF,
CASE WHEN FREC_PT					IS NULL THEN 0 ELSE FREC_PT					*	POR_DEV_EXP		END     AS FREC_PT_DEV,
CASE WHEN PR_RC						IS NULL THEN 0 ELSE PR_RC					*	POR_DEV_EXP		END     AS PR_RC_DEV,
CASE WHEN PR_RC_UF					IS NULL THEN 0 ELSE PR_RC_UF				*	POR_DEV_EXP		END     AS PR_RC_DEV_UF,
CASE WHEN FREC_RC					IS NULL THEN 0 ELSE FREC_RC					*	POR_DEV_EXP		END     AS FREC_RC_DEV,
CASE WHEN PR_ROBO					IS NULL THEN 0 ELSE PR_ROBO					*	POR_DEV_EXP		END     AS PR_ROBO_DEV,
CASE WHEN PR_ROBO_UF				IS NULL THEN 0 ELSE PR_ROBO_UF				*	POR_DEV_EXP		END     AS PR_ROBO_DEV_UF,
CASE WHEN FREC_ROBO					IS NULL THEN 0 ELSE FREC_ROBO				*	POR_DEV_EXP		END     AS FREC_ROBO_DEV,
CASE WHEN PR_RIESGO					IS NULL THEN 0 ELSE PR_RIESGO				*	POR_DEV_EXP		END     AS PR_RIESGO_DEV,
CASE WHEN PR_RIESGO					IS NULL THEN 0 ELSE PR_RIESGO				*	INICIA			END     AS PR_RIESGO_EMI,
CASE WHEN PR_RIESGO					IS NULL THEN 0 ELSE PR_RIESGO				*	TERMINA			END     AS PR_RIESGO_EXP,
CASE WHEN PR_RIESGO					IS NULL THEN 0 ELSE PR_RIESGO_UF			*	POR_DEV_EXP		END     AS PR_RIESGO_DEV_UF,
CASE WHEN PR_RIESGO					IS NULL THEN 0 ELSE PR_RIESGO_UF			*	INICIA			END     AS PR_RIESGO_EMI_UF,
CASE WHEN PR_RIESGO					IS NULL THEN 0 ELSE PR_RIESGO_UF			*	TERMINA			END     AS PR_RIESGO_EXP_UF,
CASE WHEN FREC_TOT					IS NULL THEN 0 ELSE FREC_TOT				*	POR_DEV_EXP		END     AS FREC_TOT_DEV,
CASE WHEN FREC_TOT					IS NULL THEN 0 ELSE FREC_TOT				*	INICIA			END     AS FREC_TOT_EMI,
CASE WHEN FREC_TOT					IS NULL THEN 0 ELSE FREC_TOT				*	TERMINA			END     AS FREC_TOT_EXP,
POR_DEV_EXP	* INICIA																						AS EXP_AÑO_INI,
POR_DEV_EXP	* TERMINA																						AS EXP_AÑO_TER,
CASE WHEN PRIMA_TECNICA_DP_UF		IS NULL THEN 0 ELSE PRIMA_TECNICA_DP_UF		*	POR_DEV_EXP		END     AS PRIMA_TECNICA_DP_DEV_UF,
CASE WHEN PRIMA_TECNICA_PT_UF		IS NULL THEN 0 ELSE PRIMA_TECNICA_PT_UF		*	POR_DEV_EXP		END     AS PRIMA_TECNICA_PT_DEV_UF,
CASE WHEN PRIMA_TECNICA_RC_UF		IS NULL THEN 0 ELSE PRIMA_TECNICA_RC_UF		*	POR_DEV_EXP		END     AS PRIMA_TECNICA_RC_DEV_UF,
CASE WHEN PRIMA_TECNICA_ROBO_UF		IS NULL THEN 0 ELSE PRIMA_TECNICA_ROBO_UF	*	POR_DEV_EXP		END     AS PRIMA_TECNICA_ROBO_DEV_UF,
CASE WHEN PRIMA_TECNICA_UF			IS NULL THEN 0 ELSE PRIMA_TECNICA_UF		*	POR_DEV_EXP		END     AS PRIMA_TECNICA_DEV_UF,
CASE WHEN PRIMA_TECNICA_DP_PESO		IS NULL THEN 0 ELSE PRIMA_TECNICA_DP_PESO	*	POR_DEV_EXP		END     AS PRIMA_TECNICA_DP_DEV_PESO,
CASE WHEN PRIMA_TECNICA_PT_PESO		IS NULL THEN 0 ELSE PRIMA_TECNICA_PT_PESO	*	POR_DEV_EXP		END     AS PRIMA_TECNICA_PT_DEV_PESO,
CASE WHEN PRIMA_TECNICA_RC_PESO		IS NULL THEN 0 ELSE PRIMA_TECNICA_RC_PESO	*	POR_DEV_EXP		END     AS PRIMA_TECNICA_RC_DEV_PESO,
CASE WHEN PRIMA_TECNICA_ROBO_PESO	IS NULL THEN 0 ELSE PRIMA_TECNICA_ROBO_PESO	*	POR_DEV_EXP		END     AS PRIMA_TECNICA_ROBO_DEV_PESO,
CASE WHEN PRIMA_TECNICA_PESO		IS NULL THEN 0 ELSE PRIMA_TECNICA_PESO		*	POR_DEV_EXP		END     AS PRIMA_TECNICA_DEV_PESO
INTO SURA_MOVILIDAD_PRIMA_DEVENGADA
FROM #SURA_MOVILIDAD_PRIMA_DEVENGADA_PRE 



---- SE RESUELVE EL DEVENGAMIENTO DE PRIMA FIJA PARA LAS PÓLIZAS SEGURO X KM ANUALES (INICIA)
TRUNCATE TABLE SURA_MOVILIDAD_SEG_X_KM_ANUAL
INSERT INTO SURA_MOVILIDAD_SEG_X_KM_ANUAL
SELECT TIPO_DOCUMENTO,
CONVERT(VARCHAR(25),DATEADD(dd,-(DAY(DATEADD(mm,1,INICIO_VIGENCIA))),DATEADD(mm,1,INICIO_VIGENCIA)))  PER,
NNUMDOCU,NNUMITEM,SUM(PRIMA_UF)PRIMA_UF,SUM(PRIMA_PESO)PRIMA_PESO,SUM(COMISION_UF)COMISION_UF,SUM(COMISION_PESO)COMISION_PESO
FROM SURA_TRANSACCIONAL
WHERE CODIGO_PLAN_TECNICO IN (SELECT  CODIGO_PLAN_TECNICO FROM SURA_MOVILIDAD_PLAN_TECNICO WHERE DESCRIPCION_POLIZA_TELEMATICA='KM ANUAL')  
AND INDICADOR_FACULTATIVO<>'C'
--AND NNUMDOCU=7684509
GROUP BY TIPO_DOCUMENTO,CONVERT(VARCHAR(25),DATEADD(dd,-(DAY(DATEADD(mm,1,INICIO_VIGENCIA))),DATEADD(mm,1,INICIO_VIGENCIA))) ,NNUMDOCU,NNUMITEM
ORDER BY 2,3,4,1




UPDATE SURA_MOVILIDAD_PRIMA_DEVENGADA
SET
PRIMA_DEV_UF	=0,
COMIS_DEV_UF	=0,
PRIMA_DEV		=0,
COMIS_DEV		=0
FROM SURA_MOVILIDAD_PRIMA_DEVENGADA A, SURA_MOVILIDAD_SEG_X_KM_ANUAL B
WHERE
A.NNUMDOCU=B.NNUMDOCU AND A.NNUMITEM=B.NNUMITEM 



UPDATE SURA_MOVILIDAD_PRIMA_DEVENGADA
SET
PRIMA_DEV_UF	=B.PRIMA_UF			* A.POR_DEV_EXP,
COMIS_DEV_UF	=B.COMISION_UF		* A.POR_DEV_EXP,
PRIMA_DEV		=B.PRIMA_PESO		* A.POR_DEV_EXP,
COMIS_DEV		=B.COMISION_PESO	* A.POR_DEV_EXP
FROM SURA_MOVILIDAD_PRIMA_DEVENGADA A, SURA_MOVILIDAD_SEG_X_KM_ANUAL B
WHERE
A.NNUMDOCU=B.NNUMDOCU AND A.NNUMITEM=B.NNUMITEM AND B.TIPO_DOCUMENTO='POL'



UPDATE SURA_MOVILIDAD_PRIMA_DEVENGADA
SET
PRIMA_DEV_UF	=PRIMA_DEV_UF	+ B.PRIMA_UF,
COMIS_DEV_UF	=COMIS_DEV_UF	+ B.COMISION_UF,
PRIMA_DEV		=PRIMA_DEV		+ B.PRIMA_PESO,
COMIS_DEV		=COMIS_DEV		+ B.COMISION_PESO
FROM SURA_MOVILIDAD_PRIMA_DEVENGADA A, SURA_MOVILIDAD_SEG_X_KM_ANUAL B
WHERE
A.NNUMDOCU=B.NNUMDOCU AND A.NNUMITEM=B.NNUMITEM AND A.PER=B.PER AND B.TIPO_DOCUMENTO='END'

---- SE RESUELVE EL DEVENGAMIENTO DE PRIMA FIJA PARA LAS PÓLIZAS SEGURO X KM ANUALES (TERMINA)

SET @TERMINO= GETDATE()
INSERT INTO CANAL_ASESOR.DBO.MOVILIDAD_CONTROL_DE_EJECUCION VALUES ('08_SP_SURA_MOVILIDAD_PRIMA_DEVENGADA','2 DE 5',@TERMINO,DATEDIFF(MINUTE,@PASOS,@TERMINO)/60,DATEDIFF(MINUTE,@PASOS,@TERMINO)%60)
SET @PASOS= GETDATE()

--AGREGAR CHEQUEO DE CANTIDAD DE POLIZAS Y PRIMAS PRIMA SUSCRITA vs PRIMA DEVENGADA


SELECT 
A.PER,
EOMONTH(DATEADD(MM, -1, A.PER))PER_ANT,
A.NNUMSINI,
A.NNUCOSIN,
A.NNUMDOCU, 
A.NNUMITEM, 
A.RAMO_RESERVA, 
CONVERT(DATE,DATEADD(dd,-(DAY(A.F_OCU)-1),A.F_OCU),101)	AS F_OCU, 
A.TIPO_SINIESTRO, 
A.INC_GROSS_P,
A.INC_TREATY_P, 
A.INC_EXTERNAL_P,
A.PAGO_GROSS_P,
A.PAGO_TREATY_P,
A.PAGO_EXTERNAL_P,
A.OCR_GROSS_P,
A.OCR_TREATY_P,
A.OCR_EXTERNAL_P,
A.INC_GROSS,
A.INC_TREATY,
A.INC_EXTERNAL,
A.PAGO_GROSS,
A.PAGO_TREATY,
A.PAGO_EXTERNAL,
A.OCR_GROSS,
A.OCR_TREATY,
A.OCR_EXTERNAL,
A.IBNR_GROSS_P,
A.IBNR_TREATY_P,
A.IBNR_EXTERNAL_P,
A.IBNR_GROSS,
A.IBNR_TREATY,
A.IBNR_EXTERNAL,
A.ULT_GROSS_P,
A.ULT_TREATY_P,
A.ULT_EXTERNAL_P,
A.ULT_GROSS,
A.ULT_TREATY,
A.ULT_EXTERNAL,
A.IBNR_CANTIDAD,
A.ULT_CANTIDAD,
A.IND_WEATHER,
CASE WHEN A.COBERTURA IS NULL THEN 'DP' ELSE A.COBERTURA END	AS COBERTURA, 
A.CANTIDAD, 
A.LINEA_NEGOCIO,  
A.ULT_GROSS_P	-A.ULT_TREATY_P	- A.ULT_EXTERNAL_P				AS ULT_NETO_P,
A.ULT_GROSS		-A.ULT_TREATY	- A.ULT_EXTERNAL				AS ULT_NETO,
A.RECUPERO
INTO  #SURA_MOVILIDAD_SINIESTROS
FROM  
SURA_MOVILIDAD_SINIESTROS_A3_COMPLETO_FINAL A



SET @TERMINO= GETDATE()
INSERT INTO CANAL_ASESOR.DBO.MOVILIDAD_CONTROL_DE_EJECUCION VALUES ('08_SP_SURA_MOVILIDAD_PRIMA_DEVENGADA','3 DE 5',@TERMINO,DATEDIFF(MINUTE,@PASOS,@TERMINO)/60,DATEDIFF(MINUTE,@PASOS,@TERMINO)%60)
SET @PASOS= GETDATE()

TRUNCATE TABLE	SURA_MOVILIDAD_SINIESTRO
INSERT INTO		SURA_MOVILIDAD_SINIESTRO
 
SELECT 
PER,
PER_ANT,
NNUMDOCU,
NNUMITEM,
LINEA_NEGOCIO,
SUM(CANTIDAD 												*	CASE WHEN COBERTURA IN('DP') THEN 1 ELSE 0 END)						AS CANT_DP,
SUM(CANTIDAD 												*	CASE WHEN COBERTURA IN('PT') THEN 1 ELSE 0 END)						AS CANT_PT,
SUM(CANTIDAD 												*	CASE WHEN COBERTURA IN('RC') THEN 1 ELSE 0 END)						AS CANT_RC,
SUM(CANTIDAD 												*	CASE WHEN COBERTURA IN('ROBO') THEN 1 ELSE 0 END)					AS CANT_ROBO,
SUM(CANTIDAD 												*	CASE WHEN COBERTURA IN('GASTOS_VARIOS') THEN 1 ELSE 0 END)			AS CANT_ASIST,
SUM(CANTIDAD 												*   CASE WHEN COBERTURA NOT IN('GASTOS_VARIOS') THEN 1 ELSE 0 END)		AS CANTIDAD,
 
SUM(IBNR_CANTIDAD 											*   CASE WHEN COBERTURA IN('DP') THEN 1 ELSE 0 END)						AS CANT_IBNR_DP,
SUM(IBNR_CANTIDAD 											*   CASE WHEN COBERTURA IN('PT') THEN 1 ELSE 0 END)						AS CANT_IBNR_PT,
SUM(IBNR_CANTIDAD 											*   CASE WHEN COBERTURA IN('RC') THEN 1 ELSE 0 END)						AS CANT_IBNR_RC,
SUM(IBNR_CANTIDAD 											*   CASE WHEN COBERTURA IN('ROBO') THEN 1 ELSE 0 END)					AS CANT_IBNR_ROBO,
SUM(IBNR_CANTIDAD 											*   CASE WHEN COBERTURA IN('GASTOS_VARIOS') THEN 1 ELSE 0 END)			AS CANT_IBNR_ASIST,
SUM(IBNR_CANTIDAD 											*   CASE WHEN COBERTURA NOT IN('GASTOS_VARIOS') THEN 1 ELSE 0 END)		AS CANTIDAD_IBNR,
 
SUM(ULT_CANTIDAD 											*   CASE WHEN COBERTURA IN('DP') THEN 1 ELSE 0 END)						AS CANT_ULT_DP,
SUM(ULT_CANTIDAD 											*   CASE WHEN COBERTURA IN('PT') THEN 1 ELSE 0 END)						AS CANT_ULT_PT,
SUM(ULT_CANTIDAD 											*   CASE WHEN COBERTURA IN('RC') THEN 1 ELSE 0 END)						AS CANT_ULT_RC,
SUM(ULT_CANTIDAD 											*   CASE WHEN COBERTURA IN('ROBO') THEN 1 ELSE 0 END)					AS CANT_ULT_ROBO,
SUM(ULT_CANTIDAD											*   CASE WHEN COBERTURA IN('GASTOS_VARIOS') THEN 1 ELSE 0 END)			AS CANT_ULT_ASIST,
SUM(ULT_CANTIDAD											*   CASE WHEN COBERTURA NOT IN('GASTOS_VARIOS') THEN 1 ELSE 0 END)		AS CANTIDAD_ULT,
 
SUM(([PAGO_GROSS]-[PAGO_TREATY]-[PAGO_EXTERNAL])			*   CASE WHEN COBERTURA IN('DP') THEN 1 ELSE 0 END )					AS PAGO_DP,
SUM(([OCR_GROSS]-[OCR_TREATY]-[OCR_EXTERNAL])				*   CASE WHEN COBERTURA IN('DP') THEN 1 ELSE 0 END )					AS RESERVA_DP,
SUM(([IBNR_GROSS]-[IBNR_TREATY]-[IBNR_EXTERNAL])			*   CASE WHEN COBERTURA IN('DP') THEN 1 ELSE 0 END )					AS IBNR_DP,
SUM(ULT_NETO												*	CASE WHEN COBERTURA IN('DP') THEN 1 ELSE 0 END )					AS ULT_DP,

SUM(([PAGO_GROSS]-[PAGO_TREATY]-[PAGO_EXTERNAL])			*   CASE WHEN COBERTURA IN('PT') THEN 1 ELSE 0 END )					AS PAGO_PT,
SUM(([OCR_GROSS]-[OCR_TREATY]-[OCR_EXTERNAL])				*   CASE WHEN COBERTURA IN('PT') THEN 1 ELSE 0 END )					AS RESERVA_PT,
SUM(([IBNR_GROSS]-[IBNR_TREATY]-[IBNR_EXTERNAL])			*   CASE WHEN COBERTURA IN('PT') THEN 1 ELSE 0 END )					AS IBNR_PT,
SUM(ULT_NETO												*	CASE WHEN COBERTURA IN('PT') THEN 1 ELSE 0 END )					AS ULT_PT,
 
SUM(([PAGO_GROSS]-[PAGO_TREATY]-[PAGO_EXTERNAL])			*   CASE WHEN COBERTURA IN('RC') THEN 1 ELSE 0 END )					AS PAGO_RC,
SUM(([OCR_GROSS]-[OCR_TREATY]-[OCR_EXTERNAL])				*	CASE WHEN COBERTURA IN('RC') THEN 1 ELSE 0 END )					AS RESERVA_RC,
SUM(([IBNR_GROSS]-[IBNR_TREATY]-[IBNR_EXTERNAL])			*	CASE WHEN COBERTURA IN('RC') THEN 1 ELSE 0 END )					AS IBNR_RC,
SUM(ULT_NETO												*	CASE WHEN COBERTURA IN('RC') THEN 1 ELSE 0 END )					AS ULT_RC,
 
SUM(([PAGO_GROSS]-[PAGO_TREATY]-[PAGO_EXTERNAL])			*	CASE WHEN COBERTURA IN('ROBO') THEN 1 ELSE 0 END )					AS PAGO_ROBO,
SUM(([OCR_GROSS]-[OCR_TREATY]-[OCR_EXTERNAL])				*	CASE WHEN COBERTURA IN('ROBO') THEN 1 ELSE 0 END )					AS RESERVA_ROBO,
SUM(([IBNR_GROSS]-[IBNR_TREATY]-[IBNR_EXTERNAL])			*	CASE WHEN COBERTURA IN('ROBO') THEN 1 ELSE 0 END )					AS IBNR_ROBO,
SUM(ULT_NETO												*	CASE WHEN COBERTURA IN('ROBO') THEN 1 ELSE 0 END )					AS ULT_ROBO,
 
SUM(([PAGO_GROSS]-[PAGO_TREATY]-[PAGO_EXTERNAL])			*	CASE WHEN COBERTURA IN('ASISTENCIA') THEN 1 ELSE 0 END )			AS PAGO_ASIST,
SUM(([OCR_GROSS]-[OCR_TREATY]-[OCR_EXTERNAL])				*	CASE WHEN COBERTURA IN('ASISTENCIA') THEN 1 ELSE 0 END )			AS RESERVA_ASIST,
SUM(([IBNR_GROSS]-[IBNR_TREATY]-[IBNR_EXTERNAL])			*	CASE WHEN COBERTURA IN('ASISTENCIA') THEN 1 ELSE 0 END )			AS IBNR_ASIST,
SUM(ULT_NETO												*	CASE WHEN COBERTURA IN('ASISTENCIA') THEN 1 ELSE 0 END )			AS ULT_ASIST,
 
SUM(ULT_NETO												*	CASE WHEN COBERTURA NOT IN('ASISTENCIA') THEN 1 ELSE 0 END )		AS ULT_TOTAL,
 
SUM(([PAGO_GROSS_P]-[PAGO_TREATY_P]-[PAGO_EXTERNAL_P])		*	CASE WHEN COBERTURA IN('DP') THEN 1 ELSE 0 END )					AS PAGO_DP_P,
SUM(([OCR_GROSS_P]-[OCR_TREATY_P]-[OCR_EXTERNAL_P])			*	CASE WHEN COBERTURA IN('DP') THEN 1 ELSE 0 END )					AS RESERVA_DP_P,
SUM(([IBNR_GROSS_P]-[IBNR_TREATY_P]-[IBNR_EXTERNAL_P])		*	CASE WHEN COBERTURA IN('DP') THEN 1 ELSE 0 END )					AS IBNR_DP_P,
SUM(ULT_NETO_P												*	CASE WHEN COBERTURA IN('DP') THEN 1 ELSE 0 END )					AS ULT_DP_P,
 
SUM(([PAGO_GROSS_P]-[PAGO_TREATY_P]-[PAGO_EXTERNAL_P])		*	CASE WHEN COBERTURA IN('PT') THEN 1 ELSE 0 END )					AS PAGO_PT_P,
SUM(([OCR_GROSS_P]-[OCR_TREATY_P]-[OCR_EXTERNAL_P])			*	CASE WHEN COBERTURA IN('PT') THEN 1 ELSE 0 END )					AS RESERVA_PT_P,
SUM(([IBNR_GROSS_P]-[IBNR_TREATY_P]-[IBNR_EXTERNAL_P])		*	CASE WHEN COBERTURA IN('PT') THEN 1 ELSE 0 END )					AS IBNR_PT_P,
SUM(ULT_NETO_P												*	CASE WHEN COBERTURA IN('PT') THEN 1 ELSE 0 END )					AS ULT_PT_P,
 
SUM(([PAGO_GROSS_P]-[PAGO_TREATY_P]-[PAGO_EXTERNAL_P])		*	CASE WHEN COBERTURA IN('RC') THEN 1 ELSE 0 END )					AS PAGO_RC_P,
SUM(([OCR_GROSS_P]-[OCR_TREATY_P]-[OCR_EXTERNAL_P])			*	CASE WHEN COBERTURA IN('RC') THEN 1 ELSE 0 END )					AS RESERVA_RC_P,
SUM(([IBNR_GROSS_P]-[IBNR_TREATY_P]-[IBNR_EXTERNAL_P])		*	CASE WHEN COBERTURA IN('RC') THEN 1 ELSE 0 END )					AS IBNR_RC_P,
SUM(ULT_NETO_P												*	CASE WHEN COBERTURA IN('RC') THEN 1 ELSE 0 END )					AS ULT_RC_P,
 
SUM(([PAGO_GROSS_P]-[PAGO_TREATY_P]-[PAGO_EXTERNAL_P])		*	CASE WHEN COBERTURA IN('ROBO') THEN 1 ELSE 0 END )					AS PAGO_ROBO_P,
SUM(([OCR_GROSS_P]-[OCR_TREATY_P]-[OCR_EXTERNAL_P])			*	CASE WHEN COBERTURA IN('ROBO') THEN 1 ELSE 0 END )					AS RESERVA_ROBO_P,
SUM(([IBNR_GROSS_P]-[IBNR_TREATY_P]-[IBNR_EXTERNAL_P])		*	CASE WHEN COBERTURA IN('ROBO') THEN 1 ELSE 0 END )					AS IBNR_ROBO_P,
SUM(ULT_NETO_P												*	CASE WHEN COBERTURA IN('ROBO') THEN 1 ELSE 0 END )					AS ULT_ROBO_P,
 
SUM(([PAGO_GROSS_P]-[PAGO_TREATY_P]-[PAGO_EXTERNAL_P])		*	CASE WHEN COBERTURA IN('ASISTENCIA') THEN 1 ELSE 0 END )			AS PAGO_ASIST_P,
SUM(([OCR_GROSS_P]-[OCR_TREATY_P]-[OCR_EXTERNAL_P])			*	CASE WHEN COBERTURA IN('ASISTENCIA') THEN 1 ELSE 0 END )			AS RESERVA_ASIST_P,
SUM(([IBNR_GROSS_P]-[IBNR_TREATY_P]-[IBNR_EXTERNAL_P])		*	CASE WHEN COBERTURA IN('ASISTENCIA') THEN 1 ELSE 0 END )			AS IBNR_ASIST_P,
SUM(ULT_NETO_P												*	CASE WHEN COBERTURA IN('ASISTENCIA') THEN 1 ELSE 0 END )			AS ULT_ASIST_P,
 
SUM(ULT_NETO_P												*	CASE WHEN COBERTURA NOT IN('ASISTENCIA') THEN 1 ELSE 0 END)			AS ULT_TOTAL_P,
RECUPERO                     
FROM #SURA_MOVILIDAD_SINIESTROS 
GROUP BY PER,PER_ANT,NNUMDOCU,NNUMITEM,LINEA_NEGOCIO,RECUPERO


--DECLARE @TERMINO DATETIME
--DECLARE @INICIO DATETIME
--DECLARE @PASOS DATETIME

--SELECT * FROM SURA_MOVILIDAD_PRIMA_DEVENGADA

DROP TABLE #SURA_MOVILIDAD_SINIESTROS
SET @TERMINO= GETDATE()

SET @PASOS= GETDATE()


SELECT 
CASE WHEN A.NNUMDOCU IS NULL THEN B.NNUMDOCU ELSE A.NNUMDOCU END NNUMDOCU,
CASE WHEN A.NNUMITEM IS NULL THEN B.NNUMITEM ELSE A.NNUMITEM END NNUMITEM,
A.PRORROGA,
A.DEDUCIBLE,
A.TIPO_VIGENCIA,
A.TIPO_PLAN,
-- agrego nuevas variables
A.FLOTA,
A.AGRUPACION_FLOTA,
A.CODIGO_RAMO,
A.RUT_PROPONENTE,
A.RUT_ASEGURADO,
A.PATENTE,
A.PARTNER_PYG,
A.CANAL_PYG,
A.RUT_INTERMEDIARIO,
A.CODIGO_PLAN_TECNICO,
A.PLAN_TECNICO,
A.PRODUCTOS_NUEVOS,
A.TIPO_VEHICULO,
A.GAMA_VEHICULO,
A.MARCA,
A.MODELO,
A.MARCA_MODELO,
A.AÑO,
A.ZONA_SUCURSAL,
A.SUCURSAL_GOL,
A.REGION_ASE,
A.REGIONES_URBES_ASE,
A.PROVINCIA_ASE,
A.NUEVA_RENOVADA,
A.TAMAÑO,
A.RF_EDAD,
A.VIGENCIA,
A.RF_TOP100_2024,
A.candidato_extranjero_fixed,
------------------------
A.INICIO_VIGENCIA,
A.TERMINO_VIGENCIA,
A.TERMINO_VIGENCIA_REAL,
A.FECHA_CANCELACION,
CASE WHEN A.PER     IS NULL THEN B.PER            ELSE A.PER        END PER,			
CASE WHEN A.PER_ANT IS NULL THEN B.PER_ANT        ELSE A.PER_ANT    END PER_ANT,
A.PRIMA_UF,
A.PRIMA_PESO,
A.COMISION_UF,
A.COMISION_PESO,
CASE WHEN A.LINEA_NEGOCIO NOT IN ('PERSONAL', 'COMMERCIAL') THEN 'PERSONAL' ELSE A.LINEA_NEGOCIO END AS LINEA_NEGOCIO,
A.INICIA,
A.VIGENTE,
A.TERMINA,
A.POR_DEV_REAL,
A.POR_DEV_EXP,
A.EXP_AÑO_DEV,
A.PRIMA_DEV_UF,
A.COMIS_DEV_UF,
0                                           AS PRIMA_DEV_AJUSTE_UF,
0                                           AS COMIS_DEV_AJUSTE_UF,
A.PRIMA_EMI_UF,
A.PRIMA_EXP_UF,
A.COMIS_EMI_UF,
A.COMIS_EXP_UF,
A.PRIMA_DEV,
A.COMIS_DEV,
0                                           AS PRIMA_DEV_AJUSTE,
0                                           AS COMIS_DEV_AJUSTE,
A.PRIMA_EMI,
A.PRIMA_EXP,
A.COMIS_EMI,
A.COMIS_EXP,

A.PRIMA_TECNICA_DP_DEV_UF,
A.PRIMA_TECNICA_PT_DEV_UF,
A.PRIMA_TECNICA_RC_DEV_UF,
A.PRIMA_TECNICA_ROBO_DEV_UF,
A.PRIMA_TECNICA_DEV_UF,
A.PRIMA_TECNICA_DP_DEV_PESO,
A.PRIMA_TECNICA_PT_DEV_PESO,
A.PRIMA_TECNICA_RC_DEV_PESO,
A.PRIMA_TECNICA_ROBO_DEV_PESO,
A.PRIMA_TECNICA_DEV_PESO,


A.PR_DP_DEV,
A.PR_DP_DEV_UF,
A.FREC_DP,
A.FREC_DP_DEV,
A.PR_PT_DEV,
A.PR_PT_DEV_UF,
A.FREC_PT,
A.FREC_PT_DEV,
A.PR_RC_DEV,
A.PR_RC_DEV_UF,
A.FREC_RC,
A.FREC_RC_DEV,
A.PR_ROBO_DEV,
A.PR_ROBO_DEV_UF,
A.FREC_ROBO,
A.FREC_ROBO_DEV,
A.PR_RIESGO_DEV,
A.PR_RIESGO_EMI,
A.PR_RIESGO_EXP,
A.PR_RIESGO_DEV_UF,
A.PR_RIESGO_EMI_UF,
A.PR_RIESGO_EXP_UF,
A.FREC_TOT_DEV,
A.FREC_TOT_EMI,
A.FREC_TOT_EXP,
A.EXP_AÑO_INI,
A.EXP_AÑO_TER,
CASE WHEN B.CANT_DP							IS NULL				THEN 0 ELSE  B.CANT_DP				END AS CANT_DP,
CASE WHEN B.CANT_PT                         IS NULL				THEN 0 ELSE  B.CANT_PT				END AS CANT_PT,
CASE WHEN B.CANT_RC                         IS NULL				THEN 0 ELSE  B.CANT_RC				END AS CANT_RC,
CASE WHEN B.CANT_ROBO						IS NULL				THEN 0 ELSE  B.CANT_ROBO			END AS CANT_ROBO,
CASE WHEN B.CANT_ASIST						IS NULL				THEN 0 ELSE  B.CANT_ASIST			END AS CANT_ASIST,
CASE WHEN B.CANTIDAD						IS NULL				THEN 0 ELSE  B.CANTIDAD				END AS CANTIDAD,

CASE WHEN B.CANT_IBNR_DP					IS NULL				THEN 0 ELSE  B.CANT_IBNR_DP			END AS CANT_IBNR_DP,
CASE WHEN B.CANT_IBNR_PT					IS NULL				THEN 0 ELSE  B.CANT_IBNR_PT			END AS CANT_IBNR_PT,
CASE WHEN B.CANT_IBNR_RC					IS NULL				THEN 0 ELSE  B.CANT_IBNR_RC			END AS CANT_IBNR_RC,
CASE WHEN B.CANT_IBNR_ROBO					IS NULL				THEN 0 ELSE  B.CANT_IBNR_ROBO		END AS CANT_IBNR_ROBO,
CASE WHEN B.CANT_IBNR_ASIST					IS NULL             THEN 0 ELSE  B.CANT_IBNR_ASIST		END AS CANT_IBNR_ASIST,
CASE WHEN B.CANTIDAD_IBNR					IS NULL				THEN 0 ELSE  B.CANTIDAD_IBNR		END AS CANTIDAD_IBNR,
 
CASE WHEN B.CANT_ULT_DP						IS NULL				THEN 0 ELSE  B.CANT_ULT_DP			END AS CANT_ULT_DP,
CASE WHEN B.CANT_ULT_PT						IS NULL				THEN 0 ELSE  B.CANT_ULT_PT			END AS CANT_ULT_PT,
CASE WHEN B.CANT_ULT_RC						IS NULL				THEN 0 ELSE  B.CANT_ULT_RC			END AS CANT_ULT_RC,
CASE WHEN B.CANT_ULT_ROBO					IS NULL				THEN 0 ELSE  B.CANT_ULT_ROBO		END AS CANT_ULT_ROBO,
CASE WHEN B.CANT_ULT_ASIST					IS NULL				THEN 0 ELSE  B.CANT_ULT_ASIST		END AS CANT_ULT_ASIST,
CASE WHEN B.CANTIDAD_ULT					IS NULL				THEN 0 ELSE  B.CANTIDAD_ULT			END AS CANTIDAD_ULT,
 
CASE WHEN B.PAGO_DP							IS NULL				THEN 0 ELSE  B.PAGO_DP				END AS PAGO_DP,
CASE WHEN B.RESERVA_DP						IS NULL				THEN 0 ELSE  B.RESERVA_DP			END AS RESERVA_DP,
CASE WHEN B.IBNR_DP							IS NULL				THEN 0 ELSE  B.IBNR_DP				END AS IBNR_DP,
CASE WHEN B.ULT_DP							IS NULL				THEN 0 ELSE  B.ULT_DP				END AS ULT_DP,
 
CASE WHEN B.PAGO_PT							IS NULL				THEN 0 ELSE  B.PAGO_PT				END AS PAGO_PT,
CASE WHEN B.RESERVA_PT						IS NULL				THEN 0 ELSE  B.RESERVA_PT			END AS RESERVA_PT,
CASE WHEN B.IBNR_PT							IS NULL				THEN 0 ELSE  B.IBNR_PT				END AS IBNR_PT,
CASE WHEN B.ULT_PT							IS NULL				THEN 0 ELSE  B.ULT_PT				END AS ULT_PT,
 
CASE WHEN B.PAGO_RC							IS NULL				THEN 0 ELSE  B.PAGO_RC				END AS PAGO_RC,
CASE WHEN B.RESERVA_RC						IS NULL				THEN 0 ELSE  B.RESERVA_RC			END AS RESERVA_RC,
CASE WHEN B.IBNR_RC							IS NULL				THEN 0 ELSE  B.IBNR_RC				END AS IBNR_RC,
CASE WHEN B.ULT_RC							IS NULL				THEN 0 ELSE  B.ULT_RC				END AS ULT_RC,
 
CASE WHEN B.PAGO_ROBO						IS NULL				THEN 0 ELSE  B.PAGO_ROBO			END AS PAGO_ROBO,
CASE WHEN B.RESERVA_ROBO					IS NULL				THEN 0 ELSE  B.RESERVA_ROBO			END AS RESERVA_ROBO,
CASE WHEN B.IBNR_ROBO						IS NULL				THEN 0 ELSE  B.IBNR_ROBO			END AS IBNR_ROBO,
CASE WHEN B.ULT_ROBO						IS NULL				THEN 0 ELSE  B.ULT_ROBO				END AS ULT_ROBO,
 
CASE WHEN B.PAGO_ASIST						IS NULL				THEN 0 ELSE  B.PAGO_ASIST			END AS PAGO_ASIST,
CASE WHEN B.RESERVA_ASIST					IS NULL				THEN 0 ELSE  B.RESERVA_ASIST		END AS RESERVA_ASIST,
CASE WHEN B.IBNR_ASIST						IS NULL				THEN 0 ELSE  B.IBNR_ASIST			END AS IBNR_ASIST,
CASE WHEN B.ULT_ASIST						IS NULL				THEN 0 ELSE  B.ULT_ASIST			END AS ULT_ASIST,
 
CASE WHEN B.ULT_TOTAL						IS NULL				THEN 0 ELSE  B.ULT_TOTAL			END AS ULT_TOTAL,
 
CASE WHEN B.PAGO_DP_P						IS NULL				THEN 0 ELSE  B.PAGO_DP_P			END AS PAGO_DP_P,
CASE WHEN B.RESERVA_DP_P					IS NULL				THEN 0 ELSE  B.RESERVA_DP_P			END AS RESERVA_DP_P,
CASE WHEN B.IBNR_DP_P						IS NULL				THEN 0 ELSE  B.IBNR_DP_P			END AS IBNR_DP_P,
CASE WHEN B.ULT_DP_P						IS NULL				THEN 0 ELSE  B.ULT_DP_P				END AS ULT_DP_P,
 
CASE WHEN B.PAGO_PT_P						IS NULL				THEN 0 ELSE  B.PAGO_PT_P			END AS PAGO_PT_P,
CASE WHEN B.RESERVA_PT_P					IS NULL				THEN 0 ELSE  B.RESERVA_PT_P			END AS RESERVA_PT_P,
CASE WHEN B.IBNR_PT_P						IS NULL				THEN 0 ELSE  B.IBNR_PT_P			END AS IBNR_PT_P,
CASE WHEN B.ULT_PT_P						IS NULL				THEN 0 ELSE  B.ULT_PT_P				END AS ULT_PT_P,
 
CASE WHEN B.PAGO_RC_P						IS NULL				THEN 0 ELSE  B.PAGO_RC_P			END AS PAGO_RC_P,
CASE WHEN B.RESERVA_RC_P					IS NULL				THEN 0 ELSE  B.RESERVA_RC_P			END AS RESERVA_RC_P,
CASE WHEN B.IBNR_RC_P						IS NULL				THEN 0 ELSE  B.IBNR_RC_P			END AS IBNR_RC_P,
CASE WHEN B.ULT_RC_P						IS NULL				THEN 0 ELSE  B.ULT_RC_P				END AS ULT_RC_P,
 
CASE WHEN B.PAGO_ROBO_P						IS NULL				THEN 0 ELSE  B.PAGO_ROBO_P			END AS PAGO_ROBO_P,
CASE WHEN B.RESERVA_ROBO_P					IS NULL				THEN 0 ELSE  B.RESERVA_ROBO_P		END AS RESERVA_ROBO_P,
CASE WHEN B.IBNR_ROBO_P						IS NULL				THEN 0 ELSE  B.IBNR_ROBO_P			END AS IBNR_ROBO_P,
CASE WHEN B.ULT_ROBO_P						IS NULL				THEN 0 ELSE  B.ULT_ROBO_P			END AS ULT_ROBO_P,
 
CASE WHEN B.PAGO_ASIST_P					IS NULL				THEN 0 ELSE  B.PAGO_ASIST_P			END AS PAGO_ASIST_P,
CASE WHEN B.RESERVA_ASIST_P					IS NULL				THEN 0 ELSE  B.RESERVA_ASIST_P		END AS RESERVA_ASIST_P,
CASE WHEN B.IBNR_ASIST_P					IS NULL				THEN 0 ELSE  B.IBNR_ASIST_P			END AS IBNR_ASIST_P,
CASE WHEN B.ULT_ASIST_P						IS NULL				THEN 0 ELSE  B.ULT_ASIST_P			END AS ULT_ASIST_P,
 
CASE WHEN B.ULT_TOTAL_P						IS NULL		        THEN 0 ELSE  B.ULT_TOTAL_P			END AS ULT_TOTAL_P,
B.RECUPERO
into #prima_siniestro_aux
FROM 
SURA_MOVILIDAD_PRIMA_DEVENGADA A	
FULL JOIN SURA_MOVILIDAD_SINIESTRO B		ON A.NNUMDOCU= B.NNUMDOCU AND A.NNUMITEM= B.NNUMITEM AND A.PER=B.PER


DROP TABLE	SURA_MOVILIDAD_PRIMA_SINIESTRO
SELECT * into SURA_MOVILIDAD_PRIMA_SINIESTRO from #prima_siniestro_aux




-----EN ALGUNOS CASOS PARA UNA POLIZA QUE TIENE PRORROGA COMPARTEN EL MISMO PER Y SE ALOCAN LOS SINIESTROS EN CADA PER DUPLICANDO ESTA INFO
SELECT NNUMDOCU,NNUMITEM,PER,MAX(PRORROGA)-1 PRORROGA ,COUNT(*)CANTIDAD
--DROP TABLE #POLIZAS_PER_IGUALES
INTO #POLIZAS_PER_IGUALES
FROM 
SURA_MOVILIDAD_PRIMA_SINIESTRO 
GROUP BY  NNUMDOCU,NNUMITEM,PER
HAVING SUM(ULT_TOTAL_P)>0 AND COUNT(*)>1 AND MAX(PRORROGA)>0 

UPDATE SURA_MOVILIDAD_PRIMA_SINIESTRO
SET
CANT_DP=0,
CANT_PT=0,
CANT_RC=0,
CANT_ROBO=0,
CANT_ASIST=0,
CANTIDAD=0,
CANT_IBNR_DP=0,
CANT_IBNR_PT=0,
CANT_IBNR_RC=0,
CANT_IBNR_ROBO=0,
CANT_IBNR_ASIST=0,
CANTIDAD_IBNR=0,
CANT_ULT_DP=0,
CANT_ULT_PT=0,
CANT_ULT_RC=0,
CANT_ULT_ROBO=0,
CANT_ULT_ASIST=0,
CANTIDAD_ULT=0,
PAGO_DP=0,
RESERVA_DP=0,
IBNR_DP=0,
ULT_DP=0,
PAGO_PT=0,
RESERVA_PT=0,
IBNR_PT=0,
ULT_PT=0,
PAGO_RC=0,
RESERVA_RC=0,
IBNR_RC=0,
ULT_RC=0,
PAGO_ROBO=0,
RESERVA_ROBO=0,
IBNR_ROBO=0,
ULT_ROBO=0,
PAGO_ASIST=0,
RESERVA_ASIST=0,
IBNR_ASIST=0,
ULT_ASIST=0,
ULT_TOTAL=0,
PAGO_DP_P=0,
RESERVA_DP_P=0,
IBNR_DP_P=0,
ULT_DP_P=0,
PAGO_PT_P=0,
RESERVA_PT_P=0,
IBNR_PT_P=0,
ULT_PT_P=0,
PAGO_RC_P=0,
RESERVA_RC_P=0,
IBNR_RC_P=0,
ULT_RC_P=0,
PAGO_ROBO_P=0,
RESERVA_ROBO_P=0,
IBNR_ROBO_P=0,
ULT_ROBO_P=0,
PAGO_ASIST_P=0,
RESERVA_ASIST_P=0,
IBNR_ASIST_P=0,
ULT_ASIST_P=0,
ULT_TOTAL_P=0
FROM SURA_MOVILIDAD_PRIMA_SINIESTRO A, #POLIZAS_PER_IGUALES B
WHERE A.NNUMDOCU= B.NNUMDOCU AND A.NNUMITEM= B.NNUMITEM AND A.PRORROGA=B.PRORROGA AND A.PER=B.PER


SET @TERMINO= GETDATE()
SET @PASOS= GETDATE()

------------------------------------------------------------------------------------------------------------
-- hago respaldo de la tabla prima siniestro en REPORTES y borro en ALMACEN_DE_DATOS para liberar espacio
------------------------------------------------------------------------------------------------------------

drop table if exists reportes.dbo.SURA_MOVILIDAD_PRIMA_SINIESTRO
select * into reportes.dbo.SURA_MOVILIDAD_PRIMA_SINIESTRO from SURA_MOVILIDAD_PRIMA_SINIESTRO 

drop table Almacen_de_Datos.DBO.SURA_MOVILIDAD_PRIMA_SINIESTRO
drop table Almacen_de_Datos.DBO.SURA_MOVILIDAD_PRIMA_DEVENGADA

------------------------------------------------------------------------------------------------------------



SET @TERMINO= GETDATE()
SET @PASOS= GETDATE()



END TRY
BEGIN CATCH
INSERT INTO CANAL_ASESOR.DBO.MOVILIDAD_CONTROL_ERROR
  SELECT 
    ERROR_NUMBER()		AS NUMERO_ERROR,
    ERROR_STATE()		AS ESTADO_ERROR,
    ERROR_SEVERITY()	AS SEVERIDAD_ERROR,
    ERROR_PROCEDURE()	AS NOMBRE_PROCEDIMIENTO,
    ERROR_LINE()		AS LINEA_ERROR,
    ERROR_MESSAGE()		AS MENBSAGE_ERROR,
	GETDATE()			AS TIMESTAMP,
	CURRENT_USER		AS USUARIO_EJECUTA
	;
END CATCH;