USE [Almacen_de_Datos]
GO

ALTER   PROCEDURE [dbo].[SP_VIGENTES_COTIZANTES]

AS
BEGIN TRY
DECLARE 
	@TERMINO DATETIME,
	@INICIO DATETIME,
	@PASOS DATETIME

SET @INICIO=GETDATE()
SET @PASOS=@INICIO


--+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
SET @TERMINO= GETDATE()
INSERT INTO CANAL_ASESOR.DBO.MOVILIDAD_CONTROL_DE_EJECUCION VALUES ('SP_VIGENTES_COTIZANTES','INICIO',@TERMINO,DATEDIFF(MINUTE,@PASOS,@TERMINO)/60,DATEDIFF(MINUTE,@PASOS,@TERMINO)%60)
SET @PASOS= GETDATE()
--+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
/******************************************************************************************/
--                          VIGENTES QUE ESTAN COTIZANDO ÚLTIMO MES
/******************************************************************************************/

-- GENERO TABLA DE COTIZANTES DEL ÚLTIMO MES
drop table if exists #AUX01
SELECT RUTASEGURADO, MARCA, MODELO, MAX(fecha_cotizacion) fecha_cotizacion,  COUNT(*) NRO_COTIZACIONES 
INTO #AUX01
FROM almacen_de_datos.dbo.APTP_COTIZADO 
WHERE COTIZACION_UNICA = 1
GROUP BY RUTASEGURADO, MARCA, MODELO
ORDER BY 1


-- CREO BASE RUTS EXCLUYENDO AQUELLOS CASOS QUE POSIBLEMENTE SEAN BOTS
-- Me voy a quedar sólo con aquellos ruts que hayan cotizado máximo 2 marcas-modelos distinctos
drop table if exists #AUX_BOTS
SELECT RUTASEGURADO, COUNT(DISTINCT CONCAT(MARCA, '-', MODELO)) NRO_COTIZACIONES 
INTO #AUX_BOTS
FROM almacen_de_datos.dbo.APTP_COTIZADO 
WHERE COTIZACION_UNICA = 1
GROUP BY RUTASEGURADO
having COUNT(DISTINCT CONCAT(MARCA, '-', MODELO)) <= 2
ORDER BY 2 DESC


-- HAGO UN INNER JOIN PARA EXCLUIR ESOS CASOS DE POSIBLES BOTS DE LA PRIMERA TABLA
drop table if exists #AUX02
SELECT A.*
INTO  #AUX02
FROM #AUX01 A
INNER JOIN #AUX_BOTS B
ON A.RUTASEGURADO = B.RUTASEGURADO
-- SELECT * FROM #AUX02


-- GENERO TABLA DE RUTS VIGENTES Y APLICO FILTROS 
DROP TABLE if exists #AUX_VIGENTES
SELECT *, PRIMA_UF_ANUAL/PRIMA_TECNICA_UF AS APTP 
INTO #AUX_VIGENTES
FROM Almacen_de_Datos.DBO.BASE_APTP_PERSONAL 
WHERE 
		VIGENTE = 1
	AND LINEA_NEGOCIO = 'PERSONAL'
	AND TIPO_PLAN	  = 'FULL'
	AND VIGENCIA      = 'ANUAL'
	AND MAS_ROBADOS   = 'REGULAR'
	AND LLAVE_1 NOT LIKE '%_KM%'
	AND PRIMA_UF_ANUAL/PRIMA_TECNICA_UF > 1.2
	AND PARTNER_PYG NOT LIKE 'MOK'
	AND canal_pyg in ('DIR', 'ASC')



-- HAGO UN INNER JOIN PARA QUEDARME SÓLO CON LOS QUE CRUZAN, ES DECIR, CON CLIENTES VIGENTES QUE HAN COTIZADO EN EL ÚLTIMO MES
DROP TABLE IF EXISTS #AUX03
SELECT 
	 NNUMDOCU,
	 NNUMITEM,
	 RUT_ASEGURADO,
	 RUT_INTERMEDIARIO,
	 A.MARCA,
	 A.MODELO,
	 PATENTE,
	 INICIO_VIGENCIA,
	 TERMINO_VIGENCIA_REAL,
	 fecha_cotizacion,
	 CANAL_PYG,
	 PARTNER_PYG,
	 TIPO_PLAN,
	 TIPO_VIGENCIA,
	 PRIMA_UF_ANUAL,
	 PRIMA_TECNICA_UF,
	 ((PRIMA_TECNICA_UF * 1.1)/ PRIMA_UF_ANUAL)-1  as max_desc
INTO  #AUX03
FROM #AUX_VIGENTES A
INNER JOIN #AUX02 B
ON A.RUT_ASEGURADO = B.RUTASEGURADO
AND A.MARCA = B.MARCA
AND A.MODELO = B.MODELO
ORDER BY RUT_ASEGURADO
-- SELECT * FROM #AUX03


-- PONGO LIMITES MINIMOS Y MAXIMOS A LOS DESCUENTOS, CREO MARCA DE POLIZAS QUE PROBABLEMENTE YA FUERON CONTACTADAS Y EMITIDAS NUEVAMENTE
DROP TABLE IF EXISTS #AUX04
SELECT *,
	   CASE 
		WHEN max_desc < -0.3 THEN -0.3
		WHEN max_desc > -0.1 THEN -0.1
		ELSE max_desc
	   END DESC_AJUST,
	   CASE WHEN fecha_cotizacion < INICIO_VIGENCIA THEN 'POSIBLE PROCESAMIENTO PREVIO' ELSE 'SIN PROCESAR' END AS MARCA_PROCESADO
INTO #AUX04
FROM #AUX03
WHERE DATEDIFF(DAY, fecha_cotizacion, TERMINO_VIGENCIA_REAL) > 60 
-- SELECT * FROM #AUX04 WHERE DATEDIFF(DAY, fecha_cotizacion, TERMINO_VIGENCIA_REAL) > 60 



--SELECT * INTO REPORTES.DBO.BASE_APTP_RETENCION_FID_HIST FROM #AUX04
--INSERT INTO REPORTES.DBO.BASE_APTP_RETENCION_FID_HIST
--SELECT * FROM #AUX04 WHERE RUT_ASEGURADO NOT IN (SELECT DISTINCT RUT_ASEGURADO FROM REPORTES.DBO.BASE_APTP_RETENCION_FID_HIST)
--select * from REPORTES.DBO.BASE_APTP_RETENCION_FID_HIST
--select * from REPORTES.DBO.BASE_APTP_RETENCION_FID

-- GUARDO BASE GENERAL
DROP TABLE IF EXISTS REPORTES.DBO.BASE_APTP_RETENCION_FID
SELECT  
NNUMDOCU,
RUT_ASEGURADO,
RUT_INTERMEDIARIO,
PATENTE,
MARCA,
MODELO,
CANAL_PYG,
TIPO_PLAN,
TIPO_VIGENCIA,
PRIMA_UF_ANUAL,
CAST(DESC_AJUST AS NUMERIC (6,4)) DESCUENTO,
CAST(PRIMA_UF_ANUAL * (1+DESC_AJUST) AS NUMERIC(6,2)) PRIMA_UF_ANUAL_NUEVA
INTO REPORTES.DBO.BASE_APTP_RETENCION_FID
FROM #AUX04
where MARCA_PROCESADO = 'SIN PROCESAR' /*AND CANAL_PYG = 'DIR'*/
--SELECT * FROM REPORTES.DBO.BASE_APTP_RETENCION_FID

-- GUARDO BASE DE CANAL ASESOR
/*

DROP TABLE IF EXISTS REPORTES.DBO.BASE_APTP_RETENCION_FID_CAS
SELECT  
NNUMDOCU,
RUT_ASEGURADO,
PATENTE,
MARCA,
MODELO,
CANAL_PYG,
TIPO_PLAN,
TIPO_VIGENCIA,
PRIMA_UF_ANUAL,
CAST(DESC_AJUST AS NUMERIC (6,4)) DESCUENTO,
CAST(PRIMA_UF_ANUAL * (1+DESC_AJUST) AS NUMERIC(6,2)) PRIMA_UF_ANUAL_NUEVA
INTO REPORTES.DBO.BASE_APTP_RETENCION_FID_CAS
FROM #AUX04
where MARCA_PROCESADO = 'SIN PROCESAR' AND CANAL_PYG = 'ASC'
--SELECT * FROM REPORTES.DBO.BASE_APTP_RETENCION_FID_CAS
*/

-- EXCLUYO POLIZAS QUE PROBABLEMENTE YA FUERON CONTACTADAS Y EMITIDAS NUEVAMENTE
-- para esto eliminaré todos aquellos casos donde un rut tiene una poliza emitida posterior a la última fecha de cotización


--+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
SET @TERMINO= GETDATE()
INSERT INTO CANAL_ASESOR.DBO.MOVILIDAD_CONTROL_DE_EJECUCION VALUES ('SP_VIGENTES_COTIZANTES','FIN',@TERMINO,DATEDIFF(MINUTE,@INICIO,@TERMINO)/60,DATEDIFF(MINUTE,@INICIO,@TERMINO)%60)
SET @PASOS= GETDATE()
--+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++


END TRY
BEGIN CATCH
INSERT INTO CANAL_ASESOR.DBO.MOVILIDAD_CONTROL_ERROR
  SELECT 
    ERROR_NUMBER()		AS NUMERO_ERROR,
    ERROR_STATE()		AS ESTADO_ERROR,
    ERROR_SEVERITY()	AS SEVERIDAD_ERROR,
    ERROR_PROCEDURE()	AS NOMBRE_PROCEDIMIENTO,
    ERROR_LINE()		AS LINEA_ERROR,
    ERROR_MESSAGE()		AS MENBSAGE_ERROR,
	GETDATE()			AS TIMESTAMP,
	CURRENT_USER		AS USUARIO_EJECUTA
	;
END CATCH;
