USE [Almacen_de_Datos]
GO

ALTER   PROCEDURE [dbo].[SP_CAUSA_CANCELACION]
AS
BEGIN TRY
DECLARE 
	@TERMINO DATETIME,
	@INICIO DATETIME,
	@PASOS DATETIME

SET @INICIO=GETDATE()
SET @PASOS=@INICIO


--+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
SET @TERMINO= GETDATE()
INSERT INTO CANAL_ASESOR.DBO.MOVILIDAD_CONTROL_DE_EJECUCION VALUES ('CAUSA_CANCELACION','INICIO',@TERMINO,DATEDIFF(MINUTE,@PASOS,@TERMINO)/60,DATEDIFF(MINUTE,@PASOS,@TERMINO)%60)
SET @PASOS= GETDATE()
--+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
-- SE CARGAN LAS DESCRIPCIONES DE LOS CAMPOS DE TEXTO 
drop table if exists tablas_compartidas.dbo.CAUSAS_DE_CANCELACIONES 
select * 
INTO tablas_compartidas.dbo.CAUSAS_DE_CANCELACIONES 
from openquery(SOL,'
SELECT 
	D.NNUMDOCU, NNUMENDO, D.NCAUDEEN, D.NNUMLIN, 
	CASE D.CTEXLINE WHEN '''' 
		THEN VALUE(C.CSIGLA, '''') 
		ELSE  D.CTEXLINE 
	END
FROM   RSASOLDB2.SUACSDEP D
LEFT JOIN RSASOLDB2.SUACSCEN C
ON    C.CCODMOEN = D.CCODMOEN
AND   C.NCAUDEEN = D.NCAUDEEN
ORDER BY D.NCAUDEEN DESC
')
-- (45 min)


UPDATE tablas_compartidas.dbo.CAUSAS_DE_CANCELACIONES 
SET
["00005"] = 'CANCELACION POR RET_FID'
WHERE NCAUDEEN IN (18,19)


-------------------------------------------------
SET @TERMINO= GETDATE()
INSERT INTO CANAL_ASESOR.DBO.MOVILIDAD_CONTROL_DE_EJECUCION VALUES ('CAUSA_CANCELACION','1 DE 5',@TERMINO,DATEDIFF(MINUTE,@PASOS,@TERMINO)/60,DATEDIFF(MINUTE,@PASOS,@TERMINO)%60)
SET @PASOS= GETDATE()
-------------------------------------------------
-- COMO LA INFORMACIÓN VIENE CON UNA FILA POR CADA LINEA DEL CAMPO DESCRIPTIVO, SE TRANSPONEN ESTAS LINEAS EN COLUMNAS Y SE CONCATENAN
drop table if exists almacen_de_datos.dbo.CAUSAS_DE_CANCELACIONES_UNIF
select 
	*,
	RTRIM(LTRIM(
		coalesce([1],'')+' '+coalesce([2],'')+' '+coalesce([3],'')+' '+coalesce([4],'')+' '+coalesce([5],'')+' '+
		coalesce([6],'')+' '+coalesce([7],'')+' '+coalesce([8],'')+' '+coalesce([9],'')+' '+coalesce([10],'')+' '+
		coalesce([11],'')+' '+coalesce([12],'')+' '+coalesce([13],'')+' '+coalesce([14],'')+' '+coalesce([15],'')
	)) DESCRIPCION_UNIFICADA
into almacen_de_datos.dbo.CAUSAS_DE_CANCELACIONES_UNIF
from (
	select nnumdocu, nnumendo, nnumlin, ["00005"] as desc_canc
	from tablas_compartidas.dbo.CAUSAS_DE_CANCELACIONES
) as canc
pivot (
	max(desc_canc)
	for nnumlin in ([1],[2],[3],[4],[5],[6],[7],[8],[9],[10],[11],[12],[13],[14],[15])
) as piv


-- SE GENERA LA PRIMERA BASE QUE PARTE DE SURA_TRANSACCIONAL Y QUE ESTA ABIERTA POR ENDOSOS
drop table if exists almacen_de_datos.dbo.sura_movilidad_transaccional_base_gr
select *, cast(null as nvarchar(600)) as CAUSA_DE_CANCELACION
into sura_movilidad_transaccional_base_gr
from almacen_de_datos.dbo.sura_movilidad_transaccional_base


drop table if exists CAUSAS_DE_CANCELACIONES_2
select * into CAUSAS_DE_CANCELACIONES_2 from almacen_de_datos.dbo.CAUSAS_DE_CANCELACIONES_UNIF where nnumdocu in (select distinct nnumdocu from sura_movilidad_transaccional_base_gr)

drop table if exists #CAUSAS_DE_CANCELACIONES
select nnumdocu, nnumendo, DESCRIPCION_UNIFICADA as causa into #CAUSAS_DE_CANCELACIONES from CAUSAS_DE_CANCELACIONES_2


-- SE ADJUNTA LA INFORMACIÓN DE LAS CANCELACIONES UNIFICADAS A LA TABLA DE ENDOSOS
update sura_movilidad_transaccional_base_gr
set CAUSA_DE_CANCELACION = b.causa
from sura_movilidad_transaccional_base_gr a
left join #CAUSAS_DE_CANCELACIONES b on
cast(a.nnumdocu as int) = cast(b.nnumdocu  as int) and
cast(a.nnumendo as int) = cast(b.nnumendo  as int)

-------------------------------------------------
SET @TERMINO= GETDATE()
INSERT INTO CANAL_ASESOR.DBO.MOVILIDAD_CONTROL_DE_EJECUCION VALUES ('CAUSA_CANCELACION','2 DE 5',@TERMINO,DATEDIFF(MINUTE,@PASOS,@TERMINO)/60,DATEDIFF(MINUTE,@PASOS,@TERMINO)%60)
SET @PASOS= GETDATE()
-------------------------------------------------
/*********************************************************************************************************/
--                              CAUSAS DE CANCELACIONES CAMPO PREEXISTENTE PERO DESAGRUPADO
/*********************************************************************************************************/

select * into #sura_movilidad_transaccional_base_gr from sura_movilidad_transaccional_base_gr

alter table #sura_movilidad_transaccional_base_gr
add TIPO_ENDOSO_DETALLADO nvarchar(200)

drop table if exists SURA_TRANSACCIONAL_GR
select *
into SURA_TRANSACCIONAL_GR
from SURA_TRANSACCIONAL
WHERE CODIGO_RAMO_KEIRA_PRINCIPAL IN (8102,8121,8202,8221) AND INDICADOR_FACULTATIVO<>'C'
-- (4 MIN.)

select * into #SURA_TRANSACCIONAL_GR 
from SURA_TRANSACCIONAL_GR 
where nnumdocu in (select distinct nnumdocu from #sura_movilidad_transaccional_base_gr)


update #sura_movilidad_transaccional_base_gr
set TIPO_ENDOSO_DETALLADO = b.tipo_endoso
from #sura_movilidad_transaccional_base_gr a
left join (select distinct nnumdocu, nnumitem, nnumendo, tipo_endoso from #SURA_TRANSACCIONAL_GR) b on
a.nnumdocu = b.nnumdocu and
a.nnumitem = b.nnumitem and
a.nnumendo = b.nnumendo
--(5 min)


-------------------------------------------------
SET @TERMINO= GETDATE()
INSERT INTO CANAL_ASESOR.DBO.MOVILIDAD_CONTROL_DE_EJECUCION VALUES ('CAUSA_CANCELACION','3 DE 5',@TERMINO,DATEDIFF(MINUTE,@PASOS,@TERMINO)/60,DATEDIFF(MINUTE,@PASOS,@TERMINO)%60)
SET @PASOS= GETDATE()
-------------------------------------------------
/*********************************************************************************************************/
--                               SE HOMOLOGAN NOMBRES Y DESCRIPCIONES
/*********************************************************************************************************/

alter table #sura_movilidad_transaccional_base_gr
add CAUSA_HOMOLOGADA nvarchar(200)

UPDATE #sura_movilidad_transaccional_base_gr
SET
CAUSA_HOMOLOGADA = 
	case
		--CANCELACION
	--	when CAUSA_DE_CANCELACION like '%canc%anul%' then 'CANCELACIÓN'
		when CAUSA_DE_CANCELACION like '%canc%per%tot%' then 'CANCELACIÓN PÉRDIDA TOTAL'
		when CAUSA_DE_CANCELACION like '%pérdid%tot%' then 'CANCELACIÓN PÉRDIDA TOTAL'
		when CAUSA_DE_CANCELACION like '%canc%decis%[cia|comp]%' then 'CANCELACIÓN DECISIÓN COMPAÑIA'
		when CAUSA_DE_CANCELACION like '%canc%no%pago%' or CAUSA_DE_CANCELACION like 'por%no%pago%' then 'CANCELACIÓN POR NO PAGO'
		when CAUSA_DE_CANCELACION like '%canc%reemp%' then 'CANCELACIÓN CAMBIO MATERIA ASEGURADA'
		when CAUSA_DE_CANCELACION like '%canc%dupli%' then 'CANCELACIÓN'
		when CAUSA_DE_CANCELACION like '%canc%sol%aseg%' then 'CANCELACIÓN SOLICITUD ASEGURADO'
		when CAUSA_DE_CANCELACION like 'sol%aseg%' or CAUSA_DE_CANCELACION like 'por%sol%aseg%' then 'CANCELACIÓN SOLICITUD ASEGURADO'
		when CAUSA_DE_CANCELACION like '%canc%vent%' or CAUSA_DE_CANCELACION like '%por%vent%' or CAUSA_DE_CANCELACION like 'venta%' then 'CANCELACIÓN CAMBIO MATERIA ASEGURADA'
		when CAUSA_DE_CANCELACION like '%por%reemp%' then 'CANCELACIÓN CAMBIO MATERIA ASEGURADA'
		when CAUSA_DE_CANCELACION like '%canc%l[ií]de%' then 'CANCELACIÓN'
		when CAUSA_DE_CANCELACION like '%canc%p[eé]rd%tot%' or CAUSA_DE_CANCELACION like '%por%p[eé]rd%tot%' then 'CANCELACIÓN PÉRDIDA TOTAL'
		when CAUSA_DE_CANCELACION like '%canc%camb%corre%' then 'CANCELACIÓN'
		when CAUSA_DE_CANCELACION like '%canc%fallec%aseg%' or CAUSA_DE_CANCELACION like 'por%falle%aseg%' then 'CANCELACIÓN'
		when CAUSA_DE_CANCELACION like 'por%fallec%cliente%' then 'CANCELACIÓN'
		when CAUSA_DE_CANCELACION like 'por%fallec%contrat%' then 'CANCELACIÓN'
		when CAUSA_DE_CANCELACION like 'por%fallec%propo%' then 'CANCELACIÓN'
		when CAUSA_DE_CANCELACION like 'por%fallec%titular%' then 'CANCELACIÓN'
		when CAUSA_DE_CANCELACION like '%canc%canc%vig%ant%' then 'CANCELACIÓN'
		when CAUSA_DE_CANCELACION like '%canc%deud%' then 'CANCELACIÓN POR NO PAGO'
		when CAUSA_DE_CANCELACION like '%canc%err%' then 'CANCELACIÓN'
		when CAUSA_DE_CANCELACION like '%canc%cambio%mat%' then 'CANCELACIÓN CAMBIO MATERIA ASEGURADA'
		when CAUSA_DE_CANCELACION like '%por%no%inspec%' then 'CANCELACIÓN'
		when CAUSA_DE_CANCELACION like 'por%pago%mal%imput%' then 'CANCELACIÓN'
		when CAUSA_DE_CANCELACION like 'por%pago%tiemp%cubie%' then 'CANCELACIÓN'
		when CAUSA_DE_CANCELACION like '%error%emis%' then 'CANCELACIÓN'
		when CAUSA_DE_CANCELACION like '%error%vent%' then 'CANCELACIÓN'
		when CAUSA_DE_CANCELACION like '%motiv%econo%' then 'CANCELACIÓN SOLICITUD ASEGURADO'
		when CAUSA_DE_CANCELACION like '%solic%aseg%' then 'CANCELACIÓN SOLICITUD ASEGURADO'
		when CAUSA_DE_CANCELACION like '%solicitud%del%cliente%' then 'CANCELACIÓN SOLICITUD ASEGURADO'
		when CAUSA_DE_CANCELACION like '%retracto%' then 'CANCELACIÓN'
		when CAUSA_DE_CANCELACION like '%mejor%ofert%' then 'CANCELACIÓN SOLICITUD ASEGURADO'
		when CAUSA_DE_CANCELACION like '%ofer%conv%' then 'CANCELACIÓN SOLICITUD ASEGURADO'
		when CAUSA_DE_CANCELACION like '%precio%conv%' then 'CANCELACIÓN SOLICITUD ASEGURADO'
		when CAUSA_DE_CANCELACION like '%venta%mater%' then 'CANCELACIÓN CAMBIO MATERIA ASEGURADA'
		when CAUSA_DE_CANCELACION like '%materia%aseg%' then 'CANCELACIÓN CAMBIO MATERIA ASEGURADA'
		when CAUSA_DE_CANCELACION like '%Por%venta%'  OR CAUSA_DE_CANCELACION like '%Por%venta' then 'CANCELACIÓN CAMBIO MATERIA ASEGURADA'
		when CAUSA_DE_CANCELACION like '%bajas%sernac%' then 'CANCELACIÓN'
		when CAUSA_DE_CANCELACION like 'Canc. por Desistimie' then 'CANCELACIÓN'
		when CAUSA_DE_CANCELACION like '%canc.%por%no%docum%' then 'CANCELACIÓN'
	    when CAUSA_DE_CANCELACION like '%no%pago%' and CAUSA_DE_CANCELACION not like '%anul%' then 'CANCELACIÓN POR NO PAGO'
		when CAUSA_DE_CANCELACION like '%morosi%' then 'CANCELACIÓN POR NO PAGO'
		when CAUSA_DE_CANCELACION like '%por%error%' then 'CANCELACIÓN'
		when CAUSA_DE_CANCELACION like '%solicitud%de%' then 'CANCELACIÓN'
		when CAUSA_DE_CANCELACION like '%solicitud%del%' and CAUSA_DE_CANCELACION not like '%cliente%' then 'CANCELACIÓN'

		when CAUSA_DE_CANCELACION like '%rebaja%' or CAUSA_DE_CANCELACION like '%propu%' or CAUSA_DE_CANCELACION like '%p[oó]liza nro%' then '-'
		when CAUSA_DE_CANCELACION like 'sac%' or CAUSA_DE_CANCELACION like 'sini%' or CAUSA_DE_CANCELACION like 'excl%' then '-'
		when CAUSA_DE_CANCELACION like 'con%[ií]tem%' or CAUSA_DE_CANCELACION like 'con%p[oó]li%' then '-'

		else 'OTRO'
	end
where 
	PRIMA_UF < 0 or TIPO_ENDOSO like '%CANCELACION%' or TIPO_ENDOSO like '%ANULACION%'


-- select CAUSA_DE_CANCELACION from #sura_movilidad_transaccional_base_gr where CAUSA_DE_CANCELACION like '%RET_FID%'



UPDATE #sura_movilidad_transaccional_base_gr
SET 
CAUSA_HOMOLOGADA = CASE WHEN  CAUSA_DE_CANCELACION like '%canc%anul%' then 'CANCELACIÓN' END
WHERE CAUSA_HOMOLOGADA = 'OTRO'

UPDATE #sura_movilidad_transaccional_base_gr
SET 
CAUSA_HOMOLOGADA = 'ANULACIÓN'
WHERE CAUSA_DE_CANCELACION LIKE '%ANULA%' AND CAUSA_DE_CANCELACION NOT LIKE '%CANCEL%'

UPDATE #sura_movilidad_transaccional_base_gr
SET 
CAUSA_HOMOLOGADA = 'CANCELACIÓN'
WHERE (CAUSA_DE_CANCELACION LIKE '%CANC%' OR CAUSA_DE_CANCELACION LIKE '%BAJA%') AND CAUSA_HOMOLOGADA = 'OTRO'


-------------------------------------------------------------------------------------------------
-- AGREGO INFORMACIÓN HISTÓRICA MANUAL DE FALABELLA QUE NO ESTÁ EN EL CAMPO DESCRIPTIVO DE SOL
-------------------------------------------------------------------------------------------------

drop table if exists #AUX_PROPuesta_SOL
SELECT A.NRO_PROPUESTA, A.MOTIVO_ANULACION, B.NNUMDOCU, B.NNUMITEM
into #AUX_PROPuesta_SOL
FROM reportes.dbo.Motivos_Caidas_Falabella A
left join OPENQUERY(SOL, 'select distinct NNUMDOCU, NNUMITEM, CPROPUES from RSASOLDB2.SUACSITE WHERE NPLANTEC in (1376,2052,3713,3725,3729,4571,4756,6672,6677,8341,8352,8355,2053,3683,3701,3710,3728,3731,6679,8350,8351,3684,3687,3694,3726,3732,4561,5782,6660,6680,8354,1612,3133,3688,3696,3706,3727,3735,5299,5300,6681,7096,1130,3682,3685,3709,4556,6654,6666,8345,8357,1925,3711,3712,6678,8344,8346,8348,8353,8358,3689,3692,3700,3722,3723,3733,3995,6682,3693,3695,3705,3708,3724,3734,5411,8347) ') B
on A.NRO_PROPUESTA = B.CPROPUES 


alter table #sura_movilidad_transaccional_base_gr
add MOTIVO_ANULACION_FALA nvarchar(200)

update #sura_movilidad_transaccional_base_gr
set
MOTIVO_ANULACION_FALA = b.MOTIVO_ANULACION
from #sura_movilidad_transaccional_base_gr a
left join #AUX_PROPuesta_SOL b on
a.NNUMDOCU = b.nnumdocu and
a.NNUMITEM = b.nnumitem

-------------------------------------------------
SET @TERMINO= GETDATE()
SET @PASOS= GETDATE()
-------------------------------------------------
-------------------------------------------------------------------------------------------------
--       GENERO UNA COLUMNA DE MOTIVOS DE CANCELACIÓN ÚNICA APLICANDO CRITERIOS
-------------------------------------------------------------------------------------------------
alter table #sura_movilidad_transaccional_base_gr
add CAUSA_CANCELACION_MIX nvarchar(200)

update #sura_movilidad_transaccional_base_gr
set
CAUSA_CANCELACION_MIX = MOTIVO_ANULACION_FALA

update #sura_movilidad_transaccional_base_gr
set
CAUSA_CANCELACION_MIX = CAUSA_HOMOLOGADA
where CAUSA_CANCELACION_MIX is null

update #sura_movilidad_transaccional_base_gr
set
CAUSA_CANCELACION_MIX = TIPO_ENDOSO_DETALLADO
where CAUSA_CANCELACION_MIX is null or CAUSA_CANCELACION_MIX in ('CANCELACION','CANCELACIÓN') or rtrim(ltrim(CAUSA_CANCELACION_MIX)) = ''

update #sura_movilidad_transaccional_base_gr
set
CAUSA_CANCELACION_MIX = RTRIM(LTRIM(CAUSA_CANCELACION_MIX))

update #sura_movilidad_transaccional_base_gr
set
CAUSA_CANCELACION_MIX = NULL
where CAUSA_CANCELACION_MIX = '-'

update #sura_movilidad_transaccional_base_gr
set
CAUSA_CANCELACION_MIX = 'OTRO'
where CAUSA_CANCELACION_MIX = 'other'



-- select CAUSA_DE_CANCELACION, CAUSA_CANCELACION_MIX  from #sura_movilidad_transaccional_base_gr where CAUSA_DE_CANCELACION like '%RET_FID%'



update #sura_movilidad_transaccional_base_gr
set
CAUSA_CANCELACION_MIX = case
	when CAUSA_CANCELACION_MIX in ('ANULACIÓN','CLIENTE ANULA EN LA COMPAÑIA') then 'ANULACION'
	when CAUSA_CANCELACION_MIX in ('Canc. a solic. Aseg.','CUENTA CON OTRO SEGURO','DISCONFORME CON LA COBERTURA','MAL SERVICIO DE LA COMPAÑÍA',
		'MAL SERVICIO DE SEGURO FALABELLA','NIEGA CONTRATACION DEL SEGURO','NO FUI ASESORADO ADECUADAMENTE','NO RENUEVA POR PRECIO',
		'PRECIO U OFERTA MÁS CONVENIENTE EN LA COMPETENCIA','PROBLEMA ECONOMICO','DIFICULTAD ECONÓMICA'
	) then 'CANCELACIÓN SOLICITUD ASEGURADO'
	when CAUSA_CANCELACION_MIX in ('Canc. cambio materia','Cancelacion por Vent','NO RENUEVA POR VENTA MATERIA','VENTA VEHÍCULO ASEGURADO',
		'VENTA VEHICULO ASEGURADO'
	) then 'CANCELACIÓN CAMBIO MATERIA ASEGURADA'
	when CAUSA_CANCELACION_MIX in ('CANCELACIÓN POR NO PAGO','Canc. no pago prima ','NO PAGO','MOROSIDAD') then 'CANCELACION POR NO PAGO'
	when CAUSA_CANCELACION_MIX = 'Canc. Perd. Total' then 'CANCELACIÓN PÉRDIDA TOTAL'
	when CAUSA_CANCELACION_MIX in ('CANCELACION POLIZA','Canc. por Desistimie','Canc. por Reemp.','Canc. y/o Anul.','Canc.por camb.Corred',
		'Canc.por Duplicidad','CANCELAR ITEM','BAJAS SERNAC'
	) then 'CANCELACION'
	else CAUSA_CANCELACION_MIX
end

update #sura_movilidad_transaccional_base_gr
set
CAUSA_CANCELACION_MIX = case
	WHEN CAUSA_DE_CANCELACION LIKE '%CLIENTE ANULA EN LA COMPAÑIA%'							 THEN 'ANULACION'
	WHEN CAUSA_DE_CANCELACION LIKE '%CUENTA CON OTRO SEGURO%'								 THEN 'CANCELACIÓN SOLICITUD ASEGURADO'
	WHEN CAUSA_DE_CANCELACION LIKE '%DIFICULTAD ECONÓMICA%'									 THEN 'CANCELACIÓN SOLICITUD ASEGURADO'
	WHEN CAUSA_DE_CANCELACION LIKE '%DISCONFORME CON LA COBERTURA%'							 THEN 'CANCELACIÓN SOLICITUD ASEGURADO'
	WHEN CAUSA_DE_CANCELACION LIKE '%MAL SERVICIO DE LA COMPAÑÍA%'							 THEN 'CANCELACIÓN SOLICITUD ASEGURADO'
	WHEN CAUSA_DE_CANCELACION LIKE '%MAL SERVICIO DE SEGURO FALABELLA%'						 THEN 'CANCELACIÓN SOLICITUD ASEGURADO'
	WHEN CAUSA_DE_CANCELACION LIKE '%MOROSIDAD%'											 THEN 'CANCELACION POR NO PAGO'
	WHEN CAUSA_DE_CANCELACION LIKE '%NIEGA CONTRATACION DEL SEGURO%'						 THEN 'CANCELACIÓN SOLICITUD ASEGURADO'
	WHEN CAUSA_DE_CANCELACION LIKE '%NO FUI ASESORADO ADECUADAMENTE%'						 THEN 'CANCELACIÓN SOLICITUD ASEGURADO'
	WHEN CAUSA_DE_CANCELACION LIKE '%NO RENUEVA POR PRECIO%'								 THEN 'CANCELACIÓN SOLICITUD ASEGURADO'
	WHEN CAUSA_DE_CANCELACION LIKE '%NO RENUEVA POR VENTA MATERIA%'							 THEN 'CANCELACIÓN CAMBIO MATERIA ASEGURADA'
	WHEN CAUSA_DE_CANCELACION LIKE '%PRECIO U OFERTA MÁS CONVENIENTE EN LA COMPETENCIA%'	 THEN 'CANCELACIÓN SOLICITUD ASEGURADO'
	WHEN CAUSA_DE_CANCELACION LIKE '%PROBLEMA ECONOMICO%'									 THEN 'CANCELACIÓN SOLICITUD ASEGURADO'
	WHEN CAUSA_DE_CANCELACION LIKE '%VENTA VEHÍCULO ASEGURADO%'								 THEN 'CANCELACIÓN CAMBIO MATERIA ASEGURADA'

	else CAUSA_CANCELACION_MIX
end

update #sura_movilidad_transaccional_base_gr
set
CAUSA_CANCELACION_MIX = 'CANC.POR FIDELIZACION'
WHERE CAUSA_DE_CANCELACION like '%RET_FID%' AND CAUSA_CANCELACION_MIX <> 'CANC.POR RETENCION'


update #sura_movilidad_transaccional_base_gr
set
CAUSA_CANCELACION_MIX = UPPER(CAUSA_CANCELACION_MIX)

drop table if exists sura_movilidad_transaccional_base_gr
select * into sura_movilidad_transaccional_base_gr from #sura_movilidad_transaccional_base_gr

-------------------------------------------------
SET @TERMINO= GETDATE()
SET @PASOS= GETDATE()
-------------------------------------------------
-------------------------------------------------------------------------------------------------
--     SE ANEXA ESTA INFORMACIÓN QUE ESTÁ POR ENDOSOS A UNA TABLA DE POLIZA ACTUALIZADA
-------------------------------------------------------------------------------------------------
DROP TABLE IF EXISTS REPORTES.DBO.SURA_MOVILIDAD_TRANSACCIONAL_CANCELACIONES
select * into REPORTES.DBO.SURA_MOVILIDAD_TRANSACCIONAL_CANCELACIONES from REPORTES.DBO.SURA_MOVILIDAD_TRANSACCIONAL

update REPORTES.DBO.SURA_MOVILIDAD_TRANSACCIONAL_CANCELACIONES
set
CAUSA_CANCELACION_MIX = b.CAUSA_CANCELACION_MIX
from REPORTES.DBO.SURA_MOVILIDAD_TRANSACCIONAL_CANCELACIONES a
left join (select nnumdocu, nnumitem, max(CAUSA_CANCELACION_MIX) CAUSA_CANCELACION_MIX from almacen_de_datos.dbo.sura_movilidad_transaccional_base_gr where CAUSA_CANCELACION_MIX not in ('INCLUSION', 'REHABILITACION', 'VIGENCIA', 'PRORROGA', 'INGRESAR COBERTURA', 'DEVOLUCION DE PRIMA', 'DECLARACION EXISTENCIAS', 'COMISION', 'COBRO DE PRIMA') group by nnumdocu, nnumitem) b on
a.NNUMDOCU = b.nnumdocu and
a.NNUMITEM = b.nnumitem

UPDATE REPORTES.DBO.SURA_MOVILIDAD_TRANSACCIONAL_CANCELACIONES
SET
CAUSA_CANCELACION_MIX = CASE
							 WHEN CAUSA_CANCELACION_MIX IS NULL  THEN ''
							 WHEN CAUSA_CANCELACION_MIX = 'ANULACION' THEN 'ANUL.'
							 WHEN CAUSA_CANCELACION_MIX = 'CAMBIO COMISION Y/O CORREDOR' THEN 'CANCEL.'
							 WHEN CAUSA_CANCELACION_MIX = 'CAMBIO DE MONTO' THEN 'CANCEL.'
							 WHEN CAUSA_CANCELACION_MIX = 'CANCELACION' THEN 'CANCEL.'
							 WHEN CAUSA_CANCELACION_MIX = 'CANCELACIÓN CAMBIO MATERIA ASEGURADA' THEN 'MAT. ASEGURADA'
							 WHEN CAUSA_CANCELACION_MIX = 'CANCELACIÓN DECISIÓN COMPAÑIA' THEN 'DECISIÓN CIA.'
							 WHEN CAUSA_CANCELACION_MIX = 'CANCELACION PERDIDA TOTAL' THEN 'PERD. TOTAL'
							 WHEN CAUSA_CANCELACION_MIX = 'CANCELACIÓN PÉRDIDA TOTAL' THEN 'PERD. TOTAL'
							 WHEN CAUSA_CANCELACION_MIX = 'CANCELACION POR NO PAGO' THEN 'NO PAGO'
							 WHEN CAUSA_CANCELACION_MIX = 'CANCELACIÓN SOLICITUD ASEGURADO' THEN 'SOLIC. ASEG.'
							 ELSE CAUSA_CANCELACION_MIX
						END

-------------------------------------------------------------------------------------------------
--     TABLA ACOTADA PARA CRUCE
-------------------------------------------------------------------------------------------------
--columnas fundamentales (NNUMDOCU, NNUMITEM, PRORROGA, CAUSA_CANCELACION_MIX)
drop table if exists SMT_CANCELACIONES
select distinct NNUMDOCU, NNUMITEM, PRORROGA, CAUSA_CANCELACION_MIX into SMT_CANCELACIONES from REPORTES.DBO.SURA_MOVILIDAD_TRANSACCIONAL_CANCELACIONES where CAUSA_CANCELACION_MIX <> ''


drop table if exists sura_movilidad_transaccional_base_gr
drop table if exists CAUSAS_DE_CANCELACIONES_UNIF
drop table if exists CAUSAS_DE_CANCELACIONES_2
drop table if exists SURA_TRANSACCIONAL_GR
drop table if exists REPORTES.DBO.SURA_MOVILIDAD_TRANSACCIONAL_CANCELACIONES

--+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
SET @TERMINO= GETDATE()
SET @PASOS= GETDATE()
--+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++


END TRY
BEGIN CATCH
INSERT INTO CANAL_ASESOR.DBO.MOVILIDAD_CONTROL_ERROR
  SELECT 
    ERROR_NUMBER()		AS NUMERO_ERROR,
    ERROR_STATE()		AS ESTADO_ERROR,
    ERROR_SEVERITY()	AS SEVERIDAD_ERROR,
    ERROR_PROCEDURE()	AS NOMBRE_PROCEDIMIENTO,
    ERROR_LINE()		AS LINEA_ERROR,
    ERROR_MESSAGE()		AS MENBSAGE_ERROR,
	GETDATE()			AS TIMESTAMP,
	CURRENT_USER		AS USUARIO_EJECUTA
	;
END CATCH;

