USE [Almacen_de_Datos]
GO

ALTER  PROCEDURE [dbo].[04_SP_SURA_MOVILIDAD_TRANSACCIONAL]
AS
BEGIN TRY
DECLARE @TERMINO DATETIME
DECLARE @INICIO DATETIME
DECLARE @PASOS DATETIME
SET @INICIO=GETDATE()
SET @PASOS=@INICIO

--+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
SET @TERMINO= GETDATE()
INSERT INTO CANAL_ASESOR.DBO.MOVILIDAD_CONTROL_DE_EJECUCION VALUES ('04_SP_SURA_MOVILIDAD_TRANSACCIONAL','INICIO',@TERMINO,DATEDIFF(MINUTE,@PASOS,@TERMINO)/60,DATEDIFF(MINUTE,@PASOS,@TERMINO)%60)
SET @PASOS= GETDATE()
--+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

DECLARE @ULTIMO_CIERRE_PROCESADO DATE
DECLARE @CIERRE_POR_PROCESAR DATE
SET @ULTIMO_CIERRE_PROCESADO=(SELECT MAX(PERIODO_MES_CERRADO) FROM SURA_MOVILIDAD_CONTROL_DE_CIERRE)
SET @CIERRE_POR_PROCESAR=(SELECT TOP 1 CONVERT(DATE,PERIODO_CONTABLE) FROM CANAL_ASESOR.DBO.FactWrittenPremium_Mensual) 


IF @ULTIMO_CIERRE_PROCESADO<@CIERRE_POR_PROCESAR
BEGIN

	TRUNCATE TABLE SURA_MOVILIDAD_TRANSACCIONAL_BASE
	INSERT INTO SURA_MOVILIDAD_TRANSACCIONAL_BASE
	SELECT 
	TIPO_DOCUMENTO,
	NNUMDOCU,
	NNUMITEM,
	NNUMCERT,
	NNUMENDO,
	TIPO_ENDOSO,
	CODIGO_RAMO,
	RAMO,
	RUT_EJECUTIVO,
	EJECUTIVO,
	RUT_EJECUTIVO_NUEVO,
	EJECUTIVO_NUEVO,
	RUT_INTERMEDIARIO,
	INTERMEDIARIO,
	RUT_PROPONENTE,
	RUT_ASEGURADO,
	RENOVACION_GOL,
	IND_CANCELACION_GOL,
	IND_CANCELACION_CALCULADA,
	IND_RENOVACION_GOL,
	IND_RENOVACION_CALCULADA,
	FILTRO_RIESGO,
	CODIGO_RAMO_KEIRA_PRINCIPAL,
	RAMO_KEIRA_PRINCIPAL,
	PRIMA_PESO,
	PRIMA_UF,
	COMISION_PESO,
	COMISION_UF,
	MONTO_ASEGURADO_PESO,
	MONTO_ASEGURADO_UF,
	MONTO_ASEGURADO_ALL_PESO,
	MONTO_ASEGURADO_ALL_UF,
	MONEDA_ORIGINAL,
	CODIGO_PLAN_COMERCIAL,
	PLAN_COMERCIAL,
	CODIGO_PLAN_TECNICO,
	PLAN_TECNICO,
	TIPO_PLAN,
	DEDUCIBLE,
	LINEA_NEGOCIO,
	LINEA_PRODUCTO,
	CODIGO_TIPO_NEGOCIO,
	TIPO_NEGOCIO,
	BUSINESS_UNIT,
	CANAL_GOL,
	CANAL,
	CODIGO_MARCA,
	CODIGO_MODELO,
	MARCA,
	MODELO,
	AÑO,
	PATENTE,
	CHASIS,
	MOTOR,
	CODIGO_UBICACION,
	CLASIFICACION_RSA,
	CLASIFICACION_RIESGO,
	NUMERO_SECUENCIA,
	PERIODO_CONTABLE,
	FECHA_FIRMA,
	INICIO_VIGENCIA,
	TERMINO_VIGENCIA,
	TERMINO_VIGENCIA_REAL,
	FECHA_CANCELACION,
	MEDIO_PAGO,
	SUCURSAL_GOL,
	SUCURSAL_CA,
	COMUNA_ASE,
	PROVINCIA_ASE,
	REGION_ASE,
	MACRO_ZONAS_ASE,
	ZONAS_GEOGRAFICAS_ASE,
	REGIONES_URBES_ASE,
	ZONA_ASE,
	TIPO_CARGA,
	0 AS PRORROGA,
	CANAL_FINAL,
	PARTNER_FINAL
	FROM SURA_TRANSACCIONAL 
	WHERE CODIGO_RAMO_KEIRA_PRINCIPAL IN (8102,8121,8202,8221) AND INDICADOR_FACULTATIVO<>'C' AND TIPO_CARGA='M'
	--AND RUT_INTERMEDIARIO=77099010

	INSERT INTO SURA_MOVILIDAD_TRANSACCIONAL_BASE
	SELECT 
	TIPO_DOCUMENTO,
	NNUMDOCU,
	NNUMITEM,
	NNUMCERT,
	NNUMENDO,
	TIPO_ENDOSO,
	CODIGO_RAMO,
	RAMO,
	RUT_EJECUTIVO,
	EJECUTIVO,
	RUT_EJECUTIVO_NUEVO,
	EJECUTIVO_NUEVO,
	RUT_INTERMEDIARIO,
	INTERMEDIARIO,
	RUT_PROPONENTE,
	RUT_ASEGURADO,
	RENOVACION_GOL,
	IND_CANCELACION_GOL,
	IND_CANCELACION_CALCULADA,
	IND_RENOVACION_GOL,
	IND_RENOVACION_CALCULADA,
	FILTRO_RIESGO,
	CODIGO_RAMO_KEIRA_PRINCIPAL,
	RAMO_KEIRA_PRINCIPAL,
	PRIMA_PESO,
	PRIMA_UF,
	COMISION_PESO,
	COMISION_UF,
	MONTO_ASEGURADO_PESO,
	MONTO_ASEGURADO_UF,
	MONTO_ASEGURADO_ALL_PESO,
	MONTO_ASEGURADO_ALL_UF,
	MONEDA_ORIGINAL,
	CODIGO_PLAN_COMERCIAL,
	PLAN_COMERCIAL,
	CODIGO_PLAN_TECNICO,
	PLAN_TECNICO,
	TIPO_PLAN,
	DEDUCIBLE,
	LINEA_NEGOCIO,
	LINEA_PRODUCTO,
	CODIGO_TIPO_NEGOCIO,
	TIPO_NEGOCIO,
	BUSINESS_UNIT,
	CANAL_GOL,
	CANAL,
	CODIGO_MARCA,
	CODIGO_MODELO,
	MARCA,
	MODELO,
	AÑO,
	PATENTE,
	CHASIS,
	MOTOR,
	CODIGO_UBICACION,
	CLASIFICACION_RSA,
	CLASIFICACION_RIESGO,
	NUMERO_SECUENCIA,
	PERIODO_CONTABLE,
	FECHA_FIRMA,
	INICIO_VIGENCIA,
	TERMINO_VIGENCIA,
	TERMINO_VIGENCIA_REAL,
	FECHA_CANCELACION,
	MEDIO_PAGO,
	SUCURSAL_GOL,
	SUCURSAL_CA,
	COMUNA_ASE,
	PROVINCIA_ASE,
	REGION_ASE,
	MACRO_ZONAS_ASE,
	ZONAS_GEOGRAFICAS_ASE,
	REGIONES_URBES_ASE,
	ZONA_ASE,
	TIPO_CARGA,
	0 AS PRORROGA,
	CANAL_FINAL,
	PARTNER_FINAL
	FROM SURA_TRANSACCIONAL 
	WHERE CODIGO_RAMO_KEIRA_PRINCIPAL NOT IN (8102,8121,8202,8221) AND CODIGO_RAMO IN ('EE','EL','EP') AND INDICADOR_FACULTATIVO<>'C' AND TIPO_CARGA='M'

END
	
IF @ULTIMO_CIERRE_PROCESADO=@CIERRE_POR_PROCESAR
BEGIN
	TRUNCATE TABLE SURA_MOVILIDAD_TRANSACCIONAL_BASE
	INSERT INTO SURA_MOVILIDAD_TRANSACCIONAL_BASE
	SELECT 
	TIPO_DOCUMENTO,
	NNUMDOCU,
	NNUMITEM,
	NNUMCERT,
	NNUMENDO,
	TIPO_ENDOSO,
	CODIGO_RAMO,
	RAMO,
	RUT_EJECUTIVO,
	EJECUTIVO,
	RUT_EJECUTIVO_NUEVO,
	EJECUTIVO_NUEVO,
	RUT_INTERMEDIARIO,
	INTERMEDIARIO,
	RUT_PROPONENTE,
	RUT_ASEGURADO,
	RENOVACION_GOL,
	IND_CANCELACION_GOL,
	IND_CANCELACION_CALCULADA,
	IND_RENOVACION_GOL,
	IND_RENOVACION_CALCULADA,
	FILTRO_RIESGO,
	CODIGO_RAMO_KEIRA_PRINCIPAL,
	RAMO_KEIRA_PRINCIPAL,
	PRIMA_PESO,
	PRIMA_UF,
	COMISION_PESO,
	COMISION_UF,
	MONTO_ASEGURADO_PESO,
	MONTO_ASEGURADO_UF,
	MONTO_ASEGURADO_ALL_PESO,
	MONTO_ASEGURADO_ALL_UF,
	MONEDA_ORIGINAL,
	CODIGO_PLAN_COMERCIAL,
	PLAN_COMERCIAL,
	CODIGO_PLAN_TECNICO,
	PLAN_TECNICO,
	TIPO_PLAN,
	DEDUCIBLE,
	LINEA_NEGOCIO,
	LINEA_PRODUCTO,
	CODIGO_TIPO_NEGOCIO,
	TIPO_NEGOCIO,
	BUSINESS_UNIT,
	CANAL_GOL,
	CANAL,
	CODIGO_MARCA,
	CODIGO_MODELO,
	MARCA,
	MODELO,
	AÑO,
	PATENTE,
	CHASIS,
	MOTOR,
	CODIGO_UBICACION,
	CLASIFICACION_RSA,
	CLASIFICACION_RIESGO,
	NUMERO_SECUENCIA,
	PERIODO_CONTABLE,
	FECHA_FIRMA,
	INICIO_VIGENCIA,
	TERMINO_VIGENCIA,
	TERMINO_VIGENCIA_REAL,
	FECHA_CANCELACION,
	MEDIO_PAGO,
	SUCURSAL_GOL,
	SUCURSAL_CA,
	COMUNA_ASE,
	PROVINCIA_ASE,
	REGION_ASE,
	MACRO_ZONAS_ASE,
	ZONAS_GEOGRAFICAS_ASE,
	REGIONES_URBES_ASE,
	ZONA_ASE,
	TIPO_CARGA,
	0 AS PRORROGA,
	CANAL_FINAL,
	PARTNER_FINAL
	FROM SURA_TRANSACCIONAL 
	WHERE CODIGO_RAMO_KEIRA_PRINCIPAL IN (8102,8121,8202,8221) AND INDICADOR_FACULTATIVO<>'C'


	INSERT INTO SURA_MOVILIDAD_TRANSACCIONAL_BASE
	SELECT 
	TIPO_DOCUMENTO,
	NNUMDOCU,
	NNUMITEM,
	NNUMCERT,
	NNUMENDO,
	TIPO_ENDOSO,
	CODIGO_RAMO,
	RAMO,
	RUT_EJECUTIVO,
	EJECUTIVO,
	RUT_EJECUTIVO_NUEVO,
	EJECUTIVO_NUEVO,
	RUT_INTERMEDIARIO,
	INTERMEDIARIO,
	RUT_PROPONENTE,
	RUT_ASEGURADO,
	RENOVACION_GOL,
	IND_CANCELACION_GOL,
	IND_CANCELACION_CALCULADA,
	IND_RENOVACION_GOL,
	IND_RENOVACION_CALCULADA,
	FILTRO_RIESGO,
	CODIGO_RAMO_KEIRA_PRINCIPAL,
	RAMO_KEIRA_PRINCIPAL,
	PRIMA_PESO,
	PRIMA_UF,
	COMISION_PESO,
	COMISION_UF,
	MONTO_ASEGURADO_PESO,
	MONTO_ASEGURADO_UF,
	MONTO_ASEGURADO_ALL_PESO,
	MONTO_ASEGURADO_ALL_UF,
	MONEDA_ORIGINAL,
	CODIGO_PLAN_COMERCIAL,
	PLAN_COMERCIAL,
	CODIGO_PLAN_TECNICO,
	PLAN_TECNICO,
	TIPO_PLAN,
	DEDUCIBLE,
	LINEA_NEGOCIO,
	LINEA_PRODUCTO,
	CODIGO_TIPO_NEGOCIO,
	TIPO_NEGOCIO,
	BUSINESS_UNIT,
	CANAL_GOL,
	CANAL,
	CODIGO_MARCA,
	CODIGO_MODELO,
	MARCA,
	MODELO,
	AÑO,
	PATENTE,
	CHASIS,
	MOTOR,
	CODIGO_UBICACION,
	CLASIFICACION_RSA,
	CLASIFICACION_RIESGO,
	NUMERO_SECUENCIA,
	PERIODO_CONTABLE,
	FECHA_FIRMA,
	INICIO_VIGENCIA,
	TERMINO_VIGENCIA,
	TERMINO_VIGENCIA_REAL,
	FECHA_CANCELACION,
	MEDIO_PAGO,
	SUCURSAL_GOL,
	SUCURSAL_CA,
	COMUNA_ASE,
	PROVINCIA_ASE,
	REGION_ASE,
	MACRO_ZONAS_ASE,
	ZONAS_GEOGRAFICAS_ASE,
	REGIONES_URBES_ASE,
	ZONA_ASE,
	TIPO_CARGA,
	0 AS PRORROGA,
	CANAL_FINAL,
	PARTNER_FINAL
	FROM SURA_TRANSACCIONAL 
	WHERE CODIGO_RAMO_KEIRA_PRINCIPAL NOT IN (8102,8121,8202,8221) AND CODIGO_RAMO IN ('EE','EL','EP') AND INDICADOR_FACULTATIVO<>'C'

END


-------------------------------------------------PRORROGA
--DROP TABLE #PRORROGAS
--UPDATE SURA_MOVILIDAD_TRANSACCIONAL_BASE SET PRORROGA=0

SELECT NNUMDOCU,NNUMITEM,NNUMENDO,0 PRORROGA INTO #PRORROGAS FROM SURA_MOVILIDAD_TRANSACCIONAL_BASE WHERE TIPO_ENDOSO='PRORROGA' 
AND RUT_INTERMEDIARIO=96524260

DECLARE @ULTIMO_CICLO_PRORROGA INT
SET @ULTIMO_CICLO_PRORROGA = (SELECT TOP 1 COUNT(*) FROM #PRORROGAS GROUP BY NNUMDOCU,NNUMITEM ORDER BY 1 DESC)

DECLARE @CICLOS_PRORROGA INT
SET @CICLOS_PRORROGA=1

-------------------------------------------------CICLO PRORROGA
WHILE @CICLOS_PRORROGA<=@ULTIMO_CICLO_PRORROGA
BEGIN
	UPDATE SURA_MOVILIDAD_TRANSACCIONAL_BASE
	SET PRORROGA=@CICLOS_PRORROGA
	FROM SURA_MOVILIDAD_TRANSACCIONAL_BASE A, (SELECT NNUMDOCU,NNUMITEM,MIN(NNUMENDO)NNUMENDO FROM #PRORROGAS WHERE PRORROGA=0 GROUP BY NNUMDOCU,NNUMITEM)  B
	WHERE A.NNUMDOCU=B.NNUMDOCU AND A.NNUMITEM=B.NNUMITEM AND A.NNUMENDO>=B.NNUMENDO

	UPDATE #PRORROGAS
	SET PRORROGA=@CICLOS_PRORROGA
	FROM #PRORROGAS A, (SELECT NNUMDOCU,NNUMITEM,MIN(NNUMENDO)NNUMENDO FROM #PRORROGAS WHERE PRORROGA=0 GROUP BY NNUMDOCU,NNUMITEM)  B
	WHERE A.NNUMDOCU=B.NNUMDOCU AND A.NNUMITEM=B.NNUMITEM AND A.NNUMENDO=B.NNUMENDO

	SET @CICLOS_PRORROGA=@CICLOS_PRORROGA+1
END

SELECT NNUMDOCU,NNUMITEM,PRORROGA+1 PRORROGA,TERMINO_VIGENCIA  INTO #PRORROGA_2 FROM SURA_MOVILIDAD_TRANSACCIONAL_BASE
WHERE RUT_INTERMEDIARIO=96524260

UPDATE SURA_MOVILIDAD_TRANSACCIONAL_BASE
SET INICIO_VIGENCIA=B.TERMINO_VIGENCIA
FROM SURA_MOVILIDAD_TRANSACCIONAL_BASE A, #PRORROGA_2 B
WHERE A.NNUMDOCU=B.NNUMDOCU AND A.NNUMITEM=B.NNUMITEM AND A.PRORROGA=B.PRORROGA

-------------------------------------------------
SET @TERMINO= GETDATE()
INSERT INTO CANAL_ASESOR.DBO.MOVILIDAD_CONTROL_DE_EJECUCION VALUES ('04_SP_SURA_MOVILIDAD_TRANSACCIONAL','1 DE 13',@TERMINO,DATEDIFF(MINUTE,@PASOS,@TERMINO)/60,DATEDIFF(MINUTE,@PASOS,@TERMINO)%60)
SET @PASOS= GETDATE()


TRUNCATE  TABLE  SURA_MOVILIDAD_TRANSACCIONAL
INSERT INTO SURA_MOVILIDAD_TRANSACCIONAL
SELECT 
''																			AS LLAVE_1,
''																			AS LLAVE_2,
NNUMDOCU																	AS NNUMDOCU,
NNUMITEM																	AS NNUMITEM,
NNUMCERT																	AS NNUMCERT,
PRORROGA																	AS PRORROGA,
MAX(NNUMENDO)																AS NNUMENDO,
'' 																			AS ULTIMO_ENDOSO,
CODIGO_RAMO																	AS CODIGO_RAMO,
RAMO																		AS RAMO,
MAX(RUT_EJECUTIVO)															AS RUT_EJECUTIVO,
MAX(EJECUTIVO)																AS EJECUTIVO,
MAX(RUT_EJECUTIVO_NUEVO)													AS RUT_EJECUTIVO_NUEVO,
MAX(EJECUTIVO_NUEVO)														AS EJECUTIVO_NUEVO,
MAX(RUT_INTERMEDIARIO)														AS RUT_INTERMEDIARIO,
MAX(INTERMEDIARIO)															AS INTERMEDIARIO,
MAX(RUT_PROPONENTE)															AS RUT_PROPONENTE,
MAX(RUT_ASEGURADO)															AS RUT_ASEGURADO,
MAX(RENOVACION_GOL)															AS RENOVACION_GOL,
MAX(IND_CANCELACION_GOL)													AS IND_CANCELACION_GOL,
MAX(IND_CANCELACION_CALCULADA)												AS IND_CANCELACION_CALCULADA,
0																			AS IND_ANULACION_CALCULADA,
0																			AS IND_REHABILITACION_CALCULADA,
MAX(IND_RENOVACION_GOL)														AS IND_RENOVACION_GOL,
0																			AS IND_RENOVACION_LLAVE_1,
NULL																		AS CICLO_RENOVACION_LLAVE_1,
0																			AS ULTIMO_CICLO_RENOVACION_LLAVE_1,
NULL																		AS IND_RENOVACION_LLAVE_2,
0																			AS CICLO_RENOVACION_LLAVE_2,
0																			AS ULTIMO_CICLO_RENOVACION_LLAVE_2,
0																			AS NUEVA_PRODUCCION,
FILTRO_RIESGO																AS FILTRO_RIESGO,
CODIGO_RAMO_KEIRA_PRINCIPAL													AS CODIGO_RAMO_KEIRA_PRINCIPAL,
RAMO_KEIRA_PRINCIPAL														AS RAMO_KEIRA_PRINCIPAL,
SUM(PRIMA_PESO)																AS PRIMA_PESO,
SUM(PRIMA_UF)																AS PRIMA_UF,
SUM(COMISION_PESO)															AS COMISION_PESO,
SUM(COMISION_UF)															AS COMISION_UF,
SUM(MONTO_ASEGURADO_PESO)													AS MONTO_ASEGURADO_PESO,
SUM(MONTO_ASEGURADO_UF)														AS MONTO_ASEGURADO_UF,
SUM(MONTO_ASEGURADO_ALL_PESO)												AS MONTO_ASEGURADO_ALL_PESO,
SUM(MONTO_ASEGURADO_ALL_UF)													AS MONTO_ASEGURADO_ALL_UF,
MAX(MONEDA_ORIGINAL)														AS MONEDA_ORIGINAL,
MAX(CODIGO_PLAN_COMERCIAL)													AS CODIGO_PLAN_COMERCIAL,
MAX(PLAN_COMERCIAL)															AS PLAN_COMERCIAL,
MAX(CODIGO_PLAN_TECNICO)													AS CODIGO_PLAN_TECNICO,
MAX(PLAN_TECNICO)															AS PLAN_TECNICO,
TIPO_PLAN																	AS TIPO_PLAN,
''																			AS IND_POLIZA_MENSUA,
''																			AS IND_POLIZA_UBER,
''																			AS IND_POLIZA_TELEMATICA,
''																			AS PROVEEDOR_TELMATICO,
0																			AS KM_RECORRIDO_FACTURADO,
''																			AS IMEI,
NULL																		AS FECHA_ESTADO_CURIER,
''																			AS ESTADO_COURIER,
NULL																		AS FECHA_INSTALACION_DISPOSITIVO,
''																			AS ESTADO_DISPOSITIVO,
''																			AS DESCRIPCION_POLIZA_TELEMATICA,
''																			AS TALLER,
''																			AS IND_PLAN_TECNICO_WEB,
''																			AS TIPO_INSPECCION,
''																			AS ESTADO_INSPECCION,
''																			AS CALIDAD_DE_RIESGO,
''																			AS ORIGEN_INSPECCION,
''																			AS CODIGO_COB_ASISTENCIA,
''																			AS ASISTENCIA,
''																			AS COMBO_ASITENCIA,
''																			AS PROVEEDOR_ASITENCIA,
MAX(DEDUCIBLE)																AS DEDUCIBLE,
LINEA_NEGOCIO																AS LINEA_NEGOCIO,
LINEA_PRODUCTO																AS LINEA_PRODUCTO,
MAX(CODIGO_TIPO_NEGOCIO)													AS CODIGO_TIPO_NEGOCIO,
MAX(TIPO_NEGOCIO)															AS TIPO_NEGOCIO,
MAX(CANAL)																	AS CANAL_NUEVO,
BUSINESS_UNIT																AS BUSINESS_UNIT,
''																			AS CHANNEL,
CANAL_GOL																	AS CANAL_GOL,
''																			AS SUBGERENCIA_GOL,
''																			AS SUBCATEGORIA_CANAL,
MAX(CODIGO_MARCA)															AS CODIGO_MARCA,
MAX(CODIGO_MODELO)															AS CODIGO_MODELO,
MARCA																		AS MARCA,
MODELO																		AS MODELO,
AÑO																			AS AÑO,
PATENTE																		AS PATENTE,
CHASIS																		AS CHASIS,
MOTOR																		AS MOTOR,
''																			AS TIPO_VEHICULO,
''																			AS USO,
''																			AS TIPO_ITEM ,
MIN(FECHA_FIRMA)															AS FECHA_FIRMA_POLIZA,
MAX(FECHA_FIRMA)															AS FECHA_FIRMA_ULTIMO_ENDOSO,
MIN(INICIO_VIGENCIA)														AS INICIO_VIGENCIA,
MAX(TERMINO_VIGENCIA)														AS TERMINO_VIGENCIA,
MAX(TERMINO_VIGENCIA)														AS TERMINO_VIGENCIA_REAL,
'1900-01-01'																AS FECHA_CANCELACION,
MAX(MEDIO_PAGO)																AS MEDIO_PAGO,
MAX(SUCURSAL_GOL)															AS SUCURSAL_GOL,
MAX(SUCURSAL_CA)															AS SUCURSAL_CA,
MAX(COMUNA_ASE)																AS COMUNA_ASE,
PROVINCIA_ASE																AS PROVINCIA_ASE,
REGION_ASE																	AS REGION_ASE,
MACRO_ZONAS_ASE																AS MACRO_ZONAS_ASE,
ZONAS_GEOGRAFICAS_ASE														AS ZONAS_GEOGRAFICAS_ASE,
REGIONES_URBES_ASE															AS REGIONES_URBES_ASE,
ZONA_ASE																	AS ZONA_ASE,
''																			AS TIPO_PLAN_LLAVE,
CANAL_FINAL																	AS CANAL_FINAL,
PARTNER_FINAL																AS PARTNER_FINAL,
0																			AS VIGENTE,
''																			AS USUARIO_FIRMA,
NULL																		AS VIGENCIA_TEORICA,
NULL																		AS VIGENCIA_CONTABLE,
NULL																		AS VIGENCIA_EXP_AÑO,
0																			AS EXP_AÑO,
'SIN ASIGNAR'																AS FLOTA,
'RESTO'																		AS ESTADO_POR_ROBO,
NULL																		AS SEGMENTO_VEHICULO,
''																			AS SEGMENTACION,
''																			AS GSE,
''																			AS RENTA,
''																			AS SEGMENTACION_OFICIALL,
'SIN AGRUPAR'																AS AGRUPACION_FLOTA,
'NULL'																		AS GRUPO_CHANNEL,
'SIN PRODUCTOS NUEVOS'														AS PRODUCTOS_NUEVOS,
MAX(PLAN_TECNICO)															AS PLAN_TECNICO_2,
RTRIM(MARCA) + ' - ' + RTRIM(MODELO)										AS MARCA_MODELO,
'NO TOP100'																	AS TOP_100,
''																			AS ZONA_SUCURSAL,
'UNKNOWN'																	AS NUEVA_RENOVADA,
'NA'																		AS EXTRANJERO,
'OTRO'																		AS PERFIL_UBER,
'OTRA'																		AS VIGENCIA,
0																			AS CON_EMISIONES,
'SIN INFORMACION'															AS CALIDAD_CLIENTE,
''																			AS GAMA_VEHICULO,
''																			AS TAMAÑO,
''																			AS INCLUSION,
''																			AS TIPO,
''																			AS VEH_ROBADO_AÑO,
''																			AS VEH_ROBADO_ZONA,
''																			AS VEH_ROBADO_MARCAMODELO,
''																			AS LISTADO_VEH_ROBADOS,
''																			AS MARCA_ROBADO,
NULL																		AS FECHA_INICIO,
''																			AS RUBRO_ECONOMICO,
''																			AS SUBRUBRO_ECONOMICO,
''																			AS ACTIVIDAD_ECONOMICA,
''																			AS ANT_EMPRESA
FROM SURA_MOVILIDAD_TRANSACCIONAL_BASE
--where FECHA_FIRMA<='2023-01-31' --AND RUT_INTERMEDIARIO=77099010
GROUP BY 
NNUMDOCU,
NNUMITEM,
NNUMCERT,
PRORROGA,
CODIGO_RAMO,
RAMO,
FILTRO_RIESGO,
CODIGO_RAMO_KEIRA_PRINCIPAL,
RAMO_KEIRA_PRINCIPAL,
TIPO_PLAN,
LINEA_NEGOCIO,
LINEA_PRODUCTO,
BUSINESS_UNIT,
CANAL_GOL,
MARCA,
MODELO,
AÑO,
PATENTE,
CHASIS,
MOTOR,
PROVINCIA_ASE,
REGION_ASE,
MACRO_ZONAS_ASE,
ZONAS_GEOGRAFICAS_ASE,
REGIONES_URBES_ASE,
ZONA_ASE,
CANAL_FINAL,
PARTNER_FINAL


SET @TERMINO= GETDATE()
INSERT INTO CANAL_ASESOR.DBO.MOVILIDAD_CONTROL_DE_EJECUCION VALUES ('04_SP_SURA_MOVILIDAD_TRANSACCIONAL','2 DE 13',@TERMINO,DATEDIFF(MINUTE,@PASOS,@TERMINO)/60,DATEDIFF(MINUTE,@PASOS,@TERMINO)%60)
SET @PASOS= GETDATE()

SELECT  
DISTINCT
A.NNUMDOCU,
A.NNUMITEM,
A.NNUMENDO,
A.PRORROGA,
A.TIPO_ENDOSO,
A.RUT_EJECUTIVO,
A.EJECUTIVO,
A.RUT_EJECUTIVO_NUEVO,
A.EJECUTIVO_NUEVO,
A.RUT_INTERMEDIARIO,
A.INTERMEDIARIO,
A.RUT_PROPONENTE,
A.RUT_ASEGURADO,
A.RENOVACION_GOL,
A.IND_CANCELACION_GOL,
A.IND_CANCELACION_CALCULADA,
A.IND_RENOVACION_GOL,
A.IND_RENOVACION_CALCULADA,
A.MONEDA_ORIGINAL,
A.CODIGO_PLAN_COMERCIAL,
A.PLAN_COMERCIAL,
A.CODIGO_PLAN_TECNICO,
A.PLAN_TECNICO,
A.DEDUCIBLE,
A.CODIGO_TIPO_NEGOCIO,
A.TIPO_NEGOCIO,
A.CANAL,
A.CODIGO_MARCA,
A.CODIGO_MODELO,
A.FECHA_FIRMA FECHA_FIRMA_ULTIMO_ENDOSO,
A.INICIO_VIGENCIA,
A.TERMINO_VIGENCIA,
A.TERMINO_VIGENCIA_REAL,
A.FECHA_CANCELACION,
A.MEDIO_PAGO,
A.SUCURSAL_GOL,
A.COMUNA_ASE
--DROP TABLE #ULTIMO_ENDOSO
INTO #ULTIMO_ENDOSO
FROM SURA_MOVILIDAD_TRANSACCIONAL_BASE A,SURA_MOVILIDAD_TRANSACCIONAL B
WHERE A.NNUMDOCU=B.NNUMDOCU AND A.NNUMITEM=B.NNUMITEM AND A.NNUMENDO=B.NNUMENDO AND A.PRORROGA=B.PRORROGA AND TIPO_DOCUMENTO='END'
AND TIPO_ENDOSO NOT IN('CANCELACION PERDIDA TOTAL') 
--AND A.FECHA_FIRMA<='2023-01-31' --AND A.RUT_INTERMEDIARIO=77099010


INSERT INTO #ULTIMO_ENDOSO
SELECT  
DISTINCT
A.NNUMDOCU,
A.NNUMITEM,
A.NNUMENDO,
A.PRORROGA,
A.TIPO_ENDOSO,
A.RUT_EJECUTIVO,
A.EJECUTIVO,
A.RUT_EJECUTIVO_NUEVO,
A.EJECUTIVO_NUEVO,
A.RUT_INTERMEDIARIO,
A.INTERMEDIARIO,
A.RUT_PROPONENTE,
A.RUT_ASEGURADO,
A.RENOVACION_GOL,
A.IND_CANCELACION_GOL,
A.IND_CANCELACION_CALCULADA,
A.IND_RENOVACION_GOL,
A.IND_RENOVACION_CALCULADA,
A.MONEDA_ORIGINAL,
A.CODIGO_PLAN_COMERCIAL,
A.PLAN_COMERCIAL,
A.CODIGO_PLAN_TECNICO,
A.PLAN_TECNICO,
A.DEDUCIBLE,
A.CODIGO_TIPO_NEGOCIO,
A.TIPO_NEGOCIO,
A.CANAL,
A.CODIGO_MARCA,
A.CODIGO_MODELO,
A.FECHA_FIRMA FECHA_FIRMA_ULTIMO_ENDOSO,
A.INICIO_VIGENCIA,
A.TERMINO_VIGENCIA,
A.TERMINO_VIGENCIA_REAL,
A.FECHA_CANCELACION,
A.MEDIO_PAGO,
A.SUCURSAL_GOL,
A.COMUNA_ASE
FROM SURA_MOVILIDAD_TRANSACCIONAL_BASE A,SURA_MOVILIDAD_TRANSACCIONAL B
WHERE A.NNUMDOCU=B.NNUMDOCU AND A.NNUMITEM=B.NNUMITEM AND A.NNUMENDO=B.NNUMENDO AND A.PRORROGA=B.PRORROGA AND TIPO_DOCUMENTO='POL'
AND TIPO_ENDOSO IN('CANCELACION PERDIDA TOTAL') 


--ELIMINA LOS ENDOSOS DECLARACION EXISTENCIAS DE LAS POLIZAS SEGURO X KM ANUALES
SELECT NNUMDOCU,NNUMITEM,MAX(NNUMENDO)NNUMENDO INTO #ULTIMO_ENDOSO_DECLARACION_EXISTENCIAS FROM SURA_MOVILIDAD_TRANSACCIONAL_BASE WHERE 
CODIGO_PLAN_TECNICO IN ( SELECT CODIGO_PLAN_TECNICO FROM SURA_MOVILIDAD_PLAN_TECNICO WHERE IND_POLIZA_TELEMATICA='S' AND DESCRIPCION_POLIZA_TELEMATICA='KM ANUAL')
AND TIPO_DOCUMENTO='END' AND TIPO_ENDOSO='DECLARACION EXISTENCIAS'
GROUP BY NNUMDOCU,NNUMITEM

DELETE FROM #ULTIMO_ENDOSO
FROM #ULTIMO_ENDOSO A, #ULTIMO_ENDOSO_DECLARACION_EXISTENCIAS B
WHERE A.NNUMDOCU=B.NNUMDOCU and A.NNUMITEM=B.NNUMITEM and A.NNUMENDO=B.NNUMENDO


--
SET @TERMINO= GETDATE()
INSERT INTO CANAL_ASESOR.DBO.MOVILIDAD_CONTROL_DE_EJECUCION VALUES ('04_SP_SURA_MOVILIDAD_TRANSACCIONAL','3 DE 13',@TERMINO,DATEDIFF(MINUTE,@PASOS,@TERMINO)/60,DATEDIFF(MINUTE,@PASOS,@TERMINO)%60)
SET @PASOS= GETDATE()

UPDATE SURA_MOVILIDAD_TRANSACCIONAL
SET 
ULTIMO_ENDOSO=					B.TIPO_ENDOSO,
RUT_EJECUTIVO=					B.RUT_EJECUTIVO,
EJECUTIVO=						B.EJECUTIVO,
RUT_EJECUTIVO_NUEVO=			B.RUT_EJECUTIVO_NUEVO,
EJECUTIVO_NUEVO=				B.EJECUTIVO_NUEVO,
RUT_INTERMEDIARIO=				B.RUT_INTERMEDIARIO,
INTERMEDIARIO=					B.INTERMEDIARIO,
RUT_PROPONENTE=					B.RUT_PROPONENTE,
RUT_ASEGURADO=					B.RUT_ASEGURADO,
RENOVACION_GOL=					B.RENOVACION_GOL,
IND_CANCELACION_GOL=			B.IND_CANCELACION_GOL,
IND_CANCELACION_CALCULADA=		B.IND_CANCELACION_CALCULADA,
IND_RENOVACION_GOL=				B.IND_RENOVACION_GOL,
MONEDA_ORIGINAL=				B.MONEDA_ORIGINAL,
CODIGO_PLAN_COMERCIAL=			B.CODIGO_PLAN_COMERCIAL,
PLAN_COMERCIAL=					B.PLAN_COMERCIAL,
CODIGO_PLAN_TECNICO=			B.CODIGO_PLAN_TECNICO,
PLAN_TECNICO=					B.PLAN_TECNICO,
DEDUCIBLE=						B.DEDUCIBLE,
CODIGO_TIPO_NEGOCIO=			B.CODIGO_TIPO_NEGOCIO,
TIPO_NEGOCIO=					B.TIPO_NEGOCIO,
CANAL_NUEVO=					B.CANAL,
CODIGO_MARCA=					B.CODIGO_MARCA,
CODIGO_MODELO=					B.CODIGO_MODELO,
TERMINO_VIGENCIA=				B.TERMINO_VIGENCIA,
TERMINO_VIGENCIA_REAL=			CASE WHEN TIPO_ENDOSO='REHABILITACION' THEN A.TERMINO_VIGENCIA_REAL ELSE B.TERMINO_VIGENCIA_REAL END ,
FECHA_CANCELACION=				CASE WHEN TIPO_ENDOSO='REHABILITACION' THEN A.FECHA_CANCELACION ELSE B.FECHA_CANCELACION END ,
MEDIO_PAGO=						B.MEDIO_PAGO,
SUCURSAL_GOL=					B.SUCURSAL_GOL,
COMUNA_ASE=						B.COMUNA_ASE
FROM SURA_MOVILIDAD_TRANSACCIONAL A, #ULTIMO_ENDOSO B
WHERE A.NNUMDOCU=B.NNUMDOCU AND A.NNUMITEM=B.NNUMITEM AND A.NNUMENDO=B.NNUMENDO AND A.PRORROGA=B.PRORROGA AND TIPO_ENDOSO<>''


SET @TERMINO= GETDATE()
INSERT INTO CANAL_ASESOR.DBO.MOVILIDAD_CONTROL_DE_EJECUCION VALUES ('04_SP_SURA_MOVILIDAD_TRANSACCIONAL','4 DE 13',@TERMINO,DATEDIFF(MINUTE,@PASOS,@TERMINO)/60,DATEDIFF(MINUTE,@PASOS,@TERMINO)%60)
SET @PASOS= GETDATE()

---------------INFO PLAN TECNICO
UPDATE SURA_MOVILIDAD_TRANSACCIONAL
SET 
PLAN_TECNICO					=UPPER(B.PLAN_TECNICO),
PLAN_TECNICO_2					=UPPER(B.PLAN_TECNICO),
DEDUCIBLE						=B.DEDUCIBLE,
IND_POLIZA_MENSUAL				=B.IND_POLIZA_MENSUAL,	
IND_POLIZA_UBER					=B.IND_POLIZA_UBER,	
IND_POLIZA_TELEMATICA			=B.IND_POLIZA_TELEMATICA,	
DESCRIPCION_POLIZA_TELEMATICA	=B.DESCRIPCION_POLIZA_TELEMATICA,	
TALLER							=B.TALLER,
IND_PLAN_TECNICO_WEB			=B.IND_PLAN_TECNICO_WEB,
TIPO_PLAN						=B.TIPO_PLAN,
TIPO_PLAN_LLAVE					=B.TIPO_PLAN_LLAVE
FROM SURA_MOVILIDAD_TRANSACCIONAL A, SURA_MOVILIDAD_PLAN_TECNICO B
WHERE A.CODIGO_PLAN_TECNICO=B.CODIGO_PLAN_TECNICO 


--------------------------------------
----- LAS ANULACIONES NO SON CON PRORROGA SE ANULA TODO EL DOCUMENTO
SELECT * 
--DROP TABLE #ULTIMO_ENDOSO_ANULACION
INTO #ULTIMO_ENDOSO_ANULACION 
FROM #ULTIMO_ENDOSO WHERE TIPO_ENDOSO IN('ANULACION','ANULACION POR NO PAGO')


UPDATE SURA_MOVILIDAD_TRANSACCIONAL
SET IND_ANULACION_CALCULADA=1,TERMINO_VIGENCIA_REAL=B.INICIO_VIGENCIA,FECHA_CANCELACION=B.FECHA_FIRMA_ULTIMO_ENDOSO
FROM SURA_MOVILIDAD_TRANSACCIONAL A, #ULTIMO_ENDOSO_ANULACION B
WHERE A.NNUMDOCU=B.NNUMDOCU AND A.NNUMITEM=B.NNUMITEM AND A.NNUMENDO=B.NNUMENDO 

----- CANCELACIONES INDIVUDUALES
SELECT * 
--DROP TABLE #ULTIMO_ENDOSO_CANCELACION
INTO #ULTIMO_ENDOSO_CANCELACION
FROM #ULTIMO_ENDOSO WHERE TIPO_ENDOSO IN('CANCELACION','CANCELACION POR NO PAGO')

UPDATE #ULTIMO_ENDOSO_CANCELACION
SET
FECHA_CANCELACION=INICIO_VIGENCIA
WHERE FECHA_CANCELACION='1900-01-01'

UPDATE SURA_MOVILIDAD_TRANSACCIONAL
SET IND_CANCELACION_CALCULADA=1,TERMINO_VIGENCIA_REAL=B.INICIO_VIGENCIA,FECHA_CANCELACION=B.FECHA_FIRMA_ULTIMO_ENDOSO
FROM SURA_MOVILIDAD_TRANSACCIONAL A, #ULTIMO_ENDOSO_CANCELACION B
WHERE A.NNUMDOCU=B.NNUMDOCU AND A.NNUMITEM=B.NNUMITEM AND A.NNUMENDO=B.NNUMENDO AND A.PRORROGA=B.PRORROGA

----- CANCELACIONES MASIVAS
DECLARE @NFECUACT INT
SET @NFECUACT =(SELECT MAX(NFECUACT) FROM SURA_MOVILIDAD_CANCELACION_MASIVA_DETALLE)

DELETE FROM SURA_MOVILIDAD_CANCELACION_MASIVA_DETALLE WHERE NFECUACT=@NFECUACT

DECLARE @CONSULTA AS NVARCHAR(4000)	
SET @CONSULTA = 
'SELECT 
NNUMDOCU,
NNUMITEM,
NNUMENDO ,
CONVERT(DATE,CONVERT(NVARCHAR(8),NFEINVIG))INICIO_VIGENCIA,
CONVERT(DATE,CONVERT(NVARCHAR(8),NFETEVIG))TERMINO_VIGENCIA,
CINDBAJA,
CONVERT(DATE,CONVERT(NVARCHAR(8),NFECUACT))TIMESTAMP,
NFECUACT
FROM OPENQUERY(SOL,''
SELECT NFECUACT,NNUMENDO ,NNUMDOCU,NNUMITEM,NFEINVIG,NFETEVIG,CINDBAJA  FROM RSASOLDB2.SUACSITE WHERE NNUMDOCU>0  AND NFECUACT>= ' + CAST (@NFECUACT AS NVARCHAR(10)) + '
AND DPRINETA<0 AND NFEINVIG>0 AND NFETEVIG>0
'')'
INSERT INTO  SURA_MOVILIDAD_CANCELACION_MASIVA_DETALLE
EXEC SP_EXECUTESQL @CONSULTA


SELECT NNUMDOCU,NNUMITEM,MAX(NNUMENDO)NNUMENDO INTO #POL_CANCELADA_MASIVA FROM SURA_MOVILIDAD_CANCELACION_MASIVA_DETALLE 
GROUP BY NNUMDOCU,NNUMITEM


TRUNCATE TABLE SURA_MOVILIDAD_CANCELACION_MASIVA
INSERT INTO SURA_MOVILIDAD_CANCELACION_MASIVA
SELECT 
A.NNUMDOCU,	
A.NNUMITEM,	
A.NNUMENDO,	
A.INICIO_VIGENCIA,
A.TERMINO_VIGENCIA,	
A.ESTADO,	
A.TIMESTAMP,	
A.NFECUACT
FROM 
SURA_MOVILIDAD_CANCELACION_MASIVA_DETALLE A, #POL_CANCELADA_MASIVA B 
WHERE
A.NNUMDOCU=B.NNUMDOCU AND A.NNUMITEM=B.NNUMITEM AND A.NNUMENDO=B.NNUMENDO  


DELETE FROM SURA_MOVILIDAD_CANCELACION_MASIVA WHERE ESTADO<>'B' 
DELETE FROM SURA_MOVILIDAD_CANCELACION_MASIVA WHERE ESTADO IS NULL

UPDATE SURA_MOVILIDAD_TRANSACCIONAL
SET 
	TERMINO_VIGENCIA_REAL=B.INICIO_VIGENCIA,
	FECHA_CANCELACION=B.TIMESTAMP
FROM SURA_MOVILIDAD_TRANSACCIONAL A, SURA_MOVILIDAD_CANCELACION_MASIVA B
WHERE 
A.NNUMDOCU=B.NNUMDOCU AND A.NNUMITEM=B.NNUMITEM AND B.INICIO_VIGENCIA>=A.INICIO_VIGENCIA AND B.ESTADO='B'


---------------------------------------------------------------------------------------------------------------------------------------

SELECT NNUMDOCU,NNUMITEM,NNUMENDO,PRORROGA,TIPO_ENDOSO INTO #REHABILITACION FROM SURA_MOVILIDAD_TRANSACCIONAL_BASE WHERE TIPO_ENDOSO IN ('REHABILITACION','ANULACION','CANCELACION','CANCELACION POR NO PAGO','ANULACION POR NO PAGO')

SELECT NNUMDOCU,NNUMITEM,PRORROGA,MAX(NNUMENDO)NNUMENDO INTO #REHABILITACION_1 FROM #REHABILITACION
GROUP BY NNUMDOCU,NNUMITEM,PRORROGA

SELECT DISTINCT A.* INTO #REHABILITACION_2 FROM #REHABILITACION A, #REHABILITACION_1 B
WHERE A.NNUMDOCU=B.NNUMDOCU AND A.NNUMITEM=B.NNUMITEM AND A.NNUMENDO=B.NNUMENDO  AND A.PRORROGA=B.PRORROGA AND A.TIPO_ENDOSO='REHABILITACION'

UPDATE SURA_MOVILIDAD_TRANSACCIONAL
SET IND_REHABILITACION_CALCULADA=1
FROM SURA_MOVILIDAD_TRANSACCIONAL A,#REHABILITACION_2 B
WHERE A.NNUMDOCU=B.NNUMDOCU AND A.NNUMITEM=B.NNUMITEM AND A.NNUMENDO=B.NNUMENDO AND A.PRORROGA=B.PRORROGA

UPDATE SURA_MOVILIDAD_TRANSACCIONAL
SET TERMINO_VIGENCIA_REAL=TERMINO_VIGENCIA
WHERE TERMINO_VIGENCIA_REAL='1900-01-01'


SET @TERMINO= GETDATE()
INSERT INTO CANAL_ASESOR.DBO.MOVILIDAD_CONTROL_DE_EJECUCION VALUES ('04_SP_SURA_MOVILIDAD_TRANSACCIONAL','5 DE 13',@TERMINO,DATEDIFF(MINUTE,@PASOS,@TERMINO)/60,DATEDIFF(MINUTE,@PASOS,@TERMINO)%60)
SET @PASOS= GETDATE()

--------------------------------------ACTUALIZACION DE INFO ADICIONAL 
UPDATE SURA_MOVILIDAD_TRANSACCIONAL
SET 
TIPO_VEHICULO		=B.TIPO_VEHICULO,
USO					=B.USO,
AÑO					=B.NANFAVEH,
CHASIS				=B.CNUCHVEH,
MOTOR				=B.CNUMOVEH,
MARCA				=B.MARCA,
MODELO				=B.MODELO,
PATENTE				=B.CNUMPATE,
CODIGO_MARCA		=B.CCOMAVEH,
CODIGO_MODELO		=B.NCOMOVEH
FROM SURA_MOVILIDAD_TRANSACCIONAL A, SURA_MA_VEHICULO B
WHERE A.NNUMDOCU=B.NNUMDOCU AND A.NNUMITEM=B.NNUMITEM


--CORRECCION MARCA_MODELO
UPDATE SURA_MOVILIDAD_TRANSACCIONAL
SET
MARCA_MODELO = RTRIM(MARCA) + ' - ' + RTRIM(MODELO)


--UPDATE SURA_MOVILIDAD_TRANSACCIONAL
--SET
--TIPO_VEHICULO=TIPO_VEH
--FROM SURA_MOVILIDAD_TRANSACCIONAL A, BASE_VEHICULOS_RC_2021 B
--WHERE A.PATENTE=B.PPU

UPDATE SURA_MOVILIDAD_TRANSACCIONAL
SET
SEGMENTO_VEHICULO=B.SEGMENTO
FROM SURA_MOVILIDAD_TRANSACCIONAL A, SURA_MOVILIDAD_SEGMENTACION_VEHICULO B
WHERE A.TIPO_VEHICULO=B.TIPO_VEHICULO


UPDATE SURA_MOVILIDAD_TRANSACCIONAL
SET 
TIPO_ITEM=B.TIPO_ITEM
FROM SURA_MOVILIDAD_TRANSACCIONAL A, SURA_COMPLETO_ITEM B
WHERE A.NNUMDOCU=B.NNUMDOCU AND A.NNUMITEM=B.NNUMITEM


------------------------------------------LLAVE_1 MATERIA ASEGURADA

UPDATE SURA_MOVILIDAD_TRANSACCIONAL
SET 
LLAVE_1=
	CONVERT(NVARCHAR(200),(REPLACE(UPPER(CONVERT(NVARCHAR(10),RUT_ASEGURADO)
	--+'-'+CONVERT(NVARCHAR(10),RUT_INTERMEDIARIO)
	+'-'+CODIGO_MARCA+'-'+CONVERT(NVARCHAR(10),CODIGO_MODELO)+'-'+CONVERT(NVARCHAR(10),AÑO)
	--+'-'+CONVERT(NVARCHAR(10),DEDUCIBLE)
	+'-'+TIPO_PLAN
	--+'-'+PATENTE
	--+'-'+CHASIS
	--+'-'+MOTOR
	+'-'+TIPO_PLAN_LLAVE),' ','')))

------------------------------------------LLAVE_2 MATERIA ASEGURADA

UPDATE SURA_MOVILIDAD_TRANSACCIONAL
SET 
LLAVE_2 = CASE 
	WHEN CODIGO_MARCA='SEG' THEN
		CONVERT(NVARCHAR(200),(REPLACE(UPPER(CONVERT(NVARCHAR(10),RUT_ASEGURADO)
		--+'-'+CONVERT(NVARCHAR(10),RUT_INTERMEDIARIO)
		+'-'+LINEA_NEGOCIO
		+'-'+CODIGO_MARCA+'-'+CONVERT(NVARCHAR(10),CODIGO_MODELO)
		+'-'+CONVERT(NVARCHAR(10),AÑO)
		+'-'+MOTOR
		+'-'+TIPO_PLAN_LLAVE
		),' ','')))
	ELSE
		CONVERT(NVARCHAR(200),(REPLACE(UPPER(CONVERT(NVARCHAR(10),RUT_ASEGURADO)
		--+'-'+CONVERT(NVARCHAR(10),RUT_INTERMEDIARIO)
		+'-'+LINEA_NEGOCIO
		+'-'+CODIGO_MARCA+'-'+CONVERT(NVARCHAR(10),CODIGO_MODELO)
		+'-'+CONVERT(NVARCHAR(10),AÑO)
		+'-'+TIPO_PLAN_LLAVE
		),' ','')))
END


SET @TERMINO= GETDATE()
INSERT INTO CANAL_ASESOR.DBO.MOVILIDAD_CONTROL_DE_EJECUCION VALUES ('04_SP_SURA_MOVILIDAD_TRANSACCIONAL','6 DE 13',@TERMINO,DATEDIFF(MINUTE,@PASOS,@TERMINO)/60,DATEDIFF(MINUTE,@PASOS,@TERMINO)%60)
SET @PASOS= GETDATE()

------INFORMACION DE INSPECCION
SELECT * INTO #SURA_MOVILIDAD_INSPECCIONES_POLIZA FROM SURA_MOVILIDAD_INSPECCIONES WHERE NNUMDOCU>0


UPDATE SURA_MOVILIDAD_TRANSACCIONAL
SET 
TIPO_INSPECCION		=B.TIPO_INSPECCION,
ESTADO_INSPECCION	=B.ESTADO_INSPECCION,
CALIDAD_DE_RIESGO	=B.CALIDAD_DE_RIESGO,
ORIGEN_INSPECCION	=B.ORIGEN_INSPECCION
FROM SURA_MOVILIDAD_TRANSACCIONAL A, #SURA_MOVILIDAD_INSPECCIONES_POLIZA B
WHERE A.NNUMDOCU=B.NNUMDOCU AND A.NNUMITEM=B.NNUMITEM

SELECT * INTO #SURA_MOVILIDAD_INSPECCIONES_PATENTE FROM SURA_MOVILIDAD_INSPECCIONES WHERE NNUMDOCU=0

UPDATE SURA_MOVILIDAD_TRANSACCIONAL
SET 
TIPO_INSPECCION		=B.TIPO_INSPECCION,
ESTADO_INSPECCION	=B.ESTADO_INSPECCION,
CALIDAD_DE_RIESGO	=B.CALIDAD_DE_RIESGO,
ORIGEN_INSPECCION	=B.ORIGEN_INSPECCION
FROM SURA_MOVILIDAD_TRANSACCIONAL A, #SURA_MOVILIDAD_INSPECCIONES_PATENTE B
WHERE A.PATENTE=B.PATENTE AND A.TIPO_INSPECCION='' AND A.PATENTE NOT IN 
(SELECT PATENTE FROM SURA_MOVILIDAD_TRANSACCIONAL WHERE TIPO_INSPECCION <>''GROUP BY PATENTE HAVING COUNT(*)>40)


UPDATE SURA_MOVILIDAD_TRANSACCIONAL
SET 
TIPO_INSPECCION		='CONTINUIDAD DE COBERTURA',
ESTADO_INSPECCION	='NO SE INSPECCIONA',
CALIDAD_DE_RIESGO	='NO DEFINIDO',
ORIGEN_INSPECCION	='NOTAS DE POLIZA'+' - '+B.DETALLE
FROM SURA_MOVILIDAD_TRANSACCIONAL A, SURA_MOVILIDAD_CONTINUIDAD_COBERTURA B
WHERE A.NNUMDOCU=B.NNUMDOCU AND A.NNUMITEM=B.NNUMITEM AND A.TIPO_INSPECCION='' 

UPDATE SURA_MOVILIDAD_TRANSACCIONAL
SET 
TIPO_INSPECCION		='CONTINUIDAD DE COBERTURA',
ESTADO_INSPECCION	='NO SE INSPECCIONA',
CALIDAD_DE_RIESGO	='NO DEFINIDO',
ORIGEN_INSPECCION	='MOTIVO SIN INSPECCION'+' - '+TIPO_ITEM
FROM SURA_MOVILIDAD_TRANSACCIONAL A
WHERE A.TIPO_INSPECCION='' AND TIPO_ITEM<>''


UPDATE SURA_MOVILIDAD_TRANSACCIONAL
SET 
TIPO_INSPECCION		='PLAN TECNICO NO SE INSPECCIONA',
ESTADO_INSPECCION	='NO SE INSPECCIONA',
CALIDAD_DE_RIESGO	='NO DEFINIDO',
ORIGEN_INSPECCION	='SUSCRIPCION'
WHERE TIPO_PLAN IN ('RC','RCA','RCE','RC + ROBO','ROBO + AP')

SELECT DISTINCT LLAVE_1,PATENTE,TIPO_INSPECCION,ESTADO_INSPECCION,CALIDAD_DE_RIESGO,ORIGEN_INSPECCION INTO #INSPECCIONES_2 FROM SURA_MOVILIDAD_TRANSACCIONAL 
WHERE TIPO_INSPECCION<>'' AND TIPO_PLAN NOT IN ('RC','RCA','RCE','RC + ROBO','ROBO + AP')

UPDATE SURA_MOVILIDAD_TRANSACCIONAL
SET 
TIPO_INSPECCION		=B.TIPO_INSPECCION,
ESTADO_INSPECCION	=B.ESTADO_INSPECCION,
CALIDAD_DE_RIESGO	=B.CALIDAD_DE_RIESGO,
ORIGEN_INSPECCION	=B.ORIGEN_INSPECCION
FROM SURA_MOVILIDAD_TRANSACCIONAL A, #INSPECCIONES_2 B
WHERE A.LLAVE_1=B.LLAVE_1 AND A.TIPO_INSPECCION=''

UPDATE SURA_MOVILIDAD_TRANSACCIONAL
SET 
TIPO_INSPECCION		=B.TIPO_INSPECCION,
ESTADO_INSPECCION	=B.ESTADO_INSPECCION,
CALIDAD_DE_RIESGO	=B.CALIDAD_DE_RIESGO,
ORIGEN_INSPECCION	=B.ORIGEN_INSPECCION
FROM SURA_MOVILIDAD_TRANSACCIONAL A, #INSPECCIONES_2 B
WHERE A.PATENTE=B.PATENTE AND A.TIPO_INSPECCION='' AND A.PATENTE NOT IN 
(SELECT PATENTE FROM SURA_MOVILIDAD_TRANSACCIONAL WHERE TIPO_INSPECCION <>''GROUP BY PATENTE HAVING COUNT(*)>40)

UPDATE SURA_MOVILIDAD_TRANSACCIONAL
SET TIPO_INSPECCION='PENDIENTE DE INSPECCION'
WHERE TIPO_INSPECCION=''

---SIN INSPECCION AUTORIZADO POR AREA TECNICA
UPDATE SURA_MOVILIDAD_TRANSACCIONAL
SET
TIPO_INSPECCION		='CONTINUIDAD DE COBERTURA',
ESTADO_INSPECCION	='NO SE INSPECCIONA',
CALIDAD_DE_RIESGO	='NO DEFINIDO',
ORIGEN_INSPECCION	='MOTIVO SIN INSPECCION - AUTORIZADO POR AT'
WHERE RUT_INTERMEDIARIO =0


SET @TERMINO= GETDATE()
INSERT INTO CANAL_ASESOR.DBO.MOVILIDAD_CONTROL_DE_EJECUCION VALUES ('04_SP_SURA_MOVILIDAD_TRANSACCIONAL','7 DE 13',@TERMINO,DATEDIFF(MINUTE,@PASOS,@TERMINO)/60,DATEDIFF(MINUTE,@PASOS,@TERMINO)%60)
SET @PASOS= GETDATE()

------------------------------------------ACTUALIZACION INFORMACION DE COMUNA
DECLARE @TIMESTAMP DATE
SET @TIMESTAMP= (SELECT MAX(TIMESTAMP) FROM SURA_DIRECCION_CLIENTE )

IF YEAR(@TIMESTAMP)*100+MONTH(@TIMESTAMP) < YEAR(GETDATE())*100+MONTH(GETDATE())
BEGIN
	TRUNCATE TABLE	SURA_DIRECCION_CLIENTE
	INSERT INTO		SURA_DIRECCION_CLIENTE
	SELECT 
		RUT						AS RUT,
		UPPER(NOMBRE_COMPLETO)	AS NOMBRE_COMPLETO,
		UPPER(SEXO)				AS SEXO,
		UPPER(DIRECCION)		AS DIRECCION,
		LATITUD					AS LATITUD,	
		LONGITUD				AS LONGITUD,	
		UPPER(COMUNA)			AS COMUNA,
		GETDATE()				AS TIMESTAMP
	FROM [SGV1864].[AnalyticsAbastecimiento].[dbo].[Base_Personas]

	INSERT INTO		SURA_DIRECCION_CLIENTE
	SELECT 
		RUT						AS RUT,
		UPPER(PRIMER_NOMBRE)	AS NOMBRE_COMPLETO,
		'RUT EMPRESA'			AS SEXO,
		UPPER(DIRECCION)		AS DIRECCION,
		0						AS LATITUD,	
		0						AS LONGITUD,	
		UPPER(COMUNA)			AS COMUNA,
		GETDATE()				AS TIMESTAMP
	FROM sgv1864.AnalyticsAbastecimiento.dbo.dim_contactos_unico_cliente 
	WHERE RUT>50000000
END


UPDATE SURA_MOVILIDAD_TRANSACCIONAL
SET COMUNA_ASE=B.COMUNA
FROM SURA_MOVILIDAD_TRANSACCIONAL A, SURA_DIRECCION_CLIENTE B
WHERE A.RUT_ASEGURADO=B.RUT


UPDATE SURA_MOVILIDAD_TRANSACCIONAL
SET 
	COMUNA_ASE				=B.COMUNA,
	PROVINCIA_ASE			=B.PROVINCIA,
	REGION_ASE				=B.REGION,
	MACRO_ZONAS_ASE			=B.MACRO_ZONAS,
	ZONAS_GEOGRAFICAS_ASE	=B.ZONAS_GEOGRAFICAS,
	REGIONES_URBES_ASE		=B.REGIONES_URBES,
	ZONA_ASE				=B.ZONA
FROM SURA_MOVILIDAD_TRANSACCIONAL A, SURA_MAESTRO_COMUNAS_REGIONES_ZONAS B
WHERE A.COMUNA_ASE=B.COMUNA_TABLA

UPDATE SURA_MOVILIDAD_TRANSACCIONAL
SET 
	PROVINCIA_ASE			=B.PROVINCIA,
	REGION_ASE				=B.REGION,
	MACRO_ZONAS_ASE			=B.MACRO_ZONAS,
	ZONAS_GEOGRAFICAS_ASE	=B.ZONAS_GEOGRAFICAS,
	REGIONES_URBES_ASE		=B.REGIONES_URBES,
	ZONA_ASE				=B.ZONA
FROM SURA_MOVILIDAD_TRANSACCIONAL A, SURA_MAESTRO_COMUNAS_REGIONES_ZONAS B
WHERE A.COMUNA_ASE=B.COMUNA AND REGION_ASE=''


SET @TERMINO= GETDATE()
INSERT INTO CANAL_ASESOR.DBO.MOVILIDAD_CONTROL_DE_EJECUCION VALUES ('04_SP_SURA_MOVILIDAD_TRANSACCIONAL','8 DE 13',@TERMINO,DATEDIFF(MINUTE,@PASOS,@TERMINO)/60,DATEDIFF(MINUTE,@PASOS,@TERMINO)%60)
SET @PASOS= GETDATE()

------------------------------------------SUCURSAL
SELECT * INTO #SUCURSAL FROM SURA_TBACSTGE WHERE DCODTABL=49

UPDATE SURA_MOVILIDAD_TRANSACCIONAL
SET SUCURSAL_GOL=B.CSIGELEM
FROM SURA_MOVILIDAD_TRANSACCIONAL A, #SUCURSAL B
WHERE A.SUCURSAL_GOL=B.CCODUNIC


SET @TERMINO= GETDATE()
INSERT INTO CANAL_ASESOR.DBO.MOVILIDAD_CONTROL_DE_EJECUCION VALUES ('04_SP_SURA_MOVILIDAD_TRANSACCIONAL','9 DE 13',@TERMINO,DATEDIFF(MINUTE,@PASOS,@TERMINO)/60,DATEDIFF(MINUTE,@PASOS,@TERMINO)%60)
SET @PASOS= GETDATE()


------------------------------------------BUSINESS_UNIT Y CHANNEL
UPDATE SURA_MOVILIDAD_TRANSACCIONAL
SET
	BUSINESS_UNIT= RTRIM("BUSINESS UNIT"),
	CHANNEL=RTRIM(B.CHANNEL)
FROM SURA_MOVILIDAD_TRANSACCIONAL A,PROCESOS.DBO.BASE_PLANES_TECNICOS B
WHERE 
A.RUT_INTERMEDIARIO		= B.NNUMRUT		AND 
A.CODIGO_PLAN_TECNICO	= B.NPLANTEC	AND 
A.LINEA_NEGOCIO			= B.LINEA_NEGOCIO


UPDATE  SURA_MOVILIDAD_TRANSACCIONAL
SET 
	BUSINESS_UNIT='CANAL ASESOR', 
	CHANNEL='CANAL ASESOR',
	GRUPO_CHANNEL='CANAL ASESOR'
--FROM  SURA_MOVILIDAD_TRANSACCIONAL A,CANAL_ASESOR.DBO.BASE_CORREDOR_EJECUTIVO_CA B
FROM  SURA_MOVILIDAD_TRANSACCIONAL A, TRANSACCIONAL.DBO.BASE_CORREDOR_EJECUTIVO_CA2 B
WHERE A.RUT_INTERMEDIARIO=B.RUT_INTERMEDIARIO 
AND YEAR(A.FECHA_FIRMA_POLIZA)*100+MONTH(A.FECHA_FIRMA_POLIZA)=YEAR(B.PERIODO)*100+MONTH(B.PERIODO) AND B.ESTADO_ASESOR='ACTIVO'

SELECT CHANNEL,CANAL_FINAL,PARTNER_FINAL,BUSINESS_UNIT 
INTO #CHANNEL_BUSINESS_UNIT 
FROM SURA_MOVILIDAD_TRANSACCIONAL
WHERE CHANNEL<>''
GROUP BY CHANNEL,CANAL_FINAL,PARTNER_FINAL,BUSINESS_UNIT
ORDER BY 2 DESC

UPDATE SURA_MOVILIDAD_TRANSACCIONAL 
SET
CHANNEL=B.CHANNEL,
BUSINESS_UNIT=B.BUSINESS_UNIT
FROM SURA_MOVILIDAD_TRANSACCIONAL A, #CHANNEL_BUSINESS_UNIT B
WHERE A.CANAL_FINAL=B.CANAL_FINAL AND A.PARTNER_FINAL=B.PARTNER_FINAL AND A.CHANNEL =''


SET @TERMINO= GETDATE()
INSERT INTO CANAL_ASESOR.DBO.MOVILIDAD_CONTROL_DE_EJECUCION VALUES ('04_SP_SURA_MOVILIDAD_TRANSACCIONAL','10 DE 13',@TERMINO,DATEDIFF(MINUTE,@PASOS,@TERMINO)/60,DATEDIFF(MINUTE,@PASOS,@TERMINO)%60)
SET @PASOS= GETDATE()

------------------------------------------CANAL_GOL Y SUBGERENCIA_GOL

UPDATE SURA_MOVILIDAD_TRANSACCIONAL
SET
CANAL_GOL= B.CANAL,
SUBGERENCIA_GOL=B.SUBGERENCIA
FROM SURA_MOVILIDAD_TRANSACCIONAL A,SGF1016.SQLMISFACT.DBO.DIMCANAL B
WHERE 
A.RUT_EJECUTIVO_NUEVO = B.NNURUEJCNEW AND 
DATEADD(MONTH, DATEDIFF(MONTH, 0, A.FECHA_FIRMA_ULTIMO_ENDOSO)-0, 0) = B.PERIODO_CONTABLE

UPDATE SURA_MOVILIDAD_TRANSACCIONAL
SET
CANAL_GOL= B.CANAL,
SUBGERENCIA_GOL=B.SUBGERENCIA
FROM SURA_MOVILIDAD_TRANSACCIONAL A,SGF1016.SQLMISFACT.DBO.DIMCANAL_DIARIO B
WHERE 
A.RUT_EJECUTIVO_NUEVO = B.NNURUEJCNEW AND 
(DATEADD(MONTH, DATEDIFF(MONTH, 0, A.FECHA_FIRMA_ULTIMO_ENDOSO)-0, 0) = B.PERIODO_CONTABLE) AND
CANAL_GOL IN ('UNDEFINED','',NULL)


SET @TERMINO= GETDATE()
INSERT INTO CANAL_ASESOR.DBO.MOVILIDAD_CONTROL_DE_EJECUCION VALUES ('04_SP_SURA_MOVILIDAD_TRANSACCIONAL','11 DE 13',@TERMINO,DATEDIFF(MINUTE,@PASOS,@TERMINO)/60,DATEDIFF(MINUTE,@PASOS,@TERMINO)%60)
SET @PASOS= GETDATE()

-----------------------------------------RENOVACION LLAVE_1
--UPDATE SURA_MOVILIDAD_TRANSACCIONAL SET IND_RENOVACION_LLAVE_1=NULL,CICLO_RENOVACION_LLAVE_1=NULL,ULTIMO_CICLO_RENOVACION_LLAVE_1=NULL

SELECT LLAVE_1,MIN(FECHA_FIRMA_POLIZA)FECHA_FIRMA_POLIZA  
INTO #PRIMERA_POLIZA_LLAVE_1 FROM SURA_MOVILIDAD_TRANSACCIONAL
GROUP BY LLAVE_1

SELECT A.LLAVE_1, 
CONVERT(NVARCHAR(10),NNUMDOCU)+CONVERT(NVARCHAR(10),NNUMITEM)+CONVERT(NVARCHAR(10),PRORROGA) POLIZA, 
CONVERT(DATE,'1900-01-01') TERMINO_VIGENCIA
INTO #PRIMERA_POLIZA_LLAVE_2
FROM SURA_MOVILIDAD_TRANSACCIONAL A, #PRIMERA_POLIZA_LLAVE_1 B
WHERE A.TIPO_PLAN_LLAVE NOT IN ('RC') AND A.LLAVE_1=B.LLAVE_1 AND A.FECHA_FIRMA_POLIZA=B.FECHA_FIRMA_POLIZA 
GROUP BY A.LLAVE_1,CONVERT(NVARCHAR(10),NNUMDOCU)+CONVERT(NVARCHAR(10),NNUMITEM)+CONVERT(NVARCHAR(10),PRORROGA)


UPDATE #PRIMERA_POLIZA_LLAVE_2
SET TERMINO_VIGENCIA=B.TERMINO_VIGENCIA_REAL
FROM #PRIMERA_POLIZA_LLAVE_2 A, SURA_MOVILIDAD_TRANSACCIONAL B
WHERE
A.POLIZA=CONVERT(NVARCHAR(10),B.NNUMDOCU)+CONVERT(NVARCHAR(10),B.NNUMITEM)+CONVERT(NVARCHAR(10),B.PRORROGA)
AND TIPO_PLAN_LLAVE NOT IN ('RC')


SELECT DISTINCT LLAVE_1,TERMINO_VIGENCIA INTO #MATERIA_ASEGURADA_SIN_REPETIR_LLAVE_1 FROM SURA_MOVILIDAD_TRANSACCIONAL

SELECT TOP 1 LLAVE_1,COUNT(*) CANTIDAD 
--DROP TABLE #ULTIMO_CICLO_LLAVE_1
INTO  #ULTIMO_CICLO_LLAVE_1 FROM #MATERIA_ASEGURADA_SIN_REPETIR_LLAVE_1 
WHERE LLAVE_1 IS NOT NULL
GROUP BY LLAVE_1 ORDER BY 2 DESC

--select * from #ULTIMO_CICLO_LLAVE_1


------------------------------------------------------------------

SELECT DISTINCT LLAVE_1,TIPO_PLAN_LLAVE,TERMINO_VIGENCIA_REAL INTO #MARCA_RENOVACION FROM SURA_MOVILIDAD_TRANSACCIONAL 
WHERE TIPO_PLAN_LLAVE IN ('SEG_X_KM','NO_RC')

--SELECT * FROM  #MARCA_RENOVACION WHERE LLAVE_1 ='15454240-SUZ-81-2019-FULL-SEG_X_KM' ORDER BY 3 DESC

UPDATE SURA_MOVILIDAD_TRANSACCIONAL
SET IND_RENOVACION_LLAVE_1=NULL
FROM SURA_MOVILIDAD_TRANSACCIONAL A,#MARCA_RENOVACION B
WHERE A.LLAVE_1=B.LLAVE_1 AND ABS(DATEDIFF (DAY,A.INICIO_VIGENCIA,B.TERMINO_VIGENCIA_REAL))<=10 AND A.INICIO_VIGENCIA<>A.TERMINO_VIGENCIA_REAL
--AND DATEDIFF(DAY,A.INICIO_VIGENCIA,A.TERMINO_VIGENCIA_REAL)>25

DECLARE @ULTIMO_CICLO_LLAVE_1 INT
SET @ULTIMO_CICLO_LLAVE_1 = (SELECT  CANTIDAD FROM #ULTIMO_CICLO_LLAVE_1)

DECLARE @CICLOS_LLAVE_1 INT
SET @CICLOS_LLAVE_1=1

WHILE @CICLOS_LLAVE_1<=@ULTIMO_CICLO_LLAVE_1
BEGIN
	DROP TABLE IF EXISTS #LLAVE_1_POLIZA_MENOR

	SELECT LLAVE_1,MIN(FECHA_FIRMA_POLIZA) FECHA_FIRMA_POLIZA
	INTO #LLAVE_1_POLIZA_MENOR
	FROM SURA_MOVILIDAD_TRANSACCIONAL 
	WHERE IND_RENOVACION_LLAVE_1 IS NULL AND TIPO_PLAN_LLAVE IN ('SEG_X_KM','NO_RC')
	GROUP BY LLAVE_1 


	UPDATE SURA_MOVILIDAD_TRANSACCIONAL
	SET IND_RENOVACION_LLAVE_1=CASE WHEN @CICLOS_LLAVE_1=0 THEN 0 ELSE 1 END ,CICLO_RENOVACION_LLAVE_1= @CICLOS_LLAVE_1
	FROM SURA_MOVILIDAD_TRANSACCIONAL A, #LLAVE_1_POLIZA_MENOR B
	WHERE 
	A.LLAVE_1=B.LLAVE_1 
	AND A.FECHA_FIRMA_POLIZA =B.FECHA_FIRMA_POLIZA
	AND IND_RENOVACION_LLAVE_1 IS NULL AND TIPO_PLAN_LLAVE IN ('SEG_X_KM','NO_RC')


	SET @CICLOS_LLAVE_1=@CICLOS_LLAVE_1+1
END


SELECT LLAVE_1,MAX(CICLO_RENOVACION_LLAVE_1) ULTIMO_CLICLO INTO #ULTIMO_CLICLO FROM SURA_MOVILIDAD_TRANSACCIONAL
GROUP BY LLAVE_1

UPDATE SURA_MOVILIDAD_TRANSACCIONAL
SET ULTIMO_CICLO_RENOVACION_LLAVE_1=B.ULTIMO_CLICLO
FROM SURA_MOVILIDAD_TRANSACCIONAL A, #ULTIMO_CLICLO B
WHERE A.LLAVE_1=B.LLAVE_1 

UPDATE SURA_MOVILIDAD_TRANSACCIONAL
SET CICLO_RENOVACION_LLAVE_1 =0
WHERE CICLO_RENOVACION_LLAVE_1 IS  NULL

--UPDATE SURA_MOVILIDAD_TRANSACCIONAL
--SET IND_RENOVACION_LLAVE_1 =1
--WHERE CICLO_RENOVACION_LLAVE_1>0

SELECT LLAVE_1,ULTIMO_CICLO_RENOVACION_LLAVE_1,INICIO_VIGENCIA INTO #ULTIMO_CIVLO_PARA_CICLO_0 FROM SURA_MOVILIDAD_TRANSACCIONAL WHERE IND_RENOVACION_LLAVE_1=1 AND 	CICLO_RENOVACION_LLAVE_1=1

UPDATE SURA_MOVILIDAD_TRANSACCIONAL
SET
ULTIMO_CICLO_RENOVACION_LLAVE_1=B.ULTIMO_CICLO_RENOVACION_LLAVE_1
FROM SURA_MOVILIDAD_TRANSACCIONAL A, #ULTIMO_CIVLO_PARA_CICLO_0 B
WHERE A.LLAVE_1=B.LLAVE_1 AND ABS(DATEDIFF(DAY,A.TERMINO_VIGENCIA,B.INICIO_VIGENCIA))<=3
AND A.CICLO_RENOVACION_LLAVE_1 IS  NULL

UPDATE SURA_MOVILIDAD_TRANSACCIONAL
SET 
CICLO_RENOVACION_LLAVE_1 =0,
ULTIMO_CICLO_RENOVACION_LLAVE_1=0
WHERE ULTIMO_CICLO_RENOVACION_LLAVE_1 IS  NULL

UPDATE SURA_MOVILIDAD_TRANSACCIONAL
SET 
CICLO_RENOVACION_LLAVE_1 =0,
ULTIMO_CICLO_RENOVACION_LLAVE_1=0,
IND_RENOVACION_LLAVE_1=0
WHERE TIPO_PLAN_LLAVE not IN ('SEG_X_KM','NO_RC')

---------------------------------------------------------------------------------------------------------------
------------------------------------------RENOVACION LLAVE_2
SELECT LLAVE_2,MIN(FECHA_FIRMA_POLIZA)FECHA_FIRMA_POLIZA  
INTO #PRIMERA_POLIZA_LLAVE_3 FROM SURA_MOVILIDAD_TRANSACCIONAL
GROUP BY LLAVE_2

SELECT A.LLAVE_2, 
CONVERT(NVARCHAR(10),NNUMDOCU)+CONVERT(NVARCHAR(10),NNUMITEM)+CONVERT(NVARCHAR(10),PRORROGA) POLIZA, 
CONVERT(DATE,'1900-01-01') TERMINO_VIGENCIA
INTO #PRIMERA_POLIZA_LLAVE_4
FROM SURA_MOVILIDAD_TRANSACCIONAL A, #PRIMERA_POLIZA_LLAVE_3 B
WHERE A.TIPO_PLAN_LLAVE NOT IN ('RC') AND A.LLAVE_2=B.LLAVE_2 AND A.FECHA_FIRMA_POLIZA=B.FECHA_FIRMA_POLIZA 
GROUP BY A.LLAVE_2,CONVERT(NVARCHAR(10),NNUMDOCU)+CONVERT(NVARCHAR(10),NNUMITEM)+CONVERT(NVARCHAR(10),PRORROGA)


UPDATE #PRIMERA_POLIZA_LLAVE_4
SET TERMINO_VIGENCIA=B.TERMINO_VIGENCIA_REAL
FROM #PRIMERA_POLIZA_LLAVE_4 A, SURA_MOVILIDAD_TRANSACCIONAL B
WHERE
A.POLIZA=CONVERT(NVARCHAR(10),B.NNUMDOCU)+CONVERT(NVARCHAR(10),B.NNUMITEM)+CONVERT(NVARCHAR(10),B.PRORROGA)
AND TIPO_PLAN_LLAVE NOT IN ('RC')


SELECT DISTINCT LLAVE_2,TERMINO_VIGENCIA INTO #MATERIA_ASEGURADA_SIN_REPETIR_LLAVE_2 FROM SURA_MOVILIDAD_TRANSACCIONAL

SELECT TOP 1 LLAVE_2,COUNT(*) CANTIDAD 
--DROP TABLE #ULTIMO_CICLO
INTO  #ULTIMO_CICLO_LLAVE_2 FROM #MATERIA_ASEGURADA_SIN_REPETIR_LLAVE_2 
GROUP BY LLAVE_2 ORDER BY 2 DESC

--select * from #ULTIMO_CICLO_llave_2


------------------------------------------------------------------

DECLARE @ULTIMO_CICLO_LLAVE_2 INT
SET @ULTIMO_CICLO_LLAVE_2 = (SELECT  CANTIDAD FROM #ULTIMO_CICLO_LLAVE_2)

DECLARE @CICLOS_LLAVE_2 INT
SET @CICLOS_LLAVE_2=1
WHILE @CICLOS_LLAVE_2<=@ULTIMO_CICLO_LLAVE_2
BEGIN
	DROP TABLE IF EXISTS #LLAVE_2_POLIZA_MENOR

	SELECT LLAVE_2,MIN(FECHA_FIRMA_POLIZA) FECHA_FIRMA_POLIZA
	INTO #LLAVE_2_POLIZA_MENOR
	FROM SURA_MOVILIDAD_TRANSACCIONAL 
	WHERE IND_RENOVACION_LLAVE_2 IS NULL AND TIPO_PLAN_LLAVE NOT IN ('RC')
	GROUP BY LLAVE_2 


	UPDATE SURA_MOVILIDAD_TRANSACCIONAL
	SET IND_RENOVACION_LLAVE_2=CASE WHEN @CICLOS_LLAVE_2=1 THEN 0 ELSE 1 END ,CICLO_RENOVACION_LLAVE_2= @CICLOS_LLAVE_2-1
	FROM SURA_MOVILIDAD_TRANSACCIONAL A, #LLAVE_2_POLIZA_MENOR B
	WHERE 
	A.LLAVE_2=B.LLAVE_2 
	AND A.FECHA_FIRMA_POLIZA =B.FECHA_FIRMA_POLIZA
	AND IND_RENOVACION_LLAVE_2 IS NULL AND TIPO_PLAN_LLAVE NOT IN ('RC')


	SET @CICLOS_LLAVE_2=@CICLOS_LLAVE_2+1
END



------------------------------------------------------------------
--UPDATE SURA_MOVILIDAD_TRANSACCIONAL SET IND_RENOVACION_LLAVE_2=NULL, CICLO_RENOVACION_LLAVE_2=NULL,ULTIMO_CICLO_RENOVACION_LLAVE_2=NULL

SELECT LLAVE_2,MAX(CICLO_RENOVACION_LLAVE_2) ULTIMO_CLICLO INTO #ULTIMO_CLICLO_LLAVE_2 FROM SURA_MOVILIDAD_TRANSACCIONAL
WHERE TIPO_PLAN_LLAVE NOT IN ('RC')
GROUP BY LLAVE_2 

UPDATE SURA_MOVILIDAD_TRANSACCIONAL
SET ULTIMO_CICLO_RENOVACION_LLAVE_2=B.ULTIMO_CLICLO
FROM SURA_MOVILIDAD_TRANSACCIONAL A, #ULTIMO_CLICLO_LLAVE_2 B
WHERE A.LLAVE_2=B.LLAVE_2  AND TIPO_PLAN_LLAVE NOT IN ('RC')

UPDATE SURA_MOVILIDAD_TRANSACCIONAL
SET IND_RENOVACION_LLAVE_2=0 , CICLO_RENOVACION_LLAVE_2=B.ULTIMO_CLICLO
FROM SURA_MOVILIDAD_TRANSACCIONAL A, #ULTIMO_CLICLO_LLAVE_2 B
WHERE A.LLAVE_2=B.LLAVE_2 AND IND_RENOVACION_LLAVE_2 IS NULL AND  TIPO_PLAN_LLAVE NOT IN ('RC')

SET @TERMINO= GETDATE()
INSERT INTO CANAL_ASESOR.DBO.MOVILIDAD_CONTROL_DE_EJECUCION VALUES ('04_SP_SURA_MOVILIDAD_TRANSACCIONAL','12 DE 13',@TERMINO,DATEDIFF(MINUTE,@PASOS,@TERMINO)/60,DATEDIFF(MINUTE,@PASOS,@TERMINO)%60)
SET @PASOS= GETDATE()


------------------------------------------COMBO ASISTENCIA
UPDATE SURA_MOVILIDAD_TRANSACCIONAL
SET CODIGO_COB_ASISTENCIA=CCODCOBE,ASISTENCIA=B.CDESCRIP
FROM SURA_MOVILIDAD_TRANSACCIONAL A, SURA_COBERTURAS_MOVILIDAD_ASISTENCIA B
WHERE 
A.NNUMDOCU=B.NNUMDOCU	AND 
A.NNUMITEM=B.NNUMITEM

UPDATE SURA_MOVILIDAD_TRANSACCIONAL
SET COMBO_ASITENCIA=B.COMBO,PROVEEDOR_ASITENCIA= PROVEEDOR_ASISTENCIA
FROM SURA_MOVILIDAD_TRANSACCIONAL A, SURA_COMBO_ASISTENCIA B
WHERE 
A.CODIGO_PLAN_TECNICO=B.CODIGO_PLAN_TECNICO AND 
A.CODIGO_COB_ASISTENCIA=B.CODIGO_COBERTURA	AND 
A.CODIGO_RAMO=B.CODIGO_RAMO					AND
A.CODIGO_COB_ASISTENCIA<>''


SET @TERMINO= GETDATE()
INSERT INTO CANAL_ASESOR.DBO.MOVILIDAD_CONTROL_DE_EJECUCION VALUES ('04_SP_SURA_MOVILIDAD_TRANSACCIONAL','13 DE 13',@TERMINO,DATEDIFF(MINUTE,@PASOS,@TERMINO)/60,DATEDIFF(MINUTE,@PASOS,@TERMINO)%60)
SET @PASOS= GETDATE()

------------------------------------------RENOVACION POLIZAS MOK A POLIZAS NUEVAS 
UPDATE SURA_MOVILIDAD_TRANSACCIONAL
SET IND_RENOVACION_LLAVE_1=0, CICLO_RENOVACION_LLAVE_1=0
WHERE NNUMDOCU IN (4417862,4417856,4417861,4417869,4471870,4417827,4417874,4417866,
4830562,4830557,4830550,4830548,4829639,4830643,4830638,4830644,4830642)

------------------------------------------CADENA DE RENOVACION
select DISTINCT NNUMDOCU,NNUMITEM,LLAVE_1,CICLO_RENOVACION_LLAVE_1 INTO #CADENA_RENOVACION_1 from SURA_MOVILIDAD_TRANSACCIONAL

TRUNCATE  TABLE SURA_CADENA_RENOVACION
INSERT INTO SURA_CADENA_RENOVACION
SELECT 
A.LLAVE_1							AS LLAVE_1,
A.NNUMDOCU							AS NNUMDOCU,
A.NNUMITEM							AS NNUMITEM,
B.NNUMDOCU							AS NNUMDOCU_RENO,
B.NNUMITEM							AS NNUMITEM_RENO,
B.CICLO_RENOVACION_LLAVE_1			AS CICLO_RENOVACION,
B.ULTIMO_CICLO_RENOVACION_LLAVE_1	AS ULTIMO_CICLO_RENOVACION
FROM #CADENA_RENOVACION_1 A, SURA_MOVILIDAD_TRANSACCIONAL B
WHERE A.LLAVE_1=B.LLAVE_1 AND A.CICLO_RENOVACION_LLAVE_1+1=B.CICLO_RENOVACION_LLAVE_1 


------------------------------------------ANALISIS DE RENOVACION 
UPDATE SURA_ANALISIS_RENOVACION
SET 
LLAVE_1=B.LLAVE_1, 
CICLO_RENOVACION_LLAVE_1=B.CICLO_RENOVACION_LLAVE_1,
ULTIMO_CICLO_RENOVACION_LLAVE_1=B.ULTIMO_CICLO_RENOVACION_LLAVE_1
FROM SURA_ANALISIS_RENOVACION A, SURA_MOVILIDAD_TRANSACCIONAL B
WHERE A.NNUMDOCU_R=B.NNUMDOCU AND A.NNUMITEM_R=B.NNUMITEM

UPDATE SURA_ANALISIS_RENOVACION
SET 
NNUMDOCU_RENOVADA			=NULL,
NNUMITEM_RENOVADA			=NULL,
PRIMA_UF_RENOVADA			=NULL,
INICIO_VIGENCIA_RENOVADA	=NULL,	
TERMINO_VIGENCIA_RENOVADA	=NULL,	
ULTIMO_ENDOSO				=NULL,
MARCA						=NULL,
MODELO						=NULL,
AÑO							=NULL,
CANAL_FINAL					=NULL,
PARTNER_FINAL				=NULL,
INTERMEDIARIO				=NULL,
PRIMA_UF_ANTERIOR			=NULL

UPDATE SURA_ANALISIS_RENOVACION
SET 
NNUMDOCU_RENOVADA			=B.NNUMDOCU,
NNUMITEM_RENOVADA			=B.NNUMITEM,
PRIMA_UF_RENOVADA			=B.PRIMA_UF,
INICIO_VIGENCIA_RENOVADA	=B.INICIO_VIGENCIA,	
TERMINO_VIGENCIA_RENOVADA	=B.TERMINO_VIGENCIA,	
ULTIMO_ENDOSO				=B.ULTIMO_ENDOSO,
MARCA						=B.MARCA,
MODELO						=B.MODELO,
AÑO							=B.AÑO,
CANAL_FINAL					=B.CANAL_FINAL,
PARTNER_FINAL				=B.PARTNER_FINAL,
INTERMEDIARIO				=B.INTERMEDIARIO
FROM SURA_ANALISIS_RENOVACION A, SURA_MOVILIDAD_TRANSACCIONAL B
WHERE A.LLAVE_1=B.LLAVE_1 AND A.CICLO_RENOVACION_LLAVE_1+1=B.CICLO_RENOVACION_LLAVE_1


UPDATE SURA_ANALISIS_RENOVACION
SET 
MARCA						=B.MARCA,
MODELO						=B.MODELO,
AÑO							=B.AÑO,
CANAL_FINAL					=B.CANAL_FINAL,
PARTNER_FINAL				=B.PARTNER_FINAL,
PRIMA_UF_ANTERIOR			=B.PRIMA_UF,
INTERMEDIARIO				=B.INTERMEDIARIO
FROM SURA_ANALISIS_RENOVACION A, SURA_MOVILIDAD_TRANSACCIONAL B
WHERE A.LLAVE_1=B.LLAVE_1 AND A.CICLO_RENOVACION_LLAVE_1=B.CICLO_RENOVACION_LLAVE_1


UPDATE SURA_ANALISIS_RENOVACION
SET ROBADO_BLOQUEAR=B.[ROBADO BLOQUEAR]
FROM SURA_ANALISIS_RENOVACION A, TRANSACCIONAL.DBO.VEHICULOS_ROBADOS B
WHERE REPLACE(A.MARCA,' ','')=REPLACE(B.CCOMAVEH,' ','') AND REPLACE(A.MODELO,' ',' ')=REPLACE(B.CDESCORT,' ',' ')


UPDATE SURA_MOVILIDAD_TRANSACCIONAL
SET FECHA_CANCELACION=TERMINO_VIGENCIA_REAL
WHERE FECHA_CANCELACION='1900-01-01'

------------------------------------------VIGENCIA Y EXPUESTOS
UPDATE SURA_MOVILIDAD_TRANSACCIONAL
SET
VIGENCIA_TEORICA=DATEDIFF (DAY,DATEADD(DAY,0,INICIO_VIGENCIA),TERMINO_VIGENCIA),
VIGENCIA_CONTABLE=DATEDIFF (DAY,DATEADD(DAY,0,INICIO_VIGENCIA),TERMINO_VIGENCIA_REAL),
VIGENCIA_EXP_AÑO=DATEDIFF (DAY,DATEADD(DAY,0,INICIO_VIGENCIA),FECHA_CANCELACION)	

UPDATE SURA_MOVILIDAD_TRANSACCIONAL
SET EXP_AÑO = VIGENCIA_EXP_AÑO / 365.25

------------------------------------------ FLOTAS
UPDATE  SURA_MOVILIDAD_TRANSACCIONAL
SET FLOTA=B.FLOTA
FROM  SURA_MOVILIDAD_TRANSACCIONAL A, SURA_MOVILIDAD_FLOTAS B
WHERE A.RUT_PROPONENTE=B.RUT_PROPONENTE

UPDATE  SURA_MOVILIDAD_TRANSACCIONAL
SET FLOTA=B.FLOTA
FROM  SURA_MOVILIDAD_TRANSACCIONAL A , SURA_MOVILIDAD_FLOTA_SEGMENTO B
WHERE A.CODIGO_PLAN_TECNICO=B.CODIGO_PLAN_TECNICO
AND A.FLOTA='SIN ASIGNAR'


--INCORPORA FLOTAS FALTANTES
UPDATE  SURA_MOVILIDAD_TRANSACCIONAL
SET FLOTA='TSTGO - BUSES VULE'
WHERE NNUMDOCU IN (3738683,3752538,3947090)

UPDATE  SURA_MOVILIDAD_TRANSACCIONAL
SET FLOTA='TSTGO - LAS ARAUCARIAS'
WHERE NNUMDOCU IN (3812334)

UPDATE  SURA_MOVILIDAD_TRANSACCIONAL
SET FLOTA='TRANSPORTE SOL DE REÑACA'
WHERE NNUMDOCU IN (5724833)

UPDATE  SURA_MOVILIDAD_TRANSACCIONAL
SET FLOTA='TRANSPORTE CENTRAL PLACERES'
WHERE NNUMDOCU IN (5731021,5732543,5732550,5732598,5734810,5753014)

--------------------------------------------ULTIMO ENDOSO
SELECT 
NNUMDOCU,
NNUMITEM,
PRORROGA,
MAX(NNUMENDO)					AS NNUMENDO,
SUM(PRIMA_PESO)					AS PRIMA_PESO, 
SUM(PRIMA_UF)					AS PRIMA_UF,
SUM(COMISION_PESO)				AS COMISION_PESO,	
SUM(COMISION_UF)				AS COMISION_UF,
SUM(MONTO_ASEGURADO_PESO)		AS MONTO_ASEGURADO_PESO,
SUM(MONTO_ASEGURADO_UF)			AS MONTO_ASEGURADO_UF,
SUM(MONTO_ASEGURADO_ALL_PESO)	AS MONTO_ASEGURADO_ALL_PESO,
SUM(MONTO_ASEGURADO_ALL_UF)		AS MONTO_ASEGURADO_ALL_UF,
MIN(INICIO_VIGENCIA)			AS INICIO_VIGENCIA,
MAX(TERMINO_VIGENCIA)			AS TERMINO_VIGENCIA,
MIN(FECHA_FIRMA_POLIZA)			AS FECHA_FIRMA_POLIZA
INTO  #ULTIMO_ENDOSO_RESAGADO
FROM SURA_MOVILIDAD_TRANSACCIONAL
--WHERE NNUMDOCU=6942130
GROUP BY 
NNUMDOCU,
NNUMITEM,
PRORROGA
HAVING COUNT(*)>1

SELECT A.* INTO #SURA_MOVILIDAD_TRANSACCIONAL FROM  SURA_MOVILIDAD_TRANSACCIONAL A, #ULTIMO_ENDOSO_RESAGADO B
WHERE A.NNUMDOCU=B.NNUMDOCU AND A.NNUMITEM=B.NNUMITEM AND A.NNUMENDO=B.NNUMENDO

UPDATE #SURA_MOVILIDAD_TRANSACCIONAL
SET 
PRIMA_PESO=					B.PRIMA_PESO,
PRIMA_UF=					B.PRIMA_UF,
COMISION_PESO=				B.COMISION_PESO,	
COMISION_UF=				B.COMISION_UF,
MONTO_ASEGURADO_PESO=		B.MONTO_ASEGURADO_PESO,
MONTO_ASEGURADO_UF=			B.MONTO_ASEGURADO_UF,
MONTO_ASEGURADO_ALL_PESO=	B.MONTO_ASEGURADO_ALL_PESO,
MONTO_ASEGURADO_ALL_UF=		B.MONTO_ASEGURADO_ALL_UF,
FILTRO_RIESGO=				'VEHICULO',
RAMO_KEIRA_PRINCIPAL=		'MOTOR',
INICIO_VIGENCIA=			B.INICIO_VIGENCIA,
FECHA_FIRMA_POLIZA=			B.FECHA_FIRMA_POLIZA,
TERMINO_VIGENCIA=		CASE WHEN ULTIMO_ENDOSO <>'' THEN A.TERMINO_VIGENCIA		ELSE B.TERMINO_VIGENCIA		END,
TERMINO_VIGENCIA_REAL=	CASE WHEN ULTIMO_ENDOSO <>'' THEN A.TERMINO_VIGENCIA_REAL	ELSE B.TERMINO_VIGENCIA		END
FROM #SURA_MOVILIDAD_TRANSACCIONAL A, #ULTIMO_ENDOSO_RESAGADO B
WHERE A.NNUMDOCU=B.NNUMDOCU AND A.NNUMITEM=B.NNUMITEM AND A.NNUMENDO=B.NNUMENDO
 

UPDATE #SURA_MOVILIDAD_TRANSACCIONAL
SET 
--TERMINO_VIGENCIA=		CASE WHEN A.ULTIMO_ENDOSO <>'' THEN B.INICIO_VIGENCIA ELSE A.TERMINO_VIGENCIA END,
TERMINO_VIGENCIA_REAL=	CASE WHEN A.ULTIMO_ENDOSO <>'' THEN B.INICIO_VIGENCIA ELSE A.TERMINO_VIGENCIA_REAL END
FROM #SURA_MOVILIDAD_TRANSACCIONAL A, SURA_MOVILIDAD_TRANSACCIONAL B
WHERE A.NNUMDOCU=B.NNUMDOCU AND A.NNUMITEM=B.NNUMITEM AND A.NNUMENDO=B.NNUMENDO
AND A.ULTIMO_ENDOSO IN ('CANCELACION','CANCELACION POR NO PAGO','CANCELACION PERDIDA TOTAL')


UPDATE #SURA_MOVILIDAD_TRANSACCIONAL
SET 
--TERMINO_VIGENCIA=		INICIO_VIGENCIA,
TERMINO_VIGENCIA_REAL=	INICIO_VIGENCIA
FROM #SURA_MOVILIDAD_TRANSACCIONAL
WHERE ULTIMO_ENDOSO IN ('ANULACION')


DELETE FROM SURA_MOVILIDAD_TRANSACCIONAL
WHERE NNUMDOCU*100000+NNUMITEM IN (SELECT NNUMDOCU*100000+NNUMITEM FROM #SURA_MOVILIDAD_TRANSACCIONAL)

INSERT INTO SURA_MOVILIDAD_TRANSACCIONAL
SELECT * FROM #SURA_MOVILIDAD_TRANSACCIONAL

UPDATE SURA_MOVILIDAD_TRANSACCIONAL
SET
SEGMENTACION			=B.SEGMENTACION,
GSE						=B.GSE,
RENTA					=B.RENTA,
SEGMENTACION_OFICIAL	=B.SEGMENTACION_OFICIAL
FROM SURA_MOVILIDAD_TRANSACCIONAL A, SURA_SEGMENTACION_CLINETE B
WHERE A.RUT_ASEGURADO=B.RUT

UPDATE SURA_MOVILIDAD_TRANSACCIONAL
SET
SEGMENTACION			='SIN CLASIFICAR',
GSE						='SIN CLASIFICAR',
RENTA					='SIN CLASIFICAR',
SEGMENTACION_OFICIAL	='SIN CLASIFICAR'
FROM SURA_MOVILIDAD_TRANSACCIONAL 
WHERE SEGMENTACION IS NULL OR SEGMENTACION=''


------------------------------------------ POLIZAS VIGENTES
UPDATE SURA_MOVILIDAD_TRANSACCIONAL
SET VIGENTE=1
WHERE INICIO_VIGENCIA<= GETDATE() AND TERMINO_VIGENCIA_REAL>=GETDATE()

------------------------------------------ USURAIO QUE FIRMO POLIZA
UPDATE SURA_MOVILIDAD_TRANSACCIONAL
SET USUARIO_FIRMA=B.CUSUARIO
FROM SURA_MOVILIDAD_TRANSACCIONAL A, SURA_USUARIO_FIRMA B
WHERE A.NNUMDOCU=B.NNUMDOCU

UPDATE SURA_MOVILIDAD_TRANSACCIONAL
SET
IND_POLIZA_MENSUAL		=CASE WHEN 	IND_POLIZA_MENSUAL		IS NULL THEN 'N' ELSE IND_POLIZA_MENSUAL	END,
IND_POLIZA_UBER			=CASE WHEN 	IND_POLIZA_UBER			IS NULL THEN 'N' ELSE IND_POLIZA_UBER		END,
IND_POLIZA_TELEMATICA	=CASE WHEN 	IND_POLIZA_TELEMATICA	IS NULL THEN 'N' ELSE IND_POLIZA_TELEMATICA END,	
IND_PLAN_TECNICO_WEB	=CASE WHEN 	IND_PLAN_TECNICO_WEB	IS NULL THEN 'N' ELSE IND_PLAN_TECNICO_WEB	END


--------------------------------------CLUSTER ADICIONALES DE ROMAN
UPDATE SURA_MOVILIDAD_TRANSACCIONAL
SET CHANNEL='UBER'
WHERE IND_POLIZA_UBER='S' AND LINEA_NEGOCIO='PERSONAL'

UPDATE SURA_MOVILIDAD_TRANSACCIONAL
SET AGRUPACION_FLOTA=B.AGRUPACION_FLOTA
FROM SURA_MOVILIDAD_TRANSACCIONAL A, SURA_MOVILIDAD_AGRUPACION_FLOTA B
WHERE A.FLOTA=B.FLOTA

UPDATE SURA_MOVILIDAD_TRANSACCIONAL
SET GRUPO_CHANNEL=B.GRUPO_CHANNEL
FROM SURA_MOVILIDAD_TRANSACCIONAL A, SURA_MOVILIDAD_AGRUPACION_CANAL B
WHERE A.CHANNEL=B.CHANNEL AND A.GRUPO_CHANNEL<>'CANAL ASESOR'


--SELECT  GRUPO_CHANNEL,COUNT(*) FROM SURA_MOVILIDAD_TRANSACCIONAL GROUP BY GRUPO_CHANNEL

UPDATE SURA_MOVILIDAD_TRANSACCIONAL
SET PRODUCTOS_NUEVOS=B.PRODUCTO_NUEVO
FROM SURA_MOVILIDAD_TRANSACCIONAL A, SURA_MOVILIDAD_AGRUPACION_PLANES B
WHERE A.CODIGO_PLAN_TECNICO=B.CODIGO_PLAN_TECNICO


UPDATE SURA_MOVILIDAD_TRANSACCIONAL
SET PLAN_TECNICO_2 = CASE	
	WHEN CODIGO_PLAN_TECNICO IN (6503,6504,6505,6506) THEN 'BUS EURO6' 
	WHEN CODIGO_PLAN_TECNICO IN (6482,6369,6837,6267) THEN 'BUS ELECTRICO' 
	ELSE 'BUS CONVENCIONAL' 
END 
WHERE FLOTA LIKE 'TSTGO%'


UPDATE SURA_MOVILIDAD_TRANSACCIONAL
SET TIPO_VEHICULO='VEHICULO ELECTRICO'
WHERE MODELO IN ('IONIQ','IONIQ ELECTRICO','KANGOO ZE','LEAF') 


UPDATE SURA_MOVILIDAD_TRANSACCIONAL
SET TOP_100=B.MARCA_MODELO
FROM SURA_MOVILIDAD_TRANSACCIONAL A, SURA_MOVILIDAD_TOP100_VEH B
WHERE A.MARCA=B.MARCA AND A.MODELO=B.MODELO


UPDATE SURA_MOVILIDAD_TRANSACCIONAL 
SET ZONA_SUCURSAL=B.ZONA_SUCURSAL
FROM SURA_MOVILIDAD_TRANSACCIONAL A, SURA_MOVILIDAD_ZONA_SUCURSAL B
WHERE A.SUCURSAL_GOL=B.SUCURSAL


UPDATE SURA_MOVILIDAD_TRANSACCIONAL
SET NUEVA_RENOVADA = CASE 
	WHEN IND_RENOVACION_LLAVE_1=1 THEN 'RENOVACION'
	WHEN IND_RENOVACION_LLAVE_1=0 THEN 'NUEVA'
END


--UPDATE SURA_MOVILIDAD_TRANSACCIONAL
--SET FLOTA=B.FLOTA_2
--FROM SURA_MOVILIDAD_TRANSACCIONAL A, SURA_MOVILIDAD_MAPEO_TABLA B
--WHERE A.LINEA_NEGOCIO='COMMERCIAL' AND A.RUT_ASEGURADO=B.RUT_ASEGURADO


UPDATE SURA_MOVILIDAD_TRANSACCIONAL
SET EXTRANJERO=CASE WHEN RUT_PROPONENTE>=21600000 AND RUT_PROPONENTE<=35000000 THEN 'EXTRANJERO' ELSE 'CHILENO' END 										
WHERE LINEA_NEGOCIO='PERSONAL' 

UPDATE SURA_MOVILIDAD_TRANSACCIONAL
SET PERFIL_UBER='PERFIL UBER'
FROM SURA_MOVILIDAD_TRANSACCIONAL A, SURA_MOVILIDAD_AUTOS_UBER B
WHERE A.MARCA_MODELO=RTRIM(B.MARCA_MODELO)


UPDATE SURA_MOVILIDAD_TRANSACCIONAL
SET VIGENCIA=
CASE 
	WHEN DATEDIFF(DAY,INICIO_VIGENCIA,TERMINO_VIGENCIA) BETWEEN 364 AND 367 THEN 'ANUAL' 
	WHEN DATEDIFF(DAY,INICIO_VIGENCIA,TERMINO_VIGENCIA) BETWEEN 27	AND 32	THEN 'MENSUAL' 
	WHEN DATEDIFF(DAY,INICIO_VIGENCIA,TERMINO_VIGENCIA) BETWEEN 728 AND 733 THEN 'BIENAL' 
	WHEN DATEDIFF(DAY,INICIO_VIGENCIA,TERMINO_VIGENCIA) =0					THEN 'NULA' 
	WHEN DATEDIFF(DAY,INICIO_VIGENCIA,TERMINO_VIGENCIA) <=27				THEN 'CORTA' 
	WHEN DATEDIFF(DAY,INICIO_VIGENCIA,TERMINO_VIGENCIA) >733				THEN 'LARGA' 
	ELSE 'OTRA' 
END


UPDATE SURA_MOVILIDAD_TRANSACCIONAL
SET CON_EMISIONES=1
WHERE PRIMA_UF>0

UPDATE SURA_MOVILIDAD_TRANSACCIONAL
SET CALIDAD_CLIENTE=B.CALIDAD+ ' - ' + B.SINIESTRALIDAD
FROM SURA_MOVILIDAD_TRANSACCIONAL A, SURA_MOVILIDAD_SEGMENTACION_RUT B
WHERE A.RUT_PROPONENTE=B.RUT


UPDATE SURA_MOVILIDAD_TRANSACCIONAL
SET CHANNEL='DIRECTO'
where RTRIM(GRUPO_CHANNEL)='DIRECTO'

UPDATE SURA_MOVILIDAD_TRANSACCIONAL
SET FLOTA='AWTO',AGRUPACION_FLOTA='AWTO'
where NNUMDOCU in (5129738,5483060,5852361,6181750,6529057,5130407,5483333,5852408,6181972,6529217)

UPDATE SURA_MOVILIDAD_TRANSACCIONAL
SET PRODUCTOS_NUEVOS = 'MOTO'
WHERE PLAN_TECNICO LIKE 'SEGURO MOTO%'

UPDATE SURA_MOVILIDAD_TRANSACCIONAL
SET PRODUCTOS_NUEVOS = 'MICROMOVILIDAD'
WHERE PLAN_TECNICO LIKE '%CICLO%'

UPDATE SURA_MOVILIDAD_TRANSACCIONAL
SET FLOTA = 'SEGURO X KM',AGRUPACION_FLOTA='SEGURO X KM'
WHERE IND_POLIZA_TELEMATICA='S'

UPDATE SURA_MOVILIDAD_TRANSACCIONAL
SET TIPO_VEHICULO='CAMION'
WHERE TIPO_VEHICULO LIKE 'CLAS%'


UPDATE SURA_MOVILIDAD_TRANSACCIONAL
SET 
GRUPO_CHANNEL = CASE 
	WHEN RTRIM(B.BU)='DIRECTO'		THEN 'DIRECTO' 
	WHEN RTRIM(B.BU)='MASIVOS'		THEN 'AFFINITY'
	WHEN RTRIM(B.BU)='CORPORATIVO'	THEN 'LBR' 
	WHEN RTRIM(B.BU)='CANAL ASESOR' THEN 'CANAL ASESOR' 
	WHEN RTRIM(B.BU)='DIRECTO'		THEN 'DIRECTO' 
	WHEN GRUPO_CHANNEL IS NULL		THEN 'UNDEFINED' 
	WHEN RTRIM(B.BU)='TRADICIONAL'	THEN 'E&P' 
	ELSE GRUPO_CHANNEL 
END,
CHANNEL = CASE 
	WHEN B.CHANNEL IS NOT NULL THEN RTRIM(B.CHANNEL) 
	ELSE RTRIM(A.CHANNEL) 
END
FROM SURA_MOVILIDAD_TRANSACCIONAL A
LEFT JOIN SURA_MOVILIDAD_CANAL_BU B ON A.NNUMDOCU=B.NNUMDOCU AND A.NNUMITEM=B.NNUMITEM

UPDATE SURA_MOVILIDAD_TRANSACCIONAL 
SET CHANNEL=CASE WHEN RUT_EJECUTIVO=13098157 THEN 'DIRECTO WEB' ELSE 'DIRECTO TMK' END
WHERE GRUPO_CHANNEL='DIRECTO'

UPDATE SURA_MOVILIDAD_TRANSACCIONAL
SET CHANNEL='SANTANDER'
where CHANNEL LIKE 'SANTAN%'

UPDATE SURA_MOVILIDAD_TRANSACCIONAL
SET CHANNEL='COMPARA'
where CHANNEL LIKE 'COMPAR%'

UPDATE SURA_MOVILIDAD_TRANSACCIONAL
SET CHANNEL='CENCOSUD',GRUPO_CHANNEL='AFFINITY'
where CHANNEL LIKE 'PARI%'

UPDATE SURA_MOVILIDAD_TRANSACCIONAL
SET CHANNEL='AUTOMOVIL CLUB',GRUPO_CHANNEL='AFFINITY'
where RUT_INTERMEDIARIO=76449877

UPDATE SURA_MOVILIDAD_TRANSACCIONAL
SET FLOTA='SALFA',AGRUPACION_FLOTA='SALFA'
WHERE nnumdocu in (6907171,6907172,6907175,6907176,6909916,6909917,6909919,6924529,6924531,6924532,												
6924533,6926092,6926093,6960766,6964302,7039522,6894162,6894172,6894180,6894188,6894196,6894201,6907176,6924529,6924531,6924532,6924533,6926093,6964302)	


----------------------------------------------------------------------------------------------
--AGREGADO 02-07-2025
--MARCA FLOTAS TSTGO
UPDATE SURA_MOVILIDAD_TRANSACCIONAL
SET
AGRUPACION_FLOTA='TSTGO',
FLOTA = CASE 
	WHEN RUT_PROPONENTE=77532011 THEN 'TSTGO - STU' 
	WHEN RUT_PROPONENTE=77532114 THEN 'TSTGO - BUSES ALFA' 
	WHEN RUT_PROPONENTE=77532117 THEN 'TSTGO - BUSES OMEGA' 
	WHEN RUT_PROPONENTE=77532096 THEN 'TSTGO - RBU SANTIAGO'
	WHEN RUT_PROPONENTE=99557440 THEN 'TSTGO - METBUS'
	WHEN RUT_PROPONENTE=76071048 THEN 'TSTGO - BUSES VULE'
	WHEN RUT_PROPONENTE=99577050 THEN 'TSTGO - RED BUS'
	ELSE FLOTA
END
WHERE RUT_PROPONENTE IN (77532011, 77532114, 77532117, 77532096, 99557440, 76071048, 99577050)
----------------------------------------------------------------------------------------------


UPDATE SURA_MOVILIDAD_TRANSACCIONAL
SET CHANNEL='SCANIA',GRUPO_CHANNEL='SCANIA'
where RUT_PROPONENTE=76574810 and INTERMEDIARIO like 'ARTH%'

UPDATE SURA_MOVILIDAD_TRANSACCIONAL
SET CALIDAD_CLIENTE='N/A'


UPDATE SURA_MOVILIDAD_TRANSACCIONAL
SET GAMA_VEHICULO='AGRAVADOS'
WHERE RTRIM(MARCA_MODELO) IN ('Chevrolet - SAIL','Chevrolet - SPARK GT','Chevrolet - PRISMA','Dodge - JOURNEY','FORD - EXPLORER','FORD - RANGER','FORD - FOCUS','HYUNDAI - ACCENT'
,'HYUNDAI - TUCSON','HYUNDAI - H-1','KIA MOTORS - MORNING','KIA MOTORS - SPORTAGE','KIA MOTORS - CERATO','KIA MOTORS - RIO 4','KIA MOTORS - RIO','KIA MOTORS - SOLUTO',
'MAZDA - 3.','MAZDA - 3 SPORT.','PEUGEOT - 2008','TOYOTA - YARIS','VOLVO - V40','HONDA - PILOT') OR 
(RTRIM(MARCA)+' - '+rtrim(MODELO) like '%FRONT%' OR
RTRIM(MARCA)+' - '+rtrim(MODELO) like '%GRAND CHE%' or
RTRIM(MARCA)+' - '+rtrim(MODELO) like '&FRONTI%' or 
RTRIM(MARCA)+' - '+rtrim(MODELO) like 'ToYOTA - HI-L%' or 
RTRIM(MARCA)+' - '+rtrim(MODELO) like '%F-15%' OR
RTRIM(MARCA)+' - '+rtrim(MODELO) like '%ACCEN%' or 
RTRIM(MARCA)+' - '+rtrim(MODELO) like '%L-20%' or 
RTRIM(MARCA)+' - '+rtrim(MODELO) like '%PORTER%' AND RTRIM(MARCA)='HYUNDAI' or 
RTRIM(MARCA)+' - '+rtrim(MODELO) like '%ECOSP%' or 
RTRIM(MARCA)+' - '+rtrim(MODELO) like'%3008%' or 
RTRIM(MARCA)+' - '+rtrim(MODELO) like '%EXPED%' OR 
RTRIM(MARCA)+' - '+rtrim(MODELO) like 'MG - 3.' OR
RTRIM(MARCA)+' - '+rtrim(MODELO) like '%X-TR%' OR
RTRIM(MARCA)+' - '+rtrim(MODELO) like '%QASH%' OR
RTRIM(MARCA)+' - '+rtrim(MODELO) like '%NP300%' OR
RTRIM(MARCA)+' - '+rtrim(MODELO) like '%NAVAR%%' AND RTRIM(MARCA)='NISSAN'OR
RTRIM(MARCA)+' - '+rtrim(MODELO) like '%PATHFI%') 


UPDATE SURA_MOVILIDAD_TRANSACCIONAL
SET GAMA_VEHICULO='BLOQUEADOS'
WHERE (
RTRIM(MARCA)+' - '+rtrim(MODELO) like '%FRONT%' OR
RTRIM(MARCA)+' - '+rtrim(MODELO) like '%GRAND CHE%' or
RTRIM(MARCA)+' - '+rtrim(MODELO) like '&FRONTI%' or 
RTRIM(MARCA)+' - '+rtrim(MODELO) like 'ToYOTA - HI-L%' or 
RTRIM(MARCA)+' - '+rtrim(MODELO) like '%F-15%' OR
RTRIM(MARCA)+' - '+rtrim(MODELO) like '%ACCEN%' or 
RTRIM(MARCA)+' - '+rtrim(MODELO) like '%L-20%' or 
RTRIM(MARCA)+' - '+rtrim(MODELO) like '%PORTER%' AND RTRIM(MARCA)='HYUNDAI' or 
RTRIM(MARCA)+' - '+rtrim(MODELO) like '%ECOSP%' or 
RTRIM(MARCA)+' - '+rtrim(MODELO) like'%3008%' or 
RTRIM(MARCA)+' - '+rtrim(MODELO) like '%EXPED%' OR 
RTRIM(MARCA)+' - '+rtrim(MODELO) like 'MG - 3.' OR
RTRIM(MARCA)+' - '+rtrim(MODELO) like '%X-TR%' OR
RTRIM(MARCA)+' - '+rtrim(MODELO) like '%QASH%' OR
RTRIM(MARCA)+' - '+rtrim(MODELO) like '%NP300%' OR
RTRIM(MARCA)+' - '+rtrim(MODELO) like '%NAVAR%%' AND RTRIM(MARCA)='NISSAN'OR
RTRIM(MARCA)+' - '+rtrim(MODELO) like '%PATHFI%') 
and REGION_ASE in ('METROPOLITANA DE SANTIAGO',
'DE TARAPACA','DE ANTOFAGASTA','DE COQUIMBO','DE ARICA Y PARINACOTA','DE VALPARAISO','DE ATACAMA',
'DEL LIBERTADOR B. OHIGGINS') AND AÑO>=2017


SELECT RUT_PROPONENTE,YEAR(INICIO_VIGENCIA)*100+MONTH(TERMINO_VIGENCIA) MES, COUNT(*) CANTIDAD
INTO #TAMAÑO
FROM SURA_MOVILIDAD_TRANSACCIONAL 
WHERE LINEA_NEGOCIO ='COMMERCIAL'
GROUP BY RUT_PROPONENTE,YEAR(INICIO_VIGENCIA)*100+MONTH(TERMINO_VIGENCIA)


SELECT 
NNUMDOCU,
NNUMITEM,
MIN(
CASE 
WHEN C.CANTIDAD=1		THEN 'A.1_1' 
WHEN C.CANTIDAD=2		THEN 'B.2_2' 
WHEN C.CANTIDAD=3		THEN 'C.3_3' 
WHEN C.CANTIDAD=4		THEN 'D.4_4' 
WHEN C.CANTIDAD=5		THEN 'E.5_5' 
WHEN C.CANTIDAD<=10		THEN 'F.6_10' 
WHEN C.CANTIDAD<=20		THEN 'G.11_20' 
WHEN C.CANTIDAD<=50		THEN 'H.21_50' 
WHEN C.CANTIDAD<=100	THEN 'I.51_100' 
WHEN C.CANTIDAD<=300	THEN 'J.101_300' 
WHEN C.CANTIDAD<=1000	THEN 'K.301_1000'
WHEN C.CANTIDAD<=2000	THEN 'L.1001_2000' 
WHEN C.CANTIDAD<=3000	THEN 'M.2001_3000' 
WHEN C.CANTIDAD>3000	THEN 'N.>3000' 
ELSE NULL END) TAMAÑO
INTO #TAMAÑO_2
FROM SURA_MOVILIDAD_TRANSACCIONAL A
LEFT JOIN #TAMAÑO C ON  A.RUT_PROPONENTE=C.RUT_PROPONENTE AND YEAR(INICIO_VIGENCIA)*100+MONTH(TERMINO_VIGENCIA)=C.MES
WHERE LINEA_NEGOCIO ='COMMERCIAL'
GROUP BY NNUMDOCU,NNUMITEM

UPDATE SURA_MOVILIDAD_TRANSACCIONAL
SET TAMAÑO=B.TAMAÑO,INCLUSION=(CASE WHEN AGRUPACION_FLOTA IN ('INVERSIONES INVERGAS','TSTGO','SALFA','SCANIA') THEN 'EXCLUIDO' ELSE 'INCLUIDO' END)
FROM SURA_MOVILIDAD_TRANSACCIONAL A
LEFT JOIN #TAMAÑO_2 B ON A.NNUMDOCU=B.NNUMDOCU AND A.NNUMITEM=B.NNUMITEM 
WHERE B.NNUMDOCU IS NOT NULL

UPDATE SURA_MOVILIDAD_TRANSACCIONAL
SET TAMAÑO='A.1_1'
WHERE GRUPO_CHANNEL='AFFINITY' AND LINEA_NEGOCIO='COMMERCIAL'

SELECT NNUMDOCU,NNUMITEM,MAX(TIPO_VEHICULO) TIPO2
INTO #TIPOS
FROM SURA_MOVILIDAD_TRANSACCIONAL
GROUP BY NNUMDOCU,NNUMITEM

UPDATE SURA_MOVILIDAD_TRANSACCIONAL
SET TIPO=TIPO_VEHICULO

UPDATE SURA_MOVILIDAD_TRANSACCIONAL
SET TIPO=B.TIPO_AGRUPADO
FROM SURA_MOVILIDAD_TRANSACCIONAL A, SURA_MOVILIDAD_TIPO_AGRUPADO B
WHERE A.TIPO=B.TIPO

--------------------------------------MARCA VEHICULOS MAS ROBADOS
SELECT DISTINCT NNUMDOCU,NNUMITEM,PRORROGA,MARCA,MODELO,AÑO,
CASE 
	WHEN REGION_ASE IN 
		('METROPOLITANA DE SANTIAGO',
        'DE TARAPACA','DE ANTOFAGASTA',
		'DE COQUIMBO',
		'DE ARICA Y PARINACOTA',
		'DE VALPARAISO','DE ATACAMA',
		'DEL LIBERTADOR B. OHIGGINS') THEN 'BLOQUEADO' 
	WHEN REGION_ASE IS NULL THEN 'IGNORADA' 
	ELSE 'NO BLOQUEADO' 
END REGION_BLOQUEO_ROBO
INTO #BLOQUEO_ROBO_REGION 
FROM SURA_MOVILIDAD_TRANSACCIONAL 


SELECT A.*, 
CASE WHEN AÑO >= 2017 THEN 'BLOQUEADO' ELSE CAST(AÑO AS VARCHAR) END VEH_ROBADO_AÑO,
A.REGION_BLOQUEO_ROBO AS VEH_ROBADO_ZONA,
B.ROBADO_BLOQUEAR AS VEH_ROBADO_MARCAMODELO,
B.AGRUPACION AS LISTADO_VEH_ROBADOS,
'ROBADO' MARCA_ROBADO
INTO #BLOQUEO_ROBO_REGION_2
FROM #BLOQUEO_ROBO_REGION A
LEFT JOIN SURA_MOVILIDAD_VEHICULOS_ROBADOS B ON REPLACE(A.MARCA,' ','')=REPLACE(B.MODELO,' ','') AND REPLACE(A.MARCA,' ',' ')=REPLACE(B.MODELO,' ',' ')


UPDATE #BLOQUEO_ROBO_REGION_2
SET MARCA_ROBADO= CASE WHEN VEH_ROBADO_AÑO='BLOQUEADO' AND VEH_ROBADO_ZONA='BLOQUEADO' AND VEH_ROBADO_MARCAMODELO='BLOQUEADO' THEN 'ROBADO' ELSE 'RESTO' END

UPDATE SURA_MOVILIDAD_TRANSACCIONAL 
SET 
VEH_ROBADO_AÑO			=B.VEH_ROBADO_AÑO,
VEH_ROBADO_ZONA			=B.VEH_ROBADO_ZONA,
VEH_ROBADO_MARCAMODELO	=B.VEH_ROBADO_MARCAMODELO,
LISTADO_VEH_ROBADOS		=B.LISTADO_VEH_ROBADOS,
MARCA_ROBADO			=B.MARCA_ROBADO 
FROM SURA_MOVILIDAD_TRANSACCIONAL A, #BLOQUEO_ROBO_REGION_2 B
WHERE A.NNUMDOCU=B.NNUMDOCU AND A.NNUMITEM=B.NNUMITEM AND A.PRORROGA=B.PRORROGA

-----------------------------------------------------------------------------------
--------------------------------------ANTIGUEDAD EMPRESA
UPDATE SURA_MOVILIDAD_TRANSACCIONAL
SET
FECHA_INICIO=B.FECHA_INICIO,
RUBRO_ECONOMICO=B.RUBRO_ECONOMICO,
SUBRUBRO_ECONOMICO=B.SUBRUBRO_ECONOMICO,
ACTIVIDAD_ECONOMICA=B.ACTIVIDAD_ECONOMICA,
ANT_EMPRESA=B.ANT_EMPRESA
FROM SURA_MOVILIDAD_TRANSACCIONAL A, Transaccional.dbo.Base_Antiguedad_empresas B
WHERE RUT_ASEGURADO=B.RUT

-----------------------------------------------------------------------------------
-----------------------------------------------------MARCA ROBADOS
/*UPDATE SURA_MOVILIDAD_TRANSACCIONAL
SET ESTADO_POR_ROBO='BLOQUEADO TOTAL'
WHERE (
	RTRIM(MARCA)+' - '+rtrim(MODELO) like '%FRONT%'			OR
	RTRIM(MARCA)+' - '+rtrim(MODELO) like '%GRAND CHE%'		OR
	RTRIM(MARCA)+' - '+rtrim(MODELO) like '&FRONTI%'		OR 
	RTRIM(MARCA)+' - '+rtrim(MODELO) like 'ToYOTA - HI-L%'	OR 
	RTRIM(MARCA)+' - '+rtrim(MODELO) like '%F-15%'			OR
	RTRIM(MARCA)+' - '+rtrim(MODELO) like '%ACCEN%'			OR 
	RTRIM(MARCA)+' - '+rtrim(MODELO) like '%L-20%'			OR 
	RTRIM(MARCA)+' - '+rtrim(MODELO) like '%HYU%PORTER%'	OR 
	RTRIM(MARCA)+' - '+rtrim(MODELO) like '%ECOSP%'			OR 
	RTRIM(MARCA)+' - '+rtrim(MODELO) like '%3008%'			OR 
	RTRIM(MARCA)+' - '+rtrim(MODELO) like '%EXPED%'			OR 
	RTRIM(MARCA)+' - '+rtrim(MODELO) like 'MG - 3.'			OR
	RTRIM(MARCA)+' - '+rtrim(MODELO) like '%X-TR%'			OR
	RTRIM(MARCA)+' - '+rtrim(MODELO) like '%QASH%'			OR
	RTRIM(MARCA)+' - '+rtrim(MODELO) like '%NP300%'			OR
	RTRIM(MARCA)+' - '+rtrim(MODELO) like '%NIS%NAVAR%%'	OR
	RTRIM(MARCA)+' - '+rtrim(MODELO) like '%PATHFI%')
AND REGION_ASE in ('METROPOLITANA DE SANTIAGO',
'DE TARAPACA','DE ANTOFAGASTA','DE COQUIMBO','DE ARICA Y PARINACOTA','DE VALPARAISO','DE ATACAMA',
'DEL LIBERTADOR B. OHIGGINS') 
AND AÑO>=2017


UPDATE SURA_MOVILIDAD_TRANSACCIONAL
SET MARCA_ROBADO='ROBADO'
WHERE ESTADO_POR_ROBO ='BLOQUEADO TOTAL'*/

UPDATE SURA_MOVILIDAD_TRANSACCIONAL
SET
CHANNEL=B.BU2
FROM SURA_MOVILIDAD_TRANSACCIONAL A,SURA_MOVILIDAD_CHANNEL_POR_POLIZA B
WHERE A.NNUMDOCU=B.NNUMDOCU


-----------------------------------------------------------------------------------------------------------------------------------------
														--CORRECCIONES PLAN TECNICO:
-----------------------------------------------------------------------------------------------------------------------------------------
--ACTUALIZACION DE TIPPLAN PARA RCM Y RCA a RCI

--RCI
UPDATE SURA_MOVILIDAD_TRANSACCIONAL
SET
TIPO_PLAN = 'RCI'
where (
	PLAN_TECNICO LIKE 'RCA%' OR 
	PLAN_TECNICO LIKE 'RCM%' or 
	PLAN_TECNICO LIKE 'RESP%MER%'
	OR PLAN_TECNICO LIKE 'RC%ARG%'
	OR PLAN_TECNICO LIKE 'RC%MER%'
	)
	AND PLAN_TECNICO NOT LIKE '%ROBO%'

--RCI+ROBO
UPDATE SURA_MOVILIDAD_TRANSACCIONAL
SET
TIPO_PLAN = 'RCI+ROBO'
where 
	PLAN_TECNICO LIKE 'RCA%ROBO%' OR 
	PLAN_TECNICO LIKE 'RCM%ROBO%' OR 
	PLAN_TECNICO LIKE 'RESP%ROBO%MER%' OR
	PLAN_TECNICO LIKE 'RC%ARG%ROBO%' OR
	PLAN_TECNICO LIKE 'RC%MER%ROBO%'

-----------------------------------------------------------------------------------------------------------------------------------------
--ACTUALIZACION DE TIPPLAN CRUZANDO CON LA TABLA DE CARLOS VICENCIO
update SURA_MOVILIDAD_TRANSACCIONAL
set
	TIPO_PLAN = CASE WHEN B.TIPO_PLAN IS NULL OR B.TIPO_PLAN = '' THEN A.TIPO_PLAN ELSE B.TIPO_PLAN END
from SURA_MOVILIDAD_TRANSACCIONAL A
left join (select CODIGO_PLAN_TECNICO, PLAN_TECNICO, TIPO_PLAN from reportes.dbo.PLANES_TECNICOS_MOVILIDAD) B ON
A.CODIGO_PLAN_TECNICO = B.CODIGO_PLAN_TECNICO
where 
	A.TIPO_PLAN <> b.tipo_plan
	and A.TIPO_PLAN not in ('RCI', 'RCI+ROBO')
	and B.TIPO_PLAN <> 'NO INDENT'
	and B.PLAN_TECNICO like '%MARCA%'
	and B.TIPO_PLAN <> 'RCA'

-----------------------------------------------------------------------------------------------------------------------------------------
--Correccion para Planes tecnicos con palabra 'Marca' y TIPPLAN 'RCA'
update SURA_MOVILIDAD_TRANSACCIONAL
set
	TIPO_PLAN = 'FULL'
from SURA_MOVILIDAD_TRANSACCIONAL A
left join (select CODIGO_PLAN_TECNICO, PLAN_TECNICO, TIPO_PLAN from reportes.dbo.PLANES_TECNICOS_MOVILIDAD) B ON
A.CODIGO_PLAN_TECNICO = B.CODIGO_PLAN_TECNICO
where 
	b.PLAN_TECNICO like '%MARCA%'
	and A.TIPO_PLAN = 'RCA'

-----------------------------------------------------------------------------------------------------------------------------------------
--CORRECCION CASOS ESPECIFICOS
update SURA_MOVILIDAD_TRANSACCIONAL
set
	TIPO_PLAN = replace(B.TIPO_PLAN,' ','')
from SURA_MOVILIDAD_TRANSACCIONAL A
left join (select CODIGO_PLAN_TECNICO, PLAN_TECNICO, TIPO_PLAN from reportes.dbo.PLANES_TECNICOS_MOVILIDAD) B ON
A.CODIGO_PLAN_TECNICO = B.CODIGO_PLAN_TECNICO
where 
	a.TIPO_PLAN <> b.tipo_plan
	and a.TIPO_PLAN not in ('RCI', 'RCI+ROBO')
	and b.TIPO_PLAN <> 'NO INDENT'
	and not (b.PLAN_TECNICO like '%MARCA%' and b.TIPO_PLAN = 'RCA')
	and replace(replace(B.PLAN_TECNICO, 'PT RC', 'PT+RC'),'PT + RC','PT+RC') not like '%' + replace(A.TIPO_PLAN,' ','') + '%'
	and B.PLAN_TECNICO NOT LIKE '%FORCENTER%'
	and A.CODIGO_PLAN_TECNICO not in (6839,6803)

update SURA_MOVILIDAD_TRANSACCIONAL
set 
	TIPO_PLAN = 'RCI'
where 
	TIPO_PLAN = 'RCA'

-----------------------------------------------------------------------------------------------------------------------------------------
--Correccion RCA NORCAVAL
update SURA_MOVILIDAD_TRANSACCIONAL
set
	TIPO_PLAN = 'FULL'
from SURA_MOVILIDAD_TRANSACCIONAL A
left join (select CODIGO_PLAN_TECNICO, PLAN_TECNICO, TIPO_PLAN from reportes.dbo.PLANES_TECNICOS_MOVILIDAD) B ON
A.CODIGO_PLAN_TECNICO = B.CODIGO_PLAN_TECNICO
where 
	A.TIPO_PLAN IN ('RCA', 'RCI')
	and B.PLAN_TECNICO like '%NORCAVAL%'
	and A.CODIGO_PLAN_TECNICO = 8331

--CORRECCION INTERMEDIARIO MARSH
update SURA_MOVILIDAD_TRANSACCIONAL
set
	INTERMEDIARIO = 'MARSH S.A.'
where rut_intermediario = 81554700

-----------------------------------------------------------------------------------------------------------------------------------------
--1 min aprox
--ACTUALIZACION DE MARCA ROBADOS PARA APLICAR LA NUEVA
update SURA_MOVILIDAD_TRANSACCIONAL
set
MARCA_ROBADO = 
CASE WHEN
	--SIN SUSCRIPCION POR INDICES DE ROBO
		(rtrim(MARCA) = 'FORD'		 and  rtrim(MODELO) LIKE '%F%150%' OR rtrim(MODELO) LIKE '%TERRITORY%')
	or (rtrim(MARCA) = 'HYUNDAI'	 and  rtrim(MODELO) = 'H-1')
	or (rtrim(MARCA) = 'JEEP'		 and  rtrim(MODELO) LIKE '%GRAND CHEROKEE%')
	or (rtrim(MARCA) = 'KIA MOTORS'  and  rtrim(MODELO) LIKE '%FRONTIER%' OR rtrim(MODELO) LIKE '%SOUL%')
	or (rtrim(MARCA) = 'MITSUBISHI'  and  rtrim(MODELO) LIKE '%L-200%' OR rtrim(MODELO) LIKE '%MONTERO%')
	or (rtrim(MARCA) = 'TOYOTA'		 and  rtrim(MODELO) LIKE '%FORTUNER%' OR rtrim(MODELO) LIKE '%HI%LUX%' OR rtrim(MODELO) LIKE '%LAND CRUISER%')

	--SUSCRIPCION MONITOREADA
	or (rtrim(MARCA) = 'CHEVROLET'	 and  rtrim(MODELO) LIKE '%GROOVE%')
	or (rtrim(MARCA) = 'CITROEN'	 and  rtrim(MODELO) LIKE '%C%ELYS%')
	or (rtrim(MARCA) = 'FORD'		 and  rtrim(MODELO) LIKE '%EXPLORER%')
	or (rtrim(MARCA) = 'HYUNDAI'	 and  rtrim(MODELO) LIKE '%ACCENT%')
	or (rtrim(MARCA) = 'KIA MOTORS'  and  rtrim(MODELO) LIKE '%SOLUTO%')
	or (rtrim(MARCA) = 'MAHINDRA'	 and  rtrim(MODELO) LIKE '%XUV%500')
	or (rtrim(MARCA) = 'MAXUS'		 and  rtrim(MODELO) = 'T60')
	or (rtrim(MARCA) = 'MAZDA'		 and  ((rtrim(MODELO) LIKE '%3%' AND rtrim(MODELO) NOT LIKE '%[A-Z0-9-]3%' AND rtrim(MODELO) NOT LIKE '%.3%') OR rtrim(MODELO) LIKE '%CX%3'))
	or (rtrim(MARCA) = 'NISSAN'		 and  rtrim(MODELO) = 'VERSA')
	or (rtrim(MARCA) = 'PEUGEOT'	 and  rtrim(MODELO) LIKE '%301%' OR rtrim(MODELO) LIKE '%5008%')
	or (rtrim(MARCA) = 'VOLKSWAGEN'	 and  rtrim(MODELO) LIKE '%AMAROK%')
	THEN 'MAS ROBADO' 
	ELSE 'REGULAR'
END,
ESTADO_POR_ROBO = CASE 
WHEN
	--SIN SUSCRIPCION POR INDICES DE ROBO
		(rtrim(MARCA) = 'FORD'		 and  rtrim(MODELO) LIKE '%F%150%' OR rtrim(MODELO) LIKE '%TERRITORY%')
	or (rtrim(MARCA) = 'HYUNDAI'	 and  rtrim(MODELO) = 'H-1')
	or (rtrim(MARCA) = 'JEEP'		 and  rtrim(MODELO) LIKE '%GRAND CHEROKEE%')
	or (rtrim(MARCA) = 'KIA MOTORS'  and  rtrim(MODELO) LIKE '%FRONTIER%' OR rtrim(MODELO) LIKE '%SOUL%')
	or (rtrim(MARCA) = 'MITSUBISHI'  and  rtrim(MODELO) LIKE '%L-200%' OR rtrim(MODELO) LIKE '%MONTERO%')
	or (rtrim(MARCA) = 'TOYOTA'		 and  rtrim(MODELO) LIKE '%FORTUNER%' OR rtrim(MODELO) LIKE '%HI%LUX%' OR rtrim(MODELO) LIKE '%LAND CRUISER%')
	THEN 'BLOQUEADO'
WHEN
	--SUSCRIPCION MONITOREADA
		(rtrim(MARCA) = 'CHEVROLET'	 and  rtrim(MODELO) LIKE '%GROOVE%')
	or (rtrim(MARCA) = 'CITROEN'	 and  rtrim(MODELO) LIKE '%C%ELYS%')
	or (rtrim(MARCA) = 'FORD'		 and  rtrim(MODELO) LIKE '%EXPLORER%')
	or (rtrim(MARCA) = 'HYUNDAI'	 and  rtrim(MODELO) LIKE '%ACCENT%')
	or (rtrim(MARCA) = 'KIA MOTORS'  and  rtrim(MODELO) LIKE '%SOLUTO%')
	or (rtrim(MARCA) = 'MAHINDRA'	 and  rtrim(MODELO) LIKE '%XUV%500')
	or (rtrim(MARCA) = 'MAXUS'		 and  rtrim(MODELO) = 'T60')
	or (rtrim(MARCA) = 'MAZDA'		 and  ((rtrim(MODELO) LIKE '%3%' AND rtrim(MODELO) NOT LIKE '%[A-Z0-9-]3%' AND rtrim(MODELO) NOT LIKE '%.3%') OR rtrim(MODELO) LIKE '%CX%3'))
	or (rtrim(MARCA) = 'NISSAN'		 and  rtrim(MODELO) = 'VERSA')
	or (rtrim(MARCA) = 'PEUGEOT'	 and  rtrim(MODELO) LIKE '%301%' OR rtrim(MODELO) LIKE '%5008%')
	or (rtrim(MARCA) = 'VOLKSWAGEN'	 and  rtrim(MODELO) LIKE '%AMAROK%')
	THEN 'MONITOREADO'
ELSE 'RESTO'
END

-----------------------------------------------------------------------------------------------------------------------------------------
--CORRECCION LINEA_NEGOCIO COMPARA, CASOS DONDE CODIGO RAMO 'EE' SE ESTA MARCANDO COMO COMMERCIAL
update SURA_MOVILIDAD_TRANSACCIONAL
set
LLAVE_2 = REPLACE(LLAVE_2,'COMMERCIAL','PERSONAL'),
LINEA_NEGOCIO = 'PERSONAL'
where 
	CODIGO_RAMO = 'EE' and
	RUT_INTERMEDIARIO = 76328367 --COMPARA
	and LINEA_NEGOCIO = 'COMMERCIAL'

-----------------------------------------------------------------------------------------------------------------------------------------

--
--PROCESO DE ACTUALIZACION RENOVACION LLAVE 1
EXEC ALMACEN_DE_DATOS.DBO.[SP_SURA_MOVILIDAD_RENOVACION_LLAVE_1]



--SE HACE UNA VALIDACION PARA EVITAR ERRORES, SI SURA_MOVILIDAD_TRANSACCIONAL VIENE VACIA QUE NO SE ACTUALICE SU VERSION DE REPORTES
declare @EXISTE_DATA int = (select top 1 NNUMDOCU from SURA_MOVILIDAD_TRANSACCIONAL)

--SI SURA_MOVILIDAD_TRANSACCIONAL TIENE INFORMACION SE EJECUTA LO SIGUIENTE, SINO SE PROCEDE AL FINAL Y TERMINA EL PROCESO
IF @EXISTE_DATA IS NOT NULL
BEGIN

	--alter table REPORTES.DBO.SURA_MOVILIDAD_TRANSACCIONAL
	--add CANAL_PYG varchar(100) null

	--alter table REPORTES.DBO.SURA_MOVILIDAD_TRANSACCIONAL
	--add PARTNER_PYG varchar(100) null


	DROP TABLE IF EXISTS REPORTES.DBO.SURA_MOVILIDAD_TRANSACCIONAL
	SELECT *, CAST(NULL AS NVARCHAR(100)) AS CANAL_PYG, CAST(NULL AS NVARCHAR(100)) AS PARTNER_PYG, CAST(NULL AS NVARCHAR(200)) AS CAUSA_CANCELACION_MIX
	INTO REPORTES.DBO.SURA_MOVILIDAD_TRANSACCIONAL 
	FROM SURA_MOVILIDAD_TRANSACCIONAL

	-----------------------------------------------------------------------------------------------------------------------------------------
															--NUEVAS CORRECCIONES:
	-----------------------------------------------------------------------------------------------------------------------------------------
	--CORRECCION DE CANAL_PYG Y PARTNER_PYG
	update REPORTES.DBO.SURA_MOVILIDAD_TRANSACCIONAL
	set
		CANAL_PYG = CASE WHEN B.CANAL_ACTUAL IS NULL OR B.CANAL_ACTUAL = '' THEN A.CANAL_PYG ELSE B.CANAL_ACTUAL END,
		PARTNER_PYG = CASE WHEN B.[PARTNER] IS NULL OR B.[PARTNER] = '' THEN A.PARTNER_PYG ELSE B.[PARTNER] END
	from REPORTES.DBO.SURA_MOVILIDAD_TRANSACCIONAL A
	left join reportes.dbo.POLIZAS_MOVILIDAD_NUEVO B ON
	A.NNUMDOCU = B.NNUMDOCU

	update REPORTES.DBO.SURA_MOVILIDAD_TRANSACCIONAL
	set
		CANAL_PYG = CASE WHEN CANAL_PYG IS NULL OR CANAL_PYG = '' THEN CANAL_GOL ELSE CANAL_PYG END,
		PARTNER_PYG = CASE WHEN PARTNER_PYG IS NULL OR PARTNER_PYG = '' THEN PARTNER_FINAL ELSE PARTNER_PYG END

	--CORRECCION DE NOMBRES A CANAL_PYG Y PARTNER_PYG
	update REPORTES.DBO.SURA_MOVILIDAD_TRANSACCIONAL
	set
		CANAL_PYG = CASE 
			WHEN CANAL_PYG LIKE '%Affinity%' OR CANAL_PYG = 'NEGOCIOS MASIVOS Y CLIENTES' THEN 'AFFINITY'
			WHEN CANAL_PYG IN ('CNC', 'NEGOCIOS COMERCIALES', 'NEGOCIOS EMPRESAS Y PERSONAS', 'E&P') THEN 'PYME'
			WHEN CANAL_PYG IN ('LBR', 'NEGOCIOS CORPORATIVOS') THEN 'CORPORATIVO'
			WHEN CANAL_PYG IN ('DIRECTO', 'NEGOCIOS DIRECTOS') THEN 'CANAL DIRECTO'
			WHEN CANAL_PYG = 'SUCURSALES' THEN 'CANAL ASESOR'
			WHEN CANAL_PYG = '' THEN NULL
			ELSE CANAL_PYG
		END,
		PARTNER_PYG = CASE
			when RTRIM(partner_pyg) = 'ANTOFAGASTA' then 'ANTOFAGASTA - CA'
			when RTRIM(partner_pyg) = 'ARICA' then 'ARICA - CA'
			when RTRIM(partner_pyg) = 'BICE' then 'BANCO BICE'
			when RTRIM(partner_pyg) = 'CALAMA' then 'FRANQUICIAS'
			when RTRIM(partner_pyg) IN ('CAS','SUCURSALES') then 'CANAL ASESOR'
			when RTRIM(partner_pyg) = 'CHILLAN' then 'CHILLAN - CA'
			when RTRIM(partner_pyg) = 'CONCEPCION' then 'CONCEPCION - CA'
			when RTRIM(partner_pyg) IN ('CONO SUR','DEALERS FALABELLA') then 'DEALERS'
			when RTRIM(partner_pyg) = 'CURICO' then 'CURICO - CA'
			when RTRIM(PARTNER_PYG) IN ('DIR','DIRECTO') then 'CANAL DIRECTO'
			when RTRIM(PARTNER_PYG) IN ('DEALER DIRECTO','DEALERS DIRECTOS') then 'DEALERS DIRECTO'
			when RTRIM(partner_pyg) = 'EYP' then 'CASA MATRIZ'
			when RTRIM(partner_pyg) IN ('GALLAGHER','LBR','MARSH','ORBITAL  JLT','RSG','THB','WILLIS') then 'NO APLICA'
			when RTRIM(partner_pyg) = 'IQUIQUE' then 'IQUIQUE - CA'
			when RTRIM(partner_pyg) = 'ITAU+CORPBANCA' then 'BANCO ITAU'
			when RTRIM(partner_pyg) = 'LA ARAUCANA' then 'LA ARAUCANA FLUJO'
			when RTRIM(partner_pyg) = 'LA SERENA' then 'LA SERENA - CA'
			when RTRIM(partner_pyg) IN ('NO DEFINIDO','OTROS CORREDORES','UND') then 'NO IDENTIFICADO'
			when RTRIM(partner_pyg) = 'OSORNO' then 'OSORNO - CA'
			when RTRIM(partner_pyg) = 'PUERTO MONTT' then 'PUERTO MONTT - CA'
			when RTRIM(partner_pyg) = 'PUNTA ARENAS' then 'PUNTA ARENAS - CA'
			when RTRIM(partner_pyg) = 'RANCAGUA' then 'RANCAGUA - CA'
			when RTRIM(partner_pyg) = 'RSA SEGUROS CHILE S. A.' then 'RSA'
			when RTRIM(partner_pyg) = 'TALCA' then 'TALCA - CA'
			when RTRIM(partner_pyg) = 'TEMUCO' then 'TEMUCO - CA'
			when RTRIM(partner_pyg) = 'VALDIVIA' then 'VALDIVIA - CA'
			when RTRIM(partner_pyg) = 'VIÑA DEL MAR' then 'VIÑA DEL MAR - CA'
			when RTRIM(partner_pyg) IN ('AON','BBVA','DTC','OTHERS_3','OTHERS_4') then 'OTHERS_2'
			when PARTNER_PYG = '' then NULL
			ELSE PARTNER_PYG
		END

	--CORRECCION INTERMEDIARIO Y PARTNER_PYG MARSH
	update REPORTES.DBO.SURA_MOVILIDAD_TRANSACCIONAL
	set
		INTERMEDIARIO = 'MARSH S.A.',
		PARTNER_PYG = 'MARSH'
	where rut_intermediario = 81554700

	--CORRECCION INTERMEDIARIO FALABELLA
	update REPORTES.DBO.SURA_MOVILIDAD_TRANSACCIONAL
	set
		INTERMEDIARIO = 'SEGUROS FALABELLA CORREDORES LTDA.'
	where 	
		PARTNER_PYG = 'FALABELLA' and
		INTERMEDIARIO = 'CLAUDIA  SEGUROS FALABELLA CORREDORES LTDA'

	-----------------------------------------------------------------------------------------------------------------------------------------
	--DEALERS
	UPDATE REPORTES.DBO.SURA_MOVILIDAD_TRANSACCIONAL
	SET
	PARTNER_PYG =
		CASE
			--WHEN RUT_INTERMEDIARIO = 77350508 THEN 'DEALERS - DIFOR'
			WHEN RUT_INTERMEDIARIO = 76620819 THEN 'DEALERS - BRUNO FRITSCH'
			WHEN RUT_INTERMEDIARIO = 76133889 THEN 'DEALERS - TANNER'
			WHEN RUT_INTERMEDIARIO = 76110334 THEN 'DEALERS - SERGIO ESCOBAR'
			WHEN RUT_INTERMEDIARIO = 92909000 THEN 'DEALERS - CURIFOR'
			WHEN RUT_INTERMEDIARIO = 76068841 THEN 'DEALERS - FORCENTER'
			WHEN RUT_INTERMEDIARIO = 81198400 THEN 'DEALERS - INALCO'
			WHEN RUT_INTERMEDIARIO = 76685737 THEN 'DEALERS - BLCARS'
			WHEN RUT_INTERMEDIARIO = 77963303 THEN 'DEALERS - BIMOTORA / IBS'
			WHEN RUT_INTERMEDIARIO = 77326117 THEN 'DEALERS - JESUS PONS'
			ELSE PARTNER_PYG
		END
	from REPORTES.DBO.SURA_MOVILIDAD_TRANSACCIONAL
	where RUT_INTERMEDIARIO in (76620819,76133889,76110334,92909000,76068841,81198400,76685737,77963303,77326117)


	UPDATE REPORTES.DBO.SURA_MOVILIDAD_TRANSACCIONAL
	SET
	PARTNER_PYG = 'DEALERS - DIFOR'
	from REPORTES.DBO.SURA_MOVILIDAD_TRANSACCIONAL
	where codigo_plan_tecnico in (4024,4025,4026,4027,4028,4029,5015,5016,5017,5018,5020,5022,5023,5024,5025,5673)

	-----------------------------------------------------------------------------------------------------------------------------------------
	--CORRECCION A PRINCIPALES PARTNER_PYG
	update Reportes.dbo.SURA_MOVILIDAD_TRANSACCIONAL
	set 
	CANAL_PYG = 'AFFINITY',
	PARTNER_PYG = 
		CASE 
			WHEN RUT_INTERMEDIARIO = 77191070 THEN 'BANCHILE'
			WHEN RUT_INTERMEDIARIO = 77099010 THEN 'FALABELLA'
			WHEN RUT_INTERMEDIARIO = 76215627 THEN 'MOK'
			WHEN RUT_INTERMEDIARIO = 77472420 THEN 'RIPLEY'
			WHEN RUT_INTERMEDIARIO = 96524260 THEN 'SANTANDER CORREDORA'
			WHEN RUT_INTERMEDIARIO = 76449877 THEN 'M A C C CORREDORES DE SEGUROS S P A'
			WHEN RUT_INTERMEDIARIO = 78745730 THEN 'SCOTIABANK'
			ELSE PARTNER_PYG
		END
	WHERE 
		(RUT_INTERMEDIARIO = 77099010 and RUT_PROPONENTE in (10639058,14598475,18639355,76157159,77099010,77261280,90749000,96509660,96847200) ) OR
		RUT_INTERMEDIARIO in (77191070,76215627,77472420,96524260,76449877,78745730)


	-----------------------------------------------------------------------------------------------------------------------------------------
	--CORRECCION PARA AGREGAR "ACCESOS" A CANAL DIRECTO
	update Reportes.dbo.SURA_MOVILIDAD_TRANSACCIONAL
	set 
	PARTNER_PYG = 'CANAL DIRECTO',
	CANAL_PYG = 'CANAL DIRECTO'
	WHERE  RUT_INTERMEDIARIO = '99017000' AND (SUCURSAL_GOL NOT IN ('CASA MATRIZ') OR SUBGERENCIA_GOL = 'GABRIELA NAVARRO')

	update Reportes.dbo.SURA_MOVILIDAD_TRANSACCIONAL
	set 
	PARTNER_PYG = 'ABCDIN'
	WHERE  RUT_INTERMEDIARIO = '76081527' AND PARTNER_PYG = 'NO IDENTIFICADO'


	/*update Reportes.dbo.SURA_MOVILIDAD_TRANSACCIONAL
	set 
	CANAL_PYG = 'AFFINITY',
	PARTNER_PYG = 
		CASE 
			WHEN RUT_PROPONENTE = 70016330 THEN 'LOS HEROES'
			ELSE PARTNER_PYG
		END
	WHERE 
		RUT_PROPONENTE IN (70016330)*/

	-----------------------------------------------------------------------------------------------------------------------------------------
	update Reportes.dbo.sura_movilidad_transaccional
	set
	[TIPO_VEHICULO] = Case When 
		rtrim(MODELO) in ('RICH 6 EV', 'IONIQ','IONIQ ELECTRICO','KANGOO ZE','LEAF','FLUENCE ZE','IONIQ 5 (ELECTRICO)','NIRO', 'I3S 120AH', 'KONA', 'PRIUS', 'PRIUS C', 'M5 EV') 
		or rtrim(MODELO) like '%ELECTRIC%' 
		or rtrim(MODELO) like '%ELÉCTR%' 
		or rtrim(MODELO) like '%ELETR%'
		or (rtrim(MARCA) IN ('BYD')  and  rtrim(MODELO) IN ('M3', 'T3', 'EV')) 
		or (rtrim(MARCA) IN ('FARIZON')  and  rtrim(MODELO) IN ('E200 3.5 T', 'E6')) 
		or (rtrim(MARCA) IN ('GEELY')  and  rtrim(MODELO) like '%EV%')
		or (rtrim(MARCA) IN ('MAPLE')  and  rtrim(MODELO) IN ('30 X', '60 S', '80 V')) 
		or (rtrim(MARCA) IN ('MG')  and  rtrim(MODELO) IN ('ZS EV', 'MARVEL R'))  
		then 'VEHICULO ELECTRICO' 
		when 
			rtrim(MODELO) like '%HIBR%'
			or rtrim(MODELO) like '%HEV' 
			or rtrim(MODELO) like '%HYBRID%' 
			OR rtrim(MODELO) like '%PHEV%' 
			or nnumdocu = 7870731 
		then 'VEHÍCULO HIBRIDO'
		WHEN 
			(CODIGO_PLAN_TECNICO in (6482,6369,6837,6267,6816,7095,8470,8499,8681) 
			or nnumdocu in (7750297,7882583,7882585,7882586, 7294025,7745982,7806169,7870731, 7926736,7936057)
			or rtrim(MODELO) IN ('B12C01', 'K9KA', 'U10', 'XMQ', 'LCK', 'EBUS U12.-', 'ZK', 'LCK6900H', 'K9')) 
		THEN 'BUS ELECTRICO' 
		ELSE [TIPO_VEHICULO] 
	END

	update Reportes.dbo.sura_movilidad_transaccional
	set tipo = [TIPO_VEHICULO]
	
	-----------------------------------------------------------------------------------------------------------------------------------------
	--AGREGAR MARCA CAUSA_CANCELACION
	update Reportes.dbo.Sura_movilidad_transaccional
	set CAUSA_CANCELACION_MIX = b.CAUSA_CANCELACION_MIX
	from Reportes.dbo.Sura_movilidad_transaccional a
	left join SMT_CANCELACIONES b on
	a.NNUMDOCU = b.NNUMDOCU and
	a.NNUMITEM = b.NNUMITEM and
	a.PRORROGA = B.PRORROGA
	-----------------------------------------------------------------------------------------------------------------------------------------
	--END

	EXEC ALMACEN_DE_DATOS.DBO.[05_SP_SURA_MOVILIDAD_VARIABLES_PARA_RF]
	EXEC ALMACEN_DE_DATOS.DBO.[06_SP_SURA_MOVILIDAD_PR_Y_PT]


	IF @ULTIMO_CIERRE_PROCESADO<@CIERRE_POR_PROCESAR
	BEGIN

		SET @TERMINO= GETDATE()
		INSERT INTO CANAL_ASESOR.DBO.MOVILIDAD_CONTROL_DE_EJECUCION VALUES ('PROCESOS DE CIERRE','INICIO',@TERMINO,DATEDIFF(MINUTE,@PASOS,@TERMINO)/60,DATEDIFF(MINUTE,@PASOS,@TERMINO)%60)
		SET @PASOS= GETDATE()
		--TRUNCATE TABLE REPORTES.DBO.SURA_MOVILIDAD_TRANSACCIONAL_CIERRE_MES
		--INSERT INTO REPORTES.DBO.SURA_MOVILIDAD_TRANSACCIONAL_CIERRE_MES
		--SELECT *  FROM SURA_MOVILIDAD_TRANSACCIONAL
		DROP TABLE REPORTES.DBO.SURA_MOVILIDAD_TRANSACCIONAL_CIERRE_MES
		SELECT * INTO REPORTES.DBO.SURA_MOVILIDAD_TRANSACCIONAL_CIERRE_MES FROM SURA_MOVILIDAD_TRANSACCIONAL

		INSERT INTO SURA_MOVILIDAD_CONTROL_DE_CIERRE VALUES (@CIERRE_POR_PROCESAR,GETDATE())

		EXEC ALMACEN_DE_DATOS.DBO.[07_SP_SURA_MOVILIDAD_SINIESTROS]
		EXEC ALMACEN_DE_DATOS.DBO.[08_SP_SURA_MOVILIDAD_PRIMA_DEVENGADA]
		EXEC ALMACEN_DE_DATOS.DBO.[PYG_V2]
		EXEC ALMACEN_DE_DATOS.DBO.[SP_CAUSA_CANCELACION]
		EXEC ALMACEN_DE_DATOS.DBO.[SP_SURA_MOVILIDAD_RENOVACIONES]


		SET @TERMINO= GETDATE()
		SET @PASOS= GETDATE()

	END

	--TRUNCATE TABLE TABLAS_COMPARTIDAS.DBO.SURA_MOVILIDAD_TRANSACCIONAL
	--INSERT INTO TABLAS_COMPARTIDAS.DBO.SURA_MOVILIDAD_TRANSACCIONAL
	--SELECT * FROM SURA_MOVILIDAD_TRANSACCIONAL
	-----------------------------------------------------------------------------------


	-------------------------------DESCUENTOS RENOVACION
	SELECT * INTO #EJECUTIVOS FROM SURA_MAESTRO_PERSONA_FULL WHERE RUT IN (SELECT RUTEJECUTIVO FROM [RSACLSF041].[RENOVACIONWEB].[DBO].[SOLICITUD] GROUP BY RUTEJECUTIVO)
	SELECT * INTO #CORREDOR	  FROM SURA_MAESTRO_PERSONA_FULL WHERE RUT IN (SELECT RUTCORREDOR  FROM [RSACLSF041].[RENOVACIONWEB].[DBO].[SOLICITUD] GROUP BY RUTCORREDOR)


	DROP TABLE IF EXISTS SURA_DESCUENTO_RENOVACION
	SELECT 
	X.POLIZA,
	X.ITEM,
	R.PATENTE,
	A.SOLICITUDID,
	UPPER(B.NOMBRE)												AS TIPO_SOLICITUD,
	UPPER(C.NOMBRE)												AS ESTADO_SOLICITUD,
	UPPER(E.NOMBRE)												AS PRODUCTO,
	A.RUTCORREDOR												AS RUT_CORREDOR,
	UPPER(G.NOMBRE)												AS NOMBRE_CORREDOR,
	A.RUTEJECUTIVO												AS RUT_AUTORIZA,
	UPPER(F.NOMBRE)												AS NOMBRE_AUTORIZA,
	A.FECHARESPUESTA											AS FECHA_RESPUESTA,
	YEAR(A.FECHARESPUESTA)*100+MONTH(A.FECHARESPUESTA)			AS PERDIODO,
	YEAR(A.FECHARESPUESTA)										AS AÑO,
	MONTH(A.FECHARESPUESTA)										AS MES,
	A.DESCUENTO													AS DESCUENTO,
	A.RETROACTIVIDAD											AS DIAS_DE_RETROACTIVIDAD,
	R.CANAL_GOL, 	 
	R.CANAL_NUEVO, 	 
	R.PRIMA_UF, 	 
	R.COMISION_UF 
	INTO SURA_DESCUENTO_RENOVACION
	FROM		[RSACLSF041].[RENOVACIONWEB].[DBO].[SOLICITUD]			A 
	LEFT JOIN	[RSACLSF041].[RENOVACIONWEB].[DBO].[POLIZA]				X	ON A.POLIZAID=X.POLIZAID
	LEFT JOIN	[RSACLSF041].[RENOVACIONWEB].[DBO].[TIPOSOLICITUD]		B	ON A.TIPOSOLICITUDID=B.TIPOSOLICITUDID 
	LEFT JOIN	[RSACLSF041].[RENOVACIONWEB].[DBO].[ESTADOSOLICITUD]	C	ON A.ESTADOSOLICITUDID=C.ESTADOSOLICITUDID
	LEFT JOIN	[RSACLSF041].[RENOVACIONWEB].[DBO].[PRODUCTO]			E	ON A.PRODUCTOID=E.PRODUCTOID
	LEFT JOIN	#EJECUTIVOS												F	ON A.RUTEJECUTIVO=F.RUT
	LEFT JOIN	#CORREDOR												G	ON A.RUTCORREDOR=G.RUT
	LEFT JOIN	SURA_MOVILIDAD_TRANSACCIONAL							R	ON X.POLIZA=R.NNUMDOCU AND X.ITEM=NNUMITEM
	WHERE E.NOMBRE IN ('MOTOR','MOTOR VARIABLE','TELEMATICO')
	AND YEAR(A.FECHARESPUESTA)>=2021 AND UPPER(B.NOMBRE)='DESCUENTO'
	ORDER BY 15 DESC


	DROP TABLE IF EXISTS REPORTES.DBO.SURA_DESCUENTO_RENOVACION
	SELECT * 
	INTO REPORTES.DBO.SURA_DESCUENTO_RENOVACION 
	FROM SURA_DESCUENTO_RENOVACION


	------------------INSPECCIONES PARA SHIFT
	DROP TABLE IF EXISTS #SURA_MOVILIDAD_APROBACION_SIN_INSPECCION
	select 
	CAST(NULL AS numeric(7,0)) AS NNINSPEC,
	RUT_INTERMEDIARIO,
	RUT_PROPONENTE,
	NULL RUT_INSPECTOR,	
	NULL INSPECTOR,
	PATENTE,
	CODIGO_MARCA,
	CODIGO_MODELO,
	CHASIS,
	MOTOR,
	NULL CCODTIIN,
	TIPO_INSPECCION,
	NULL CCODESTA,
	ESTADO_INSPECCION,
	NULL CCODCRIE,
	CALIDAD_DE_RIESGO,
	NULL CCODORIN,
	ORIGEN_INSPECCION,
	NULL OBSERVACION_INSPECCION,
	NNUMDOCU,
	NNUMITEM,
	FECHA_FIRMA_POLIZA 
	INTO #SURA_MOVILIDAD_APROBACION_SIN_INSPECCION
	from SURA_MOVILIDAD_TRANSACCIONAL
	WHERE --ESTADO_INSPECCION='NO SE INSPECCIONA' AND 
	YEAR(FECHA_FIRMA_POLIZA)>2019 AND TIPO_PLAN_LLAVE IN ('SEG_X_KM','NO_RC')
	AND NNUMDOCU NOT IN (SELECT DISTINCT NNUMDOCU FROM SURA_MOVILIDAD_INSPECCIONES)


	TRUNCATE TABLE SURA_MOVILIDAD_INSPECCIONES_SHIFT
	INSERT INTO SURA_MOVILIDAD_INSPECCIONES_SHIFT
	select 
	NNINSPEC,	
	RUT_INTERMEDIARIO,	
	RUT_PROPONENTE,	
	RUT_INSPECTOR,	
	INSPECTOR,	
	PATENTE,	
	CODIGO_MARCA,	
	CODIGO_MODELO,	
	CHASIS,	
	MOTOR,	
	CCODTIIN,	
	TIPO_INSPECCION,	
	CCODESTA,	
	ESTADO_INSPECCION,	
	CCODCRIE,	
	CALIDAD_DE_RIESGO,	
	CCODORIN,	
	ORIGEN_INSPECCION,
	OBSERVACION_INSPECCION,	
	NNUMDOCU,	
	NNUMITEM,	
	CONVERT(DATE,CONVERT(NVARCHAR(8),NFECUACT))NFECUACT
	from SURA_MOVILIDAD_INSPECCIONES
	WHERE NFECUACT>=20190101 AND NNUMDOCU NOT IN (SELECT DISTINCT NNUMDOCU FROM #SURA_MOVILIDAD_APROBACION_SIN_INSPECCION)
	AND NNUMDOCU>0

	INSERT INTO SURA_MOVILIDAD_INSPECCIONES_SHIFT
	SELECT * FROM #SURA_MOVILIDAD_APROBACION_SIN_INSPECCION

END

----------------------------------------------------------------------------------------------

SET @TERMINO= GETDATE()
SET @PASOS= GETDATE()

WAITFOR DELAY '00:00:02'
--SELECT LINEA_NEGOCIO,NNUMDOCU,NNUMITEM,LLAVE_2,IND_RENOVACION_LLAVE_2,CICLO_RENOVACION_LLAVE_2,ULTIMO_CICLO_RENOVACION_LLAVE_2,IND_RENOVACION_LLAVE_1,CICLO_RENOVACION_LLAVE_1,ULTIMO_CICLO_RENOVACION_LLAVE_1,
--* FROM SURA_MOVILIDAD_TRANSACCIONAL WHERE LLAVE_2='12851966-99017000-HON-2-2009' ORDER BY 1,2


END TRY
BEGIN CATCH
INSERT INTO CANAL_ASESOR.DBO.MOVILIDAD_CONTROL_ERROR
  SELECT 
    ERROR_NUMBER()		AS NUMERO_ERROR,
    ERROR_STATE()		AS ESTADO_ERROR,
    ERROR_SEVERITY()	AS SEVERIDAD_ERROR,
    ERROR_PROCEDURE()	AS NOMBRE_PROCEDIMIENTO,
    ERROR_LINE()		AS LINEA_ERROR,
    ERROR_MESSAGE()		AS MENBSAGE_ERROR,
	GETDATE()			AS TIMESTAMP,
	CURRENT_USER		AS USUARIO_EJECUTA
	;
END CATCH;
