USE [Transaccional]
GO
/****** Object:  StoredProcedure [dbo].[SP_MI_PRE_PROCESO]    Script Date: 14-10-2025 9:59:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- EJECUTAR PREVIO A LOS PROCESOS MENSUALES!!! (Luego ejecutar [SP_MI_TRANSACCIONAL_MOTOR_00])

ALTER  PROCEDURE [dbo].[SP_MI_PRE_PROCESO](
	@Fecha_hasta AS DATE -- Fecha de ultimo cierre de mes
)
AS
-- exec [dbo].[SP_MI_PRE_PROCESO] @Fecha_hasta
-- EJEMPLO: exec [dbo].[SP_MI_PRE_PROCESO] '2025-06-30'

BEGIN

	EXEC [dbo].[SP_MI_BASE_RESUMEN_CLIENTES]

	EXEC [dbo].[SP_MI_ANTIGUEDAD_EMPRESAS] @Fecha_hasta

END
