USE [Transaccional]
GO
/****** Object:  StoredProcedure [dbo].[SP_MI_BASE_RESUMEN_CLIENTES]    Script Date: 14-10-2025 10:20:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-->> Proceso que arma los atributos de los clientes a partir del equipo de clientes
ALTER  PROCEDURE [dbo].[SP_MI_BASE_RESUMEN_CLIENTES]
AS
-- exec [dbo].[SP_MI_BASE_RESUMEN_CLIENTES]
		
BEGIN

	drop table if exists Base_resumen_clientes

	drop table if exists #Base_resumen_clientes_1
	select distinct 
		BAS.nnuruase, 
		BP.COMUNA, 
		BP.PROVINCIA, 
		BP.REGION, 
		BP.Latitud_Destino, 
		BP.Longitud_Destino,  
		BFT.GSE,
		BFT.edad, 
		BFT.SEXO,
		CONVERT(DATE,DATEADD(MS,-3,DATEADD(MM,0,DATEADD(MM,DATEDIFF(MM,0,CONVERT(DATETIME,bas.fecha_obs))+1,0)))) AS PER_OBS
	into #Base_resumen_clientes_1
	from sgv1864.AnalyticsDM.dbo.base_asegurados_sura BAS
	left join sgv1864.AnalyticsAbastecimiento.dbo.Base_Personas BP on BP.RUT=BAS.nnuruase
	left join sgv1864.AnalyticsAbastecimiento.dbo.segmentacion_multi BFT on BAS.nnuruase=BFT.Rut
	where  
		bas.capacidad = 'Movilidad' AND 
		bas.fecha_obs >= '2019-01-01'


	DROP TABLE if exists #Base_resumen_clientes_2
	SELECT 
		nnuruase, 
		MAX(PER_OBS) AS PER_OBS 
	INTO #Base_resumen_clientes_2
	FROM #Base_resumen_clientes_1
	GROUP BY nnuruase 


	DROP TABLE if exists transaccional.dbo.Base_resumen_clientes
	SELECT 
		A.nnuruase, 
		A.PER_OBS, 
		BP.COMUNA, 
		BP.PROVINCIA, 
		BP.REGION, 
		BP.Latitud_Destino, 
		BP.Longitud_Destino,  
		BP.GSE, 
		BP.edad, 
		BP.SEXO
	INTO transaccional.dbo.Base_resumen_clientes
	FROM #Base_resumen_clientes_2 A
	LEFT JOIN #Base_resumen_clientes_1 BP ON 
		A.nnuruase=BP.NNURUASE AND 
		A.PER_OBS = BP.PER_OBS 


	update transaccional.dbo.Base_resumen_clientes
	set region = b.region,
		comuna = b.comuna
	from transaccional.dbo.Base_resumen_clientes a 
	left join sgv1864.AnalyticsAbastecimiento.dbo.dim_contactos_unico_cliente b on a.nnuruase = b.rut
	where 
		b.region is not null or 
		b.region <>'Unknown'

	update transaccional.dbo.Base_resumen_clientes
	set region = 'Ignorada'
	where region ='Unknown'

END
