USE [Transaccional]
GO
/****** Object:  StoredProcedure [dbo].[SP_MI_ANTIGUEDAD_EMPRESAS]    Script Date: 14-10-2025 10:21:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-->> Proceso que arma los atributos de los clientes a partir del equipo de clientes
ALTER  PROCEDURE [dbo].[SP_MI_ANTIGUEDAD_EMPRESAS](
	@Fecha_hasta AS DATE
)
AS
-- exec [dbo].[SP_MI_ANTIGUEDAD_EMPRESAS] @Fecha_hasta

BEGIN

	--Promedio de antiguedad de empresas es 8 años, se actualiza para que queden en 8 empresas sin fecha de creación
	DROP TABLE Base_Antiguedad_empresas
	SELECT *,
		case 
			when Fecha_inicio='1900-01-01'
			or Fecha_inicio IS NULL
			or FLOOR((DATEDIFF(DAY, Fecha_inicio, @Fecha_hasta)+60)/365.25) < 0
			or FLOOR((DATEDIFF(DAY, Fecha_inicio, @Fecha_hasta)+60)/365.25) > 150 
			then 8 --antes se dejaba como 10000 y luego se actualizaba mas abajo a 8 asi que mejor dejarlo directamente
			else FLOOR((DATEDIFF(DAY, Fecha_inicio, @Fecha_hasta)+60)/365.25)
		end AS ANT_EMPRESA
	into Base_Antiguedad_empresas
	from sgv1864.AnalyticsAbastecimiento.dbo.panel_empresas

	
	--Promedio de antiguedad de empresas es 8 años, se actualiza para que queden en 8 empresas sin fecha de creación
	--update Base_Antiguedad_empresas
	--set ANT_EMPRESA = 8
	--where ANT_EMPRESA = 10000


	DROP TABLE Lista_Blanca_RUT_EMPRESAS
	select 
		rut, 
		ANT_EMPRESA
	into Lista_Blanca_RUT_EMPRESAS
	from base_Antiguedad_empresas
	where 
		ANT_EMPRESA>0 and 
		ANT_EMPRESA<10000

END
